<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$initconfig  = '';
	$session = SessionWrapper::getInstance();
	if(!isEmptyString($session->getVar('serialconfig_indicator'))){
		$initconfig = $session->getVar('serialconfig_indicator');
	}
	
	$indicatorgroups = getDatavariablesWithOdering("INDICATOR_UNITS"); 
	$indicatortypes = getIndicatorTypes();
	$milestones = getMilestonePeriods(1);
	
	$indicatorid = $request->indicatorid;
	$indicator = new Indicator();
	$indicator->populate($indicatorid);
	
	$milestoneid = $request->milestoneid;
	if(isEmptyString($milestoneid)){
		$milestoneid = getActiveMilestone(1);
	}
	$selectedmilestones = commaStringToArray($milestoneid);
		
	$pagetitle = "Select Parameters";
	$title = "Strategic Indicator Progress";
	$this->headTitle($title.$browserappend);
?>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	
	$("#fetch").on('click', function(){
		var indicatorid = $("#indicatorid").val();
		var milestoneid = $("#milestoneid").val();
		//alert(indicatorid);
		if(!isEmptyString(milestoneid) && !isEmptyString(indicatorid)){
			$("#errors").html('');
			$("#output").html("<a id='loading' style='text-align:center; display:block; margin-top:50px;'><img style='width:18px;' src='/assets/images/loader.gif' /> Please wait...</a>").css({'display':'block','padding':'10px 0'});

			var url = "<?php echo $this->baseUrl('report/csindicator/'); ?>indicatorid/"+indicatorid+"/milestoneid/"+milestoneid;
			window.location.href = url;
			$.blockUI({ message: '<?php echo $blockcontent; ?>'});
		} else {
			$("#pintodash").addClass('hide');
			$("#errors").html('<div id="nodata" class="alert alert-warning">Select one or more indicators</div>');
		}
	});
	
	$("#pintodash").on("click", function(){
		$("#pintodash").html('Saving..'); 
		
		var indicatorid = $("#indicatorid").multipleSelect('getSelects');
		var milestoneid = $("#milestoneid").multipleSelect('getSelects');
		
		var url = base64_encode("<?php echo $this->baseUrl('report/csindicator/'); ?>indicatorid/"+indicatorid+"/milestoneid/"+milestoneid);
		$("#urlconfig").val(url); 
		
		var posturl = "<?php echo $this->baseUrl('report/savestate'); ?>"; // alert(submiturl);
		$.post(posturl,  
			$("#indexform").serialize(),  
			function(data){
				// alert(data);
				$("#pintodash").html('Pin to Dashboard'); 
				return true;
			}  
		);
    });
	
	$('#programid').multipleSelect({
		filter: true,
		selectAll: false,
		placeholder: "[Filter By Program]"
    });
	$('#milestoneid').multipleSelect({
		filter: false,
		selectAll: true,
		placeholder: "[Filter By Milestone]"
    });
	$('#projectid').multipleSelect({
		filter: true,
		selectAll: false,
		placeholder: "[Filter By Project]"
    });
});
</script>
	
<div class="row" id="contentarea">
    <div class="col-md-12">	
    	<form id="indexform" class="form-horizontal" action="<?php echo $this->viewurl; ?>" method="get">
        	<div class="panel panel-border panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked text-dark"><?php echo $pagetitle; ?></h3>
                </div>
                <div class="panel-body minheight400">
                	<ul class="resetlist listactions clearfix xhide">
	                    <li>
				            <?php
				                $dropdown = new Zend_Form_Element_Multiselect('milestoneid',
				                		array(
			                				'multiOptions' => $milestones,
			                				'view' => new Zend_View(),
			                				'decorators' => array('ViewHelper'),
			                				'class' => array(''),
				                			'style' => array('width:200px')         										)
				                );
				                $dropdown->setValue(commaStringToArray($milestoneid));
				                echo $dropdown->render();
				            ?>
				        </li>                        
                        <li style="width:100%; display:block;">
				            <?php
				            	$indicators = getCSIndicators();
				                $dropdown = new Zend_Form_Element_Select('indicatorid',
				                		array(
			                				'multiOptions' => array_merge_maintain_keys(array('' => '[Select CS Indicator]'), $indicators),
			                				'view' => new Zend_View(),
			                				'decorators' => array('ViewHelper'),
			                				'class' => array("form-control", 'input-sm', 'chosen-select')                                           										)
				                );
				                $dropdown->setValue($request->getParam('indicatorid'));
				               	//  $dropdown->setAttrib("data-placeholder", "[Select Indicator]");
				                echo $dropdown->render();
				            ?>
				                                
				        </li>
				        <li style="width:100%; display:block;">
				            <button type="button" class="btn btn-primary btn-sm blockanchor" id="fetch" title="Filter" style="xpadding: 5px 10px !important;"><i class="fa fa-filter"></i> Generate</button>
				            <a href="<?php echo $this->viewurl; ?>" class="btn btn-default btn-sm" title="Reset" style="vertical-align:top;"><i class="fa fa-refresh"></i></a> 
				        </li>
			        </ul>
			        <div id="divider5"></div>
                	<div id="errors" class="clearfix"></div>
                    <div class="<?php echo $isprint ? 'x' : 'table-responsive'; ?>" data-pattern="priority-columns">
                        <table id="listtable" class="table table-colored table-primary table-bordered table-nohover table-striped table-condensed" style="width:auto;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <?php foreach($selectedmilestones as $amilestone){ ?>
                                    	<th colspan="3" class="centeralign nowrapping"><?php echo isArrayKeyAnEmptyString($amilestone, $milestones) ? 'Milestone' : $milestones[$amilestone]; ?></th>
                                    <?php } ?>
                                </tr>
                                <tr>
                                    <th class="nowrapping">Ref#</th>
                                    <th class="nowrapping">Indicator</th>
                                    <th class="nowrapping">Type</th>
                                    <th class="nowrapping">Statistical Unit</th>
                                    <th class="nowrapping">Baseline</th>
                                    <?php foreach($selectedmilestones as $amilestone){ ?>
                                        <th class="nowrapping">Target</th>
                                        <th class="nowrapping">Actual</th>
                                        <th class="nowrapping">Variance</th>
                                    <?php } ?>
                                </tr>
                            </thead>
                            <tbody>
                            	<?php 
									$conn = Doctrine_Manager::connection();
									$lineids = array();
									$ids = commaStringToArray($request->indicatorid);
									foreach($ids as $indid){
										
										$query = "select q.id from indicator q where FIND_IN_SET('".$indid."', q.csindicators) > 0 "; // debugMessage($query);
										$results = $conn->fetchAll($query);
										foreach($results as $entry){ //  debugMessage($entry['id']);
											$lineids[] = $entry['id'];
										}
									}
									
								?>
                                <?php foreach($lineids as $id){ 
										$indicatorinfo = getIndicatorProgressDetails($id);
										
								?>
                                    <tr>
                                        <td class="nowrapping"><?php echo $indicatorinfo['ref']; ?></td>
                                        <td class=""><?php echo $indicatorinfo['title']; ?></td>
                                        <td class="nowrapping"><?php echo $indicatorinfo['typelabel']; ?></td>
                                        <td class="nowrapping"><?php echo $indicatorinfo['uom']; ?></td>
                                        
                                        <td class="nowrapping nullifempty"><?php echo is_numeric($indicatorinfo['baseline']) ? formatNum($indicatorinfo['baseline']) : $indicatorinfo['baseline']; ?></td>
                                        <?php foreach($selectedmilestones as $amilestone){ 
											$target = ''; $variance  = ''; $actual = '';
											if($indicatorinfo['type'] != '6'){
												if(!isArrayKeyAnEmptyString($amilestone, $indicatorinfo['actual'])){
													$actual = $indicatorinfo['actual'][$amilestone];
												}
												if(!isArrayKeyAnEmptyString($amilestone, $indicatorinfo['target'])){
													if(!isArrayKeyAnEmptyString('id', $indicatorinfo['target'][$amilestone])){
														// $actual = 
														$target = $indicatorinfo['target'][$amilestone]['target3'] + $indicatorinfo['target'][$amilestone]['target6'] + $indicatorinfo['target'][$amilestone]['target9'] + $indicatorinfo['target'][$amilestone]['target12'];
														if($indicatorinfo['target'][$amilestone]['type'] == 2){
															$number = 0;
															for($p =1; $p<=12; $p++){
																$number += $indicatorinfo['target'][$amilestone]['target'.$p];
															}
															$target = $number;
														}
													}
												}
												if(!isEmptyString($target) && !isEmptyString($actual)){
													$variance = $target - $actual;
												}
											} else {
												$variance = 'N/A';
											}
										?>
                                            <td class="nowrapping nullifempty"><?php echo is_numeric($target) ? formatNum($target) : $target; ?></td>
                                            <td class="nowrapping nullifempty"><?php echo is_numeric($actual) ? formatNum($actual) : $actual; ?></td>
                                            <td class="nowrapping nullifempty"><?php echo is_numeric($variance) ? formatNum($variance) : $variance; ?></td>
                                        <?php } ?>
                                    </tr>
                                <?php } ?>
                            </tbody>
                        </table>
                    </div>
                    <a class="btn btn-primary btn-sm hide" id="pintodash">Pin to Dashboard</a>
                    <div class="divider5"></div>
                    <input type="hidden" name="urlconfig" id="urlconfig" value="<?php echo $this->viewurl; ?>" />
                </div>
          	</div>
        </form>
    </div>
</div>
<style>
.pivotHolder > table.pvtUi, .pivotHolder table.pvtTable {
	/* width:auto !important;
	max-width:1000px;
	overflow:scroll; */
}
table.pvtTable tbody tr th, table.pvtTable thead tr th {
	background-color: #eeeeee;
}
</style>    
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
