<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$pagetitle = "Report Dashboard";
	$title = "Reports";
	$this->headTitle($title.$browserappend);
?>


<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');

});
</script>
	
<div class="rowx" id="contentarea">
    <div class="col-md-12">	
    	<form id="indexform" class="form-horizontal" action="<?php echo $this->viewurl; ?>" method="get">
        	<div class="panel panel-border panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked text-dark"><?php echo $pagetitle; ?></h3>
                </div>
                <div class="panel-body minheight400">
                	
                </div>
          	</div>
        </form>
    </div>
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
