<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$pagetitle = "Select Parameters";
	$title = "Data Analysis";
	$this->headTitle($title.$browserappend);
?>

<link rel="stylesheet" href="/assets/js/plugins/custom/pivotjs/pivot.min.css"/>
<link rel="stylesheet" type="text/css" href="/assets/js/plugins/custom/pivotjs/c3.min.css">
<link rel="stylesheet" type="text/css" href="/assets/js/plugins/custom/pivotjs/handsontable.full.min.css">

<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/pivot.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/export_renderers.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/handsontable.full.min.js"></script>

<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/c3.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/d3.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/c3_renderers.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/d3_renderers.min.js"></script>

<script src="/assets/js/plugins/custom/highcharts/highstock.js"></script>
<script src="/assets/js/plugins/custom/highcharts/highcharts-more.js"></script>
<script src="/assets/js/plugins/custom/highcharts/exporting.js"></script>
<script src="/assets/js/plugins/custom/pivotjs/treemap.js"></script>
	
<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/novix.pivot.renderer.js"></script>
<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/hightchart_renderers.js"></script>



<script type="text/javascript">
$(function(){
	var derivers = $.pivotUtilities.derivers;
	var renderers = $.extend(
		$.pivotUtilities.renderers,
		$.pivotUtilities.export_renderers,
		/*$.pivotUtilities.c3_renderers,
		$.pivotUtilities.d3_renderers*/
		$.pivotUtilities.novix_renderers, 
		$.pivotUtilities.highchart_renderers
	);	

	$("#errors").html('');
	$("#output").html("<a id='loading' style='text-align:center; display:block; margin-top:50px;'><img style='width:18px;' src='/assets/images/loader.gif' /> Initialising...</a>").css({'display':'block','padding':'10px 0'});

	var url = "<?php echo $this->baseUrl('report/mpsdata'); ?>";
	// alert(url); 
	$.getJSON(url, function(data) {
		// these are the functions you wish to use
        var functionsConfig = {
            renderers:   renderers,
            onRefresh: function(config) {
                var config_copy = JSON.parse(JSON.stringify(config));
                //delete some values which are functions
                delete config_copy["aggregators"];
                delete config_copy["renderers"];
                //delete some bulky default values
                delete config_copy["rendererOptions"];
                delete config_copy["localeStrings"];
                $("#outputstate").text(JSON.stringify(config_copy, undefined, 2));
           }
        };

        // this is your saved/serialized config in a string
        var serializedConfig = '{ "derivedAttributes": {}, "hiddenAttributes": [], "menuLimit": 500, "cols": [ "Party" ], "rows": [ "Gender" ], "vals": [], "rowOrder": "key_a_to_z", "colOrder": "key_a_to_z", "exclusions": {}, "inclusions": {}, "unusedAttrsVertical": 85, "autoSortUnusedAttrs": false, "sorters": {}, "inclusionsInfo": {}, "aggregatorName": "Count", "rendererName": "Table"}';

        // deserialized it into an object
        var deserializedConfig = JSON.parse(serializedConfig)

        // merge the deserialized object with the functions object
        var mergedConfig = $.extend({}, functionsConfig, deserializedConfig);

       	$("#output").pivotUI(data, mergedConfig);
	});

 });
</script>
        
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');

	// if the target of the click isn't the container nor a descendant of the container
	$(document).mouseup(function(e) {
	    var container = $(".pvtFilterBox");
	    if (!container.is(e.target) && container.has(e.target).length === 0) {
	        container.hide();
	    }
	    return true;
	});
});
</script>
	
<div class="rowx" id="contentarea">
    <div class="col-md-12">	
    	<form id="indexform" class="form-horizontal" action="<?php echo $this->viewurl; ?>" method="get">
        	<div class="panel panel-border panel-info">
                <!--<div class="panel-heading">
                    <h3 class="panel-title lineblocked text-dark"><?php //echo $pagetitle; ?></h3>
                </div>-->
                <div class="panel-body minheight400">
                    <div id="output"></div>
                    <textarea class="form-control expanding minheight200 hidden" id="outputstate"></textarea>
                </div>
          	</div>
        </form>
    </div>
</div>
<style>
/* .pvtTotal, .pvtTotalLabel, .pvtGrandTotal {display: none} */
.pvtUi select.pvtRenderer, .pvtUi select.pvtAggregator, .pvtUi select.pvtAttrDropdown {
	height:30px;
	padding:0 20px;
	font-size:12px;
	background-color:#fff;
	border: 1px solid #e3e3e3;
	border-radius: 2px;
	float:left;
	margin-bottom:2px;
	clear:both;
}
.pvtUi select.pvtRenderer {
	width:150px;
}
.pvtUi select.pvtAggregator {
	width:175px;
}
.pvtUi select.pvtAttrDropdown {
	width:175px;
}
.pvtUi .pvtColOrder, .pvtUi .pvtRowOrder {
	margin-right: 5px;
	font-size: 18px;
}
#output {
	overflow: scroll;
	width:100%;
	min-height:200px;
	max-heigth:700px;
}
table.pvtUi {
	/* width:100%; */
}
table.pvtUi td:first-child {
	min-width:250px;
	max-width:300px;
	white-space:normal;
}

td.pvtRendererArea {
	min-height:300px;
}
td.pvtAxisContainer.pvtUnused.pvtHorizList {
	padding:15px 0;
}
.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
td.pvtAxisContainer.pvtRows {
	max-width:300px;
}
th.pvtAxisLabel {
	min-width:100px !important;
}
.pvtColLabel {
	min-width:100px;
	max-width:200px;
	white-space:normal;
}
.pvtRowLabel {
	min-width:100px;
	max-width: 250px;
	white-space:normal;
}
.pvtAxisContainer li {
	margin-bottom: 5px;
}
.pvtAxisContainer li span.pvtAttr {
	padding: 8px;
    white-space: nowrap;
    background: #fff;
    white-space: normal;
    display: inline-block;
}
.pvtFilterBox {
	max-width: 600px;
	width: auto;
	text-align:left;
}
.pvtFilterBox p {
	padding:8px;
}
.pvtFilterBox p button {
	margin-right:8px;
}
.c3-line, .c3-focused {stroke-width: 3px !important;}
.c3-bar {stroke: white !important; stroke-width: 1;}
.c3 text { font-size: 12px; color: grey;}
.tick line {stroke: white;}
.c3-axis path {stroke: grey;}
.c3-circle { opacity: 1 !important; }
.c3-xgrid-focus {visibility: hidden !important;}
</style>    
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
