<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$session = SessionWrapper::getInstance();
	
	$milestones = getMilestonePeriods(1);
	$milestoneid = $request->milestoneid;
	if(isEmptyString($milestoneid)){
		$milestoneid = getActiveMilestone(1);
	}
	$selectedmilestones = commaStringToArray($milestoneid);
	
	$milestone = new MilestonePeriod(); 
	$milestone->populate($milestoneid); 
	$fystart = $milestone->getStartDate();
	$fyend = $milestone->getEndDate();
	$quartermilestones = getMilestonePeriods(2, $milestone->getID());
		
	$q = Doctrine_Query::create()->from('Milestone m')->where("m.category = '2' AND m.parentid = '".$milestone->getID()."' ")->orderby("m.startdate");
	$quarters = $q->execute(); // debugMessage($quarters->toArray());
	
	$projecttypes = getDatavariables('PROJECT_TYPES');
	$currencies = getDatavariablesWithOdering("CURRENCIES");
	$program_units = getProgramUnits();
	
	$custom_query = "";
	$selectedprojects = commaStringToArray($request->projectid);
	if(!isEmptyString($request->projectid) && $request->projectid != 'null'){
		$custom_query = " AND p.id IN(".$request->projectid.")";
	}
	
	$conn = Doctrine_Manager::connection(); 
	$pquery = "SELECT p.id, p.refno, p.title, p.type, p.cost, p.currency, p.cost as bundlecost
		from project p
		where TO_DAYS('".$fystart."') BETWEEN TO_DAYS(p.startdate) AND TO_DAYS(p.enddate) ".$custom_query." group by p.id order by p.refno asc "; // debugMessage($pquery);
		
	$projects = $conn->fetchAll($pquery);
	
	$showmonths = false;
	if(isEmptyString($request->groupby) || $request->groupby == '1'){
		$showmonths = false;
	}
	if($request->groupby == '2'){
		$showmonths = true;
	}
	
	$showpos = false;
	if(isEmptyString($request->showpos) || $request->showpos == '1'){
		$showpos = false;
	}
	if($request->showpos == '2'){
		$showpos = true;
	}
		
	$pagetitle = "Select Parameters";
	$title = "Projects Cost Analysis";
	$this->headTitle($title.$browserappend);
?>

<script type="text/javascript">

</script>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	
	$("#fetch").on('click', function(){
		var milestoneid = $("#milestoneid").val();
		var projectid = $("#projectid").val();
		var groupby = $("#groupby").val();
		var showpos = $("#showpos").val();
		//alert(indicatorid);
		if(!isEmptyString(milestoneid)){
			$("#errors").html('');
			$("#output").html("<a id='loading' style='text-align:center; display:block; margin-top:50px;'><img style='width:18px;' src='/assets/images/loader.gif' /> Please wait...</a>").css({'display':'block','padding':'10px 0'});

			var url = "<?php echo $this->baseUrl('report/project/'); ?>milestoneid/"+milestoneid+"/projectid/"+projectid+"/groupby/"+groupby+"/showpos/"+showpos;
			window.location.href = url;
			$.blockUI({ message: '<?php echo $blockcontent; ?>'});
		} else {
			$("#pintodash").addClass('hide');
			$("#errors").html('<div id="nodata" class="alert alert-warning">Select report parameters</div>');
		}
	});
	
	$('#milestoneid').multipleSelect({
		filter: false,
		selectAll: true,
		placeholder: "[Filter By Milestone]"
    });
	$('#projectid').multipleSelect({
		filter: true,
		selectAll: false,
		placeholder: "[Filter By Project]"
    });
	
});
</script>
	
<div class="row" id="contentarea">
    <div class="col-md-12">	
    	<form id="indexform" class="form-horizontal" action="<?php echo $this->viewurl; ?>" method="get">
        	<div class="panel panel-border panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked text-dark"><?php echo $pagetitle; ?></h3>
                </div>
                <div class="panel-body minheight400">
                	<ul class="resetlist listactions clearfix">
	                    <li>
				            <?php
				                $dropdown = new Zend_Form_Element_Multiselect('milestoneid',
				                		array(
			                				'multiOptions' => $milestones,
			                				'view' => new Zend_View(),
			                				'decorators' => array('ViewHelper'),
			                				'class' => array(''),
				                			'style' => array('width:200px')         										)
				                );
				                $dropdown->setValue(commaStringToArray($milestoneid));
				                echo $dropdown->render();
				            ?>
				        </li>
                        <li>
                        	<?php
				                $dropdown = new Zend_Form_Element_Select('groupby',
				                		array(
			                				'multiOptions' => array('1' => 'Group By Quarter', '2' => 'Group By Quarter & Month'),
			                				'view' => new Zend_View(),
			                				'decorators' => array('ViewHelper'),
			                				'class' => array('form-control', 'input-sm'),
				                			'style' => array('width:200px')         										)
				                );
				                $dropdown->setValue($request->groupby);
				                echo $dropdown->render();/**/
				            ?>
                        </li>
                        <li style="width:100%;">
                        	<?php
				            	$projectlist = getProjects();
				                $dropdown = new Zend_Form_Element_Multiselect('projectid',
				                		array(
			                				'multiOptions' => $projectlist,
			                				'view' => new Zend_View(),
			                				'decorators' => array('ViewHelper'),
			                				'class' => array('') ,
				                			'style' => array('width:50%')                                           										)
				                );
				                $dropdown->setValue(commaStringToArray($request->getParam('projectid')));
				                echo $dropdown->render();/**/
				            ?>
                        </li>   
                        <?php if(!isEmptyString($request->projectid) && $request->projectid != 'null'){ ?>
                            <li>
                                <?php
                                    $dropdown = new Zend_Form_Element_Select('showpos',
                                            array(
                                                'multiOptions' => array('1' => 'Group By Bundle', '2' => 'Group By Bundle & Project Outline(s)'),
                                                'view' => new Zend_View(),
                                                'decorators' => array('ViewHelper'),
                                                'class' => array('form-control', 'input-sm'),
                                                'style' => array('width:200px')         										)
                                    );
                                    $dropdown->setValue($request->showpos);
                                    echo $dropdown->render();
                                ?>
                            </li>
                        <?php } ?>
				        <li style="width:100%; display:block;">
				            <button type="button" class="btn btn-primary btn-sm blockanchor" id="fetch" title="Filter" style="xpadding: 5px 10px !important;"><i class="fa fa-filter"></i> Generate</button>
				            <a href="<?php echo $this->viewurl; ?>" class="btn btn-default btn-sm" title="Reset" style="vertical-align:top;"><i class="fa fa-refresh"></i></a> 
				        </li>
			        </ul>
			        <div id="divider5"></div>
                    <div class="row">
                    	<div class="col-sm-6">
                            <span class="text-muted" style="font-size:12px;">Viewing estimates for <?php echo count($projects); ?> active project bundles in <?php echo $milestone->getName(); ?></span>
                            
                       </div>
                    	<div class="col-sm-6">
                            <div class="row floatright">
                                <span class="label label-white">Key</span>
                                <span class="label label-default" style="color: #fff; background: #009933;">Below Budget (<50%)</span>
                                
                                <span class="label label-success" style="color: #000; background: #FFFF00;">Within Budget (50-75%)</span>
                                <span class="label label-warning" style="color: #fff; background: #FF0000;">Running Out (>75%)</span>
                            </div>
                       </div>
                	</div>
                    <div class="col-sm-12 padding0">
                        
                        <div class="<?php echo $isprint ? 'x' : 'table-responsive'; ?>" data-pattern="priority-columns">                  
                            <table id="listtable" class="table table-colored table-primary table-bordered table-striped table-condensed">
                                <thead style="font-weight:bold;">
                                    <th class="nowrapping">Bundle No#</th>
                                    <th class="nowrapping">Grant/Project Outline</th>
                                    <th class="nowrapping">Type</th>
                                    <th class="nowrapping">Currency</th>
                                    <th class="nowrapping">Bundle Award</th>
                                    <th class="nowrapping">Total Budget<br /><?php echo str_replace('20', '', $milestone->getName()); ?></th>
                                    <?php foreach($quarters as $quarter){ 
										$periodstart = $quarter->getStartDate();
										$m = date('m', strtotime($periodstart)); $y = date('Y', strtotime($periodstart));
										$secondmonth_start = getFirstDayOfMonth($m+1, $y); // debugMessage('2nd >>'.$secondmonth_start);
										$thirdmonth_start = getFirstDayOfMonth($m+2, $y);
									?>
                                        <th class="nowrapping">Q<?php echo $quarter->getType(); ?> Budget <br /><?php echo date('M', strtotime($periodstart)); ?> - <?php echo date('M', strtotime($thirdmonth_start)); ?> <?php echo date('Y', strtotime($thirdmonth_start)); ?></th>
                                        <?php if($showmonths){ ?>
                                            <th class="nowrapping">Spend<br /><?php echo date('M y', strtotime($periodstart)); ?></th>
                                            <th class="nowrapping">Spend<br /><?php echo date('M y', strtotime($secondmonth_start)); ?></th>
                                            <th class="nowrapping">Spend<br /><?php echo date('M y', strtotime($thirdmonth_start)); ?></th>
                                        <?php } ?>
                                        <th class="nowrapping">Q<?php echo $quarter->getType(); ?> Spend<br />Sub Total</th> 
                                        <th class="nowrapping">Q<?php echo $quarter->getType(); ?> Spend<br />Variance</th>
                                        <th class="nowrapping">Q<?php echo $quarter->getType(); ?> % Spend</th> 
                                    <?php } ?> 
                                    <th class="nowrapping">Total Spend<br />(In <?php echo str_replace('20', '', $milestone->getName()); ?>)</th> 
                                    <th class="nowrapping">Total Variance<br />(In <?php echo str_replace('20', '', $milestone->getName()); ?>)</th>
                                    <th class="nowrapping">% Spend<br />(In <?php echo str_replace('20', '', $milestone->getName()); ?>)</th> 
                                    <th class="nowrapping">% Spend<br />(In Bundle)</th>
                                </thead>
                        		
                                <tbody style="font-size:12px !important;">
                            		<?php foreach($projects as $line){ 
											$bundle_query = "SELECT d.*, s.quarter as quarter
											from data_set_result_projectcost d
											inner join data_set_result_summary s on d.resultid = s.id  AND s.milestoneid = '".$milestone->getID()."' AND d.projectid = '".$line['id']."' "; // debugMessage($bundle_query);
											$cost_data = array();
											$cost_submissions = $conn->fetchAll($bundle_query);
											
											foreach($cost_submissions as $submission){
												$cost_data[$submission['quarter']][$submission['poid']] = $submission;
											}
											
											$annualbudget = 0;
											if(!isArrayKeyAnEmptyString(1, $cost_data)){
												foreach($cost_data[1] as $pocost){
													$annualbudget += $pocost['annualbudget'];
												}
											}
											
									?>
                                    	<tr class="<?php echo $class; ?> row_input_<?php echo $e; ?>" id="row_input_<?php echo $e; ?>">
                                            <td><?php echo $line['refno']; ?></td>
                                            <td class="bolded"><?php echo $line['title'].$posuffix; ?></td>
                                            <td><?php echo isArrayKeyAnEmptyString($line['type'], $projecttypes) ? '' : $projecttypes[$line['type']]; ?></td>
                                            <td class="centeralign"><?php echo isArrayKeyAnEmptyString($line['currency'], $currencies) ? '' : $currencies[$line['currency']]; ?></td>
                                           	<td class="rightalign"><?php echo formatNum($line['bundlecost']); ?></td>
                                            <td class="rightalign"><?php echo formatNum($annualbudget); ?></td>
                                            <?php 
												
												$total_spend = 0; $totalvariance = 0;
												foreach($quarters as $q => $quarter){ 
													
													$periodstart = $quarter->getStartDate();
													$m = date('m', strtotime($periodstart)); $y = date('Y', strtotime($periodstart));
													$secondmonth_start = getFirstDayOfMonth($m+1, $y); // debugMessage('2nd >>'.$secondmonth_start);
													$thirdmonth_start = getFirstDayOfMonth($m+2, $y);
													
													$periodbudget = 0;
													$cost_1 = 0;
													$cost_2 = 0;
													$cost_3 = 0;
													
													if(!isArrayKeyAnEmptyString($quarter->getType(), $cost_data)){
														foreach($cost_data[$quarter->getType()] as $pocost){
															if($line['id'] == 5){
																
																if($pocost['quarter'] == $quarter->getType()){
																	// debugMessage($pocost['periodbudget']);
																	$periodbudget += $pocost['periodbudget'];
																	$cost_1 += $pocost['cost_1'];
																	$cost_2 += $pocost['cost_2'];
																	$cost_3 += $pocost['cost_3'];
																	
																}
															}
														}
													}
													
													$totalspend_qr = $cost_1+$cost_2+$cost_3; 
													$total_spend+=$totalspend_qr;
													
													$diff = $periodbudget == 0 || isEmptyString($periodbudget) ? 0 : $periodbudget - $totalspend_qr; 
													$totalvariance = $annualbudget - $total_spend;
													
													$spendprogress = $periodbudget == 0 || isEmptyString($periodbudget) ? 0 : formatNum(($totalspend_qr / $periodbudget) * 100);
													$def_color = 'FFFFFF;'; $txt_color = '00000';
													if($spendprogress >= 75){
														$def_color = 'FF0000;'; 
														$txt_color = 'ffffff';
													}
													if($spendprogress > 50 && $spendprogress < 75){
														$def_color = 'FFFF00;';
														$txt_color = '000000';
													}
													if($spendprogress < 50){
														$def_color = '009933;';
														$txt_color = 'ffffff';
													}
													
											?>
                                                <td class="rightalign"><?php echo formatNum($periodbudget); ?></td>
                                                <?php if($showmonths){ ?>
                                                    <td class="rightalign"><?php echo formatNum($cost_1); ?></td>
                                                    <td class="rightalign"><?php echo formatNum($cost_2); ?></td>
                                                    <td class="rightalign"><?php echo formatNum($cost_3); ?></td>
                                                <?php } ?>
                                                <td class="rightalign bolded" style="color:#<?php echo $txt_color; ?>; background:#<?php echo $def_color; ?>"><?php echo formatNum($totalspend_qr); ?></td>
                                                <td class="rightalign" style="color:#<?php echo $txt_color; ?>; background:#<?php echo $def_color; ?>"><?php echo formatNum($diff); ?></td>
                                                <td class="rightalign bolded" style="color:#<?php echo $txt_color; ?>; background:#<?php echo $def_color; ?>"><?php echo $spendprogress; ?></td>
                                           	<?php } ?>
                                            <?php 
												$def_color = 'FFFFFF;'; $txt_color = '00000';
												$spendprogress = $annualbudget <= 0 || isEmptyString($annualbudget) ? 0 : formatNum(($total_spend / $annualbudget) * 100);
												$overrallprogrss = $line['bundlecost'] <= 0 || isEmptyString($line['bundlecost']) ? 0 : formatNum(($total_spend / $line['bundlecost']) * 100);
												if($spendprogress >= 75){
													$def_color = 'FF0000;'; 
													$txt_color = 'ffffff';
												}
												if($spendprogress > 50 && $spendprogress < 75){
													$def_color = 'FFFF00;';
													$txt_color = '000000';
												}
												if($spendprogress < 50){
													$def_color = '009933;';
													$txt_color = 'ffffff';
												}
												
												$last_color = 'FFFFFF;'; $txt_lastcolor = '00000';
												if($overrallprogrss >= 75){
													$last_color = 'FF0000;'; 
													$txt_lastcolor = 'ffffff';
												}
												if($overrallprogrss > 50 && $spendprogress < 75){
													$last_color = 'FFFF00;';
													$txt_lastcolor = '000000';
												}
												if($overrallprogrss < 50){
													$last_color = '009933;';
													$txt_lastcolor = 'ffffff';
												}
											?>
                                            <td class="rightalign"><?php echo formatNum($total_spend); ?></td>
                                            <td class="rightalign"><?php echo $totalvariance > 0 ? formatNum($totalvariance) : 0; ?></td>
                                            <td class="rightalign" style="color:#<?php echo $txt_color; ?>; background:#<?php echo $def_color; ?>"><?php echo $spendprogress; ?></td>
                                            <td class="rightalign" style="color:#<?php echo $txt_lastcolor; ?>; background:#<?php echo $last_color; ?>"><?php echo $overrallprogrss; ?></td>
                                        </tr>
                                        <?php if($showpos){ ?>
                                        
                                        <?php } ?>
                                    <?php } ?>
                            	</tbody>
                          	</table>
                     	</div>
                	</div>
                </div>
          	</div>
        </form>
    </div>
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
