<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$pagetitle = "Select Parameters";
	$title = "Data Analysis";
	$this->headTitle($title.$browserappend);
?>

<link rel="stylesheet" href="/assets/js/plugins/custom/pivotjs/pivot.min.css"/>
<link rel="stylesheet" type="text/css" href="/assets/js/plugins/custom/pivotjs/c3.min.css">
<link rel="stylesheet" type="text/css" href="/assets/js/plugins/custom/pivotjs/handsontable.full.min.css">
<link rel="stylesheet" type="text/css" href="/assets/js/plugins/custom/pivotjs/nrecopivottableext.css">

<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/pivot.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/handsontable.full.min.js"></script>

<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/export_renderers.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/d3.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/c3.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/d3_renderers.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/c3_renderers.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/custom/pivotjs/nrecopivottableext.js"></script>

<script type="text/javascript">
$(function () {	
	var wrappedRenderers = $.extend( {}, 
		$.pivotUtilities.renderers, 
		$.pivotUtilities.export_renderers,
		$.pivotUtilities.c3_renderers,
		$.pivotUtilities.d3_renderers
	);

	var nrecoPivotExt = new NRecoPivotTableExtensions({
		wrapWith: '<div class="pvtTableRendererHolder"></div>',  // special div is needed by fixed headers when used with pivotUI
		fixedHeaders : true
	});
	
	var stdRendererNames = ["Table","Table Barchart","Heatmap","Row Heatmap","Col Heatmap"];
	$.each(stdRendererNames, function() {
		var rName = this;
		wrappedRenderers[rName] = nrecoPivotExt.wrapTableRenderer(wrappedRenderers[rName]);
	});
	
	$("#fetch").on('click', function(){
		var datasetid = $("#datasetid").multipleSelect('getSelects');
		var attrid = $("#attrid").val();
		//alert(datasetid);
		// alert(attrid);
		if(!isEmptyString(datasetid) && !isEmptyString(attrid)){
			$("#errors").html('');
			$("#output").html("<a id='loading' style='text-align:center; display:block; margin-top:50px;'><img style='width:18px;' src='/assets/images/loader.gif' /> Initialising...</a>").css({'display':'block','padding':'10px 0'});

			var url = "<?php echo $this->baseUrl('report/pivot/'); ?>datasetid/"+datasetid+"/attrid/"+attrid;
			// alert(url); 
			$.getJSON(url, function(data) {
				// these are the functions you wish to use
		        var functionsConfig = {
		            renderers:   wrappedRenderers,
		            onRefresh: function(config) {
		                var config_copy = JSON.parse(JSON.stringify(config));
		                //delete some values which are functions
		                delete config_copy["aggregators"];
		                delete config_copy["renderers"];
		                //delete some bulky default values
		                delete config_copy["rendererOptions"];
		                delete config_copy["localeStrings"];
		                $("#outputstate").text(JSON.stringify(config_copy, undefined, 2));

			             // this is correct way to apply fixed headers with pivotUI
		    			nrecoPivotExt.initFixedHeaders($('#output table.pvtTable'));

		    			// apply boostrap styles to pvt UI controls
		    			$('#output select.pvtAttrDropdown:not(.form-control)').addClass('form-control input-sm');
		    			$('#output select.pvtAggregator:not(.form-control), #output select.pvtRenderer:not(.form-control)').addClass('form-control input-sm');
		    			$('#output>table:not(.table)').addClass('table');	

		    			$(".pvtTable td:contains('Powered by')").css("color", "#fff");
		    			$(".pvtTable a:contains('PivotTable.js')").css("color", "#fff");
		           }
		        };
		
		        // this is your saved/serialized config in a string
		        var serializedConfig = '[]';
		
		        // deserialized it into an object
		        var deserializedConfig = JSON.parse(serializedConfig)
		
		        // merge the deserialized object with the functions object
		        var mergedConfig = $.extend({}, functionsConfig, deserializedConfig);
		
		       	$("#output").pivotUI(data, mergedConfig);
			});
		} else {
			$("#errors").html('<div id="nodata" class="alert alert-warning">Select report parameters.</div>');
		}
	});
});
</script>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');

	$('#datasetid').multipleSelect({
		filter: true,
		selectAll: false,
		placeholder: "[Select dataset]",
		onClick: function(view) {
			var datasets = $("#datasetid").multipleSelect('getSelects'); // alert(datasets);
			var url = '<?php echo $this->baseUrl('index/selectchaincustom/select_chain_type/data_sets_attributes/ids/'); ?>';
			// alert(url);
			autoPopulateSelectChain('datasetid', 'attrid', url, '<?php echo $request->attrid; ?>', 'no_selectone');
		}
    });

	<?php if(!isEmptyString($request->datasetid) && !isEmptyString($request->attrid)){ ?>
		var datasets = '<?php echo $request->datasetid; ?>';
		var url = '<?php echo $this->baseUrl('index/selectchaincustom/select_chain_type/data_sets_attributes/ids/'); ?>';
		// alert(url);
		autoPopulateSelectChain('datasetid', 'attrid', url, '<?php echo $request->attrid; ?>', 'no_selectone');
		setTimeout(function() {}, 5000);
	<?php } ?>

	// if the target of the click isn't the container nor a descendant of the container
	$(document).mouseup(function(e) {
	    var container = $(".pvtFilterBox");
	    if (!container.is(e.target) && container.has(e.target).length === 0) {
	        container.hide();
	    }
	    return true;
	});
});
</script>
	
<div class="rowx" id="contentarea">
    <div class="col-md-12">	
    	<form id="indexform" class="form-horizontal" action="<?php echo $this->viewurl; ?>" method="get">
        	<div class="panel panel-border panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked text-dark"><?php echo $pagetitle; ?></h3>
                </div>
                <div class="panel-body minheight400">
                	<ul class="resetlist listactions clearfix">
	                    <li style="width:100%; display:block;">
				            <?php
				            	$datasets = getDatasets();
				                $dropdown = new Zend_Form_Element_Multiselect('datasetid',
				                		array(
			                				'multiOptions' => $datasets,
			                				'view' => new Zend_View(),
			                				'decorators' => array('ViewHelper'),
			                				'class' => array('') ,
				                			'style' => array('width:60%')                                           										)
				                );
				                $dropdown->setValue(commaStringToArray($request->getParam('datasetid')));
				                echo $dropdown->render();
				            ?>
				                                
				        </li>
				        <li style="width:100%; display:block;">
				            <?php
				            	$attributes = array();
							    $dropdown = new Zend_Form_Element_Multiselect('attrid',
                                    array(
                                        'multiOptions' => $attributes,
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'input-sm', 'chosen-select'),
										'style' => array('width:65% !important')
                                    )
				                );  
				                $dropdown->setValue(commaStringToArray($request->getParam('attrid'))); 
				                $dropdown->setAttrib("data-placeholder", "[Select attribute(s)]");
				                echo $dropdown->render();
				            ?>                    
				        </li>
				        <li style="width:100%; display:block;">
				            <button type="button" class="btn btn-primary btn-sm blockanchor" id="fetch" title="Filter" style="xpadding: 5px 10px !important;"><i class="fa fa-filter"></i> Get Data</button>
				            <a href="<?php echo $this->viewurl; ?>" class="btn btn-default btn-sm" title="Reset" style="vertical-align:top;"><i class="fa fa-refresh"></i>
				            <button class="btn btn-sm btn-default" onclick="alert( JSON.stringify( $('#output .pivotExportData').data('getPivotExportData')() ) )"><i class="fa fa-arrow-down"></i> Export</button>
				            </a>
				        </li>
			        </ul>
			        <div id="divider5"></div>
                	<div id="errors" class="clearfix"></div>
                    <div id="output" class="pivotHolder"></div>
                    <textarea class="form-control expanding minheight200 xhidden" id="outputstate"></textarea>
                </div>
          	</div>
        </form>
    </div>
</div>
<style>
/* custom */
table.pvtUi td:first-child {
	min-width:250px;
	max-width:300px;
	white-space:normal;
}
.pvtFixedHeader {
	cursor:pointer;
}
td.pvtAxisContainer.pvtRows {
	max-width:300px;
}
th.pvtAxisLabel {
	min-width:100px !important;
}
.pvtColLabel {
	min-width:100px;
	max-width:200px;
	white-space:normal;
}
.pvtRowLabel {
	min-width:100px;
	max-width: 250px;
	white-space:normal;
}
.pvtAxisContainer li span.pvtAttr {
	padding: 6px;
    white-space: nowrap;
    background: #fff;
    white-space: normal;
    display: inline-block;
}
.pvtFilterBox {
	max-width: 600px;
	width: auto;
	text-align:left;
}
.pvtFilterBox p {
	padding:8px;
}
.pvtFilterBox p button {
	margin-right:8px;
}
</style>    
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
