<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$pagetitle = "Select Parameters";
	$title = "Results Analysis";
	
	$session = SessionWrapper::getInstance();
	$initconfig = '';
	if(!isEmptyString($session->getVar('serialconfig'))){
		$initconfig = $session->getVar('serialconfig');
	}
	
	$dashwidget = new UserDashboard();
	if(!isEmptyString($request->widgetid)){
		$widgetid = is_numeric($request->widgetid) ? $request->widgetid : decode($request->widgetid);
		$dashwidget->populate($widgetid); 
		$reportdata = objectToArray(json_decode($dashwidget->getSerialConfig()));
		//$url = $reportdata['dataSource']['filename']; 
	}
	
	$this->headTitle($title.$browserappend);
?>
<div class="rowx" id="contentarea">
    <div class="col-md-12">	
    	<form id="indexform" class="form-horizontal" action="<?php echo $this->viewurl; ?>" method="get">
        	<div class="panel panel-border panel-info">
                <div class="panel-body minheight400">
                    <ul class="resetlist listactions clearfix">
	                    <li style="width:100%; display:block;">
				            <?php
				            	$datasets = getDatasets();
				                $dropdown = new Zend_Form_Element_Multiselect('datasetid',
				                		array(
			                				'multiOptions' => $datasets,
			                				'view' => new Zend_View(),
			                				'decorators' => array('ViewHelper'),
			                				'class' => array('') ,
				                			'style' => array('width:60%')                                           										)
				                );
				                $dropdown->setValue(commaStringToArray($request->getParam('datasetid')));
				                echo $dropdown->render();
				            ?>
				        </li>
				        <li style="width:100%; display:block;">
				            <?php
				            	$attributes = array();
							    $dropdown = new Zend_Form_Element_Multiselect('attrid',
                                    array(
                                        'multiOptions' => $attributes,
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'input-sm', 'chosen-select'),
										'style' => array('width:65% !important')
                                    )
				                );  
				                $dropdown->setValue(commaStringToArray($request->getParam('attrid'))); 
				                $dropdown->setAttrib("data-placeholder", "[Select attribute(s)]");
				                echo $dropdown->render();
				            ?>                    
				        </li>
				        <li style="width:100%; display:block;">
				            <button type="button" class="btn btn-primary btn-sm blockanchor" id="fetch" title="Filter" style="xpadding: 5px 10px !important;"><i class="fa fa-filter"></i> Generate</button>
				            <a href="<?php echo $this->viewurl; ?>" class="btn btn-default btn-sm" title="Reset" style="vertical-align:top;"><i class="fa fa-refresh"></i></a> 
                            <a class="btn btn-primary btn-xs hide" id="pintodash">Reload Data</a> 
				        </li>
			        </ul>
                    <div id="divider5"></div>
                	<div id="errors" class="clearfix"></div>
                    <div id="divider5"></div>
                    <div id="pivotContainer"></div>
                </div>
          	</div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/assets/js/plugins/custom/flexmonster/flexmonster.js"></script>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	
	$('#datasetid').multipleSelect({
		filter: true,
		selectAll: false,
		placeholder: "[Select dataset]",
		onClick: function(view) {
			var datasets = $("#datasetid").multipleSelect('getSelects'); // alert(datasets);
			var url = '<?php echo $this->baseUrl('index/selectchaincustom/select_chain_type/data_sets_attributes/ids/'); ?>';
			// alert(url);
			autoPopulateSelectChain('datasetid', 'attrid', url, '<?php echo $request->attrid; ?>', 'no_selectone');
		}
    });
	
	<?php if(!isEmptyString($request->datasetid) && !isEmptyString($request->attrid)){ ?>
		var datasets = '<?php echo $request->datasetid; ?>';
		var url = '<?php echo $this->baseUrl('index/selectchaincustom/select_chain_type/data_sets_attributes/ids/'); ?>';
		// alert(url);
		autoPopulateSelectChain('datasetid', 'attrid', url, '<?php echo $request->attrid; ?>', 'no_selectone');
		setTimeout(function() {
			$("#fetch").click();
		}, 1000);
	<?php } ?>
	
	var reportvar  = '';
	$("#fetch").on('click', function(){
		var datasetid = $("#datasetid").multipleSelect('getSelects');
		var attrid = $("#attrid").val(); //alert(datasetid); // alert(attrid);
		
		// trigger reloading report when options change
		if(!isEmptyString(datasetid) && !isEmptyString(attrid)){
			$("#errors").html('');
			var url = "<?php echo $this->baseUrl('report/resultsdata/'); ?>datasetid/"+datasetid+"/attrid/"+attrid;
			
			var pivot = new Flexmonster({
				container: "pivotContainer",
				toolbar: true,		
				report: {
					dataSource: {
						dataSourceType: "json",
						filename: url
					},
					options: {
						grid: {
							type: "flat",
							showHeaders: true,
							showDefaultSlice: false,
							showTotals: "off",
							showGrandTotals: "off",
							showHierarchies: false
						}
					}
				},
				licenseKey: "Z7NP-XCC01R-3S5Z5E-3A175B",
				componentFolder: "/assets/js/plugins/custom/flexmonster/",
				jsPivotCreationCompleteHandler: onComplete			
			});
		} else {
			$("#errors").html('<div id="nodata" class="alert alert-warning">Select report parameters.</div>');
		}
	});
	
	// initialize a blank pivot table
	var pivot = new Flexmonster({
		container: "pivotContainer",
		toolbar: true,			
		licenseKey: "Z7NP-XCC01R-3S5Z5E-3A175B",
		componentFolder: "/assets/js/plugins/custom/flexmonster/"			
	});
	
	// if no select options specified and widget is specified, load it
	<?php if(!isEmptyString($dashwidget->getID())){ ?>
		pivot.setReport(<?php echo $dashwidget->getSerialConfig(); ?>);
		pivot.refresh();
	<?php } ?>
	
	function onComplete() {
	  var item = $("<li class='fm-ui'></li>");
	  item.append('<span class="fm-ui" id="#fm-text-display">Custom item</span>');
	  item.click(function(e) {
		e.stopImmediatePropagation();
		// alert("Custom Form");
	  });
	 //  $("#fm-context-menu ul").append(item);
	}
});
</script>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>