<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$entity = new UserDashboard(); 
	$id = is_numeric($request->id) ? $request->id : decode($request->id);	
	$entity->populate($id); // debugMessage($entity->toArray());
	$successmessage = isEmptyString($id) ? "Successfully saved" : "Successfully updated";
	$userids = explode(',', $entity->getShareIDs());
	
	$title = "Share with User(s)";
	$description = "Share this Widget & Interpretation on another User's dashboard";
	$resourcename = 'Report'; $resourcename = 'Profile';
?>
<?php require_once APPLICATION_PATH.'/views/scripts/index/pgcjs.phtml'; ?>
<script>
$(document).ready(function() {		
	$("#view").css({'display':'none'}).addClass('hide');
	$("#new").css({'display':'none'}).addClass('hide');
	
	$(".popupdiv #popupform").validate({		
		rules: {
			userids: "required"
		}, 
		// the messages for each of the fields being validated
		messages: {		
			userids: "Please select atleast one"
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					if(element.hasClass("useid_error")){
						error.appendTo("#"+element.attr("id")+"_error");
					} else {
						error.appendTo("#"+element.attr("name")+"_error");
					}
					break;
			}			
		},
		ignore: ":hidden:not(select)"
	});
	
	$('#cancelwidget').click(function(){
		$("#dialog").modal('hide').data('modal', null);
	});
	
	$("#popupform #savewidget").click(function(e){
		if($("#popupform").valid() == true) {
			$("#popupform #savewidget").addClass('disabledfield disabled').html('<img src="<?php echo $this->baseUrl('assets/images/loader.gif'); ?>" /> Please Wait...');
			$.post("<?php echo $this->baseUrl('report/processsharewidget'); ?>", 
				$("#popupform").serialize(), 
				function(data){
					// alert(data); return false;
					data = jQuery.parseJSON(data); 
					if(data.result == 'success'){
						$("#popupform #errormessage").addClass('hidden').hide().html('');
						$("#popupform #successmessage").removeClass('hidden').show().html(data.message);
					} else {
						$("#popupform #errormessage").removeClass('hidden').show().html(data.message);	
						$("#popupform #successmessage").addClass('hidden').hide().html('');	
					}
					$("#popupform .savebutton").removeClass('disabledfield disabled').html('Save');
				}  
			);
		}
		return true;
	});	
}); 
</script>
<style>
.modal-dialog {
	width: 60%;
}
</style>
<div class="popupdiv">
	<form id="popupform" class="form-horizontal" method="post">
        <div class="alert alert-danger hidden" id="errormessage"></div>
        <div class="alert alert-success hidden" id="successmessage"></div>
        <div class="card-box m-t-10 m-b-10 p-t-10 p-b-0" style="padding:0 !important;">
            <div class="panel-body well-sm" style="min-height:150px; padding:0 !important;">
                <div class="divider10"></div>
                <div class="row-fluid marginleft5">
                    <div class="col-sm-12 paddingleft10">
                        <input type="hidden" name="entityname" value="UserDashboard" />
                        <input type="hidden" id="id" name="id" value="<?php echo $entity->getID(); ?>" />
                        <input type="hidden" id="type" name="type" value="<?php echo $entity->getType(); ?>" />
                        <input type="hidden" id="userid" name="userid" value="<?php echo $entity->getUserID(); ?>" />
                        <input type="hidden" id="shareids_old" name="shareids_old" value="<?php echo $entity->getShareIDs(); ?>" />
                        <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" />
                        <div id="editcontent">                            
                            <h5 class="section" style="font-size:14px;"><?php echo $description; ?></h5>
                            <div class="divider10"></div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label">Share with:</label>
                                <div class="col-sm-12">
                                	<?php
										$allusers = getUsers();
										$dropdown = new Zend_Form_Element_Multiselect('userids',
												array(
													'multiOptions' => $allusers,
													'view' => new Zend_View(),
													'decorators' => array('ViewHelper'),
													'class' => array("form-control", 'input-sm', 'chosen-select', 'userid_error'),
													'style' => array('width:100% !important')                                           		)
										);
										$dropdown->setValue($userids);
										 $dropdown->setAttrib("data-placeholder", "[Select User(s)]");
										echo $dropdown->render();
									?>
                                    <div id="userids_error"></div>
                                </div>
                            </div>
                      	</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 paddingleft10 centeralign">
            <a class="gonowhere btn btn-default btn-sm" id="cancelwidget">Close</a>
            <button type="button" class="btn btn-primary btn-sm savebutton waves-effect waves-light" id="savewidget" successurl="">Save & Share</button>
       	</div>
        <div class="divider10"></div>
    </form>
</div>                                        
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>