<?php
	include APPLICATION_PATH.'/includes/header.php';

	$title = "Analysis"; 
	$pagetitle = "SMS Logs";
	$formmethod = '';
	$posturl = '';
	$resource = "Report";
	
	# pagination
	$paginate = new Pagination();	
	$paginate->setView($this);
	$paginate->setSearchColumns(array()); # search columns
	$paginate->setItemCountPerPage('ALL'); # items per page
	
	# initialize query condition
	$where_query = " ";
	
	$startdate = $request->getParam('startdate');
	if(!isEmptyString($startdate)){
		$startdate = changeDateFromPageToMySQLFormat($startdate);
	}
	$enddate = $request->getParam('enddate');
	if(!isEmptyString($enddate)){
		$enddate = changeDateFromPageToMySQLFormat($enddate);
	}
	$senderid = $request->getParam('senderid');
	if(!isEmptyString($senderid)){
		if($senderid == '0'){
			$where_query .= " AND (o.createdby = '".$senderid."') ";
		} else {
			$where_query .= " AND (o.createdby = '' OR o.createdby = null) ";
		}
	}
	$category = $request->getParam('category');
	if(!isEmptyString($category)){
		if($category == '1'){
			$where_query .= " AND o.msg LIKE '%successfully added%' ";
		}
	}
	
	# sorting & ordering
	$sortcolumn = $request->sortby;
	$sortorder = $request->sortorder;
	$order_query = " ORDER BY s.name ASC ";
	if(!isEmptyString($sortcolumn) && !isEmptyString($sortorder)){
		$order_query = " ORDER BY " . $sortcolumn. " " .$sortorder. " ";
	}
	
	$hasdates = false;
	if(!isEmptyString($startdate) && !isEmptyString($enddate)){
		$hasdates = true;
		
		$datestring = '['.changeMySQLDateToPageFormat($startdate).' - '.changeMySQLDateToPageFormat($enddate).']'; 
		$subtitle = $subtitle.'  '.$datestring;		
		$where_query .= " AND (TO_DAYS(o.datecreated) BETWEEN TO_DAYS('".$startdate."') AND TO_DAYS('".$enddate."')) ";
		
		$order = trim($request->order);
		$order_query = " ";
		if(isEmptyString($order)){
			$order = 1;
		}
		if($order == 1){
			$order_query = " ORDER BY o.datecreated DESC ";
		}
		if($order == 2){
			$order_query = " ORDER BY o.phone ASC ";
		}
		if($order == 3){
			$order_query = " ORDER BY o.phone DESC ";
		}
	}
	
	if($hasdates){
		$all_results_query = "SELECT
		o.phone,
		o.msg,
		o.datecreated,
		o.createdby,
		concat(u.firstname, ' ', u.lastname) as sender,
		o.source,
		o.resultcode,
		o.smsid
		from outbox o
		left join message m on (o.messageid = m.id) 
		left join useraccount u on (o.createdby = u.id)
		left join audittrail a on (o.id = a.subject)
		WHERE o.id <> '' ".$where_query." GROUP BY o.id	".$order_query;
					
		// debugMessage($all_results_query);  // exit;
		$conn = Doctrine_Manager::connection(); 
		$result = $conn->fetchAll($all_results_query); // debugMessage($result); 
		$has_no_data = (count($result) == 0) ? true : false;
		$total = count($result);
	}
			 
	# data lookup
	
	$this->headTitle($title.$browserappend);
?>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	
	$("#listform").validate({		
		// define the validation rules one field at a time
		rules: {
			startdate: "required",
			enddate: {
				required: true,
				enddateafterstartdate:true
			}
		}, 
		// the messages for each of the fields being validated
		messages: {		
			startdate: "Select Report Start Date",
			enddate: {
				required: "Select Report End Date"
			}
		},
		// custom error positions
		errorPlacement: function(error, element) {
			error.appendTo("#list_error")		
		}
	});
	
	<?php if($hasdates && !$has_no_data){ ?>
		var table = $('#listtable').DataTable({
			aaSorting: [],
			scrollX: true,
			scrollY: 350,
			scrollCollapse: true,
			paging: false,
			ordering: true,
			info: false,
			filter: true,
			columnDefs: [
				{ width: 150, targets: 0 }
			],
			fixedColumns: {
				leftColumns: 1
			}
		});	
	<?php } ?>
	
	$('.blockanchor').click(function(){
		if ($("#listform").valid() == true) {
			$.blockUI({ message: '<?php echo $blockcontent; ?>'}); 
		}
		return true;
	});
}); 
</script>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div class="row" id="contentarea">
    <div class="col-md-12">
        <form id="listform" role="form" class="form-horizontal" method="get" action="<?php echo $this->baseUrl("report/reportsearch/pageaction/".$action); ?>">
            <?php require_once APPLICATION_PATH.'/views/scripts/report/analysisleft.phtml'; ?>
            <div class="col-sm-9">
            	<div class="panel panel-color panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title lineblocked"><?php echo $pagetitle; ?></h3>
                        <div class="portlet-widgets lineblocked floatright">
                            <?php if($total > 0){ ?>
                            	<a class="btn btn-default btn-xs submitexcel gonowhere" id="exporttrigger" data-toggle="tooltip" data-placement="top" data-original-title="Export" title=""><i class="fa fa-arrow-down"></i> Export</a>
                           	<?php } ?>
                        </div>
                    </div>
               		<div class="panel-body minheight400">
                    	<div class="card-box margin0 padding10 clearfix">
                            <ul class="resetlist listactions clearfix">
                                 <li><input type="text" name="startdate" id="startdate" class="form-control input-sm datefield ordinary readonly width100" value="<?php echo $request->startdate; ?>" placeholder="From:" />
                                 	<div id="startdate_error"></div>
                                 </li>
                    			 <li><input name="enddate" id="enddate" type="text" class="form-control input-sm datefield ordinary readonly width100" placeholder="To:" value="<?php echo $request->enddate; ?>" />
                                 	<div id="enddate_error"></div>
                                 </li>
                                 <li>
								   <?php
                                        $values = getUsers('', '', '', '', " AND u.status = '1' AND u.type <> '' ");
                                        $dropdown = new Zend_Form_Element_Select('senderid',
                                                            array(
                                                                'multiOptions' => array_merge_maintain_keys(array('' => 'Sent By', '0' => '-system-'), $values),
                                                                'view' => new Zend_View(),
                                                                'decorators' => array('ViewHelper'),
                                                                'class' => array("xautofilter", "form-control", 'chosen-select'),
                                                                'style' => 'width:150px;'
                                                            )
                                        );  
                                        $dropdown->setValue($request->getParam('senderid')); 
                                        echo $dropdown->render();
                                    ?>
                                </li>
                                <li><button type="submit" class="btn btn-primary btn-sm blockanchor" id="filter"><i class="fa fa-filter"></i> Generate</button></li>
                            </ul>
                            <input type="hidden" name="csv_text" id="csv_text" value="" />
                            <div class="divider2"></div>
                        </div>
                        <div class="table-responsive" data-pattern="priority-columns">
							<?php if($hasdates){ ?>
                                <?php if($has_no_data) { ?>
                                    <div class="divider10"></div>
                                    <div class="alert alert-info">There are no records for this report</div>
                                <?php } else { ?>
                                	<table id="listtable" class="table table-striped table-bordered table-condensed" style="width:auto !important;">
                                    <thead style="font-size:13px !important;">
                                        <tr>
                                            <th class="nowrapping centeralign">#</th>
                                            <th class="nowrapping">Date</th>
                                            <th class="nowrapping">Sender</th>
                                            <th class="nowrapping">Phone</th>
                                            <th class="nowrapping">Message</th>
                                            <th class="nowrapping">Length</th>
                                            <th class="nowrapping">SMS ID </th>
                                            <th class="nowrapping">Result Code</th>
                                            <th class="nowrapping">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-size:12px !important;">
										<?php
                                             $counter = 1;
                                             foreach($result as $line){
                                        ?>
                                            <tr>
                                                <td class="centeralign"><span class="nullifempty"><?php echo $counter; ?></span></td>
                                                <td><span class="nullifempty"><?php echo formatDateAndTime($line['datecreated']); ?></span></td>
                                                <td><span class="nullifempty"><?php echo isEmptyString($line['createdby']) ? '-system-' : $line['sender']; ?></span></td>
                                                <td><span class="nullifempty"><?php echo $line['phone']; ?></span></td>
                                                <td><span class="nullifempty"><?php echo $line['msg']; ?></span></td>
                                                <td class="centeralign"><span class="nullifempty"><?php echo strlen($line['msg']); ?></span></td>
                                                <td><span class="nullifempty"><?php echo $line['smsid']; ?></span></td>
                                                <td><span class="nullifempty"><?php echo $line['resultcode']; ?></span></td>
                                                <td><span class="nullifempty"><?php echo in_array($line['resultcode'], array('SUBMIT_SUCCESS', '1701', 'PENDING_ENROUTE')) ? 'Sent' : ''; ?></span></td>
                                            </tr>
                                        <?php $counter++; } ?>
                                    </tbody>
                                </table>
                            	<?php } ?>
							<?php } else { ?>
                                <span class="labeldescription noresults">Select reporting parameters</span>
                            <?php } ?>
                 		</div>
                        <?php if($hasdates){ ?>
							<?php if(!$has_no_data) { ?>
                                <div class="row">
                                    <div class="table-footer">
                                        <div class="col-md-6 col-xs-12">
                                            <?php echo 'Viewing '.count($result).' entries'; ?>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            
                                        </div>
                                    </div>
                                </div>
                            <?php } ?>
                        <?php } ?>    
                  	</div>
                </div>
            </div>
     	</form>
  	</div>
</div>             
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
