<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$entity = new UserDashboard(); 
	$id = is_numeric($request->id) ? $request->id : decode($request->id);	
	$entity->populate($id); // debugMessage($entity->toArray());
	$successmessage = isEmptyString($id) ? "Successfully saved" : "Successfully updated";
	
	$title = "Widget Interpretation";
	$resourcename = 'Report'; $resourcename = 'Profile';
?>
<?php require_once APPLICATION_PATH.'/views/scripts/index/pgcjs.phtml'; ?>
<script>
$(document).ready(function() {		
	$("#view").css({'display':'none'}).addClass('hide');
	$("#new").css({'display':'none'}).addClass('hide');
	
	$(".popupdiv #popupform").validate({		
		rules: {
			title: "required"
		}, 
		// the messages for each of the fields being validated
		messages: {		
			title: "Please specify a Title"
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					if(element.hasClass("useid_error")){
						error.appendTo("#"+element.attr("id")+"_error");
					} else {
						error.appendTo("#"+element.attr("name")+"_error");
					}
					break;
			}			
		},
		ignore: ":hidden:not(select)"
	});
	
	
	$('#closewidget, #editwidget, #preview').removeClass('hide');
	<?php if($request->tab == 'edit'){ ?>
		$('#closewidget, #editwidget, #preview').addClass('hide');
		$('#cancelwidget, #savewidget, #editcontent').removeClass('hide');
	<?php } ?>
	<?php if($request->tab == 'view'){ ?>
		$('#closewidget, #editwidget, #preview').removeClass('hide');
		$('#cancelwidget, #savewidget, #editcontent').addClass('hide');
	<?php } ?>
	
	$('#closewidget').click(function(){
		$("#dialog").modal('hide').data('modal', null);
	});
	$('#editwidget').click(function(){
		$('#closewidget, #editwidget, #preview').addClass('hide');
		$('#cancelwidget, #savewidget, #editcontent').removeClass('hide');
	});
	
	$('#cancelwidget').click(function(){
		$('#closewidget, #editwidget, #preview').removeClass('hide');
		$('#cancelwidget, #savewidget, #editcontent').addClass('hide');
	});
	
	$("#popupform #savewidget").click(function(e){
		if($("#popupform").valid() == true) {
			$("#popupform #savewidget").addClass('disabledfield disabled').html('<img src="<?php echo $this->baseUrl('assets/images/loader.gif'); ?>" /> Please Wait...');
			$.post("<?php echo $this->baseUrl('report/processwidget'); ?>", 
				$("#popupform").serialize(), 
				function(data){
					// alert(data); return false;
					data = jQuery.parseJSON(data); 
					if(data.result == 'success'){
						$("#popupform #errormessage").addClass('hidden').hide().html('');
						$("#popupform #successmessage").removeClass('hidden').show().html(data.message);
						
						$('#closewidget, #editwidget, #preview').removeClass('hide');
						$('#cancelwidget, #savewidget, #editcontent').addClass('hide');
						$("#saved_title").html(data.title);
						$("#saved_notes").html(data.notes);
					} else {
						$("#popupform #errormessage").removeClass('hidden').show().html(data.message);	
						$("#popupform #successmessage").addClass('hidden').hide().html('');	
						
						$('#closewidget, #editwidget, #preview').addClass('hide');
						$('#cancelwidget, #savewidget, #editcontent').removeClass('hide');							
					}
					$("#popupform .savebutton").removeClass('disabledfield disabled').html('Save');
				}  
			);
		}
		return true;
	});	
}); 
</script>
<style>
.modal-dialog {
	width: 60%;
}
select.form-control:not(.normalwidth) {
	width:100%;
	/*display:inline-block;*/
}
</style>
<div class="popupdiv">
	<form id="popupform" class="form-horizontal" method="post">
        <div class="alert alert-danger hidden" id="errormessage"></div>
        <div class="alert alert-success hidden" id="successmessage"></div>
        <div class="card-box m-t-10 m-b-10 p-t-10 p-b-0" style="padding:0 !important;">
            <div class="panel-body well-sm" style="min-height:150px; padding:0 !important;">
                <div class="divider10"></div>
                <div class="row-fluid marginleft5">
                    <div class="col-sm-12 paddingleft10">
                        <input type="hidden" name="entityname" value="UserDashboard" />
                        <input type="hidden" id="id" name="id" value="<?php echo $entity->getID(); ?>" />
                        <input type="hidden" id="type" name="type" value="<?php echo $entity->getType(); ?>" />
                        <input type="hidden" id="userid" name="userid" value="<?php echo $entity->getUserID(); ?>" />
                        <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" />
                       	<div id="preview" class="hide">
                            <div class="form-group">
                                <label class="col-sm-12 control-label">Title:</label>
                                <div class="col-sm-12"><p class="form-control-static nullifempty padding0" id="saved_title"><?php echo $entity->getTitle(); ?></p></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label">Interpretation/Notes:</label>
                                <div class="col-sm-12">
                                     <p class="form-control-static nullifempty padding0" id="saved_notes"><?php echo nl2br($entity->getnotes()); ?></p>
                                </div>
                            </div>
                        </div>
                        <div id="editcontent" class="hide">
                            <div class="form-group">
                                <label class="col-sm-12 control-label">Title: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                <div class="col-sm-12">
                                    <input type="text" name="title" id="title" class="form-control input-sm max250content hastooltip" value="<?php echo $entity->getTitle(); ?>" />
                                    <div id="title_error"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label">Interpretation/Notes:</label>
                                <div class="col-sm-12">
                                     <textarea name="notes" id="notes" class="form-control expanding maxwords250 hastooltip" style="min-height:100px;"><?php echo $entity->getnotes(); ?></textarea>
                                    <div id="notes_error"></div>
                                </div>
                            </div>
                      	</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 paddingleft10 centeralign">
        	<a class="gonowhere btn btn-default btn-sm hide" id="closewidget">Close</a>
	    	<a class="gonowhere btn btn-primary btn-sm hide" id="editwidget">Edit</a>
            <a class="gonowhere btn btn-default btn-sm hide" id="cancelwidget">Cancel</a>
            <button type="button" class="btn btn-primary btn-sm savebutton waves-effect waves-light hide" id="savewidget" successurl="">Save</button>
       	</div>
        <div class="divider10"></div>
    </form>
</div>                                        
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>