<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$share = new Share();
	$id = decode($request->id);
	if(is_numeric($request->id)){
		$id = $request->id;
	}
	if(!isEmptyString($id)){
		$share->populate($id);
	}
	$entityname = "Share";
	$successmessage = "Successfully updated";
?>
<?php require APPLICATION_PATH."/views/scripts/index/pgcjs.phtml"; ?>
<script>
$(document).ready(function() {		
	$(".popupdiv #indexform").validate({		
		// define the validation rules one field at a time
		rules: {
			name: "required"
		}, 
		// the messages for each of the fields being validated
		messages: {				
			name: "Please enter Share Name"
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					error.appendTo("#"+element.attr("name")+"_error")
					break;
			}			
		}
	});
	
	// delete rules
	$("#deleteline, .deleteline").click(function(e) {
		e.preventDefault();
		var message = '<label class="blockcontainer notbolded">Are you sure you want to delete this entry? <br /><br /> Click <b>OK</b> to confirm, and <b>Cancel</b> to ignore</label>';
		var custom_msg = $(this).attr('message');
		if(!isEmptyString(custom_msg) && custom_msg != 'undefined'){
			var message = '<label class="blockcontainer notbolded">'+custom_msg+' <br /><br /> Click <b>OK</b> to confirm, and <b>Cancel</b> to ignore</label>';
		}
		var url = $(this).attr('action');
		// alert(url);
		if(url != 'undefined'){
			confirmDialog(message, url);
		}
	});
	
	function confirmDialog(message, url) {
		bootbox.confirm(message, function(confirmed) {
			if(confirmed){
				// $.blockUI({ message: uiblockcontent}); 
				window.location.href = url;					
				// $.blockUI({ message: uiblockcontent}); 
				return true;				
			} else {
				bootbox.hideAll();
				return false;
			}
		});
	}
});
</script>
<style>
.popupdiv .form-horizontal .control-label {
	padding-top:0;
	vertical-align:top;
}
</style>
<div class="popupdiv">
    <div class="panel-body well-sm">
        <div class="row-fluid marginleft5">
            <div class="col-sm-12 paddingleft10">
                <form id="indexform" class="form-horizontal" method="post">
                    <input name="entityname" id="entityname" type="hidden" value="<?php echo $entityname; ?>" />
                    <input type="hidden" id="id" name="id" value="<?php echo encode($share->getID()); ?>" />
                    <input type="hidden" id="companyid" name="companyid" value="<?php echo $share->getCompanyID(); ?>" />
                    <input type="hidden" id="userid" name="userid" value="<?php echo $share->getUserID(); ?>" />
                    <input type="hidden" id="fileid" name="fileid" value="<?php echo $share->getFileID(); ?>" />
                    <input type="hidden" id="folderid" name="folderid" value="<?php echo $share->getFolderID(); ?>" />
                    <input type="hidden" id="filelist" name="filelist" value="<?php echo $share->getFileList(); ?>" />
                    <input type="hidden" id="dirlist" name="dirlist" value="<?php echo $share->getDirList(); ?>" />
                    <input type="hidden" id="startdate" name="startdate" value="<?php echo $share->getStartDate(); ?>" />
                    <input type="hidden" id="status" name="status" value="<?php echo $share->getStatus(); ?>" />
                    <input type="hidden" id="canupload" name="canupload" value="<?php echo $share->getcanupload(); ?>" />
                    <input type="hidden" id="canread" name="canread" value="<?php echo $share->getcanread(); ?>" />
                    <input type="hidden" id="canlist" name="canlist" value="<?php echo $share->getcanlist(); ?>" />
                    <input type="hidden" id="candelete" name="candelete" value="<?php echo $share->getcanlist(); ?>" />
                    <input name="successmessage" id="successmessage" type="hidden" value="<?php echo $successmessage; ?>" /> 
                    <?php if($request->msg == 1){ ?>
                    	<div class="alert alert-success">Successfully created Share. Please review settings below and update accordingly</div>
                    <?php } ?>
                    <div class="form-group">
                        <label class="col-sm-3 control-label rightalign">Share URL:</label>
                        <div class="col-sm-8">
                        	<a href="<?php echo $this->serverUrl($this->baseUrl('f/id/url/'.encode($share->getID()))); ?>" target="_blank" title="Preview URL"><?php echo $this->serverUrl($this->baseUrl('f/id/url/'.encode($share->getID()))); ?></a>
                            <a href="<?php echo $this->serverUrl($this->baseUrl('f/id/url/'.encode($share->getID()))); ?>" target="_blank" class="floatright btn btn-xs">Preview Url</a>
                            <div id="url_error"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label rightalign">Share Name: <?php echo $this->translate("required_field_marker"); ?></label>
                        <div class="col-sm-8">
                        	<input type="text" class="form-control input-sm inline" name="name" id="name" value="<?php echo $share->getName(); ?>" />
                            <div id="name_error"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label rightalign">Access Rights: <?php echo $this->translate("required_field_marker"); ?></label>
                        <div class="col-sm-8">
                        	<?php 
								$accessarray = array('1' => 'List and Download', '2' => 'List, Upload and Download', '3' => 'Upload Only');
								$dropdown = new Zend_Form_Element_Select('accesstype',
													array(
														'multiOptions' => $accessarray,
														'view' => new Zend_View(), 
														'decorators' => array('ViewHelper'),
														'class' => array('form-control','input-sm', 'width200')                                            	)
												);
								$dropdown->setValue($share->getAccessType()); 
								echo $dropdown->render(); 
							?>
                            <div class="divider5"></div>
                            <label class="checkbox checkbox-inline"><input style="width: 19px; height: 25px; margin-top: -4px;" type="checkbox" id="browsesubfoler" name="browsesubfoler" <?php echo $share->getbrowsesubfoler() == 1 ? 'checked="checked"' : ''; ?> class="form-control inline" value="1" /> &nbsp; Allow user to Browse Sub Folders</label>
                            <input type="hidden" name="browsesubfoler_old" id="browsesubfoler_old" value="<?php echo $share->getbrowsesubfoler(); ?>" />
                            <div class="divider5"></div>
                            <label class="checkbox checkbox-inline"><input style="width: 19px; height: 25px; margin-top: -4px;" type="checkbox" id="canaddfolder" name="canaddfolder" <?php echo $share->getcanaddfolder() == 1 ? 'checked="checked"' : ''; ?> class="form-control inline" value="1" /> &nbsp; Allow user to Add New Folders</label>
                            <input type="hidden" name="canaddfolder_old" id="canaddfolder_old" value="<?php echo $share->getcanaddfolder(); ?>" />
                            <div id="accesstype_error"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Expiration Date: </label>
                        <div class="col-sm-8">
                        	<input type="text" class="form-control input-sm datefield readonly width100 ordinary" name="enddate" id="enddate" value="<?php echo isEmptyString($share->getEndDate()) ? '' : changeMySQLDateToPageFormat($share->getEndDate()); ?>" />
                            <span class="pagedescription blocked">Leave blank if share never expires</span>
                            <div id="enddate_error"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label paddingright0">Password Protection: </label>
                        <div class="col-sm-8">
                        	<input type="password" class="form-control input-sm width100" name="password" id="password" value="<?php echo isEmptyString($share->getPassword()) ? '' : '&bull;&bull;&bull;&bull;&bull;&bull;'; ?>" />
                        	<span class="pagedescription blocked">Enter 6 digit Password. Leave blank for no protection</span>
                            <div id="password_error"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Notes: </label>
                        <div class="col-sm-8">
                        	<textarea name="notes" id="notes" class="form-control input-sm expanding"><?php echo $share->getNotes(); ?></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-8">
                        <?php
							$backurl = $this->referer;
							$deleteurl = $this->baseUrl('shares/delete/id/'.encode($share->getID())."/entityname/Share/successurl/".encode($backurl));
						?>
                        	<a class="deleteline gonowhere btn btn-sm btn-danger" action="<?php echo $deleteurl; ?>" message="<?php echo $this->translate('global_delete_confirm_message_nonote'); ?>">Delete Share</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>