<?php
	require_once APPLICATION_PATH.'/includes/header.php';

	$title = "Shares"; 
	$listitems = "Shares";
	$subtitle = "Shared Links";
	$description = "";
	$moduleitem = "Share";
	$resource = "Shares";
	
	$startdate = $request->startdate;
	$enddate = $request->enddate;
	if(!isEmptyString($startdate)){
		$startdate = date('Y-m-d', strtotime($startdate));
		$allowclear = true;
	}
	$enddate = $request->getParam('enddate');
	if(!isEmptyString($enddate)){
		$enddate = date('Y-m-d', strtotime($enddate));
		$allowclear = true;
	}
	
	$paginate = new Pagination();	
	$paginate->setView($this);
	# set the search columns to be used on this list
	$paginate->setSearchColumns(array());
	$paginate->setFilterColumns(array());
	$paginate->setItemCountPerPage("25");
	
	# define the letter to be clicked to ease navigation 
	$where_query = " WHERE s.id <> '' ";
	$allowclear = false;
	
	if(!isEmptyString($startdate)){
		$where_query .= " AND (TO_DAYS(s.startdate) >= TO_DAYS('".$startdate."')) ";
	}
	if(!isEmptyString($enddate)){
		$where_query .= " AND (TO_DAYS(s.startdate) <= TO_DAYS('".$enddate."')) ";
	}
	
	$userid = $request->userid;
	if(!isEmptyString($userid)){
		$where_query .= " AND s.`createdby` = '".$userid."' ";
	}
	$status = trim($request->status);
	if(!isEmptyString($status)){
		// $where_query .= " AND s.`status` = '".$status."' ";
	}
	
	$order = trim($request->order);
	$order_query = " ORDER BY s.datecreated DESC, s.id desc ";
	
	$sortcolumn = $request->sortby;
	$sortorder = $request->sortorder;
	if(!isEmptyString($sortcolumn) && !isEmptyString($sortorder)){
		$order_query = " ORDER BY " . $sortcolumn. " " .$sortorder. " ";
	}
	// f.orgname as fundername, concat(t.firstname,' ',t.lastname) as supervisorname
	$paginate->processPost($request->getParams());
	$all_results_query = "SELECT 
	s.*, s.id as sid
	FROM share s 
	inner join useraccount u on s.createdby = u.id 
	left join company c on s.companyid = c.id 
	 ".$where_query." ".$paginate->getSearchAndFilterSQL()." GROUP BY s.id ".$order_query;
	// debugMessage($all_results_query); exit;
	
	// determine total number of records found
	$conn = Doctrine_Manager::connection(); 
	$count_query = "SELECT count(s.id) as total FROM share s inner join useraccount u on s.createdby = u.id left join company c on s.companyid = c.id 
	".$where_query." ".$paginate->getSearchAndFilterSQL(); // debugMessage($count_query); exit;
	$total = $conn->fetchOne($count_query);
	$paginate->setItemCount($total); //debugMessage('>> '.$total);	
	$current_results_query = $all_results_query." ".$paginate->getSQLLimit();
	
	$conn = Doctrine_Manager::connection(); 
	$result = $conn->fetchAll($current_results_query);
	$has_no_data = (count($result) == 0) ? true : false;/**/
	
	$listurl = $this->baseUrl('shares/list');
	$addurl = $this->baseUrl('shares/index');
	$description = '';
	$icon = 'glyphicon glyphicon-file';
		
	$this->headTitle($title.$browserappend);
?>
<script>
$(document).ready(function() {
	// breadcrumb config
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	$('.titlelabel').html('<?php echo $title; ?>');
	$('.desclabel').html('<?php echo $description; ?>');
	$('.pageicon').html('<span class="<?php echo $icon; ?>"></span>');
	
	// when page first loads, force all checkboxes not to be checked and no action is mark as dropdown
	$(".isread, #all").attr('checked', false);
	$("#markaction").val('');
	
	// select or unselect all checkboxes on click all
	$("#all").click(function(){		
		if(this.checked == true) {
			$(".linechecker").trigger('click');
		} else {			
			$(".linechecker").attr('checked', false);
		} 
	});
}); 
</script>
<style>
.file-list-container, .file-activity-container li {
    list-style: none;
}
.file-activity-container {
    transition-property: all;
    transition-timing-function: ease-out;
}
.prefade {
    height: 0;
    opacity: 0;
}
.file-activity-container ul li, .files-list > ul > li {
    border-style: dashed;
    border-width: 1px 0 0;
	border-color: #ddd;
    padding: 0 20px 0 15px;
}
.file-activity-container ul li {
    padding: 0 20px 0 0;
}
.table .file-activity-container ul li {
    padding: 0 20px 5px 0;
}
.file-activity-container .file-btn a {
    vertical-align: middle;
}
.files-list > ul {
    border-style: dashed;
    border-width: 0 0 1px;
	border-color: #ddd;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.active-file, .files-list > ul > li.active-file:hover {
    color: #000;
}
.file-list-item.no-content, .file-list-item.no-results {
    padding: 20px;
}
.file-activity-container .no-content {
    padding: 20px 0;
}
.file-list-item h2 {
    font-weight: 100;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}
.file-list-item .big-btn, .modal .big-btn {
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 50%;
}
.file-list-item.file-list-head {
    text-align: right;
}
.file-list-item.file-list-head, .file-list-item.more-results {
    padding: 15px 0;
}
.file-list-item.file-list-head .btn {
    margin-left: 5px;
}
.file-list-item.more-results .btn {
    margin-right: 5px;
}
.file-list-title {
    float: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 10px;
}
.modal .big-btn, .upload-status .progress, .upload-status .task-item .modal-content-title {
    width: 100%;
}
.upload-html4.well {
    margin-top: 10px;
    padding: 10px;
}
.file-list-item.no-content p {
    margin: auto;
    text-align: center;
}
.active-file .file-name > a {
    color: #000;
}
.file-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    word-break: break-all;
}
.file-check, .file-details, .file-icon, .file-name {
    display: inline-block;
    vertical-align: middle;
}
#activity .file-check {
    display: none;
}
.file-info {
    display: block;
}
.file-info span {
    opacity: 0.75;
    padding-right: 7px;
}
.file-details {
    font-size: 12px;
    line-height: 16px;
    margin: 5px 0;
    width: 70%;
}
.file-btn, .file-rename {
    display: inline;
    margin-left: 4px;
}
.file-rename {
    display: inline-block;
    line-height: 3px;
}

</style>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<?php require_once APPLICATION_PATH.'/views/scripts/index/topnavmenu.phtml'; ?>
<div class="row">
	<div class="col-sm-12">
    	<form class="form margin0 listform makerelative" action="<?php echo $this->baseUrl("shares/listsearch"); ?>" method="get" id="listform">
		<div class="box box box-color xbox-bordered">
			<div class="box-title noheader">
                <h3></h3>
            </div>
            <div class="box-content nopadding">
                <div class="row">
                    <div class="col-sm-9">
                        
                  	</div>
                    <div class="col-sm-3">
                    	<div class="divider5"></div>
                        <div class="input-group">
                            <input name="searchterm" id="searchterm" class="form-control form-search" value="<?php echo $request->searchterm; ?>" type="text" placeholder="Search..." /><span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
              	</div>
                <div class="row">
					<div class="col-sm-12">
						<div class="box box-color box-bordered">
							<div class="box-title condensed">
								<label class="checkbox inline" style="margin:0; padding:0; display:inline-block; padding-left:20px;"><input type="checkbox" name="all" class="all" id="all" style="margin:0; padding:0; position:relative; margin-right:20px;" /></label> &nbsp;&nbsp;
                                <h3 class="inline" style="float: none; margin-left:-10px;"><i class="glyphicon glyphicon-link" style="margin-right:30px;"></i> <?php echo $subtitle; ?></h3>
                                <div class="actions">
                                	<a href="<?php echo $listurl; ?>" title="Reset List and Clear all Filters" rel="tooltip"><i class="fa fa-refresh"></i></a> &nbsp;
                                </div>
							</div>
							<div class="box-content nopadding">
                            	<div class="col-sm-12 files-list">
                                	<?php if($has_no_data){ ?>
                                    	<div class="divider20"></div>
                                        <div class="alert alert-warning"><?php echo $this->translate("global_list_noentries"); ?></div>
                                    <?php } else { ?>
                                        <div class="divider5"></div>
                                        <ul class="file-list-container">
                                            <?php
                                                foreach($result as $line){
                                                    $name = $line['name'];
                                                    $type = 'share';
                                                    $viewurl = $this->serverUrl($this->baseUrl('f/id/url/'.encode($line['id'])));
                                                    $indexurl = $this->baseUrl('shares/index/id/'.encode($line['id']));
                                                    $deleteurl = $this->baseUrl('shares/delete/id/'.encode($line['id'])."/entityname/Share/successurl/".encode($this->viewurl));
                                            ?>
                                                <li class="file-list-item makerelative">
                                                    <div class="file-check" style="margin-right:15px;"><input type="checkbox" name="linechecker" class="linechecker <?php echo $type; ?>" id="share_<?php echo $line['sid']; ?>" value="<?php echo $line['sid']; ?>"></div>
                                                    <div class="file-icon file-icon-share" style="margin-right:15px;"><img src="<?php echo $this->baseUrl('images/share.jpg'); ?>" /></div>
                                                    <div class="file-details">
                                                        <div class="file-name">
                                                            <a target="_blank" href="<?php echo $viewurl; ?>"><?php echo $line['name']; ?></a>
                                                            <div class="btn-group file-rename hidden-phone">
                                                                <a class="addpopup btn btn-mini dropdown-toggle btn-file-action sf-dropdown" href="<?php echo $indexurl; ?>" title="Share Settings" rel="Share Settings" formtitle="indexform" successurl="<?php echo stripUrl($this->viewurl); ?>" action="<?php echo $this->baseUrl("shares/edit"); ?>" submittext="Update Settings"><i class="fa fa-pencil"></i></a>
                                                            </div>
                                                            <div class="file-btn">
                                                                <a target="_blank" title="Open Share URL" class="btn btn-mini" href="<?php echo $viewurl; ?>"><i class="fa fa-external-link"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="divider10"></div>
                                                        <div class="file-info">
                                                            <span class="file-detail-item"><?php echo $viewurl; ?></span>
                                                            <span class="breaker hidden-phone">|</span>
                                                            <span class="file-detail-item  hidden-phone"><?php echo date('d/m/Y h:i A', strtotime($line['datecreated'])); ?></span>
                                                            <span class="breaker hidden-phone">|</span>
                                                            <span class="file-detail-item hidden-phone"><?php echo getUserNamesFromID($line['createdby']); ?></span>
                                                            <!--<span class="breaker hidden-phone">|</span>
                                                            <span class="file-detail-item  hidden-phone">0 Clicks</span>-->
                                                        </div>
                                                    </div>
                                                    <div class="btn-group gridactions">
                                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle noround" style="padding:1px 15px 0;" data-toggle="dropdown"> Actions <span class="caret"></span></button>
                                                        <ul class="dropdown-menu" role="menu" style="left:-162px; top:1px; border:1px solid #ccc;">
                                                            <li class="open"><a href="<?php echo $viewurl; ?>" target="_blank">Open Url</a></li>
                                                            <li class="edit"><a href="<?php echo $indexurl; ?>" title="Share Settings" rel="Share Settings" class="addpopup" formtitle="indexform" successurl="<?php echo stripUrl($this->viewurl); ?>" action="<?php echo $this->baseUrl("shares/edit"); ?>" submittext="Update Settings">Edit Settings</a></li>
                                                            <li class="delete"><a class="deleteline gonowhere" action="<?php echo $deleteurl; ?>" message="<?php echo $this->translate('global_delete_confirm_message_nonote'); ?>">Delete</a></li>
                                                            
                                                        </ul>
                                                    </div>
                                                </li>   
                                            <?php } ?>
                                        </ul>
                                    <?php } ?>
                                    <div class="divider5"></div>
                                </div>
                            </div>
                      	</div>
                   	</div>
              	</div>
                <?php if(!$has_no_data) { ?>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-actions">
                                <div class="col-sm-3 paddingleft5 floatleft"><?php echo sprintf($this->translate("global_list_counter"), $paginate->getItemCounterText()); ?></div>
                                <div class="col-sm-6 padding0"><?php echo $paginate->getPaginationLinks(); ?></div>
                                <div class="col-sm-3 padding0 rightalign"><?php echo $paginate->getListCountDropDown(); ?></div>
                            </div>
                        </div>
                    </div>
                    <div class="divider5"></div>
                <?php } ?>
			</div>
        </div>
    </form>
</div>                        
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
