<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$lookuptype = new LookupType();
	
	$conn = Doctrine_Manager::connection();
	$query = "SELECT a.* FROM aclaction AS a where a.resourceid = 6 AND a.slug = '".$action."' order by a.name asc ";
	$actiondetails = $conn->fetchRow($query); // debugMessage($actiondetails);
	$lookupid = $actiondetails['key'];
	
	$tab = $request->tab;
	
	$listurl = $this->baseUrl($controller.'/'.$action);
	$title = $columnheading = $breadcrumbtitle = "Manage Data";
	$listitems = "Categories";
	$description = '';
	$lookupid = '';
	if(!isEmptyString($request->type)){
		$lookupid = trim($request->type);
	}
	
	$nextindex = ''; $columnheading = 'Values';
	$namelabel = 'Name';
	$widthstyle = 'width:600px;';
	$aliasedtypes = array();
	$islistable = false;
	$step = $request->step;
	if(isEmptyString($step)){
		$step = 'list';
	}
	
	if(!isEmptyString($lookupid)){
		$lookuptype->populate($lookupid);
		$nextindex = $lookuptype->getNextInsertIndex();
		$pagetitle = $lookuptype->getDisplayName(); 
		$description = $lookuptype->getDescription(); 
		if(in_array($lookupid, $aliasedtypes)){
			$widthstyle = 'width:95%;';
		}
		$request->setParam('type', $lookuptype->getID());
		if(!isEmptyString($lookuptype->getSection())){
			$tab = $lookuptype->getSection();
		}
	}
	// debugMessage($nextindex);
	
	$subcat = ''; $back = "";
	if(!isEmptyString($request->parentid)){
		
	}
	if(isEmptyString($tab)){
		$tab = 'program';
	}
	// $title;
	$pageid = "config_variables";
	$this->headTitle($title.$browserappend);
	$showsearch = true;
	
?>
<script>
$(document).ready(function(){
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.'Variables / '.$title; ?>');
	
	$(".updatevalue").click(function(){
		var rowid = $(this).attr('rowid');
		$("#html_"+rowid+", #btn_"+rowid+" , #html_alias_"+rowid+", #newalias_"+rowid).css({'display':'block'}).show();
		$("#text_"+rowid+", #text_alias_"+rowid).css({'display':'none'});
		$("tr#lookup_"+rowid).removeClass('editable');
		
		$('#newvalue_'+rowid+', #newalias_'+rowid).bind('keypress', function(e) {
			var keyCode = e.keyCode || e.which;
			if(e.keyCode==13){
				$("#save_"+rowid).click();
			}
		});
	});
	$(".cancel_edit").click(function(){
		var rowid = $(this).attr('rowid');
		$("#html_"+rowid+", #btn_"+rowid+" , #html_alias_"+rowid+", #newalias_"+rowid).css({'display':'none'});
		$("#text_"+rowid+", #text_alias_"+rowid).css({'display':'block'});
		$("tr#lookup_"+rowid).addClass('editable');
	});
	
	// adding new items
	$("#save, .save").click(function(){
		// alert('adding new');
		var id = '';
		var lookupid = $(this).attr('theid');
		var value = $("#newvalue").val();
		var alias = $("#newalias").val();
		var index = '<?php echo $nextindex; ?>';
		var hasalias = '<?php echo in_array($lookuptype->getID(), $aliasedtypes) ? '1' : '0'; ?>';
		if(isEmptyString(value)) {
			if(isEmptyString(value)) {
				$("div#add_error").html('<div class="alert alert-danger">Please enter value</div>');
			}
			return false;
		} else {
			$(this).hide();
			$("#wait_0").show().removeClass('hidden');
			var url = '<?php echo $this->baseUrl("variables/processvariables/successurl/".encode($this->viewurl)); ?>/id/'+id+'/lookupid/'+lookupid+'/value/'+base64_encode(value)+'/index/'+index+'/alias/'+alias;
			if(lookupid == '9'){
				var alias2 = $("#newalias2").val();
				var url = '<?php echo $this->baseUrl("variables/processvariables/successurl/".encode($this->viewurl)); ?>/id/'+id+'/lookupid/'+lookupid+'/value/'+base64_encode(value)+'/index/'+index+'/alias/'+alias+'/alias2/'+alias2;
			}
			// alert(url);
			window.location.href = url;
			//$.blockUI({ message: '<?php //echo $blockcontent; ?>' }); 
		}
	});
	$('#newvalue, #newalias').bind('keypress', function(e) {
		var keyCode = e.keyCode || e.which;
		if(e.keyCode==13){
			$("#save").click();
		}
	});
	
	// updating item
	$(".update").click(function(){
		// alert('adding new');
		var id = $(this).attr('theid');
		var lookupid = '<?php echo $lookuptype->getID(); ?>';
		var value = $("#newvalue_"+id).val();
		var index = $(this).attr('index');
		var alias = $("#newalias_"+id).val();
		var hasalias = '<?php echo in_array($lookupid, $aliasedtypes) ? '1' : '0'; ?>';
		if(isEmptyString(value)) {
			if(isEmptyString(value)) {
				$("div#add_error_"+id).html('<div class="alert alert-danger">Please enter value</div>');
			}
			return false;
		} else {
			$(this).hide(); $('#cancel_'+id).hide();
			$("#wait_"+id).show().removeClass('hidden');
			var url = '<?php echo $this->baseUrl("variables/processvariables/successurl/".encode($this->viewurl)); ?>/id/'+id+'/lookupid/'+lookupid+'/value/'+base64_encode(value)+'/index/'+index+'/alias/'+base64_encode(alias);
			if(lookupid == '9'){
				var alias2 = $("#alias2_"+id).val();
				var url = url+'/alias2/'+alias2;
			}
			//alert(url);
			
			// $.blockUI({ message: '<?php //echo $blockcontent; ?>' }); 
			window.location.href = url;
		}
	});
	
});
</script>
<style>
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #0072ce;
    color: #fff;
}
</style>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div class="row" id="contentarea">
    <div class="col-md-12">
        <form class="form form-horizontal margin0" action="<?php echo $this->baseUrl($controller."/".$action); ?>" method="get" id="indexform">
        	<?php if($request->noleft != 1){ ?>		
                <ul class="nav nav-tabs">
                    <li class="<?php echo $tab == 'program' ? 'active' : ''; ?>" id="program">
                        <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/tab/program'); ?>"><span class="visible-xs"><i class="fa fa-home"></i></span><span class="hidden-xs">Programme & Project Data</span></a>
                    </li>
                    <li class="<?php echo $tab == 'indicator' ? 'active' : ''; ?>" id="indicator">
                        <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/tab/indicator'); ?>"><span class="visible-xs"><i class="fa fa-list"></i></span><span class="hidden-xs">Indicators</span>
                        </a>
                    </li>
                    <li class="<?php echo $tab == 'raid' ? 'active' : ''; ?>" id="raid">
                        <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/tab/raid'); ?>"><span class="visible-xs"><i class="fa fa-list"></i></span><span class="hidden-xs">Risk Tracking</span>
                        </a>
                    </li>
                    <li class="<?php echo $tab == 'issue' ? 'active' : ''; ?>" id="raid">
                        <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/tab/issue'); ?>"><span class="visible-xs"><i class="fa fa-list"></i></span><span class="hidden-xs">Issue Tracking</span>
                        </a>
                    </li>
                    <li class="<?php echo $tab == 'general' ? 'active' : ''; ?>" id="general">
                        <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/tab/general'); ?>" ><span class="visible-xs"><i class="fa fa-list"></i></span><span class="hidden-xs">Other Variables</span>
                        </a>
                    </li>
                </ul>
            <?php } ?>
			<div class="divider10"></div>
            <input type="hidden" id="tab" name="tab" value="<?php echo $tab; ?>" />
            <input type="hidden" id="type" name="type" value="<?php echo $lookupid; ?>" /> 
			<?php if($request->noleft != 1){ ?>		
                <div class="col-sm-4">
                    <div class="panel panel-default panel-border">
                        <div class="panel-heading">
                            <h3 class="panel-title">Category/Type</h3>
                        </div>
                        <div class="panel-body summaryinfo" style="height:500px; overflow-y:scroll; padding-left:0;">
                            <ul class="nav nav-tabs nav-stacked margin5 listnavigation">
                                <?php 
                                    $lists = getAllists($tab);
                                    //debugMessage($lists);
                                ?>
                                <?php 
									$itemcount = 0;
									foreach($lists as $key => $value){
										$allowview = false;
										if(isEmptyString($value['aclkey'])){
											if($acl->checkPermission('Variables', 'index')){
												$allowview = true;
												$itemcount++;
											}
										} else {
											if($acl->checkPermission('Variables', $value['aclkey'])){
												$allowview = true;
												$itemcount++;
											}
										}
									?>
                                	<?php if($allowview){ ?>
                                		<li class="filtertyppe <?php echo $value['id'] == $lookupid ? 'active': ''; ?>"><a style="font-weight:normal; font-size:15px;" href="<?php echo $this->baseUrl('variables/index/type/'.$value['id']); ?>"><?php echo $value['name']; ?></a></li>
                                    <?php } ?>
                                    
                                <?php } ?>
                                <?php if($itemcount == 0){ ?>
                                    <li class="filtertyppe alert alert-warning">No options available</li>
                                    <script>
										$(document).ready(function(){
                                    		$("#<?php echo $value['section']; ?>").hide().addClass('hide');
										});
                                    </script>
                                <?php } ?>
                            </ul>
                        </div>
                    </div>
                </div>
            <?php } ?>
            <div class="col-sm-8">
                <!--<div class="panel panel-default panel-border m-b-5">
                    <div class="panel-body p-b-10">
                        <div class="row">
                        
                        </div>
                    </div>
                </div>-->
                <div class="panel panel-color panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title lineblocked" style="color:#fff;"><?php echo $pagetitle; ?></h3>
                        <div class="portlet-widgets lineblocked floatright">
                            
                        </div>
                    </div>
                    <div class="panel-body p-t-10">
                        <div class="row">
                            <table class="table table-nomargin table-bordered table-hover table-colored-header" id="" style="width:600px;">
                                <thead>
                                    <tr>
                                        <th style="width:25px;" class="centeralign">Code</th>
                                        <th><?php echo $namelabel; ?></th>
                                        <th style="width:150px;">Action</th>
                                    </tr>
                                </thead>
                                <?php if(isEmptyString($lookuptype->getID())){ ?>
                                    <tbody><tr><td colspan="3"><div class="alert alert-info clear padding10 margin10">Select a Category to display</div></td></tr></tbody>
                                <?php } ?>
                                <?php if(!isEmptyString($request->type)){ ?>
                                    <tbody id="global">
                                        <?php 
                                            $itemvalues = $lookuptype->getAllDataValues();
                                            $x = 1;
                                            foreach($itemvalues as $value){
                                                 // debugMessage($value);
                                                 $catedescription = stripcslashes($value['lookupvaluedescription']);
                                                 
                                        ?>
                                        <tr id="lookup_<?php echo $value['id']; ?>" class="editable">
                                            <td class="centeralign"><?php echo $x; ?></td>
                                            <td>
                                                <div style="position:relative;">
                                                    <span class="display" id="text_<?php echo $value['id']; ?>"><?php echo $catedescription; ?></span>
                                                    <span class="edit" id="html_<?php echo $value['id']; ?>">
                                                        <input type="text" name="newvalue_<?php echo $value['id']; ?>" id="newvalue_<?php echo $value['id']; ?>" class="form-control input-sm updatevariable" rowid="<?php echo $value['id']; ?>" value="<?php echo $value['lookupvaluedescription']; ?>" />
                                                    </span>
                                                </div>
                                                <div class="divider5"></div>
                                                <div id="add_error_<?php echo $value['id']; ?>" class="margin0"></div>
                                            </td>
                                            <td class="rightalign">
                                                <div style="position:relative;">
                                                    <span class="edit" id="btn_<?php echo $value['id']; ?>">
                                                        <label class="pull-right">
                                                            <a href="javascript:void(0)" id="save_<?php echo $value['id']; ?>" theid="<?php echo $value['id']; ?>" index="<?php echo $value['lookuptypevalue']; ?>" class="btn btn-sm btn-primary lineblocked update" title="Update Item" rel="tooltip" ><i class="fa fa-ok"></i> Save</a>&nbsp;
                                                            <a href="javascript:void(0)" style="font-size:10px;" class="cancel_edit" id="cancel_<?php echo $value['id']; ?>" rowid="<?php echo $value['id']; ?>" rel="tooltip">Cancel</a>
                                                            <label class="hidden margin0 padding0" id="wait_<?php echo $value['id']; ?>" style="position:relative;">
                                                                <span class="pagedescription">wait...</span>
                                                                <img style="margin-left:0; width:26px;" src="/assets/images/loader.gif" />
                                                            </label>
                                                        </label>
                                                    </span>
                                                    <div class="buttons" id="buttons_<?php echo $value['id']; ?>" style="position:absolute; right:0; top:-3px;">
                                                        <?php 
                                                            $allowedit = $lookuptype->updatesAllowed();
                                                            $allowdelete = true;
                                                        ?>
                                                        <?php if($allowedit){ ?>
                                                            <a href="javascript:void(0)" id="updatevalue_<?php echo $value['id']; ?>" rowid="<?php echo $value['id']; ?>" class="updatevalue btn btn-primary btn-sm" title="Update" rel="tooltip"><i class="fa fa-edit"></i></a>
                                                        <?php } else { ?>
                                                            <a class="gonowhere alert-dialog" title="Updates disabled" rel="tooltip" message="<div class='alert alert-danger'>Update on this resource is disabled</div>">--</a>
                                                        <?php } ?>
                                                        <?php if($allowdelete){ 
                                                            $classname = "LookupTypeValue";
                                                            $deleteline = $value['id'];
															if($lookupid == 20){
																$classname = "ProgramUnit";
															}
                                                        ?>
                                                                <a id="deletevalue_<?php echo $value['id']; ?>" rowid="<?php echo $value['id']; ?>" class="xdeletevalue btn btn-default btn-sm deleteline xremoveline gonowhere" title="Delete Value" rel="tooltip" action="<?php echo $this->baseUrl('index/delete/id/'.$deleteline."/entityname/".$classname."/successurl/".encode($this->viewurl)); ?>"><i class="fa fa-remove"></i></a>
                                                        <?php } else { ?>
                                                            <a class="gonowhere alert-dialog" title="Delete disabled" rel="tooltip" message="<div class='alert alert-danger'>Delete on this resource is disabled. Contact Super Admin</div>">--</a>
                                                        <?php } ?>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <?php $x++;} ?>
                                        <?php if($lookuptype->updatesAllowed() && !isEmptyString($lookupid)){ ?>
                                            <tr>
                                                <td class="centeralign"><?php echo $x; ?></td>
                                                <td>
                                                    <div style="position:relative;">
                                                        <input type="text" name="newvalue" id="newvalue" class="form-control input-sm" placeholder="Enter new value" />&nbsp;
                                                        <div id="add_error" class="margin0"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <label class="pull-right">
                                                        <a href="javascript:void(0)" id="save" theid="<?php echo $lookuptype->getID(); ?>" class="btn btn-sm btn-primary lineblocked" title="Save New Item" rel="tooltip">Save </a>
                                                        <label class="margin0 padding0 hidden" id="wait_0" style="position:relative;">
                                                            <span class="pagedescription">wait...</span>
                                                            <img style="margin-left:0; width:26px;" src="/assets/images/loader.gif" />
                                                        </label>
                                                    </label>
                                                </td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                <?php } ?>
                            </table>
                        </div>
                    </div>
                </div>
			</div>            
   		</form>
	</div>
</div>           
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>