<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$target = new ContentTarget(); $indicator = new Indicator();
	$id = is_numeric($request->id) ? $request->id : decode($request->id);	
	$class = 'ContentTarget';
	
	if(isEmptyString($id)){
		$indicator->populate($request->indicatorid);
		$target->setIndicatorID($request->indicatorid);
		$milestoneid = $request->milestoneid;
		if(isEmptyString($milestoneid)){
			$milestoneid = getActiveMilestone(1);
		}
		
		$target->setMilestoneID($milestoneid);
		$target->setType(1);
	} else {
		$target->populate($id); 
	}
	
	$uom = $target->getIndicator()->getUom();	
	$successmessage = isEmptyString($id) ? "Successfully saved" : "Successfully updated";
	$targetclass = '';
	
	$types = getMilestoneTypes();
	$milestones = getMilestonePeriods(1);
	$indicatorgroups = getDatavariablesWithOdering("INDICATOR_UNITS"); 
	
	$this->headTitle($title);
?>
<?php require_once APPLICATION_PATH.'/views/scripts/index/pgcjs.phtml'; ?>
<script>
$(document).ready(function() {		
	
	$("#<?php echo $controller == 'activity' ? 'indexform' : $formid; ?>").validate({		
		// define the validation rules one field at a time
		rules: {
			type: "required",
			milestoneid: "required",
		}, 
		// the messages for each of the fields being validated
		messages: {		
			type: "Please select Type",
			milestoneid: "Please select Milestone"
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					if(element.hasClass("useid_error")){
						error.appendTo("#"+element.attr("id")+"_error");
					} else {
						error.appendTo("#"+element.attr("name")+"_error");
					}
					break;
			}			
		},
		ignore: ":hidden:not(select)"
	});
	
	$(".targetinfo #type").change(function(){
		var type = $(this).val();
		if(type == '1'){
			enableContainerByClass('quartery');
			disableContainerByClass('monthly');
		}
		if(type == '2'){
			enableContainerByClass('monthly');
			disableContainerByClass('quartery');
		}
	});
	$(".targetinfo #type").trigger('change');
	
	$(".numberfield").keyup(function(){
		var linetotal = 0;
		$(".numberfield").each(function() {
			if (!isNaN(this.value) && this.value.length != 0) {
				linetotal += parseFloat(this.value);
			}
		});
		linetotal = linetotal.toFixed(2).replace(/\.00$/, '');
		$(".coltotal").html(linetotal).attr('total', linetotal);
	});
	$(".numberfield").trigger('keyup');
	
	$(".numberfield2").keyup(function(){
		var linetotal = 0;
		$(".numberfield2").each(function() {
			if (!isNaN(this.value) && this.value.length != 0) {
				linetotal += parseFloat(this.value);
			}
		});
		linetotal = linetotal.toFixed(2).replace(/\.00$/, '');
		$(".coltotal2").html(linetotal).attr('total', linetotal);
	});
	$(".numberfield2").trigger('keyup');
}); 
</script>
<style>
.modal-dialog {
	width: 70%;
}
.popupdiv .error {
	float:left;
}
</style>
<div class="popupdiv">
    <div class="xrow-fluid">
        <div class="col-sm-12 paddingleft0">
        	<div class="divider10"></div>
            <form id="indexform" class="form-horizontal" method="post">
                <input type="hidden" id="entityname" name="entityname" value="ContentTarget" />
                <input type="hidden" id="id" name="id" value="<?php echo encode($target->getID()); ?>" />
                <input type="hidden" id="projectid" name="projectid" value="<?php echo $target->getIndicator()->getProjectID(); ?>" />
                <input type="hidden" id="successmessage" name="successmessage" value="<?php echo $successmessage; ?>" /> 
                
                <div class="form-group">
                    <label class="col-sm-12 control-label">Indicator:</label>
                    <div class="col-sm-12"><?php echo $target->getIndicator()->getName(); ?><input type="hidden" id="indicatorid" name="indicatorid" value="<?php echo $target->getindicatorid(); ?>" /></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12 control-label">Milestone: <?php echo $this->translate("global_required_field_marker"); ?></label>
                    <div class="col-sm-12">
                        <?php
                            $dropdown = new Zend_Form_Element_Select('milestoneid',
                                                array(
                                                    'multiOptions' => $milestones,
                                                    'view' => new Zend_View(),
                                                    'decorators' => array('ViewHelper'),
                                                    'class' => array('form-control','input-sm','width200')
                                                )
                            );  
                            $dropdown->setValue($target->getMilestoneID()); 
                            echo $dropdown->render();
                        ?><div id="milestoneid_error"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12 control-label">Target Type: <?php echo $this->translate("global_required_field_marker"); ?></label>
                    <div class="col-sm-12 targetinfo">
                        <?php
                            $dropdown = new Zend_Form_Element_Select('type',
                                                array(
                                                    'multiOptions' => $types,
                                                    'view' => new Zend_View(),
                                                    'decorators' => array('ViewHelper'),
                                                    'class' => array('form-control','input-sm','width200'),
                                                )
                            );  
                            $dropdown->setValue($target->getType()); 
                            echo $dropdown->render();
                        ?>
                        <div id="type_error"></div>
                    </div>
                </div>
                <div class="form-group hide">
                	<div class="col-sm-3 paddingleft0">
                        <label class="col-sm-12 control-label">Baseline <?php echo $target->getIndicator()->isQuantitative() ? '' : 'Notes'; ?>:</label>
                        <div class="col-sm-12">
                            <?php if($target->getIndicator()->isQuantitative()){ ?>
                                <input type="text" name="baseline" id="baseline" class="form-control input-sm width150" value="<?php echo $target->getbaseline(); ?>" />
                            <?php } ?>
                            <?php if($target->getIndicator()->isQualitative()){ ?>
                                <textarea name="baseline" id="baseline" class="form-control expanding"></textarea>
                            <?php } ?>
                            <div id="baseline_error"></div>
                        </div>
               		</div>
                    <div class="col-sm-6 paddingleft0">
                        <label class="control-label col-sm-12">Statistical Unit:</label>
                        <div class="col-sm-12 nullifempty"><?php echo isArrayKeyAnEmptyString($uom, $indicatorgroups) ? '' : $indicatorgroups[$uom]; ?></div>	
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="quartery">
                            <table id="" class="table table-bordered table-nohover table-condensed" style="width:auto; font-size:12px;">
                                <thead class="bolded">
                                    <th class="nowrapping" style="min-width:150px;">Period</th>
                                    <th class="nowrapping" style=" <?php echo $target->getIndicator()->isQuantitative() ? 'min-width:150px;' : 'min-width:250px;'; ?>">Target <?php echo $target->getIndicator()->isQuantitative() ? '' : 'Notes'; ?></th>
                                    <th class="nowrapping" style="min-width:350px;">Comments</th>
                                </thead>
                                <tbody>
                                    <?php
                                        $periodends = getEndDatesofPeriod(1, date('Y')); // debugMessage($periodends);
                                        $periodstarts = getStartDatesofPeriod(1, date('Y')); // debugMessage($periodends);
                                        $linetotal = $target->get('target3', true) + $target->get('target6', true) + $target->get('target9', true) + $target->get('target12', true);
                                        $linetotal = 0;
                                        for($p=1; $p<=4; $p++){
                                            
                                            $date = $target->get('date'.($p*3), true);
                                            if(isEmptyString($date)){
                                                $date = $periodends[$p];
                                            }
                                            $periodtxt = date('M', strtotime($periodstarts[$p])).' - '.date('M', strtotime($periodends[$p]));
                                            $comment = $target->get('comment'.($p*3), true);
                                            $number = $target->get('target'.($p*3), true);
                                            if($target->getIndicator()->isQuantitative() && isEmptyString($number)){
                                                $number = '0';
                                            }
                                            $linetotal += ($number > 0 && is_numeric($number)) ? $number : '';
                                    ?>
                                        <tr>
                                            <td class="nowrapping">Q<?php echo $p; ?>  [<?php echo $periodtxt; ?>]</td>
                                            <td class="nowrapping">
                                                <?php if($target->getIndicator()->isQuantitative()){ ?>
                                                    <input type="text" name="target<?php echo $p*3; ?>" id="target<?php echo $p*3; ?>" class="form-control input-sm max10content isdecimal numberfield useid_error" value="<?php echo $number; ?>" />
                                                <?php } ?>
                                                <?php if($target->getIndicator()->isQualitative()){ ?>
                                                    <textarea name="target<?php echo $p*3; ?>" id="target<?php echo $p*3; ?>" class="form-control expanding max255content useid_error" style="height:28px;"><?php echo $number; ?></textarea>
                                                <?php } ?>
                                                <div id="target<?php echo $p*3; ?>_error" class="clearfix floatleft"></div>
                                            </td>
                                            <td class="nowrapping">
                                                <textarea class="form-control expanding elastic useid_error" name="comment<?php echo $p*3; ?>" id="comment<?php echo $p*3; ?>" style="height:28px;"><?php echo $comment; ?></textarea><div id="comment<?php echo $p*3; ?>_error"></div>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                </tbody>
                                <?php if($target->getIndicator()->isQuantitative()){ ?>
                                    <tfoot class="bolded">
                                        <th class="nowrapping">Total</th>
                                        <th class="nowrapping"><span class="coltotal"><?php echo ($linetotal); ?></span></th>
                                        <th class="nowrapping"></th>
                                    </tfoot>
                                <?php } ?>
                            </table>
                        </div>
                        <div class="monthly" style="height:300px; overflow:scroll;">
                            <table id="" class="table table-bordered table-nohover table-condensed" style="width:auto; font-size:12px;">
                                <thead class="bolded">
                                    <th class="nowrapping" style="min-width:150px;">Period</th>
                                    <th class="nowrapping" style=" <?php echo $target->getIndicator()->isQuantitative() ? 'min-width:150px;' : 'min-width:250px;'; ?>">Target Value</th>
                                    <th class="nowrapping" style="min-width:350px;">Comments</th>
                                </thead>
                                <tbody>
                                    <?php
                                        $periodends = getEndDatesofPeriod(2, date('Y')); // debugMessage($periodends);
                                        $periodstarts = getStartDatesofPeriod(2, date('Y')); // debugMessage($periodstarts);
                                        
                                        $linetotal = 0;
                                        for($p=1; $p<=12; $p++){
                                            $linetotal += $target->get('target'.$p, true);
                                            
                                            $date = $target->get('date'.($p), true);
                                            if(isEmptyString($date)){
                                                $date = $periodends[$p];
                                            }
                                            $periodtxt = date('M', strtotime($periodstarts[$p]));
                                            $comment = $target->get('comment'.($p), true);
                                            $number = $target->get('target'.($p), true);
                                            if($target->getIndicator()->isQuantitative() && isEmptyString($number)){
                                                $number = '0';
                                            }
                                            
                                    ?>
                                        <tr>
                                            <td class="nowrapping"><?php echo $periodtxt; ?></td>
                                            <td class="nowrapping">
                                                <?php if($target->getIndicator()->isQuantitative()){ ?>
                                                    <input type="text" name="target<?php echo $p; ?>" id="target<?php echo $p; ?>" class="form-control input-sm max10content isdecimal numberfield2 useid_error" value="<?php echo $number; ?>" />
                                                <?php } ?>
                                                <?php if($target->getIndicator()->isQualitative()){ ?>
                                                    <textarea name="target<?php echo $p; ?>" id="target<?php echo $p; ?>" class="form-control expanding max255content useid_error" style="height:28px;"><?php echo $number; ?></textarea>
                                                <?php } ?>
                                                <div id="target<?php echo $p; ?>_error" class="clearfix floatleft"></div>
                                            </td>
                                            
                                            <td class="nowrapping">
                                                <textarea class="form-control expanding elastic useid_error" name="comment<?php echo $p; ?>" id="comment<?php echo $p; ?>" style="height:28px;"><?php echo $comment; ?></textarea><div id="comment<?php echo $p; ?>_error"></div>
                                            </td>
                                        </tr>
                                    <?php } ?>
                                </tbody>
                                <?php if($target->getIndicator()->isQuantitative()){ ?>
                                    <tfoot class="bolded">
                                        <th class="nowrapping">Total</th>
                                        <th class="nowrapping"><span class="coltotal2"><?php echo ($linetotal); ?></span></th>
                                        <th class="nowrapping"></th>
                                    </tfoot>
                                <?php } ?>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>                                        
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>