<?php 
	if($tabt == 'cpi'){
		$indicatorids = array();
		$conn = Doctrine_Manager::connection();
		$query = "select q.id from indicator q where FIND_IN_SET('".$entity->getID()."', q.csindicators) > 0 "; // debugMessage($query);
		$results = $conn->fetchAll($query);
		$p = 0;
		foreach($results as $entry){ //  debugMessage($entry['id']);
			$indicatorids[$p] = $entry['id'];
			$p++;
		}
	} else {
		$indicatorids =  commaStringToArray($entity->getCSIndicators());
	}
	$noofindicators = count($indicatorids); // debugMessage($indicatorids);
?>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-color xpanel-primary">
			<div class="panel-heading fieldsetwrapper">
            	<?php if($tabt == 'csrship'){ ?>
                    <h3 class="panel-title section" style="font-size:13px !important;">Related CS Indicator(s)</h3>
                    <p class="text-muted font-12">Indicators in the country strategy having contribution or related to this Indicator</p>
                <?php } ?>
                <?php if($tabt == 'cpi'){ ?>
                    <h3 class="panel-title section" style="font-size:13px !important;">Project Indicator(s)</h3>
                    <p class="text-muted font-12">Project Indicators having contribution to this strategic this Indicator</p>
                <?php } ?>
			</div>
			<div class="panel-body p-t-0" style="min-height:300px;">
				 <div class="row">
					<div class="col-sm-6">
						<div class="portlet-widgets lineblocked">
							<?php if($allowedit && $tabt == 'csrship'){ ?>
								<a class="addpopup btn btn-primary btn-sm" href="<?php echo $this->baseUrl('indicator/selectindicator/id/'.$entity->getID().'/pgc/true'); ?>" title="Set Related CS Indicators" rel="Set Related Strategic Indicators" formtitle="popupform" submittext="Save Changes" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl('indicator/processcpi'); ?>"><?php echo $noofindicators > 0 ? 'Update' : 'Set'; ?> Indicators</a>
							<?php } ?>
                            <?php if($allowedit && $tabt == 'cpi'){ ?>
								<a class="addpopup btn btn-primary btn-sm" href="<?php echo $this->baseUrl('indicator/selectindicator/id/'.$entity->getID().'/pgc/true'); ?>" title="Set Contributing Project Indicators" rel="Set Contributing Project Indicators" formtitle="popupform" submittext="Save Changes" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl('indicator/processcpi'); ?>"><?php echo $noofindicators > 0 ? 'Update' : 'Set'; ?> Indicators</a>
							<?php } ?>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="text-left floatright">
                        	<?php if($noofindicators > 0) { ?>
								<p class="text-muted font-12 rightalign">Viewing <?php echo $noofindicators; ?> Indicator(s)</p>
                            <?php } else { ?>
                            	<p class="text-muted font-12 rightalign"><?php echo $this->translate("global_list_noentries"); ?></p>
                            <?php } ?>
						</div>
					</div>
				 </div>
                 
				 <div class="divider5"></div>
				 <div class="row">
					<div class="col-sm-12">
						<table class="table table-colored table-primary table-condensed table-nomargin table-striped table-bordered" style="margin-bottom:0;" id="listtable">
							<thead style="font-size:12px !important;">
								<th class="nowrapping">Ref No#</th>
								<th class="nowrapping">Indicator</th>
								<th class="nowrapping">Category</th>
								<th class="nowrapping">Indicator Type</th>
								<th class="nowrapping">Program Objective</th>
								<th class="nowrapping">Statistical Unit</th>
                                <th class="nowrapping">Baseline</th>
							</thead>
							<tbody style="font-size:12px !important;">
								<?php
									$indicatorgroups = getDatavariablesWithOdering("INDICATOR_UNITS"); 
									$indicatortypes = getIndicatorTypes();
									$programs = getPrograms();
									$indicatorlevels = array('1' => 'Objective Indicator', '2' => 'Outcome Indicator', '3' => 'Output Indicator');
									foreach($indicatorids as $indicatorid){  // debugMessage($line);
										$line = new Indicator();
										$line->populate($indicatorid);
										$previewurl =  $this->baseUrl($controller."/view/id/".encode($line->getID()));
										if($request->tab == 'indicators'){
											$previewurl = $viewurl.'/widget/details/vid/'.$line->getID();
											$indexurl = $viewurl.'/widget/add/vid/'.$line->getID();
										}
										
										$refno = '<a href="'.$previewurl.'">'.$line->getrefno().'</a>';
										if(!isEmptyString($line->getProjectID()) && $line->getType() == 4){
											$refno = '<a href="'.$previewurl.'">'.$line->getProject()->getRefNo().'-'.$line->getrefno().'</a>';
										}
								?>
									<tr>
										<td class="nowrapping nullifempty"><?php echo $refno; ?></td>
										<td class="nullifempty"><?php echo $line->getName(); ?></td>
										<td class="nowrapping"><?php echo isArrayKeyAnEmptyString($line->getlevel(), $indicatorlevels) ? '' : $indicatorlevels[$line->getlevel()]; ?></td>
										<td class="nowrapping"><?php echo isArrayKeyAnEmptyString($line->getindicatortype(), $indicatortypes) ? '' : $indicatortypes[$line->getindicatortype()]; ?></td>
										<td class="nowrapping"><?php echo isArrayKeyAnEmptyString($line->getprogramid(), $programs) ? '' : $programs[$line->getprogramid()]; ?></td>
										<td class="nowrapping"><?php echo isArrayKeyAnEmptyString($line->getuom(), $indicatorgroups) ? '' : $indicatorgroups[$line->getuom()]; ?></td>
                                        <td class="nowrapping"><?php echo $line->getBaseline(); ?></td>
										
									</tr>
								<?php } ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>