<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$entity = new Indicator();
	 
	$id = is_numeric($request->id) ? $request->id : decode($request->id);	
	$entity->populate($id); // debugMessage($entity->toArray()); // exit;
	
	$successmessage = "Successfully saved";
	$indicatortypes = getIndicatorTypes();
	
	$title = "Set Related Indicators";
	$resourcename = 'Indicator';
	$entityname = "Indicator";
	
?>
<?php require_once APPLICATION_PATH.'/views/scripts/index/pgcjs.phtml'; ?>
<script>

$(document).ready(function() {		
	$("#view").css({'display':'none'}).addClass('hide');
	$("#new").css({'display':'block'}).removeClass('hide');
	
	$("#popupform").validate({		
		rules: {
			indicatorids: "required"
		}, 
		// the messages for each of the fields being validated
		messages: {		
			indicatorids: "Please select Indicators",
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					if(element.hasClass("useid_error")){
						error.appendTo("#popupform #"+element.attr("id")+"_error");
					} else {
						error.appendTo("#popupform #"+element.attr("name")+"_error");
					}
					break;
			}			
		},
		ignore: ":hidden:not(select)"
	});
	
}); 
</script>
<style>
.modal-dialog {
	width: 70%;
	margin-top:120px;
}
select.form-control:not(.normalwidth) {
	width:100%;
}
</style>
<div class="popupdiv">
	<form id="popupform" class="form-horizontal" method="post" action="<?php echo $this->baseUrl('dataset/processgroup'); ?>">
    	<input name="entityname" id="entityname" type="hidden" value="<?php echo $entityname; ?>" />
        <input type="hidden" id="id" name="id" value="<?php echo encode($entity->getID()); ?>" />
        <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" />
        <input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($successurl); ?>" /> 
        <input type="hidden" id="csindicators_old" name="csindicators_old" value="<?php echo $entity->getcsindicators(); ?>" />
        <?php if($entity->getType() == 4){ ?>
        	<p class="text-muted font-12">Select Indicators in the country strategy having contribution or related to this Indicator.</p>
            <p class="text-muted font-12 bolded">Note: Indicators selected should have the same Indicator Type.</p>
        <?php } ?>
        <?php if($entity->getType() == 1){ ?>
        	<p class="text-muted font-12">Select Project Indicators having direct contribution to this strategic Indicator.</p>
            <p class="text-muted font-12 bolded">Note: Indicators selected should have the same Indicator Type.</p>
        <?php } ?>
        <div class="alert alert-danger hidden" id="errormessage"></div>
        <div class="alert alert-success hidden" id="successmessage"></div>
        <div class="card-box m-t-10 m-b-10 p-t-10 p-b-0" style="padding:0 !important;">
            <div class="panel-body well-sm" style="min-height:150px;">
                <div class="row-fluid">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label inlinelabel"><?php echo $entity->getType() == 4 ? 'Project' : 'CS'; ?> Indicator: </label>
                            <span class="inlinelabel nullifempty">
                            	<?php echo $entity->getType() == 4 ? $entity->getProject()->getRefno().'-' : ''; ?><?php echo $entity->getRefno(); ?>: <?php echo $entity->getTitle(); ?>
                            </span>
                     	</div>
                  	</div>
               	</div>
                <div class="row-fluid">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label inlinelabel">Indicator Type: </label>
                            <span class="inlinelabel nullifempty">
                            	<?php echo isArrayKeyAnEmptyString($entity->getindicatortype(), $indicatortypes) ? '' : $indicatortypes[$entity->getindicatortype()]; ?>
                            </span>
                     	</div>
                  	</div>
               	</div>
                <div class="row-fluid">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label inlinelabel"><?php echo $entity->getType() == 4 ? 'CS' : 'Project'; ?> Indicator(s)</label>
                            <div class="col-sm-11">
                            	<?php 
									$indicatorids = array();
									if($entity->getType() == 1){
										$conn = Doctrine_Manager::connection();
										$query = "select q.id from indicator q where FIND_IN_SET('".$entity->getID()."', q.csindicators) > 0 "; // debugMessage($query);
										$results = $conn->fetchAll($query);
										$p = 0;
										foreach($results as $entry){ //  debugMessage($entry['id']);
											$indicatorids[$p] = $entry['id'];
											$p++;
										}
									}
									if($entity->getType() == 4){
										$indicatorids = commaStringToArray($entity->getCSIndicators());
									}
									
									$conn = Doctrine_Manager::connection();
									$prog_query = "SELECT p.id, p.name as objective, p.code as refno from program p WHERE p.type = '1' order by CAST(p.code as unsigned) "; // debugMessage($prog_query); 
									
									$prog_result = $conn->fetchAll($prog_query); 
								?>
								<select id="indicatorids" name="indicatorids[]" class="form-control input-sm chosen-select hastooltip linetip" multiple="multiple" data-placeholder="[select one or more <?php echo $entity->getType() == 4 ? 'Strategic' : 'Project'; ?> Indicators]">
									
									<?php foreach($prog_result as $pline){ ?>
                                        <option value="<?php echo $pline['id']; ?>" datatype="objective" disabled style="font-size:15px; color:#000;">Objective <?php echo $pline['refno'].'. '.$pline['objective']; ?></option>
                                        <?php 
                                            $indicator_query = "SELECT i.id, i.title, i.refno from indicator i WHERE i.type = '1' AND i.programid = '".$pline['id']."' order by i.refno "; // debugMessage($indicator_query);
											if($entity->getType() == 1){
												$indicator_query = "SELECT i.id, i.title, i.refno, p.refno as prefno from indicator i inner join project p on i.projectid = p.id WHERE i.type = '4' AND i.programid = '".$pline['id']."' order by p.refno, i.refno "; // debugMessage($indicator_query);debugMessage($prog_query); 
											}
                                            $ind_result = $conn->fetchAll($indicator_query);
                                        ?>
                                        <?php foreach($ind_result as $line){ 
											$title = preg_replace( '/[^[:print:]]/', '', $line['title']);
											$selected = false;
											if($entity->getType() == 1 && in_array($line['id'], $indicatorids)){
												$selected = true;
											} 
											if($entity->getType() == 4 && in_array($line['id'], $indicatorids)){
												$selected = true;
											}
										?>
											<option value="<?php echo $line['id']; ?>" <?php echo $selected == true ? 'selected="selected"' : ''; ?>  datatype="indicator" style="padding-left:20px;"><?php echo $entity->getType() == 1 ? $line['prefno'].': ' : ''; ?>Indicator <?php echo $line['refno'].' - '.$title; ?></option>
										<?php } ?>
									<?php } ?>
								</select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>                                        
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>