<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default panel-border">
            <div class="panel-heading">
                <h3 class="panel-title section">Indicator Targets</h3>
            </div>
            <div class="panel-body"> 
                <div class="row-fluid">
                    <div class="divider5"></div>
                    <ul class="nav nav-tabs">
                        <?php foreach($milestones as $key => $mile){ ?>
                            <li class="milestone_<?php echo $key; ?> <?php echo $milestoneid == $key ? 'active' : ''; ?>">
                                <a href="<?php echo $isexternal ? $viewurl.'/tabv/overview/widget/details/vid/'.$entity->getID().'/tabt/targets/milestoneid/'.$key : $this->baseUrl($controller.'/'.$action.'/id/'.encode($entity->getID()).'/tabt/targets/milestoneid/'.$key); ?>"><?php echo $mile; ?></a>
                            </li>
                        <?php } ?>
                        <li class="milestone_total <?php echo $request->milestoneid == 'total' ? 'active' : ''; ?>">
                            <a href="<?php echo $isexternal ? $viewurl.'/tabv/overview/widget/details/vid/'.$entity->getID().'/tabt/targets/milestoneid/total' : $this->baseUrl($controller.'/'.$action.'/id/'.encode($entity->getID()).'/tabt/targets/milestoneid/total'); ?>">Overview</a>
                        </li>
                    </ul>
                    <div class="col-sm-9">
                        <?php if($nooftargets == 0 && is_numeric($milestoneid)){ ?>
                            <p class="text-muted font-12 clearfix inline" style="font-size:12px;">No targets have been set.</p>
                        <?php } ?>
                    </div>
                    <div class="divider2"></div>
                    <div class="table-responsive" data-pattern="priority-columns">
                    <?php if(is_numeric($milestoneid) && $milestoneid != 'total'){ ?>
                        <?php if($nooftargets == 0){ ?>
                            <a class="btn addpopup btn-primary btn-xs" href="<?php echo $this->baseUrl('indicator/addtarget/milestoneid/'.$milestoneid.'/indicatorid/'.$entity->getID().'/pgc/true'); ?>" rel="Add Targets for Indicator" formtitle="indexform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("indicator/processtarget"); ?>">Set Targets</a><div class="divider5"></div>
                        <?php } else { ?>
                            <a class="btn addpopup btn-primary btn-xs" href="<?php echo $this->baseUrl('indicator/addtarget/id/'.$target->getID().'/pgc/true'); ?>" rel="Add Targets for Indicator" formtitle="indexform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("indicator/processtarget"); ?>">Update Targets</a><div class="divider5"></div>
                        <?php } ?>
                        <table id="" class="table table-bordered table-nohover table-condensed" style="width:auto; font-size:12px;">
                            <thead class="bolded">
                                <th class="nowrapping" style="min-width:150px;">Milestone</th>
                                <th class="nowrapping" style="min-width:150px;">Period</th>
                                <th class="nowrapping" style=" <?php echo $entity->isQuantitative() ? 'min-width:150px;' : 'min-width:250px;'; ?>">Target <?php echo $entity->isQuantitative() ? '' : 'Notes'; ?></th>
                                <th class="nowrapping" style="min-width:350px;">Comments</th>
                            </thead>
                            <?php if($nooftargets > 0){ ?>
                                <tbody>
                                    <?php
                                        $max = 4; $factor = 3;
                                        if($target->getType() == 2){
                                            $max = 12; $factor = 1;
                                        }
                                        $periodends = getEndDatesofPeriod(1, date('Y')); // debugMessage($periodends);
                                        $periodstarts = getStartDatesofPeriod(1, date('Y')); // debugMessage($periodends);
                                        if($target->getType() == 2){
                                            $periodends = getEndDatesofPeriod(2, date('Y')); // debugMessage($periodends);
                                            $periodstarts = getStartDatesofPeriod(2, date('Y')); // debugMessage($periodstarts);
                                        }
    
                                        $linetotal = 0;
                                        for($p=1; $p<=$max; $p++){
                                            
                                            $date = $target->get('date'.($p*$factor), true);
                                            if(isEmptyString($date)){
                                                $date = $periodends[$p];
                                            }
                                            $periodtxt = 'Q'.$p.' - '.date('M', strtotime($periodstarts[$p])).' - '.date('M', strtotime($periodends[$p]));
                                            if($target->getType() == 2){
                                                $periodtxt = date('M', strtotime($periodstarts[$p]));
                                            }
                                            
                                            $comment = $target->get('comment'.($p*$factor), true);
                                            $number = $target->get('target'.($p*$factor), true);
                                            if($target->getIndicator()->isQuantitative() && isEmptyString($number)){
                                                $number = '';
                                            }
                                            $linetotal += ($number > 0 && is_numeric($number)) ? $number : '';
                                            $milename = isArrayKeyAnEmptyString($milestoneid, $milestones) ? '' : $milestones[$milestoneid];
                                            if($target->getType() == 2){
                                                // $milename = ;
                                            }
                                    ?>
                                        <tr>
                                            <td class="nowrapping nullifempty"><?php echo $milename; ?></td>
                                            <td class="nowrapping"><?php echo $periodtxt; ?></td>
                                            <td class="nowrapping nullifempty"><?php echo $entity->isQuantitative() ? formatNum($number) : $number; ?></td>
                                            <td class="nowrapping nullifempty"><?php echo $comment; ?></td>
                                        </tr>
                                    <?php } ?>
                                </tbody>
                                <?php if($entity->isQuantitative()){ ?>
                                    <tfoot class="bolded">
                                        <th class="nowrapping">Total</th>
                                        <th class="nowrapping"></th>
                                        <th class="nowrapping"><span class="coltotal"><?php echo formatNum($linetotal); ?></span></th>
                                        <th class="nowrapping"></th>
                                    </tfoot>
                                <?php } ?>
                            <?php } ?>
                        </table>
                    <?php } else { ?>
                        
                        <table id="" class="table table-bordered table-nohover table-condensed" style="width:auto; font-size:12px;">
                            <tbody>
                                <tr>
                                    <td class="nowrapping nullifempty" style="min-width:250px;">Baseline</td>
                                    <td class="nowrapping nullifempty"><?php echo $targetlines->get(0)->getBaseline(); ?></td>
                                </tr>
                                <?php 
                                    $linetotal = 0;
                                    if($nooftargets > 0){ ?>
                                    <?php
                                        // debugMessage($targetlines->toArray());
                                        foreach($targetlines as $atarget){
                                            $number = $atarget->get('target3', true) +$atarget->get('target6', true) + $atarget->get('target9', true) + $atarget->get('target12', true);
                                            // debugMessage($number.' <<');
                                            if($atarget->getType() == 2){
                                                $number = 0;
                                                for($p =1; $p<=12; $p++){
                                                    $number += $atarget->get('target'.$p, true);
                                                }
                                            }
                                            $linetotal += $number;
                                            
                                    ?>
                                        <tr>
                                            <td class="nowrapping nullifempty">Target <?php echo $atarget->getMilestone()->getName(); ?></td>
                                            <td class="nowrapping nullifempty"><?php echo $entity->isQuantitative() ? formatNum($number) : $number; ?></td>
                                        </tr>
                                    <?php } ?>
                                </tbody>
                            <?php } ?>
                            <?php if($entity->isQuantitative()){ ?>
                                <tfoot class="bolded">
                                    <th class="nowrapping">Target Total</th>
                                    <th class="nowrapping"><span class="coltotal"><?php echo formatNum($linetotal); ?></span></th>
                                </tfoot>
                            <?php } ?>
                        </table>
                    <?php } ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>