<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$isexternal = false;
	if($controller == 'project' && $action == 'view'){
		$isexternal = true;
	}
 
 	$entity = new Indicator();
	$theid = is_numeric($request->id) ? $request->id : decode($request->id);
	if($isexternal){
		$theid = is_numeric($request->vid) ? $request->vid : decode($request->vid);	
	}
	$entity->populate($theid); // debugMessage($entity->toArray()); // exit;
	
	$posturl = '';
	$formid = 'viewform';
	$formmethod = 'post';
	
	$tabt = trim($request->tabt); $sectionv = trim($request->sectionv);  $milestoneid = trim($request->milestoneid);
	if(isEmptyString($tabt)){
		$tabt = 'overview';
	}
	if(isEmptyString($sectionv)){
		$sectionv = 'view';
	}
	if(isEmptyString($milestoneid)){
		$milestoneid = getActiveMilestone(1);
	}
	
	$title = 'Indicators';
	if($entity->getType() == 1){
		$title = 'CS Indicators';
	}
	$pagetitle = 'Indicator No# '.$entity->getRefNo();
	if(!isEmptyString($entity->getProjectID())){
		$pagetitle = 'Indicator No# '.$entity->getProject()->getRefNo().'-'.$entity->getRefNo();
	}
	$description = "";
	$listurl = $this->baseUrl("indicator/list");
	$listitems  = "Indicators";
	
	$targetlines =  $entity->getTargets($milestoneid); 
	$nooftargets = $targetlines->count();
	if($milestoneid == 'total'){
		$targetlines = $entity->getTargets(); // debugMessage($targetlines->toArray());
		$nooftargets = $targetlines->count();
	}
	
	$entitygroups = getDatavariablesWithOdering("INDICATOR_UNITS"); 
	$entitytypes = getIndicatorTypes();
	$frequencies = getPeriodFrequencies();
	$users = getUsers();
	$movtypes = getDatavariablesWithOdering("INFORMATION_SOURCES"); 
	$dissaggregate = isArrayKeyAnEmptyString($entity->getuom(), $entitygroups) ? '' : $entitygroups[$entity->getuom()];
	$programs = getPrograms();
	$milestones = getMilestonePeriods(1); // debugMessage($milestones);
	$target = new ContentTarget();
	$conn = Doctrine_Manager::connection(); 
	$currenttargetid = $conn->fetchOne("select id from content_target where milestoneid = '".$milestoneid."' AND indicatorid = '".$entity->getID()."' ");
	if(!isEmptyString($currenttargetid)){
		$target->populate($currenttargetid);
	}
	
	$impactarea = '';
	if(!isEmptyString($entity->getContentID())){
		if($entity->getframe()->getLevel() == '3'){
			$impactno = 'Output '.$entity->getframe()->getRefNo().'. ';
			$impactarea = $impactno.$entity->getframe()->getTitle();
		}
		if($entity->getframe()->getLevel() == '2'){
			$impactno = 'Outcome '.$entity->getframe()->getRefNo().'. ';
			$impactarea = $impactno.$entity->getframe()->getTitle();
		}
	}
	if($entity->getframe()->getLevel() == '1'){
		$impactno = $entity->getProgram()->getCode();
		$impactarea = 'Objective: '.$entity->getProgram()->getName();
	}
	
	$level = '';
	switch($entity->getLevel()){
		case 1:
			$level = 'Objective Indicator';
			break;
		case 2:
			$level = 'Outcome Indicator';
			break;
		case 3:
			$level = 'Output Indicator';
			break;
	}
	
	$allowadd = false; $allowedit = false; $allowdelete = false;
	$indexacl = 'index'; $updateacl = 'update'; $viewacl = 'list'; $deleteacl = 'delete';
	$resource = "Indicator";
	if($acl->checkPermission($resource, $indexacl)){
		$allowadd = true;
	}
	if($acl->checkPermission($resource, $updateacl)){
		$allowedit = true;
		if($acl->checkPermission($resource, 'viewown') && $entity->getCreatedBy() != getUserID()){
			$allowedit = false;
		}
		if($acl->checkPermission($resource, 'manageown') && $entity->getCreatedBy() != getUserID()){
			$allowedit = false;
		}
	}
	if($acl->checkPermission($resource, $deleteacl)){
		$allowdelete = true;
		if($acl->checkPermission($resource, 'viewown') && $entity->getCreatedBy() != getUserID()){
			$allowdelete = false;
		}
		if($acl->checkPermission($resource, 'manageown') && $entity->getCreatedBy() != getUserID()){
			$allowdelete = false;
		}
	}
	
	$addurl = $this->baseUrl('indicator/index'); 
	$indexurl = $this->baseUrl('indicator/index/id/'.encode($entity->getID()));
	if($isexternal){ 
		$addurl = $viewurl.'/widget/add';
		$indexurl = $viewurl.'/widget/add/vid/'.$entity->getID();
		$listurl = $viewurl;
	}
	
	if(!$isexternal){
		$this->headTitle($title.$browserappend);
    }
?>
<script>
$(document).ready(function() {
	<?php if(!$isexternal){ ?>
		$('.page-title').html('<?php echo $title; ?>');
		$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	<?php } ?>
	
	equalHeight($("#expleft, #expright"));
});
</script>
<style>

</style>
<?php if(!$isexternal){ ?>
	<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<?php } ?>
<div class="rowx" id="contentarea">
    <div class="col-md-12">
        <form id="viewform" role="form" class="form-horizontal" method="get">
            <div class="panel <?php echo !$isexternal ? 'panel-color panel-primary' : ''; ?>">
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked <?php echo !$isexternal ? '' : 'section'; ?>"><?php echo $pagetitle; ?></h3>
                    <div class="portlet-widgets lineblocked floatright">
                        <?php if($allowadd) { ?>	
                            <a class="btn btn-default btn-xs" href="<?php echo $addurl; ?>" title="Add New Indicator"><i class="fa fa-plus"></i> Add</a>
                        <?php } ?>
						<?php if ($allowedit) { ?>	
                            <a class="btn btn-default btn-xs" href="<?php echo $indexurl; ?>" title="Update"><i class="fa fa-edit"></i> Edit</a>
                        <?php } ?>
                        
                        <a href="<?php echo $listurl; ?>" class="btn btn-default btn-xs" title="All Indicators"> Indicators <i class="fa fa-arrow-right"></i></a>
                        <?php if($allowdelete) { ?>	    
                        	<a class="btn btn-default btn-xs gonowhere deleteline" action="<?php echo $this->baseUrl('indicator/delete/id/'.encode($entity->getID())."/entityname/Indicator/successurl/".encode($listurl)); ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>" type="button" title="Delete"><i class="fa fa-trash"></i></a>
                        <?php } ?>
                    </div>
                </div>
                <div class="panel-body" <?php echo !$isexternal ? '' : 'style="padding-top:5px;"'; ?>>
                	<div class="row-fluid" style="margin-top:-10px; margin-left:-15px;">
                        <div class="col-sm-10 paddingleft0">
                                <label class="control-label inline inlinelabel" style="font-size:15px !important;">Indicator:</label>
                                <span class="blocked nullifempty inlinelabel" style="font-size:15px !important;"><?php echo $entity->getName(); ?></span>
                        </div>
                        <div class="col-sm-2 rightalign pullright">
                            
                        </div>
                    </div>
                    <div class="divider10"></div>
                    <div class="row">
                    	<ul class="nav nav-tabs">
                            <li class="overview <?php echo $tabt == 'overview' ? 'active' : ''; ?>">
                                <a href="<?php echo $isexternal ? $viewurl.'/tabt/overview/widget/details/vid/'.$entity->getID() : $this->baseUrl($controller.'/'.$action.'/id/'.encode($entity->getID())); ?>">Overview</a>
                            </li>
                            <li class="targets <?php echo $tabt == 'targets' ? 'active' : ''; ?>">
                                <a href="<?php echo $isexternal ? $viewurl.'/tabt/targets/widget/details/vid/'.$entity->getID() : $this->baseUrl($controller.'/'.$action.'/id/'.encode($entity->getID()).'/tabt/targets'); ?>"> Milestone Targets</a>
                            </li>
                            <?php if(!isEmptyString($entity->getProjectID()) || $entity->getType() == 4){ ?>
                                <li class="csrship <?php echo $tabt == 'csrship' ? 'active' : ''; ?>">
                                    <a href="<?php echo $isexternal ? $viewurl.'/tabt/csrship/widget/details/vid/'.$entity->getID() : $this->baseUrl($controller.'/'.$action.'/id/'.encode($entity->getID()).'/tabt/csrship'); ?>"> Relationship with Country Strategy</a>
                                </li>
                            <?php } ?>
                            <?php if($entity->getType() == 1){ ?>
                                <li class="csrship <?php echo $tabt == 'cpi' ? 'active' : ''; ?>">
                                    <a href="<?php echo $isexternal ? $viewurl.'/tabt/cpi/widget/details/vid/'.$entity->getID() : $this->baseUrl($controller.'/'.$action.'/id/'.encode($entity->getID()).'/tabt/cpi'); ?>"> Contributing Project Indicators</a>
                                </li>
                            <?php } ?>
                        </ul>
                        <div class="tab-content minheight300">
                    		<div class="tab-pane <?php echo $tabt == 'overview' ? 'active' : ''; ?>" id="overview">
                            	<?php if($tabt == 'overview'){ ?>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel">
                                                <div class="panel-body" style="padding-bottom: 0px;">
                                                    <div class="form-group hide">
                                                        <label class="col-sm-12 control-label">Indicator: <?php echo $entity->getRefno(); ?>:</label>
                                                        <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo $entity->getTitle(); ?></p></div>
                                                    </div>
                                                    <?php if(!isEmptyString($entity->getProjectID())){ ?>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-12">Project:</label>
                                                            <div class="col-sm-12 nullifempty"><p class="form-control-static nullifempty padding0"><?php echo $entity->getProject()->getName(); ?></p></div>
                                                        </div>
                                                    <?php } ?>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-12">Result Area:</label>
                                                        <div class="col-sm-12 nullifempty"><p class="form-control-static nullifempty padding0"><?php echo $impactarea; ?></p></div>
                                                    </div>
                                                    <div class="form-group margin0">
                                                        <label class="col-sm-12 control-label">Description:</label>
                                                        <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo nl2br($entity->getDescription()); ?></p></div>
                                                    </div>
                                                    <div class="divider10"></div>
                                                    <div class="form-group">
                                                        <div class="col-sm-6 paddingleft0">
                                                            <label class="control-label inlinelabel">Indicator Type:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo isArrayKeyAnEmptyString($entity->getindicatortype(), $entitytypes) ? '' :  $entitytypes[$entity->getindicatortype()]; ?></span>
                                                        </div>
                                                        <div class="col-sm-6 paddingleft0">
                                                            <label class="control-label inlinelabel">Program Objective:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo isArrayKeyAnEmptyString($entity->getProgramID(), $programs) ? '' :  $programs[$entity->getProgramID()]; ?></span>
                                                        </div>
                                                   	</div>
                                                   	<div class="form-group">
                                                        <div class="col-sm-6 paddingleft0">
                                                            <label class="control-label inlinelabel">Statistical Unit:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo $dissaggregate; ?></span>
                                                        </div>
                                                        <div class="col-sm-6 paddingleft0">
                                                            <label class="control-label inlinelabel">Category:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo $level; ?></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-6 paddingleft0">
                                                            <label class="control-label inlinelabel">Baseline:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo $entity->getBaseline(); ?></span>
                                                        </div>
                                                        <div class="col-sm-6 paddingleft0">
                                                            <label class="control-label inlinelabel">Baseline Year:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo isArrayKeyAnEmptyString($entity->getBaseMilestoneID(), $milestones) ? '' : $milestones[$entity->getBaseMilestoneID()]; ?></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <?php if($entity->isQuantitative() && $entity->getType() == 4){ ?>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="panel panel-default panel-border">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title section">Evaluation Expression (Numerator)</h3>
                                                    </div>
                                                    <div class="panel-body nullifempty" id="expleft" style="min-height:50px;">
                                                        <?php if ($allowedit) { ?>	
                                                            <a class="btn addpopup btn-primary btn-xs" href="<?php echo $this->baseUrl('indicator/setexpression/id/'.$entity->getID().'/pgc/true/type/1'); ?>" rel="Set Numerator Expression" formtitle="indexform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("indicator/processexpression"); ?>">Set Numerator</a>
                                                        <?php } ?>
                                                        
                                                        <div class="divider15"></div>
                                                        <div class="col-sm-12 nullifempty"><p class="form-control-static nullifempty padding0"><?php echo isEmptyString($entity->getNumeratorTitle()) ? '' : $entity->getNumeratorTitle().'<br>'; ?><?php echo $entity->getNumeratorDetails(); ?></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="panel panel-default panel-border">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title section">Evaluation Expression (Denominator)</h3>
                                                    </div>
                                                    <div class="panel-body nullifempty" id="expright" style="min-height:50px;">
                                                        <?php if ($allowedit) { ?>	
                                                            <a class="btn addpopup btn-primary btn-xs" href="<?php echo $this->baseUrl('indicator/setexpression/id/'.$entity->getID().'/pgc/true/type/2'); ?>" rel="Set Denominator Expression" formtitle="indexform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("indicator/processexpression"); ?>">Set Denominator</a>
                                                        <?php } ?>
                                                        <div class="divider15"></div>
                                                        <div class="col-sm-12 nullifempty"><p class="form-control-static nullifempty padding0"><?php echo isEmptyString($entity->getDenominatorTitle()) ? '' : $entity->getDenominatorTitle().'<br>'; ?><?php echo $entity->getDenominatorDetails(); ?></p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   	<?php } ?>
                                    <div class="row hide">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default panel-border">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title section">Indicator Details</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-sm-6 paddingleft0">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-12">Means of Verification:</label>
                                                            <div class="col-sm-12 nullifempty"><p class="form-control-static nullifempty padding0"><?php echo isArrayKeyAnEmptyString($entity->getmov(), $movtypes) ? '' : $movtypes[$entity->getmov()]; ?><?php echo isEmptyString($entity->getmovdetails()) ? '' : '<div class="divider2"></div>'.nl2br($entity->getmovdetails()); ?></p></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4 paddingright0">Frequency of Evaluation:</label>
                                                            <div class="col-sm-8 nullifempty"><p class="form-control-static nullifempty padding0"><?php echo isArrayKeyAnEmptyString($entity->getfrequency(), $frequencies) ? '' : $frequencies[$entity->getfrequency()]; ?></p></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 paddingleft0">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-12">Assumptions:</label>
                                                            <div class="col-sm-12 nullifempty"><p class="form-control-static nullifempty padding0"><?php echo $entity->getassumptions(); ?></p></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4">Responsibility:</label>
                                                            <div class="col-sm-8 nullifempty"><p class="form-control-static nullifempty padding0"><?php echo isArrayKeyAnEmptyString($entity->getUserID(), $users) ? '' : $users[$entity->getUserID()]; ?></p></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								<?php } ?>
                            </div>
                            <div class="tab-pane <?php echo $tabt == 'csrship' ? 'active' : ''; ?>" id="csrship">
                            	<?php if($tabt == 'csrship'){ ?>
                                	<?php require_once APPLICATION_PATH.'/views/scripts/indicator/csindicators.phtml'; ?>
                              	<?php } ?>
                            </div>
                            <div class="tab-pane <?php echo $tabt == 'cpi' ? 'active' : ''; ?>" id="cpi">
                            	<?php if($tabt == 'cpi'){ ?>
                                	<?php require_once APPLICATION_PATH.'/views/scripts/indicator/csindicators.phtml'; ?>
                              	<?php } ?>
                            </div>
                            <div class="tab-pane <?php echo $tabt == 'targets' ? 'active' : ''; ?>" id="targets">
                            	<?php if($tabt == 'targets'){ ?>
                                	<?php require_once APPLICATION_PATH.'/views/scripts/indicator/targets.phtml'; ?>
                            	<?php } ?>
                            </div>
                     	</div>
            		</div>
                </div>
           	</div>
            <div class="row hide">
                <div class="col-md-12" style="font-size:12px !important;">
                    <div class="card-box p-t-10 p-b-10 clearfix">
                        <div class="form-group m-b-0 clearfix">
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-bottom:4px;">
                                    <label class="col-sm-3 control-label" style="font-size:12px !important;">Date Created:</label>
                                    <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo isEmptyString($entity->getDateCreated()) ? '' : formatDateAndTime($entity->getDateCreated(), false); ?></div>
                                </div>
                                <div class="form-group" style="margin-bottom:4px;">
                                    <label class="col-sm-3 control-label" style="font-size:12px !important;">Created By:</label>
                                    <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo $entity->getCreator()->getName(); ?></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-bottom:4px;">
                                    <label class="col-sm-3 control-label" style="font-size:12px !important;">Last Modified:</label>
                                    <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo isEmptyString($entity->getLastUpdateDate()) ? '' : formatDateAndTime($entity->getLastUpdateDate(), false); ?></div>
                                </div>
                                <div class="form-group" style="margin-bottom:4px;">
                                    <label class="col-sm-3 control-label" style="font-size:12px !important;">Modified By:</label>
                                    <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo $entity->getupdator()->getName(); ?></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       	</form>
	</div>
</div>                                                              
<?php if(!$isexternal){ ?>      
	<?php
        require_once APPLICATION_PATH.'/includes/footer.php';
    ?>
<?php } ?>