<a class="gonowhere right-menu-item dropdown-toggle" data-toggle="dropdown">
    <i class="mdi mdi-email"></i><span class="badge up bg-danger"><?php echo $unread_messages; ?></span>
</a>
<ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right dropdown-lg user-list notify-list">
    <li class="text-center">
        <h5>Notifications</h5>
    </li>
    <?php if($latestmsg->count() == 0){ ?>
        <li><div class="alert alert-warning">No new messages</div></li>
    <?php } else { ?>
        <?php
            foreach($latestmsg as $message){ 
                // debugMessage($reply_path);
                $readclass = "read";
                $read_label = ' &nbsp;<span class="pagedescription" style="font-size:10px; position:absolute; right:12px; top:0; color:green;">(read)</span>';
                if(!$message->getMessageDetails()->hasReadMessage()){
                    $readclass = "unread";
                    $read_label = ' &nbsp;<span class="pagedescription" style="color:red; font-size:10px; position:absolute; right:12px; top:0;">(unread)</span>';
                }
                
                $message_title = "View message details";
                $reply_path = $this->baseUrl("messaging/view/id/".encode($message->getMessageDetails()->getID()));
                
        ?>
            <li>
                <a class="user-list-item" href="<?php echo $this->baseUrl('messaging/view/id/'.encode($message->getMessageDetails()->getID())); ?>">
                    <div class="avatar">
                        <?php if($message->getSenderID() == 1){ ?>
                            <i class="fa fa-flag" style="font-size:24px;"></i>
                        <?php } else { ?>
                            <img src="<?php echo getImagePath($message->getSenderID(), $message->getSender()->getProfilephoto(), $message->getSender()->getGender()); ?>" style="width:auto; height:24px;" />
                        <?php } ?>
                    </div>
                    <div class="user-desc">
                        <span class="name"><?php echo $message->getSenderID() == 1 && ($message->getSubjectType() == '1' || isEmptyString($message->getSubjectType())) ? '[System Alert]' : $message->getSender()->getName(); ?></span>
                        <span class="desc blocked" style="font-size:12px;"><?php echo snippet($message->getSubject(), 50, ' ...'); ?></span>
                        <span class="desc blocked" style="font-size:10px;"><?php echo snippet($message->getContents(), 65, ' ...more'); ?></span>
                        <span class="time">Sent on <?php echo formatDateAndTime($message->getDateCreated(), false); ?></span>
                    </div>
                </a>
            </li>
         <?php } ?>
    <?php } ?>
    <li class="all-msgs text-center"><a href="<?php echo $this->baseUrl('messaging/inbox'); ?>">Go to Message center <i class="fa fa-arrow-right"></i></a></li>
</ul>