<?php if($this->layoutx == 1){ ?>
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box xm-b-10 p-t-20 p-b-10">
                <div class="titlebread pull-right">
                    <span class="titlebreadcrumb"></span>
                </div>
                <h4 class="page-title">Loading...</h4>
            </div>
        </div>
    </div>
<?php } ?>  
<?php if($this->layoutx == 2){ ?>
    <div class="row">
        <div class="col-xs-12">
            <div class="page-title-box xm-b-10 p-t-20 p-b-10">
                <h4 class="page-title">Loading...</h4>
                <div class="titlebread pull-right">
                    <span class="titlebreadcrumb"></span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
<?php } ?>    