<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$title = "404";
	$this->headTitle($title.$browserappend);
	$failurlstr = '';
	if(!isEmptyString($request->failurl)){
		$failurlstr = '('.decode($request->failurl).')';
	}
?>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
		
});
</script>
<body class='error'>
<div class="wrapper" style="width:360px;">
    <div class="code">
        <span>404</span>
        <i class="fa fa-warning"></i>
    </div>
    <div class="desc">Oops! Sorry, the page you requested <?php echo $failurlstr; ?> could'nt be found.</div>
    <form class="form-horizontal">
        
    </form>
    <div class="buttons">
        <div class="pull-left">
            <a class="btn btn--icon" href="<?php echo $this->serverUrl($this->baseUrl()); ?>">
                <i class="fa fa-arrow-left"></i>Back</a>
        </div>
    </div>
</div>
</body>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>