<div class="row">
    <div class="col-md-12" style="font-size:12px !important;">
        <div class="card-box p-t-10 p-b-10 clearfix">
            <div class="form-group m-b-0 clearfix">
                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom:4px;">
                        <label class="col-sm-3 control-label" style="font-size:12px !important;">Date Created:</label>
                        <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo isEmptyString($entity->getDateCreated()) ? '' : formatDateAndTime($entity->getDateCreated(), false); ?></div>
                    </div>
                    <div class="form-group" style="margin-bottom:4px;">
                        <label class="col-sm-3 control-label" style="font-size:12px !important;">Created By:</label>
                        <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo $entity->getCreator()->getName(); ?></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" style="margin-bottom:4px;">
                        <label class="col-sm-3 control-label" style="font-size:12px !important;">Last Modified:</label>
                        <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo isEmptyString($entity->getLastUpdateDate()) ? '' : formatDateAndTime($entity->getLastUpdateDate(), false); ?></div>
                    </div>
                    <div class="form-group" style="margin-bottom:4px;">
                        <label class="col-sm-3 control-label" style="font-size:12px !important;">Modified By:</label>
                        <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo $entity->getupdator()->getName(); ?></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>