<?php
	include APPLICATION_PATH.'/includes/header.php';

	// query for user's lattest 3 messages
	$q = new Doctrine_RawSql();
	$q->select('{m.*}, {mr.*}');
	$q->from('message m INNER JOIN messagerecipient mr ON (m.id = mr.messageid)');
	$q->where("(mr.recipientid = '".$userid."' AND mr.isread = 0) ORDER BY m.datecreated DESC LIMIT 3");
	$q->addComponent('m', 'Message m');
	$q->addComponent('mr', 'm.recipients mr');
	$latestmsg = $q->execute();
	// debugMessage($latestmsg->toArray()); exit;
	
	$unread_messages = countUnReadMessages(getUserID());
	$unread_label = ' &nbsp;<span class="pagedescription" style="color:red; font-size:12px;">('.$unread_messages.' Unread)</span>';
	$session->setVar('unread', $unread_messages);
	
	// debugMessage('>>> '.$controller);
?>
<?php if($this->layoutx == '1'){ // horizontal ?>
<header id="topnav">
    <div class="topbar-main">
        <div class="container">
            <div class="logo">
                <a href="<?php echo $this->baseUrl('dashboard/index'); ?>" class="logo">
                    <img src="/assets/images/logo.png" class="responsive" style="height:auto; width:auto; max-height:30px;"> 
                    <span class="" style="color:#fff; font-size:13px;"><?php echo getAppFullName(); ?></span>
                </a>
            </div>
            <div class="menu-extras">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <?php if(isLoggedIn()){ ?>
                    <li class="navbar-c-items">
                        <form role="search" class="search-form navbar-left app-search pull-left hidden-xs">
                        	<div class="contentArea searchbar">
                                <div class="search-pane makerelative">
                                	<input type="text" placeholder="Search..." class="form-control search" id="inputSearch" name="search" style="width:300px; border:1px solid rgba(255, 255, 255, 0.4) !important;"><a class="gonowhere"><i class="fa fa-search"></i></a>
                                </div>
                                <ul id="divResult"></ul>
                            </div>
                        </form>
                    </li>
                    <li class="dropdown navbar-c-items">
                        <a class="gonowhere right-menu-item dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right dropdown-lg user-list notify-list">
                            <li class="text-center">
                                <h5>Theme Layout Options</h5>
                            </li>
                            <li>
                                <a href="<?php echo $this->baseUrl('index/themechange/type/layout/value/1/successurl/'.encode($this->viewurl)); ?>" class="user-list-item">
                                    <div class="icon <?php echo $this->layoutx == '1' ? 'bg-success' : 'bg-warning'; ?>"><i class="fa fa-arrows-h"></i></div>
                                    <div class="user-desc">
                                        <span class="name">Horizontal Navigation</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="<?php echo $this->baseUrl('index/themechange/type/layout/value/2/successurl/'.encode($this->viewurl)); ?>" class="user-list-item">
                                    <div class="icon <?php echo $this->layoutx == '2' ? 'bg-success' : 'bg-warning'; ?>"><i class="fa fa-arrows-v"></i></div>
                                    <div class="user-desc">
                                        <span class="name">Vertical Navigation</span><span class="time"></span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown navbar-c-items">
                    	<?php require_once APPLICATION_PATH.'/views/scripts/index/alertmenu.phtml'; ?>
                    </li>
                    <li class="dropdown navbar-c-items">
                        <a href="" class="dropdown-toggle waves-effect waves-light profile" data-toggle="dropdown" aria-expanded="true"><img src="<?php echo $loggedinuser->getMediumPicturePath(); ?>" alt="user-img" class="img-circle"> &nbsp;  </a><!--<span class="bolded" style="font-size:12px;">My Account</span>-->
                        <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                            <li class="text-center">
                                <h5>Hi, <?php echo $loggedinuser->getName(); ?></h5>
                            </li>
                            <?php if($acl->checkPermission('Profile', "view")) { ?>
                                <li><a href="<?php echo $this->baseUrl('profile/view/id/'.encode($loggedinuser->getID())); ?>"><i class="ti-user m-r-5"></i> View Profile</a></li>
                            <?php } ?> 
                            <?php if($acl->checkPermission('Profile', "view")) { ?>
	                            <li><a href="<?php echo $this->baseUrl('profile/view/id/'.encode($loggedinuser->getID()).'/tab/account'); ?>"><i class="ti-settings m-r-5"></i> Settings</a></li>
                            <?php } ?>        
                            <!--<li><a href="<?php //echo $this->baseUrl('user/lock'); ?>"><i class="ti-lock m-r-5"></i> Lock screen</a></li>-->
                          	<li><a href="<?php echo $this->baseUrl('user/logout'); ?>"><i class="ti-power-off m-r-5"></i> Logout</a></li>
                        </ul>
                    </li>
                	<?php } ?>
                </ul>
                <div class="menu-item">
                    <a class="navbar-toggle"><div class="lines"><span></span><span></span><span></span></div></a>
                    <a href="<?php echo $this->baseUrl('dashboard'); ?>" class="logomobile"><span class="m-t-10"><?php echo strtoupper(getAppName()); ?></span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end topbar-main -->
    <div class="navbar-custom">
        <div class="container">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <?php require_once APPLICATION_PATH.'/views/scripts/index/navmenu.phtml'; ?>
                </ul>
                <!-- End navigation menu -->
            </div> <!-- end #navigation -->
        </div> <!-- end container -->
    </div> <!-- end navbar-custom -->
</header>
<?php } ?>
<?php if($this->layoutx == '2'){ // vertical ?>
<!-- Top Bar Start -->
<div class="topbar">
<!-- LOGO -->
    <div class="topbar-left">
        <a href="<?php echo $this->baseUrl('dashboard/index'); ?>" class="logo">
        	<span><img src="/assets/images/logo.png" style="width:auto; height:40px;"></span>
            <span><?php echo getAppName(); ?></span><i class="mdi mdi-layers"></i>
        </a>
    </div>
    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Navbar-left -->
            <ul class="nav navbar-nav navbar-left">
                <li><button class="button-menu-mobile open-left waves-effect"><i class="mdi mdi-menu"></i></button></li>
                <li class="hidden-xs">
                    <form role="search" class="app-search ">
                        <div class="contentArea searchbar">
                            <div class="search-pane makerelative">
                                <input type="text" placeholder="Search..." class="form-control search" id="inputSearch" name="search" style="width:300px;"><a href=""><i class="fa fa-search"></i></a>
                            </div>
                            <ul id="divResult"></ul>
                        </div>
                    </form>
                </li>
            </ul>
            <!-- Right(Notification) -->
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="javascript:void(0);" class="right-bar-toggle right-menu-item"><i class="fa fa-cog"></i></a></li>-->
                <li>
                	<a class="gonowhere right-menu-item dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cog"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right dropdown-lg user-list notify-list">
                        <li class="text-center">
                            <h5>Theme Layout Options</h5>
                        </li>
                        <li>
                            <a href="<?php echo $this->baseUrl('index/themechange/type/layout/value/1/successurl/'.encode($this->viewurl)); ?>" class="user-list-item">
                                <div class="icon <?php echo $this->layoutx == '1' ? 'bg-success' : 'bg-warning'; ?>"><i class="fa fa-arrows-h"></i></div>
                                <div class="user-desc">
                                    <span class="name">Horizontal Navigation</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo $this->baseUrl('index/themechange/type/layout/value/2/successurl/'.encode($this->viewurl)); ?>" class="user-list-item">
                                <div class="icon <?php echo $this->layoutx == '2' ? 'bg-success' : 'bg-warning'; ?>"><i class="fa fa-arrows-v"></i></div>
                                <div class="user-desc">
                                    <span class="name">Vertical Navigation</span><span class="time"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <?php require_once APPLICATION_PATH.'/views/scripts/index/alertmenu.phtml'; ?>
                </li>
                <li class="dropdown user-box">
                    <a href="" class="dropdown-toggle waves-effect user-link" data-toggle="dropdown" aria-expanded="true">
                        <img src="<?php echo $loggedinuser->getMediumPicturePath(); ?>" alt="user-img" class="img-circle user-img"> &nbsp; <span class="bolded" style="font-size:12px;">My Account</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                        <li>
                            <h5>Hi, <?php echo $loggedinuser->getName(); ?></h5>
                        </li>
                        <?php if($acl->checkPermission('Profile', "view")) { ?>
                            <li><a href="<?php echo $this->baseUrl('profile/view/id/'.encode($loggedinuser->getID())); ?>"><i class="ti-user m-r-5"></i> View Profile</a></li>
                        <?php } ?>    
                        <?php if($acl->checkPermission('Profile', "view")) { ?>
                            <li><a href="<?php echo $this->baseUrl('profile/view/id/'.encode($loggedinuser->getID()).'/tab/account'); ?>"><i class="ti-settings m-r-5"></i> Account Settings</a></li>
                        <?php } ?>        
                        <li><a href="<?php echo $this->baseUrl('user/lock/returnurl/'.encode($this->viewurl)); ?>"><i class="ti-lock m-r-5"></i> Lock screen</a></li>
                        <li><a href="<?php echo $this->baseUrl('user/logout'); ?>"><i class="ti-power-off m-r-5"></i> Logout</a></li>
                    </ul>
                </li>
            </ul> <!-- end navbar-right -->
        </div><!-- end container -->
    </div><!-- end navbar -->
</div>
<!-- Top Bar End -->
<style>
#topnav .navigation-menu > li > a i {
	margin-top:-2px;
}	
</style>
<?php } ?>