<div class="modal" id="dialog">
    <div class="modal-dialog">
        <div class="modal-content p-b-10">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">title</h4>
            </div>
            <div class="modal-body p-t-0 clearfix" id="dialogbody" style="padding-top:0; padding-bottom:0;">
                <a id="loading" class="hidden"><img style="margin-left:50%;" src="/assets/images/loader.gif" /></a>
                <div id="dialogcontent"></div>
            </div>
            <div class="modal-footer">
                <div id="new">
                	<div id="footerdelete" class="inline hidden"><a class="btn btn-sm btn-default deleteline hidden" message="<?php echo $this->translate('global_delete_confirm_message'); ?>" action=""><i class="fa fa-trash"></i> Delete Entry</a> &nbsp;</div>
                    <a href="javascript:doNothing();" class="btn modelcancel" data-dismiss="modal" title="<?php echo $this->translate('global_button_cancel'); ?>"><?php echo $this->translate('global_button_cancel'); ?></a>
                    <button type="submit" class="btn btn-primary btn-sm" id="save" onclick="javascript:doNothing();"><?php echo $this->translate('global_button_save'); ?></button>
                    <button type="submit" class="btn btn-primary btn-sm addnew hide" id="saveadd" onclick="javascript:doNothing();">Save & Add New</button>
                </div>
                <div id="view" class="hide">
                    <a href="javascript:doNothing();" class="btn btn-default btn-sm modelcancel" data-dismiss="modal" title="<?php echo $this->translate('global_button_close'); ?>"><?php echo $this->translate('global_button_close'); ?></a>
                    <a class="btn btn-default btn-sm hide" id="edit" title="Edit"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-default btn-sm hide deleteline" id="delete" title="Delete"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dialog2" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">title</h4>
            </div>
            <div class="modal-body nopadding">
                <a id="loading" class="hidden"><img style="margin-left:50%;" src="/assets/images/loader.gif" /></a>
                <div id="dialogcontent"></div>
            </div>
            <div class="modal-footer">
                <div id="new">
                    <a href="javascript:doNothing();" class="btn modelcancel" data-dismiss="modal" title="<?php echo $this->translate('global_button_cancel'); ?>"><?php echo $this->translate('global_button_cancel'); ?></a>
                    <button type="submit" class="btn btn-primary btn-sm" id="save" onclick="javascript:doNothing();"><?php echo $this->translate('global_button_save'); ?></button>
                </div>
                <div id="view" class="hide">
                    <a href="javascript:doNothing();" class="btn modelcancel" data-dismiss="modal" title="<?php echo $this->translate('global_button_close'); ?>"><?php echo $this->translate('global_button_close'); ?></a>
                    <a href="javascript:doNothing();" class="btn btn-primary btn-sm hidden" id="edit"><?php echo $this->translate('global_button_edit'); ?></a>
                    <a href="javascript:doNothing();" class="btn btn-default btn-sm hidden" id="delete"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<a id="wait" class="hidden blocked centeralign"><img src="<?php echo $this->baseUrl('assets/images/loader.gif'); ?>" /></a>
<div id="imgareaselectcontainer"></div>
   