<?php
	// require_once APPLICATION_PATH.'/views/scripts/user/login.phtml';
	require_once APPLICATION_PATH.'/includes/header.php';
		
	$title = "Index";
	$this->headTitle($title);
	
?>
<!DOCTYPE HTML><head>
<!-- Define Charset -->
<meta charset="utf-8"/>
<!-- Responsive Metatag -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<!-- Page Title -->
<title>Welcome to <?php echo getAppName(); ?></title>
<!-- Description and Keyword -->
<meta name="description" content="Responsive Bootstrap App Landing Page">
<meta name="keywords" content="Landy, Bootstrap, Landing page, Atlaspix, App, iPhone6">
<meta name="author" content="Atlaspix">
<!-- Bootstrap -->
<link href="landing/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!-- Styles CSS -->
<link rel="stylesheet" href="landing/css/styles.css"/>
<!-- Skins / Colors -->
<link rel="stylesheet" href="landing/css/skins/blue.css"/>
<!-- <link rel="stylesheet" href="css/skins/orange.css"/> -->
<!-- <link rel="stylesheet" href="css/skins/green.css"/> -->
<!-- <link rel="stylesheet" href="css/skins/red.css"/> -->
<!-- <link rel="stylesheet" href="css/skins/cyan.css"/> -->

<!-- Google Fonts -->
<!--<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"/>
<link href="http://fonts.googleapis.com/css?family=Varela+Round" rel='stylesheet' type='text/css'>-->
<!-- Font Awesome Icons  -->
<link rel="stylesheet" href="landing/fonts/css/font-awesome.min.css"/>
<!-- ANIMATIONS  -->
<link rel="stylesheet" href="landing/css/animate.css"/>
<link rel="stylesheet" href="landing/css/lightbox.css"/>
<!-- Favicon -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>


<style>
#cta h3 {
	text-align:left;
	font-size:24px;
}
#cta p {
	text-align:left;
	width:auto;
	opacity:1;	
}
.main-form {
	margin-top:45px;
	height: 400px;
}
.main-form form {
	margin:25px 0 0;
}
.main-form h3 {
	padding:10px 0 0;
}
.main-form form input.inputi {
	padding-right:10px;
	padding-left:35px;
}
.button-newsletter {
	margin:15px 0 0;
}
.navbar-nav > li > a {
	padding-left:20px;
	padding-right:20px;
	font-size:16px;
	font-weight:bold;
}
.extras-txt ul li {
	margin:0 0 15px;
}
#partners {
	padding-bottom: 10px;
}
#pricing {
  padding-top: 0;
}
#pricing .pricing {
  marign: 0;
  padding: 0;
  font-family: 'Robot', sans-serif;
}
#pricing .pricing .pricing-table {
  padding-bottom: 30px;
}
#pricing .pricing .pricing-table .pricing-header {
  position: relative;
  background: #0162a7;
  padding: 22px 22px;
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
#pricing .pricing .pricing-table .pricing-header .pricing-title {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  margin:0 0 25px;
}
#pricing .pricing .pricing-table .pricing-header .pricing-rate {
  font-size: 55px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  text-align: center;
  margin:0 0 25px;
}
#pricing .pricing .pricing-table .pricing-header .pricing-rate sup {
  font-size: 32px;
  position: relative;
  top: -12px;
  color: #bdc3c7;
}
#pricing .pricing .pricing-table .pricing-header .pricing-rate span {
  font-size: 16px;
  color: #bdc3c7;
  text-transform: uppercase;
}
#pricing .pricing .pricing-list {
  padding: 10px 0 15px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}
#pricing .pricing .pricing-list ul {
  padding: 0px;
  display: table;
  margin: 0px auto;
}
#pricing .pricing .pricing-list ul li {
  list-style: none;
  border-bottom: 1px solid #EAECEB;
  color: #bdc3c7;
  font-size: 16px;
  line-height: 42px;
}
#pricing .pricing .pricing-list ul li:last-child {
  border: none;
}
#pricing .pricing .pricing-list ul li i {
  margin-right: 12px;
  color: #bdc3c7;
}
#pricing .pricing .pricing-list ul li span {
  color: #34495e;
}
.btn-custom {
    border: 1px solid #bdc3c7;
    color: #bdc3c7;
    font-size: 18px;
}

#jquery-script-menu {
	position: fixed;
	height: 90px;
	width: 100%;
	top: 0;
	left: 0;
	border-top: 5px solid #316594;
	background: #fff;
	-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	z-index: 999999;
	padding: 10px 0;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

.jquery-script-center {
	width: 100%;
	margin: 0 auto;
}
.jquery-script-center ul {
	width: 212px;
	float:left;
	line-height:45px;
	margin:0;
	padding:0;
	list-style:none;
}
.jquery-script-center a {
	text-decoration:none;
}
.jquery-script-ads {
	width: 728px;
	height:90px;
	float:right;
}
.jquery-script-clear {
	clear:both;
	height:0;
}
.carousel-caption {
	text-align:left;
	left:4%;
	right:auto;
	padding-bottom:10px;
	margin-bottom:0;
}
.carousel-caption label {
	text-shadow:none; 
	display:block; 
	margin-bottom:20px; 
	margin-top:10px;
}
.carousel-indicators li {
	width:16px;
	height:16px;
	color:#000;
	background-color:#333;
}
.carousel-indicators .active {
	width:18px;
	height:18px;
}
.form-contact table tr td:first-child {
	text-align:center;
}
#accordion {
    padding: 5px 0 0;
}
</style>
<body>
<div class="loader"><img src="landing/img/loading-main.gif" alt="" /></div>

<!-- Header -->
<header>
    <nav class="navbar">
        <div class="container"> 
        <div class="navbar-header" style="margin-left:-25px;">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#listup-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="<?php echo $this->baseUrl('index'); ?>"><img src="<?php echo $this->baseUrl('images/logo.jpg'); ?>" alt="<?php echo getAppName(); ?>" style="height:60px; width:auto;" /></a> 
        </div>
        <div class="collapse navbar-collapse" id="listup-collapse">
            <ul id="naviga" class="nav navbar-nav navbar-right">
                <li class="current"><a href="#main-section">Home </a></li>
                <li><a href="#features">Benefits</a></li>
                <li><a href="#howitworks">Features</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="<?php echo $this->baseUrl('signup'); ?>">Signup</a></li>
                <li><a href="<?php echo $this->baseUrl('user/login'); ?>">Login</a></li>
                <li class="pop-co external"><a class="external pop-contact" id="pop-contact" href="#"><i class="fa fa-email"></i>Contact us</a></li>
            </ul>
        </div>
    </div>
    </nav>
</header>

<!-- Main Section -->
<div class="main-section-bg">
    <section id="main-section" style="margin-bottom:0;">
        <div class="container">
        	<div class="row"> 
            	<div class="col-sm-12">
                	<h1 style="text-align:center; color:#fff; font-size:25px; margin-top:40px;"><?php echo getAppName(); ?> - A Powerful But Simple Way to Manage Human Resources</h1>
                    <?php if (!isEmptyString($session->getVar(SUCCESS_MESSAGE))) { ?>
                        <div class="alert alert-success alert-dismissable col-sm-12"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar(SUCCESS_MESSAGE); ?>
                        </div>
                    <?php } ?>
                    <?php if($sessionhaserror) { ?>
                        <div class="alert alert-danger alert-dismissable col-sm-12"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
                    <?php } ?>
                </div>
				<div class="main-txt col-sm-8" style="padding-top:45px; margin-left:15px">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000"> 
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                        	<div class="item active"><img src="landing/img/img7.jpg" style="width:100%; height:400px;">
                        		<div class="container">
                        			<div class="carousel-caption" style="margin-bottom:-15px;">
                        				<!--<h4>Employee Management made easy</h4>-->
                                        <label style="color:#000;"><?php echo getAppName(); ?> is a comprehensive, cost-effective HR solution for small-to-medium-sized businesses. </label>
                                        <a class="btn btn-lg btn-primary" href="<?php echo $this->baseUrl('signup'); ?>" role="button">Signup Now</a>
                        			</div>
                        		</div>
                        	</div>
                        	<div class="item"><img src="landing/img/img1.jpg" style="width:100%; height:400px;">
                        		<div class="container">
                        			<div class="carousel-caption">
                        				<h4>Shift scheduling</h4>
                                        <label style="color:#fff;">Use <?php echo getAppName(); ?> to schedule your work teams and sessions.</label>
                                        <a class="btn btn-lg btn-primary" href="<?php echo $this->baseUrl('signup'); ?>" role="button">Take me In</a>
                                    </div>
                        		</div>
                        	</div>
                        	<div class="item"><img src="landing/img/img2.jpg" style="width:100%; height:400px;">
                        		<div class="container">
                        			<div class="carousel-caption">
                                        <h4>Say Bye to Paper!!</h4>
                                        <label style="color:#000;"><?php echo getAppName(); ?> has been built to help you get rid of paper in your HR department.</label>
                                        <a class="btn btn-lg btn-primary" href="<?php echo $this->baseUrl('signup'); ?>" role="button">Register Me</a>
                        			</div>
                        		</div>
                       		</div>
                            <div class="item"><img src="landing/img/img3.jpg" style="width:100%; height:400px;">
                        		<div class="container">
                        			<div class="carousel-caption">
                                        <h4>Pay more accurately</h4>
                                        <label style="color:#000;">You will now pay for only approved time spent on duty.</label>
                                        <a class="btn btn-lg btn-primary" href="<?php echo $this->baseUrl('signup'); ?>" role="button">Register for Free</a>
                        			</div>
                        		</div>
                       		</div>
                            <div class="item"><img src="landing/img/img4.jpg" style="width:100%; height:400px;">
                        		<div class="container">
                        			<div class="carousel-caption">
                                        <h4>Administer centrally</h4>
                                        <label style="color:#000;">All your company data is in one place with guaranteed security and accesibility</label>
                                        <a class="btn btn-lg btn-primary" href="<?php echo $this->baseUrl('signup'); ?>" role="button">Start Now</a>
                        			</div>
                        		</div>
                       		</div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> 
                        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> 
                	</div>
                </div>
                <div class="main-form col-sm-4">
                    <div class="subscriber-wrap">
                        <h3> Start your free Trial</h3>
                        <p>Create your HRMagic Instance</p>
                        <form action="<?php echo $this->baseUrl('signup/index/start/1'); ?>" method="post" novalidate>
                        	<div class="iconspan" style="position:relative;">
                                <i class="fa fa-user" style="position:absolute; left:15px; top:14px;"></i>
                                <input type="text" class="autoclear inputi" id="companyname" name="companyname" placeholder="Company Name" >
                            </div>
                            <div class="iconspan" style="position:relative;">
                            <div class="input-group lineblocked">
                                <i class="fa fa-globe" style="position:absolute; left:15px; top:14px;"></i>
                                <input type="text" class="inputi autoclear width100 inline" placeholder="Subdomain" id="c_username" name="c_username" value="" style="border-top-right-radius: 0; border-bottom-right-radius: 0;" />
                                <div class="input-group-btn floatleft">
                                    <button type="button" class="btn" style="margin-top:-20px; padding:9px;">.hrmagic.ug</button>
                                </div>
                            </div>
                            </div>
                            <div class="iconspan" style="position:relative;">
                                <i class="fa fa-envelope" style="position:absolute; left:15px; top:14px;"></i>
                                <input type="text" class="autoclear inputi" id="email" name="email" placeholder="Company Email" >
                            </div>
                            <label> <i class="fa fa-lock"></i> TRUSTED </label>
                            <input type="submit" value="Start Now" name="subscribe"  class="button-newsletter">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- benefits -->
<section id="features">
    <div class="container">
    	<div class="row">
    		<div class="title text-center" style="padding:20px 0 35px;">
    			<h2>Benefits of <?php echo getAppName(); ?></h2>
    			<span class="title-span"></span> 
            </div>
		</div>
        <ul class="row list-unstyled FadeIn">
            <li class="col-sm-4"> <span class="fa fa-money"> </span>
                <div class="featu-txt">
                    <h3> Affordable</h3>
                    <p>Pay one monthly fee for everything based on active employees you are managing. No need to buy accompanying hardware or software. All you need is a browser and an internet connection</p>
                </div>
            </li>
            <li class="col-sm-4"> <span class="fa fa-calendar"> </span>
                <div class="featu-txt">
                    <h3> Save Time</h3>
                    <p>No more spreadsheets and filing cabinets and a lot less paper. Means you will spend less time on administration so that you can focus on your core business.</p>
                </div>
            </li>
            <li class="col-sm-4"> <span class="fa fa-user"> </span>
                <div class="featu-txt">
                    <h3> Employee self service</h3>
                    <p>Empower your employees to manage their own accounts, upload documents, request time off, record timesheets and so on. A better employee experience!</p>
                </div>
            </li>
        </ul>
        <ul class="row list-unstyled FadeIn2">
            <li class="col-sm-4"> <span class="fa fa-thumbs-up"> </span>
                <div class="featu-txt">
                    <h3> Usability</h3>
                    <p>Simply using your web browser, our platform is powerfull but at the same time easy to use even for those with little to no technical expertise.</p>
                </div>
            </li>
            <li class="col-sm-4"> <span class="fa fa-lock"> </span>
                <div class="featu-txt">
                    <h3> Secure platform</h3>
                    <p><?php echo getAppName(); ?> is built from the ground up with security in mind. All communication is encrypted and hosted in a trusted environment.</p>
                </div>
            </li>
            <li class="col-sm-4"> <span class="fa fa-files-o"> </span>
                <div class="featu-txt">
                    <h3> Guaranteed service levels</h3>
                    <p> We offer guaranteed service levels for service availability so you can be confident that you will be able to access the system when you need to.</p>
                </div>
            </li>
        </ul>
	</div>
</section>

<!-- Extras Section -->
<div class="overlo">
    <section id="howitworks">
    	<div class="container">
    		<div class="row">
                <div class="col-md-12">
                    <div class="title text-center" style="padding:20px 0 35px;">
                        <h2> <?php echo getAppName(); ?> Features</h2>
                        <span class="title-span"></span> 
                    </div>
                </div>
                <div class="col-md-6 extras-txt" style="margin-top:-80px; padding-left:75px;">
                    <h3 style="font-size:16px;"> <?php echo getAppName(); ?> is an all-in-one Human Resource solution</h3>
                    <p style="padding:0;">Contact us today for a detailed walk through of supported features</p>
                    <ul class="extras-check" style="margin-top:25px;">
                        <li><span class="fa fa-check-circle"> </span> Centralised Employee Management</li>
                        <li><span class="fa fa-check-circle"> </span> Company Administration</li>
                        <li><span class="fa fa-check-circle"> </span> Benefits Management</li>
                        <li><span class="fa fa-check-circle"> </span> Document Library</li>
                        <li><span class="fa fa-check-circle"> </span> Timesheets and Attendance History</li>
                        <li><span class="fa fa-check-circle"> </span> Leave Tracking, Accruals and Calendar</li>
                        <li><span class="fa fa-check-circle"> </span> Work shifts and Employee Scheduling</li>
                        <li><span class="fa fa-check-circle"> </span> Payroll Administration</li>
                        <li><span class="fa fa-check-circle"> </span> Company Loans and Advances</li>
                        <li><span class="fa fa-check-circle"> </span> Insurance and Tax Reporting</li>
                        <li><span class="fa fa-check-circle"> </span> Online Recruitment</li>
                        <li><span class="fa fa-check-circle"> </span> Performance Metrics and Appraisals</li>
                    </ul>
                </div>
    			<div class="col-md-6 extras-img">
    				<div class="laptop-img FadeRight"><img src="landing/img/laptop.png" alt="" /></div>
                    <div class="ipad-img FadeRight2"><img src="landing/img/ipad.png" alt="" /></div>
                </div>
            </div>
    	</div>
    </section>
</div>
<section id="gallery" style="padding:0 0 35px;">
    <div class="container">
        <div class="title text-center" style="padding:20px 0 35px;">
        	<h2>Take the <?php echo getAppName(); ?> Tour</h2>
            <p>Just a glimpse of How it works</p>
            <span class="title-span"></span> 
        </div>
        <ul class="row">
            <li class="col-md-3"> 
                <a href="landing/img/gallery1@2.png" class="lightbox-go" data-lightbox="image1"><img src="landing/img/gallery1.png" class="a" alt=""/><div class="ber"></div></a> 
            </li>
            <li class="col-md-3">
            	<a href="landing/img/gallery2@2.png" class="lightbox-go" data-lightbox="image1"><img src="landing/img/gallery2.png" class="a" alt=""/><div class="ber"></div></a> 
            </li>
            <li class="col-md-3"> 
            	<a href="landing/img/gallery3@2.png" class="lightbox-go" data-lightbox="image1"><img src="landing/img/gallery3.png" class="a" alt=""/><div class="ber"></div></a> 
            </li>
            <li class="col-md-3"> 
            	<a href="landing/img/gallery4@2.png" class="lightbox-go" data-lightbox="image1"><img src="landing/img/gallery4.png" class="a" alt=""/><div class="ber"></div></a> 
            </li>
        </ul>
    </div>
</section>

<!-- Divider -->
<div class=" divi2"></div>

<section id="pricing">
    <div class="container">
        <div class="title text-center" style="padding:20px 0 20px;">
        	<h2>How much does it cost?</h2>
            <span class="title-span"></span> 
        </div>
       	<div class="row">
            <div class="pricing">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="pricing-table">
                        <div class="pricing-header">
                            <p class="pricing-title">Free Trial</p>
                            <p class="pricing-rate"><sup>$</sup> 0</p>
                            <a href="#" class="btn btn-custom">Per Month</a>
                        </div>
                        <div class="pricing-list">
                            <ul>
                                <li><i class="fa fa-user"></i><span>Up to 5 Employees</span></li>
                                <li><i class="fa fa-indent"></i>All Modules Available</li>
                                <li><i class="fa fa-folder-open"></i>50 MB File Storage</li>
                                <li><i class="fa fa-globe"></i>Custom Subdomain</li>
                                <li><i class="fa fa-envelope"></i>No Support</li>
                                <li><i class="fa fa-list-alt"></i>No Training</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="pricing-table">
                        <div class="pricing-header" style="position:relative; background-color:#024f86;">
                        <div style="font-size:12px; position:absolute; left:0; top:0;"><img src="<?php echo $this->baseUrl('images/banner-most-popular.png'); ?>" style="width:70px;" /></div>
                            <p class="pricing-title">Starter</p>
                            <p class="pricing-rate"><sup>$</sup> 40</p>
                            <a href="#" class="btn btn-custom">Per Month</a>
                        </div>
                        <div class="pricing-list">
                            <ul>
                                <li><i class="fa fa-user"></i><span>Up to 25 Employees</span></li>
                                <li><i class="fa fa-indent"></i>All Modules Available</li>
                                <li><i class="fa fa-folder-open"></i>500 MB File Storage</li>
                                <li><i class="fa fa-globe"></i>Custom Subdomain</li>
                                <li><i class="fa fa-envelope"></i>Limited Tech Support</li>
                                <li><i class="fa fa-list-alt"></i>Training</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="pricing-table">
                        <div class="pricing-header">
                            <p class="pricing-title">Plus</p>
                            <p class="pricing-rate"><sup>$</sup> 80</p>
                            <a href="#" class="btn btn-custom">Per Month</a>
                        </div>

                        <div class="pricing-list">
                            <ul>
                                <li><i class="fa fa-user"></i><span>Up to 50 Employees</span></li>
                                <li><i class="fa fa-indent"></i>All Modules Available</li>
                                <li><i class="fa fa-folder-open"></i>1 GB File Storage</li>
                                <li><i class="fa fa-globe"></i>Custom Subdomain</li>
                                <li><i class="fa fa-envelope"></i>24/7 Tech Support</li>
                                <li><i class="fa fa-list-alt"></i>Training</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="pricing-table">
                        <div class="pricing-header">
                            <p class="pricing-title">Deluxe</p>
                            <p class="pricing-rate"><sup>$</sup> 150</p>
                            <a href="#" class="btn btn-custom">Per Month</a>
                        </div>

                        <div class="pricing-list">
                            <ul>
                                <li><i class="fa fa-user"></i><span>Up to 100 Employees</span></li>
                                <li><i class="fa fa-indent"></i>All Modules Available</li>
                                <li><i class="fa fa-folder-open"></i>5 GB File Storage</li>
                                <li><i class="fa fa-globe"></i>Custom Subdomain</li>
                                <li><i class="fa fa-envelope"></i>24/7 Tech Support</li>
                                <li><i class="fa fa-list-alt"></i>Training</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Divider -->
<div class=" divi2"></div>
<!-- Cta Start -->
<div id="cta">
	<div class="cta-bg">
		<div class="container" style="margin-top:-75px;">
        	<div class="col-md-6 col-sm-12 col-xs-12">
                <h3 style=""><?php echo getAppName(); ?> is free upto 5 Employees.</h3>
                <p>Try it before you commit. No contracts, obligations or credit card required. Upgrade when you are ready.</p>
                <button class="center-block Shaki" id="startnow" style="margin-left:0;" onclick="window.location.href='<?php echo $this->baseUrl('signup/index'); ?>'">Start my <?php echo getAppName(); ?> Instance Now <i class="fa fa-arrow-right"></i> </button>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h3 style="font-size:16px; font-weight:bold;">Are your more than 100 Employees? Enteprise <?php echo getAppName(); ?> is for you!</h3>
                <p><?php echo getAppName(); ?> Enterprise can be customized and packaged to suit your business</p>
                <button class="center-block Shaki pop-contact" id="startnow">Request a Quote for Enterprise <?php echo getAppName(); ?> <i class="fa fa-arrow-right"></i> </button>
            </div>
		</div>
	</div>
</div>

<section id="faqs">
	<div class="container">
		<div class="row">
            <!-- Faqs Start -->
            <div class="col-md-6 FadeIn">
                <div class="title2">
                    <span class="fa fa-question-circle"></span><h3>Frequented Asked Questions</h3>
                    <p></p>
                    <span class="divi"> </span>
                </div>
                <div id="accordion">
                    <h3><span class="fa fa-cloud-download"></span> How secure is it? </h3>
                    <div><p style="padding-bottom:5px;">Security is paramount and we have to taken steps to ensure that your data is safe. All our services will be accessed via HTTPS/SSL verified. While we do that using the latest technologies, you our client has a role to play by ensuring you keep your passwords complex enough and kept securely. Don't leave your computer unattended to while logged in.</p></div>
                    <h3><span class="fa fa-edit"></span> Do you share company data with anyone else?</h3>
                    <div><p>We don't share your data with anyone or any organisation. For more information, read our <a href="<?php echo $this->baseUrl('aboutus/termsofservice'); ?>">Terms and Conditions</a>. We take your privacy and data very seriously. Also in consideration are the privacy laws of the country in which we operate in. Any changes in the policy will be sent you in advance before we implement.</p></div>
                    <h3><span class="fa fa-credit-card"></span>How much will I save with HRMagic?</h3>
                    <div><p>Your costs on workforce related management will be cut by over 90% once you have unleashed the power of this package. It was purposely built to save the enterprises from recurring costs of managing human resource and processing related payments.</p></div>
                </div>
                <h3 style="border: 1px solid #e8e8e8; border-radius: 6px; color: #747474; font-size: 17px; height: 52px; line-height: 52px; margin: 15px 0 0; width: 80%; padding-left:15px; "><a href="<?php echo $this->baseUrl('faqs/index'); ?>"><span class="fa fa-arrow-right"></span> &nbsp; &nbsp; More questions and Answers</a></h3>   
            </div>

			<!-- Testimlonials Start  -->
			<div class="testimonials col-md-6 FadeIn2">
                <div class="title2">
                    <span class="fa fa-comment"></span><h3>What some of our clients say about <?php echo getAppName(); ?> </h3>
                    <!--<p></p>-->
                    <span class="divi"> </span>
                </div>
                <div class="clearfix"></div>
                    <div class="testi-slider">
                        <div class="testi">
                            <div class="testi-txt">
                                <p>It is amazing how much time this solution has saved us. We were spending hundreds of hours maintaining excel spreadsheets for salaries every month. I would definately recommend this to any company having Human Resource challenges</p>
                                <div class="clear"></div>
                                <span>&#8220;</span>
                            </div>
                            <span class="arrow"><i class="fa fa-caret-down"></i></span>
                            <div class="testi-info">
                                <div class="testi-img"> <img src="<?php echo $this->baseUrl('images/testi.jpg'); ?>" alt="" /> </div>
                                <div class="testi-data"> <h3> Tony Malinzi </h3></div>
                            </div>
                        </div>
                        <div class="testi">
                            <div class="testi-txt">
                                <p>Employee time tracking has always been troublesome in our business. We have our users working in shifts. Since we pay our employees hourly, the company was loosing money paying for hundreds of deceitful hours. This is no more with <?php echo getAppName(); ?></p>
                                <div class="clear"></div>
                                <span>&#8220;</span>
                            </div>
                            <span class="arrow"><i class="fa fa-caret-down"></i></span>
                            <div class="testi-info">
                                <div class="testi-img"> <img src="<?php echo $this->baseUrl('images/testi2.jpg'); ?>" alt="" /> </div>
                                <div class="testi-data"> <h3> Saul Walugembe</h3></div>
                            </div>
                        </div>
                        <div class="testi">
                            <div class="testi-txt">
                                <p>Thumbs up to <?php echo getAppName(); ?>! One of the best software as a service solutions i have worked wih. Easy to use and time saving. We are looking forward to doing more business with you guys.</p>
                                <div class="clear"></div>
                                <span>&#8220;</span>
                            </div>
                            <span class="arrow"><i class="fa fa-caret-down"></i></span>
                            <div class="testi-info">
                                <div class="testi-img"> <img src="<?php echo $this->baseUrl('images/testi3.jpg'); ?>" alt="" /> </div>
                                <div class="testi-data"> <h3>Paul Mukyaya</h3></div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-navi">
                        <a id="prev2"><i class="fa fa-angle-left"></i></a>
                        <span class="slider-div"></span>
                        <a id="next2"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
           	</div>
        </div>
    </div>
</section>
<!-- Divider -->
<div class=" divi2"></div>
<!-- Partners Start  -->
<section id="partners">
	<div class="container">
		<div class="title text-center">
            <h2>Some of our Clients</h2>
            <p><?php echo getAppName(); ?> is fast growing into an Enteprise Human Resource solution. Thanks to our ever growing list of clients</p>
            <span class="title-span"></span>
		</div>
        <ul class="partn" style="margin:auto !important;"> 
            <li class="FadeIn" style="min-width:200px; width:auto !important;"><img src="<?php echo $this->baseUrl('images/partner1.png'); ?>" style="height:95px; width:auto;"></li>
            <li class="FadeIn2" style="min-width:200px; width:auto !important;"><img src="<?php echo $this->baseUrl('images/partner2.png'); ?>" style="height:95px; width:auto;"></li>
            <li class="FadeIn3" style="min-width:200px; width:auto !important; padding-left:15px; padding-right:15px;"><img src="<?php echo $this->baseUrl('images/partner3.jpg'); ?>" style="height:95px; width:auto;"></li>
            <li class="FadeIn3" style="min-width:200px; width:auto !important;"><img src="<?php echo $this->baseUrl('images/partner4.png'); ?>" style="height:95px; width:auto;"></li>
        </ul>
	</div>
</section>
<!-- Divider -->
<div class=" divi2"></div>
<div style="display:block; height:30px; background-color:rgba(33, 147, 205, 0.9);"></div>
<!-- Footer Start  -->
<footer>
    <div class="container" style="position:relative;"> 
        <div class="copy"> 
        	
            <p style="text-align:center; float:none;">
            	<img src="<?php echo $this->baseUrl('images/logo_footer.png'); ?>" style="height:50px; width:auto;" alt="" />
                <strong><?php echo getAppName(); ?></strong> &#169; copyright <?php echo date('Y'); ?>
                <span class="font-grey-4">|</span>
                <a href="<?php echo $this->baseUrl('aboutus/termsofservice'); ?>">Terms of Use</a>
                <span class="font-grey-4">|</span>
                <a href="<?php echo $this->baseUrl('aboutus/privacypolicy'); ?>">Privacy Policy</a>
                <span class="font-grey-4">|</span>
                <a href="<?php echo $this->baseUrl('faqs'); ?>">FAQs</a>
                <span class="font-grey-4">|</span>
                <a href="<?php echo $this->baseUrl('contactus'); ?>">Contact Us</a>
            </p>
        </div>
        <ul class="social" style="position:absolute; top:0; right:20px;">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-skype"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
    </div>
</footer>
<div class="wrap" id="overlay_form" >
    <a href="#" id="close2" ></a>
    <h1> Contact <?php echo getAppName(); ?> Team</h1>
    <span class="" style="font-size:12px; color:#666; text-align:center; display:block;"><?php echo getSupportEmailAddress(); ?> | <?php echo getAltSupportEmailAddress(); ?> | <?php echo getSupportPhone(); ?></span>
    <form id="contactform" class="form-contact" action="<?php echo $this->baseUrl("contactus/processcontactus"); ?>" method="post" style="margin-top:0;">
        <table>
            <tr>
                <td><input type="text" id="name" name="name" value="" placeholder="Your Name" />
                	<div id="name_error"></div>
                </td>
            </tr>
            <tr>
                <td><input type="text" id="email" name="email" value="" placeholder="Your Email" /><div id="email_error"></div></td>
            </tr>
            <tr>
                <td><input type="text" id="subject" name="subject" value="" placeholder="Subject" /><div id="subject_error"></div></td>
            </tr>
            <td>
                <textarea id="message" name="message" placeholder="Your Message" rows="5" cols="20"></textarea><div id="message_error"></div></td>
            </tr>
            <tr>
                <td><input type="submit" class="submit-contact" value="Send Message" id="send" />
                <input type="hidden" id="source" name="source" value="home" /></td>
            </tr>
        </table>
    </form>
</div>
<div id="popi-bg"></div>
<div  class="scroll-top"> <a href="#"><i class="fa fa-angle-up"></i></a> </div> 
<!-- Javascript Library --> 
<script type="text/javascript" src="landing/js/jquery.min.js"></script> 
<script type="text/javascript" src="landing/js/jquery-ui.min.js"></script> 
<script type="text/javascript" src="landing/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="landing/js/jquery.nav.js"></script> 
<script type="text/javascript" src="landing/js/jquery.scrollTo.js"></script> 
<script type="text/javascript" src="landing/js/backstretch.js"></script> 
<script type="text/javascript" src="landing/js/jquery.inview.js"></script> 
<script type="text/javascript" src="landing/js/lightbox.js"></script> 
<script type="text/javascript" src="landing/js/cycle.js"></script> 
<script type="text/javascript" src="landing/js/main.js"></script>
<script type="text/javascript" src="javascript/plugins/validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="javascript/plugins/validation/additional-methods.min.js"></script>
<script>
	$(document).ready(function(){
		// validation code for the form
		$("#contactform").validate({
			// define the validation rules one field at a time
			rules: {
				subject: "required",
				name: "required",
				email: {
					required: true,
					email: true
				},
				message: "required"
			}, 
			// the messages for each of the fields being validated
			messages: {
				subject: "Please enter a Subject",
				name: "Please enter your Name",	
				email: {
					required: "Please enter your Email Address",
					email: "Please enter a valid Email Address"
				},
				message: "Please enter your message"
			},
			// custom error positions
			errorPlacement: function(error, element) {
				switch(element.attr("name")){					
					default:
						error.appendTo("#"+element.attr("name")+"_error")
						break;
				}			
			}
		});
		
		$('body').find('br').remove();
	}); 
</script>
</body>
</html>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>