<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$request = Zend_Controller_Front::getInstance()->getRequest();
	$config = Zend_Registry::get("config"); 
	$session = SessionWrapper::getInstance();
	
	$thecontroller = $request->getControllerName();
	$theaction = $request->getActionName();
	$publiccontrollers = array("signup","user"); 
	if(isEmptyString($userid)){
		$publiccontrollers[] = 'contactus';
	}
	if(($thecontroller == 'index' && $theaction == 'accessdenied')){
		unset($publiccontrollers['0']);
	}
	
	$style = '1';
	if(!isEmptyString($request->style)){
		$style = $request->style;
		$session->setVar('style', $request->style);
	}
	if(isEmptyString($request->style) && !isEmptyString($session->getVar('style'))){
		$style = $session->getVar('style');
	}
?>
<script type="text/javascript">
var datepickerOpts = {
	showOn: 'both', 
	buttonImage: '<?php echo $this->baseUrl('assets/images/calendar.png'); ?>', 
	buttonImageOnly: true,
	changeMonth: true,
	changeYear: true,
	minDate: '-<?php echo $config->dateandtime->mindate; ?>Y',
	maxDate: '+<?php echo $config->dateandtime->maxdate; ?>Y',
	dateFormat: '<?php echo $config->dateandtime->datepickerformat; ?>',
	hideIfNoPrevNext: true,
	showButtonPanel: true, 
	currentText: 'Now'		
};

var uiblockcontent = '<h4><img src="<?php echo $this->baseUrl('assets/images/loader.gif'); ?>" /> Please wait...</h4>';
$(document).ready(function() {
	// global styles independent of any jquery plugins come at the top followed by plugin styles 
	$(".expanding").elastic();
	$(".expanding").trigger('update');
	
	$(".chosen-select").chosen({ search_contains: true });
	// default search text on chosen dropdown
	$(".chosen-container .chosen-search input").attr('placeholder', 'Type to search');
	$(".datepicker.datepicker-dropdown.dropdown-menu").css({'z-index':'15000'});
	
	$.datepicker.setDefaults({
		dateFormat: "M dd, yyyy"
	});
	
	var ord_picker = datepickerOpts;
	ord_picker.minDate = new Date("Jan 01, <?php echo intval(date('Y') - $config->dateandtime->mindate); ?>"); 	
	ord_picker.maxDate = new Date("Dec 31, <?php echo intval(date('Y') + $config->dateandtime->maxdate); ?>"); 
	ord_picker.yearRange = '<?php echo intval(date('Y') - $config->dateandtime->mindate); ?>:<?php echo intval(date('Y') + $config->dateandtime->maxdate); ?>'; 	
	ord_picker.dateFormat = 'M dd, yy';
	$(".ordinary").datepicker(ord_picker).keyup(function(e) {
		if(e.keyCode == 8 || e.keyCode == 46) {
			$.datepicker._clearDate(this);
		}
	});
	// $('.ordinary').datepicker('option', 'yearRange', );
	
	var mintoday_dateofbirthOpts = datepickerOpts;
	mintoday_dateofbirthOpts.minDate = new Date(); 	 	
	mintoday_dateofbirthOpts.maxDate = new Date("Dec 31, <?php echo intval(date('Y') + $config->dateandtime->maxdate); ?>"); 
	$(".mintoday").datepicker(mintoday_dateofbirthOpts).keyup(function(e) {
		if(e.keyCode == 8 || e.keyCode == 46) {
			$.datepicker._clearDate(this);
		}
	});
	
	var maxtoday_dateofbirthOpts = datepickerOpts;
	maxtoday_dateofbirthOpts.minDate = new Date("Jan 01, <?php echo intval(date('Y') - $config->dateandtime->mindate); ?>"); 
	maxtoday_dateofbirthOpts.maxDate = new Date(); 	 	
	$(".maxtoday").datepicker(maxtoday_dateofbirthOpts).keyup(function(e) {
		if(e.keyCode == 8 || e.keyCode == 46) {
			$.datepicker._clearDate(this);
		}
	});
	
	$("#ui-datepicker-div").css({'background':'none','background-color': '#f9f9f9','z-index':'1001 !important'});
	
	$(".manyyears").datepicker('option', {minDate: new Date('1900-01-01')});
	$(".manyyears").datepicker('option', {maxDate: new Date('2000-12-31')});
	$(".manyyears").datepicker('option', {yearRange: '1900:2000'});	
	$("select.ui-datepicker-month , select.ui-datepicker-year").addClass("input-sm form-control inline");/**/
	
	$(".readonly").each(function(){
		$(this).attr('readonly', true);
	});
	$(".pre_readonly").attr('readonly', true);
	
	$(".disabledfield").each(function(){
		$(this).attr('readonly', true).attr('disabled', true);
	});
	
	// select all checkboxes with a class Y
	$("input:checkbox.Y, input:checkbox.1, input:radio.Y, input:radio.1").attr('checked', true);
	$("input:checkbox.Y, input:checkbox.1, input:radio.Y, input:radio.1").change(function(){
		if(this.checked == true) {
			$(this).attr('checked', true);		
		} else {			
			$(this).attr('checked', false);		
		}
	});
	
	// auto submit for list filters with the specified class, and all selects in a container with class filter 
	$("#itemcountperpage, select.autofilter, input.autosearch").each(function(){
		$(this).change(function(){
			// clear the values in the search field
			clearValue("searchterm"); 
			// submit the form containing the dropdown
			$(this).parents("form:first").submit(); 
	        return true;
		});
	});
	
	// return to previous page for cancel buttons
	$('a.cancel').on('click', function(){
        parent.history.back();
        return false;
    });
	
	// reset tab index
    var tabindex = 1;
    $('input,select,textarea').each(function() {
        if (this.type != "hidden") {
            var $input = $(this);
            $input.attr("tabindex", tabindex);
            tabindex++;
        }
    });

  	// set hidden field for the alphabet and submit the form
	$(".alphabets a").on('click', function(){
		var letter = $(this).attr('id');
		$('#letter').val(letter);
		$("#listform").submit();
		return true;
	});
	
	$("a.gonowhere").each(function(e){
		$(this).attr('href', 'javascript: void(0)');
	});
	
	$("a.blannkhref, .blannkhref").each(function(e){
		$(this).removeAttr('href');
	});
	$(".removecursor").each(function(e){
		$(this).css({'cursor':"default"});;
	});

	$('div.controls, .nullifempty').each(function() {
		var html = $(this).html();
		if(isEmptyString(html)){
			$(this).html('--');
		}
	});
	
	$('.zeroifnull').each(function() {
		var html = $(this).html();
		if(isEmptyString(html)){
			$(this).html('0');
		}
	});
	
	$.validator.addClassRules("greaterthanzero", {
		greaterthanzero: true				
	});
	$.validator.addMethod("greaterthanzero", function(value, element) {				
		if(!isEmptyString(value) && parseFloat(value) <=0){
			return false;
		}
		return true;
	}, "Should be greater than zero");
	
	$.validator.addClassRules("inputrequired", {
		input_not_empty: true				
	});
	$.validator.addMethod("input_not_empty", function(value, element) {				
		if(isEmptyString(value)){
			return false;
		}
		return true;
	}, "Please enter a value");
	
	$.validator.addClassRules("selectrequired", {
		select_not_empty: true				
	});
	$.validator.addMethod("select_not_empty", function(value, element) {				
		if(isEmptyString(value)){
			return false;
		}
		return true;
	}, "Please select");
	
	$.validator.addMethod("validate_ug", function(value, element, params) { 
		if(!isUgNumber(value) && !isEmptyString(value)) {
			return false; 
		}
		return true;        
	}, "<?php echo $this->translate("globale_phonenumber_format"); ?>");
	
	// Add validation rules for number fields on each line
	$.validator.addClassRules("isnumber", {
		validate_number: true				
	});
	$.validator.addMethod("validate_number", function(value, element) {				
		if(!IsValidAmount(value)){
			return false;
		}
		return true;
	}, "Enter valid number");
	
	$.validator.addClassRules("isdecimal", {
		validate_decimal: true				
	});
	$.validator.addMethod("validate_decimal", function(value, element) {				
		if(!IsValidDecimal(value)){
			return false;
		}
		return true;
	}, "Enter valid number");
	
	$.validator.addClassRules("isdecimalwithcomma", {
		validate_decimalcomma: true				
	});
	$.validator.addMethod("validate_decimalcomma", function(value, element) {				
		if(!IsValidDecimalComma(value)){
			return false;
		}
		return true;
	}, "Enter valid number");
	
	
	$.validator.addClassRules("isvalidemail", {
		validate_email: true				
	});
	$.validator.addMethod("validate_email", function(value, element) {				
		if(!isEmptyString(value) && !isValidEmailAddress(value)){
			return false;
		}
		return true;
	}, "Please enter a valid email");
	
	$.validator.addClassRules("isdecimalvalue", {
		validate_decimal_value: true				
	});
	$.validator.addMethod("validate_decimal_value", function(value, element) {				
		if(!IsValidDecimal(value)){
			return false;
		}
		return true;
	}, "Enter valid value");
	
	$.validator.addClassRules("isamount", {
		validate_amount: true				
	});
	$.validator.addMethod("validate_amount", function(value, element) {				
		if(!IsValidAmount(value)){
			return false;
		}
		return true;
	}, "Invalid Amount");
		
	// add the validation for wholesale price to be less than retail price
	$.validator.addMethod("validnumber", function(value, element, params) { 
		if (IsValidAmount(value)) {
			return true; 
		}
		return false;        
	}, "Please enter a valid Phone Number");
	
	// validate alpha numberic
	$.validator.addClassRules("isalphanumeric", {
		validate_alpha: true				
	});
	$.validator.addMethod("validate_alpha", function(value, element) {
		// var str = "mukisa_9-";
		var str = value;
		var patt = new RegExp("^[a-z][a-z0-9-_]+$");		
		var res = patt.test(str);
		if(!res){
			// alert('passed');
			return false;
		}		
		return true;
	}, "Invalid format. <br> - Only numbers and letters allowed and no space <br> - Must begin with a Letter <br> - May contain an underscore or dash");
	
	// Add validation rules for maximum characters for content
	$.validator.addClassRules("max10content", {
		validate_10_string: true				
	});
	$.validator.addMethod("validate_10_string", function(value, element) {				
		if(value.length > 10){
			return false;
		}
		return true;
	}, "Max length allowed is 10 Chars");
	
	// Add validation rules for maximum characters for content
	$.validator.addClassRules("max15content", {
		validate_15_string: true				
	});
	$.validator.addMethod("validate_15_string", function(value, element) {				
		if(value.length > 15){
			return false;
		}
		return true;
	}, "Max length allowed is 15 Chars");
	
	// Add validation rules for maximum characters for content
	$.validator.addClassRules("max25content", {
		validate_25_string: true				
	});
	$.validator.addMethod("validate_25_string", function(value, element) {				
		if(value.length > 25){
			return false;
		}
		return true;
	}, "Max length allowed is 25 Chars");
	
	// Add validation rules for maximum characters for content
	$.validator.addClassRules("max50content", {
		validate_50_string: true				
	});
	$.validator.addMethod("validate_50_string", function(value, element) {				
		if(value.length > 50){
			return false;
		}
		return true;
	}, "Max length allowed is 50 Chars");
	
	$.validator.addClassRules("max255content", {
		validate_255_string: true				
	});
	$.validator.addMethod("validate_255_string", function(value, element) {				
		if(value.length > 255){
			return false;
		}
		return true;
	}, "Only a maximum of 255 Characters allowed!");
	
	$.validator.addClassRules("max500content", {
		validate_500_string: true				
	});
	$.validator.addMethod("validate_500_string", function(value, element) {				
		if(value.length > 500){
			return false;
		}
		return true;
	}, "Only a maximum of 500 Characters allowed!");
	
	// Add validation rules for maximum characters for content
	$.validator.addClassRules("strictalpha", {
		validate_strict_alpha: true				
	});
	$.validator.addMethod("validate_strict_alpha", function(value, element) {				
		return this.optional(element) || /^[a-zA-Z0-9-_]*$/i.test(value);
	}, "Only letters, digits, underscore and no space are allowed");
	
	// Add validation rules for maximum characters for content
	$.validator.addClassRules("maxwords250", {
		wordCount: ['250']
	});
	$.validator.addClassRules("maxwords500", {
		wordCount: ['500']
	});
	$.validator.addClassRules("maxwords1000", {
		wordCount: ['1000']
	});
	//add the custom validation method
	$.validator.addMethod("wordCount", function(value, element, params) {
		var count = getWordCount(value);
		if(isEmptyString(value)){
			return true;
		}
		if(!isEmptyString(value) && count <= params[0]) {
			return true;
		}
		return false;
	}, $.validator.format("Maximum of {0} words allowed"));
	function getWordCount(wordString) {
		var words = wordString.split(" ");
		words = words.filter(function(words) { 
			return words.length > 0
		}).length;
		return words;
	}
	
	// Add validation rules for maximum characters for content
	$.validator.addClassRules("endafterstart", {
		enddateafterstartdate: true				
	});
	
	// function to validate the enddate being greater than the start date
	$.validator.addMethod("enddateafterstartdate", function(value, element) {            
		var startDate = $(".startdate").val();  
		if($.trim(value) == ""){
			return true;
		}
		if($.trim(startDate) == ""){
			return false;
		}
		return Date.parse(startDate) <= Date.parse(value);        
	}, "Please select an End Date after the Start Date");
	
	// when a user clicks add new display the first hidden firm which is not shown
	$(".addline").on('click', function() { 
		showNewLine($(this).attr('id'), $(this).attr('maxlines'));
	});		
	function showNewLine(type, maxlines) {
		var maxl = maxlines;
		if(isEmptyString(maxl) || maxl == 'Undefined'){
			maxl = 20;
		}
		$(".hidden_row_"+type+":first").removeClass("hidden_row_"+type).addClass("visible_row_"+type);	
		
		// remove disabled attr from the fields
		$(".visible_row_"+type+" input, .visible_row_"+type+" select, .visible_row_"+type+" textarea").attr("disabled", false);
			
		//if the maximum no of rows is added, hide the link to add another row
		if ($(".visible_row_"+type+"").size() == maxl) {
			$("#"+type).hide();	
		} else {
			$("#"+type).show();	
		}
		$(".chosen-select").trigger("change").trigger("chosen:updated");	
		$(".chosen-container.chosen-container-single").css({'width':'100%'});
	}
	
	// delete rules
	$(".removeline").on('click', function() { 
		removeLine($(this).attr('id'), $(this).attr('rel'), $(this).attr('maxlines'));
	});
	function removeLine(lineid, type, maxlines) {
		var maxl = maxlines;
		if(isEmptyString(maxl) || maxl == 'Undefined'){
			maxl = 20;
		}
		var row_to_hide = lineid;
		var message = '<label class="blockcontainer notbolded">Are you sure you want to delete this entry? <br /><br /> Click <b>OK</b> to confirm, and <b>Cancel</b> to ignore</label>';
		// confirm popup
		bootbox.confirm(message, function(confirmed) {
			if(confirmed){
				$(".visible_row_"+type).has('a#'+row_to_hide).addClass("hidden_row_"+type).removeClass("visible_row_"+type);
				// $("input, select").attr("disabled", true);	
				$("."+row_to_hide+" input, ."+row_to_hide+" select, ."+row_to_hide+" textarea").val('').attr("disabled", true);
				//if the maximum no of rows is added, hide the link to add another row
				if ($(".visible_row_"+type).size() == maxl) {
					$("#"+type).hide();		
				} else {
					$("#"+type).show();	
				}	
				$(".units, .qty, .products_quantity").trigger('keyup');
			} else {
				bootbox.hideAll();
				return false;
			}
		});
	}
	
	$("#bottomactions").html($("#topactions").html());
	
	$("#saveadd, #saveclose.nosuccess").on('click', function(e){
		$("#nosuccessid").val('1');
	});	
	$("#saveclose:not(.nosuccess)").on('click', function(e){
		$("#nosuccessid").val('');
	});	
	// change success url before submitting form
	$(".changesuccessurl").on('click', function(e){
		var successurl = $(this).attr('successurl');
		if(!isEmptyString(successurl) && successurl != 'undefined'){
			$("#successurl").val(successurl);
		}
		
		return true;
	});
	
	/* Plugin specific initializations */
	$('#dialog').modal({
		keyboard: false,
		backdrop: 'static',
		autoResize:true
	});
	$('#dialog').modal('hide');
	
	// add farmer to group
	$(document).find('body').on('click', '.addpopup', function(e){
	// $('.addpopup').on('click', function(e){
		// $("#"+idparam).qtip("hide");
		e.preventDefault();
		var title = $(this).attr('rel');
		var alttitle = $(this).attr('rel2');
		if(!isEmptyString(alttitle) && alttitle != 'undefined'){
			title = alttitle;
		}
		var href = $(this).attr('href');
		var formid = $(this).attr('formtitle');
		var posturl = $(this).attr('action');
		var successurl = $(this).attr('successurl');
		var submittext = $(this).attr('submittext');
		var submiticon = $(this).attr('submiticon'); 
		var addconfirm = $(this).attr('addconfirm');
		var confirmmessage = $(this).attr('confirmmessage'); 
		var hasconfirm = false;
		if(!submiticon || submiticon == '' || submiticon == 'undefined'){
			submiticon = 'ok';
		}
		// alert(posturl);
		// popup title
		$(".modal-header h4").html(title);
		// load content
		$(".modal-body #loading").addClass('hidden').hide();
		$("#dialogcontent").html($("#dialogbody #loading").html());
		$("#dialogcontent").load(href);  	
		// then show it after the changes have been made
		$('#dialog').modal('toggle');
		
		// check for default submit button text
		if(!isEmptyString(submittext)){
			$("#new #save").html(submittext);
		}
		if(!isEmptyString(addconfirm)){
			hasconfirm = true;
		}
		
		// save dialog
		$('#save').on('click', function(e){
			// $('#dialog').modal('hide');
			if ($("#"+formid).valid() == true) {
				var url = successurl; // alert(title);
				
				$("#optionlist_to option").prop('selected', true);
				$("#optionlist2_to option").prop('selected', true);
				
				$("#optionlist_to_hidden").val($("#optionlist_to").val());
				$("#optionlist2_to_hidden").val($("#optionlist2_to").val());
				
				// return false;
				if(hasconfirm){
					bootbox.confirm('<label class="blockcontainer notbolded" style="font-weight:normal !important; font-weight:13px !important;">'+confirmmessage+'</label>', function(confirmed) {
						if(!confirmed){
							bootbox.hideAll();
							return false;		
						} else {
							// no confirmations
							// disable buttons
							$(".modelcancel").hide();
							$(this).hide();
							// post form
							$.post(  
								posturl,  
								$("#"+formid).serialize(),  
								function(data){
									// alert(data); return false;
									// var url = successurl;  
									$(location).attr('href', url);
									// $.blockUI({ message: uiblockcontent}); 
									return true;
								}  
							); // close the $.post
							$("#dialogcontent").hide(); 		
							$("#dialogbody").html('<img style="margin-left:50%;" src="/assets/images/loader.gif" />');
						}
					});
				} else {
					// disable buttons
					$(".modelcancel").hide();
					$(this).hide();
					
					// post form
					$.post(  
						posturl,  
						$("#"+formid).serialize(),  
						function(data){
							// alert(data); return false;
							$(location).attr('href',url);							
							return true;						
						}  
					); // close the $.post
					$("#dialogcontent").hide(); 		
					$("#dialogbody").html('<img style="margin-left:50%;" src="/assets/images/loader.gif" />');
				}
			}
		});
		// cancel model
		$(".modelcancel").on('click', function(e){
			$("#dialog").modal('hide');
			$("#dialogcontent").html('');
			$(".select2-results__options").hide();
		});		
		$('#dialog').on('hidden', function () {
			$("#dialogcontent").html('');
			$(".select2-results__options").hide();
		});
		
		return true;
	});	
	
	// add farmer to group
	// $('.noreloadpopup').click(function(e){
	$(document).find('body').on('click', '.noreloadpopup', function(e){		
		disableContainerByID('indexform');
		e.preventDefault();
		var title = $(this).attr('rel');
		var href = $(this).attr('href');
		var formid = $(this).attr('formtitle');
		var posturl = $(this).attr('action'); // alert(posturl);
		var selectid = $(this).attr('selectid');
		var inputid = $(this).attr('inputid');
		var triggerclick = $(this).attr('trigger-click');
		var submittext = $(this).attr('submittext'); 
		
		$(".modal-header h4").html(title);
		// load content
		//$("#dialogcontent").html();
		$(".modal-body #loading").addClass('hidden').hide();
		$("#dialogcontent").html($("#dialogbody #loading").html());
		$("#dialogcontent").show().load(href);  	
		// then show it after the changes have been made
		$('#dialog').modal('toggle');	
		
		// check for default submit button text
		if(!isEmptyString(submittext)){
			$("#new #save").html('<i class="icon-ok icon-white"></i> '+submittext);
		}
		$(".modelcancel").show();
		$("#save").show();
		$("#saveadd").hide().addClass("hide");
		
		// save dialog
		// $(document).find('#dialog').on('click', '#save, #saveadd', function(e){
		$('#save, #saveadd').on('click', function(e){ // alert($("#popupform").serialize());
			var addnew = 'no';
			if($(this).hasClass('addnew')){
				addnew = 'yes';
			}
			var clickaction = $("#popupform #clickaction").val();
			if(clickaction == 'undefined'){
				clickaction = '';
			}
			$("#dialogcontent #errormessage").addClass('hidden').hide().html('');
			
			if ($("#popupform").valid() == true) {
				$("#poptionlist_to option").prop('selected', true);
				$("#poptionlist_to_hidden").val($("#poptionlist_to").val());
			
				// disable buttons
				$(".modelcancel").hide();
				$('#save').hide();
				if(clickaction == 'new'){
					$('#saveadd').hide().addClass("hide");
				}
				$(".modal-body #loading").removeClass('hidden').show();
				$("#dialogcontent").hide(); 	
				
				var url = $("#popupform").attr('action'); 
				if((isEmptyString(url) || url == 'undefined') && (!isEmptyString(posturl) || posturl != 'undefined')){
					url = posturl
				}
				// alert(url); // return false;
				// post form
				$.post(  
					url,  
					$("#popupform").serialize(),  
					function(data){
						// alert(data); return false;
						data = jQuery.parseJSON(data); // alert(data.result);
						$(".modal-body #loading").hide();
						if(data.result == 'success'){
							var newselectoption = '<option label="'+data.name+'" value="'+data.id+'" id="option_'+data.id+'" selected="selected">'+data.name+'</option>'; // alert(newselectoption);
							enableContainerByID('indexform');
							$("#indexform #"+selectid).append(newselectoption).trigger("change").trigger("chosen:updated");

							// var curr = $("#indexform #"+inputid).val();
							var filestr = data.filelist; // alert(inputid+"_display");
							if(!isEmptyString(filestr)){
								$("#indexform #"+inputid).val(filestr);
								$("#indexform #"+inputid+"_display").html(filestr.replace(/,/g, '<br>')); // filestr.replace(',', '<br>'));
							}
							
							$("#popupform #errormessage").addClass('hidden').hide().html('');
							$("#popupform #successmessage").removeClass('hidden').show().html(data.message).delay(3000).fadeOut('slow');
							if(addnew == 'yes'){
								// alert('reseting form');
								$("#dialogcontent").show();
								$("#dialogcontent input:visible, #dialogcontent textarea:visible").val('').trigger('change');
								$("#dialogcontent #level").trigger('change');
								$("#dialogcontent select:visible, #dialogcontent select.chosen-select").val('').trigger("change").trigger("chosen:updated");
								$(".modelcancel").show();
								$("#save").show();
								if(clickaction == 'new'){
									$("#saveadd").show().removeClass("hide");
								}
							} else {
								$("#dialogcontent").html('');
								$("#dialog").modal('hide').data('modal', null);
								$(".select2-results__options").hide();
								// click refresh button if it exists
								if($(".reload").length > 0){
									$("a.reload").click();
								}
							}
							
							if(!isEmptyString(triggerclick) && triggerclick != 'undefined'){
								$("#indexform #"+triggerclick).attr('current', data.id).click();
							}
						} else {
							$("#dialogcontent").show(); 	
							$("#popupform #errormessage").removeClass('hidden').show().html(data.message);
							$("#popupform #successmessage").addClass('hidden').hide().html('');									
							$(".modelcancel").show();
							$("#save").show();
							if(clickaction == 'new'){
								$("#saveadd").show().removeClass("hide");
							}
						}
					}  
				); // close the $.post
			} else {
				// alert('has error');
			}
		});
	
		$('#dialog').on('hidden.bs.modal', function (e) {
			enableContainerByID('indexform');
			$("#dialogcontent").html('');
			$(this).modal('hide').data('modal', null);
			$(".select2-results__options").hide();
		})
		// cancel model
		$(".modelcancel").on('click', function(e){
			enableContainerByID('indexform');
			$("#dialogcontent").html('');
			$("#dialog").modal('hide').data('modal', null);
			$(".select2-results__options").hide();
		});		
		$('#dialog').on('hidden', function () {
			enableContainerByID('indexform');
			$("#dialogcontent").html('');
			$(this).data('modal', null).data('modal', null);
			$(".select2-results__options").hide();
		});
		 
		return false;
	});
	
	// delete rules
	$(document).find('body').on('click', '#deleteline, .deleteline', function(e){
	// $("#deleteline, .deleteline").on('click', function(e) {
		e.preventDefault();
		var message = '<label class="blockcontainer notbolded">Are you sure you want to delete this entry? <br /><br /> Click <b>OK</b> to confirm, and <b>Cancel</b> to ignore</label>';
		var custom_msg = $(this).attr('message');
		if(!isEmptyString(custom_msg) && custom_msg != 'undefined'){
			var message = '<label class="blockcontainer notbolded">'+custom_msg+' <br /><br /> Click <b>OK</b> to confirm, and <b>Cancel</b> to ignore</label>';
		}
		var url = $(this).attr('action');
		var src = $(this).attr('src');
		// alert(url);
		if(url != 'undefined'){
			confirmDialog(message, url, src);
		}
	});
	
	function confirmDialog(message, url, src) {
		bootbox.confirm(message, function(confirmed) {
			if(confirmed){
				// $.blockUI({ message: uiblockcontent});
				// alert(src);
				if(!isEmptyString(src) && src != 'undefined'){
					$.get(url, {                        
						cachebuster: new Date().getTime()},                            
						function(data){
							bootbox.hideAll();
							if($(".reload").length > 0){
								$("a.reload").click();
							}
						}
					);
				} else { 
					window.location.href = url;	
				}
				// $.blockUI({ message: uiblockcontent}); 
			} else {
				bootbox.hideAll();
			}
		});
		return false;
	}
	function confirmPrompt(message, url) {
		bootbox.prompt(message, function(result) {                
			if (result === null) {                                             
				// alert("Prompt dismissed"); 
				bootbox.hideAll();
			} else {
				if(isEmptyString(result)){
					bootbox.alert("Please specify Reason or Comments before Submiting");     
					
				} else {
					var submiturl = url+'/reason/'+result; // alert(submiturl);
					// $.blockUI({ message: uiblockcontent}); 
					window.location.href = submiturl;	    
					return true;    
				}
			}
		});
	}
	
					
	$(".confirm-dialog").on('click', function(e) {
		e.preventDefault();
		var message = '<label class="blockcontainer small notbolded" style="font-weight:normal !important;">Are you sure? <br /><br /> Click <b>OK</b> to confirm, and <b>Cancel</b> to ignore</label>';
		var custom_msg = $(this).attr('message');
		if(!isEmptyString(custom_msg) && custom_msg != 'undefined'){
			var message = '<label class="blockcontainer notbolded">'+custom_msg+' <br /><br /> Click <b>OK</b> to confirm, and <b>Cancel</b> to ignore</label>';
		}
		var url = $(this).attr('action');
		confirmDialog(message, url);
	});
	
	$(".confirm-prompt").on('click', function(e) {
		e.preventDefault();
		var message = $(this).attr('message');
		var url = $(this).attr('action');
		
		confirmPrompt(message, url);
		$(".bootbox-input").attr('placeholder', "Enter reason or remarks"); 
		$(".modal-title").css({'font-size':'14px'});
	});
	
	$('.bootbox').css({'z-index':'10000'});
	
	$(".alert-dialog").on('click', function(e) {
		e.preventDefault();
		var custom_style = $(this).attr('containerstyle');
		var message = '<label class="blockcontainer notbolded" style="'+custom_style+'"></label>';
		var custom_msg = $(this).attr('message');
		if(!isEmptyString(custom_msg) && custom_msg != 'undefined'){
			var message = '<label class="blockcontainer notbolded" style="'+custom_style+'">'+custom_msg+'</label>';
		}
		bootbox.alert(message); 
	});
	
	$(function(){
		$(".search").keyup(function(e){
			var keyCode = e.keyCode || e.which;
			if(keyCode !== 38 && keyCode !== 40 && keyCode !== 13){
				var inputSearch = $(this).val();
				// var dataString = 'searchword='+ inputSearch;
				var searchurl = '<?php echo $this->baseUrl('search/index'); ?>/searchword/'+inputSearch;
				if(!isEmptyString(inputSearch) && inputSearch.length > 2){
					$.ajax({
						type: "POST",
						url: searchurl,
						cache: false,
						success: function(data) {
							// alert(data);
							$("#divResult").html(data).show().css({'display':'block','padding':'0'});
							$('li.display_box:first').addClass('selected');
							
							$("li.display_box").on("mouseover mouseout", function(e) {
							  if(e.type == "mouseover") {
								$(this).addClass("selected");
							  } else {
								$(this).removeClass("selected");
							  }
							});
						}
					});
				}
				/*if(inputSearch.length > 0 && inputSearch.length <= 2){
					$("#divResult").html("<a class='xhidden' style='text-align:center; display:block;'>Atleast 3 characters required</a>").css({'display':'block','padding':'10px 0'});
				}*/
				var imageurl = '<?php echo $this->baseUrl('assets/images/loader.gif'); ?>';
				if(!isEmptyString(inputSearch)){
					$("#divResult").html("<a id='loading' class='xhidden' style='text-align:center; display:block;'><img style='width:22px;' src='<?php echo $this->baseUrl('assets/images/loader.gif'); ?>' /></a>").css({'display':'block','padding':'10px 0'});
				}
			} else {
				// if( $('li.display_box').length > 0) {
				var li = $('li.display_box');
				var liSelected = $("li.display_box").eq(0);
				
				if(keyCode === 40){
					liSelected = $('li.display_box.selected');
					liSelected.removeClass('selected');
					var curentindex = parseInt(liSelected.index());					
					next = li.eq(curentindex);					
					if(next.length > 0){
						liSelected = next.addClass('selected');
					} else {
						liSelected = $("li.display_box").eq(0).addClass('selected');
					}
				} 
				if(keyCode === 38) {
					liSelected = $('li.display_box.selected');
					liSelected.removeClass('selected');
					var curentindex = parseInt(liSelected.index());
					next = li.eq(curentindex-1);
					var lastindex = parseInt($("li.display_box").length);
					// alert(lastindex);
					if(next.length > 0){
						liSelected = next.addClass('selected');
					} else {
						liSelected = li.last().addClass('selected');
						// liSelected = $("li.display_box").eq(lastindex-1).addClass('selected');
					}
				}
				if(keyCode === 13) {
					var liSelected = $("li.display_box.selected");
					if(liSelected){
						var url = $("li.display_box.selected").attr('url'); // alert(url);
						if(!isEmptyString(url)){
							$.blockUI({ message: uiblockcontent}); 
							window.location.href = url;
						}
					}
				}
				$('a.blockanchor').on('click', function(){
					// $.blockUI({ message: uiblockcontent}); 
					return true;
				});
			}
			return false;    
		});
		
		$("#divResult").on("click",function(e){ 
			  var $clicked = $(e.target);
			  var $name = $clicked.find('.name').html();
			  var decoded = $("<div/>").html($name).text();
			  $('#inputSearch').val(decoded);
			  
		});
		$(document).on("click", function(e) { 
			  var $clicked = $(e.target);
			  if (! $clicked.hasClass("search")){
			  	$("#divResult").fadeOut(); 
			  }
		});
		$(".display_box").on("click",function(e){ 
			 var url = $(this).attr('url');
			 window.location.href = url;
		});
		$('#inputSearch').on('click', function(){
			  $("#divResult").fadeIn();
		});
	});
	
	// dynamically add new configurable values to dropdowns
	$(".configvariable").change(function(){
		var fieldid = $(this).attr('fieldid');
		var value = $("#"+fieldid).val(); 
		var lookupid = $("#"+fieldid).attr('lookupid'); // alert(fieldid+'-'+value+'-'+lookupid);
		
		var fieldlabel = $("#"+fieldid).attr('fieldlabel'); // alert(fieldlabel);
		var hasalias = $("#"+fieldid).attr('hasalias');
		if(hasalias == '1'){
			var hasalias = '1';
		} else {
			var hasalias = '0';
		}
		var doubleappendid = $("#"+fieldid).attr('doubleappendid');
		var appendclass = $("#"+fieldid).attr('appendclass');
		if(isEmptyString(doubleappendid) || doubleappendid == 'undefined'){
			doubleappendid = '';
		}
		if(isEmptyString(appendclass) || appendclass == 'undefined'){
			appendclass = '';
		}
		var parent = $("#"+fieldid).attr('parentid');
		var parentid = '';
		if(!isEmptyString(parent)){
			parentid = $("#"+parent).val();
		}
		
		if(!isEmptyString(value) && value == '0'){
			var title = fieldlabel+' - New Value';
			var href = '<?php echo $this->baseUrl('config/add/pgc/true/hasalias/'); ?>'+hasalias+'/lookupid/'+lookupid+'/fieldid/'+fieldid+'/doubleappendid/'+doubleappendid+'/appendclass/'+appendclass+'/parentid/'+parentid;
			var formid = 'configform';
			var posturl = '<?php echo $this->baseUrl("config/processvariables"); ?>';
			var submittext = 'Save'; 
			
			// popup title
			$(".modal-title").html(title);
			// load content
			$("#dialogcontent").html($("#dialogbody #loading").html());
			$("#dialogcontent").load(href);  	
			// then show it after the changes have been made
			$('#dialog').modal('toggle');
			$(".modelcancel").show();
			$("#save").show();
			
			// check for default submit button text
			if(!isEmptyString(submittext)){
				$("#new #save").html('<i class="icon-ok icon-white"></i> '+submittext);
			}
			
			// save dialog
			$('#dialog #save').on('click', function(e){
				var fieldid = $(".popupwindow #fieldid").val();
				var doubleappendid = $(".popupwindow #doubleappendid").val();
				var lookupid = $(".popupwindow #lookupid").val(); 
				var hasalias = $(".popupwindow #hasalias").val();
				var formid = 'configform';
				// $('#dialog').modal('hide');	
				if($(".popupwindow #"+formid).valid() == true) {
					// alert('>'+fieldid+'>'+doubleappendid+'>'+lookupid+'>'+hasalias);
					// disable buttons
					$(".modelcancel").hide();
					$('#dialog #save').hide();
					// post form
					$.post(  
						posturl,  
						$("#"+formid).serialize(),  
						function(data){
							// alert(data); // return false;
							data = jQuery.parseJSON(data);
							if(data.error == ''){
								var labelname = data.name;
								/*if(hasalias == '1'){
									var labelname = data.alias+' - '+data.name;
								}*/
								var newselectoption = '<option label="'+labelname+'" value="'+data.id+'" selected="selected">'+labelname+'</option>';
								// alert(newselectoption);
								// append the option to the defined fieldid
							
								$("#"+fieldid).append(newselectoption);
								// also append the option to another select if specified
								if(!isEmptyString(doubleappendid) && doubleappendid != 'undefined'){
									var altselectoption = '<option label="'+labelname+'" value="'+data.id+'">'+labelname+'</option>';
									$("#"+doubleappendid).append(altselectoption);
								}
								if(!isEmptyString(appendclass) && appendclass != 'undefined'){
									var altselectoption = '<option label="'+labelname+'" value="'+data.id+'">'+labelname+'</option>';
									$("."+appendclass+":not(#"+fieldid+")").append(altselectoption);
								}
							
								enableContainerByID('indexform');
								$("#dialog").modal('hide');
							} else {
								enableContainerByID('indexform');
								$("#dialog").modal('hide');
								bootbox.alert(data.error); 
							}
							
						}  
					); // close the $.post					
					$("#dialogcontent").html($("#dialogbody #loading").html());
				}
			});
			
			// cancel model
			$(".modelcancel, .close").on('click', function(e){
				$("#dialog").modal('hide');
				enableContainerByID('indexform');
				$("#"+fieldid).val('');
			});		
			$('#dialog').on('hidden', function () {
				enableContainerByID('indexform');
				// $("#"+fieldid).val('');
			});
			return false;
		}
	});
	
	// dynamically add new configurable values to dropdowns
	$(".checkothertrigger").on('click', function(){
		var fieldid = $(this).attr('fieldid');
		var lookupid = $(this).attr('lookupid'); 
		var fieldlabel = $(this).attr('fieldlabel');
		var checkclasses = base64_encode($(this).attr('checkclasses'));
		var checkname = $(this).attr('checkname');
		var checkid = $(this).attr('checkid');
		
		var title = fieldlabel+' - New Value';
		var href = '<?php echo $this->baseUrl('config/add/pgc/true'); ?>'+'/lookupid/'+lookupid+'/fieldid/'+fieldid+'/checkclasses/'+checkclasses+'/checkname/'+checkname+'/checkid/'+checkid;
		var formid = 'configform';
		var posturl = '<?php echo $this->baseUrl("config/processvariables"); ?>';
		var submittext = 'Save'; 
		
		// popup title
		$(".modal-title").html(title);
		// load content
		$("#dialogcontent").html($("#dialogbody #loading").html());
		$("#dialogcontent").load(href);  	
		// then show it after the changes have been made
		$('#dialog').modal('toggle');
		$(".modelcancel").show();
		$("#save").show();
		
		// check for default submit button text
		if(!isEmptyString(submittext)){
			$("#new #save").html('<i class="icon-ok icon-white"></i> '+submittext);
		}
		
		// save dialog
		$('#dialog #save').on('click', function(e){
			var fieldid = $(".popupwindow #fieldid").val();
			var lookupid = $(".popupwindow #lookupid").val(); 
			var checkclasses = $(".popupwindow #checkclasses").val(); 
			var checkname = $(".popupwindow #checkname").val(); 
			var checkid = $(".popupwindow #checkid").val(); 
			
			var formid = 'configform';
			// $('#dialog').modal('hide');	
			if($(".popupwindow #"+formid).valid() == true) {
				// disable buttons
				$(".modelcancel").hide();
				$('#dialog #save').hide();
				// post form
				$.post(  
					posturl,  
					$("#"+formid).serialize(),  
					function(data){
						// alert(data); return false;
						data = jQuery.parseJSON(data);
						var newoption = '<label class="'+base64_decode(checkclasses)+'"><input type="checkbox" value="'+data.id+'" class="disableoutsidesection" name="'+checkname+'" id="'+checkid+data.id+'" checked>'+data.name+'</label>'; // alert(newoption);
						// append the option to the defined fieldid
						$("#container_"+fieldid).append(newoption);
						
						$("#dialog").modal('hide');
						enableContainerByID('indexform');
					}  
				); // close the $.post					
				$("#dialogcontent").html($("#dialogbody #loading").html());
			}
		});
		
		// cancel model
		$(".modelcancel, .close").on('click', function(e){
			$("#dialog").modal('hide');
			enableContainerByID('indexform');
			$("#"+fieldid).val('');
		});		
		$('#dialog').on('hidden', function () {
			enableContainerByID('indexform');
			$("#"+fieldid).val('');
		});
		return false;
	});
	
	$('a.blanklink').removeAttr('href');
	$(".styletrigger").on('click', function(){
		var id = $(this).attr('id');
		var value = $(this).attr('rel');
		var style = '<?php echo $request->style; ?>';
		if(value != style){
			$('#style').val(value);
			$('#listform').submit();
		}
	});
	
	$("#indexform, #viewform, #popupform").submit(function(e){
		// e.preventDefault();
		if($(this).valid()) {
			$(".savebutton").addClass('disabledfield disabled').html(' <img src="<?php echo $this->baseUrl('assets/images/loader.gif'); ?>" /> Saving... ');
		}
		return true;
	});
	
	// export list to excel
	$(".submitexcel").on('click', function(e){
		e.preventDefault();
		// $(".replacehtml").val('');
		var title = $(this).attr('exporttitle');
		var keepkeys = $(this).attr('keepkeys');
		var ignore = new Array();
		$('.ignoreexport').each(function(){
			var igid = $(this).attr('ignoreid');
			ignore.push(igid);
		});
		// alert(ignore); return false;
		
		var csv_value = $('#listtable').table2CSV({separator : ';',delivery:'value'}); // console.log(csv_value);
		var decoded_value = base64_encode(csv_value); // alert(decoded_value);
		$("#csv_text").val(decoded_value); // alert(decoded_value);
		$("#contentarea form").attr('action', '<?php echo $this->baseUrl('download/excel/ignorecolumns/'); ?>'+ignore+'/title/'+title+'/keepkeys/'+keepkeys).attr('method', 'post').submit();
		// on submit reset the form parameters to previous definition
		$("#contentarea form").attr('action', $("#contentarea form").attr('orginalaction')).attr('method', 'get');
		return false;
	});
	
	
	// toggle showing the hidden leftcolumn. set value in session so that when pages are reloaded the previous setting is kept in session
	$(".open-left").on('click', function(){
		// alert('clicked');
		if($("#wrapper").hasClass('enlarged')){
			$.get("<?php echo $this->baseUrl('index/themechange/type/sidebar/value/0'); ?>", {                        
				cachebuster: new Date().getTime()},                            
				function(data){                        
					// alert(data);                        
				}
			);
		} else {
			$.get("<?php echo $this->baseUrl('index/themechange/type/sidebar/value/1'); ?>", {                        
				cachebuster: new Date().getTime()},                            
				function(data){                        
					// alert(data);                        
				}
			);
		}
	});
	
	<?php if($loggedinuser->getLayout() == '2' && $loggedinuser->getSidebar() == '0'){ ?>
		// alert('toggling');
		$(".open-left").on('click', );
	<?php } ?>
	
	$('#period').change(function(){
		var period = $(this).val();
		if(period == '0'){
			enableContainerByID('daterange');	
		} else {
			disableContainerByID('daterange');
		}
	});
	
	$(".paginationlinks").addClass('floatright');
	
	$("#qterm, .qterm").keyup(function(e){
		var keyCode = e.keyCode || e.which;
		if(/*keyCode == 38 && keyCode === 40 &&*/ keyCode == 13){
			$("#listform").submit();
			 $.blockUI({ message: uiblockcontent});
		}
	});
	$("#qterm, .qterm").trigger('keyup');
	
	
});
//Use window.load and not document.ready for effective equal heights
$(window).load(function() {
	$('.datefield').blur();
	$('.datefield').datepicker("hide");
	
	$("ul.nav-tabs li a").on('click', function(e){ // e.preventDefault(); 
		var url = $(this).attr('goto');
		var id = $(this).attr('theid'); // alert();
		if(!isEmptyString(url) && url != 'undefined'){
			$(".tab-pane").html('');
			$(".tab-pane:first").html("<a id='loading' class='xhidden' style='text-align:center; display:block; margin-top:50px; margin-bottom:100px;'><span style='display:block; margin-bottom:15px; font-weight:bold;'>Loading...</span><img style='margin-left:-10px;' src='/assets/images/loader.gif' /></a>").css({'display':'block'});
			$(".savebutton, .cancel").attr('disabled', true);
			window.location.href = url;
		}
	}); 
	<?php if(isEmptyString($request->print)){ ?>
		if($("#listtable").length > 0) {// $('#datatable').dataTable();
			var table = $('#listtable').DataTable({
				aaSorting: [],
				scrollX: true,
				scrollY: 400,
				scrollCollapse: true,
				paging: false,
				ordering: true,
				info: false,
				filter: true,
				<?php if($request->tab == 'results' || $action == 'logframe'){ ?>
					<?php if($request->section == 'logframe' || isEmptyString($request->section)){ ?>
						fixedColumns: {
							leftColumns: 1
						},
						columnDefs: [
							{ width: 120, targets: 0 },
							{ width: 450, targets: 1 },
							/*{ width: 350, targets: 2 },*/
							{ width: 350, targets: 2},
							{ width: 10, targets: 3}
						],
					<?php } ?>
					<?php if($request->section == 'outputplan'){ ?>
						fixedColumns: {
							leftColumns: 2
						},
						columnDefs: [
							{ width: 50, targets: 0},
							{ width: 50, targets: 1},
							{ width: 400, targets: 2}
						],
					<?php } ?>
				<?php } ?>
				<?php if(($controller == 'indicator' && $action == 'list') || $request->tab == 'indicators'){ ?>
					fixedColumns: {
						leftColumns: 2
					},
					columnDefs: [
						{ width: 10, targets: 0 },
						{ width: 300, targets: 1 },
						{ width: 250, targets: 8}
					],
				<?php } ?>
				<?php if($controller == 'indicator' && $action == 'view'){ ?>
					fixedColumns: {
						leftColumns: 2
					},
					columnDefs: [
						{ width: 80, targets: 0 },
						{ width: 250, targets: 1 }
					],
				<?php } ?>
				<?php if($controller == 'profile'){ ?>
					fixedColumns: {
						leftColumns: 2
					},
					columnDefs: [
						{ width: 150, targets: 0}, 
						{width: 200, targets: 1 }
					],
				<?php } ?>
				<?php if($controller == 'directory'){ ?>
					fixedColumns: {
						leftColumns: 2
					},
					columnDefs: [
						{ width: 90, targets: 0}, 
						{width: 200, targets: 1 }
					],
				<?php } ?>
				<?php if($controller == 'activity' || $request->tab == 'activity'){ ?>
					fixedColumns: {
						leftColumns: 2
					},
					columnDefs: [
						{ width: 150, targets: 0}, {width: 400, targets: 1 }
					],
				<?php } ?>
				<?php if($controller == 'milestoneperiod' || ($controller == 'project' && $action == 'list')){ ?>
					fixedColumns: {
						leftColumns: 2
					},
					columnDefs: [
						{ width: 100, targets: 0}, {width: 400, targets: 1 }
					],
				<?php } ?>
				<?php if($controller == 'milestone'){ ?>
					fixedColumns: {
						leftColumns: 1
					},
					columnDefs: [
						{ width: 200, targets: 0}, { width: 200, targets: 1}, { width: 200, targets: 2}, { width: 200, targets: 3}
					],
				<?php } ?>
				<?php if($controller == 'issuetracking' || ($controller == 'project' && $request->tab == 'raid' && ($request->widget == 'issues' || isEmptyString($request->widget)))){ ?>
					fixedColumns: {
						leftColumns: 2
					},
					columnDefs: [
						{ width: 80, targets: 0}, {width: 300, targets: 1 }
					],
				<?php } ?>
				<?php if($controller == 'risk' || ($controller == 'project' && $request->tab == 'raid' && $request->widget == 'risks')){ ?>
					<?php if(($controller == 'risk' && $action == 'list') || ($controller == 'project' && $request->widget == 'risks')){ ?>
						fixedColumns: {
							leftColumns: 2
						},
						columnDefs: [
							{width: 80, targets: 0}, 
							{width: 200, targets: 1 }, 
							{width: 200, targets: 2 },
							{width: 300, targets: 8 }
						],
					<?php } ?>
					<?php if(($controller == 'risk' && $action == 'view') || ($controller == 'project' && $request->section == 'viewrisk')){ ?>
						fixedColumns: {
							leftColumns: 1
						},
						columnDefs: [
							{width: 120, targets: 0} ,
							{width: 200, targets: 7} 
						],
					<?php } ?>
				<?php } ?>
				
				<?php if($controller == 'dataentry' && ($request->datasetid == '40' || $request->section == 'details' || $request->tab == 'addresult') || ($controller == 'report' || $action == 'project')){ ?>
					fixedColumns: {
						leftColumns: 2
					},
					columnDefs: [
						{width: 100, targets: 0}, 
						{width: 250, targets: 1 }
					],
				<?php } else { ?>
					<?php 
						$showdataentry = false;
						if($request->tab == 'data' && $request->widget == 'submissions'){
							$showdataentry = true;
						}
						if($controller == 'dataentry' && $action == 'list' && $request->datasetid != '40' && (isEmptyString($request->tab) || $request->tab == 'overview')){
							$showdataentry = true;
						}
						if($showdataentry){ ?>
							
							fixedColumns: {
								leftColumns: 1
							},
							columnDefs: [
								{ width: 100, targets: 0}, {width: 300, targets: 1 }
							],
					<?php } ?>
				<?php } ?>
				<?php if($controller == 'dataset' || ($request->tab == 'data' && $request->widget == 'widget') || $controller == 'attribute'){ ?>
					fixedColumns: {
						leftColumns: 3
					},
					columnDefs: [
						{ width: 100, targets: 0}, <?php echo $controller == 'attribute' ? '{width: 200, targets: 4},' : ','; ?> 
						{width: 400, targets: 1} 
					],
				<?php } ?>
				<?php if($controller == 'attributegroup' || $controller == 'categorygroup' || $controller == 'validation'){ ?>
					fixedColumns: {
						leftColumns: 2
					},
					columnDefs: [
						{ width: 100, targets: 0}, {width: 500, targets: 1 }
					],
				<?php } ?>
				<?php if($controller == 'category'){ ?>
					fixedColumns: {
						leftColumns: 2
					},
					columnDefs: [
						{ width: 110, targets: 0 },
						{ width: 400, targets: 1 },
						{ width: 300, targets: 2 }
					],
				<?php } ?>
				<?php if($controller == 'indicatorgroup'){ ?>
					fixedColumns: {
						leftColumns: 2
					},
					columnDefs: [
						{ width: 100, targets: 0 },
						{ width: 300, targets: 1 },
						{ width: 300, targets: 2 }
					],
				<?php } ?>
				<?php if($controller == 'categoryoption'){ ?>
					fixedColumns: {
						leftColumns: 2
					},
					columnDefs: [
						{ width: 110, targets: 0 },
						{ width: 500, targets: 1 },
						{ width: 250, targets: 2 },
						{ width: 150, targets: 3 },
						{ width: 100, targets: 4 }
					],
				<?php } ?>
				<?php if($controller == 'report' && ($action == 'indicator' || $action == 'csindicator')){ ?>
					fixedColumns: {
						leftColumns: 2
					},
					columnDefs: [
						{ width: 100, targets: 0}, {width: 350, targets: 1 }
					],
				<?php } ?>
				fixedHeader: {
					header: true,
					footer: true
				},
				dom: 'C<"clear">lfrtip',
				colVis: {
					text: "Toggle",
					showNone: "Show None",
					showAll: "Show All"
				}
			});
			
			$("#newColPlace").html($("#listtable_wrapper.dataTables_wrapper .ColVis"));
			$('ul.ColVis_collection').css({'background-color':'#fff','opacity':'1'});
			$('.ColVis_Button.ColVis_MasterButton').html('<i class="fa fa-check-square-o" style="font-size:14px;"></i>').addClass('btn btn-default btn-sm').attr('title', 'Show/Hide Columns');
			
			var table = $('#listtable').DataTable();
			var search = $.fn.dataTable.util.throttle(
				function(val) {
					table.search(val).draw();
				},
				400 // Search delay in ms
			);
			
			$('#qterm').keyup(function() {
				search(this.value);
				var searchval = $(this).val();
				if(isEmptyString(searchval)){
					$(".searchtool .clear").addClass('hidden');
				} else {
					$(".searchtool .clear").removeClass('hidden');
				}
			});
			$(".searchtool .clear").on('click', function(e){ // e.preventDefault(); 
				$("#qterm").val('').trigger('keyup');
			}); 
		}
	<?php } ?>
	
	<?php if($request->print == 1){ ?>
		$("#listtable a").replaceWith(function() { return this.innerHTML; });
		$(".nav.nav-tabs").remove();
		$("table.listtable").css({'max-width':'600px'});
		$(".table#listtable td").removeClass('nowrapping');
	<?php } ?>
	
	// if the target of the click isn't the container nor a descendant of the container
	$(document).mouseup(function(e) {
	    var container = $(".pvtFilterBox");
	    if (!container.is(e.target) && container.has(e.target).length === 0) {
	        container.hide();
	    }
	    return true;
	});
	
});
function UnblockUI() {
	$.unblockUI();
}
function BlockUI() {
	$.blockUI({ message: '<h1>Please wait..</h1>' });
}
</script>
<script src="/assets/js/onload.js"></script>
