
<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$customurl = '';
	
	$toggled = $session->getVar('toggled');
	$toggledclass = '';
	if($toggled == '1'){
		$toggledclass = ' toggled';
	}
	
	$unread_messages = $session->getVar('unread');
	
?>
<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Sidemenu -->
        <div id="sidebar-menu" class="p-b-0">
            <ul>
                <li class="menu-title">Navigation</li>
                <?php require_once APPLICATION_PATH.'/views/scripts/index/navmenu.phtml'; ?>
            </ul>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
        <div class="help-box m-t-10">
            <h5 class="text-muted m-t-0">For Help ?</h5>
            <p class=""><span class="text-custom">Email:</span> <br/> support@planmer.org</p>
            <p><span class="text-custom">Tel:</span> <br/> (256) 312-345060</p>
        </div>
    </div>
    <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->