<div class="row">
    <div class="col-sm-12">
        <?php if (!isEmptyString($session->getVar(SUCCESS_MESSAGE))) { ?>
            <div class="alert alert-success alert-dismissable" style="color:green;"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar(SUCCESS_MESSAGE); ?>
            </div>
        <?php } ?>
        <?php if (!isEmptyString($session->getVar(ERROR_MESSAGE))) { ?>
            <div class="alert alert-danger alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
            <?php if($session->getVar('contactadmin') == 1){?>
                <div>
                    <a href="<?php echo $this->baseUrl('notifications/index'); ?>" class="btn btn-primary"><i class="fa fa-envelope"></i> Contact Admin</a>
                </div>
                <div class="divider2"></div>
            <?php } ?>
        <?php } ?>
        <?php if (!isEmptyString($session->getVar("errormessage"))) { ?>
            <div class="alert alert-danger alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
        <?php } ?>
        <?php if (!isEmptyString($session->getVar("infomessage"))) { ?>
            <div class="alert alert-info alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar("infomessage"); ?></div>
     	<?php } ?>
        <?php if (!isEmptyString($session->getVar("warningmessage"))) { ?>
            <div class="alert alert-warning alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar("warningmessage"); ?></div>
            <?php if($session->getVar('contactadmin') == 1){?>
                <div>
                    <a href="<?php echo $this->baseUrl('notifications/index'); ?>" class="btn btn-primary"><i class="fa fa-envelope"></i> Contact Admin</a>
                </div>
                <div class="divider2"></div>
            <?php } ?>
     	<?php } ?>
        <?php if (!isEmptyString($session->getVar("warningmessage2"))) { ?>
        	<div class="alert alert-warning alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar("warningmessage2"); ?></div>
        <?php } ?>
        <?php if (!isEmptyString($session->getVar('invitesuccess'))) { ?>
            <div class="alert alert-success alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar('invitesuccess'); ?></div>
        <?php } ?>
        <?php if (!isEmptyString($session->getVar('custommessage1'))) { ?>
            <div class="alert alert-success alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar('custommessage1'); ?></div>
        <?php } ?>
        <?php if (!isEmptyString($session->getVar('custommessage2'))) { ?>
            <div class="alert alert-success alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar('custommessage2'); ?></div>
        <?php } ?>
        <?php if (!isEmptyString($session->getVar('custommessage3'))) { ?>
            <div class="alert alert-success alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar('custommessage3'); ?></div>
        <?php } ?>
        <?php if (!isEmptyString($session->getVar('custommessage4'))) { ?>
            <div class="alert alert-success alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar('custommessage4'); ?></div>
        <?php } ?>
        <?php if (!isEmptyString($session->getVar('custommessage5'))) { ?>
            <div class="alert alert-success alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar('custommessage4'); ?></div>
        <?php } ?>
    </div>
</div> 