					<?php if($acl->checkPermission('Navigation', 'userdashboard')){ ?>	
                        <li class="<?php echo $controller == 'dashboard' ? 'active' : ''; ?>"><a href="<?php echo $this->baseUrl('dashboard'); ?>"><i class="fa fa-home"></i> <?php echo $this->layoutx == 2 ? '<span>Dashboard</span>' : 'Dashboard'; ?></a> </li>
                    <?php } ?>    
                    <?php if($acl->checkPermission('Navigation', 'programmes')) { ?>
                        <li class="has-submenu <?php echo in_array($controller, array('programme','project', 'indicator', 'milestone')) ? 'active' : ''; ?>">
                            <a class="gonowhere <?php echo $this->layoutx == 2 ? 'waves-effect' : ''; ?>"><i class="fa fa-users"></i> <?php echo $this->layoutx == 2 ? '<span>Programmes</span> <span class="menu-arrow"></span>' : 'Programmes'; ?></a>
                            <ul class="submenu">
                                <?php if($acl->checkPermission('Framework', 'viewresults')) { ?>    
                                	<li class="<?php echo ($controller == 'programme' && $action == 'resultsframe') ? 'active' : ''; ?>"><a href="<?php echo $this->baseUrl('programme/resultsframe'); ?>">Results Framework</a></li>
                                <?php } ?>
								<?php if($acl->checkPermission('Framework', 'viewlogical')) { ?>    
                                	<li class="<?php echo ($controller == 'programme' && $action == 'logframe') ? 'active' : ''; ?>"><a href="<?php echo $this->baseUrl('programme/logframe'); ?>">Logical Framework</a></li>
                                <?php } ?>
                                <?php if($acl->checkPermission('Indicator', 'list')) { ?>       
                                    <li class="<?php echo ($controller == 'indicator') ? 'active' : ''; ?>"><a href="<?php echo $this->baseUrl('indicator/list/tab/programme'); ?>">CS Indicators</a></li>
                                <?php } ?>
                                <?php if($acl->checkPermission('Project', 'list')) { ?>    
                                	<li class="<?php echo ($controller == 'project') ? 'active' : ''; ?>"><a href="<?php echo $this->baseUrl('project/list'); ?>">Projects</a></li>
                                <?php } ?>
                                <?php if($acl->checkPermission('Indicator', 'list')) { ?>       
                                    <li class="<?php echo ($controller == 'indicator') ? 'active' : ''; ?>"><a href="<?php echo $this->baseUrl('indicator/list'); ?>">Project Indicators</a></li>
                                <?php } ?>
                                <?php if($acl->checkPermission('Milestone', 'list')) { ?>       
                                    <li class="<?php echo ($controller == 'milestone') ? 'active' : ''; ?>"><a href="<?php echo $this->baseUrl('milestone/list'); ?>">Milestones</a></li>
                                <?php } ?>
                                
                                <li class="has-submenu <?php echo in_array($controller, array('indicatortype', 'indicatorgroup')) ? 'active' : ''; ?>">
                                    <a class="gonowhere">Analysis</a>
                                    <ul class="submenu">
                                        <?php if($acl->checkPermission('Profile', 'view')) { ?>       
                                            <li class="<?php echo ($action == 'results') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('report/results'); ?>">Dataset Results Analysis</a></li>
                                        <?php } ?>
                                        <?php if($acl->checkPermission('Profile', 'view')) { ?>     
                                            <li class="<?php echo ($action == 'indicator') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('report/indicator'); ?>">Project Indicator Progress</a></li>
                                        <?php } ?>
                                        <?php if($acl->checkPermission('Profile', 'view')) { ?>     
                                            <li class="<?php echo ($action == 'indicator') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('report/csindicator'); ?>">CS Indicator Progress</a></li>
                                        <?php } ?>
                                        <?php if($acl->checkPermission('Profile', 'view')) { ?>   
                                            <li class="<?php echo ($action == 'project') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('report/project'); ?>">Project Cost Status Report</a></li>
                                        <?php } ?>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    <?php } ?>    
                   	<?php if($acl->checkPermission('Navigation', 'operations')) { ?>
                        <li class="has-submenu <?php echo in_array($controller, array('operations','dataset', 'dataentry', 'risk', 'issuetracking', 'activity')) ? 'active' : ''; ?>">
                            <a class="gonowhere <?php echo $this->layoutx == 2 ? 'waves-effect' : ''; ?>"><i class="fa fa-edit"></i> <?php echo $this->layoutx == 2 ? '<span>Operations</span> <span class="menu-arrow"></span>' : 'Operations'; ?></a>
                            <ul class="submenu">
								<?php if($acl->checkPermission('Activity', 'list') && false) { ?>       
                                    <li class="<?php echo ($controller == 'activity') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('activity/list'); ?>">Activities</a></li>
                                <?php } ?>
                                <?php if($acl->checkPermission('Data Entry', 'index')) { ?>       
                                    <li class="<?php echo ($controller == 'dataentry' && ($action == 'index' || $request->tab == 'addresult')) ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('dataentry/list/tab/addresult'); ?>">Data Entry</a></li>
                                <?php } ?>
                                <?php if($acl->checkPermission('Data Entry', 'list')) { ?>       
                                    <li class="<?php echo ($controller == 'dataentry' && $action == 'list') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('dataentry/list'); ?>">View Results</a></li>
                                <?php } ?>
                                <?php if($acl->checkPermission('Dataset', 'list')) { ?>       
                                    <li class="<?php echo ($controller == 'dataset') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('dataset/list'); ?>">Configure Datasets</a></li>
                                <?php } ?>
								<?php if($acl->checkPermission('Risk Mgt', 'list')) { ?>       
                                    <li class="<?php echo ($controller == 'risk') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('risk/list'); ?>">Risk Register</a></li>
                                <?php } ?>
                                <?php if($acl->checkPermission('Issue Tracking', 'list')) { ?>       
                                    <li class="<?php echo ($controller == 'issuetracking') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('issuetracking/list'); ?>">Issue Tracking</a></li>
                                <?php } ?>
                            </ul>
                        </li>
                    <?php } ?>    
                    <?php if($acl->checkPermission('Navigation', 'library')) { ?>
                        <li class="has-submenu <?php echo in_array($controller, array('library', 'document', 'browse', 'f', 'access', 'share', 'calendar','directory','staff')) ? 'active' : ''; ?>">
                            <a class="gonowhere <?php echo $this->layoutx == 2 ? 'waves-effect' : ''; ?>"><i class="mdi mdi-google-pages"></i> <?php echo $this->layoutx == 2 ? '<span>Library</span> <span class="menu-arrow"></span>' : 'Library'; ?></a>
                            <ul class="submenu">
                            	<?php if($acl->checkPermission('Directory', 'list')) { ?>       
                                    <li class="<?php echo ($controller == 'directory') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('directory/list'); ?>">Contact Directory</a></li>
                                <?php } ?>
                                <?php if($acl->checkPermission('Document', 'list')) { ?>   
                                    <li class="<?php echo ($controller == 'browse') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('library/index'); ?>">Document Library</a></li>
                                <?php } ?>
                                <?php if($acl->checkPermission('Calendar', 'index')) { ?>   
                                    <li class="<?php echo ($controller == 'calendar') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('calendar/index'); ?>">Calendar</a></li>
                                <?php } ?>
                                <?php if($acl->checkPermission('GIS Data', 'list')) { ?>   
                                    <li><a class="gonowhere">GIS Data & Mapping</a></li>
                                <?php } ?>
                                <?php if($acl->checkPermission('Attribute', 'list')) { ?>
                                    <li class="has-submenu <?php echo in_array($controller, array('attribute', 'attributegroup')) ? 'active' : ''; ?>">
                                        <a class="gonowhere">Attributes</a>
                                        <ul class="submenu">
                                            <?php if($acl->checkPermission('Attribute', 'list')) { ?>       
                                                <li class="<?php echo ($controller == 'attribute') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('attribute/list'); ?>">Data Attributes</a></li>
                                            <?php } ?>
                                            <?php if($acl->checkPermission('Attribute', 'listgroups')) { ?>       
                                                <li class="<?php echo ($controller == 'attributegroup') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('attributegroup/list'); ?>">Data Attributes Groups</a></li>
                                            <?php } ?>
                                        </ul>
                                    </li>
                                <?php } ?>
                                <?php if($acl->checkPermission('Category', 'list')) { ?>
                                    <li class="has-submenu <?php echo in_array($controller, array('category','categorygroup', 'categoryoption')) ? 'active' : ''; ?>">
                                        <a class="gonowhere">Categories</a>
                                        <ul class="submenu">
                                            <?php if($acl->checkPermission('Category', 'listoptions')) { ?>       
                                                <li class="<?php echo ($controller == 'categoryoption') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('categoryoption/list'); ?>">Category Options</a></li>
                                            <?php } ?>
                                            <?php if($acl->checkPermission('Category', 'list')) { ?>       
                                                <li class="<?php echo ($controller == 'category') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('category/list'); ?>">Categories</a></li>
                                            <?php } ?>
                                            <?php if($acl->checkPermission('Category', 'listgroups')) { ?>       
                                                <li class="<?php echo ($controller == 'categorygroup') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('categorygroup/list'); ?>">Category Groups</a></li>
                                            <?php } ?>
                                        </ul>
                                    </li>
                               	<?php } ?>
                                <?php if($acl->checkPermission('Indicator', 'list')) { ?>   
                                    <li class="has-submenu <?php echo in_array($controller, array('indicatortype', 'indicatorgroup')) ? 'active' : ''; ?>">
                                        <a class="gonowhere">Indicator Variables</a>
                                        <ul class="submenu">
                                            <?php if($acl->checkPermission('Indicator', 'listtypes')) { ?>       
                                                <li class="<?php echo ($controller == 'indicatortype') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('indicatortype/list'); ?>">Indicator Types</a></li>
                                            <?php } ?>
                                            <?php if($acl->checkPermission('Indicator', 'listgroups')) { ?>       
                                                <li class="<?php echo ($controller == 'indicatorgroup') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('indicatorgroup/list'); ?>">Indicator Groups</a></li>
                                            <?php } ?>
                                            <?php if($acl->checkPermission('Variables', 'statisticalunit')) { ?>       
                                                <li class="<?php echo ($controller == 'variables' && $request->type == 13) ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('variables/index/type/13/noleft/1'); ?>">Indicator Statistical Units</a></li>
                                            <?php } ?>
                                        </ul>
                                    </li>
                                <?php } ?>
                                <?php if($acl->checkPermission('Validation', 'list') && false) { ?>       
                                    <li class="<?php echo ($controller == 'validation') ? 'active' : ''; ?>"><a class="blockanchor" href="<?php echo $this->baseUrl('validation/list'); ?>">Data Validation Rules</a></li>
                                <?php } ?>
                           </ul>
                        </li>
                    <?php } ?>        
					<?php if($acl->checkPermission('Navigation', 'tools') && false) { ?>
                        <li class="has-submenu <?php echo in_array($controller, array('notifications', 'sms','calendar','directory','staff')) ? 'active' : ''; ?>">
                            <a class="gonowhere"><i class="fa fa-cogs"></i> <?php echo $this->layoutx == 2 ? '<span>Tools</span> <span class="menu-arrow"></span>' : 'Tools'; ?></a>
                            <ul class="submenu">
                            	
                                
                            </ul>
                        </li>
                    <?php } ?>    
                    <?php if($acl->checkPermission('Navigation', 'tools')) { ?>
                        <li class="has-submenu <?php echo in_array($controller, array('messaging','notifications', 'sms')) ? 'active' : ''; ?>">
                            <a class="gonowhere"><i class="fa fa-envelope"></i> <?php echo $this->layoutx == 2 ? '<span>Messaging</span> <span class="menu-arrow"></span>' : 'Messaging'; ?></a>
                            <ul class="submenu">
                            	<?php if($acl->checkPermission('Messaging', 'inbox')) { ?>
                                    <li class="<?php echo $controller == 'messaging' && $action == 'inbox' ? 'active' : ''; ?>"><a href="<?php echo $this->baseUrl('messaging/inbox'); ?>">Inbox</a></li>
                                <?php } ?>       
                                <?php if($acl->checkPermission('Messaging', 'index')) { ?>
                                    <li class="<?php echo $controller == 'messaging' && $action == 'index' ? 'active' : ''; ?>"><a href="<?php echo $this->baseUrl('messaging/index'); ?>">Send Message</a></li>
                                <?php } ?>    
                                <?php if ($acl->checkPermission('SMS', 'index')) { ?>
                                    <li class="<?php echo $controller == 'sms' && $action == 'index' ? 'active' : ''; ?>"><a href="<?php echo $this->baseUrl('sms/index/tab/noinbox'); ?>">Bulk SMS</a></li>
                                <?php } ?>
                            </ul>
                     	</li>
                    <?php } ?>
                    <?php if ($acl->checkPermission('Navigation', 'adminmenu')) { ?>
                        <li class="has-submenu <?php echo in_array($controller, array('role', 'profile')) ? 'active' : ''; ?>">
                            <a class="gonowhere <?php echo $this->layoutx == 2 ? 'waves-effect' : ''; ?>"><i class="mdi mdi-account-settings-variant"></i> <?php echo $this->layoutx == 2 ? '<span>Administration</span> <span class="menu-arrow"></span>' : 'Administration'; ?></a>
                            <ul class="submenu">
                                <?php if($acl->checkPermission('Variables', 'index')) { ?>
                                    <li><a class="blockanchor" href="<?php echo $this->baseUrl('variables/index'); ?>">Variable Data</a></li>
                                <?php } ?>
								<?php if($acl->checkPermission('User', "list")) { ?>
                                	<li><a class="blockanchor" href="<?php echo $this->baseUrl('profile/list'); ?>">User Profiles</a></li>
                                <?php } ?>
                                <?php if($acl->checkPermission('Role', 'list')) { ?>
                                    <li><a class="blockanchor" href="<?php echo $this->baseUrl('role/list'); ?>">User Roles & Permissions</a></li>
                                <?php } ?>
                                <?php if($acl->checkPermission('Settings', 'profile') || $acl->checkPermission('Settings', 'uploads') || $acl->checkPermission('Settings', 'notification') || $acl->checkPermission('Settings', 'notification') || $acl->checkPermission('Settings', 'sms') || $acl->checkPermission('Settings', 'backup') || $acl->checkPermission('Settings', 'system')) { ?>
                                    <li class="has-submenu">
                                        <a class="gonowhere">Settings</a>
                                        <ul class="submenu">
                                            <?php if($acl->checkPermission('Settings', 'profile')) { ?>
                                                <li><a class="blockanchor" href="<?php echo $this->baseUrl('settings/profile/noleft/1'); ?>">User Profile Settings</a></li>
                                            <?php } ?>
                                            <?php if($acl->checkPermission('Settings', 'notification')) { ?>
                                                <li><a class="blockanchor" href="<?php echo $this->baseUrl('settings/notification/noleft/1'); ?>">Notification and Email Options</a></li>
                                            <?php } ?>    
                                            <?php if($acl->checkPermission('Settings', 'uploads')) { ?>
                                                <li><a class="blockanchor" href="<?php echo $this->baseUrl('settings/uploads/noleft/1'); ?>">File upload Options</a></li>
                                            <?php } ?>
                                            <?php if($acl->checkPermission('Settings', 'sms')) { ?>
                                                <li><a class="blockanchor" href="<?php echo $this->baseUrl('settings/sms/noleft/1'); ?>">SMS Settings</a></li>
                                            <?php } ?>     
                                            <?php if($acl->checkPermission('Settings', 'backup')) { ?>
                                                <li><a class="blockanchor" href="<?php echo $this->baseUrl('settings/backup/noleft/1'); ?>">Backup Settings</a></li>
                                            <?php } ?>
                                            <?php if($acl->checkPermission('Settings', 'system')) { ?>
                                                <li><a class="blockanchor" href="<?php echo $this->baseUrl('settings/system/noleft/1'); ?>">Global Settings</a></li>
                                            <?php } ?> 
                                        </ul>
                                    </li>
                                <?php } ?>
                            </ul>
                    	</li>
                   	<?php } ?>