
<script type="text/javascript">
$(document).ready(function() {
	var datepickerOpts = {
		showOn: 'both', 
		buttonImage: '<?php echo $this->baseUrl('assets/images/calendar.png'); ?>', 
		buttonImageOnly: true,
		changeMonth: true,
		changeYear: true,
		minDate: '-<?php echo $config->dateandtime->mindate; ?>Y',
		maxDate: '+<?php echo $config->dateandtime->maxdate; ?>Y',
		dateFormat: '<?php echo $config->dateandtime->datepickerformat; ?>',
		hideIfNoPrevNext: true,
		showButtonPanel: true, 
		currentText: 'Now'		
	};
	
	$(".expanding").elastic();
	
	$(".readonly").each(function(){
		$(this).attr('readonly','readonly');
	});
	$(".pre_readonly").attr('readonly', true);
	
	$(".disabledfield").each(function(){
		$(this).attr('readonly', true).attr('disabled', true);
	});
	
	$.datepicker.setDefaults({
		dateFormat: "dd M, yyyy"
	});
	
	var ord_picker = datepickerOpts;
	ord_picker.minDate = new Date("Jan 01, <?php echo intval(date('Y') - $config->dateandtime->mindate); ?>"); 	
	ord_picker.maxDate = new Date("Dec 31, <?php echo intval(date('Y') + $config->dateandtime->maxdate); ?>"); 
	ord_picker.yearRange = '<?php echo intval(date('Y') - $config->dateandtime->mindate); ?>:<?php echo intval(date('Y') + $config->dateandtime->maxdate); ?>'; 	
	ord_picker.dateFormat = 'M dd, yy';
	$(".ordinary").datepicker(ord_picker).keyup(function(e) {
		if(e.keyCode == 8 || e.keyCode == 46) {
			$.datepicker._clearDate(this);
		}
	});
	
	// Since confModal is essentially a nested modal it's enforceFocus method
	// must be no-op'd or the following error results 
	// "Uncaught RangeError: Maximum call stack size exceeded"
	// But then when the nested modal is hidden we reset modal.enforceFocus
	/*var enforceModalFocusFn = $.fn.modal.Constructor.prototype.enforceFocus;
	
	$.fn.modal.Constructor.prototype.enforceFocus = function() {};
	
	$confModal.on('hidden', function() {
		$.fn.modal.Constructor.prototype.enforceFocus = enforceModalFocusFn;
	});
	
	$confModal.modal({ backdrop : false });
	// But then when the nested modal is hidden we reset modal.enforceFocus
	$.fn.modal.Constructor.prototype.enforceFocus = function() {};*/
	
	$(".chosen-select").chosen();
	// default search text on chosen dropdown
	$(".chosen-container .chosen-search input").attr('placeholder', 'Type to search');
	$(".datepicker.datepicker-dropdown.dropdown-menu").css({'z-index':'15000'});
	
	$("a.gonowhere").each(function(e){
		$(this).attr('href', 'javascript: void(0)');
	});
	
	// delete rules
	$("#deleteline, .deleteline").on('click', function(e){
		e.preventDefault();
		var message = '<label class="blockcontainer notbolded">Are you sure you want to delete this entry? <br /><br /> Click <b>OK</b> to confirm, and <b>Cancel</b> to ignore</label>';
		var custom_msg = $(this).attr('message');
		if(!isEmptyString(custom_msg) && custom_msg != 'undefined'){
			var message = '<label class="blockcontainer notbolded">'+custom_msg+' <br /><br /> Click <b>OK</b> to confirm, and <b>Cancel</b> to ignore</label>';
		}
		var url = $(this).attr('action');
		// alert(url);
		if(url != 'undefined'){
			confirmDialog(message, url);
		}
	});
	
	function confirmDialog(message, url) {
		bootbox.confirm(message, function(confirmed) {
			if(confirmed){
				// $.blockUI({ message: uiblockcontent}); 
				window.location.href = url;					
				// $.blockUI({ message: uiblockcontent}); 
				return true;				
			} else {
				bootbox.hideAll();
				return false;
			}
		});
	}
	
	function autoPopulateSelectChain(fieldid, target, url, current){
		var fieldvalue = $('#'+fieldid).val();
		var currentvalue = current; // alert('cur '+currentvalue);
		if(!isEmptyString(fieldvalue)){
			var posturl = url+fieldvalue;
			$("#"+target).find("option:gt(0)").remove().trigger("change").trigger("chosen:updated");
			$("#"+target).find('option:not(:first)').remove().trigger("change").trigger("chosen:updated");
			$("#"+target).find("option:first").text("Loading...").trigger("change").trigger("chosen:updated");
			$.getJSON(posturl, function (data) {
				$("#"+target).find("option:first").text("<Select One>").attr("value","").attr("selected", true);
				selectValues = data;
				
				$.each(selectValues, function(key, value) {
					// alert(value);
					if(!isEmptyString(currentvalue) && currentvalue == key){
						$("#"+target).append($("<option></option>").attr("value",key).text(value).attr("selected", true).trigger("change").trigger("chosen:updated"));
					} else {
						$("#"+target).append($("<option></option>").attr("value",key).text(value).trigger("change").trigger("chosen:updated"));
					}
				});
				sortSelectOptions("#"+target);
				$("#"+target).trigger("change").trigger("chosen:updated");
			});
		}
		return true;
	}
	
	$('div.controls, .nullifempty').each(function() {
		var html = $(this).html();
		if(isEmptyString(html)){
			$(this).html('--');
		}
	});
	
});
//Use window.load and not document.ready for effective equal heights
$(window).load(function() {
	$(".popupdiv div.hasinputclear#selectarea input, .popupdiv div.hasinputclear input, .popupdiv div.hasinputclear#selectarea2 input, .popupdiv div.hasinputclear#selectarea_selected input, .popupdiv div.hasinputclear#selectarea2_selected input").addClass('addclear normalwidth');
	$(".popupdiv div.hasinputclear").append('<a class="gonowhere clear hidden makeabsolute" style="right:15px; top:8px; color:#0072ce; font-weight:normal; font-size:11px; cursor:pointer;"><i class="fa fa-remove" style=""></i> clear</a>');
	$(".popupdiv div.hasinputclear .clear").click(function(e){ // e.preventDefault(); 
		$("div.hasinputclear input.addclear").val('').trigger('keyup');
	}); 
	$(".popupdiv div.hasinputclear input.addclear").on('keyup', function(e){ // e.preventDefault(); 
		var searchval = $(this).val();
		if(isEmptyString(searchval)){
			$(".popupdiv div.hasinputclear .clear").addClass('hidden');
		} else {
			$(".popupdiv div.hasinputclear .clear").removeClass('hidden');
		}
	});
});
</script>
<script src="/assets/js/onload.js"></script>