<?php
	include APPLICATION_PATH.'/includes/header.php';
?>
<div class="side-bar right-bar">
    <a href="javascript:void(0);" class="right-bar-toggle"><i class="mdi mdi-close-circle-outline"></i></a>
    <h4 class="">Settings</h4>
    <div class="setting-list nicescroll">
        <div class="row m-t-20">
        	<div class="col-xs-12">
            	<div class="radio radio-primary">
                    <input type="radio" id="inlineRadio1" value="option1" name="radioInline" <?php echo $this->layoutx == '1' ? 'checked' : ''; ?>>
                    <label for="inlineRadio1"> <a href="<?php echo $this->baseUrl('index/themechange/type/layout/value/1/successurl/'.encode($this->viewurl)); ?>">Navigation on Top</a></label>
                </div>
                <div class="radio radio-primary">
                    <input type="radio" id="inlineRadio2" value="option2" name="radioInline" <?php echo $this->layoutx == '2' ? 'checked' : ''; ?>>
                    <label for="inlineRadio2"> <a href="<?php echo $this->baseUrl('index/themechange/type/layout/value/2/successurl/'.encode($this->viewurl)); ?>">Navigation on Left</a></label>
                </div>
            </div>
        </div>
        <div class="row m-t-20">
            <div class="col-xs-8">
                <h5 class="m-0">Email me alerts</h5>
                <p class="m-b-0 text-muted"><small>tbd description</small></p>
            </div>
            <div class="col-xs-4 text-right">
                <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
            </div>
        </div>
        <div class="row m-t-20">
            <div class="col-xs-8">
                <h5 class="m-0">Setting 1</h5>
                <p class="m-b-0 text-muted"><small>TBD description</small></p>
            </div>
            <div class="col-xs-4 text-right">
                <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
            </div>
        </div>
        <div class="row m-t-20">
            <div class="col-xs-8">
                <h5 class="m-0">Setting 2</h5>
                <p class="text-muted m-b-0"><small>tbd description</small></p>
            </div>
            <div class="col-xs-4 text-right">
                <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
            </div>
        </div>
    </div>
</div>