<script>
	$(document).ready(function() {		
		$("#indexform").validate({		
			// define the validation rules one field at a time
			rules: {
				type: "required",
				filename: "required",
				FileInput: "required"
			}, 
			// the messages for each of the fields being validated
			messages: {
				type: "<?php echo $this->translate('global_type_error'); ?>",	
				filename: "Please browse for a File",
				FileInput: "Please browse for a File "
			},
			// custom error positions
			errorPlacement: function(error, element) {
				switch(element.attr("name")){					
					default:
						if(element.hasClass("useid_error")){
							error.appendTo("#"+element.attr("id")+"_error");
						} else {
							error.appendTo("#"+element.attr("name")+"_error");
						}
						break;
				}			
			}
		});
		
		$("#filename").change(function(){
			if(!isEmptyString($(this).val())){
				$(".fileinput-preview").html($(this).val());
			}
		});
		$("#filenamedisplay").click(function(e){
			$("#filename").trigger('click');
		});
		
		var options = { 
			target:   '#output',   // target element(s) to be updated with server response 
			beforeSubmit:  beforeSubmit,  // pre-submit callback 
			success:       afterSuccess,  // post-submit callback 
			uploadProgress: OnProgress, //upload progress callback 
			resetForm: false        // reset the form after successful submit 
		}; 
			
		$("#FileInput").change(function(){
			var filename = $(this).val(); // alert('file is '+filename);								
			$("#filenamedisplay").html(filename);
			// upload the file to the server
			// attr('t_type', $('#type').
			$("#indexform").ajaxSubmit(options); 
		});  
		
		$('#filenamedisplay').click(function(){
			$("#FileInput").trigger('click');
		});		
		
		$('#re-upload').click(function(){
			$("#aftersave").hide().addClass('hidden');
			$("#beforesave").show().removeClass('hidden');
			$("#filename, #FileInput, #attachment, #attachment_display").val('');
			$("#uploadresult, #output").html('');
		});
		
		//function after succesful file upload (when server response)
		function afterSuccess() {
			$('#submit-btn').show(); //hide submit button
			$('#loading-img').hide(); //hide submit button
			$('#progressbox').delay(400).fadeOut(); //hide progress bar
			$("#filenamedisplay").html('');
			// alert($("#output").html()); return false;
			var data = $.parseJSON($("#output").html());
			// alert(data.newfilename);
			if(data.result == 1){
				$("#output, #FileInput_error, #filename_error ").hide();	
				$('#uploadresult').html('<div class="divider5"></div><span class="font-green">Uploaded! Proceed to Save</span>').removeClass('hidden');
				$("#filename").val(data.newfilename);
				$("#oldfilename").val(data.oldfilename);
				$("#filesize").val(data.filesize);
				$("#attachment_display, #aftersave").show().removeClass('hidden');
				$("#attachment_display").html(data.newfilename);
				$("#beforesave").hide().addClass('hidden');
			} else {
				$("#uploadresult").html('Error in uploading file. Invalid format');	
			}
		}
		
		//function to check file size before uploading.
		function beforeSubmit(){
			//check whether browser fully supports all File API
		   if (window.File && window.FileReader && window.FileList && window.Blob){
				$('#loading-img').show(); //hide submit button
				$("#output").html("");
			} else {
				//Output error to older unsupported browsers that doesn't support HTML5 File API
				$("#output").html("Please upgrade your browser. File upload not supported at this time.");
				return false;
			}
		}
		
		//progress bar function
		function OnProgress(event, position, total, percentComplete){
			//Progress bar
			$('#progressbox').show();
			$('#progressbar').width(percentComplete + '%') //update progressbar percent complete
			$('#statustxt').html(percentComplete + '%'); //update status text
			if(percentComplete > 50) {
				$('#statustxt').css('color','#000'); //change status text to white after 50%
			}
		}
		
		<?php if(!isEmptyString($document->getID())){ ?>
			$("#attachment_display, #aftersave").show().removeClass('hidden');
			$("#beforesave, #submit-btn, #loading-img").hide().addClass('hidden');
			$('#progressbox').delay(400).fadeOut(); //hide progress bar
			$("#filenamedisplay").html('');
			$("#filename").val('<?php echo $document->getFilename(); ?>');
			$("#attachment_display").html('<?php echo $document->getFilename(); ?>');
			$("#oldfilename").val('<?php echo $document->getOriginalFile(); ?>');
		<?php } ?>
	});
</script>
<fieldset class="fieldsetcontainer minheight200">
	<legend><?php echo $pagetitle; ?></legend>
	<div class="panel-body well-sm">
		<div class="row-fluid">
			<div class="col-sm-12">
                <div class="form-group">
					<label class="col-sm-3 control-label">Type: <?php echo $this->translate("global_required_field_marker"); ?></label>
					<div class="col-sm-9">
					   <?php
							$dropdown = new Zend_Form_Element_Select('type',
												array(
													'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $documenttypes, array('0'=>$this->translate("global_addvariable_label"))),
													'view' => new Zend_View(),
													'decorators' => array('ViewHelper'),
													'class' => array('form-control','input-sm','width200','configvariable'),
													'lookupid' => 14,
													'fieldid' => 'type',
													'fieldlabel' => "Document Types"
												)
							);  
							$dropdown->setValue($document->getType()); 
							echo $dropdown->render();
						?><div id="type_error"></div> 
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Title / Description:</label>
					<div class="col-sm-6">
						<input type="text" name="title" id="title" class="form-control input-sm" value="<?php echo $document->getTitle(); ?>" />
						<div id="title_error"></div> 
					</div>
				</div>
                <?php if($controller == 'document'){ ?>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Employee:</label>
                        <div class="col-sm-9">
                           <?php
                                $users = getUsers();
                                $dropdown = new Zend_Form_Element_Select('userid',
                                                    array(
                                                        'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $users),
                                                        'view' => new Zend_View(),
                                                        'decorators' => array('ViewHelper'),
                                                        'class' => array('form-control','input-sm','width200'),
                                                    )
                                );  
                                $dropdown->setValue($document->getUserID()); 
                                echo $dropdown->render();
                            ?>
                            <small class="pagedescription">Ignore if company document</small>
                            <div id="userid_error"></div> 
                        </div>
                    </div>
                <?php } else { ?>
                	<input type="hidden" id="userid" name="userid" value="<?php echo $document->getUserID(); ?>" />
                <?php } ?>
				<div class="form-group">
					<label class="col-sm-3 control-label">Document: <?php echo $this->translate("global_required_field_marker"); ?></label>
					<div class="col-sm-9">
						<small class="blocked small">Upload file from computer. <br/>Max size (<?php echo formatBytes($config->uploads->docmaximumfilesize); ?>), formats (<?php echo $config->uploads->docallowedformats; ?>)</small>
						<div id="uploadarea" style="margin-bottom:10px;">
							<div id="beforesave">
								<div class="fileinput-holder input-group col-sm-8" style="padding-left:0;">
									<div id="filenamedisplay" style="cursor: text; text-overflow: ellipsis; width:100%;" class="fileinput-preview uneditable-input form-control">No file selected...</div>
									<div class="input-group-btn">
										<span style="overflow: hidden; position: relative; cursor: pointer; margin:0;" class="fileinput-btn btn btn-default">Browse...
											<input type="file" name="FileInput" id="FileInput" class="form-control inline" data-style="fileinput" style="position: absolute; top: 0px; right: 0px; margin: 0px; cursor: pointer; font-size: 99px; opacity: 0;" />
										</span>
									</div>
								</div>
								<div class="col-sm-2 padding0">
									<img src="<?php echo $this->baseUrl('images/loader.gif'); ?>" id="loading-img" style="display:none;" />
								</div>                                                    	
							</div>
							<div id="aftersave" class="hidden">
								<div class="col-sm-12" style="padding-left:0;"><span id="attachment_display"></span></div>
								<button type="button" id="re-upload" class="btn btn-default btn-xs">Re-upload</button>
							</div>
							<div class="divider5"></div>
							<div id="progressbox"><div id="progressbar"></div><div id="statustxt">0%</div></div>
							<div id="output"></div><div id="uploadresult" class="hidden"></div>
							<div id="filename_error"></div><div id="FileInput_error"></div>
						</div>
					</div>
				</div>
				<div class="form-actions col-sm-offset-3">
					<a class="btn cancel gonowhere" type="button"><?php echo $this->translate('global_button_cancel'); ?></a>
					<input class="btn btn-primary btn-green changesuccessurl savebutton" type="submit" name="submit" successurl="<?php echo encode($successurl); ?>" value="<?php echo $button_title; ?>" />
				</div>
				<input type="hidden" id="filename" name="filename" value="" />
                <input type="hidden" id="oldfilename" name="oldfilename" value="" />
				<input type="hidden" id="nosuccessid" name="nosuccessid" value="1" /> 
				<input type="hidden" id="id" name="id" value="<?php echo encode($document->getID()); ?>" />
				<input name="entityname" id="entityname" type="hidden" value="Document" />
				<input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($successurl); ?>" />
				<input type="hidden" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" value="<?php echo encode($this->viewurl); ?>" />
				<input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" />
			</div>
		</div>
	</div>
</fieldset>