<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$document = new Document();
	
	if (isEmptyString($request->id)) {
		$pagetitle = "New Document";
		$posturl = $this->baseUrl("document/create");
		$button_title = $this->translate("global_button_save")." Document";
		$successmessage = $this->translate('global_save_success');
	} else {
		$pagetitle = "Update Document"; 
		$document->populate(decode($request->id));		
		$posturl = $this->baseUrl("document/edit"); 
		$button_title = $this->translate('global_button_save_changes'); 
		$successmessage = $this->translate('global_update_success');
	}
	
	$failureurl =  $this->viewurl;
	$addnewsuccessurl = $this->baseUrl('document/index');
	$successurl = $this->baseUrl('document/list');
	
	$gotosuccess = true; 
	if(!isEmptyString($request->successurl)){
		$successurl = $request->successurl;
		$gotosuccess = true; 
	}
	
	#in case of errors in session, populate the fields from session
	if(!isEmptyString($session->getVar(ERROR_MESSAGE))){ 
		$document->processPost($session->getVar(FORM_VALUES));
	}
	
	$resourcename = 'Document';
	$entityname = "Document";
	$listitems = "Documents";
	$listurl = $this->baseUrl('document/list');
	$icon = 'fa fa-file';
	$description = "";
	$title = "Documents";
	$breadcrumb = "Documents / ".$pagetitle;
	$pageid = "document_index";
	
	$this->headTitle($title.$browserappend);
?>
<script>
$(document).ready(function() {
	$('.titlebreadcrumb').html('<?php echo $breadcrumb; ?>');
	$('.titlelabel').html('<?php echo $title; ?>');
	$('.desclabel').html('<?php echo $description; ?>');
	$('.pageicon').html('<span class="icon-large <?php echo $icon; ?>"></span>');
	
	$("#indexform").validate({		
		// define the validation rules one field at a time
		rules: {
			doctype: "required",
			title: "required",
			fileinput: "required"
		}, 
		// the messages for each of the fields being validated
		messages: {		
			doctype: "Please select a Type",
			title: "Please enter Title",
			fileinput: "Please select a File to Upload"
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){
				default:
					error.appendTo("#"+element.attr("name")+"_error");
					break;
			}			
		}
	});
	
	// select chain contracts for a supplier
	var contractid = '<?php echo $document->getContractID(); ?>';
	$('#companyid').change(function() {
		supplierTrigger(contractid);
	});
	function supplierTrigger(contractid){
		autoPopulateSelectChain('companyid', 'contractid', '<?php echo $this->baseUrl('index/selectchaincustom/select_chain_type/supplier_contracts/supplierid/'); ?>', contractid);
	}
	
	<?php if(!isEmptyString($document->getfilename())){ ?>
		$("#aftersave").show().removeClass('hidden');
		$("#beforesave").hide().addClass('hidden');
	<?php } ?>
	
	// alert(<?php //echo $i; ?>);
	var options = { 
		target: '#output',   // target element(s) to be updated with server response 
		beforeSubmit:  beforeSubmit,  // pre-submit callback 
		success:       afterSuccess,  // post-submit callback 
		uploadProgress: OnProgress, //upload progress callback 
		resetForm: false        // reset the form after successful submit 
	}; 
		
	$("#fileinput").change(function(){
		var filename = $(this).val(); 
		var field = $(this).attr('name');						
		$("#filenamedisplay").html(filename);
		var companyid = $("#companyid").val();
		var contractid = $("#contractid").val();
		// upload the file to the server
		$("#indexform").attr('action', '<?php echo $this->baseUrl('contract/processuploads/field/fileinput'); ?>');
		if(!isEmptyString(companyid)){
			$("#indexform").attr('action', '<?php echo $this->baseUrl('contract/processuploads/field/fileinput/companyid/'); ?>'+companyid);
		}
		if(!isEmptyString(contractid)){
			$("#indexform").attr('action', '<?php echo $this->baseUrl('contract/processuploads/field/fileinput/contractid/'); ?>'+contractid);
		}
		$('#submitbtn').trigger('click');
	});  
	
	$('#submitbtn').click(function(){
		$("#indexform").ajaxSubmit(options);
	});
	
	$("#filenamedisplay").click(function(){
		$("#fileinput").trigger('click');
	});
	
	$('#reupload').click(function(){
		$("#aftersave").hide().addClass('hidden');
		$("#beforesave").show().removeClass('hidden');
		$("#fileinput, #attachment, #attachment_display").val('');
		$("#uploadresult, #output").html('');
	});
	
	//function after succesful file upload (when server response)
	function afterSuccess() {
		$('#submitbtn').show(); //hide submit button
		$('#loadingimg').hide(); //hide loading image
		$('#progressbox').delay(400).fadeOut(); //hide progress bar
		$("#filenamedisplay").html('');
		// alert($("#output").html()); return false;
		var data = $.parseJSON($("#output").html());
		// alert(data.newfilename+' - '+data.oldfilename);
		if(data.result == 1){
			$("#output, #fileinput_error").hide();	
			$('#uploadresult').html('<div class="divider10"></div><span class="alert alert-success blocked" style="margin-bottom:0; padding-top:5px; padding-bottom:5px;">Successfully uploaded</span>').removeClass('hidden');
			
			$("#oldfilename").val(data.oldfilename);
			$("#filename").val(data.newfilename);
			$("#timestampfile").val(data.timestampfile);
			
			$("#attachment_display, #aftersave").show().removeClass('hidden');
			$("#attachment_display").html(data.oldfilename);
			$("#beforesave").hide().addClass('hidden');
		}
		$("#indexform").attr('action', '<?php echo $posturl; ?>');
	}
	
	//function to check file size before uploading.
	function beforeSubmit(){
		//check whether browser fully supports all File API
	   if (window.File && window.FileReader && window.FileList && window.Blob){
			if(!$('#fileinput').val()) {
				$("#output").html("<span class='alert alert-danger blocked'>Error: Please select a File to Upload.</span>");
				return false
			}
			$('#submitbtn').hide(); //hide submit button
			$('#loadingimg').show(); //hide submit button
			$("#output").html("");  
			
		} else {
			//Output error to older unsupported browsers that doesn't support HTML5 File API
			$("#output").html("Please upgrade your browser. File upload not supported at this time.");
			return false;
		}
	}
	
	//progress bar function
	function OnProgress(event, position, total, percentComplete){
		//Progress bar
		$('#progressbox').show();
		$('#progressbar').width(percentComplete + '%') //update progressbar percent complete
		$('#statustxt').html(percentComplete + '%'); //update status text
		if(percentComplete > 50) {
			$('#statustxt').css('color','#000'); //change status text to white after 50%
		}
	}
	
});
</script>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div id="<?php echo $pageid; ?>">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-color box-bordered">
                <div class="box-title condensed">
                    <h3><i class="fa fa-briefcase"></i> <?php echo $pagetitle; ?></h3>
                </div>
                <div class="box-content <?php echo !isEmptyString($request->id) ? ' nopadding': ''; ?> clearfix" style="min-height:500px; height:auto;">
                    <form id="indexform" class="form-horizontal" action="<?php echo $posturl; ?>" method="post" enctype="multipart/form-data">
                        <input name="entityname" id="entityname" type="hidden" value="<?php echo $entityname; ?>" />
                        <input type="hidden" id="id" name="id" value="<?php echo encode($document->getID()); ?>" />
                        <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" /> 
                        <input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($successurl); ?>" /> 
                        <input type="hidden" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" value="<?php echo encode($failureurl); ?>" /> 
                        <?php if($gotosuccess){ ?>
                            <input type="hidden" id="nosuccessid" name="nosuccessid" value="1" />
                        <?php } ?>
                        <div class="tab-content padding tab-content-inline tab-content-bottom">
                            <div id="overview" class="tab-pane active">
                                <?php require APPLICATION_PATH."/views/scripts/document/overview_index.phtml"; ?>
                            </div>
                            <div class="form-actions testborder">
                                <a class="btn cancel gonowhere" type="button"><?php echo $this->translate('global_button_cancel'); ?></a>
                                <button class="btn btn-green savebutton" type="submit" successurl="<?php echo encode($successurl); ?>"><?php echo $button_title; ?></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>            
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
