<div class="row newuserdetails">
    <div class="col-sm-12">
        <fieldset class="fieldsetcontainer">
            <legend>Document Owner / Location</legend>
            <div class="panel-body well-sm">
                <div class="row-fluid">
                    <div class="col-sm-12">
                    	<div class="form-group">
                            <label class="col-sm-2 control-label">Supplier: <span class="pagedescription blocked">(if applicable)</span></label>
                            <div class="col-sm-6">
                            	<?php if(!isEmptyString($document->getID())){ ?>
                                	<input type="hidden" id="companyid" name="companyid" value="<?php echo $document->getCompanyID(); ?>" />
                                    <?php echo $document->getCompany()->getSupplierNo().' - '.$document->getCompany()->getName(); ?>
                                <?php } else { ?>
                                	<?php
										$values = getSuppliers();
										$dropdown = new Zend_Form_Element_Select('companyid',
															array(
																'multiOptions' => array_merge_maintain_keys(array('' => "<Select One>"), $values),
																'view' => new Zend_View(), 
																'decorators' => array('ViewHelper'),
																'class' => array('form-control','input-sm','chosen-select')                                            	)
														);
										$dropdown->setValue($document->getCompanyID()); 
										echo $dropdown->render(); 
									?>
                                <?php } ?>
                                <div id="companyid_error"></div>
                            </div>
                        </div>
                    	<div class="form-group">
                            <label class="col-sm-2 control-label">Contract: <span class="pagedescription blocked">(if applicable)</span></label>
                            <div class="col-sm-6">
                                <?php if(!isEmptyString($document->getID())){ ?>
                                	<input type="hidden" id="contractid" name="contractid" value="<?php echo $document->getContractID(); ?>" />
                                    <?php echo $document->getContract()->getOrderNo().' - '.$document->getContract()->getTitle(); ?>
                                <?php } else { ?>
                                	<?php
										$values = /*getContracts()*/array();
										$dropdown = new Zend_Form_Element_Select('contractid',
															array(
																'multiOptions' => array_merge_maintain_keys(array('' => "<Select One>"), $values),
																'view' => new Zend_View(), 
																'decorators' => array('ViewHelper'),
																'class' => array('form-control','input-sm','chosen-select')                                            	)
														);
										$dropdown->setValue($document->getContractID()); 
										echo $dropdown->render(); 
									?>
                                <?php } ?>
                                <div id="contractid_error"></div>
                            </div>
                        </div>
                    </div>
                </div>
         	</div>
        </fieldset>
    </div>
</div>
<div class="row newuserdetails">
    <div class="col-sm-12">
        <fieldset class="fieldsetcontainer">
            <legend>File Details</legend>
            <div class="panel-body well-sm">
                <div class="row-fluid">
                    <div class="col-sm-12">
                    	<div class="form-group">
                            <label class="col-sm-2 control-label">Type: <?php echo $this->translate("global_required_field_marker"); ?></label>
                            <div class="col-sm-6">
                            	<?php
									$documenttypes = getAllDocumentTypes();
									$dropdown = new Zend_Form_Element_Select('doctype',
														array(
															'multiOptions' => array_merge_maintain_keys(array('' => "<Select One>"), $documenttypes),
															'view' => new Zend_View(), 
															'decorators' => array('ViewHelper'),
															'class' => array('form-control','input-sm','width250')                                            	)
													);
									$dropdown->setValue($document->getdoctype()); 
									echo $dropdown->render(); 
								?>
								<div id="doctype_error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Browse File: <?php echo $this->translate("global_required_field_marker"); ?></label>
                            <div class="col-sm-6">
                            	<div id="beforesave">
                                    <div class="fileinput-holder input-group col-md-10 paddingleft0 inline" style="margin-right:5px;">
                                        <div id="filenamedisplay" class="filenamedisplay fileinput-preview uneditable-input form-control">No file selected...</div>
                                        <div class="input-group-btn inline">
                                            <span class="fileinput-btn btn">Browse...
                                                <input type="file" name="fileinput" id="fileinput" class="form-control inline fileinput validate_fileinput" data-style="fileinput" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="xcol-md-4 padding0 inline xfloatright">
                                        <button type="button" id="submitbtn" class="btn btn-primary btn-sm submitbtn"><i class="fa fa-arrow-up"></i></button> &nbsp; 
                                        <img src="<?php echo $this->baseUrl('images/loader.gif'); ?>" id="loadingimg" style="display:none;" />
                                    </div>                                                    	
                                </div>
                                <div id="aftersave" class="hidden makerelative">
                                    <div class="col-md-10 paddingleft0">
                                        <span id="attachment_display"><?php echo $document->getoldfilename(); ?></span>
                                    </div>
                                    <a id="reupload" class="gonowhere makeabsolute reupload">Re-upload</a>
                                </div>
                                <div id="progressbox" class="progressbox">
                                    <div id="progressbar" class="progressbar"></div>
                                    <div id="statustxt" class="statustxt">0%</div>
                                </div>
                                <div id="output" class="output"></div>
                                <div id="uploadresult" class="hidden uploadresult"></div>
                                <div id="fileinput_error"></div>
                                <div id="filename_error"></div>
                                <input type="text" class="hidden" name="oldfilename" id="oldfilename" value="<?php echo $document->getoldfilename(); ?>" />
                                <input type="text" class="hidden filename" name="filename" id="filename" value="<?php echo $document->getfilename(); ?>" />
                                <input type="text" class="hidden" name="timestampfile" id="timestampfile" value="<?php echo $document->gettimestampfile(); ?>" />
                                <input type="text" class="hidden" name="id" id="id" value="<?php echo encode($document->getid()); ?>" />
                                <input type="text" class="hidden" name="type" id="type" value="" />
                            </div>
                       	</div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Title: <?php echo $this->translate("global_required_field_marker"); ?></label>
                            <div class="col-sm-6">
                            	<input type="text" class="form-control input-sm" id="title" name="title" value="<?php echo $document->gettitle(); ?>" /><div id="title_error"></div>
                            </div>
                       	</div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ID / Ref No#: <span class="pagedescription blocked">(if applicable)</span></label>
                            <div class="col-sm-6">
                            	<input type="text" class="form-control input-sm width250" id="idno" name="idno" value="<?php echo $document->getIdno(); ?>" /><div id="idno_error"></div>
                            </div>
                       	</div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Expiry Date: <span class="pagedescription blocked">(if applicable)</span></label>
                            <div class="col-sm-6">
                            	<input type="text" class="form-control input-sm datefield readonly width100 ordinary" name="expirydate" id="expirydate" value="<?php echo isEmptyString($document->getexpirydate()) ? '' : changeMySQLDateToPageFormat($document->getexpirydate()); ?>" />
                				<div id="enddate_error"></div>
                            </div>
                       	</div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Notes:</label>
                            <div class="col-sm-6">
                            	<textarea id="description" name="description" class="form-control expanding"><?php echo $document->getDescription(); ?></textarea>
                                <div id="description_error"></div>
                            </div>
                       	</div>
                    </div>
                </div>
         	</div>
        </fieldset>
    </div>
</div>