<link rel="stylesheet" href="/assets/js/plugins/custom/icheck/all.css">
<link rel="stylesheet" href="/assets/js/plugins/custom/fancybox/jquery.fancybox.css">
<link rel="stylesheet" href="/assets/css/custom/library.css">
<script type="text/javascript" src="/assets/js/plugins/custom/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/custom/fancybox/jquery.fancybox.js"></script>
<script>
$(document).ready(function() {
	<?php if(!$isexternal){ ?>
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	<?php } ?>
	
	// alert($("#navitems").html());
	$(".isintrash").removeClass('addpopup deletefiles fancybox fancybox_pdf xopenfile confirm-dialog').removeAttr('href');
	$(".viewdenied").removeClass('fancybox fancybox_pdf openfile ').removeAttr('href');
	
	$('.fancybox').fancybox({
		padding : 5,
		openEffect : 'fade',
		openSpeed  : 150,
		closeEffect : 'fade',
		closeSpeed  : 150
	});
	
	$(".fancybox_pdf").click(function(e) {
		e.preventDefault();
		var url = $(this).attr('rel');
		$.fancybox.open({
			href : '<?php echo $this->baseUrl('library/pdfview/file/'); ?>'+url,
			type : 'iframe',
			padding : 5,
			width: '90%',
			height: '90%',
			autoSize : false
		});
	});
	
	// when page first loads, force all checkboxes not to be checked and no action is mark as dropdown
	$(".messagechecker, #all").attr('checked', false);
	
	// select or unselect all checkboxes on click all
	$("#all").click(function(){		
		if(this.checked == true) {
			$(".filechecker").trigger('click');
		} else {			
			$(".filechecker").attr('checked', false);
		} 
	});
	
	var parentid = '<?php echo $currentfolder->getID(); ?>';
	var companyid = '<?php echo $session->getVar('companyid'); ?>';
	var addfolderhref = $(".addpopup.addfolder").attr('href');
	$(".addpopup.addfolder").attr('href', addfolderhref+'/parentid/'+parentid+'/companyid/'+companyid);
	var addfileshref = $(".addpopup.addfiles").attr('href');
	$(".addpopup.addfiles").attr('href', addfileshref+'/parentid/'+parentid+'/companyid/'+companyid);
	
	// force all hidden fields for marking and deleting messages to empty string
	$(".empty").val('');
	$("li.isarchive a").css({'color':'#ccc', 'background-color':'#f4f4f4'}).removeClass('addpopup deletefiles confirm-dialog').removeAttr('href').click(function(e){
		e.preventDefault();
		// bootbox.alert('This menu item is disabled');
	}).hide();
	
	// Delete all selected items	
	$(".deletefiles").click(function(){		
		// force user to select atleat one message
		if($("input[name=filechecker]:checked").size() == 0){
			bootbox.alert('<label class="blockcontainer">Please select atleast one item to Delete');
			return false;
		} else {
			// force all hidden fields for selected messages to empty string
			$(".empty").val(''); var checkedfolderarray = []; var checkedfilearray = [];
			// set the hidden array field for ids to be deleted		
			$(".filechecker.dir:checked").each(function(i){			
				checkedfolderarray[i] = $(this).val();
			});	
			$(".filechecker.file:checked").each(function(i){			
				checkedfilearray[i] = $(this).val();
			});	
			// alert(checkedfolderarray); alert(checkedfilearray);
			var url = $(this).attr('action'); var empty  = '';
			<?php if($istrash){ ?>
				empty = '/empty/1';
			<?php } ?>
			url += empty+'/dirlist/'+base64_encode(checkedfolderarray)+'/filelist/'+base64_encode(checkedfilearray); // alert(url);
			// alert(base64_encode(checkedarray));
			
			// confirm that user wants to delete the message
			var msg = 'Move selected Item(s) to Trash';
			<?php if($istrash){ ?>
				msg = 'Delete selected Item(s) Permanently. <br />Please note that this action is not reversible';
			<?php } ?>
			bootbox.confirm('<label class="blockcontainer">'+msg+'. <br /><br /> Click <b>OK</b> to confirm or <b>Cancel</b> to ignore', function(confirmed) {
				if(confirmed){
					$(location).attr('href',url);
					return true;
				} else {
					bootbox.hideAll();
					return false;
				}
			});
		}	
	});	
	
	// Download all selected items	
	$(".downloadfiles").click(function(e){		
		e.preventDefault();
		// force user to select atleat one message
		if($("input[name=filechecker]:checked").size() == 0){
			bootbox.alert('<label class="blockcontainer">Please select atleast one item to Download');
			return false;
		} else {
			// force all hidden fields for selected messages to empty string
			$(".empty").val(''); var checkedfolderarray = []; var checkedfilearray = [];
			// set the hidden array field for ids to be deleted		
			$(".filechecker.dir:checked").each(function(i){			
				checkedfolderarray[i] = $(this).val();
			});	
			$(".filechecker.file:checked").each(function(i){			
				checkedfilearray[i] = $(this).val();
			});	
			// alert(checkedfolderarray); alert(checkedfilearray);
			var url = $(this).attr('action');
			var sourceid = '<?php echo $currentfolder->getID(); ?>';
			url += '/sourceid/'+sourceid+'/mode/batch/dirlist/'+base64_encode(checkedfolderarray)+'/filelist/'+base64_encode(checkedfilearray); // alert(url);
			//alert(base64_encode(checkedarray));
			
			// confirm that user wants to delete the message
			bootbox.confirm('<label class="blockcontainer">Download selected Item(s). <br /><br /> Click <b>OK</b> to confirm or <b>Cancel</b> to ignore', function(confirmed) {
				if(confirmed){
					window.open(url, '_blank');
					// $(location).attr('href',url);
					return true;
				} else {
					bootbox.hideAll();
					return false;
				}
			});
		}	
	});	
	
	// Archive all selected items	
	$(".archivefiles").click(function(e){		
		e.preventDefault();
		// force user to select atleat one message
		if($("input[name=filechecker]:checked").size() == 0){
			bootbox.alert('<label class="blockcontainer">Please select atleast one item to Archive');
			return false;
		} else {
			// force all hidden fields for selected messages to empty string
			$(".empty").val(''); var checkedfolderarray = []; var checkedfilearray = [];
			// set the hidden array field for ids to be deleted		
			$(".filechecker.dir:checked").each(function(i){			
				checkedfolderarray[i] = $(this).val();
			});	
			$(".filechecker.file:checked").each(function(i){			
				checkedfilearray[i] = $(this).val();
			});	
			// alert(checkedfolderarray); alert(checkedfilearray);
			var url = $(this).attr('action');
			url += '/dirlist/'+base64_encode(checkedfolderarray)+'/filelist/'+base64_encode(checkedfilearray); // alert(url);
			//alert(base64_encode(checkedarray));
			
			// confirm that user wants to delete the message
			bootbox.confirm('<label class="blockcontainer">Archive selected Item(s). <br /><br /> Click <b>OK</b> to confirm or <b>Cancel</b> to ignore', function(confirmed) {
				if(confirmed){
					$(location).attr('href',url);
					return true;
				} else {
					bootbox.hideAll();
					return false;
				}
			});
		}	
	});	
	
	// Restore all selected items	
	$(".restorefiles").click(function(e){		
		e.preventDefault();
		// force user to select atleat one message
		if($("input[name=filechecker]:checked").size() == 0){
			bootbox.alert('<label class="blockcontainer">Please select atleast one item to Restore');
			return false;
		} else {
			// force all hidden fields for selected messages to empty string
			$(".empty").val(''); var checkedfolderarray = []; var checkedfilearray = [];
			// set the hidden array field for ids to be deleted		
			$(".filechecker.dir:checked").each(function(i){			
				checkedfolderarray[i] = $(this).val();
			});	
			$(".filechecker.file:checked").each(function(i){			
				checkedfilearray[i] = $(this).val();
			});	
			// alert(checkedfolderarray); alert(checkedfilearray);
			var url = $(this).attr('action');
			url += '/dirlist/'+base64_encode(checkedfolderarray)+'/filelist/'+base64_encode(checkedfilearray); // alert(url);
			//alert(base64_encode(checkedarray));
			
			// confirm that user wants to delete the message
			bootbox.confirm('<label class="blockcontainer">Restore selected Item(s) to their original location? <br /><br /> Click <b>OK</b> to confirm or <b>Cancel</b> to ignore', function(confirmed) {
				if(confirmed){
					$(location).attr('href',url);
					return true;
				} else {
					bootbox.hideAll();
					return false;
				}
			});
		}	
	});	
	
	// copy all selected items	
	$(".batchtransfer").click(function(e){		
		e.preventDefault();
		// force user to select atleat one message
		if($("input[name=filechecker]:checked").size() == 0){
			bootbox.alert('<label class="blockcontainer">Please select atleast one record to Move/Copy');
			return false;
		} else {
			// force all hidden fields for selected messages to empty string
			$(".empty").val(''); var checkedfolderarray = []; var checkedfilearray = [];
			// set the hidden array field for ids to be deleted		
			$(".filechecker.dir:checked").each(function(i){			
				checkedfolderarray[i] = $(this).val();
			});	
			$(".filechecker.file:checked").each(function(i){			
				checkedfilearray[i] = $(this).val();
			});	
			// alert(checkedfolderarray); alert(checkedfilearray);
			// alert(base64_encode(checkedarray));
			
			var title = $(this).attr('rel');
			var alttitle = $(this).attr('rel2');
			if(!isEmptyString(alttitle) && alttitle != 'undefined'){
				title = alttitle;
			}
			var url = $(this).attr('href');
			url += '/dirlist/'+base64_encode(checkedfolderarray)+'/filelist/'+base64_encode(checkedfilearray); // alert(url);
			var href = url;
			var formid = $(this).attr('formtitle');
			var posturl = $(this).attr('action');
			var successurl = $(this).attr('successurl');
			var submittext = $(this).attr('submittext');
			var submiticon = $(this).attr('submiticon'); 
			var addconfirm = $(this).attr('addconfirm');
			var confirmmessage = $(this).attr('confirmmessage'); 
			var hasconfirm = false;
			if(!submiticon || submiticon == '' || submiticon == 'undefined'){
				submiticon = 'ok';
			}
			
			// alert(posturl);
			// popup title
			$(".modal-header h4").html(title);
			// load content
			$("#dialogcontent").html($("#dialogbody #loading").html());
			$("#dialogcontent").load(href);  	
			// then show it after the changes have been made
			$('#dialog').modal('toggle');
			//$('.modal-dialog').css({'padding-top':'0'});
			//$('.modal-dialog').css({'overflow':'hidden'});
			
			// check for default submit button text
			if(!isEmptyString(submittext)){
				$(".popupdiv #new #save").html(submittext);
			}
			if(!isEmptyString(addconfirm)){
				hasconfirm = true;
			}
			
			$('#save').on("click",function(e){ 
				// alert('going to save');	
				// $('#dialog').modal('hide');
				if($(".popupdiv #indexform").valid() == true) {
					if(hasconfirm){
						bootbox.confirm('<label class="blockcontainer notbolded">'+confirmmessage+'</label>', function(confirmed) {
							if(!confirmed){
								bootbox.hideAll();
								return false;		
							} else {
								// no confirmations
								// disable buttons
								$(".modelcancel").hide();
								$(this).hide();
								// post form
								$.post(  
									posturl,  
									$("#"+formid).serialize(),  
									function(data){
										// alert(data); return false;
										var url = successurl;    
										$(location).attr('href', stripTrailingSlash(url));
										// $.blockUI({ message: uiblockcontent}); 
										return true;
									}  
								); // close the $.post
								$("#dialogcontent").hide(); 		
								$("#dialogbody").html('<img style="margin-left:50%;" src="<?php echo $this->baseUrl('assets/images/loader.gif'); ?>" />');
							}
						});
					} else {
						// no confirmations
						// disable buttons
						$(".modelcancel").hide();
						$(this).hide();
						var aftersaveparam = '0';
						if($("#"+formid+" #openfolder").is(':checked')){
							aftersaveparam = '1';
						}
						
						// post form
						$.post(  
							posturl,  
							$("#"+formid).serialize(),  
							function(data){
								// alert(data); return false;
								// $.blockUI({ message: uiblockcontent }); 
								var url = successurl;
								if(aftersaveparam == '1'){
									url = url+'/opendir/1';
								}
								
								$(location).attr('href',url);							
								return true;	
								// return false;					
							}  
						); // close the $.post
						$("#dialogcontent").hide(); 										
						$("#dialogbody").html('<img style="margin-left:50%;" src="<?php echo $this->baseUrl('assets/images/loader.gif'); ?>" />');
					}
				}
			});
			// cancel model
			$(".modelcancel").on('click', function(e){
				$("#dialog").modal('hide');
				$("#dialogcontent").html('');
			});		
			$('#dialog').on('hidden', function () {
				$("#dialogcontent").html('');
			});
		}	
	});	
	
	// share selected items
	$(".share").click(function(e){		
		e.preventDefault();
		if($(this).hasClass('singleshare')){
			var clickid = $(this).attr('shareid');
			$(".filechecker").attr('checked', false);
			$("#file_"+clickid).click();
		}
		// return false;
		// force user to select atleat one message
		if($("input[name=filechecker]:checked").size() == 0){
			bootbox.alert('<label class="blockcontainer">Please select atleast one item to Share');
			return false;
		} else {
			// force all hidden fields for selected messages to empty string
			$(".empty").val(''); var checkedfolderarray = []; var checkedfilearray = [];
			// set the hidden array field for ids to be deleted		
			$(".filechecker.dir:checked").each(function(i){			
				checkedfolderarray[i] = $(this).val();
			});	
			$(".filechecker.file:checked").each(function(i){			
				checkedfilearray[i] = $(this).val();
			});	
			// alert(checkedfolderarray); alert(checkedfilearray); return false;
			// alert(base64_encode(checkedarray));
			
			var title = $(this).attr('rel');
			var alttitle = $(this).attr('rel2');
			if(!isEmptyString(alttitle) && alttitle != 'undefined'){
				title = alttitle;
			}
			
			var href = $(this).attr('href');
			var url = $(this).attr('addurl');
			url += '/dirlist/'+base64_encode(checkedfolderarray)+'/filelist/'+base64_encode(checkedfilearray); // alert(url); // return false;
			
			var formid = $(this).attr('formtitle');
			var posturl = $(this).attr('action');
			var successurl = $(this).attr('successurl');
			var submittext = $(this).attr('submittext');
			var submiticon = $(this).attr('submiticon'); 
			var addconfirm = $(this).attr('addconfirm');
			var confirmmessage = $(this).attr('confirmmessage'); 
			var hasconfirm = false;
			if(!submiticon || submiticon == '' || submiticon == 'undefined'){
				submiticon = 'ok';
			}
			
			// confirm that user wants to delete the message
			bootbox.confirm('<label class="blockcontainer">Create share for selected Item(s). <br /><br /> Click <b>OK</b> to confirm or <b>Cancel</b> to ignore', function(confirmed) {
				if(confirmed){
					// save the share via ajax
					$.get(url, 
					   {                        
						cachebuster: new Date().getTime()},                            
						function(data){
							// alert(data);      
							data = jQuery.parseJSON(data);
							did = data.id;	                        
							href = href+did+'/msg/1'; // alert(href); return false;
							
							// alert(posturl);
							// popup title
							$(".modal-header h4").html(title);
							// load content
							$("#dialogcontent").html($("#dialogbody #loading").html());
							$("#dialogcontent").load(href);  	
							// then show it after the changes have been made
							$('#dialog').modal('toggle');
							//$('.modal-dialog').css({'padding-top':'0'});
							//$('.modal-dialog').css({'overflow':'hidden'});
							
							// check for default submit button text
							if(!isEmptyString(submittext)){
								$(".popupdiv #save").html(submittext);
							}
							
							$('#save').on("click",function(e){ 
								// alert('going to save');	
								// $('#dialog').modal('hide');
								if($(".popupdiv #indexform").valid() == true) {
									// no confirmations
									// disable buttons
									$(".modelcancel").hide();
									$(this).hide();
									// post form
									$.post(  
										posturl,  
										$("#"+formid).serialize(),  
										function(data){
											// alert(data); return false;
											// $.blockUI({ message: uiblockcontent }); 
											$(location).attr('href', '<?php echo $this->viewurl; ?>');							
											return true;	
											// return false;					
										}  
									); // close the $.post
									$("#dialogcontent").hide(); 										
									$("#dialogbody").html('<img style="margin-left:50%;" src="<?php echo $this->baseUrl('assets/images/loader.gif'); ?>" />');
								}
							});
							// cancel model
							$(".modelcancel").on('click', function(e){
								$("#dialog").modal('hide');
								$("#dialogcontent").html('');
							});		
							$('#dialog').on('hidden', function () {
								$("#dialogcontent").html('');
							});
						}
					);
					return true;
				} else {
					bootbox.hideAll();
					return false;
				}
			});
		}	
	});	
	
	$(".sorttrigger").click(function(){
		var urlsort = '<?php echo $sort; ?>';
		var newsort = $(this).attr('sort');
		$("#sort").val(newsort);
		if($(this).hasClass('asc') && urlsort == newsort){
			$("#order").val('desc');
		} else {
			$("#order").val('asc');
		}
		$("#listform").submit();
	});
	
	$(".stylelink").click(function(){
		var style = $(this).attr('dstyle');
		$("#dstyle").val(style);
		$("#listform").submit();
	});
	
	$('.dropdown-menu input').click(function(e) {
        e.stopPropagation(); //This will prevent the event from bubbling up and close the dropdown when you type/click on text boxes.
    });
	
	$("#filterinput").keyup(function(){
        // Retrieve the input field text and reset the count to zero
        var filter = $(this).val();
        // Loop through the list items
        $(".listitem").each(function(){
			var text = $(this).attr('name');
            if (text.search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut();
            } else {
                $(this).show();
            }
        });
    });
	$("#clearfilter").click(function(){
		$("#filterinput").val('');
	});
	
	$("#showbatchactions").click(function(){
		if($(this).hasClass('active')){
			$("#showbatch").val(1);
		} else {
			$("#showbatch").val(0);
		}
		$("#listform").submit();
		$.blockUI({ message: '<?php echo $blockcontent; ?>'}); 
		return false;
	});	
});
</script>
<style>
.btn:active, .btn.active {
	box-shadow: 0 14px 25px rgba(0, 0, 0, 0.125) inset;
}
.foldercontainer {
	height:100px; width:100%; background-color:#f9f9f9; display:block; margin:18px 0 0; padding:0;
}
.foldercontainer a.well {
	width:100%; background:none; border:none; box-shadow:none;
}
.filez .foldericon {
	margin-left: auto; margin-top:20px;
}
.filez .check-line {
	top:-5px; left:5px; z-index:1005;
}
.filez.filez_3 .peoplelist .peoplewrapper, .filez.filez_2 .peoplelist .peoplewrapper {
	border:none;
	border-color: #e4e4e4;
    border-image: none;
    border-style: dotted none none;
    border-width: 2px medium medium;
    height: auto;
	margin-bottom: 0;
    padding: 8px 8px 0;
}
.filez.filez_3 .check-line, .filez.filez_2 .check-line {
	left: 5px;
    top: 13px;
}
.filez.filez_2 .check-line {
	top: 3px; 
}
.filez.filez_3 .foldercontainer, .filez.filez_2 .foldercontainer {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: none;
    box-shadow: none;
    display: inline-block;
    height: 58px;
    margin: 0 15px 0 35px;
    padding: 0;
    width: 60px;
}
.filez.filez_2 .foldercontainer {
	height:auto;
}
.filez.filez_3 a.well.iconcontainer.isfile, .filez.filez_2 a.well.iconcontainer.isfile {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    display: inline-block;
    height: auto;
    margin-top: 0;
    padding: 0 75px 5px 35px;
    width: 60px;
}
.filez.filez_2 a.well.iconcontainer {
	height:auto;
}
.filez.filez_3 a.well.iconcontainer.isfile.smallimg, .filez.filez_2 a.well.iconcontainer.isfile.smallimg {
	height: 55px;
}
.filez.filez_2 a.well.iconcontainer.isfile.smallimg {
	height:auto;	
}
.filez.filez_3 a.well.iconcontainer.isfile.smallimg img.linkpreviewimg, .filez.filez_2 a.well.iconcontainer.isfile.smallimg img.linkpreviewimg {
	height: auto;
	max-width: 55px;
	margin-top: 10px;
	max-height:45px;
}
.filez.filez_2 a.well.iconcontainer.isfile.smallimg img.linkpreviewimg {
	margin-top: 0;
	height:26px;
	margin-left:15px;
}
.filez.filez_3 img.linkpreviewimg.icoimgstyle, .filez.filez_2 img.linkpreviewimg.icoimgstyle {
	margin-top:0;
	height:auto;
	width:55px;
}
.filez.filez_2 img.linkpreviewimg.icoimgstyle {
	width:24px;
	margin-left:15px;
}
.filez.filez_3 .foldericon, .filez.filez_2 .foldericon {
	margin-top: 0px;
}
.filez.filez_2 .foldericon {
	font-size: 30px;
}
.filez.filez_3 .fileicon, .filez.filez_2 .fileicon {
	padding-left:7px;
	font-size: 50px;
    margin-top: 0;
}
.filez.filez_2 .fileicon {
	padding-left:18px;
	font-size: 20px;
}
.filez.filez_3 a.filename, .filez.filez_2 a.filename {
    display: inline-block;
    font-size: 16px;
    height: auto;
    margin-bottom: 0;
    margin-right: 20px;
    margin-top: 5px;
    vertical-align: top;
}
.filez.filez_2 a.filename {
	font-size:15px;
	width:36%;
	text-decoration:none;
}
.filez.filez_3 a.filename.openfile, .filez.filez_2 a.filename.openfile {
    font-size: 15px;
}
.filez.filez_2 a.filename.openfile {
    font-size: 14px;
    text-decoration: none;
}
.filez.filez_3 .linkactions, .filez.filez_2 .linkactions {
	display: inline;
    position: absolute;
    top: 6px;
}
.filez.filez_3 ul.listitemproperties, .filez.filez_2 ul.listitemproperties {
    display: flex;
    margin-left: 112px;
    margin-top: -21px;
    position: absolute;
}
.filez.filez_3 ul.listitemproperties.displaypath, .filez.filez_2 ul.listitemproperties.displaypath {
	display: block;
    margin-left: 112px;
    margin-top: 0;
    position: relative;
}
.filez.filez_2 ul.listitemproperties {
	display: inline;
    margin-left: 0;
    margin-top: 7px;
	width:45%;
}
.filez.filez_2 ul.listitemproperties li {
	font-size:13px;
	height:auto;
	border:none;
	width:33%;
}
.filez .listitem.missingfile {
	
}
.filez .listitem.missingfile .peoplewrapper {
	opacity:0.5;
	background-color:#f4f4f4;
}
.filez .listitem ul li.missing {
	display:none;
}
.filez.filez_3 .strike, .filez.filez_2 .strike {
  position:absolute;
  width:100%;
  height:1px;
  background-color:#ffcccc;
  top:24px;
  left:0px;
  z-index:10000;
}
</style>