<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$allowupdate = false;
	$isnew = false;
	
	if(strtolower($request->type) == 'folder'){
		$successmessage = "Folder Successfully updated";
		$file = new Folder();
		if(!isEmptyString($request->id)){
			$file->populate(decode($request->id));
			$filesize = human_filesize(getFolderSize($file->getAbsolutePath())); 
		} else {
			$isnew = true;
			$allowupdate = true;
			$successmessage = "Folder successfully added";
			if(!isEmptyString($request->parentid)){
				$file->setParentID($request->parentid);
			}
			$file->setCompanyID($request->companyid);
			$file->setCreatedBy($session->getVar('userid'));
		}
		
		$entityname = "Folder";
		if($request->allowupdate == '1'){
			$allowupdate = true;
		}
		$previousname = $file->getName();
		$labelname = "Folder Name";
		$attributes = $file->getAttributeList(); // debugMessage($attributes->toArray()); 
		$noofattributes = $attributes->count();
	} 
	if(strtolower($request->type) == 'file'){
		$successmessage = "File Successfully updated";
		$file = new File();
		$file->populate(decode($request->id));
		$filesize = human_filesize(filesize($file->getAbsoluteFilePath()));
		// debugMessage(format_size(filesize($file->getAbsoluteFilePath())).' ~ '.human_filesize($file->getFilesize()));
		$entityname = "File";
		if($request->allowupdate == '1'){
			$allowupdate = true;
		}
		$previousname = $file->getFileName();
		$labelname = "File Name";
		$attributes = $file->getAttributeList(); // debugMessage($attributes->toArray()); 
		$noofattributes = $attributes->count();
	} 
	$oldoptions = '';
	if(!isEmptyString($file->getTags())){
		$tags = explode(',', $file->getTags());
		$str = implode('", "', $tags);
		$oldoptions = '["'.$str.'"]';
	}
?>
<?php require APPLICATION_PATH."/views/scripts/index/pgcjs.phtml"; ?>
<script type="text/javascript" src="/assets/js/plugins/custom/jquery.tagsmanager.js"></script>
<script>
$(document).ready(function() {		
	$(".popupdiv #popupform").validate({		
		// define the validation rules one field at a time
		rules: {
			filename: {
				required:true,
				maxlength: <?php echo $config->uploads->filemaxnamelength; ?>,
				validchars: true
			},
			name: {
				required:true,
				maxlength: <?php echo $config->uploads->foldermaxnamelength; ?>,
				validchars: true				
			}
		}, 
		// the messages for each of the fields being validated
		messages: {				
			filename: {
				required: "Please enter File Name",
				maxlength: "Less than <?php echo $config->uploads->filemaxnamelength; ?> characters allowed"
			},
			name: {
				required: "Please enter Folder Name",
				maxlength: "Less than <?php echo $config->uploads->foldermaxnamelength; ?> characters allowed"
			}
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					error.appendTo("#"+element.attr("name")+"_error")
					break;
			}			
		}
	});
	
	$.validator.addMethod("validchars", function(value, element) {	
		var rg1=/^[^\\/:\*\?"<>\|]+$/; // forbidden characters \ / : ; * ? " < > |
		var rg2=/^\./; // cannot start with dot (.)
		var rg3=/^(nul|prn|con|lpt[0-9]|com[0-9])(\.|$)/i; // forbidden file names
  			
		return rg1.test(value) && !rg2.test(value) && !rg3.test(value);
	}, "Invalid name detected. <br>- Cannot have special characters \\ / : ; * ? \" < > | <br>- Cannot start with dot(.) <br> - Maximum length 25chars ");
	
	// $(".modal-footer").css({'text-align':'center'});
	<?php if(!$allowupdate){ ?>
		$(".btn.modelcancel").html('OK');
	<?php } else { ?>
		$(".btn.modelcancel").html('Cancel');
	<?php } ?>
	
	$(".tagsinput").tagsManager({
		<?php if(!isEmptyString($oldoptions)){ ?>       
			prefilled: <?php echo $oldoptions; ?>,
		<?php } ?>      
		delimiters: [9, 44]
	});
	
	<?php if(strtolower($request->type) == 'folder'){ ?>	
		$("#name").focus();
	<?php } ?>
	<?php if(strtolower($request->type) == 'file'){ ?>	
		$("#filename").focus();
	<?php } ?>
});
</script>
<style>
.popupdiv .form-horizontal .control-label {
	text-align:right;
}
.modal-content {
	background-color: #f1f1f1;
}
.modal-footer {
	text-align: center;
}
.modal-title {
	text-align: center;
}
.popupdiv .form-horizontal .control-label {
	padding-top:0;
	vertical-align:top;
}
<?php if(!$allowupdate){ ?>
#dialog .modal-footer #save {
	display:none;
}
<?php } ?>
label.tagged span {
	background-color: #666;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    margin-right: 9px;
    padding: 2px 10px;
	-khtml-border-radius: 15px; '
	-moz-border-radius: 15px; 
	-opera-border-radius: 15px; 
	-webkit-border-radius: 15px; 
	border-radius: 15px;
	margin-bottom:5px;
}
</style>
<div class="popupdiv">
    <div class="panel-body well-sm">
        <div class="row-fluid marginleft5">
            <div class="col-sm-12 paddingleft10">
                <form id="popupform" class="form-horizontal" method="post">
                    <input name="entityname" id="entityname" type="hidden" value="<?php echo $entityname; ?>" />
                    <input type="hidden" id="id" name="id" value="<?php echo encode($file->getID()); ?>" />
                    <?php if($file->isFile()){ ?>
                    	<input type="hidden" id="extenstion" name="extension" value="<?php echo $file->getExtension(); ?>" />
                        <input type="hidden" id="folderid" name="folderid" value="<?php echo $file->getFolderID(); ?>" />
                    <?php } else { ?>
                    	<input type="hidden" id="parentid" name="parentid" value="<?php echo $file->getParentID(); ?>" />
                    <?php } ?>
                    <input type="hidden" id="companyid" name="companyid" value="<?php echo $file->getCompanyID(); ?>" />
                    <input type="hidden" id="createdby" name="createdby" value="<?php echo $file->getCreatedBy(); ?>" />
                    <input name="successmessage" id="successmessage" type="hidden" value="<?php echo $successmessage; ?>" /> 
                    <input name="previousname" id="previousname" type="hidden" value="<?php echo $previousname; ?>" /> 
                    <div class="form-group">
                        <label class="col-sm-3 control-label rightalign"><?php echo $labelname; ?>: <?php echo $allowupdate == false ? '' : $this->translate("required_field_marker"); ?></label>
                        <div class="col-sm-9">
                        	<?php if($file->isFile()){ ?>
                                <?php if($allowupdate){ ?>
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm inline" name="filename" id="filename" value="<?php echo str_replace($file->getExtension(), '', $file->getFilename()); ?>" />
                                        <span class="input-group-addon">
                                            <?php echo $file->getExtension(); ?>
                                        </span>
                                    </div>
                                    <div id="filename_error"></div>
                              	<?php } else { ?>
                                	<?php echo $file->getFilename(); ?>
                                <?php } ?>
                            <?php } ?>
                            <?php if($file->isFolder()){ ?>
                            	<?php if($allowupdate ){ ?>
                                    <input type="text" class="form-control input-sm inline xisalphanumeric" name="name" id="name" value="<?php echo $file->getName(); ?>" />
                                    <div id="name_error"></div>
                              	<?php } else { ?>
                                	<?php echo $file->getName(); ?>
                                <?php } ?>
                            <?php } ?>
                            <div id="filename_error"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label rightalign">Ref No#</label>
                        <div class="col-sm-9">
                        	<?php if($allowupdate ){ ?>
                        		<input type="text" class="form-control input-sm inline width150" name="refno" id="refno" value="<?php echo $file->getRefNo(); ?>" />
                            <?php } else { ?>
								<?php echo $file->getRefNo(); ?>
                            <?php } ?>
                        </div>
                    </div>
                    <?php if($isnew){ ?>
                    	<div class="form-group">
                            <label class="col-sm-3 control-label rightalign"></label>
                            <div class="col-sm-9">
                            	<label class="xcheckbox checkbox-inline" for="openfolder"><input style="width: 19px; height: 25px; margin-top: -4px;" type="checkbox" id="openfolder" name="openfolder" class="form-control inline" value="1" title="Open Folder" /> &nbsp; Open folder after Save</label>
                            </div>
                      	</div>
                    <?php } ?>
					<?php if(!$isnew){ ?>
                        <div class="form-group">
                            <label class="col-sm-3 control-label rightalign">Description: </label>
                            <div class="col-sm-9">
                                <?php if($allowupdate ){ ?>
                                    <textarea name="description" id="description" class="form-control input-sm expanding" style="min-height:60px;"><?php echo $file->getDescription(); ?></textarea>
                                <?php } else { ?>
                                    <span class="nullifempty"><?php echo isEmptyString($file->getDescription()) ? '-' : nl2br($file->getDescription()); ?></span>
                                <?php } ?>
                                <div id="description_error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label rightalign">Tags: </label>
                            <div class="col-sm-9">
                                <?php if($allowupdate ){ ?>
                                    <input type="text" name="tags" id="tags" class="form-control input-width-large tagsinput" value="<?php echo $file->gettags(); ?>" />
                                    <i style="color:#999;">Separate with commas for multiple tagging</i>
                                    <div id="tags_error" alt="Tags"></div>
                                <?php } else { ?>
                                    <label class="nullifempty tagged"><?php echo isEmptyString($file->gettags()) ? '-' : '<span>'.(str_replace(',', '</span><span>', $file->gettags())).'</span>'; ?></label>
                                <?php } ?>
                                <div id="tags_error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label rightalign"><?php echo $allowupdate == true ? 'Add ' : ''; ?>Attributes: </label>
                            <div class="col-sm-9">
                                <?php if($allowupdate ){ ?>
                                	<label class="floatleft width100 inline" style="margin-right:10px;"><i>Attribute Name</i></label>
                                    <label class="width250 inline"><i>Attribute Value</i></label>
                                    <div class="divider2"></div>
                                    <?php
										$e = 0; $x = 0;
										foreach($attributes as $attribute){
											$class = "visible_row_input";
									?>
                                        <div class="blocked makerelative <?php echo $class; ?> row_input_<?php echo $e; ?>" id="row_input_<?php echo $e; ?>">
                                            <input type="text" name="attributelist[<?php echo $e; ?>][attr]" id="attribute_<?php echo $e; ?>" class="form-control input-sm width100 inline xinputrequired" placeholder="Name" value="<?php echo $attribute->getAttr(); ?>" /> &nbsp;
                                            <input type="text" name="attributelist[<?php echo $e; ?>][value]" id="value_<?php echo $e; ?>" class="form-control input-sm width250 inline xinputrequired"  placeholder="Value" value="<?php echo $attribute->getValue(); ?>" />
                                            <input type="hidden" name="attributelist[<?php echo $e; ?>][id]" id="id_<?php echo $e; ?>" value="<?php echo $attribute->getID(); ?>" />
                                            <?php if(strtolower($request->type) == 'folder'){ ?>
                                            	<input type="hidden" name="attributelist[<?php echo $e; ?>][folderid]" id="folderid_<?php echo $e; ?>" value="<?php echo $file->getID(); ?>" />
                                            <?php } ?>
                                            <?php if(strtolower($request->type) == 'file'){ ?>
                                            	<input type="hidden" name="attributelist[<?php echo $e; ?>][file]" id="file_<?php echo $e; ?>" value="<?php echo $file->getID(); ?>" />
                                            <?php } ?>
                                            <div class="makeabsolute theme-red" style="top:0; right:0;">
                                                <a href="javascript: doNothing();" title="Delete" id="row_input_<?php echo $e; ?>" class="removeline danger" rel="input"><i class="fa fa-remove"></i></a>
                                            </div>
                                        </div>
                                        <div class="divider2"></div>
                                  	<?php $e++; $x++; } ?>
                                    <?php 
										$defaultlines = 0;
										if($noofattributes >= 1){
											$defaultlines = $noofattributes;
										}
										for($i = $e; $i<5; $i++){
											// debugMessage($i);
											$class = "visible_row_input";
											if($i >= $defaultlines){
												$class = "hidden_row_input";
											}
									?>
										<div class="blocked makerelative <?php echo $class; ?> row_input_<?php echo $i; ?>" id="row_input_<?php echo $i; ?>">
                                            <input type="text" name="attributelist[<?php echo $i; ?>][attr]" id="attribute_<?php echo $i; ?>" class="form-control input-sm width100 inline xinputrequired" placeholder="Name" value="" /> &nbsp;
                                            <input type="text" name="attributelist[<?php echo $i; ?>][value]" id="value_<?php echo $i; ?>" class="form-control input-sm width250 inline xinputrequired"  placeholder="Value" value="" />
                                            <?php if(strtolower($request->type) == 'folder'){ ?>
                                            	<input type="hidden" name="attributelist[<?php echo $i; ?>][folderid]" id="folderid_<?php echo $i; ?>" value="<?php echo $file->getID(); ?>" />
                                            <?php } ?>
                                            <?php if(strtolower($request->type) == 'file'){ ?>
                                            	<input type="hidden" name="attributelist[<?php echo $i; ?>][file]" id="file_<?php echo $i; ?>" value="<?php echo $file->getID(); ?>" />
                                            <?php } ?>
                                            <div class="makeabsolute theme-red" style="top:0; right:0;">
                                                <a href="javascript: doNothing();" title="Delete" id="row_input_<?php echo $i; ?>" class="removeline danger" rel="input"><i class="fa fa-remove"></i></a>
                                            </div>
                                        </div>
                                        <div class="divider2"></div>
                                    <?php $x++; } ?>
                                    <a href="javascript: void(0)" title="Add Line" class="addline pull-left" id="input">Add</a>
                                <?php } else { ?>
                                	<?php if($noofattributes == 0){ ?>
                                    	-
                                    <?php } else { ?>
                                        <label class="nullifempty tagged">
                                        	<?php foreach($attributes as $attribute){ ?>
                                            	<span><?php echo $attribute->getAttr(); ?>=<?php echo $attribute->getValue(); ?></span>
                                            <?php } ?>
                                        </label>
                                    <?php } ?>
                                <?php } ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label rightalign">Owner: </label>
                            <div class="col-sm-9">
                                <?php echo $file->getCreator()->getName(); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label rightalign">Size: </label>
                            <div class="col-sm-9">
                                <?php echo $filesize; ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label rightalign">Date Added: </label>
                            <div class="col-sm-9">
                                <?php echo formatDateAndTime($file->getDateCreated()); ?>
                            </div>
                        </div>
                        <?php if(!isEmptyString($file->getLastUpdateDate()) && false){ ?>
                            <div class="form-group">
                                <label class="col-sm-3 control-label rightalign">Last Modified: </label>
                                <div class="col-sm-9">
                                    <?php echo formatDateAndTime($file->getLastUpdateDate()); ?>
                                </div>
                            </div>
                        <?php } ?>
                    <?php } ?>
                </form>
            </div>
        </div>
    </div>
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>