<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$type = $request->type;
	$id = $request->id;
	$source = ''; $system = array();
	
	$mode = ''; $sourcefolder = '';
	if($request->mode == 'batch'){
		$mode = $request->mode;
		$dirlist = decode($request->dirlist); // debugMessage($dirlist); 
		$filelist = decode($request->filelist); // debugMessage($filelist); 
		
		$folder = new Folder();
		$folder->populate($request->parentid); 
		$source = '';
		$sourcefolder = $folder->getID();
		
		$home = $folder->getHomeFolder($companyid); //debugMessage($home->toArray()); // exit;
		$homedir = $home->getFolderName();
		$homedirid = $home->getID();
		$basedir = $home->getName(); // exit;
			
		if(!isEmptyString($dirlist)){
			$dirarray = explode(',', $dirlist); // debugMessage($filearray); // exit;
			if(count($dirarray) > 0){
				foreach ($dirarray as $id){
					$fold = new Folder();
					$fold->populate($id);
					if(!isEmptyString($fold->getID())){
						$source .= $fold->getRelativePathFromHome().'<br/>';
					}
				}
			}
		}
		if(!isEmptyString($filelist)){
			$filearray = explode(',', $filelist); // debugMessage($filearray); // exit;
			if(count($filearray) > 0){
				foreach ($filearray as $id){
					$file = new File();
					$file->populate($id);
					if(!isEmptyString($file->getID())){
						$source .= $file->getFolder()->getRelativePathFromHome().' / '.$file->getName().'<br/>';
					}
				}
			}
		}
	} else {
		if($type == 'dir'){
			$folder = new Folder();
			$folder->populate($id); // debugMessage($folder->toArray());
			$source = $folder->getRelativePathFromHome();
			$sourcefolder = $folder->getID();
			$homedir = $folder->getHomeFolder()->getFolderName();
			$homedirid = $folder->getHomeFolder()->getID();
			$basedir = $folder->getHomeFolder()->getName();
		}
		if($type == 'file'){
			$file = new File();
			$file->populate($id); // debugMessage($file->toArray());
			$source = $file->getRelativePathFromHome();
			$sourcefolder = $file->getFolderID();
			$homedir = $file->getFolder()->getHomeFolder()->getFolderName();
			$homedirid = $file->getFolder()->getHomeFolder()->getID();
			$basedir = $file->getFolder()->getHomeFolder()->getName();
		}
	}
	
	$successmessage = "Successfully moved";
	// debugMessage($system);
?>
<script type="text/javascript" src="<?php echo $this->serverUrl($this->baseUrl('javascript/plugins/custom/jstree/jstree.min.js')); ?>"></script>
<script>
$(document).ready(function() {		
	$(".popupdiv #popupform").validate({		
		// define the validation rules one field at a time
		rules: {
			destfolderid: "required"
		}, 
		// the messages for each of the fields being validated
		messages: {				
			destfolderid: "Please select the destination directory"
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					error.appendTo("#"+element.attr("name")+"_error")
					break;
			}			
		}
	});
	
	$('#data').jstree({
		'core' : {
			'multiple' : false,
			'data' : {
				"url" : "<?php echo $this->baseUrl('library/system/id/'.$homedirid.'/parentid/'.$sourcefolder); ?>",
				"dataType" : "json" // needed only if you do not supply JSON headers
			}
		}
	}).on("changed.jstree", function (e, data) {
		if(data.selected.length) {
			// alert('The selected node is: ' + data.instance.get_node(data.selected[0]).text);
			$("#selectedfolder").html('Selected: '+data.instance.get_node(data.selected[0]).text);
			var sid = data.instance.get_node(data.selected[0]).id;
			
			$.get("<?php echo $this->baseUrl('library/filepath'); ?>/id/"+sid, 
			   {                        
				cachebuster: new Date().getTime()},                            
				function(data){                        
					// alert(data);
					if(data == '<?php echo $basedir; ?>'){
						$("#selectedfolder").html('Selected: <?php echo $homedir; ?>');
					}  else { 
						if(!isEmptyString(data)){
							$("#selectedfolder").html('Selected: '+data);
						} else {
							$("#selectedfolder").html('Selected: ');
						}                
					}
				}
			);
			$("#destfolderid").val(sid);
		}
	});
});
</script>
<style>

</style>
<div class="popupdiv">
    <div class="panel-body well-sm padding0 margin0">
        <div class="row-fluid padding0 margin0">
            <div class="col-sm-12 padding0">
                <form id="popupform" class="form-horizontal padding0 margin0" method="post">
                	<input type="hidden" id="type" name="type" value="<?php echo $type; ?>" />
                    <input type="hidden" id="sourceid" name="sourceid" value="<?php echo $sourcefolder; ?>" />
                    <input type="text" id="destfolderid" name="destfolderid" value="" style="height:2px; border:none; background:none;" />
                    <input name="successmessage" id="successmessage" type="hidden" value="<?php echo $successmessage; ?>" /> 
                    <input name="mode" id="mode" type="hidden" value="<?php echo $mode; ?>" /> 
                    <input name="dirlist" id="dirlist" type="hidden" value="<?php echo $request->dirlist; ?>" /> 
                    <input name="filelist" id="filelist" type="hidden" value="<?php echo $request->filelist; ?>" /> 
                    <div class="form-group" style="margin-bottom:2px; max-height:150px; overflow-y:scroll;">
                        <label class="col-sm-2 control-label leftalign">Source:</label>
                        <div class="col-sm-10 paddingleft0"><?php echo $source; ?></div>
                    </div>
                    <div class="form-group" style="margin-bottom:2px;">
                        <label class="col-sm-2 control-label leftalign">Destination:</label>
                        <div class="col-sm-10 paddingleft0">
                        	<label class="radio radio-inline"><input type="radio" name="actiontype" id="type_move" class="1" checked value="1" /> Move to Selected</label>
                        	<label class="radio radio-inline"><input type="radio" name="actiontype" id="type_copy" class="0" value="2" /> Copy to Selected</label>
                        </div>
                    </div>
                    <div id="data" class="demo">Loading file system.. Please wait...</div>
                    <div class="divider2"></div>
                    <span class="pagedescription">Double Click to Open/Browse a folder and Single click to Select </span>
                    <div class="divider5"></div>
                    <div class="bolded label label-info" style="padding:5px;" id="selectedfolder">Selected: None</div>
                    <div id="destfolderid_error"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>