<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$conn = Doctrine_Manager::connection();
	$user = new UserAccount();
	$user->populate($userid);
	
	$id = decode($request->id);
	if(is_numeric($request->id)){
		$id = $request->id;
	}
	$folder = new Folder();
	$folder->populate($id);
	
	$title = "Automation Rules"; // $folder->getRelativePathFromHome()
	$description = '';
	$pageid = "browse_notify";
	
	$this->headTitle($title.$browserappend);
?>
<script>
$(document).ready(function() {
	$('.titlebreadcrumb').html('<?php echo $homedir.'Notify'; ?>');
	$('.titlelabel').html('<?php echo $title; ?>');
	$('.desclabel').html('<?php echo $description; ?>');
	$('.pageicon').html('<span class="fa fa-cogs"></span>');
	
	
});
</script>
<style>

</style>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<?php require_once APPLICATION_PATH.'/views/scripts/index/topnavmenu.phtml'; ?>
<div id="<?php echo $pageid; ?>" class="filez">
    <div class="row">
        <div class="col-sm-12">
        	<form class="form-horizontal" action="<?php echo $this->baseUrl("library/processaccess"); ?>" method="post" id="indexform">
                <div class="row-fluid peoplelist clearfix">
                   
                </div>
            </form>
        </div>
    </div>
</div>    
<?php
	$session->setVar('gotofolder', '');
	require_once APPLICATION_PATH.'/includes/footer.php';
?>