<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$pdfurl = decode($request->file);
	// debugMessage($pdfurl);
	
	$title = 'PDF Viewer';
	$this->headTitle($title.$browserappend);
?>
<script type="text/javascript" src="/assets/js/plugins/custom/pdfobject.js"></script>
<script type="text/javascript">
window.onload = function (){
	var success = new PDFObject({ url: "<?php echo $pdfurl; ?>" }).embed("pdf");
	
	var ele = document.getElementById('triggerpdf');
	if(typeof ele.click == 'function') {
	  ele.click()
	} else if(typeof ele.onclick == 'function') {
	  ele.onclick()
	}
};
</script>
<style type="text/css">
#pdf {
	width: 100%;
	/*height: 1300px;*/
	margin: 0;
	padding:0;
	/*border: 1px solid green;*/
}
#pdf p {
   padding: 1em;
}
#pdf object {
   display: block;
   border: solid 1px #666;
}
</style>
<div class="widget-content" style="background-color:#fdfdfd; height:auto; width:98%; border:1px solid green; padding:4px;">
    <div id="pdf"><div class="alert alert-info margin10"><a href="<?php echo $pdfurl; ?>" id="triggerpdf">Click here to view/download the PDF</a></div></div>
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
