<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$allowupdate = true;
	$isnew = false;
	$file = new File();
	$file->setFolderID($request->parentid);
	$file->setCompanyID(getCompanyID());
	$file->setCreatedBy($session->getVar('userid'));
	$successmessage = "Successfully uploaded";
	
	$hasbatchupload = true;
	$maxfilesize = '10mb';
	if(!isEmptyString($request->attrid)){
		$attribute = new Attribute();
		$attribute->populate($request->attrid); // debugMessage($file->toArray());
		$hasbatchupload = false;
		if($attribute->gethasbatchupload() == 1){
			$hasbatchupload = true;
		}
		if(!isEmptyString($attribute->getMax_Size())){
			$maxfilesize = $attribute->getMax_Size().'mb';
		}
	}

	
?>
<link rel="stylesheet" href="/assets/js/plugins/custom/plupload/jquery.plupload.queue.css">
<script type="text/javascript" src="/assets/js/plugins/custom/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/custom/plupload/jquery.plupload.queue.js"></script>

<script>
$(document).ready(function() {		
	// Setup html5 version
	$("#uploader").pluploadQueue({
		// General settings
		runtimes : 'html5,html4',
		url : '<?php echo $this->baseUrl('library/pushuploads'); ?>',
		chunk_size: '<?php echo $maxfilesize; ?>',
		rename : true,
		filters : {
			// Maximum file size
			max_file_size : '<?php echo $maxfilesize; ?>',
			// Specify what files to browse for
			mime_types: [
				{title : "Image files", extensions : "jpg,gif,png,bpm,tiff"},
				{title: "Document files", extensions: "doc,docx,xls,xlsx,ppt,pptx,pdf,txt,rtf"},
				{title : "Archives", extensions : "zip,rar,tar,tar.gz"}
			]
		},
		multi_selection: <?php echo $hasbatchupload ? 'true' : 'false'; ?>,
		dragdrop: false,
		prevent_duplicates: true,
		sortable: true,
		autostart: true,
		multiple_queues: true,
		// Post init events, bound after the internal events
        init : {
            FilesAdded: function(up, files) {
			  up.start();
			},
			PostInit: function() {
                // Called after initialization is finished and internal event handlers bound
                $('#dialog #save').addClass('disabledfield disabled').hide();
            },
            UploadComplete: function(up, files) {
                // Called when all files are either uploaded or failed
				if(up.files.length > 0){
					var str = '';
					$.each(files, function(i, file) {
						str += file.name+',';
					});
					<?php if(!$hasbatchupload){ ?>
						$(".plupload_buttons").css("display", "none");
  						$(".plupload_upload_status").css("display", "none");
					<?php } ?>
					$("#filelist").val(str.replace(/,\s*$/, "")); // alert(str);
					$('#dialog #save').removeClass('disabledfield disabled').show();
				} else {
					 $('#dialog #save').addClass('disabledfield disabled').hide();
				}
            }
        }
    });
	
	$('.popupdiv #popupform').submit(function(e) {
		// Files in queue upload them first
		if ($('#uploader').pluploadQueue('getFiles').length > 0) {
			
		} else {
			alert("You must have at least one file in the queue.");
			return false; // Keep the form from submitting
		}
	});
	
});
</script>
<style>
.modal-dialog {
	width:800px;
}
.modal-title {
	text-align: center;
}
.plupload_container {
	padding:0;
}
</style>
<div class="popupdiv">
    <div class="panel-body well-sm padding0 margin0">
        <div class="row-fluid padding0 margin0">
            <div class="col-sm-12 padding0">
                <form id="popupform" class="form-horizontal padding0 margin0" method="post" action="<?php echo $this->baseUrl('library/processuploadssuccess'); ?>">
                    <input name="entityname" id="entityname" type="hidden" value="File" />
                    <input type="hidden" id="id" name="id" value="" />
                    <input type="hidden" id="folderid" name="folderid" value="<?php echo $file->getFolderID(); ?>" />
                    <input type="hidden" id="companyid" name="companyid" value="<?php echo $file->getCompanyID(); ?>" />
                    <input type="hidden" id="createdby" name="createdby" value="<?php echo $file->getCreatedBy(); ?>" />
                    <input name="successmessage" id="successmessage" type="hidden" value="<?php echo $successmessage; ?>" /> 
                    <div id="uploader">
                        <p>Please wait while Uploader initializes...</p>
                        <p class="text-muted">Your browser doesn't have HTML5 support.</p>
                    </div>
                    <input type="text" id="filelist" name="filelist" class="hide maxwidth" value="" />
                </form>
            </div>
        </div>
    </div>
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>