<?php
	include_once APPLICATION_PATH.'/includes/header.php';
	
	$isexternal = false;
	if($controller != 'calendar'){
		$isexternal = true;
	}
	
	$title = 'Calendar';
	
	$user = new UserAccount();	
	$user->populate($userid);
	$currentuserid = '';
	
	$defaultview = '';
	if($request->section == 'week'){
		$defaultview = 'basicWeek';
	}
	if($request->section == 'day'){
		$defaultview = 'basicDay';
	}
	if($request->section == 'month' || isEmptyString($request->section)){
		$defaultview = 'month';
	}
	if($request->section == 'year'){
		$defaultview = 'year';
	}
	
	$eventsurl = $this->serverUrl($this->baseUrl('calendar/events/userid/'.$currentuserid));
	if($controller == 'project'){
		$eventsurl = $this->serverUrl($this->baseUrl('calendar/events/projectid/'.$project->getID().'/userid/'.$currentuserid));
	}
	// debugMessage($eventsurl);
	$this->headTitle($title.$browserappend);
	
?>
<link rel="stylesheet" href="/assets/js/plugins/fullcalendar/css/fullcalendar.css">
<link rel="stylesheet" href="/assets/js/plugins/fullcalendar/css/fullcalendar.print.css" media="print">
<script type="text/javascript" src="/assets/js/plugins/fullcalendar/js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/fullcalendar/js/fullcalendar.min.js"></script>
<script>
$(document).ready(function() {
	<?php if(!$isexternal){ ?>
		$('.page-title').html('<?php echo $title; ?>');
		$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	<?php } ?>
	 $('#calendar').fullCalendar({
        header: {
			left: 'prev,next today',
			center: 'title',
			right: 'year,month,basicWeek,basicDay',
			defaultDate: '<?php echo date('Y-m-d'); ?>',
			defaultView: '<?php echo $defaultview; ?>'			
		},
        selectable: false,
    	eventColor: '#666',
        eventClick:  function(event, jsEvent, view) {
            $('#modalTitle').html('Preview Activity Details');
            // $('#modalBody').html(event.description);
           	$('#eventUrl').attr('href', event.editurl);
			$("#modalBody").html('<a id="loadingx" class="xhidden"><img style="margin-left:50%;" src="<?php echo $this->baseUrl('assets/images/loader.gif'); ?>" /></a>');
			$("#modalBody").load(event.ajaxurl); 
			$('#fullCalModal').modal();
        }
    });
	
	function AddEvent(){
	  $('#calendar').fullCalendar('renderEvent', ourEvent, true);
	}
	$('#calendar').fullCalendar( 'addEventSource', '<?php echo $eventsurl; ?>');
});
</script>
<style>
.fc-view-container .fc-content .fc-title {
	float:left;
}

</style>
<?php if(!$isexternal){ ?>
	<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<?php } ?>
<div class="row" id="contentarea">
    <div class="col-md-12" id="calendar_index">
    	<?php if(!$isexternal){ ?>
        <form id="viewform" role="form" class="form-horizontal" method="get">
        <?php } ?>
            <div class="panel <?php echo !$istexternal ? 'panel-color panel-primary' : ''; ?>">
                <?php if(!$isexternal){ ?>
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked <?php echo !$istexternal ? '' : 'section'; ?>"><?php echo 'Plan '; ?><?php echo $title; ?></h3>
                    <div class="portlet-widgets lineblocked floatright">
                    
                    </div>
              	</div>
                <?php } ?>
                <div class="panel-body" <?php echo !$istexternal ? '' : 'style="padding-top:5px;"'; ?>>
                    <div id="calendar"></div>
                    <div id="fullCalModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                                    <h4 id="modalTitle" class="modal-title"></h4>
                                </div>
                                <div id="modalBody" class="modal-body" style="padding:0 !important; margin:0 !important;"><a id="loadingx" class="hidden"><img style="margin-left:50%;" src="<?php echo $this->baseUrl('assets/images/loader.gif'); ?>" /></a>
                                	<div id="dialogcontentx"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                    <a id="eventUrl" class="addpopup btn btn-sm btn-default" data-dismiss="modal" rel="Edit Activity">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <?php if(!$isexternal){ ?>
        </form>
        <?php } ?>
 	</div>         
</div>
<?php if(!$isexternal){ ?>
	<?php
        require_once APPLICATION_PATH.'/includes/footer.php';
    ?>
<?php } ?>
