<div class="panel panel-default panel-border makerelative">
    <div class="panel-heading fieldsetwrapper">
        <h3 class="panel-title">Admin Info</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <?php if($isfarmer){ ?>
                    <div class="form-group">
                        <label class="col-sm-4 control-label leftalignlabel">Profiled By: <?php echo $this->translate("global_required_field_marker"); ?>
                        	<p class="text-muted m-b-10 font-12" style="font-weight:normal; font-size:12px !important;">(Agent or Extension Officer)</p>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" name="profiledbyid" id="profiledbyid" class="form-control width200 input-sm " value="<?php echo $contact->getProfiledByID(); ?>" />
                            <div id="profiledbyid_error"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label leftalignlabel">Profiling Date: <?php echo $this->translate("global_required_field_marker"); ?></label>
                        <div class="col-sm-8">
                            <input type="text" name="regdate" id="regdate" class="form-control width125 input-sm inline ordinary" value="<?php echo changeMySQLDateToPageFormat($contact->getRegDate()); ?>" /> &nbsp; 
                            <div id="regdate_error"></div>
                        </div>
                    </div>
                <?php } ?>
                <div class="form-group">
                    <label class="col-sm-4 control-label leftalignlabel">Account Status: <?php echo $this->translate("global_required_field_marker"); ?></label>
                    <div class="col-sm-8">
                       <?php
						 $statuses = getDirectoryStatuses();
						 $dropdown = new Zend_Form_Element_Select('status',
								  array(
										'multiOptions' => $statuses,
										'view' => new Zend_View(),
										'decorators' => array(array('ViewHelper')),
										'class' => array('form-control','input-sm', 'width125')
								  )
						  );
						  
						  $dropdown->setValue($contact->getStatus());
						  echo $dropdown->render();
					  ?>
                        <div id="status_error"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            	<div class="form-group">
                    <label class="col-sm-4 control-label leftalignlabel">Registered By: <?php echo $this->translate("global_required_field_marker"); ?>
                    	<p class="text-muted m-b-10 font-12" style="font-weight:normal; font-size:12px !important;">(Data Clerk)</p>
                    </label>
                    <div class="col-sm-8">
                        <?php echo $contact->getCreator()->getName(); ?> 
                        <input type="hidden" name="createdby" id="createdby" value="<?php echo $contact->getCreatedBy(); ?>" /> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label leftalignlabel">Registration Date: <?php echo $this->translate("global_required_field_marker"); ?></label>
                    <div class="col-sm-8">
                        <?php echo changeMySQLDateToPageFormat($contact->getDateCreated()); ?>
                        <input type="hidden" name="datecreated" id="datecreated" value="<?php echo $contact->getDateCreated(); ?>" /> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>