<div class="panel panel-default panel-border makerelative">
    <div class="panel-heading fieldsetwrapper">
        <h3 class="panel-title">Profile Info</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <?php //if(isEmptyString($contact->getID())){ ?>
                    <div class="form-group typetrigger">
                        <label class="col-sm-4 control-label leftalignlabel">Type: <?php echo $this->translate("global_required_field_marker"); ?></label>
                        <div class="col-sm-8">
                            <?php
                                $dropdown = new Zend_Form_Element_MultiSelect('categoryids',
                                                    array(
                                                        'multiOptions' => $directorytypes,
                                                        'view' => new Zend_View(),
                                                        'decorators' => array('ViewHelper'),
                                                        'class' => array('xform-control','width250','normalwidth', 'xchosen-select', 'hastooltip', 'linetip')
                                                    )
                                );  
								$dropdown->setValue(array_remove_empty(explode(',', $contact->getCategory())));
								$dropdown->setAttrib("data-placeholder", "Select a category");			
                                echo $dropdown->render();
                            ?>
                            <div id="categoryids_error"></div>
                        </div>
                    </div>
                <?php //} ?>
                <div class="form-group" id="contype_visible">
                    <label class="col-sm-4 control-label leftalignlabel leftalignlabel">Contact Category: <?php echo $this->translate("global_required_field_marker"); ?></label>
                    <div class="col-sm-8">
                        <div class="radio radio-default radio-inline ">
                            <input type="radio" name="contacttype" id="contacttype_1" value="1" <?php echo $contact->isPerson() ? 'checked' : ''; ?> ><label for="contacttype_1"> Person </label>
                        </div>
                        <div class="radio radio-default radio-inline">
                            <input type="radio" name="contacttype" id="contacttype_2" value="2" <?php echo $contact->isCompany() ? 'checked' : ''; ?>><label for="contacttype_2">Organization</label>
                        </div>
                        <div id="contacttype_error"></div>
                    </div>
                </div>
                <div class="form-group company">
                    <label class="col-sm-4 control-label leftalignlabel leftalignlabel">Name: <?php echo $this->translate("global_required_field_marker"); ?></label>
                    <div class="col-sm-8">
                        <input type="text" name="orgname" id="orgname" class="form-control input-sm" value="<?php echo $contact->getOrgName(); ?>" /><div id="orgname_error"></div>
                    </div>
                </div>
                <div class="form-group company">
                    <label class="col-sm-4 control-label leftalignlabel leftalignlabel">Description: <?php //echo $this->translate("global_required_field_marker"); ?></label>
                    <div class="col-sm-8">
                        <textarea name="description" id="description" class="form-control input-sm expanding"></textarea><div id="description_error"></div>
                    </div>
                </div>
                <div class="form-group company">
                    <label class="col-sm-4 control-label leftalignlabel leftalignlabel">Contact Person: <?php echo $this->translate("global_required_field_marker"); ?></label>
                    <div class="col-sm-8">
                        <input type="text" name="contactperson" id="contactperson" class="form-control input-sm" value="<?php echo $contact->getContactPerson(); ?>" /><div id="contactperson_error"></div>
                    </div>
                </div>
                <div class="form-group person">
                    <label class="col-sm-4 control-label leftalignlabel leftalignlabel"><?php echo $this->translate('profile_firstname_label'); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label>
                    <div class="col-sm-8">
                        <input type="text" name="firstname" id="firstname" class="form-control input-sm" value="<?php echo $contact->getFirstName(); ?>" /><div id="firstname_error"></div>
                    </div>
                </div>
                <div class="form-group person">
                    <label class="col-sm-4 control-label leftalignlabel"><?php echo $this->translate('profile_lastname_label'); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label>
                    <div class="col-sm-8">
                        <input type="text" name="lastname" id="lastname" class="form-control input-sm" value="<?php echo $contact->getLastName(); ?>" />
                        <div id="lastname_error"></div>
                    </div>
                </div>
                <div class="form-group person">
                    <label class="col-sm-4 control-label leftalignlabel"><?php echo $this->translate('profile_gender_label'); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label>
                    <div class="col-sm-8">
                        <div class="radio radio-default radio-inline ">
                            <input type="radio" name="gender" id="gender_male" value="1" <?php echo $contact->isMale() ? 'checked' : 0; ?> ><label for="gender_male"> Male </label>
                        </div>
                        <div class="radio radio-default radio-inline">
                            <input type="radio" name="gender" id="gender_female" value="2" <?php echo $contact->isFemale() ? 'checked' : 0; ?>><label for="gender_female">Female</label>
                        </div>
                        <div id="gender_error"></div>
                    </div>
                </div>
                <div class="form-group person">
                    <label class="col-sm-4 control-label leftalignlabel">Job Title: <?php //echo $this->translate("global_required_field_marker"); ?></label>
                    <div class="col-sm-8">
                        <input type="text" name="title" id="title" class="form-control input-sm" value="<?php echo $contact->getTitle(); ?>" />
                        <div id="title_error"></div>
                    </div>
                </div>
                <div class="form-group person pdt">
                    <label class="col-sm-4 control-label leftalignlabel">Department: <?php //echo $this->translate("global_required_field_marker"); ?></label>
                    <div class="col-sm-8">
                        <input type="text" name="department" id="department" class="form-control input-sm" value="<?php echo $contact->getDepartment(); ?>" />
                        <div id="department_error"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>