<div class="panel panel-default panel-border makerelative">
    <div class="panel-heading fieldsetwrapper">
        <h3 class="panel-title">Contact & Location</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label leftalignlabel">Phone No#: <?php echo $this->translate("global_required_field_marker"); ?></label>
                    <div class="col-sm-8">
                        <input type="text" name="phone" id="phone" class="form-control width150 input-sm inline" value="<?php echo $contact->getPhone(); ?>" placeholder="256-<?php echo $isfarmer == true ? '7' : 'X'; ?>XX-123456" data-mask="256-<?php echo $isfarmer == true ? '7' : '9'; ?>99-999999"  maxlength="15" /> 
                        <div id="phone_error"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label leftalignlabel">Alt Phone No#:</label>
                    <div class="col-sm-8">
                        <input type="text" name="phone2" id="phone2" class="form-control width150 input-sm inline" value="<?php echo $contact->getPhone2(); ?>" placeholder="256-<?php echo $isfarmer == true ? '7' : 'X'; ?>XX-123456" data-mask="256-<?php echo $isfarmer == true ? '7' : '9'; ?>99-999999"  maxlength="15" /> 
                        <div id="phone2_error"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label leftalignlabel">Email:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control input-sm inline clearnew" id="email" name="email" value="<?php echo $contact->getEmail(); ?>" />
                        <div id="email_error"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label leftalignlabel">Alt Email:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control input-sm inline clearnew" id="email2" name="email2" value="<?php echo $contact->getEmail2(); ?>" />
                        <div id="email2_error"></div>
                    </div>
                </div>
                <div class="form-group company">
                    <label class="col-sm-4 control-label leftalignlabel">Website:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control input-sm clearnew" id="website" name="website" value="<?php echo $contact->getWebsite(); ?>" />
                        <div id="website_error"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix">
                    <label class="col-md-4 control-label leftalignlabel">Country: </label>
                    <div class="col-md-8">
                        <?php
							$dropdown = new Zend_Form_Element_Select('country',
												array(
													'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), getCountries()),
													'view' => new Zend_View(),
													'decorators' => array('ViewHelper'),
													'class' => array('form-control','input-sm','width200')
												)
							);  
							$dropdown->setValue($contact->getCountry()); 
							echo $dropdown->render();
						?><div id="country_error"></div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-md-4 control-label leftalignlabel">Town/City: </label>
                    <div class="col-md-8">
                        <input type="text" name="town" id="town" placeholder="" class="form-control input-sm" value="<?php echo $contact->gettown(); ?>" />
                        <div id="town_error"></div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-md-4 control-label leftalignlabel"><?php echo $this->translate("global_address_label"); ?>:</label>
                    <div class="col-md-8">
                        <textarea name="address" id="address" class="form-control expanding"><?php echo $contact->getAddress(); ?></textarea>
                        <div id="address_error"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>