 <?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$contact = new Contact(); 
	$theid = is_numeric($request->id) ? $request->id : decode($request->id);
	if(isEmptyString($theid)){
		$theid = $userid;
	}
    $contact->populate($theid); // debugMessage($contact->toArray()); exit;
	$id = $contact->getID();  
	$type = $contact->getTypeIDs(); 
	
	$posturl = '';
	$formid = 'viewform';
	$formmethod = 'get';
	
	$section = trim($request->section);
	if(isEmptyString($section)){
		$section = 'overview';
	}
	if($section == 'settings'){
		$section = "account";
	}
	if(isEmptyString($section)){
		$section = 'view';
	}
	
	$resource = 'Directory';
	$entityname = "Contact";
	$listitems = "Profiles";
	$listurl = $this->baseUrl($controller.'/list');
	if($controller == 'directory'){
		$listurl = $this->baseUrl($controller.'/list/type/'.$contact->getTypeIDs());
	}
	$viewurl = $viewbase = $this->baseUrl($controller.'/view/id/'.encode($contact->getID()));
	$indexurl = $this->baseUrl($controller.'/update/id/'.encode($contact->getID()));
	$title = "Profile";
	$pagetitle = 'Directory';
	$isme = false;
	$multipart = "";
	
	$allstatus = getUserStatus();
	$directorytypes = getDatavariables('DIRECTORY_CATEGORIES');
	
	$isperson = $contact->getcontacttype() == '1' ? true : false;
	$isorg = $contact->getcontacttype() == '2' ? true : false;	
	$contacttype = $isorg ? 'Organization' : 'Person';
	$categorylist = array(); $categoryarray = array_remove_empty(explode(',', $contact->getcategory()));
	foreach($categoryarray as $catid){
		if(!isArrayKeyAnEmptyString($catid, $directorytypes)){
			$categorylist[] = $directorytypes[$catid];
		}
	}
	$categories = implode(',', $categorylist); 
	
	if($section == 'account'){
		$indexurl = $this->baseUrl($controller.'/update/id/'.encode($contact->getID()).'/tab/account');
	}
	
	$tab = trim($request->getParam('tab')); 
	$isfarmer = false; $issupplier = false; $isdirectory = false; $isstaff = false; $isowc = false;
	if($controller == 'directory'){
		$isdirectory = true;
		if(!isArrayKeyAnEmptyString($type, $directorytypes)){
			// $moduleitem = $directorytypes[$type];
			$leveltitle = $directorytypes[$type];
			$pagetitle = $directorytypes[$type];
		}
		// $isstaff = true; $isowc = true;
	}
	
	$allowedit = false;
	if($acl->checkPermission($resource, 'update')){
		$allowedit = true;
	}
	$allowdelete = false;
	if($acl->checkPermission($resource, 'delete')){
		$allowdelete = true;
	}
	
	$actionlist = 'list';
	
	$session->setVar('custombreadcrumb', $title.' / '.$pagetitle);
	$session->setVar('title', $title);
	$this->headTitle($pagetitle.$browserappend);
?>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $pagetitle; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$listitems.' / '.$contact->getName(); ?>');
		
	<?php if($contact->isPerson()){ ?> 
		enableContainerByClass('person');
		disableContainerByClass('company');
	<?php } ?>
	<?php if($contact->isCompany()){ ?> 
		enableContainerByClass('company');
		disableContainerByClass('person');
	<?php } ?>
});
</script>
<style>
.panel .panel-body p {
	line-height:20px;
	font-size:13px !important;
}
</style>	
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div class="row" id="contentarea">
    <div class="col-md-12">
        <form id="<?php echo $formid; ?>" role="form" class="form-horizontal" method="<?php echo $formmethod; ?>" action="<?php echo $posturl; ?>" <?php echo $multipart; ?>>
            <div class="panel panel-color panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked"><?php echo $contact->getName(); ?></h3>
                    <div class="portlet-widgets lineblocked floatright">
                        <?php if ($allowedit) { ?>	
                            <a class="btn btn-default btn-xs" href="<?php echo $this->baseUrl($controller.'/index/id/'.encode($contact->getID())); ?>"  data-toggle="tooltip" data-placement="top" data-original-title="Update" title="Update"><i class="fa fa-edit"></i> Update</a>
                        <?php } ?>
                        <?php if ($allowdelete) { ?>	    
                        
                        <?php } ?>
                        <?php if ($acl->checkPermission($resource, $actionlist)) { ?>	
                            <a href="<?php echo $listurl; ?>" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="" title="<?php echo $listitems; ?>"> <?php echo $listitems; ?> <i class="fa fa-arrow-right"></i></a>
                        <?php } ?>    
                    </div>
                </div>
                <div class="panel-body">
    				<div class="row">
                    	<div class="col-sm-12">
                            <div class="col-lg-3 col-md-4">
                                <div class="text-center card-box">
                                    <div class="member-card">
                                        <div class="thumb-xl member-thumb m-b-10 center-block">
                                            <?php if($contact->isPerson()){ ?> 
                                                <img src="<?php echo $contact->getMediumPicturePath(); ?>" class="img-circle img-thumbnail" style="width:125px;">
                                            <?php } ?>
                                            <?php if($contact->isCompany()){ ?> 
                                                <img src="/uploads/default/medium_group.jpg" class="ximg-circle img-thumbnail" style="width:125px;">
                                            <?php } ?>
                                            <i class="mdi mdi-star-circle member-star <?php echo $contact->isActive() ? 'text-success' : ''; ?>" title="<?php echo $contact->getStatusLabel(); ?> Profile" data-toggle="tooltip" data-placement="bottom" data-original-title="<?php echo $contact->getStatusLabel(); ?> Profile" ></i>
                                        </div>
                                        <div class="">
                                            <h4 class="m-b-5"><?php echo $contact->getName(); ?></h4>
                                            <p class="text-muted"><?php echo ' ID#: '.$contact->getRefNo(); ?></p>
                                        </div>
                                        <?php if ($allowedit) { ?>	
                                            <a href="<?php echo $indexurl; ?>" class="btn btn-default btn-sm btn-rounded w-sm waves-effect m-t-10 waves-light">Update</a>
                                        <?php } ?>
                                        <p class="text-muted font-12 m-t-20"></p>
                                        <div class="tabs-vertical-env" style="width: auto; margin-left:-20px; margin-right:-20px;">
                                            <ul class="nav tabs-vertical" style="width:auto !important; min-width:0; display:block;">
                                                <li class="<?php echo $section == 'overview' ? 'active' : ''; ?>" style="border-top: 1px solid #eee; display: block;">
                                                    <a href="#v-home" data-toggle="tab" aria-expanded="<?php echo $section == 'overview' ? 'true' : 'false'; ?>">Overview</a>
                                                </li>
                                                
                                                <?php if($contact->isFarmer() || $contact->isSupplier()){ ?> 
                                                    <li class="<?php echo $section == 'account' ? 'active' : ''; ?>" style="border-top: 1px solid #eee; display: block;">
                                                        <a href="#v-account" data-toggle="tab" aria-expanded="<?php echo $section == 'account' ? 'true' : 'false'; ?>">Account</a>
                                                    </li>
                                                <?php } ?>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 col-lg-9">
                                <div class="tab-content p-t-0">
                                    <div class="tab-pane <?php echo $section == 'overview' ? 'active' : ''; ?>" id="v-home">
                                        <h4>Overview</h4>
                                        <div class="row m-t-10">
                                            <div class="col-sm-6">
                                                <div class="text-left">
                                                    <p class="text-muted font-12 col-sm-12 padding0"><strong class="col-sm-4">Name :</strong> <span class="m-l-15"><?php echo $contact->getName(); ?></span></p>
                                                    <p class="text-muted font-12 company col-sm-12 padding0"><strong class="col-sm-4">Description :</strong> <span class="m-l-15"><?php echo $contact->getDescription(); ?></span></p>
                                                    <p class="text-muted font-12 company col-sm-12 padding0"><strong class="col-sm-4 paddingright0">Contact Person :</strong> <span class="m-l-15"><?php echo $contact->getContactPerson(); ?></span></p>
                                                    
                                                    <p class="text-muted font-12 person col-sm-12 padding0"><strong class="col-sm-4">Gender :</strong> <span class="m-l-15 nullifempty"><?php echo $contact->getGenderText(); ?></span></p>
                                                    <p class="text-muted font-12 col-sm-12 padding0"><strong class="col-sm-4">Phone No#:</strong><span class="m-l-15 nullifempty"><?php echo $contact->getPhone(); ?></span></p>
                                                    <p class="text-muted font-12 col-sm-12 padding0"><strong class="col-sm-4">Alt Phone No#:</strong><span class="m-l-15 nullifempty"><?php echo $contact->getPhone2(); ?></span></p>
        
                                                    <p class="text-muted font-12 col-sm-12 padding0"><strong class="col-sm-4">Email :</strong> <span class="m-l-15 nullifempty"><?php echo $contact->getEmail(); ?></span></p>
                                                    <p class="text-muted font-12 col-sm-12 padding0 company"><strong class="col-sm-4">Website :</strong> <span class="m-l-15 nullifempty"><?php echo $contact->getEmail(); ?></span></p>
                                                    
                                                    
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="text-left">
                                                    <p class="text-muted font-12 col-sm-12 padding0"><strong class="col-sm-4">Contact Type :</strong> <span class="m-l-15 nullifempty"><?php echo $contacttype; ?></span></p>
                                                    <p class="text-muted font-12 col-sm-12 padding0"><strong class="col-sm-4">Category :</strong> <span class="m-l-15 nullifempty"><?php echo $categories; ?></span></p>
                                                    
                                                    
                                                    <p class="text-muted font-12 col-sm-12 padding0"><strong class="col-sm-4">Country :</strong> <span class="m-l-15 nullifempty"><?php echo $contact->getCountryName(); ?></span></p>
                                                    <p class="text-muted font-12 col-sm-12 padding0"><strong class="col-sm-4">Town/City :</strong> <span class="m-l-15 nullifempty"><?php echo $contact->getTown(); ?></span></p>
                                                    <div class="divider15"></div>
                                                    <p class="text-muted font-12"><strong class="col-sm-4">Physical Address:</strong> <span class="m-l-15 nullifempty"><?php echo nl2br($contact->getAddress()); ?></span></p>
                                                    <p class="text-muted font-12"><strong class="col-sm-4">Website:</strong> <span class="m-l-15 nullifempty"><?php echo $contact->getWebsite(); ?></span></p>
                                                </div>
                                            </div>
                                        </div> 
                                        
                                    </div>
                                    
                                    <div class="tab-pane <?php echo $section == 'account' ? 'active' : ''; ?>" id="v-account">
                                        <h4>Account</h4>
                                        <div class="row m-t-10">
                                            <div class="col-md-8 col-sm-6">
                                                <div class="text-left">
                                                    <p class="text-muted font-12"><strong class="col-sm-4">Profiling Date:</strong> <span class="m-l-15 nullifempty"><?php echo changeMySQLDateToPageFormat($contact->getRegDate()); ?></span></p>
                                                    <p class="text-muted font-12"><strong class="col-sm-4">Profiled By:</strong> <span class="m-l-15 nullifempty"><?php echo is_numeric($contact->getProfiledByID()) ? getUserNameFromID($contact->getProfiledByID()) : $contact->getProfiledByID(); ?></span></p>
                                                </div>
                                                <div class="divider30"></div>
                                                <div class="text-left">
                                                    <p class="text-muted font-12"><strong class="col-sm-4">Registration Date:</strong> <span class="m-l-15 nullifempty"><?php echo changeMySQLDateToPageFormat($contact->getDateCreated()); ?></span></p>
                                                    <p class="text-muted font-12"><strong class="col-sm-4">Registered By:</strong> <span class="m-l-15 nullifempty"><?php echo $contact->getCreator()->getName(); ?></span></p>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
          	</div>
        </form>
    </div>    
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
<?php if(!isEmptyString($request->pgc)){ ?>
	<?php require APPLICATION_PATH."/views/scripts/index/pgc_bottom.phtml"; ?>
<?php } ?>
