<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$ismail = false; $issms = false;  $isview = false;
	if(($controller == 'messaging' || $controller == 'contactus') && $action == 'index'){
		$ismail = true;
	}
	if($controller == 'sms' && $action == 'index'){
		$issms = true;
	}
	if($controller == 'messaging' && $action == 'view'){
		$isview = true;
	}
	
	$loggedinuser = new UserAccount(); 
	$loggedinuser->populate($userid);
	
	$paginate = new Pagination();	
	$paginate->setView($this);
	# set the search columns to be used on this list
	$paginate->setSearchColumns(array("m.contents","m.subject","us.firstname","us.lastname"));
	$paginate->setFilterColumns(array("mr.isread"));
	$paginate->setDefaultSortBy("m.datecreated");
	$paginate->setDefaultSortOrder("DESC");
	$paginate->setItemCountPerPage("10");
	
	# define the letter to be clicked to ease navigation 
	$where_query = " WHERE mr.recipientid = '".$userid."' ";
	$allowclear = false;
	
	if(!isEmptyString($request->searchterm)){
		$allowclear = true;
	}
	
	$readstatus = $request->getParam('isread');
	if(!isEmptyString($readstatus)){
		$where_query .= " AND mr.isread = '".$readstatus."' ";
	}
	
	$order = trim($request->order);
	$order_query = " ";
	if(isEmptyString($order)){
		$order = 1;
		$request->setParam('order', $order);
	}
	if($order == 1){
		$order_query = " ORDER BY m.datecreated DESC ";
	}
	if($order == 2){
		$order_query = " ORDER BY m.datecreated ASC ";
	}
	
	$sortcolumn = $request->sortby;
	$sortorder = $request->sortorder;
	if(!isEmptyString($sortcolumn) && !isEmptyString($sortorder)){
		$order_query = " ORDER BY " . $sortcolumn. " " .$sortorder. " ";
	}
	
	$paginate->processPost($request->getParams());
	$all_results_query = "SELECT mr.id as id, m.senderid as senderid, mr.recipientid as recipientid, mr.id as messagerecipientid, m.parentid as parentid, concat(us.firstname, ' ', us.lastname) as `Sender`, us.profilephoto as profilephoto, us.gender as gender, concat(ur.firstname, ' ', ur.lastname) as `Recipient`, m.subject as `Subject`, m.subjecttype, m.contents as 'Contents', mr.isread as `Is Read`, m.datecreated as `Message Date`, us.type as sendertype, m.type as mtype, m.subtype, m.sendername, m.senderemail FROM messagerecipient mr left join message m on (mr.messageid = m.id) left join useraccount ur on (mr.recipientid = ur.id) left join useraccount us on (m.senderid = us.id) ".$where_query." ".$paginate->getSearchAndFilterSQL()." ".$paginate->getSortSQL();;
	
	// debugMessage($all_results_query); // exit;
	$paginate->setItemCountFromSQLQuery($all_results_query);
	$current_results_query = $all_results_query." ".$paginate->getSQLLimit();
	
	$conn = Doctrine_Manager::connection(); 
	$result = $conn->fetchAll($current_results_query);
	$has_no_data = (count($result) == 0) ? true : false;
	
	$c = new Doctrine_RawSql();
	$c->select('{m.*}, {mr.*}');
	$c->from('message m INNER JOIN messagerecipient mr ON (m.id = mr.messageid)');
	$c->where("(mr.recipientid = '".$userid."' AND mr.isread = 0) ORDER BY m.datecreated");
	$c->addComponent('m', 'Message m');
	$c->addComponent('mr', 'm.recipients mr');
	$unread_messages = $c->execute()->count();
	$unread_label = ' &nbsp;<span class="xpagedescription notitalics" style="color:red; font-size:13px;">('.$unread_messages.' Unread)</span>';
	
	$title = "Message Center";
	$pagetitle = "Inbox";
	$listurl = $this->baseUrl('messaging/inbox');	
	$listitems = "Messages";
	$resource = 'Messaging';
	
	if($ismail){
		$pagetitle = "Compose Message";
		if(!isLoggedIn()){
			$pagetitle = "Contact Us";
		}
	}
	if($issms){
		$pagetitle = "Send SMS";
	}
	if($isview){
		$pagetitle = "Preview Message";
	}
	
	$subjecttypes = getSubjectTypes();
	# Page title
	$this->headTitle($title.$browserappend);
?>
<link href="/assets/js/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
<script src="/assets/js/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
<script src="/assets/js/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title.$unread_label; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');

	// when page first loads, force all checkboxes not to be checked and no action is mark as dropdown
	$(".isread, #all").attr('checked', false);
	$("#markaction").val('');
	
	// select or unselect all checkboxes on click all
	$("#all").click(function(){		
		if(this.checked == true) {
			$(".messagechecker").trigger('click');
		} else {			
			$(".messagechecker").attr('checked', false);
		} 
	});
	
	// if user clicks any of the check boxes for multiple actions, force markmessagesasread select value to empty string 
	$(".isread, #all").click(function(){
		$("#markaction").val('');
	});
	
	// force all hidden fields for marking and deleting messages to empty string
	$(".empty").val('');
			
	$(".markaction").click(function(){
		currentval = $(this).attr('flag'); // alert(currentval);
		$("#markaction").val(currentval);
		if($("input[name=checkor]:checked").size() == 0){
			bootbox.alert('<label class="blockcontainer">Please select atleast one message to mark');
			// $("#markaction").val('');
			return false;
		} else {
			$(".empty").val('');
			// set the hidden array field for ids to be marked			
			$("input[name=checkor]:checked").each(function(){				
				var msgid = $('input.'+$(this).attr('id')).val();		
				$("#marked_"+msgid).val($(this).val());					
			});	
			// return false;				
			// alert($("#listform").serialize()); 
			// send the message
			$.post(  
				"<?php echo $this->baseUrl("messaging/markasread"); ?>",  
				$("#listform").serialize(),  
				function(data){  
					// alert(data); return false;					
					// add read class to the rows having selected checkboxes
					$("table.mails tr").has("input[name=checkor]:checked").each(function(){										
						if(currentval == '1'){
							$(this).removeClass('unread');
							$(this).addClass('read');
						} 
						if(currentval == '0'){
							$(this).addClass('unread');
							$(this).removeClass('read');
						}							
					});
					// uncheck the checkboxes after marking them as read
					$(".isread, #all").attr('checked', false);
					$("#markaction").val('');
					// reset mark select	
					$('#wait').hide().addClass('hidden');
					
					//alert(unread);
					// $("#messages").html(data);				
										
				}  
			); // close the $.post 	
			$('#wait').show().removeClass('hidden');
		}
	});		
	
	
	// Delete all selected messages	
	$("#deletemessages").click(function(){		
		// force user to select atleat one message
		if($("input[name=checkor]:checked").size() == 0){
			bootbox.alert('<label class="blockcontainer">Please select atleast one message to delete');
			return false;
		} else {
			// force all hidden fields for selected messages to empty string
			$(".empty").val('');
			// set the hidden array field for ids to be deleted		
			$("input[name=checkor]:checked").each(function(){	
				var msgid = $('input.'+$(this).attr('id')).val();		
				$("#selected_"+msgid).val(msgid);				
			});			
			
			// confirm that user wants to delete the message
			bootbox.confirm('<label class="blockcontainer">Are you sure you want to delete this message(s). <br /><br /> Click <b>OK</b> to confirm or <b>Cancel</b> to stay on this page', function(confirmed) {
				if(confirmed){
					// alert($("#inboxform").serialize());
					$.post(  
						"<?php echo $this->baseUrl("messaging/delete"); ?>",  
						$("#listform").serialize(), 
						function(data){
							// alert(data);
							if(data.search("success") != -1){
								// remove message from list item from the DOM
								$("input[name=checkor]:checked").each(function(){	
									var msgid = $('input.'+$(this).attr('id')).val();		
									$("table.mails tr#row_"+msgid).fadeOut('slow', function(){ $(this).remove(); });		
								});		
								// hide loading image 						
								$('#wait').hide().addClass('hidden');
							} else {
								alert('An error occured in removing the comment. Please try again');
							}
						}  
					); // close the $.post 	
					$('#wait').show().removeClass('hidden');
									
					return true;
				} else {
					return false;
				}
			});	
		}	
	});	
	$(".email-name, .gotoindex").click(function(){		
		$("#detailspanel").html('<span class="blocked centeralign" style="margin-top:50px;"><img id="wait" class="centeralign" src="/assets/images/loader.gif" /></span>');
	});	
	
	$("#sendmessage").click(function(e){
		if($("#listform").valid() == true) {	
			e.preventDefault();
			$("#listform").attr('action', '<?php echo $this->baseUrl('messaging/processnotification'); ?>').attr('method', 'post').attr('enctype', 'multipart/form-data');
			$("#listform").submit();
		}
	});	
	
});
</script>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div class="row">
	<div class="col-sm-12">
    	<form class="form-horizontal" action="<?php echo $this->baseUrl($controller."/listsearch"); ?>" method="get" id="listform">
			<div class="mails">
                <div class="table-box">
                    <div class="table-detail paddingleft0">
                    	<div class="row">
                            <div class="col-sm-8">
								<?php if(isLoggedIn()){ ?>
                                    <div class="btn-toolbar m-t-20" role="toolbar">
                                        <div class="btn-group" style="margin-left:15px;">
                                            <button type="button" class="btn btn-sm btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-folder"></i> &nbsp;<b class="caret"></b></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="<?php echo $this->baseUrl('messaging/inbox/isread/0'); ?>">Show Unread</a></li>
                                                <li><a href="<?php echo $this->baseUrl('messaging/inbox/isread/1'); ?>">Show Read</a></li>
                                                <li class="divider"></li>
                                                <li><a href="<?php echo $this->baseUrl('messaging/inbox'); ?>">Show All</a></li>
                                                <li><label class="" style="color: #333; cursor: pointer; display: block; font-weight: normal; padding: 6px 20px;" for="all"><input type="checkbox" name="all" class="all hidden" id="all" /> Select All</label></li>
                                            </ul>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-default waves-effect waves-light  dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                              Actions
                                              <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                              <li><a class="gonowhere markaction" flag="1">Mark As Read</a></li>
                                              <li><a class="gonowhere markaction" flag="0">Mark As Unread</a></li>
                                              <li class="divider"></li>
                                              <li><a class="gonowhere removesorttitle" style="" id="deletemessages" title="Delete message(s)">Delete</a></li>
                                            </ul>
                                            &nbsp;<img id="wait" class="hidden" src="/assets/images/loader.gif" style="position:absolute; right: 38px; top:-18px;" />	
                                        </div>
                                        <div class="btn-group">
											<?php if($acl->checkPermission($resource, 'index')){ ?>	
                                                <a href="<?php echo $this->baseUrl('messaging/index'); ?>" class="btn btn-primary btn-sm btn-rounded gotoindex btn-custom w-lg waves-effect waves-light"><i class="fa fa-envelope"></i> Compose</a> &nbsp;
                    
                                            <?php } ?>
                                        </div>
                                        <div class="btn-group">
                                            <?php if($acl->checkPermission('SMS', 'index')){ ?>	
                                                <a href="<?php echo $this->baseUrl('sms/index'); ?>" class="btn btn-primary btn-sm btn-rounded gotoindex btn-custom w-lg waves-effect waves-light"><i class="glyphicon glyphicon-phone "></i> Send SMS</a>
                    
                                            <?php } ?>
                                        </div>
                                        <div class="input-group" style="width:20px;">
                                        
                                        </div>
                                        <div class="input-group" style="width:240px;">
                                            <input type="text" id="searchterm" name="searchterm" class="form-control input-sm xwidth250" value="<?php echo $request->searchterm; ?>" placeholder="Search Inbox" style="padding:5px;" />
                                            <button type="submit" class="btn btn-default btn-sm hidden" id="filter"><i class="fa fa-filter"></i></button>
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>	
                                        <input type="hidden" name="markaction" id="markaction" value="" />
                                    </div>
                                <?php } ?>
                            </div>
                        </div> <!-- End row -->
                        <div class="table-responsive m-t-10 card-box paddingleft0 paddingright0">
                            <?php if(isLoggedIn()){ ?>
                            <?php if($has_no_data) { ?>
                                <div class="col-sm-6"><div class="alert alert-warning"><?php echo $this->translate("message_list_norecords"); ?></div></div>
                            <?php } ?>
                            <div class="divider5"></div>
                            <div class="col-sm-7 paddingleft0">
                            	<table class="table table-hover mails m-0">
                                	<tbody>
										<?php 
											// debugMessage($result);				  		
                                            foreach($result as $line){
												// debugMessage($line);
                                                $readclass = "read";
                                                if($line['Is Read'] == '0'){
                                                    $readclass = "unread";
                                                }
                                                $message_title = "View message details";
                                                $reply_path = $this->baseUrl("messaging/view/id/".encode($line['id']));
                                                if(!isEmptyString($line['parentid'])){
                                                    $reply_path = $this->baseUrl("messaging/view/id/".encode($line['parentid'])."/readid/".encode($line['id']));
                                                }
                                                $reply_title = "Reply this message";
                                                $sendtype = '';
												
												$tickettxt= '';
												if($line['subjecttype'] == '1'){
													$tickettxt= ' <br><span style="font-size:10px;">Ticket# '.(100000 + $line['id']).'</span>';
												}
                                            ?>
                                            <tr class="<?php echo $readclass; ?> clearfix" id="row_<?php echo $line['id']; ?>" style="font-size:13px; border-bottom:1px dashed #ccc;">
                                                <td class="mail-select" style="width:140px;">
                                                    <div class="checkbox checkbox-primary m-r-10" style="vertical-align:top;">
                                                        <input type="checkbox" name="checkor" class="isread messagechecker" id="message_<?php echo $line['id']; ?>" value="<?php echo $line['messagerecipientid']; ?>" />
                                                        <label for="message_<?php echo $line['id']; ?>"></label>
                                                    </div>
                                                    <?php if($line['senderid'] == 1 && $line['mtype'] != 'notification'){ ?>
                                                        <i class="fa fa-flag centeralign" style="font-size:30px; margin-left:5px;"></i>
                                                    <?php } else { ?>
                                                        <img class="img-responsive imagecontainer inline" src="<?php echo getImagePath($line['senderid'], $line['profilephoto'], $line['gender']); ?>" style="width:40px; display:inline;" />
                                                    <?php } ?>
                                                </td>
                                                <td>
                                                   	<i class="floatright <?php echo $line['Is Read'] ==  '1' ? 'hidden' : 'visible'; ?>" id="" style="font-size:9px; color:#F33;">Unread</i>
                                                    <a href="<?php echo $this->baseUrl('messaging/view/id/'.encode($line['id'])); ?>" class="email-name">
                                                    	<span class="blocked" style="font-size:14px;">
														<?php echo $line['senderid'] == 1 && $line['mtype'] != 'notification' ? '[System Alert]' : '['.$line['Sender'].']'; ?>  
                                                        <?php echo snippet($line['Subject'], 100, '...' ).$tickettxt; ?>
                                                        </span>
                                                    </a>
                                                    <span class="blocked" style="font-size:11px !important;"><a href="<?php echo $this->baseUrl('messaging/view/id/'.encode($line['id'])); ?>" class="email-name"><?php echo snippet($line['Contents'], 60, '...' ); ?></a></span>
                                                </td>
                                                <td style="width: 25px;">
													<?php if(!isEmptyString($line['attachment'])){ ?>
                                                		<i class="fa fa-paperclip"></i>
                                                    <?php } ?>    
                                                </td>
                                                <td class="rightalign"style="width: 120px;"><?php echo formatDateAndTime($line['Message Date'], false); ?>
                                                	<input type="hidden" class="message_<?php echo $line['id']; ?> link_<?php echo $line['id']; ?>" title="<?php echo $line['messagerecipientid']; ?>" value="<?php echo $line['id']; ?>" />
                                                    <input type="hidden" class="empty" name="messagesfordelete[]" id="selected_<?php echo $line['id']; ?>" value="" />
                                                    <input type="hidden" class="empty" name="messagesformarking[]" id="marked_<?php echo $line['id']; ?>" value="" />
                                                    <input type="hidden" name="deletemultiple" id="deletemultiple" value="1" />
                                                    
                                                </td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                </table>
                        	</div>
                            <?php } ?>
                            <div class="<?php echo isLoggedIn() ? 'col-sm-5 ' : 'col-sm-6 col-sm-offset-3'; ?>">
                            	<h3 class="panel-title"><?php echo $pagetitle; ?></h3>
                                <div class="divider10"></div>
                                <div class="table-responsive card-box" style="min-height:500px;">
                                	
                                	<div id="content">
                                    	<label class="noresults <?php echo $ismail || $issms || $isview ? 'hidden' : ''; ?>" style="font-size:24px; opacity:0.5; font-weight:normal; margin-top:120px; text-align:center; width:100%;">Preview Pane</label>
                                        <div id="detailspanel">
                                        <?php if($isview){ 
											$user = new UserAccount();
											$user->populate($userid);
											
											$message = new MessageRecipient();
											$theid = is_numeric($request->id) ? $request->id : decode($request->id);
											$message->populate($theid ); // debugMessage($theid ); //exit;	
											$reply_recepient = $message->getMessage()->getSenderID();
											
											# check if message has not been marked as read/seen
											if(!$message->hasReadMessage() && $userid == $message->getRecipientID()){
												$message->markAsRead(array($message->getID()), 1);
											}
										
										?>
                                        	<div class="row-fluid">
                                            	<div class="blocked clearfix" style="border-bottom:1px dashed #ccc;">
                                                    <div class="col-sm-12">
                                                        <span class="blocked" style="font-size:16px;"><b>Subject:</b> <?php echo $message->getMessage()->getSubject(); ?></span>	
                                                        <div class="divider5"></div>
                                                        <?php if(!isEmptyString($message->getMessage()->getSubjectType())){ ?>
	                                                        <span class="blocked" style="font-size:12px;"><b>Message Type:</b> <?php echo isEmptyString($message->getMessage()->getSubjectType()) ? '' : $subjecttypes[$message->getMessage()->getSubjectType()]; ?></span>	
                                                             <?php if($message->getMessage()->getSubjectType() == '1'){ ?>
                                                             	<span class="blocked" style="font-size:12px;"><b>Ticket No#:</b> <?php echo 100000 + $message->getMessage()->getID(); ?></span>	
                                                             <?php } ?>
                                                        <?php } ?>
                                                        <?php if(!isEmptyString($message->getMessage()->getSenderEmail())){ ?>
                                                            <span class="blocked" style="font-size:12px;"><?php echo $message->getMessage()->getSenderName(); ?></span>	
                                                            <span class="blocked" style="font-size:12px;"><?php echo $message->getMessage()->getSenderEmail(); ?></span>	
                                                        <?php } ?>
                                                        <div class="divider15"></div>
                                                        <div style="font-size:13px !important;"><?php echo nl2br($message->getMessage()->getContents()); ?></div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        
                                                        <span class="blocked" style="font-size:10px;">Sent on <?php echo date('m/d/Y - g:i A', strtotime($message->getMessage()->getDateCreated())); ?>
                                                        </span>
                                                        <span class="blocked" style="font-size:12px;">By <?php echo $message->getMessage()->getSender()->getName(); ?></span>
                                                    </div>
                                                    <div class="divider15"></div>
                                              	</div>
                                                
                                            </div>
                                        <?php } ?>
                                        <?php if($ismail || $issms){ 
											$subject = ''; $message = ''; $subjecttype = '';
											$message = new Message();
	
											$defaultusers = array(); $defaultclients = array();
											if(!isEmptyString($request->userid)){
												$user = new UserAccount();
												$user->populate(decode($request->userid));
												$defaultusers = array($user->getID());
											}
											
											if($ismail){
												$button_title = "Send Message";
												$emailusers = getUsersWithEmail();
												$emailclients = array();
											}
											if($issms){
												$button_title = "Send SMS";
												$phoneusers = getUsersWithPhone();
												$phoneclients = array();
											}
											$subtype = $request->subtype;
											
											if(!$isloggedin){
												$title = "Contact Us";
												$posturl = $this->baseUrl("contactus/processcontactus");
											}
											
											$subject = ''; $message = ''; $sendername=''; $senderemail = '';
											if(!isEmptyString($session->getVar(ERROR_MESSAGE))){ 
												$formvalues = $session->getVar(FORM_VALUES);		
												$subject = isArrayKeyAnEmptyString('subject', $formvalues) ? '' : $formvalues['subject'];
												if(!isArrayKeyAnEmptyString('message', $formvalues)){
													$message = $formvalues['message'];
												}
												if(!isArrayKeyAnEmptyString('contents', $formvalues)){
													$message = $formvalues['contents'];
												}
												$sendername = isArrayKeyAnEmptyString('sendername', $formvalues) ? '' : $formvalues['sendername'];
												$senderemail = isArrayKeyAnEmptyString('senderemail', $formvalues) ? '' : $formvalues['senderemail'];
											}
										?>
                                        	<script>
												$(document).ready(function() {
													$("#listform").validate({		
														// define the validation rules one field at a time
														rules: {
															subject: "required",
															contents: "required",
															userids: "required",
															sendername: "required",
															senderemail: {
																required: true				
															},
															sender: "required",
															code: {
																required: true				
															},
															phone: {
																required: true, 					
																minlength: <?php echo $config->country->phoneminlength; ?>
															},
															multiphone: {
																required: true, 					
																maxlength: 3250
															},
															filename: "required"
														}, 
														// the messages for each of the fields being validated
														messages: {				
															subject: "<?php echo $this->translate("message_subject_error"); ?>",
															contents: "<?php echo $this->translate("message_contents_error"); ?>",
															userids: "Atleast one receipient required",
															sendername: "Please enter Sender Name",
															senderemail: {
																required: "Please enter Sender Email"
															},
															sender: "Please enter Sender ID",
															code: {
																required: "<?php echo $this->translate("profile_captcha_error"); ?>"
															},
															filename: "Please upload a file.",
															phone: {
																required: "Please enter number", 					
																minlength: "<?php echo "Number Should have ".$config->country->phoneminlength." digits."; ?>"
															},
															multiphone: {
																required: "Please enter list of numbers", 					
																maxlength: "<?php echo "Number of recipients exceeded."; ?>"
															}
														},
														// custom error positions
														errorPlacement: function(error, element) {
															switch(element.attr("name")){					
																default:
																	if(element.hasClass("useid_error")){
																		error.appendTo("#"+element.attr("id")+"_error");
																	} else {
																		error.appendTo("#"+element.attr("name")+"_error");
																	}
																	break;
															}			
														},
														ignore: ":hidden:not(select)"
													});
													
													$('#multiphone').on('keyup',function(e) {
														$(this).val().replace(/ /g, "");
													});
													
													<?php if($issms){ ?>
														var characters = 150;
														$("#balance").append(characters);
														$("#contents").keyup(function(){
															if($(this).val().length > characters){
																$(this).val($(this).val().substr(0, characters));
															}
															var remaining = characters -  $(this).val().length;
															$("#balance").html(remaining);
															if(remaining <= 10){
																$("#balance").css("color","red");
															} else {
																$("#balance").css("color","black");
															}
														});
													<?php } ?>
													$("#contents").trigger("keyup");
													
													$('#selectuser').click();
													multipleDisableContainerByID('allusers_list, inline_list, upload_list');
													enableContainerByID('selectuser_list');
													$('#selectuser').click(function(){
														enableContainerByID('selectuser_list');
														multipleDisableContainerByID('allusers_list, inline_list, upload_list');
													});
													$('#selectuser').click();
													
													$('#allusers').click(function(){
														enableContainerByID('allusers_list');
														multipleDisableContainerByID('selectuser_list, inline_list, upload_list');
													});
													$('#upload').click(function(){
														enableContainerByID('upload_list');
														multipleDisableContainerByID('selectuser_list, allusers_list, inline_list');
													});
													$('#inline').click(function(){
														enableContainerByID('inline_list');
														multipleDisableContainerByID('selectuser_list, allusers_list, upload_list');
													});
													
													$("#phonetype_1").click(function(){
														enableContainerByID('phone');
														disableContainerByID('multiphone');
													});
													$("#phonetype_2").click(function(){
														enableContainerByID('multiphone');
														disableContainerByID('phone');
													});
													$("#phonetype_1").trigger('click');
												
													// selectuser_list
													// refresh captcha
													 $('img#refresh').click(function() {  
														change_captcha();
													 });
													 
													 function change_captcha(){
														document.getElementById('captcha').src="<?php echo $this->baseUrl('signup/getcaptcha/rand/'); ?>"+ Math.random()
													 }
													 
													 // refresh captcha
													$('img#refresh').click(function() {  
														change_captcha();
													});
													
													function change_captcha(){
														document.getElementById('captcha').src="<?php echo $this->baseUrl('signup/getcaptcha/rand/'); ?>"+ Math.random()
													}
													
												});
												</script>
                                        	<?php if(isLoggedIn()){ ?>
                                                <input type="hidden" id="senderemail" name="senderemail" value="<?php echo $loggedinuser->getEmail(); ?>" />
                                                <input type="hidden" id="sendername" name="sendername" value="<?php echo $loggedinuser->getName(); ?>" />
                                                
                                                <div class="form-group" style="margin-bottom:0;">
                                                    <label class="col-sm-4 control-label leftalignlabel">Recipient(s): <?php echo $this->translate("required_field_marker"); ?></label>
                                                    <div class="col-sm-8">
                                                        <?php if($ismail && (isAdmin())){ ?>
                                                        	<label class="notbolded inline" for="selectuser"><input type="radio" class="" name="selecttype" id="selectuser" value="2" /> Select User(s)</label>
                                                            <label class="notbolded inline" for="allusers"><input type="radio" class="" name="selecttype" id="allusers" value="4" /> All Users</label>
                                                        <?php } ?>
                                                	</div>
                                               	</div>
                                                <?php if(!isAdmin()){ ?>
                                                	<div class="form-group">
                                                        <div class="col-sm-12"> 
                                                            <div class="tags-default">
                                                                <input type="text" name="usernames" id="usernames" class="form-control input-sm" placeholder="Enter User ID(s). Separate with comma for multiple" value="<?php echo 'admin'; ?>" data-role="tagsinput" />
                                                            </div>
                                                            <?php if(!isLoggedIn() && $ismail ){ ?>
                                                                <p class="pagedescription" style="font-style:normal; color:#999; margin-top:-1px;">Enter <i class="bolded">admin</i> or <i class="bolded">support</i> as ID to contact <?php echo getAppName(); ?></p>
                                                            <?php } ?>
                                                       	</div>
                                                   	</div>
                                                <?php } ?>
                                                <?php if(isAdmin()){ ?>
                                                    <div class="form-group">
                                                        <div class="col-sm-12"> 
                                                           	
                                                            <?php if($issms){ ?> 
                                                                <div class="blocked" style="margin-left:0;">
                                                                    <label class="notbolded inline" for="selectuser"><input type="radio" class="" name="selecttype" id="selectuser" value="2" /> Select User(s) </label> &nbsp;
                                                                    <label class="notbolded inline" for="allusers"><input type="radio" class="" name="selecttype" id="allusers" value="4" /> All Users </label> &nbsp;
                                                                    <label class="notbolded inline" for="inline"><input type="radio" class="radiobutton" name="selecttype" id="inline" value="6" <?php echo $subtype == 6 ? 'checked="checked"' : ''; ?> /> Inline</label> &nbsp;
                                                                    <label class="notbolded inline" for="upload"><input type="radio" class="radiobutton" name="selecttype" id="upload" value="5" <?php echo $subtype == 5 ? 'checked="checked"' : ''; ?>/> Upload</label> &nbsp;
                                                                    
                                                                </div>
                                                            <?php } ?>
                                                            <div class="divider2"></div>
                                                            <div class="blocked" style="margin-left:0;">
                                                                <div id="selectuser_list">
                                                                     <?php if($ismail){ ?>
                                                                            <?php
                                                                                  $listdropdown = new Zend_Form_Element_Multiselect('userids',
                                                                                          array(
                                                                                                  'multiOptions' => $emailusers,
                                                                                                  'view' => new Zend_View(),
                                                                                                  'decorators' => array(array('ViewHelper')),
                                                                                                  'class' => array('chosen-select','multipleselect','col-sm-6'),
                                                                                                  'style' => 'width:100%;'
                                                                                          )
                                                                                  );
                                                                                  
                                                                                  $listdropdown->setValue($defaultusers);
                                                                                  $listdropdown->setAttrib("data-placeholder", "Select Name(s) or User ID(s)");
                                                                                  echo $listdropdown->render();
                                                                              ?>
                                                                      <?php } ?>
                                                                      <?php if($issms){ ?>
                                                                          <?php
                                                                              $listdropdown = new Zend_Form_Element_Multiselect('userids',
                                                                                      array(
                                                                                              'multiOptions' => $phoneusers,
                                                                                              'view' => new Zend_View(),
                                                                                              'decorators' => array(array('ViewHelper')),
                                                                                              'class' => array('chosen-select','multipleselect','col-sm-6'),
                                                                                              'style' => 'width:100%;'
                                                                                      )
                                                                              );
                                                                              
                                                                              $listdropdown->setValue($defaultusers);
                                                                              $listdropdown->setAttrib("data-placeholder", "Select Name(s) or User ID(s)");
                                                                              echo $listdropdown->render();
                                                                          ?>
                                                                    <?php } ?>
                                                                    <div id="userids_error"></div>
                                                                </div>
                                                                <div id="allusers_list" class="xbolded">
                                                                    All users with <?php echo $issms === true ? 'Phone' : 'Email'; ?> (<?php echo $issms == true ? count($phoneusers) : count($emailusers); ?>) will be notified
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <?php } ?>
                                            <?php } else { ?>
                                                <div class="form-group">
                                                    <label class="col-md-12 control-label">Your Name: <?php echo $this->translate("required_field_marker"); ?></label>
                                                    <div class="col-md-12">
                                                        <input type="text" name="sendername" id="sendername" class="form-control" value="<?php echo $sendername; ?>" />
                                                        <div id="sendername_error"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12 control-label">Your Email: <?php echo $this->translate("required_field_marker"); ?></label>
                                                    <div class="col-md-12">
                                                        <input type="text" name="senderemail" id="senderemail" class="form-control isvalidemail" value="<?php echo $senderemail; ?>" />
                                                        <div id="senderemail_error"></div>
                                                    </div>
                                                </div>
                                            <?php } ?>
                                            <?php if($ismail){ ?>
                                                <div class="form-group">
                                                    <label class="col-md-12 control-label leftalignlabel"><?php echo $this->translate("message_subject_label"); ?>: <?php echo $this->translate("required_field_marker"); ?></label>
                                                    <div class="col-md-12">
                                                    	<?php
															$dropdown = new Zend_Form_Element_Select('subjecttype',
																				array(
																					'multiOptions' => array_merge_maintain_keys(array('' => '<Select Type>'), $subjecttypes),
																					'view' => new Zend_View(),
																					'decorators' => array('ViewHelper'),
																					'class' => array('form-control','input-sm','width150', 'inline')
																				)
															);  
															$dropdown->setValue($subjecttype); 
															echo $dropdown->render();
														?>
                                                        <div class="divider2"></div>
                                                        <input type="text" name="subject" id="subject" class="form-control input-sm inline" placeholder="Enter subject" value="<?php echo $subject; ?>" />
                                                        <input type="hidden" name="subject_prefill" id="" value="<?php echo $subject; ?>" />
                                                        <div id="subject_error"></div>
                                                    </div>
                                                </div>
                                            <?php } ?>
                                            <?php if($issms){ ?>
                                                <div class="form-group" id="upload_list">
                                                    <label class="col-md-4 control-label">File: <?php echo $this->translate("required_field_marker"); ?></label>
                                                    <div class="col-md-8">
                                                        <div class="blocked clearfix"><input type="file" name="filename" id="filename" class="filestyle form-control attachmentfile" data-input="false" /></div>
                                                        <div class="divider10"></div>
                                                        <span class="labeldescription">Attach a .txt or .csv comma separated file with format <?php echo getDefaultPhoneCode(); ?>782123456, <?php echo getDefaultPhoneCode(); ?>753123456 or with each number on a new line</span>
                                                        <div id="filename_error"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group" id="inline_list">
                                                    <label class="col-md-4 control-label">Phone: <?php echo $this->translate("required_field_marker"); ?></label>
                                                    <div class="col-md-8">
                                                        <label class="notbolded inline" for="phonetype_1"><input type="radio" class="phonetyperadio" name="phonetype" id="phonetype_1" value="1" checked="checked" /> Single </label>
                                                        <label class="notbolded inline" for="phonetype_2"><input type="radio" class="phonetyperadio" name="phonetype" id="phonetype_2" value="2" /> Multiple</label>
                                                        <div class="divider5"></div>
                                                        <input type="text" name="phone" id="phone" class="form-control width155 input-sm inline" placeholder="e.g 082-123-4567" data-mask="999-999-9999" value="" /> 
                                                        <div class="divider5"></div>
                                                        <textarea class="expanding form-control elastic" name="multiphone" id="multiphone" style="min-height:150px;" placeholder="Enter Comma separated list or each phone on new line. Maximum 250 numbers"></textarea>
                                                        <div id="phone_error"></div><div id="multiphone_error"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">SenderID: <?php echo $this->translate("required_field_marker"); ?></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control width125 input-sm readonly" name="sender" id="sender" maxlength="10" value="<?php echo getSmsSenderName(); ?>" /> 
                                                        <div id="sender_error" class="clearfix blocked"></div>
                                                    </div>
                                                </div>
                                            <?php } ?>
                                            <div class="form-group">
                                                <label class="col-md-12 control-label leftalignlabel"><?php echo $this->translate("message_contents_label"); ?>: <?php echo $this->translate("required_field_marker"); ?></label>
                                                <div class="col-md-12">
                                                    <?php if($ismail){ ?>
                                                        <textarea class="expanding form-control input-sm elastic expanding" name="contents" id="contents" style="min-height:240px;" placeholder="Type message here"><?php echo $message; ?></textarea>
                                                    <?php } ?>
                                                    <?php if($issms){ ?>
                                                        <textarea class="expanding form-control input-sm elastic expanding" name="contents" id="contents" style="min-height:150px; width:300px;" placeholder="Type message here. Maximum 150 Characters"><?php echo $message; ?></textarea>
                                                        <input type="text" style="display:none;" id="spamcheck" name="spamcheck" value="" />
                                                        <span class="blocked">Chars Left: &nbsp;<label id="balance"></label></span>
                                                    <?php } ?>
                                                    <div id="contents_error" class="clearfix blocked"></div>
                                                </div>
                                            </div>
                                            <?php if($ismail){ ?>
                                                <div class="form-group">
                                                    
                                                    <div class="col-md-8">
                                                        <input type="file" name="attachment" id="attachment" class="input-sm width300 filestyle form-control" data-size="sm" />
                                                        <div class="divider10"></div>
                                                        <span class="labeldescription" style="font-size:11px;"><b>Attachment:</b> Attach a file (Max size <?php echo formatBytes($config->uploads->docmaximumfilesize); ?>) [Optional]</span>
                                                        <div id="attachment_error"></div>
                                                    </div>
                                                    <label class="col-md-4 control-label leftalignlabel"></label>
                                                </div>
                                            <?php } ?> 
                                            <?php if(!isLoggedIn()){ ?> 
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">Are you human? <?php echo $this->translate("required_field_marker"); ?>
                                                        <p class="text-muted notbolded" style="font-size:10px; font-weight:normal !important; margin-bottom:0; padding-bottom:0;">Enter captcha code displayed</p>
                                                            
                                                    </label>
                                                    <div class="col-sm-12">
                                                        <div id="wrap">
                                                            <img src="<?php echo $this->baseUrl('signup/getcaptcha'); ?>" id="captcha" style="float:left; text-align:left; height:40px;" />
                                                            <br clear="all" />
                                                            <input class="form-control input-sm width150" name="code" type="text" id="code" placeholder="enter code" maxlength="5" />
                                                            <img src="<?php echo $this->baseUrl('assets/images/refresh.jpg'); ?>" id="refresh" data-toggle="tooltip" data-placement="right" data-original-title="Generate new Code" style="width:25px !important;" />
                                                        </div>
                                                        <div id="code_error"></div>
                                                    </div>
                                                </div>
                                            <?php } ?> 
                                            <div class="divider30"></div>  
                                            <input type="hidden" id="senderid" name="senderid" value="<?php echo $loggedinuser->getID(); ?>" />
                                            <input type="hidden" id="type" name="type" value="<?php echo $ismail == true ? 1 : 2; ?>" />
                                            <input type="hidden" id="successurl" name="successurl" value="<?php echo encode($this->viewurl); ?>" />
                                            <input type="hidden" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" value="<?php echo encode($this->viewurl); ?>" />
                							<button type="submit" class="btn btn-primary savebutton waves-effect waves-light" id="sendmessage"><?php echo $button_title; ?></button> 
                                        <?php } ?>
                                       </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php if(!$has_no_data){ ?> 
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-actions">
                                        <div class="col-sm-3 paddingleft5 floatleft"><?php echo sprintf($this->translate("global_list_counter"), $paginate->getItemCounterText()); ?></div>
                                        <div class="col-sm-6 padding0"><?php echo $paginate->getPaginationLinks(); ?></div>
                                        <div class="col-sm-3 padding0 rightalign"><?php echo $paginate->getListCountDropDown(); ?></div>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>
                        <div class="form-group" style="padding:20px;">
                            <div class="col-md-12 padding0"><?php echo $session->getVar('sentlist'); ?></div>
                        </div>
                    </div>
              	</div>
           	</div>
		</form>                        
    </div>
</div>        
<?php
	$session->setVar('sentlist', '');
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
