<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$title = "Registration Confirmation"; 
	
	$user = new UserAccount();
	$user->populate(decode($request->id));
	
	
	$this->headTitle($title.$browserappend); 
	
?>
<!-- HOME -->
<section>
    <div class="container-alt">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="wrapper-page" style="max-width:inherit !important;">
                    <div class="m-t-0 account-pages">
                        <div class="text-center account-logo-box">
                            <h2 class="text-uppercase centeralign m-t-0 p-t-0 m-b-0 makerelative">
                                <span class="centeralign blocked"><img src="/assets/images/logo.png" style="width:auto; height:50px;"></span>
                            </h2>
                        </div>
                        <div class="account-content">
                            <div class="form-group ">
                                <div class="col-xs-12 centeralign bolded"><?php echo getAppFullName(); ?>
                                    <h3 style="font-size:16px;"><?php echo $title; ?></h3>
                                </div>
                                <div class="divider10"></div>
                                <blockquote class="basic clearfix">
                                    <div class="alert alert-success alert-dismissable">Congratulations! Your acount has been successfully setup.</div> <br /><br />
												
                                    <p>
                                        To activate your account, click on the activation link that has been sent to <b><?php echo $user->getEmail(); ?></b><br /><br />
                                        If you do not find the email in your inbox, please check the spam or junk folder.
                                    </p>
                                </blockquote>
                            </div>
                  		</div>
					</div>
              	</div>
          	</div>
     	</div>
 	</div>
</section>                            
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
