<?php 
	$id = $line['id']; 
	$refno = isArrayKeyAnEmptyString('refno', $line) ? '' : $line['refno'];
	
	$allowview = false; $allowedit = false; $allowdelete = false;
	$allowapprove = false;
	$allowreject = false;
	$allowsubmit =false;
	$allowunsubmit = false;
	$makeforhide = false; $rowclass = '1';
	
	if($acl->checkPermission($resource, $viewacl)){
		$allowview = true;
	}
	if($acl->checkPermission($resource, $updateacl)){
		$allowedit = true;
	}
	if($acl->checkPermission($resource, $deleteacl)){
		$allowdelete = true;
	}
	
	$previewurl =  $this->baseUrl($controller."/view/id/".encode($id).'/pgc/true/returnurl/'.encode($this->viewurl));
	$indexurl = $this->baseUrl($controller."/index/id/".encode($id));
	$deleteurl = $this->baseUrl("index/delete/id/".encode($id)."/entityname/".$entityname."/successurl/".encode($this->viewurl));
	$refno = '<a class="'.$viewclass.'" href="'.$previewurl.'" title="Preview Details" rel="Preview '.$listitem.'">'.$refno.'</a>';
	$name = isArrayKeyAnEmptyString('name', $line) ? '' : $line['name'];
	if(($controller == 'project' && $action == 'list') || 
		($controller == 'activity' && $action == 'list') || 
		($controller == 'indicator' && $action == 'list') || 
		$request->tab == 'indicators' || $request->tab == 'activity'
	){
		$name = $line['title'];
	}
	$lastupdatedate = !isEmptyString($line['lastupdatedate']) ? formatDateAndTime($line['lastupdatedate'], false) : formatDateAndTime($line['datecreated'], false) ;
	
	// activities
	if($controller == 'activity' || $request->tab == 'activity'){
		$previewurl = $this->baseUrl('activity/view/id/'.encode($line['id']).'/pgc/true');
		$refno = '<a href="'.$previewurl.'" class="addpopup" rel="Preview Activity Details">'.$line['refno'].'</a>';
		$indexurl = $this->baseUrl('programme/addcontent/id/'.encode($line['id']).'/pgc/true/type/4/level/4/successurl/'.encode($this->viewurl));
		if($request->tab == 'activity'){ 
			$indexurl = $this->baseUrl('programme/addcontent/id/'.encode($line['id']).'/pgc/true/type/4/projectid/'.$project->getID(
			).'/level/4/successurl/'.encode($this->viewurl));
		}
		if($acl->checkPermission($resource, 'viewown') && $line['createdby'] != getUserID()){
			$makeforhide = true; $rowclass = 'hidden';
		}
		if($allowedit){
			if($acl->checkPermission($resource, 'manageown') && $line['createdby'] != getUserID()){
				$allowedit = false;
			}
		}
		if($allowdelete){
			if($acl->checkPermission($resource, 'manageown') && $line['createdby'] != getUserID()){
				$allowdelete = false;
			}
		}
	}
	// attribute
	if($controller == 'attribute'){
		if($acl->checkPermission($resource, 'viewown') && $line['createdby'] != getUserID()){
			$makeforhide = true; $rowclass = 'hidden';
		}
		if($allowedit){
			if($acl->checkPermission($resource, 'manageown') && $line['createdby'] != getUserID()){
				$allowedit = false;
			}
		}
		if($allowdelete){
			if($acl->checkPermission($resource, 'manageown') && $line['createdby'] != getUserID()){
				$allowdelete = false;
			}
		}
	}
	// attributegroup
	if($controller == 'attributegroup'){
		if($allowedit){
			if($acl->checkPermission($resource, 'manageowngroups') && $line['createdby'] != getUserID()){
				$allowedit = false;
			}
		}
		if($allowdelete){
			if($acl->checkPermission($resource, 'manageowngroups') && $line['createdby'] != getUserID()){
				$allowdelete = false;
			}
		}
		
		$catname_array = array(); $catlist = '';
		if(!isEmptyString($line['elementids'])){
			$cat_array = array_remove_empty(explode(',', str_replace(' ', '', $line['elementids']))); // debugMessage($units_array);
			foreach($cat_array as $catid){
				if(!isArrayKeyAnEmptyString($catid, $allatrributes)){
					$catname_array[] = $allatrributes[$catid];
				}
			}
			$catlist = createHTMLListFromArray($catname_array, 'bulletlist'); 
		}
		
		if($allowedit){
			if($acl->checkPermission($resource, 'manageowngroups') && $line['createdby'] != getUserID()){
				$allowedit = false;
			}
		}
		if($allowdelete){
			if($acl->checkPermission($resource, 'manageowngroups') && $line['createdby'] != getUserID()){
				$allowdelete = false;
			}
		}
	}
	// category
	if($controller == 'category'){
		$optionname_array = array(); $optionlist = '';
		if(!isEmptyString($line['optionids'])){
			$option_array = array_remove_empty(explode(',', str_replace(' ', '', $line['optionids']))); // debugMessage($units_array);
			foreach($option_array as $optionid){
				if(!isArrayKeyAnEmptyString($optionid, $alloptions)){
					$optionname_array[] = $alloptions[$optionid];
				}
			}
			$optionlist = createHTMLListFromArray($optionname_array, 'bulletlist'); 
		}
		
		if($allowedit){
			if($acl->checkPermission($resource, 'manageown') && $line['createdby'] != getUserID()){
				$allowedit = false;
			}
		}
		if($allowdelete){
			if($acl->checkPermission($resource, 'manageown') && $line['createdby'] != getUserID()){
				$allowdelete = false;
			}
		}
	}
	// categorygroup
	if($controller == 'categorygroup'){
		$catname_array = array(); $catlist = '';
		if(!isEmptyString($line['categoryids'])){
			$cat_array = array_remove_empty(explode(',', str_replace(' ', '', $line['categoryids']))); // debugMessage($units_array);
			foreach($cat_array as $catid){
				if(!isArrayKeyAnEmptyString($catid, $allcategories)){
					$catname_array[] = $allcategories[$catid];
				}
			}
			$catlist = createHTMLListFromArray($catname_array, 'bulletlist'); 
		}
		if($allowedit){
			if($acl->checkPermission($resource, 'manageowngroups') && $line['createdby'] != getUserID()){
				$allowedit = false;
			}
		}
		if($allowdelete){
			if($acl->checkPermission($resource, 'manageowngroups') && $line['createdby'] != getUserID()){
				$allowdelete = false;
			}
		}
	}
	// categoryoption
	if($controller == 'categoryoption'){
		$cat_query = "select group_concat(c.name separator ',<br>') as categories from data_category c where FIND_IN_SET('".$line['id']."', c.optionids) > 0 ";
		$categorylist = $conn->fetchOne($cat_query);
		
		if($allowedit){
			if($acl->checkPermission($resource, 'manageownoptions') && $line['createdby'] != getUserID()){
				$allowedit = false;
			}
		}
		if($allowdelete){
			if($acl->checkPermission($resource, 'manageownoptions') && $line['createdby'] != getUserID()){
				$allowdelete = false;
			}
		}
	}
	
	// data entry
	if($controller == 'dataentry' || ($request->tab == 'data' && $request->widget == 'submissions')){
		$previewurl = $this->baseUrl("dataentry/view/id/".encode($id));
		$indexurl =  $this->baseUrl("dataentry/index/id/".encode($id));
		if($request->widget == 'submissions'){
			$previewurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$request->tab.'/widget/submissions/section/viewresult/did/'.encode($id));
			$indexurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$request->tab.'/did/'.encode($id));
		}
		if($controller == 'dataentry' && $action == 'list' && (isEmptyString($request->tab) || $request->tab == 'overview')){
			$previewurl = $this->baseUrl("dataentry/list/section/details/did/".encode($id));
			$indexurl = $this->baseUrl("dataentry/list/tab/addresult/did/".encode($id));
		}
		
		$refno = '<a href="'.$previewurl.'">'.$line['refno'].'</a>';
		
		$periodlabel = '';
		if(!isEmptyString($line['period'])){
			$period_array = array_remove_empty(explode(',', trim($line['period'])));
			// debugMessage($period_array);
			if(count($period_array) > 0){
				if(!isArrayKeyAnEmptyString(0, $period_array) && !isArrayKeyAnEmptyString(1, $period_array)){
					$start = strlen($period_array[0]) == 7 ? date("M Y", strtotime($period_array[0])) : changeMySQLDateToPageFormat($period_array[0]);
					$end = strlen($period_array[1]) == 7 ? date("M Y", strtotime($period_array[1])) : changeMySQLDateToPageFormat($period_array[1]);
					
					$periodlabel = $start.' - '.$end;
				} else {
					$start = strlen($period_array[0]) == 7 ? date("F Y", strtotime($period_array[0])) : changeMySQLDateToPageFormat($period_array[0]);
					$periodlabel = $start;
				}
			}
		}
		
		// permissions
		$result = new DatasetResult();
		$result->populate($line['id']);
		if(!isEmptyString($line['groupattr']) && !isEmptyString($line['groupattr_val'])){
			$name .= ' - '.getCurrentValueFromArray($line['groupattr_val'], $result->getDataset()->getGroupAttribute()->getConfigOptionList());
		}
		
		if($acl->checkPermission($resource, 'viewown') && $line['createdby'] != getUserID()){
			$makeforhide = true; $rowclass = 'hidden';
		}
		$allowedit = $result->canEdit($loggedinuser->getID());
		$allowdelete = $result->canDelete($loggedinuser->getID());
		$allowapprove = $result->canApprove($loggedinuser->getID());
		$allowreject = $result->canApprove($loggedinuser->getID());
		$allowsubmit = $result->canSubmit($loggedinuser->getID());
		$allowunsubmit = $result->canUnsubmit($loggedinuser->getID());
		
		$statuslabel = isArrayKeyAnEmptyString($line['status'], $resultstatuses) ? '' : $resultstatuses[$line['status']];
		if($line['hasworkflow'] == '0'){
			$statuslabel = str_replace('Approved', 'Completed', $statuslabel);
		}
	}
	// dataset
	if($controller == 'dataset' || ($request->tab == 'data' && $request->widget == 'dataset')){
		$previewurl =  $this->baseUrl("dataset/view/id/".encode($id));
		if($request->tab == 'data'){
			$previewurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$tab.'/section/viewdataset/widget/dataset/did/'.$line['id'].'/successurl/'.encode($this->viewurl));
			$indexurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$tab.'/section/adddataset/widget/dataset/did/'.$line['id'].'/successurl/'.encode($this->viewurl));
		}
		$refno = '<a href="'.$previewurl.'">'.$line['refno'].'</a>	';
		
		if($acl->checkPermission($resource, 'viewown') && $line['createdby'] != getUserID()){
			$makeforhide = true; $rowclass = 'hidden';
		}
		if($allowedit){
			if($acl->checkPermission($resource, 'manageown') && $line['createdby'] != getUserID()){
				$allowedit = false;
			}
		}
		if($allowdelete){
			if($acl->checkPermission($resource, 'manageown') && $line['createdby'] != getUserID()){
				$allowdelete = false;
			}
		}
	}
	// directory
	if($controller == 'directory'){
		$isperson = $line['contacttype'] == '1' ? true : false;
		$isorg = $line['contacttype'] == '2' ? true : false;	
		
		$name = $line['name'];
		$firstname = $line['firstname'];
		$lastname = $line['lastname'];
		if($line['contacttype'] == 2){
			$name = $line['orgname'];
		}
		
		$previewurl =  $this->baseUrl($controller."/view/id/".encode($id));
		$refno = '<a href="'.$previewurl.'">'.(isEmptyString($line['refno']) ? ($line['id']+1000) : $line['refno']).'</a>	';
		
		$contacttype = $isorg ? 'Organization' : 'Person';
		$categorylist = array(); $categoryarray = array_remove_empty(explode(',', $line['category']));
		foreach($categoryarray as $catid){
			if(!isArrayKeyAnEmptyString($catid, $directorytypes)){
				$categorylist[] = $directorytypes[$catid];
			}
		}
		$categories = implode(',<br>', $categorylist); 
		
		$phones = $line['phone'];
		if(!isEmptyString($line['phone2'])){
			$phones .= ',<br>'.$line['phone2'];
		}
		$emails = $line['email'];
		if(!isEmptyString($line['email2'])){
			$emails .= ',<br>'.$line['email2'];
		}
	}
	// indicators
	if($controller == 'indicator' || $request->tab == 'indicators'){
		$previewurl =  $this->baseUrl($controller."/view/id/".encode($id));
		if($request->tab == 'indicators'){
			$previewurl = $viewurl.'/widget/details/vid/'.$line['id'];
			$indexurl = $viewurl.'/widget/add/vid/'.$line['id'];
		}
		
		$refno = '<a href="'.$previewurl.'">'.$line['refno'].'</a>';
		if($type == 4){
			$refno = '<a href="'.$previewurl.'">'.$line['projectno'].'-'.$line['refno'].'</a>';
		}
		if($acl->checkPermission($resource, 'viewown') && $line['createdby'] != getUserID()){
			$makeforhide = true; $rowclass = 'hidden';
		}
		if($allowedit){
			if($acl->checkPermission($resource, 'manageown') && $line['createdby'] != getUserID()){
				$allowedit = false;
			}
		}
		if($allowdelete){
			if($acl->checkPermission($resource, 'manageown') && $line['createdby'] != getUserID()){
				$allowdelete = false;
			}
		}
		
		switch($line['level']){
			case 1:
				$level = 'Objective Indicator';
				break;
			case 2:
				$level = 'Outcome Indicator';
				break;
			case 3:
				$level = 'Output Indicator';
				break;
			default:
				$level = '';
				break;
		}
	}
	// indicatorgroup
	if($controller == 'indicatorgroup'){
		$catname_array = array(); $catlist = '';
		if(!isEmptyString($line['indicatorids'])){
			$cat_array = array_remove_empty(explode(',', str_replace(' ', '', $line['indicatorids']))); // debugMessage($units_array);
			foreach($cat_array as $catid){
				if(!isArrayKeyAnEmptyString($catid, $allindicators)){
					$catname_array[] = $allindicators[$catid];
				}
			}
			$catlist = createHTMLListFromArray($catname_array, 'bulletlist'); 
		}
		
		if($allowedit){
			if($acl->checkPermission($resource, 'manageowngroups') && $line['createdby'] != getUserID()){
				$allowedit = false;
			}
		}
		if($allowdelete){
			if($acl->checkPermission($resource, 'manageowngroups') && $line['createdby'] != getUserID()){
				$allowdelete = false;
			}
		}
	}
	// issuetracking
	if($controller == 'issuetracking'){
		$previewurl = '';
		$refno = $line['refno'];
		$indexurl = $this->baseUrl('issuetracking/index/id/'.encode($line['id']).'/pgc/true/successurl/'.encode($this->viewurl));
	}
	
	// milestone
	if($controller == 'milestone'){
		$previewurl = '';
		$refno = $line['refno'];
		$indexurl = $this->baseUrl('milestone/index/id/'.encode($line['id']).'/pgc/true/successurl/'.encode($this->viewurl));
	}
	
	// profile
	if($controller == 'profile'){
		$name = $line['firstname'].' '.$line['lastname'];
		$previewurl =  $this->baseUrl($controller."/view/id/".encode($id));
		$refno = '<a href="'.$previewurl.'">'.(isEmptyString($line['refno']) ? ($line['id']+1000) : $line['refno']).'</a>	';
		
		
		$firstname = $line['firstname'];
		$lastname = $line['lastname'];
		$username = $line['username'];
		$email = $line['email'];
		$phone = $line['phone'];
		$addedby = isArrayKeyAnEmptyString($line['createdby'], $users) ? '' : $users[$line['createdby']];
		$gender = $line['gender'] == 1 ? 'Male' : 'Female';
		
		// $groups = $line['groups'];
		$grouparray = array();
		if(!isEmptyString($line['typeids'])){
			$grps = explode(',', $line['typeids']);
			if(count($grps) > 0){
				foreach ($grps as $groupid){
					$grouparray[] = isArrayKeyAnEmptyString($groupid, $allroles) ? '' : $allroles[$groupid];
				}
			}
		}
		$groups =  implode(', ', $grouparray);
		
		$statuslabel = isArrayKeyAnEmptyString($line['status'], $userstatuses) ? '' : $userstatuses[$line['status']];
		
		$activationdate = changeMySQLDateToPageFormat($line['activationdate']);
		$dateadded = changeMySQLDateToPageFormat($line['datecreated']);
		
		$idrow = $refid;
		if($acl->checkPermission('User', 'view')) { 
			$idrow = '<a href="'.$viewurl.'">'.$refid.'</a>';
		}
	}
	
	// project
	if($controller == 'project' && $action == 'list'){
		$previewurl =  $this->baseUrl($controller."/view/id/".encode($id));
		$refno = '<a href="'.$previewurl.'">'.$line['projectno'].'</a>	';
		
		if($acl->checkPermission($resource, 'viewown') && $line['createdby'] != getUserID()){
			$makeforhide = true; $rowclass = 'hidden';
		}
		if($allowedit){
			if($acl->checkPermission($resource, 'manageown') && $line['createdby'] != getUserID()){
				$allowedit = false;
			}
		}
		if($allowdelete){
			if($acl->checkPermission($resource, 'manageown') && $line['createdby'] != getUserID()){
				$allowdelete = false;
			}
		}
		
		$statuslabel = isArrayKeyAnEmptyString($line['status'], $projectstatus) ? '' : $projectstatus[$line['status']];
		
		// List of PUs
		$progunits = ''; $progunits_array = array(); 
		if(!isEmptyString($line['program_units'])){
			$units_array = array_remove_empty(explode(',', str_replace(' ', '', $line['program_units']))); // debugMessage($units_array);
			foreach($units_array as $unitid){
				if(!isArrayKeyAnEmptyString($unitid, $program_units)){
					$progunits_array[] = $program_units[$unitid];
				}
			}
			$progunits = createHTMLCommaListFromArray($progunits_array, ', '); 
		}
		
		// List of Programs
		$programlist = ''; $proglist_array = array(); 
		if(!isEmptyString($line['programid'])){
			$program_array = array_remove_empty(explode(',', str_replace(' ', '', $line['programid']))); // debugMessage($units_array);
			foreach($program_array as $pid){
				if(!isArrayKeyAnEmptyString($pid, $programs)){
					$proglist_array[] = $programs[$pid];
				}
			}
			$programlist = createHTMLCommaListFromArray($proglist_array, ', '); 
		}
	}
	
?>																	