<?php 
	$title = "Datasets";
	$resource = 'Dataset';
	$entityname = "Dataset";
	$listitems = "Datasets";
	$listitem = "Dataset";
	$listitemsection = "Attributes";
	$listitemsection2 = "Indicators";
	
	$listitemsurl = $this->baseUrl('attribute/list');
	$addoptionurl = $this->baseUrl('attribute/index/pgc/true');
	$dataoptionurl = $this->baseUrl('index/selectchaincustom/select_chain_type/data_attributes/idlist/'.$entity->getelementids()); // debugMessage($dataoptionurl);
	// $alloptions = getDataAttributes(true, $entity->getelementids()); // get options while ignoring some already picked
	$selecttype = 'data_attributes';
	$additem = 'Attribute'; $addresource = 'Attribute'; $addacl = 'index';
	
	$selectedoptions = getDataAttributes(false, $entity->getelementids()); // debugMessage($selectedoptions);
	$selectedoptions = sortArrayByArray($selectedoptions, explode(',', $entity->getelementids())); // debugMessage($selectedoptions);
	
	$listitemsurl2 = $this->baseUrl('indicator/list');
	$addoptionurl2 = $this->baseUrl('indicator/index/pgc/true');
	$dataoptionurl2 = $this->baseUrl('index/selectchaincustom/select_chain_type/data_indicators/idlist/'.$entity->getindicatorids());
	// $alloptions2 = getDataIndicators(true, $entity->getindicatorids()); 
	$selectedoptions2 = getDataIndicators(false, $entity->getindicatorids());
	$selectedoptions2 = sortArrayByArray($selectedoptions2, explode(',', $entity->getindicatorids()));
	$selecttype2 = 'data_indicators';
	$additem2 = 'Indicator';  $addresource2 = 'Indicator'; $addacl2 = 'index';
	
	$successurl = $this->baseUrl($controller.'/view/tab/attributes');
	$successclass = '';
	if($isexternal){
		$successurl = $this->baseUrl('dataset/projectsavesuccess/successurl/'.encode($this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$request->tab.'/widget/dataset/section/viewdataset/tabv/attributes')));
	}
?>
<!--<h3 class="panel-title section">Assign/De-assign</h3>-->
<div class="alert alert-danger hidden" id="errormessage"></div>
<div class="alert alert-success hidden" id="successmessage"></div>
<input name="entityname" id="entityname" type="hidden" value="Dataset" />
<input type="hidden" id="id" name="id" value="<?php echo encode($entity->getID()); ?>" />
<input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" /> 
<input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($successurl); ?>" /> 
<input type="hidden" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" value="<?php echo encode($failureurl); ?>" />
<input type="hidden" id="nosuccessid" name="nosuccessid" value="1" /> 
<input type="hidden" id="formcontroller" name="formcontroller" value="<?php echo $controller; ?>" />
<input type="hidden" id="ispopup" name="ispopup" value="<?php echo $ispopup ? 1 : ''; ?>" /> 
<?php if($isexternal){ ?>
    <input type="hidden" id="projectid" name="projectid" value="<?php echo $project->getID(); ?>" />
<?php } ?>
<?php ob_start(); ?>
	<a class="btn btn-default btn-sm cancel" type="button"><?php echo $this->translate('global_button_cancel'); ?></a>
	<?php if(!isEmptyString($entity->getID()) && ($controller == 'dataset' || $isextdataset)){ ?>
		<button class="btn btn-primary btn-sm btn-green savebutton changesuccessurl nosuccess" id="saveadd" successurl="<?php echo encode($this->viewurl); ?>" type="submit">Save & Continue</button>
	<?php } ?>
	<button type="submit" class="btn btn-primary btn-sm savebutton <?php echo $successclass; ?> waves-effect waves-light" id="saveclose" successurl="<?php echo encode($successurl); ?>">Save & Exit</button> 
	
<?php $actionshtml = ob_get_clean(); ?>
<div class="panel-heading">
    <h3 class="panel-title lineblocked text-dark">Assign Attributes & Indicators</h3>
    <div class="portlet-widgets lineblocked floatright"><?php echo $actionshtml; ?></div>
</div>
<div class="divider10"></div>
<?php if($controller == 'dataset' || $isexternal){ ?>
    <?php require_once APPLICATION_PATH.'/views/scripts/template/attrselect.phtml'; ?>
<?php } ?>
<?php if($controller == 'dataset' || $isexternal){ ?>
    <?php // require_once APPLICATION_PATH.'/views/scripts/template/indicatorselect.phtml'; ?>
<?php } ?>
<div class="row">
    <div class="col-md-12">
        <div class="card-box p-t-10 p-b-10">
            <div class="form-group m-b-0">
                <div class="col-sm-12 rightalign"><?php echo $actionshtml; ?></div>
            </div>
        </div>
    </div>
</div>
<style>
.ms-container {
	width:100% !important;
	display:inline;
}
.modal-dialog {
	width: 75%;
}
select.form-control:not(.normalwidth) {
	width:100%;
}
.chosen-container .chosen-drop {
	min-height:250px;
	position:absolute;
	z-index:100000;
}
</style>