<?php 
	$attr_styles = '';
	if($tabv == 'dataentry' || $isview == true){
		$attr_styles = 'position:relative; overflow:scroll; height:auto; max-height:1000px; width:100%;';
	} else {
		$attr_styles = 'overflow:scroll; max-height:350px; min-width:750px; max-width:1000px; width:auto !important;';
	}
	if($ispdf){
		$attr_styles = 'height:100%; width:100%;';
	}
	
?>
<div style=" <?php echo $attr_styles; ?>">
	<?php
		$cattype = $sector->getCategoryType();
		$catcategory = $sector->getCategory();
		$catgroup = $sector->getCategoryGroup();
		$isbatchentry = $cattype  == '3' ? true : false;
		
		$columns = $sector->getColumns();
		$disabledlist = array_remove_empty(explode(',', $sector->getGreyElements()));
        $attributes = array_remove_empty(explode(',', str_replace(' ', '', trim($sector->getelementids())))); // debugMessage($attributes);	
		
		if($tabv == 'dataentry' || $isview == true){
			if($entity->getFormType() == 1){
				$cattype = $attribute->getCategoryType();
				$catcategory = $attribute->getCategory();
				$catgroup = $attribute->getCategoryGroup();
			}
		}
        if($cattype == '0' || isEmptyString($cattype) || ($cattype == '1' && isEmptyString($catcategory))){
            
        } else { 
			// debugMessage('type is '.$cattype);
            $cats = $catcategory; 
            if($cattype == 2){
                $catgrp = new CategoryGroup();
                $catgrp->populate($catgroup);
                $cats = $catgrp->getcategoryids();
            }
            $categorydata = explode(',', $cats); // debugMessage($categorydata);
            $row1 = isArrayKeyAnEmptyString(0, $categorydata) ? '' : $categorydata[0];
            $category1 = new Category(); 
            $category1->populate($row1); 
            $cat1options = $category1->getoptionids();
            $cat1options_array = array_remove_empty(explode(',', $cat1options)); // debugMessage($cat1options_array);
            $colspanrow1 = '';
                        
            $row2 = isArrayKeyAnEmptyString(1, $categorydata) ? '' : $categorydata[1]; 
            $category2 = new Category(); 
            $category2->populate($row2); 
            $cat2options = $category2->getoptionids();
            $cat2options_array = array_remove_empty(explode(',', $cat2options));
            $colspanrow1 = count($cat2options_array) == 0 ? '' : count($cat2options_array);
            
            $row3 = isArrayKeyAnEmptyString(2, $categorydata) ? '' : $categorydata[2];
            $category3 = new Category(); 
            $category3->populate($row3); 
            $cat3options = $category3->getoptionids();
            $cat3options_array = array_remove_empty(explode(',', $cat3options));
            $colspanrow2 = count($cat3options_array) == 0 ? '' : count($cat3options_array);
            if(!isEmptyString($colspanrow2)){
                $colspanrow1 = count($cat2options_array) * count($cat3options_array);
            }
        }
    ?>
    <?php if(!$isbatchentry){ ?>
        <table id="viewtable_<?php echo $sector->getID(); ?>" class="table xtable-colored xtable-primary table-bordered table-hover xtable-striped table-condensed" <?php echo $request->pdf == '1' ? '' : 'style="width:auto;"'; ?>>
            <thead>
                <?php if($columns == 2){ ?>
                    <tr>
                        <th style=" <?php echo $ispdf ? '' : 'width:auto;'; ?>"><?php // echo $tabv != 'dataentry' || !$isview ? 'Attribute' : ''; ?></th>
                        
                        <?php if(isEmptyString($cattype) || $cattype == '0' || ($cattype == '1' && isEmptyString($catcategory))){ ?>
                            <th class="<?php echo $request->pdf == '1' ? '' : 'nowrapping'; ?>" <?php echo ($request->pdf == '1' || $isprint) ? 'style="width:60%;"' : 'style="width:auto !important; min-width:150px;"'; ?>></th>
                        <?php } else { ?>
                            <?php if(count($cat1options_array) > 0){ ?>
                                <?php
                                    foreach($cat1options_array as $opt1id){ 
                                        $option1 = new CategoryOption(); 
                                        $option1->populate($opt1id); 
                                ?>
                                    <th class="centeralign nowrapping" id="opt_<?php echo $option1->getID(); ?>" colspan="<?php echo $colspanrow1; ?>" <?php echo $request->pdf == '1' ?  '' : 'style="width:auto; min-width:100px;"'; ?>><?php echo formatLabel($option1->getName()); ?></th>
                                <?php } ?>
                            <?php } ?>
                        <?php } ?>
                        <?php if($sector->getshowcolumntotal() == 1 && $sector->getCategoryType() != '0'){ ?>
                            <th class="centeralign nowrapping bolded" style="min-width:100px;">Total</th>
                        <?php } ?>
                    </tr>
                    <?php if($cattype == '2' && count($categorydata) > 1){ ?>
                        <?php if(!isEmptyString($row2)){ ?>
                            <tr>
                                <th></th>
                                <?php
                                    foreach($cat1options_array as $opt1id){ 
                                ?>
                                    <?php
                                        foreach($cat2options_array as $opt2id){ 
                                            $option2 = new CategoryOption(); 
                                            $option2->populate($opt2id); 
                                    ?>
                                         <th class="centeralign nowrapping" colspan="<?php echo $colspanrow2; ?>" <?php echo $request->pdf == '1' ?  '' : 'style="width:auto; min-width:100px;"'; ?>><?php echo formatLabel($option2->getName()); ?></th>
                                    <?php } ?>    
                                <?php } ?>
                                <?php if($sector->getshowcolumntotal() == 1 && $sector->getCategoryType() != '0'){ ?>
                                    <th class="centeralign nowrapping"></th>
                                <?php } ?>
                            </tr>
                        <?php } ?>
                        <?php if(!isEmptyString($row3)){ ?>
                            <tr>
                                <th></th>
                                <?php
                                    foreach($cat1options_array as $opt1id){ 
                                ?>
                                    <?php
                                        foreach($cat2options_array as $opt2id){ 
                                    ?>
                                        <?php
                                            foreach($cat3options_array as $opt3id){ 
                                                $option3 = new CategoryOption(); 
                                                $option3->populate($opt3id); 
                                        ?>
                                             <th class="centeralign nowrapping" style="min-width:100px !important; width:auto !important;"><?php echo formatLabel($option3->getName()); ?></th>
                                        <?php } ?>
                                    <?php } ?>    
                                <?php } ?>
                                <?php if($sector->getshowcolumntotal() == 1 && $sector->getCategoryType() != '0'){ ?>
                                    <th class="centeralign nowrapping"></th>
                                <?php } ?>
                            </tr>
                        <?php } ?>
                    <?php } ?>
                <?php } ?>
            </thead>
            <tbody style="font-size:13px !important;">
                <?php if(count($attributes) == 0){ ?>
                    <tr><td><i class="pagedescription">No attributes currently configured.</i></td></tr>
                <?php } ?>
                <?php 
                    foreach($attributes as $attrid) {
                        $attribute = new Attribute();
                        $attribute->populate($attrid);
                    
                        $fieldid = 'attr_'.my_simple_crypt($attribute->getID());
                		
                        $showfieldname = true;
                        if($attribute->getValueType() == C_Y){
                            $showfieldname = false;	
                        }
                        
                        $attr_name = 'attribute['.$attrid.'][value]'; 
                        $attr_id = 'attribute_'.$attrid.'_value';
                        $attr_value = '';
						if($tabv == 'dataentry' || $isview == true){
							if($entity->hasGroupAttr() && $attribute->getID() == $entity->getGroupAttr()){
								$attr_value = $result->getGroupAttr_val();
							}
							if(!isEmptyString($entity->getProjectID()) && $attribute->getsystemattr() == 1){
								$attr_value = $entity->getProjectID();
							}
							if(!isEmptyString($entity->getActivityID()) && $attribute->getsystemattr() == 2){
								$attr_value = $entity->getActivityID();
							}
							if($attribute->getvaluetype() == C_D || $attribute->getvaluetype() == C_DT){
								$attr_value = changeMySQLDateToPageFormat(date('Y-m-d'));
							}
							if($attribute->getvaluetype() == C_DT){
								$attr_value = DEFAULT_DATETIME;
							}
							if($attribute->getsystemattr() == 10){
								$attr_value = getUserID();
							}
						}
						// debugMessage('>> '.$attr_value); 
						
                        $attr_custom = '';
                        $attr_class = array('attribute_'.$attrid, 'useid_error');
                        if($tabv == 'dataentry' || $isview == true){
                            if($entity->getallmandatory() == 1){
                                if($attribute->getValueType() == C_LS || $attribute->getValueType() == C_LM){
                                    $attr_class[] = 'selectrequired';
                                } else {
                                    $attr_class[] = 'inputrequired';
                                }
                            }
                        }
                        
                        $attr_type = 'attribute['.$attrid.'][type]';
                        $type_value = $attribute->getValueType();
                        $attr_name_old = 'attribute['.$attrid.'][value_old]';
                        $attr_id_old = 'attribute_'.$attrid.'_value_old';
                        
                        $display_class = array('leftalign', 'blocked');
                        if(in_array($attribute->getValueType(), unserialize(NUMBER_TYPES))){
                            $attr_class[] = 'useid_error';
                            foreach (array_keys($display_class, 'leftalign', true) as $key) {
                                unset($display_class[$key]);
                            }
                            $display_class[] = 'centeralign';
                        }
                        
                        if($cattype == '0' || isEmptyString($cattype) || ($cattype == '1' && isEmptyString($catcategory))){
                            $attr_class[] = 'sector_'.$sector->getID();
                        }
                        
                        // attribute comments
                        $hastooltip = false; $tooltip_html = '';
                        if($attribute->gethastipcomment() == 1){
                            if(!isEmptyString($attribute->gettooltip())){
                                $tooltip_html = ' tipbody="'.$attribute->gettooltip().'"';
                                $hastooltip = true;
                                $attr_class[] = 'hastooltip';
                                if(in_array($attribute->getValueType(), array(C_D,C_DT))){
                                    $attr_class[] = 'datetip';
                                }
                                if(in_array($attribute->getValueType(), array(C_TM))){
                                    $attr_class[] = 'tipmargin';
                                    $attr_custom = ' tipmargin="45"';
                                }
                                if(in_array($attribute->getValueType(), array(C_DT))){
                                    $attr_class[] = 'disabledtip';
                                }
                            }
                        }
                        
                        if($attribute->getValueType() == C_C){
                            $attr_name = '';
                            $attr_name_lat = 'attribute['.$attrid.'][value_lat]';
                            $attr_name_lng = 'attribute['.$attrid.'][value_lng]';
                        }
                        if($attribute->getValueType() == C_DT){
                            $attr_name = '';
                            $attr_name_date = 'attribute['.$attrid.'][value_date]';
                            $attr_name_time = 'attribute['.$attrid.'][value_time]';
                        }
                        
                        // select attributes where applicable 
                        $optionlist = array();
                        if($attribute->getValueType() == C_LS || $attribute->getValueType() == C_LM){
							$optionlist = $attribute->getConfigOptionList();
							if(!isEmptyString($attribute->getsystemattr())){
								 $attr_class[] = 'maxwidth';
								 $attr_class[] = 'chosen-select';
								 
							} else {
								if($attribute->getValueType() == C_LS){
									$attr_class[] = 'width250';
								}
								if($attribute->getValueType() == C_SM){
									$attr_class[] = 'chosen-select';
								}
							}
                        }
                        
						if($entity->hasGroupAttr() && $attribute->getID() == $entity->getGroupAttr()){
							$attr_class[] = 'disabledfield';
							// debugMessage($attr_class);
						}
						
                        // fetch existing records
                        if($tabv == 'dataentry' || $isview){
                            $records = array();
                            if(!isEmptyString($result->getID())){
                                $query = "select d.* from data_set_result_detail d inner join data_set_result_summary s on d.resultid = s.id where d.resultid = '".$result->getID()."' AND d.datasetid = '".$result->getDatasetID()."' AND d.elementid = '".$attribute->getID()."' ";
                                $records = $conn->fetchAll($query); 
                                $attr_value_html = '-';
                                if(count($records) > 0){
                                    foreach($records as $key => $resultitem){
                                        if(isEmptyString($resultitem['optionids'])){
                                            $attr_value = $resultitem['result'];
                                        }
                                    }
									
                                    // debugMessage($query.' >> '.$attr_value);
                                    $attr_value_html = $attr_value;
                                    if(!isEmptyString($attr_value)){
										if($attribute->getValueType() == C_N){ // number field
                                            $attr_value_html = ($attr_value);
                                        }
                                        if($attribute->getValueType() == C_P){ // percent field
                                            $attr_value_html = formatNum($attr_value);
                                        }
                                        if($attribute->getValueType() == C_C){ //  gps coordinates
                                            $attr_value_html = ''; $attr_value_lat = ''; $attr_value_lng = '';
                                            $listarray = explode(',', $attr_value);
                                            if(!isArrayKeyAnEmptyString('0', $listarray)){
                                                $attr_value_html .= 'Lat='.$listarray[0]; 
                                                $attr_value_lat = $listarray[0]; 
                                            }
                                            if(!isArrayKeyAnEmptyString('1', $listarray)){
                                                $attr_value_html .= ', Lng='.$listarray[1];
                                                $attr_value_lng = $listarray[1]; 
                                            }
                                            if(!isEmptyString($attr_value)){
                                                $attr_value_html .= ' <div class="divider5"></div><a class="gonowhere loadmap btn btn-default btn-xs" url="'.$this->baseUrl('location/view/cords/'.$attr_value).'"><i class="fa fa-globe"></i> Location map</a>';
                                            }
                                        }
                                        if($attribute->getValueType() == C_YN){ // Yes no 
                                            if($attr_value == 1){
                                                $attr_value_html = '<i class="fa fa-check"></i> Yes';
                                            } else {
                                                $attr_value_html = '<i class="fa fa-remove"></i> No';
                                            }
                                        }
                                        if($attribute->getValueType() == C_Y){ // Yes only
                                            if($attr_value == 1){
                                                $attr_value_html = '<i class="fa fa-check"></i> '.$attribute->getName();
                                            } else {
                                                $attr_value_html = '<i class="fa fa-remove"></i> '.$attribute->getName();
                                            }
                                        }
                                        if($attribute->getValueType() == C_D){ //  date only
                                            $attr_value_html = $attr_value = changeMySQLDateToPageFormat($attr_value);
                                        }
                                        if($attribute->getValueType() == C_TM){ //  time only
                                            $attr_value_html = $attr_value = formatTimeCustom($attr_value);
                                        }
                                        if($attribute->getValueType() == C_DT){ // date time 
                                            $attr_value_html = formatDateAndTime($attr_value, false);
                                            $attr_value_date = changeMySQLDateToPageFormat($attr_value); 
                                            $attr_value_time = formatTimeCustom($attr_value);
                                        }	
										if($attribute->getValueType() == C_LS){ // single choice select
                                            $attr_value_html = isArrayKeyAnEmptyString($attr_value, $optionlist) ? '-' : $optionlist[$attr_value];
                                        }
                                        if($attribute->getValueType() == C_LM){ // multiple choice select
                                            $listarray = explode(',', $attr_value);
                                            $list_options = array();
											foreach($listarray as $anoption){
												$list_options[] = isArrayKeyAnEmptyString($anoption, $optionlist) ? '-' : $optionlist[$anoption];
											}
                                            $attr_value_html = createHTMLCommaListFromArray(array_remove_empty($list_options), ', ');
                                        }
									}
                                }
								// if group attr exists and is not specified
								if($entity->hasGroupAttr() && $attribute->getID() == $entity->getGroupAttr()){
									$attr_value = $result->getgroupattr_val();
									$attr_value_html = getCurrentValueFromArray($result->getgroupattr_val(), $result->getDataset()->getGroupAttribute()->getConfigOptionList());
								}
                            }
                        }
                ?>
                    <script>
                        $(document).ready(function(){
                            <?php if(in_array($attribute->getValueType(), unserialize(NUMBER_TYPES))){ ?>
								$("#viewtable_<?php echo $sector->getID(); ?> .numberfield.<?php echo 'attribute_'.$attrid; ?>").keyup(function(){
									var linetotal = 0;
									$("#viewtable_<?php echo $sector->getID(); ?> .numberfield.<?php echo 'attribute_'.$attrid; ?>").each(function() {
										if (!isNaN(this.value) && this.value.length != 0) {
											linetotal += parseFloat(this.value);
										}
									});
									linetotal = linetotal.toFixed(2).replace(/\.00$/, '');
									$("#viewtable_<?php echo $sector->getID(); ?> #attribute_<?php echo $attrid; ?>_coltotal").html(linetotal).attr('total', linetotal);
								});
								$("#viewtable_<?php echo $sector->getID(); ?> .numberfield.<?php echo 'attribute_'.$attrid; ?>").trigger('keyup');
								
								$("#viewtable_<?php echo $sector->getID(); ?> .numberfield.<?php echo 'sector_'.$sector->getID(); ?>").keyup(function(){
									var coltotal = 0;
									$("#viewtable_<?php echo $sector->getID(); ?> .numberfield.<?php echo 'sector_'.$sector->getID(); ?>").each(function() {
										if (!isNaN(this.value) && this.value.length != 0) {
											coltotal += parseFloat(this.value);
										}
									});
									coltotal = coltotal.toFixed(2).replace(/\.00$/, '');
									$("#viewtable_<?php echo $sector->getID(); ?> #total_<?php echo $sector->getID(); ?>").html(coltotal).attr('total', coltotal);
								});
								$("#viewtable_<?php echo $sector->getID(); ?> input.<?php echo 'sector_'.$sector->getID(); ?>").trigger('keyup');
                                    
                            <?php } ?>
							
							<?php if($entity->hasGroupAttr() && $attribute->getID() == $entity->getGroupAttr()){ ?>
								$('select#<?php echo $attr_id; ?>').prop('disabled', true).trigger("chosen:updated");
							<?php } ?>
                        });
                    </script>
               	  <?php //if(in_array($sector->getID(), array(22,23,24,25,26))){ ?>
                    <tr id="element_<?php echo $attribute->getID(); ?>">
                        <td style=" <?php echo $columns == 1 ? 'width:100%; max-width:auto; min-width:900px; font-weight:bold;' : 'min-width:300px; max-width:300px; font-weight:bold;'; ?> vertical-align:top; font-size:13px !important; white-space:normal; <?php echo count($cat1options_array) > 0 ? 'font-weight:bold;' : ''; ?>"><?php echo !$showfieldname ? '' : ($controller == 'dataset' ? $attribute->getRefNo().': ' : '').$attribute->getName(); ?>
                            <input type="hidden" id="<?php echo $attr_id; ?>_type" name="<?php echo $attr_type; ?>" value="<?php echo $type_value; ?>" />
                        </td>
                        <?php if($columns == 2){ ?>
                        	<?php if($sector->getCategoryType() == '0' && !isEmptyString($sector->getID())){ ?>
                            	<?php 
									$cattype = $attribute->getCategoryType();
									$catcategory = $attribute->getCategory();
									$catgroup = $attribute->getCategoryGroup();
									if($cattype == '0' || isEmptyString($cattype) || ($cattype == '1' && isEmptyString($catcategory))){
		
									} else { 
										// debugMessage('type is '.$cattype);
										$cats = $catcategory; 
										if($cattype == 2){
											$catgrp = new CategoryGroup();
											$catgrp->populate($catgroup);
											$cats = $catgrp->getcategoryids();
										}
										$categorydata = explode(',', $cats); // debugMessage($categorydata);
										$row1 = isArrayKeyAnEmptyString(0, $categorydata) ? '' : $categorydata[0];
										$category1 = new Category(); 
										$category1->populate($row1); 
										$cat1options = $category1->getoptionids();
										$cat1options_array = array_remove_empty(explode(',', $cat1options)); // debugMessage($cat1options_array);
										$colspanrow1 = '';
													
										$row2 = isArrayKeyAnEmptyString(1, $categorydata) ? '' : $categorydata[1]; 
										$category2 = new Category(); 
										$category2->populate($row2); 
										$cat2options = $category2->getoptionids();
										$cat2options_array = array_remove_empty(explode(',', $cat2options));
										$colspanrow1 = count($cat2options_array) == 0 ? '' : count($cat2options_array);
										
										$row3 = isArrayKeyAnEmptyString(2, $categorydata) ? '' : $categorydata[2];
										$category3 = new Category(); 
										$category3->populate($row3); 
										$cat3options = $category3->getoptionids();
										$cat3options_array = array_remove_empty(explode(',', $cat3options));
										$colspanrow2 = count($cat3options_array) == 0 ? '' : count($cat3options_array);
										if(!isEmptyString($colspanrow2)){
											$colspanrow1 = count($cat2options_array) * count($cat3options_array);
										}
									}
								?>
                                <td class="nowrapping"><?php include APPLICATION_PATH.'/views/scripts/dataset/basicattr.phtml'; ?></td>
                            <?php } ?>
                            <?php if($sector->getCategoryType() != '0'){ ?>
								<?php if($cattype == '0' || isEmptyString($cattype) || ($cattype == '1' && isEmptyString($catcategory))){ ?>
                                	<?php if($tabv == 'dataentry' || $isview){ ?>
                                        <?php include APPLICATION_PATH.'/views/scripts/dataset/htmlcontrols.phtml'; ?>
                                    <?php } ?>
								<?php } else { ?>
                                    <?php if(count($cat1options_array) > 0 && count($categorydata) == 1 && $sector->getCategoryType() != 0){ ?>
                                        <?php
                                            $inc = 1;
                                            foreach($cat1options_array as $opt1id){ 
                                                $option1 = new CategoryOption(); 
                                                $option1->populate($opt1id);
                                                
                                                $attr_name = 'attribute['.$attrid.'][value]['.$opt1id.']';
                                                $attr_id = 'attribute_'.$attrid.'_'.$opt1id.'_value';
                                                $attr_value = '';
                                                //$attr_class = '';
                                                if(in_array($attribute->getValueType(), unserialize(NUMBER_TYPES))){
                                                    $lnclass = 'option_'.$opt1id;
                                                    if($inc == 1){
                                                        $attr_class[] = $lnclass;
                                                    } else {
                                                        $last = array_slice($attr_class, -1);
                                                        if(stringContains('option_', $last[0])){
                                                            unset($attr_class[end(array_keys($attr_class))]);
                                                            $attr_class[] = $lnclass;
                                                        }
                                                    }
                                                    
                                                    foreach (array_keys($display_class, 'leftalign', true) as $key) {
                                                        unset($display_class[$key]);
                                                    }
                                                    $display_class[] = 'centeralign';
                                                }
                                                
                                                if($attribute->getValueType() == C_C){
                                                    $attr_name = '';
                                                    $attr_name_lat = 'attribute['.$attrid.'][value_lat]['.$opt1id.']';
                                                    $attr_name_lng = 'attribute['.$attrid.'][value_lng]['.$opt1id.']';
                                                }
                                                if($attribute->getValueType() == C_DT){
                                                    $attr_name = '';
                                                    $attr_name_date = 'attribute['.$attrid.'][value_date]['.$opt1id.']';
                                                    $attr_name_time = 'attribute['.$attrid.'][value_time]['.$opt1id.']';
                                                }
                                                
                                                $attr_name_old = 'attribute['.$attrid.'][value_old]['.$opt1id.']';
                                                $attr_id_old = 'attribute_'.$attrid.'_'.$opt1id.'_value_old';
                                                
                                                $attr_value = '';
                                                if(count($records) > 0){
                                                    foreach($records as $key => $resultitem){
                                                        if($opt1id == $resultitem['optionids']){
                                                            $attr_value = $attr_value_html = $resultitem['result'];
                                                        }
                                                    }
                                                    include APPLICATION_PATH.'/views/scripts/dataset/viewcode.phtml';
                                                }
                                        ?>
                                            <td class="nowrapping" colspan="<?php echo $colspanrow1; ?>">
                                                <?php if($action == 'greyfields'){ ?>
                                                    <div class="radio radio-inline lineblocked" style="margin-left:1px;">
                                                        <input type="radio" id="attribute_<?php echo $attribute->getID(); ?>_<?php echo $option1->getID(); ?>_1" name="attributes[<?php echo $attribute->getID(); ?>][<?php echo $option1->getID(); ?>]" value="1" <?php echo !in_array($attribute->getID().','.$option1->getID(), $disabledlist) ? 'checked' : ''; ?>>
                                                        <label for="attribute_<?php echo $attribute->getID(); ?>_<?php echo $option1->getID(); ?>_1"> Enabled</label>
                                                    </div>
                                                    <div class="radio radio-inline lineblocked" style="margin-left:1px;">
                                                        <input type="radio" id="attribute_<?php echo $attribute->getID(); ?>_<?php echo $option1->getID(); ?>_0" name="attributes[<?php echo $attribute->getID(); ?>][<?php echo $option1->getID(); ?>]" value="0" <?php echo in_array($attribute->getID().','.$option1->getID(), $disabledlist) ? 'checked' : ''; ?>>
                                                        <label for="attribute_<?php echo $attribute->getID(); ?>_<?php echo $option1->getID(); ?>_0"> Disabled</label>
                                                    </div>
                                                <?php } ?>
                                                <?php if($tabv == 'dataentry' || $isview){ ?>
                                                    <?php include APPLICATION_PATH.'/views/scripts/dataset/htmlcontrols.phtml'; ?>
                                                <?php } ?>
                                            </td>
                                        <?php $inc++; } ?>
                                    <?php } ?>
                                <?php } ?>
                                
                                <?php if($cattype == '2' && $sector->getCategoryType() != 0){ ?>
                                    <?php if(!isEmptyString($row2) && count($categorydata) == 2){ ?>
                                        <?php
                                            foreach($cat1options_array as $opt1id){ 
                                        ?>
                                            <?php
                                                $inc = 1;
                                                foreach($cat2options_array as $opt2id){ 
                                                    $option2 = new CategoryOption(); 
                                                    $option2->populate($opt2id); 
                                                    
                                                    $attr_name = 'attribute['.$attrid.'][value]['.$opt1id.'][value]['.$opt2id.']';
                                                    $attr_id = 'attribute_'.$attrid.'_'.$opt1id.'_'.$opt2id.'_value';
                                                    $attr_value = '';
                                                    if(in_array($attribute->getValueType(), unserialize(NUMBER_TYPES))){
                                                        $lnclass = 'option_'.$opt1id.'_'.$opt2id;
                                                        if($inc == 1){
                                                            $attr_class[] = $lnclass;
                                                        } else {
                                                            $last = array_slice($attr_class, -1);
                                                            if(stringContains('option_', $last[0])){
                                                                unset($attr_class[end(array_keys($attr_class))]);
                                                                $attr_class[] = $lnclass;
                                                            }
                                                        }
                                                        foreach (array_keys($display_class, 'leftalign', true) as $key) {
                                                            unset($display_class[$key]);
                                                        }
                                                        $display_class[] = 'centeralign';
                                                    }
                                                    
                                                    if($attribute->getValueType() == C_C){
                                                        $attr_name = '';
                                                        $attr_name_lat = 'attribute['.$attrid.'][value]['.$opt1id.'][value_lat]['.$opt2id.']';
                                                        $attr_name_lng = 'attribute['.$attrid.'][value]['.$opt1id.'][value_lng]['.$opt2id.']';
                                                    }
                                                    if($attribute->getValueType() == C_DT){
                                                        $attr_name = '';
                                                        $attr_name_date = 'attribute['.$attrid.'][value]['.$opt1id.'][value_date]['.$opt2id.']';
                                                        $attr_name_time = 'attribute['.$attrid.'][value]['.$opt1id.'][value_time]['.$opt2id.']';
                                                    }
                                                    
                                                    $attr_name_old = 'attribute['.$attrid.'][value]['.$opt1id.'][value_old]['.$opt2id.']';
                                                    $attr_id_old = 'attribute_'.$attrid.'_'.$opt1id.'_'.$opt2id.'_value_old';
                                                    
                                                    $attr_value = '';
                                                    if(count($records) > 0){
                                                        foreach($records as $key => $resultitem){
                                                            if($resultitem['optionids'] == $opt1id.','.$opt2id){
                                                                $attr_value = $attr_value_html = $resultitem['result'];
                                                            }
                                                        }
                                                        include APPLICATION_PATH.'/views/scripts/dataset/viewcode.phtml';
                                                    }
                                            ?>
                                                 <td class="nowrapping" colspan="<?php echo $colspanrow2; ?>">
                                                    <?php if($action == 'greyfields'){ ?>
                                                        <div class="radio radio-inline lineblocked" style="margin-left:1px;">
                                                            <input type="radio" id="attribute_<?php echo $attribute->getID(); ?>_<?php echo $opt1id; ?>_<?php echo $opt2id; ?>_1" name="attributes[<?php echo $attribute->getID(); ?>][<?php echo $opt1id; ?>][<?php echo $opt2id; ?>]" value="1" <?php echo !in_array($attribute->getID().','.$opt1id.','.$opt2id, $disabledlist) ? 'checked' : ''; ?>>
                                                            <label for="attribute_<?php echo $attribute->getID(); ?>_<?php echo $opt1id; ?>_<?php echo $opt2id; ?>_1"> Enabled</label>
                                                        </div>
                                                        <div class="radio radio-inline lineblocked" style="margin-left:1px;">
                                                            <input type="radio" id="attribute_<?php echo $attribute->getID(); ?>_<?php echo $opt1id; ?>_<?php echo $opt2id; ?>_0" name="attributes[<?php echo $attribute->getID(); ?>][<?php echo $opt1id; ?>][<?php echo $opt2id; ?>]" value="0" <?php echo in_array($attribute->getID().','.$opt1id.','.$opt2id, $disabledlist) ? 'checked' : ''; ?>>
                                                            <label for="attribute_<?php echo $attribute->getID(); ?>_<?php echo $opt1id; ?>_<?php echo $opt2id; ?>_0"> Disabled</label>
                                                        </div>
                                                    <?php } ?>  
                                                    <?php if($tabv == 'dataentry' || $isview){ ?>
                                                        <?php include APPLICATION_PATH.'/views/scripts/dataset/htmlcontrols.phtml'; ?>
                                                    <?php } ?> 
                                                 </td>
                                            <?php $inc++; } ?>    
                                        <?php } ?>
                                    <?php } ?>
                                    <?php if(!isEmptyString($row3) && count($categorydata) == 3){ ?>
                                        <?php
                                            foreach($cat1options_array as $opt1id){ 
                                        ?>
                                            <?php
                                                foreach($cat2options_array as $opt2id){ 
                                            ?>
                                                <?php
                                                    foreach($cat3options_array as $opt3id){ 
                                                        $option3 = new CategoryOption(); 
                                                        $option3->populate($opt3id); 
                                                        
                                                        $attr_name = 'attribute['.$attrid.'][value]['.$opt1id.'][value]['.$opt2id.'][value]['.$opt3id.']';
                                                        $attr_id = 'attribute_'.$attrid.'_'.$opt1id.'_'.$opt2id.'_'.$opt3id.'_value';
                                                        $attr_value = '';
                                                        if(in_array($attribute->getValueType(), unserialize(NUMBER_TYPES))){
                                                            $attr_class[] = 'option_'.$opt3id;
                                                            foreach (array_keys($display_class, 'leftalign', true) as $key) {
                                                                unset($display_class[$key]);
                                                            }
                                                            $display_class[] = 'centeralign';
                                                        }
                                                        
                                                        if($attribute->getValueType() == C_C){
                                                            $attr_name = '';
                                                            $attr_name_lat = 'attribute['.$attrid.'][value]['.$opt1id.'][value]['.$opt2id.'][value_lat]['.$opt3id.']';
                                                            $attr_name_lng = 'attribute['.$attrid.'][value]['.$opt1id.'][value]['.$opt2id.'][value_lng]['.$opt3id.']';
                                                        }
                                                        if($attribute->getValueType() == C_DT){
                                                            $attr_name = '';
                                                            $attr_name_date = 'attribute['.$attrid.'][value]['.$opt1id.'][value]['.$opt2id.'][value_date]['.$opt3id.']';
                                                            $attr_name_time = 'attribute['.$attrid.'][value]['.$opt1id.'][value]['.$opt2id.'][value_time]['.$opt3id.']';
                                                        }
                                                        
                                                        $attr_name_old = 'attribute['.$attrid.'][value]['.$opt1id.'][value]['.$opt2id.'][value_old]['.$opt3id.']';;
                                                        $attr_id_old = 'attribute_'.$attrid.'_'.$opt1id.'_'.$opt2id.'_value_old';
                                                        
                                                        if(count($records) > 0){
                                                            foreach($records as $key => $resultitem){
                                                                if($resultitem['optionids'] == $opt1id.','.$opt2id.','.$opt3id){
                                                                    $attr_value = $attr_value_html = $resultitem['result'];
                                                                }
                                                            }
                                                            include APPLICATION_PATH.'/views/scripts/dataset/viewcode.phtml';
                                                        }
                                                ?>
                                                     <td class="nowrapping">
                                                        <?php if($action == 'greyfields'){ ?>
                                                            <div class="radio radio-inline lineblocked" style="margin-left:1px;">
                                                                <input type="radio" id="attribute_<?php echo $attribute->getID(); ?>_<?php echo $opt1id; ?>_<?php echo $opt2id; ?>_<?php echo $opt3id; ?>_1" name="attributes[<?php echo $attribute->getID(); ?>][<?php echo $opt1id; ?>][<?php echo $opt2id; ?>][<?php echo $opt3id; ?>]" value="1" <?php echo !in_array($attribute->getID().','.$opt1id.','.$opt2id.','.$opt3id, $disabledlist) ? 'checked' : ''; ?>>
                                                                <label for="attribute_<?php echo $attribute->getID(); ?>_<?php echo $opt1id; ?>_<?php echo $opt2id; ?>_<?php echo $opt3id; ?>_1"> Enabled</label>
                                                            </div>
                                                            <div class="radio radio-inline lineblocked" style="margin-left:1px;">
                                                                <input type="radio" id="attribute_<?php echo $attribute->getID(); ?>_<?php echo $opt1id; ?>_<?php echo $opt2id; ?>_<?php echo $opt3id; ?>_0" name="attributes[<?php echo $attribute->getID(); ?>][<?php echo $opt1id; ?>][<?php echo $opt2id; ?>][<?php echo $opt3id; ?>]" value="0" <?php echo in_array($attribute->getID().','.$opt1id.','.$opt2id.','.$opt3id, $disabledlist) ? 'checked' : ''; ?>>
                                                                <label for="attribute_<?php echo $attribute->getID(); ?>_<?php echo $opt1id; ?>_<?php echo $opt2id; ?>_<?php echo $opt3id; ?>_0"> Disabled</label>
                                                            </div>
                                                        <?php } ?> 
                                                        <?php if($tabv == 'dataentry' || $isview){ ?>
                                                            <?php include APPLICATION_PATH.'/views/scripts/dataset/htmlcontrols.phtml'; ?>
                                                        <?php } ?>   
                                                     </td>
                                                <?php } ?>
                                            <?php } ?>    
                                        <?php } ?>
                                    <?php } ?>         
                                <?php } ?>
                                <?php if($sector->getshowcolumntotal() == 1 && $sector->getCategoryType() != '0'){ ?>
                                    <td class="centeralign nowrapping" style="background-color:#eee;">
                                        <?php if(!$isprint){ ?>
                                        <span id="attribute_<?php echo $attribute->getID(); ?>_coltotal">0</span>
                                        <?php } ?>
                                    </td>
                                <?php } ?>
                           	<?php } ?>
                        <?php } ?>
                    </tr>
                    <?php if($columns == 1){ ?>
                    	<tr id="element_value_<?php echo $attribute->getID(); ?>">
                        	<td>
                            	<?php
									// debugMessage($cattype);
									// debugMessage($catcategory);
									if($sector->getCategoryType() == 0 && !isEmptyString($sector->getID())){
										$cattype = $attribute->getCategoryType();
										$catcategory = $attribute->getCategory();
										$catgroup = $attribute->getCategoryGroup();
										if($cattype == '0' || isEmptyString($cattype) || ($cattype == '1' && isEmptyString($catcategory))){
            
										} else { 
											// debugMessage('type is '.$cattype);
											$cats = $catcategory; 
											if($cattype == 2){
												$catgrp = new CategoryGroup();
												$catgrp->populate($catgroup);
												$cats = $catgrp->getcategoryids();
											}
											$categorydata = explode(',', $cats); // debugMessage($categorydata);
											$row1 = isArrayKeyAnEmptyString(0, $categorydata) ? '' : $categorydata[0];
											$category1 = new Category(); 
											$category1->populate($row1); 
											$cat1options = $category1->getoptionids();
											$cat1options_array = array_remove_empty(explode(',', $cat1options)); // debugMessage($cat1options_array);
											$colspanrow1 = '';
														
											$row2 = isArrayKeyAnEmptyString(1, $categorydata) ? '' : $categorydata[1]; 
											$category2 = new Category(); 
											$category2->populate($row2); 
											$cat2options = $category2->getoptionids();
											$cat2options_array = array_remove_empty(explode(',', $cat2options));
											$colspanrow1 = count($cat2options_array) == 0 ? '' : count($cat2options_array);
											
											$row3 = isArrayKeyAnEmptyString(2, $categorydata) ? '' : $categorydata[2];
											$category3 = new Category(); 
											$category3->populate($row3); 
											$cat3options = $category3->getoptionids();
											$cat3options_array = array_remove_empty(explode(',', $cat3options));
											$colspanrow2 = count($cat3options_array) == 0 ? '' : count($cat3options_array);
											if(!isEmptyString($colspanrow2)){
												$colspanrow1 = count($cat2options_array) * count($cat3options_array);
											}
										}
									}
								?>
                            	<?php include APPLICATION_PATH.'/views/scripts/dataset/basicattr.phtml'; ?>
                            </td>
                        </tr>
                    <?php } ?>
                  <?php // } ?>
                <?php } ?>
            </tbody>
            <?php if($sector->getshowrowtotal() == 1 && $sector->getCategoryType() != '0'){ ?>
                <tfoot>
                    <tr id="total_row_">
                        <td class="nowrapping bolded">Total</td>
                        <?php if($cattype == '0' || isEmptyString($cattype) || ($cattype == '1' && isEmptyString($catcategory))){ ?>
                            <td class="centeralign nowrapping" style="background-color:#eee;">
                                <?php if(!$isprint){ ?>
                                <span id="total_<?php echo $sector->getID(); ?>">0</span></td>
                                <?php } ?>
                        <?php } else { ?>
                            <?php if(count($cat1options_array) > 0 && count($categorydata) == 1){ ?>
                                <?php
                                    foreach($cat1options_array as $opt1id){ 
                                        $option1 = new CategoryOption(); 
                                        $option1->populate($opt1id); 
                                ?>
                                    <td class="centeralign nowrapping" style="background-color:#eee;">
                                    <?php if(!$isprint){ ?>
                                        <span id="total_column_<?php echo $opt1id; ?>">0</span></td>
                                    <?php } ?>
                                    <script>
                                        $(document).ready(function(){
                                            <?php if(in_array($attribute->getValueType(), unserialize(NUMBER_TYPES))){ ?>
                                                <?php if(($tabv == 'dataentry' || $isview) && $sector->getshowcolumntotal() == 1){ ?>
                                                    $("#viewtable_<?php echo $sector->getID(); ?> .numberfield.<?php echo 'option_'.$opt1id; ?>").keyup(function(){
                                                        var downtotal = 0;
                                                        $("#viewtable_<?php echo $sector->getID(); ?> .numberfield.<?php echo 'option_'.$opt1id; ?>").each(function() {
                                                            
                                                            if (!isNaN(this.value) && this.value.length != 0) {
                                                                downtotal += parseFloat(this.value);
                                                            }
                                                        });
                                                        downtotal = downtotal.toFixed(2).replace(/\.00$/, '');
                                                        $("#viewtable_<?php echo $sector->getID(); ?> #total_column_<?php echo $opt1id; ?>").html(downtotal).attr('total', downtotal);
                                                    });
                                                    $("#viewtable_<?php echo $sector->getID(); ?> .numberfield.<?php echo 'option_'.$opt1id; ?>").trigger('keyup');
                                                <?php } ?>	
                                            <?php } ?>
                                        });
                                    </script>
                                <?php } ?>
                            <?php } ?>
                        <?php } ?>
                        
                        <?php if($cattype == '2'){ ?>
                            <?php if(!isEmptyString($row2) && count($categorydata) == 2){ ?>
                                <?php
                                    foreach($cat1options_array as $opt1id){ 
                                ?>
                                    <?php
                                        foreach($cat2options_array as $opt2id){ 
                                            $option2 = new CategoryOption(); 
                                            $option2->populate($opt2id); 
                                    ?>
                                         <td class="centeralign nowrapping" style="background-color:#eee;">
                                            <?php if(!$isprint){ ?>
                                            <span id="total_column_<?php echo $opt1id.'_'.$opt2id; ?>">0</span></td>
                                            <?php } ?>
                                         <script>
                                            $(document).ready(function(){
                                                <?php if(in_array($attribute->getValueType(), unserialize(NUMBER_TYPES))){ ?>
                                                    <?php if(($tabv == 'dataentry' || $isview) && $sector->getshowcolumntotal() == 1){ ?>
                                                        $("#viewtable_<?php echo $sector->getID(); ?> .numberfield.<?php echo 'option_'.$opt1id.'_'.$opt2id; ?>").keyup(function(){
                                                            var downtotal = 0;
                                                            $("#viewtable_<?php echo $sector->getID(); ?> .numberfield.<?php echo 'option_'.$opt1id.'_'.$opt2id; ?>").each(function() {
                                                                if (!isNaN(this.value) && this.value.length != 0) {
                                                                    downtotal += parseFloat(this.value);
                                                                }
                                                            });
                                                            downtotal = downtotal.toFixed(2).replace(/\.00$/, '');
                                                            $("#viewtable_<?php echo $sector->getID(); ?> #total_column_<?php echo $opt1id.'_'.$opt2id; ?>").html(downtotal).attr('total', downtotal);
                                                        });
                                                        $("#viewtable_<?php echo $sector->getID(); ?> .numberfield.<?php echo 'option_'.$opt1id.'_'.$opt2id; ?>").trigger('keyup');
                                                    <?php } ?>	
                                                <?php } ?>
                                            });
                                        </script>
                                    <?php } ?>    
                                <?php } ?>
                            <?php } ?>
                            <?php if(!isEmptyString($row3) && count($categorydata) == 3){ ?>
                                <?php
                                    foreach($cat1options_array as $opt1id){ 
                                ?>
                                    <?php
                                        foreach($cat2options_array as $opt2id){ 
                                    ?>
                                        <?php
                                            foreach($cat3options_array as $opt3id){ 
                                                $option3 = new CategoryOption(); 
                                                $option3->populate($opt3id); 
                                        ?>
                                             <td class="centeralign nowrapping" style="background-color:#eee;">
                                                <?php if(!$isprint){ ?>
                                                <span id="total_column_<?php echo $opt3id; ?>">0</span></td>
                                                <?php } ?>
                                        <?php } ?>
                                    <?php } ?>    
                                <?php } ?>
                            <?php } ?>         
                        <?php } ?>
                        <?php if($sector->getshowcolumntotal() == 1){ ?>
                            <td class="centeralign nowrapping" style="background-color:#eee;">
                                <?php if(!$isprint){ ?>
                                <span id="total_<?php echo $sector->getID(); ?>"></span>
                                <?PHP } ?>
                            </td>
                        <?php } ?>
                    </tr>
                </tfoot>
            <?php } ?>
        </table>
    <?php } ?>
    <?php if($isbatchentry){ ?>
    	<table id="viewtable_<?php echo $sector->getID(); ?>" class="table xtable-colored xtable-primary table-bordered table-hover xtable-striped table-condensed" <?php echo $request->pdf == '1' ? '' : 'style="width:auto;"'; ?>>
        	<thead>
            	<tr>
					<th style="text-align:center;">#</th>
					<?php 
                        $disabledlist = explode(',', $sector->getGreyElements());
                        $attributes = explode(',', str_replace(' ', '', trim($sector->getelementids()))); // debugMessage($attributes);
						$attribute_collection = array(); $hasrow1 = 0; $hasrow2 = 0; $hasrow3 = 0; $columndata = array();
                        foreach($attributes as $attrid) {
                            $attribute = new Attribute();
                            $attribute->populate($attrid);
							$attribute_collection[$attrid] = $attribute;
                        
                            $fieldid = 'attr_'.my_simple_crypt($attribute->getID());
							
							if($tabv == 'dataentry' || $isview == true){
								if($entity->getFormType() == 2){
									
								}
							}
							$cattype = $attribute->getCategoryType(); $columndata[$attrid]['cattype'] = $cattype;
							$catcategory = $attribute->getCategory();
							$catgroup = $attribute->getCategoryGroup();
							if($cattype == '0' || isEmptyString($cattype) || ($cattype == '1' && isEmptyString($catcategory))){
								$columndata[$attrid]['categorydata'] = array();
								$columndata[$attrid]['row0'] = '';
								$columndata[$attrid]['cat0options_array'] = array();
								$columndata[$attrid]['row1'] = '';
								$columndata[$attrid]['cat1options_array'] = array();
								$columndata[$attrid]['row2'] = '';
								$columndata[$attrid]['cat2options_array'] = array();
								$columndata[$attrid]['row3'] = ''; 
								$columndata[$attrid]['cat3options_array'] = array();
								$columndata[$attrid]['colspanrow0'] = '';
								$columndata[$attrid]['colspanrow1'] = '';
								$columndata[$attrid]['colspanrow2'] = '';
								// $columndata[$attrid]['colspanrow3'] = '';
								
							} else { 
								// debugMessage('type is '.$cattype);
								$cats = $catcategory; 
								if($cattype == 2){
									$catgrp = new CategoryGroup();
									$catgrp->populate($catgroup);
									$cats = $catgrp->getcategoryids(); 
								}
								// row 0 options
								$categorydata = explode(',', $cats); $columndata[$attrid]['categorydata'] = $categorydata;
								$row1 = isArrayKeyAnEmptyString(0, $categorydata) ? '' : $categorydata[0]; $columndata[$attrid]['row1'] = $row1;
								$category1 = new Category(); 
								$category1->populate($row1); 
								$cat1options = $category1->getoptionids();
								$cat1options_array = array_remove_empty(explode(',', $cat1options)); $columndata[$attrid]['cat1options_array'] = $cat1options_array;
								$colspanrow0 = count($cat1options_array) == 0 ? '' : count($cat1options_array); 
								if(count($cat1options_array) > 0){
									$hasrow1++;
								}
								
								// row 2 options			
								$row2 = isArrayKeyAnEmptyString(1, $categorydata) ? '' : $categorydata[1]; $columndata[$attrid]['row2'] = $row2;
								$category2 = new Category(); 
								$category2->populate($row2); 
								$cat2options = $category2->getoptionids();
								$cat2options_array = array_remove_empty(explode(',', $cat2options)); $columndata[$attrid]['cat2options_array'] = $cat2options_array;
								$colspanrow1 = count($cat2options_array) == 0 ? '' : count($cat2options_array);
								if(!isEmptyString($colspanrow1)){
									$colspanrow0 = count($cat1options_array) * count($cat2options_array);
								}
								if(count($cat2options_array) > 0){
									$hasrow2++;
								}
								
								// row 3 options
								$row3 = isArrayKeyAnEmptyString(2, $categorydata) ? '' : $categorydata[2]; $columndata[$attrid]['row3'] = $row3;
								$category3 = new Category(); 
								$category3->populate($row3); 
								$cat3options = $category3->getoptionids();
								$cat3options_array = array_remove_empty(explode(',', $cat3options)); $columndata[$attrid]['cat3options_array'] = $cat3options_array;
								$colspanrow2 = count($cat3options_array) == 0 ? '' : count($cat3options_array); 
								if(!isEmptyString($colspanrow2)){
									$colspanrow0 = count($cat2options_array) * count($cat3options_array);
									$colspanrow1 = count($cat1options_array) * count($cat2options_array);
								}
								if(count($cat3options_array) > 0){
									$hasrow3++;
								}
								
								$columndata[$attrid]['colspanrow0'] = $colspanrow0;
								$columndata[$attrid]['colspanrow1'] = $colspanrow1;
								$columndata[$attrid]['colspanrow2'] = $colspanrow2;
							}
                    ?>
                        <th style="min-width:100px; max-width:300px; vertical-align:top; font-size:13px !important; white-space:normal;" class="<?php echo !isEmptyString($columndata[$attrid]['colspanrow0']) ? 'centeralign bolded' : ''; ?>" colspan="<?php echo $columndata[$attrid]['colspanrow0']; ?>"><?php echo $attribute->getName(); ?></th>
                    <?php } ?>
                </tr>
                <?php 
					// debugMessage($columndata); // exit;
				?>
                <?php if($hasrow1 > 0){ ?>
                    <tr>
                        <th></th>
                        <?php 
                            foreach($attributes as $attrid) {		
                        ?>
                            <?php if(count($columndata[$attrid]['cat1options_array']) > 0){ ?>
                                <?php
                                    foreach($columndata[$attrid]['cat1options_array'] as $opt1id){ 
                                        $option1 = new CategoryOption(); 
                                        $option1->populate($opt1id); 
                                ?>
                                    <th class="centeralign nowrapping" id="opt_<?php echo $option1->getID(); ?>" colspan="<?php echo $columndata[$attrid]['colspanrow1']; ?>" <?php echo $request->pdf == '1' ?  '' : 'style="width:auto; min-width:100px;"'; ?>><?php echo $option1->getName(); ?></th>
                                <?php } ?>
                            <?php } else { ?>
                                <th></th>
                            <?php } ?>
                        <?php } ?>		
                    </tr>
                <?php } ?>
                <?php if($hasrow2 > 0){ ?>
                	<tr>
                        <th></th>
                        <?php 
                            foreach($attributes as $attrid) {		
                        ?>
                        	<?php if(count($columndata[$attrid]['cat1options_array']) > 0){ ?>
                                <?php
                                    foreach($columndata[$attrid]['cat1options_array'] as $opt1id){ 
                                ?>
                                	<?php if(count($columndata[$attrid]['cat2options_array']) > 0){ ?>
										<?php
                                            foreach($columndata[$attrid]['cat2options_array'] as $opt2id){ 
                                                $option2 = new CategoryOption(); 
                                                $option2->populate($opt2id); 
                                        ?>
                                        	<th class="centeralign nowrapping" id="opt_<?php echo $option1->getID(); ?>" colspan="<?php echo $columndata[$attrid]['colspanrow2']; ?>" <?php echo $request->pdf == '1' ?  '' : 'style="width:auto; min-width:100px;"'; ?>><?php echo $option2->getName(); ?></th>
                                        <?php } ?>
									<?php } else { ?>
                                    	<th></th>
                                    <?php } ?>
                                <?php } ?>
                            <?php } else { ?>
                                <th></th>
                            <?php } ?>
                        <?php } ?>		
                    </tr>
                <?php } ?>
            </thead>
            <tbody>
            	<?php for($i = 1; $i <= $sector->getrowmax(); $i++){ ?>
                	<tr>
                        <td style="text-align:center; min-width: 35px;"><?php echo $i; ?></td>
						<?php 
							$disabledlist = explode(',', $sector->getGreyElements());
							$attributes = explode(',', str_replace(' ', '', trim($sector->getelementids()))); // debugMessage($attributes);
							foreach($attributes as $attrid) {
								$attribute = $attribute_collection[$attrid];
								//$attribute = new Attribute();
								//$attribute->populate($attrid);
								
								$showfieldname = true;
								if($attribute->getValueType() == C_Y){
									$showfieldname = false;	
								}
								
								$attr_name = 'attribute['.$attrid.']['.$i.'][value]'; 
								$attr_id = 'attribute_'.$attrid.'_'.$i.'_value';
								$attr_value = '';
								$attr_custom = '';
								$attr_class = array('attribute_'.$attrid.'_'.$i, 'useid_error');
								if($entity->getallmandatory() == 1){
									if($attribute->getValueType() == C_LS || $attribute->getValueType() == C_LM){
										$attr_class[] = 'selectrequired';
									} else {
										$attr_class[] = 'inputrequired';
									}
								}
								
								$attr_cattype = 'attribute['.$attrid.']['.$i.'][cattype]';
								$attr_type = 'attribute['.$attrid.']['.$i.'][type]';
								$type_value = $attribute->getValueType();
								$attr_name_old = 'attribute['.$attrid.']['.$i.'][value_old]';
								$attr_id_old = 'attribute_'.$attrid.'_'.$i.'_value_old';
								
								$display_class = array('leftalign', 'blocked');
								$minwidth = '120px';
								
								if($cattype == '0' || isEmptyString($cattype) || ($cattype == '1' && isEmptyString($catcategory))){
									$attr_class[] = 'sector_'.$sector->getID();
								}
								
								// attribute comments
								$hastooltip = false; $tooltip_html = '';
								if($attribute->gethastipcomment() == 1){
									if(!isEmptyString($attribute->gettooltip())){
										$tooltip_html = ' tipbody="'.$attribute->gettooltip().'"';
										$hastooltip = true;
										$attr_class[] = 'hastooltip';
										if(in_array($attribute->getValueType(), array(C_D,C_DT))){
											$attr_class[] = 'datetip';
										}
										if(in_array($attribute->getValueType(), array(C_TM))){
											$attr_class[] = 'tipmargin';
											$attr_custom = ' tipmargin="45"';
										}
										if(in_array($attribute->getValueType(), array(C_DT))){
											$attr_class[] = 'disabledtip';
										}
									}
								}
								
								if($attribute->getValueType() == C_C){
									$attr_name = '';
									$attr_name_lat = 'attribute['.$attrid.']['.$i.'][value_lat]';
									$attr_name_lng = 'attribute['.$attrid.']['.$i.'][value_lng]';
									$minwidth = '350px';
								}
								if($attribute->getValueType() == C_DT){
									$attr_name = '';
									$attr_name_date = 'attribute['.$attrid.']['.$i.'][value_date]';
									$attr_name_time = 'attribute['.$attrid.']['.$i.'][value_time]';
									$minwidth = '280px';
								}
								
								// select attributes where applicable 
								$optionlist = array();
								if($attribute->getValueType() == C_LS || $attribute->getValueType() == C_LM){
									if(!isEmptyString($attribute->getOptionID())){
										$selectedoptions = getDataCategoryOptions(false, $attribute->getOptionCategory()->getOptionIDs());
										$optionlist = sortArrayByArray($selectedoptions, explode(',', $attribute->getOptionCategory()->getOptionIDs()));
									}
									if($attribute->getValueType() == C_LS){
										$attr_class[] = 'width250';
									}
									if($attribute->getValueType() == C_SM){
										$attr_class[] = 'chosen-select';
									}
								}
								
								// fetch existing records
								if($tabv == 'dataentry' || $isview){
									$records = array();
									if(!isEmptyString($result->getID())){
										$query = "select d.* from data_set_result_detail d inner join data_set_result_summary s on d.resultid = s.id where d.resultid = '".$result->getID()."' AND d.datasetid = '".$result->getDatasetID()."' AND d.elementid = '".$attrid."' AND d.lineid = '".$i."' ";
										$records = $conn->fetchAll($query); 
										//debugMessage();
										if(count($records) > 0){
											$attr_value = '';
											if(!isArrayKeyAnEmptyString('result', $records[0])){
												$attr_value = $records[0]['result'];
											}
											// debugMessage($records);
											include APPLICATION_PATH.'/views/scripts/dataset/viewcode.phtml';
										} else {
											$attr_value = ''; $attr_value_html = '';
										}
									}
								}
						?>
                        <input type="hidden" id="<?php echo $attr_id; ?>_type" name="<?php echo $attr_type; ?>" value="<?php echo $type_value; ?>" />
                     	<input type="hidden" id="<?php echo $attr_id; ?>_cattype" name="<?php echo $attr_cattype; ?>" value="3" />
                        <?php if(count($columndata[$attrid]['cat1options_array']) == 0){ ?>
                            <td>
								<?php if($tabv == 'dataentry' || $isview){ ?>
                                    <div style="display:inline-block; min-width:<?php echo $minwidth; ?>; white-space:normal; <?php echo $request->pdf == '1' ? 'text-align:center;' : ''; ?>"><?php include APPLICATION_PATH.'/views/scripts/dataset/htmlcontrols.phtml'; ?></div>
                                <?php } ?>
                            </td>
                  		<?php } else { ?>
                            <!--if only one category is configure-->
                            <?php if(count($columndata[$attrid]['cat1options_array']) > 0 && count($columndata[$attrid]['categorydata']) == 1){ ?>
								<?php
                                    $inc = 0;
                                    foreach($columndata[$attrid]['cat1options_array'] as $opt1id){ 
                                        $option1 = new CategoryOption(); 
                                        $option1->populate($opt1id);
                                        
                                        $attr_name = 'attribute['.$attrid.']['.$i.'][value]['.$opt1id.']';
                                        $attr_id = 'attribute_'.$attrid.'_'.$i.'_'.$opt1id.'_value';
                                        $attr_value = '';
                                        //$attr_class = '';
                                        if(in_array($attribute->getValueType(), unserialize(NUMBER_TYPES))){
                                            $lnclass = 'option_'.$i.'_'.$opt1id;
                                            if($inc == 1){
                                                $attr_class[] = $lnclass;
                                            } else {
                                                $last = array_slice($attr_class, -1);
                                                if(stringContains('option_', $last[0])){
                                                    unset($attr_class[end(array_keys($attr_class))]);
                                                    $attr_class[] = $lnclass;
                                                }
                                            }
                                            
                                            foreach (array_keys($display_class, 'leftalign', true) as $key) {
                                                unset($display_class[$key]);
                                            }
                                            $display_class[] = 'centeralign';
                                        }
                                        
                                        if($attribute->getValueType() == C_C){
                                            $attr_name = '';
                                            $attr_name_lat = 'attribute['.$attrid.']['.$i.'][value_lat]['.$opt1id.']';
                                            $attr_name_lng = 'attribute['.$attrid.']['.$i.'][value_lng]['.$opt1id.']';
                                        }
                                        if($attribute->getValueType() == C_DT){
                                            $attr_name = '';
                                            $attr_name_date = 'attribute['.$attrid.']['.$i.'][value_date]['.$opt1id.']';
                                            $attr_name_time = 'attribute['.$attrid.']['.$i.'][value_time]['.$opt1id.']';
                                        }
                                        
                                        $attr_name_old = 'attribute['.$attrid.']['.$i.'][value_old]['.$opt1id.']';
                                        $attr_id_old = 'attribute_'.$attrid.'_'.$i.'_'.$opt1id.'_value_old';
                                        
                                        $attr_value = '';
                                        if(count($records) > 0){
                                            foreach($records as $key => $resultitem){
                                                if($opt1id == $resultitem['optionids']){
                                                    $attr_value = $attr_value_html = $resultitem['result'];
                                                }
                                            }
                                            include APPLICATION_PATH.'/views/scripts/dataset/viewcode.phtml';
                                        }
									?>
										<td class="nowrapping" colspan="<?php echo $columndata[$attrid]['colspanrow1']; ?>">
                                            <?php if($tabv == 'dataentry' || $isview){ ?>
                                                <?php include APPLICATION_PATH.'/views/scripts/dataset/htmlcontrols.phtml'; ?>
                                            <?php } ?>
                                        </td>
									<?php $inc++; } ?>
								<?php } ?>
                            <?php } ?>
                            
                            <!--if multiple categories are configure-->
							<?php if(count($columndata[$attrid]['cat2options_array']) > 0 && count($columndata[$attrid]['categorydata']) == 2){ ?>
                                <?php
                                    foreach($columndata[$attrid]['cat1options_array'] as $opt1id){ 
                                ?>
                                    <?php if(count($columndata[$attrid]['cat2options_array']) > 0){ ?>
                                        <?php
                                            $inc = 0;
                                            foreach($columndata[$attrid]['cat2options_array'] as $opt2id){ 
                                                $option2 = new CategoryOption(); 
                                                $option2->populate($opt2id); 
                                                
                                                $attr_name = 'attribute['.$attrid.']['.$i.'][value]['.$opt1id.'][value]['.$opt2id.']';
                                                $attr_id = 'attribute_'.$attrid.'_'.$i.'_'.$opt1id.'_'.$opt2id.'_value';
                                                $attr_value = '';
                                                if(in_array($attribute->getValueType(), unserialize(NUMBER_TYPES))){
                                                    $lnclass = 'option_'.$i.'_'.$opt1id.'_'.$opt2id;
                                                    if($inc == 1){
                                                        $attr_class[] = $lnclass;
                                                    } else {
                                                        $last = array_slice($attr_class, -1);
                                                        if(stringContains('option_', $last[0])){
                                                            unset($attr_class[end(array_keys($attr_class))]);
                                                            $attr_class[] = $lnclass;
                                                        }
                                                    }
                                                    foreach (array_keys($display_class, 'leftalign', true) as $key) {
                                                        unset($display_class[$key]);
                                                    }
                                                    $display_class[] = 'centeralign';
                                                }
                                                
                                                if($attribute->getValueType() == C_C){
                                                    $attr_name = '';
                                                    $attr_name_lat = 'attribute['.$attrid.']['.$i.'][value]['.$opt1id.'][value_lat]['.$opt2id.']';
                                                    $attr_name_lng = 'attribute['.$attrid.']['.$i.'][value]['.$opt1id.'][value_lng]['.$opt2id.']';
                                                }
                                                if($attribute->getValueType() == C_DT){
                                                    $attr_name = '';
                                                    $attr_name_date = 'attribute['.$attrid.']['.$i.'][value]['.$opt1id.'][value_date]['.$opt2id.']';
                                                    $attr_name_time = 'attribute['.$attrid.']['.$i.'][value]['.$opt1id.'][value_time]['.$opt2id.']';
                                                }
                                                
                                                $attr_name_old = 'attribute['.$attrid.']['.$i.'][value]['.$opt1id.'][value_old]['.$opt2id.']';
                                                $attr_id_old = 'attribute_'.$i.'_'.$attrid.'_'.$opt1id.'_'.$opt2id.'_value_old';
                                                
                                                $attr_value = '';
                                                if(count($records) > 0){
                                                    foreach($records as $key => $resultitem){
                                                        if($resultitem['optionids'] == $opt1id.','.$opt2id){
                                                            $attr_value = $attr_value_html = $resultitem['result'];
                                                        }
                                                    }
                                                    include APPLICATION_PATH.'/views/scripts/dataset/viewcode.phtml';
                                                }
                                        ?>
                                            <td>
                                                <?php if($tabv == 'dataentry' || $isview){ ?>
                                                    <?php include APPLICATION_PATH.'/views/scripts/dataset/htmlcontrols.phtml'; ?>
                                                <?php } ?>
                                            </td>
                                        <?php $inc++; } ?>
                                    <?php } ?>
                                <?php } ?>
                            <?php } ?>
                        <?php } ?>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    <?php } ?>
    <div class="divider10"></div>
    <?php if(!isEmptyString($sector->getIndicatorIDs()) && false){ ?>
        <table id="indtable" class="table xtable-colored xtable-primary table-bordered table-hover table-striped table-condensed" style="width:auto !important;">
            <?php if($tabv != 'dataentry'){ ?>
                <thead>
                    <tr>
                        <th>Indicators</th>
                        <th></th>
                    </tr>
                </thead>
            <?php }  ?>
            <tbody>
            	<?php 
					$indicators = explode(',', str_replace(' ', '', trim($sector->getindicatorids()))); // debugMessage($indicators);
					foreach($indicators as $indid) {
						$indicator = new Indicator();
						$indicator->populate($indid);
				?>
                    <tr>                        
                    	<td style="max-width:350px !important; width:auto; white-space:normal;"><?php echo $indicator->getTitle(); ?></td>
                        <td class="centeralign nowrapping" style="min-width:100px !important; <?php echo ($tabv == 'dataentry') ? 'background-color:#eee;' : ''; ?>">
                        	<?php if($action == 'greyfields'){ ?>
                            	Disabled
                            <?php } ?>
                            <?php if($tabv == 'dataentry'){ ?>
                            	<span id="indicator_total_<?php echo $indicator->getID(); ?>">0</span>
                            <?php } ?>
                        </td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
   	<?php } ?>
</div>