<?php 
	$attr_styles = '';
	if($tabv == 'dataentry' || $isview == true){
		$attr_styles = 'position:relative; overflow-x:scroll; overflow-y:visible; height:auto; width:100%;';
	} else {
		$attr_styles = 'overflow:scroll; max-height:350px; min-width:750px; max-width:1000px; width:auto !important;';
	}
	if($ispdf){
		$attr_styles = 'height:100%; width:100%;';
	}
	
	$columns = $entity->getColumns();
?>
<div class="col-sm-12">
    <div class="panel-body" style="padding:0;">
        <div style=" <?php echo $attr_styles; ?>">
            <table id="viewtable" class="table xtable-colored xtable-primary table-bordered table-hover xtable-striped table-condensed" <?php echo $request->pdf == '1' ? '' : 'style="width:auto;"'; ?>>
                <?php if($tabv != 'dataentry' && !$isview){ ?>
                    <!--<thead>
                        <tr>
                        	<th>Attribute</th>
                            <th></th>
                        </tr>
                    </thead>-->
                <?php } ?>
                <tbody style="font-size:13px !important;">
					<?php if(!isEmptyString($result->getID())){ 
						$periodlabel = 'Period'; $singleperiod = false;
						if(in_array($entity->getPeriodType(), array(1,13,14))){
							$periodlabel = 'Result Date';
							$singleperiod = true;
						}
					?>
                    	<tr>
                        	<td class="nowrapping" style="font-weight:bold;"><?php echo $periodlabel; ?>:</td>
                            <td><?php echo $result->getPeriodLabel(); ?></td>
                       	</tr>
                    <?php } ?>
					<?php 
					
					foreach($attributes_array as $attrid){ 
                        $attribute = new Attribute();
                        $attribute->populate($attrid);
                        // debugMessage($attribute->toArray());
                        $fieldid = 'attr_'.my_simple_crypt($attribute->getID());
						
						$showfieldname = true;
						if($attribute->getValueType() == C_Y){
							$showfieldname = false;	
						}
                    ?>
                        <?php
                            $cattype = $sector->getCategoryType();
							$catcategory = $sector->getCategory();
							$catgroup = $sector->getCategoryGroup();
							
							if($tabv == 'dataentry' || $isview == true){
								if($entity->getFormType() == 1){
									$cattype = $attribute->getCategoryType();
									$catcategory = $attribute->getCategory();
									$catgroup = $attribute->getCategoryGroup();
								}
							}
							if($cattype == '0' || isEmptyString($cattype) || ($cattype == '1' && isEmptyString($catcategory))){
								
							} else { 
								$cats = $catcategory; 
								if($cattype == 2){
									$catgrp = new CategoryGroup();
									$catgrp->populate($catgroup);
									$cats = $catgrp->getcategoryids();
								}
								$categorydata = explode(',', $cats); // debugMessage($categorydata);
								$row1 = isArrayKeyAnEmptyString(0, $categorydata) ? '' : $categorydata[0];
								$category1 = new Category(); 
								$category1->populate($row1); 
								$cat1options = $category1->getoptionids();
								$cat1options_array = array_remove_empty(explode(',', $cat1options)); // debugMessage($cat1options_array);
								$colspanrow1 = '';
											
								$row2 = isArrayKeyAnEmptyString(1, $categorydata) ? '' : $categorydata[1]; 
								$category2 = new Category(); 
								$category2->populate($row2); 
								$cat2options = $category2->getoptionids();
								$cat2options_array = array_remove_empty(explode(',', $cat2options));
								$colspanrow1 = count($cat2options_array) == 0 ? '' : count($cat2options_array);
								
								$row3 = isArrayKeyAnEmptyString(2, $categorydata) ? '' : $categorydata[2];
								$category3 = new Category(); 
								$category3->populate($row3); 
								$cat3options = $category3->getoptionids();
								$cat3options_array = array_remove_empty(explode(',', $cat3options));
								$colspanrow2 = count($cat3options_array) == 0 ? '' : count($cat3options_array);
								if(!isEmptyString($colspanrow2)){
									$colspanrow1 = count($cat2options_array) * count($cat3options_array);
								}
							}
							
							$attr_name = 'attribute['.$attrid.'][value]'; 
							$attr_id = 'attribute_'.$attrid.'_value';
							$attr_value = '';
							$attr_custom = '';
							$attr_class = array('attribute_'.$attrid, 'useid_error');
							if($entity->getallmandatory() == 1){
								if($attribute->getValueType() == C_LS || $attribute->getValueType() == C_LM){
									$attr_class[] = 'selectrequired';
								} else {
									$attr_class[] = 'inputrequired';
								}
							}
							
							$attr_type = 'attribute['.$attrid.'][type]';
							$type_value = $attribute->getValueType();
							$attr_name_old = 'attribute['.$attrid.'][value_old]';
							$attr_id_old = 'attribute_'.$attrid.'_value_old';
							
							$display_class = array('leftalign', 'blocked');
							
							if($cattype == '0' || isEmptyString($cattype) || ($cattype == '1' && isEmptyString($catcategory))){
								$attr_class[] = 'sector_'.$sector->getID();
							}
							
							// attribute comments
							$hastooltip = false; $tooltip_html = '';
							if($attribute->gethastipcomment() == 1){
								if(!isEmptyString($attribute->gettooltip())){
									$tooltip_html = ' tipbody="'.$attribute->gettooltip().'"';
									$hastooltip = true;
									$attr_class[] = 'hastooltip';
									if(in_array($attribute->getValueType(), array(C_D,C_DT))){
										$attr_class[] = 'datetip';
									}
									if(in_array($attribute->getValueType(), array(C_TM))){
										$attr_class[] = 'tipmargin';
										$attr_custom = ' tipmargin="45"';
									}
									if(in_array($attribute->getValueType(), array(C_DT))){
										$attr_class[] = 'disabledtip';
									}
								}
							}
							
							if($attribute->getValueType() == C_C){
								$attr_name = '';
								$attr_name_lat = 'attribute['.$attrid.'][value_lat]';
								$attr_name_lng = 'attribute['.$attrid.'][value_lng]';
							}
							if($attribute->getValueType() == C_DT){
								$attr_name = '';
								$attr_name_date = 'attribute['.$attrid.'][value_date]';
								$attr_name_time = 'attribute['.$attrid.'][value_time]';
							}
							
							// select attributes where applicable 
							$optionlist = array();
							if($attribute->getValueType() == C_LS || $attribute->getValueType() == C_LM){
								if(!isEmptyString($attribute->getsystemattr())){
									 $params = array();
									 if($attribute->getsystemattr() == 2){
										 // $params = array(12);
									 }
									 $optionlist = getOptionValuesForSystemAttribute($attribute->getsystemattr(), $params);
									 // add max width attribute
									 if(in_array($attribute->getsystemattr(), array(1, 2, 4, 5, 6))){
										 
									 } else {
										 $attr_class[] = 'width250';
									 }
									 // add chosen select
									 if(in_array($attribute->getsystemattr(), array(1, 2, 4, 5, 6,8,9))){
										 
									 }
									 $attr_class[] = 'maxwidth';
									 $attr_class[] = 'chosen-select';
								} else {
									if($attribute->getValueType() == C_LS){
										$attr_class[] = 'width250';
									}
									if($attribute->getValueType() == C_SM){
										$attr_class[] = 'chosen-select';
									}
								}
								
								if(!isEmptyString($attribute->getOptionID())){
									$selectedoptions = getDataCategoryOptions(false, $attribute->getOptionCategory()->getOptionIDs());
									$optionlist = sortArrayByArray($selectedoptions, explode(',', $attribute->getOptionCategory()->getOptionIDs()));
								}
								
							}
							
							// fetch existing records
							if($tabv == 'dataentry' || $isview){
								$records = array();
								if(!isEmptyString($result->getID())){
									$query = "select d.* from data_set_result_detail d inner join data_set_result_summary s on d.resultid = s.id where d.resultid = '".$result->getID()."' AND d.datasetid = '".$result->getDatasetID()."' AND d.elementid = '".$attrid."' ";
									$records = $conn->fetchAll($query); 
									$attr_value = '';
									if(count($records) > 0){
										foreach($records as $key => $resultitem){
											if(isEmptyString($resultitem['optionids'])){
												$attr_value = $resultitem['result'];
											}
										}
										
										include APPLICATION_PATH.'/views/scripts/dataset/viewcode.phtml';
									}
								}
							}
							
							
                        ?>
                        <tr id="element_<?php echo $attribute->getID(); ?>">
                            <td class="<?php echo $request->pdf == '1' ? '' : 'nowrapping'; ?>" <?php echo $request->pdf == '1' ? '' : 'style="min-width:150px; font-weight:bold; vertical-align:top;"'; ?>><?php echo !$showfieldname ? '' : $attribute->getName(); ?>:
                            	<input type="hidden" id="<?php echo $attr_id; ?>_type" name="<?php echo $attr_type; ?>" value="<?php echo $type_value; ?>" />
                            </td>
                            <td class="<?php echo $request->pdf == '1' ? '' : 'nowrapping'; ?>" <?php echo $request->pdf == '1' || $isprint ? 'style="width:70%;"' : 'style="min-width:200px !important; width:auto; max-width:600px;"'; ?>>
                           		<?php include APPLICATION_PATH.'/views/scripts/dataset/basicattr.phtml'; ?>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
   		</div>
   	</div>
</div>