<?php if($action == 'greyfields'){ ?>
    <div class="radio radio-inline lineblocked" style="margin-left:1px;">
        <input type="radio" id="attribute_<?php echo $attribute->getID(); ?>_1" name="attributes[<?php echo $attribute->getID(); ?>][0]" value="1" <?php echo !in_array($attribute->getID(), $disabledlist) ? 'checked' : ''; ?>>
        <label for="attribute_<?php echo $attribute->getID(); ?>_1"> Enabled</label>
    </div>
    <div class="radio radio-inline lineblocked" style="margin-left:1px;">
        <input type="radio" id="attribute_<?php echo $attribute->getID(); ?>_0" name="attributes[<?php echo $attribute->getID(); ?>][0]" value="0" <?php echo in_array($attribute->getID(), $disabledlist) ? 'checked' : ''; ?>>
        <label for="attribute_<?php echo $attribute->getID(); ?>_0"> Disabled</label>
    </div>
<?php } ?>
<?php if($cattype == '0' || isEmptyString($cattype) || ($cattype == '1' && isEmptyString($catcategory))){ ?>
	<?php if($tabv == 'dataentry' || $isview){ ?>
        <div style="display:inline-block; min-width:120px; white-space:normal; <?php echo $request->pdf == '1' ? 'text-align:center;' : ''; ?>"><?php include APPLICATION_PATH.'/views/scripts/dataset/htmlcontrols.phtml'; ?></div>
    <?php } ?>
<?php } else { ?>
    <?php if(count($cat1options_array) > 0 && count($categorydata) == 1){ ?>
        <table class="table table-bordered nohover table-condensed" style="width:auto;">
			<?php
                $inc = 1;
                foreach($cat1options_array as $opt1id){ 
                    $option1 = new CategoryOption(); 
                    $option1->populate($opt1id); 
                    
                    $attr_name = 'attribute['.$attrid.'][value]['.$opt1id.']';
                    $attr_id = 'attribute_'.$attrid.'_'.$opt1id.'_value';
                    $attr_value = '';
                    //$attr_class = '';
                    if(in_array($attribute->getValueType(), unserialize(NUMBER_TYPES))){
                        $lnclass = 'option_'.$opt1id;
                        if($inc == 1){
                            $attr_class[] = $lnclass;
                        } else {
                            $last = array_slice($attr_class, -1);
                            if(stringContains('option_', $last[0])){
                                unset($attr_class[end(array_keys($attr_class))]);
                                $attr_class[] = $lnclass;
                            }
                        }
                        
                        /* ignore display center for view */
                    }
                    
                    if($attribute->getValueType() == C_C){
                        $attr_name = '';
                        $attr_name_lat = 'attribute['.$attrid.'][value_lat]['.$opt1id.']';
                        $attr_name_lng = 'attribute['.$attrid.'][value_lng]['.$opt1id.']';
                    }
                    if($attribute->getValueType() == C_DT){
                        $attr_name = '';
                        $attr_name_date = 'attribute['.$attrid.'][value_date]['.$opt1id.']';
                        $attr_name_time = 'attribute['.$attrid.'][value_time]['.$opt1id.']';
                    }
                    
                    $attr_name_old = 'attribute['.$attrid.'][value_old]['.$opt1id.']';
                    $attr_id_old = 'attribute_'.$attrid.'_'.$opt1id.'_value_old';
    
                    $attr_value = '';
                    if(count($records) > 0){
                        foreach($records as $key => $resultitem){
                            if($opt1id == $resultitem['optionids']){
                                $attr_value = $resultitem['result'];
                            }
                        }
                        include APPLICATION_PATH.'/views/scripts/dataset/viewcode.phtml';
                    }
            ?>
            <tr>
                <td style="min-width:100px; white-space:normal;"><?php echo $option1->getName(); ?></td>
                <td style="min-width:300px;">
                    <?php include APPLICATION_PATH.'/views/scripts/dataset/htmlcontrols.phtml'; ?>
                </td>
            </tr>
        	<?php $inc++;} ?>
            <?php if($sector->getshowcolumntotal() == 1 && $sector->getCategoryType() == '0'){ ?>
            	<tr>
                    <td class="bolded">Total</td>
                    <td class="centeralign">
						<?php if(!$isprint){ ?>
                        	<span id="attribute_<?php echo $attribute->getID(); ?>_coltotal">0</span>
                        <?php } ?>
                   	</td>
                </tr>
            <?php } ?>
        </table>
    <?php } ?>
<?php } ?>
<?php if($cattype == '2'){ ?>
    <?php if(!isEmptyString($row2) && count($categorydata) == 2){ ?>
        <table class="table table-bordered nohover table-condensed" style="width:auto;">
        <?php
            foreach($cat1options_array as $opt1id){ 
                $option1 = new CategoryOption(); 
                $option1->populate($opt1id); 
        ?>
            <?php
                $inc = 1;
                foreach($cat2options_array as $opt2id){ 
                    $option2 = new CategoryOption(); 
                    $option2->populate($opt2id); // echo 'test';
                    
                    $attr_name = 'attribute['.$attrid.'][value]['.$opt1id.'][value]['.$opt2id.']';
                    $attr_id = 'attribute_'.$attrid.'_'.$opt1id.'_'.$opt2id.'_value';
                    $attr_value = '';
                    if(in_array($attribute->getValueType(), unserialize(NUMBER_TYPES))){
                        $lnclass = 'option_'.$opt1id.'_'.$opt2id;
                        if($inc == 1){
                            $attr_class[] = $lnclass;
                        } else {
                            $last = array_slice($attr_class, -1);
                            if(stringContains('option_', $last[0])){
                                unset($attr_class[end(array_keys($attr_class))]);
                                $attr_class[] = $lnclass;
                            }
                        }
                        /* ignore display center for view */
                    }
                    
                    $attr_name_old = 'attribute['.$attrid.'][value]['.$opt1id.'][value_old]['.$opt2id.']';
                    $attr_id_old = 'attribute_'.$attrid.'_'.$opt1id.'_'.$opt2id.'_value_old';
                    
                    $attr_value = '';
                    if(count($records) > 0){
                        foreach($records as $key => $resultitem){
                            if($resultitem['optionids'] == $opt1id.'.'.$opt2id){
                                $attr_value = $resultitem['result'];
                            }
                        }
                        include APPLICATION_PATH.'/views/scripts/dataset/viewcode.phtml';
                    }
            ?>
                
                <tr>
                    <td style="min-width:100px; white-space:normal;"><?php echo $option1->getName().' > '.$option2->getName(); ?></td>
                    <td style="min-width:300px;"><?php include APPLICATION_PATH.'/views/scripts/dataset/htmlcontrols.phtml'; ?></td>
                </tr>
            <?php $inc++;} ?>    
            
        <?php } ?>
        </table>
    <?php } ?>
    <?php if(!isEmptyString($row3) && count($categorydata) == 3){ ?>
        <!--<i class="alert alert-warning">Warning: It is recommended that you configure a separate section for this attribute!</i>-->
        <table class="table table-bordered nohover table-condensed" style="width:auto;">
        <?php
            foreach($cat1options_array as $opt1id){ 
                $option1 = new CategoryOption(); 
                $option1->populate($opt1id); 
        ?>
            <?php
                foreach($cat2options_array as $opt2id){ 
                    $option2 = new CategoryOption(); 
                    $option2->populate($opt2id);
                
                    $attr_name = 'attribute['.$attrid.'][value]['.$opt1id.'][value]['.$opt2id.'][value]['.$opt3id.']';
                    $attr_id = 'attribute_'.$attrid.'_'.$opt1id.'_'.$opt2id.'_'.$opt3id.'_value';
                    $attr_value = '';
                    if(in_array($attribute->getValueType(), unserialize(NUMBER_TYPES))){
                        $attr_class[] = 'option_'.$opt3id;
                        /* ignore display center for view */
                    }
                    
                    $attr_name_old = 'attribute['.$attrid.'][value]['.$opt1id.'][value]['.$opt2id.'][value_old]['.$opt3id.']';;
                    $attr_id_old = 'attribute_'.$attrid.'_'.$opt1id.'_'.$opt2id.'_value_old';
                    
                    $attr_value = '';
                    if(count($records) > 0){
                        foreach($records as $key => $resultitem){
                            if($resultitem['optionids'] == $opt1id.'.'.$opt2id.'.'.$opt3id){
                                $attr_value = $resultitem['result'];
                            }
                        }
                        include APPLICATION_PATH.'/views/scripts/dataset/viewcode.phtml';
                    }
                ?>
                <?php
                    foreach($cat3options_array as $opt3id){ 
                        $option3 = new CategoryOption(); 
                        $option3->populate($opt3id); 
                ?>
                    <tr>
                        <td style="min-width:100px; white-space:normal;"><?php echo $option1->getName().' > '.$option2->getName().' > '.$option3->getName(); ?></td>
                        <td style="min-width:300px;"><?php include APPLICATION_PATH.'/views/scripts/dataset/htmlcontrols.phtml'; ?></td>
                    </tr>
                <?php } ?>
            <?php } ?>    
        <?php } ?>
        </table>
    <?php } ?>         
<?php } ?>