<div class="row">
	<?php 
		$projecttypes = getDatavariables('PROJECT_TYPES');
		$currencies = getDatavariablesWithOdering("CURRENCIES");
		$program_units = getProgramUnits(); 
		
		$currentfy = getActiveMilestone(); $currentqtr = getActiveMilestone(2);
		$milestone = new MilestonePeriod(); 
		$milestone->populate($currentfy); // debugMessage($milestone->toArray());
		$fystart = $milestone->getStartDate();
		$fyend = $milestone->getEndDate();
		//$cpstart = '2016-07-01';
		//$cpend = '2021-06-30';
		
		$period_array = isEmptyString($result->getID()) ? trim($request->period) : $result->getPeriod(); 
		$starting = substr($period_array, 0, 7);
		if(!isEmptyString($starting)){
			if(strlen($starting) == 7){
				$starting .= '-01';
			} else { 
				$starting = substr($period_array, 0, 4).'-07-01';
			}
		}
		
		$milestoneid = getMilestoneFromPeriod($starting);  
		
		$periodmilestone = new MilestonePeriod(); 
		$periodmilestone->populate($milestoneid); // debugMessage('1st>>'.$starting);
		
		$quarterid = getMilestoneFromPeriod($starting, 2); 
		if($result->getID()){
			$result->setMilestoneID($quarterid);
		}
		$quartermilestone = new MilestonePeriod();
		$quartermilestone->populate($quarterid);
		$periodstart = $starting;
		$periodend = $quartermilestone->getEndDate(); //debugMessage($periodstart.'>>'.$periodend);
		// $selectperiod = '2017-07,2017-09';
		// $periodstart = '2017-07-01'; $periodend = '2017-09-31';
		$quarter = $quartermilestone->getType();
		if(isEmptyString($result->getQuarter())){
			$result->setQuarter($quarter);
		}
		
		$m = date('m', strtotime($periodstart)); $y = date('Y', strtotime($periodstart));
		$secondmonth_start = getFirstDayOfMonth($m+1, $y); // debugMessage('2nd >>'.$secondmonth_start);
		$thirdmonth_start = getFirstDayOfMonth($m+2, $y); // debugMessage('3nd >>'.$thirdmonth_start);
		
		$pquery = "SELECT p.id, p.refno, p.title, p.type, p.cost, p.currency, SUM(NULLIF(d.annualbudget, 0)) as annualbudget, SUM(NULLIF(d.periodbudget, 0)) as periodbudget, SUM(NULLIF(d.cost_1, 0)) as cost_1, SUM(NULLIF(d.cost_2, 0)) as cost_2, SUM(NULLIF(d.cost_3,0)) as cost_3
		from project p
		left join data_set_result_projectcost d on d.projectid = p.id AND d.datasetid = '".$entity->getID()."' AND d.resultid = '".$result->getID()."' 
		where (TO_DAYS('".$periodstart."') BETWEEN TO_DAYS(p.startdate) AND TO_DAYS(p.enddate)) AND 
(TO_DAYS('".$periodend."') BETWEEN TO_DAYS(p.startdate) AND TO_DAYS(p.enddate)) group by p.id order by p.refno asc "; // debugMessage($pquery);
		$conn = Doctrine_Manager::connection(); 
		$projects = $conn->fetchAll($pquery); // debugMessage($result); exit;
	?>
    <div class="col-md-12">
		<div class="panel panel-color xpanel-primary">
			<div class="panel-heading fieldsetwrapper hide">
				<h3 class="panel-title section" style="font-size:13px !important;">Quarterly Project Cost Update</h3>
			</div>
			<div class="panel-body p-t-0" style="min-height:300px;">
				<div class="divider5"></div>
				<?php if(!isEmptyString($result->getID())){ 
					$periodlabel = 'Period'; $singleperiod = false;
					if(in_array($entity->getPeriodType(), array(1,13,14))){
						$periodlabel = 'Result Date';
						$singleperiod = true;
					}
                ?>
                	<div class="form-group" <?php echo $request->pdf == 1 ? 'style="margin-left:15px;"' : 'style=""'; ?>><label class="control-label inlinelabel"><?php echo $periodlabel; ?>:</label><span class="inlinelabel nullifempty"><?php echo $result->getPeriodLabel(); ?></span></div>
                <?php } ?>
               
               <div class="col-sm-6 padding0">
               		<span class="text-muted" style="font-size:12px;">Viewing estimates for <?php echo count($projects); ?> active project bundles</span>
					
               </div>
               <div class="col-sm-6">
               		<?php if($isview){ ?>
                    	<div class="row floatright">
                            <span class="label label-white">Key</span>
                            <span class="label label-default" style="color: #fff; background: #009933;">Below Budget (<50%)</span>
                            
                            <span class="label label-success" style="color: #000; background: #FFFF00;">Within Budget (50-75%)</span>
                            <span class="label label-warning" style="color: #fff; background: #FF0000;">Running Out (>75%)</span>
                        </div>
                    <?php } ?>
               </div>
                <div class="col-sm-12 padding0">
                	<?php if(!$isview){ ?>
                    	<input type="hidden" id="quarter" name="quarter" value="<?php echo $result->getQuarter(); ?>" />
                    <?php } ?>
                   	<div class="<?php echo $isprint ? 'x' : 'table-responsive'; ?>" data-pattern="priority-columns">                  
                        <table id="listtable" class="table table-colored table-primary table-bordered table-striped table-condensed">
                        	<thead style="font-weight:bold;">
                				<th class="nowrapping">Bundle No#</th>
                                <th class="nowrapping">Grant/Project Outline</th>
                                <th class="nowrapping">Type</th>
                                <th class="nowrapping">Currency</th>
                                <?php if($quarter == 1){ ?>
                                    <th class="nowrapping">Total Budget<br /><?php echo str_replace('20', '', $periodmilestone->getName()); ?> </th>
                                <?php } ?>
                                <th class="nowrapping">Q<?php echo $quarter; ?> Budget <br /><?php echo date('M', strtotime($periodstart)); ?> - <?php echo date('M', strtotime($thirdmonth_start)); ?> <?php echo date('Y', strtotime($thirdmonth_start)); ?></th>
                                <th class="nowrapping">Spend<br /><?php echo date('M y', strtotime($periodstart)); ?></th>
                                <th class="nowrapping">Spend<br /><?php echo date('M y', strtotime($secondmonth_start)); ?></th>
                                <th class="nowrapping">Spend<br /><?php echo date('M y', strtotime($thirdmonth_start)); ?></th>
                                <?php if($isview){ ?>
                                    <th class="nowrapping">Spend<br />Total</th> 
                                    <th class="nowrapping">Spend<br />Variance</th>
                                    <th class="nowrapping">%age Spend<br />(In Quarter)</th>  
                                <?php } ?>
                            </thead>
                            <tbody style="font-size:12px !important;">
                            	<?php foreach($projects as $line){ 
                                    $class = '';
                                    $e = $line['id'];
                                    
									$annualbudget = $line['annualbudget'];
                                    $periodbudget = $line['periodbudget'];
                                    $cost_1 = $line['cost_1'];
                                    $cost_2 = $line['cost_2'];
                                    $cost_3 = $line['cost_3'];
									
                                    $po_query = "SELECT po.id, po.refno, '' as title, po.program_unit, '".$line['refno']."' as cost, '".$line['currency']."' as currency, NULLIF(dp.annualbudget,0) as annualbudget, NULLIF(dp.periodbudget, 0) as periodbudget, NULLIF(dp.cost_1, 0) as cost_1, NULLIF(dp.cost_2, 0) as cost_2, NULLIF(dp.cost_3, 0) as cost_3
									from project_outline po 
									left join data_set_result_projectcost dp on dp.projectid = po.projectid AND dp.datasetid = '".$entity->getID()."' AND dp.resultid = '".$result->getID()."' AND dp.poid = po.program_unit
									where (TO_DAYS('".$periodstart."') BETWEEN TO_DAYS(po.startdate) AND TO_DAYS(po.enddate)) AND 
    (TO_DAYS('".$periodend."') BETWEEN TO_DAYS(po.startdate) AND TO_DAYS(po.enddate)) AND po.projectid = '".$line['id']."' group by po.projectid, po.program_unit order by po.refno asc ";
                                    $poresult = $conn->fetchAll($po_query); // debugMessage($poresult);
                                    
									$posuffix = "";
                                    if(count($poresult) == 1){
                                        $poid = $poresult[0]['program_unit']; 
                                        
                                        $poname = isArrayKeyAnEmptyString($poid, $program_units) ? '' : $program_units[$poid];
                                        $posuffix = '<br>'.$poresult[0]['refno'].' - '.$poname;
                                    }
									
									$totalspend_qr = $cost_1+$cost_2+$cost_3;
									$diff = $periodbudget == 0 || isEmptyString($periodbudget) ? 0 : $periodbudget - $totalspend_qr;
									$spendprogress = $periodbudget == 0 || isEmptyString($periodbudget) ? 0 : formatNum(($totalspend_qr / $periodbudget) * 100);
									$def_color = 'FFFFFF;';  $txt_color = '00000';
									if($spendprogress >= 75){
										$def_color = 'FF0000;';
										$txt_color = 'ffffff';
									}
									if($spendprogress > 50 && $spendprogress < 75){
										$def_color = 'FFFF00;';
										$txt_color = '000000';
									}
									if($spendprogress < 50){
										$def_color = '009933;';
										$txt_color = 'ffffff';
									}
									
                                ?>
                                	<?php if($isview){ ?>
                                    	<tr class="<?php echo $class; ?> row_input_<?php echo $e; ?>" id="row_input_<?php echo $e; ?>">
                                            <td><?php echo $line['refno']; ?></td>
                                            <td class="bolded"><?php echo $line['title'].$posuffix; ?></td>
                                            <td><?php echo isArrayKeyAnEmptyString($line['type'], $projecttypes) ? '' : $projecttypes[$line['type']]; ?></td>
                                            <td class="centeralign"><?php echo isArrayKeyAnEmptyString($line['currency'], $currencies) ? '' : $currencies[$line['currency']]; ?></td>
                                            <?php if($quarter == 1){ ?>
                                                <td class="rightalign"><?php echo formatNum($annualbudget); ?></td>
                                            <?php } ?>
                                            <td class="rightalign"><?php echo formatNum($periodbudget); ?></td>
                                            <td class="rightalign"><?php echo formatNum($cost_1); ?></td>
                                            <td class="rightalign"><?php echo formatNum($cost_2); ?></td>
                                            <td class="rightalign"><?php echo formatNum($cost_3); ?></td>
                                            <td class="rightalign bolded" style="color:#<?php echo $txt_color; ?>; background:#<?php echo $def_color; ?>"><?php echo formatNum($totalspend_qr); ?></td>
                                            <td class="rightalign" style="color:#<?php echo $txt_color; ?>; background:#<?php echo $def_color; ?>"><?php echo formatNum($diff); ?></td>
                                            <td class="rightalign bolded" style="color:#<?php echo $txt_color; ?>; background:#<?php echo $def_color; ?>"><?php echo $spendprogress; ?></td>
                                        </tr>
                                    
										<?php if(count($poresult) > 1){ ?>
                                            <?php 
                                                $counter = 1;
                                                foreach($poresult as $pline){ 
                                                    $poid = $pline['program_unit'];
                                                    $poname = isArrayKeyAnEmptyString($poid, $program_units) ? '' : $program_units[$poid];
                                                    $polabel = '<br>'.$pline['refno'].' - '.$poname;
													
													$pannualbudget = $pline['annualbudget'];
													$pperiodbudget = $pline['periodbudget'];
													$pcost_1 = $pline['cost_1'];
													$pcost_2 = $pline['cost_2'];
													$pcost_3 = $pline['cost_3'];
													
													$ptotalspend_qr = $pcost_1+$pcost_2+$pcost_3;
													$pdiff = $pperiodbudget == 0 || isEmptyString($pperiodbudget) ? 0 : $pperiodbudget - $ptotalspend_qr;
                                            ?>
                                                <tr class="<?php echo $class; ?> row_input_<?php echo $e; ?>" id="row_input_<?php echo $e; ?>">
                                                    <td style="font-size:10px; font-style:italic;"><?php echo $line['refno']; ?></td>
                                                    <td style="font-size:10px; font-style:italic; vertical-align:top !important;"><?php echo $polabel; ?></td>
                                                    <td style="padding:2px !important;"></td>
                                                    
                                                    <?php if($quarter == 1){ ?>
                                                    	<td class="centeralign"></td>
                                                    <?php } ?>
                                                    <td class="rightalign" style="font-size:10px; font-style:italic; vertical-align:top !important;"><?php echo formatNum($pannualbudget); ?></td>
                                                    <td class="rightalign" style="font-size:10px; font-style:italic; vertical-align:top !important;"><?php echo formatNum($pperiodbudget); ?></td>
                                                    <td class="rightalign" style="font-size:10px; font-style:italic; vertical-align:top !important;"><?php echo formatNum($pcost_1); ?></td>
                                                    <td class="rightalign" style="font-size:10px; font-style:italic; vertical-align:top !important;"><?php echo formatNum($pcost_2); ?></td>
                                                    <td class="rightalign" style="font-size:10px; font-style:italic; vertical-align:top !important;"><?php echo formatNum($pcost_3); ?></td>
                                                    <td class="rightalign" style="font-size:10px; font-style:italic; vertical-align:top !important;"><?php echo formatNum($ptotalspend_qr); ?></td>
                                            		<td class="rightalign" style="font-size:10px; font-style:italic; vertical-align:top !important;"><?php echo formatNum($pdiff); ?></td>
                                            		<td class="rightalign" style="font-size:10px; font-style:italic; vertical-align:top !important;"><?php echo $pperiodbudget == 0 || isEmptyString($pperiodbudget) ? 0 : formatNum(($ptotalspend_qr / $pperiodbudget) * 100); ?></td>
                                                </tr>
                                            <?php $counter++; } ?>
                                        <?php } ?>
                                    <?php } else { ?>
                                    	<tr class="<?php echo $class; ?> row_input_<?php echo $e; ?>" id="row_input_<?php echo $e; ?>">
                                            <td><?php echo $line['refno']; ?>
                                                <input type="hidden" id="noofoutlines" name="details[<?php echo $e; ?>][noofoutlines]" value="<?php echo count($poresult); ?>" />
                                                <input type="hidden" name="details[<?php echo $e; ?>][projectid]" id="projectid_<?php echo $e; ?>" value="<?php echo $line['id']; ?>" />
                                            </td>
                                            <td class="bolded"><?php echo $line['title'].$posuffix; ?>
                                                <?php if(count($poresult) == 1){ ?>
                                                    <input type="hidden" name="details[<?php echo $e; ?>][poid]" id="poid_<?php echo $e; ?>" value="<?php echo $poid; ?>" />
                                                <?php } ?>
                                            </td>
                                            <td><?php echo isArrayKeyAnEmptyString($line['type'], $projecttypes) ? '' : $projecttypes[$line['type']]; ?></td>
                                            <td class="centeralign"><?php echo isArrayKeyAnEmptyString($line['currency'], $currencies) ? '' : $currencies[$line['currency']]; ?></td>
                                            <?php if($quarter ==' 1'){ ?>
                                                <td class="rightalign">
                                                    <input type="text" class="form-control input-sm inline isdecimal rightalign width100 <?php echo count($poresult) > 1 ? 'readonly' : ''; ?>" name="details[<?php echo $e; ?>][annualbudget]" id="annualbudget_<?php echo $e; ?>" value="<?php echo $annualbudget; ?>" />
                                                    <div id="annualbudget_<?php echo $e; ?>_error"></div>
                                                </td>
                                            <?php } ?>
                                            <td><input type="text" class="form-control input-sm inline isdecimal rightalign width100 <?php echo count($poresult) > 1 ? 'readonly' : ''; ?>" name="details[<?php echo $e; ?>][periodbudget]" id="periodbudget_<?php echo $e; ?>" value="<?php echo $periodbudget; ?>" />
                                                <div id="periodbudget_<?php echo $e; ?>_error"></div>
                                            </td>
                                            <td><input type="text" class="form-control input-sm inline isdecimal rightalign width100 <?php echo count($poresult) > 1 ? 'readonly' : ''; ?>" name="details[<?php echo $e; ?>][cost_1]" id="cost_1_<?php echo $e; ?>" value="<?php echo $cost_1; ?>" />
                                                <div id="cost_1_<?php echo $e; ?>_error"></div>
                                            </td>
                                            <td><input type="text" class="form-control input-sm inline isdecimal rightalign width100 <?php echo count($poresult) > 1 ? 'readonly' : ''; ?>" name="details[<?php echo $e; ?>][cost_2]" id="cost_2_<?php echo $e; ?>" value="<?php echo $cost_2; ?>" />
                                                <div id="cost_2_<?php echo $e; ?>_error"></div>
                                            </td>
                                            <td><input type="text" class="form-control input-sm inline isdecimal rightalign width100 <?php echo count($poresult) > 1 ? 'readonly' : ''; ?>" name="details[<?php echo $e; ?>][cost_3]" id="cost_3_<?php echo $e; ?>" value="<?php echo $cost_3; ?>" />
                                                <div id="cost_3_<?php echo $e; ?>_error"></div>
                                            </td>
                                        </tr>
                                    
										<?php if(count($poresult) > 1){ ?>
                                            <?php 
                                                $counter = 1;
                                                foreach($poresult as $pline){ 
                                                    $poid = $pline['program_unit'];
                                                    $poname = isArrayKeyAnEmptyString($poid, $program_units) ? '' : $program_units[$poid];
                                                    $polabel = '<br>'.$pline['refno'].' - '.$poname;
													
													$annualbudget = $pline['annualbudget'];
													$periodbudget = $pline['periodbudget'];
													$cost_1 = $pline['cost_1'];
													$cost_2 = $pline['cost_2'];
													$cost_3 = $pline['cost_3'];
                                            ?>
                                                <tr class="<?php echo $class; ?> row_input_<?php echo $e; ?>" id="row_input_<?php echo $e; ?>">
                                                    <td style="font-size:10px; font-style:italic;">
                                                        <?php echo $line['refno']; ?>
                                                        <input type="hidden" name="details[<?php echo $e; ?>][projectid]" id="projectid_<?php echo $e; ?>_<?php echo $counter; ?>" value="<?php echo $line['id']; ?>" />
                                                        <input type="hidden" name="details[<?php echo $e; ?>][lineid_<?php echo $counter; ?>]" id="lineid_<?php echo $e; ?>_<?php echo $counter; ?>" value="<?php echo $pline['id']; ?>" />
                                                        <input type="hidden" name="details[<?php echo $e; ?>][id_<?php echo $counter; ?>]" id="id_<?php echo $e; ?>_<?php echo $counter; ?>" value="<?php // echo $line['id']; ?>" />
                                                    </td>

                                                    <td style="font-size:10px; font-style:italic; vertical-align:top !important;"><?php echo $polabel; ?>
                                                        <input type="hidden" name="details[<?php echo $e; ?>][poid_<?php echo $counter; ?>]" id="poid_<?php echo $e; ?>_<?php echo $counter; ?>" value="<?php echo $poid; ?>" />
                                                    </td>
                                                   
                                                   	<td style="padding:2px !important;"></td>
                                                    <td class="centeralign"></td>
                                                    <?php if($quarter ==' 1'){ ?>
                                                        <td class="rightalign">
                                                            <input type="text" class="form-control input-sm inline isdecimal rightalign width100" name="details[<?php echo $e; ?>][annualbudget_<?php echo $counter; ?>]" id="annualbudget_<?php echo $e; ?>_<?php echo $counter; ?>" value="<?php echo $annualbudget; ?>" />
                                                            <div id="annualbudget_<?php echo $e; ?>_<?php echo $counter; ?>_error"></div>
                                                        </td>
                                                    <?php } ?>
                                                    <td><input type="text" class="form-control input-sm inline isdecimal rightalign width100" name="details[<?php echo $e; ?>][periodbudget_<?php echo $counter; ?>]" id="periodbudget_<?php echo $e; ?>_<?php echo $counter; ?>" value="<?php echo $periodbudget; ?>" />
                                                        <div id="periodbudget_<?php echo $e; ?>_<?php echo $counter; ?>_error"></div>
                                                    </td>
                                                    <td><input type="text" class="form-control input-sm inline isdecimal rightalign width100" name="details[<?php echo $e; ?>][cost_1_<?php echo $counter; ?>]" id="cost_1_<?php echo $e; ?>_<?php echo $counter; ?>" value="<?php echo $cost_1; ?>" />
                                                        <div id="cost_1_<?php echo $e; ?>_<?php echo $counter; ?>_error"></div>
                                                    </td>
                                                    <td><input type="text" class="form-control input-sm inline isdecimal rightalign width100" name="details[<?php echo $e; ?>][cost_2_<?php echo $counter; ?>]" id="cost_2_<?php echo $e; ?>_<?php echo $counter; ?>" value="<?php echo $cost_2; ?>" />
                                                        <div id="cost_2_<?php echo $e; ?>_<?php echo $counter; ?>_error"></div>
                                                    </td>
                                                    <td><input type="text" class="form-control input-sm inline isdecimal rightalign width100" name="details[<?php echo $e; ?>][cost_3_<?php echo $counter; ?>]" id="cost_3_<?php echo $e; ?>_<?php echo $counter; ?>" value="<?php echo $cost_3; ?>" />
                                                        <div id="cost_3_<?php echo $e; ?>_<?php echo $counter; ?>_error"></div>
                                                    </td>
                                                </tr>
                                            <?php $counter++; } ?>
                                        <?php } ?>
                                    <?php } ?>
                                        
                                <?php } ?>
                            </tbody>
                      	</table>
                   	</div>
                </div>
			</div>
		</div>
	</div>
</div>