<?php 
	$button_title = "Submit";
	$showsave = true;
	
	$isview = false;
	if(($controller == 'dataentry' && $action == 'view') || ($controller == 'dataentry' && $request->section == 'details') || ($request->tab == 'data' && $request->widget == 'submissions' && $request->section == 'viewresult')){
		$showsave = false;
		$isview = true;
	}
	if($isprint){
		$showsave = false;
	}
	
	$issubmission = false;
	if($tabv == 'dataentry'){
		$issubmission = true;	
	}
	
	$attributeids = $entity->getelementids();
	$attributes_array = array_remove_empty(explode(',', str_replace(' ', '', $attributeids))); // debugMessage($attributes_array);
	$noofattributes = count($attributes_array); 
	if($entity->getFormType() == 1){
		$sector = new DatasetSection();
		if($noofattributes == 0){
			$showsave = false;
		}
	}
	
	$sections = $entity->getSectionDetails(); // debugMessage($entity->toArray());
	$noofsections = $sections->count();
	if($entity->getFormType() == 2){
		if($noofsections == 0 && !$entity->isPreBuilt()){
			$showsave = false;
		}
	}
	$dataentrytitle = $entity->getName();
	if(!isEmptyString($result->getPeriod())){
		if($entity->getPeriodType() == 4){
			$dataentrytitle .= ' ('.date('F Y', strtotime($result->getPeriod())).')';	
		}
	}
	
	
	if($entity->isPreBuilt() && $entity->getID() == 40 && !isEmptyString($result->getID()) && !$isview){
		$showsave = true;
	}
	// debugMessage('test');
	//exit;
?>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default panel-border hideborderonprint" style="padding-bottom:0; margin-bottom:0;">
            <?php if($isview != true){ ?>
            <div class="panel-heading">
                <h3 class="panel-title text-dark"><?php echo $dataentrytitle; ?></h3>
				<?php if(($controller == 'dataset' && $request->tab == 'dataentry') || ($request->tab == 'data')){ ?> 
                    <div class="portlet-widgets lineblocked floatright hideonprint" style="margin-top:-10px;">
                        <a class="btn btn-primary btn-xs" href="<?php echo stripUrl($this->viewurl).'/print/1'; ?>" target="_blank"  title="Print Preview"><i class="fa fa-print"></i> Print</a>
                    </div>
                <?php } ?>
            </div>
            <?php } ?>
            <div class="panel-body noleftprintpadding" style="padding-bottom:0; margin-bottom:0;">
            	<?php if($request->exists == '1'){ ?>
            		<i class="pagedescription alert alert-warning blocked clearfix">Entry already exists</i>
                    <div class="divider10"></div>
				<?php } ?>
                <?php if($result->isSubmitted() && $result->getDataset()->getHasworkflow() == 1){ ?>
            		<i class="pagedescription alert alert-warning blocked clearfix">This entry is <?php echo $result->getDataset()->isMultiStep() ? 'still' : ''; ?> pending approval</i>
                    <div class="divider10"></div>
				<?php } ?>
                <?php if($controller == 'dataentry' || ($controller == 'project' && ($request->widget == 'list' || isEmptyString($request->widget)))){ ?>
					<?php ob_start(); ?>
                        <a class="btn btn-default btn-sm cancel gonowhere" type="button"><?php echo $this->translate('global_button_cancel'); ?></a>
                        <?php if($entity->getallowdrafts() == 1){ ?>
                        	<button class="btn btn-primary btn-sm btn-green savebutton changesuccessurl draftbutton" successurl="<?php echo encode($draftsuccessurl); ?>" type="submit">Save as Draft</button>
                        <?php } ?>
                        <button type="submit" class="btn btn-primary btn-sm savebutton nosuccess waves-effect waves-light submitbutton" successurl="<?php echo encode($successurl); ?>" status="<?php echo $entity->gethasworkflow() == 1 ? 2 : 3; ?>"><?php echo $button_title; ?></button> 
                    <?php $actionshtml = ob_get_clean(); ?>
                	<?php if($showsave){ ?>
                    	<input name="entityname" id="entityname" type="hidden" value="<?php echo $entityname; ?>" />
                        <input type="hidden" id="id" name="id" value="<?php echo encode($result->getID()); ?>" />
                        <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" /> 
                        <input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($successurl); ?>" /> 
                        <input type="hidden" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" value="<?php echo encode($failureurl); ?>" />
                        <input type="hidden" id="nosuccessid" name="nosuccessid" value="1" /> 
                        
                        <input type="hidden" id="status" name="status" value="<?php echo $result->getStatus(); ?>" /> 
                        <input type="hidden" id="status_old" name="status_old" value="<?php echo $result->getStatus(); ?>" /> 
                        <input type="hidden" id="submittedbyid" name="submittedbyid" value="<?php echo $result->getsubmittedbyid(); ?>" /> 
                        <input type="hidden" id="datasetid" name="datasetid" value="<?php echo $result->getdatasetid(); ?>" /> 
                        <input type="hidden" id="milestoneid" name="milestoneid" value="<?php echo $result->getMilestoneID(); ?>" /> 
                        <input type="hidden" id="projectid" name="projectid" value="<?php echo $result->getprojectid(); ?>" /> 
                        <input type="hidden" id="activityid" name="activityid" value="<?php echo $result->getactivityid(); ?>" />
                        <input type="hidden" id="groupattr_val" name="groupattr_val" value="<?php echo $result->getgroupattr_val(); ?>" /> 
                        <input type="hidden" id="quarter" name="quarter" value="<?php echo $result->getQuarter(); ?>" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box p-t-10 p-b-10" style="margin-bottom:10px;">
                                    <div class="form-group m-b-0">
                                        <div class="col-sm-12 xrightalign"><?php echo $actionshtml; ?></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                <?php } ?>
                <!-- List group -->
                <ul class="list-group">
                	<?php if($entity->isPreBuilt() && $entity->getID() == 40){ ?>
                    	<li class="list-group-item clearfix" style="min-height:200px;">
                        	<?php include APPLICATION_PATH.'/views/scripts/dataset/costdata.phtml'; ?>
                        </li>
                    <?php } ?>
                    <?php if($entity->getFormType() == 2 && !$entity->isPreBuilt()){ ?>
                        <?php if($noofsections == 0){ ?>
                            <li class="list-group-item"><i class="pagedescription">Dataset not yet configured</i></li>
                        <?php } ?>
                        <?php if($noofsections > 0){ ?>
                        	<?php if(!isEmptyString($result->getID())){ 
								$periodlabel = 'Period'; $singleperiod = false;
								if(in_array($entity->getPeriodType(), array(1,13,14))){
									$periodlabel = 'Result Date';
									$singleperiod = true;
								}
							?>
								<div class="form-group" <?php echo $request->pdf == 1 ? 'style="margin-left:15px;"' : 'style=""'; ?>><label class="control-label inlinelabel"><?php echo $periodlabel; ?>:</label><span class="inlinelabel nullifempty"><?php echo $result->getPeriodLabel(); ?></span></div>
							<?php } ?>
							<div class="divider2"></div>
                            <?php foreach($sections as $sector){ 
									$showsection = true;
									if(!isEmptyString($sector->getGroupAttr_Val()) && !isEmptyString($request->groupattr_val) && $sector->getGroupAttr_Val() != $request->groupattr_val){
										$showsection = false;
									}
									if($showsection){
                            ?>
                                <li class="list-group-item clearfix" style="min-height:200px;">
                                    <div class="col-sm-12">
                                        <h3 class="panel-title section"><?php echo $sector->getName(); ?></h3>
                                        <p class="form-control-static padding0" <?php echo $request->pdf == 1 ? 'style=""' : 'style="padding-left:0;"'; ?>><?php echo nl2br($sector->getDescription()); ?></p>
                                    </div>
                                    <div class="divider5"></div>
                                    <div class="col-sm-12">
                                        <div class="panel-body" style="padding:0;">
                                            <?php include APPLICATION_PATH.'/views/scripts/dataset/attributes.phtml'; ?>
                                        </div>
                                    </div>
                                </li>
                                <?php } ?>
                            <?php } ?>
                        <?php } ?>
                    <?php } ?>
                    <?php if($entity->getFormType() == 1 && !$entity->isPreBuilt()){ ?>
                        <?php if($noofattributes == 0){ ?>
                            <li class="list-group-item"><i class="pagedescription">Dataset not yet configured</i></li>
                        <?php } ?>
                        <?php if($noofattributes > 0){ ?>
                        	<li class="list-group-item clearfix" style="min-height:200px;">
                            	<?php include APPLICATION_PATH.'/views/scripts/dataset/attributes_single.phtml'; ?>
                            </li>
                        <?php } ?>
                    <?php } ?>
                </ul>
                <?php if($controller == 'dataentry' || ($controller == 'project' && ($request->widget == 'list' || isEmptyString($request->widget)))){ ?>
                    <?php if($showsave){ ?>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box p-t-10 p-b-10" style="margin-bottom:10px;">
                                    <div class="form-group m-b-0">
                                        <div class="col-sm-12 xrightalign"><?php echo $actionshtml; ?></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                <?php } ?>
                <?php if($isview && $request->pdf != '1'){ ?>
                        <div class="row">
                            <div class="col-md-12" style="font-size:12px !important;">
                                <div class="card-box p-t-10 p-b-10 clearfix" style="margin-bottom:0;">
                                    <div class="form-group m-b-0 clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group" style="margin-bottom:4px;">
                                                <label class="col-sm-3 control-label" style="font-size:12px !important;">Status:</label>
                                                <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo $result->getCurrentStatus(); ?></div>
                                            </div>
                                            <div class="form-group" style="margin-bottom:4px;">
                                                <label class="col-sm-3 control-label" style="font-size:12px !important;">Date Submitted:</label>
                                                <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo isEmptyString($result->getdatesubmitted()) || ($result->getDataset()->getHasWorkFlow() == 1 && $result->getStatus() == 1 ) ? '' : formatDateAndTime($result->getdatesubmitted(), false); ?></div>
                                            </div>
                                            <div class="form-group" style="margin-bottom:4px;">
                                                <label class="col-sm-3 control-label" style="font-size:12px !important;">Submitted By:</label>
                                                <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo $result->getUser()->getName(); ?></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <?php if($result->getDataset()->getHasWorkflow() == 1){ ?>
                                                <div class="form-group" style="margin-bottom:4px;">
                                                    <label class="col-sm-3 control-label" style="font-size:12px !important;">Date <?php echo $result->isRejected() ? 'Rejected' : 'Approved'; ?>:</label>
                                                    <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo isEmptyString($result->getdateapproved()) ? '' : formatDateAndTime($result->getdateapproved()); ?></div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:4px;">
                                                    <label class="col-sm-3 control-label" style="font-size:12px !important;">Approved By:</label>
                                                    <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo isEmptyString($result->getApprovedByID()) ? '' : $result->getApprover()->getName(); ?></div>
                                                </div>
                                                <?php if(!isEmptyString($result->getComments())){ ?>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label" style="font-size:12px !important;">Comments:</label>
                                                        <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo $result->getComments(); ?></div>
                                                    </div>
                                                <?php } ?>
                                       		<?php } ?>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-0 clearfix col-sm-12">
                                    	<?php if($result->getDataset()->isMultiStep() && $result->getDataset()->getHasWorkFlow() == '1'){ ?>
                                            <div class="form-group" style="margin-bottom:4px;">
                                                <label class="col-sm-12 control-label" style="font-size:12px !important;">Approval Audit:</label>
                                                <div class="col-sm-12" style="font-size:11px !important;">
                                                    <table class="table table-bordered table-condensed hasrightborder">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:80px;">Step</th>
                                                                <th>Name of Approver</th>
                                                                <th style="width:20%;">Status</th>
                                                                <th style="width:25%;">Date</th>
                                                                <th style="width:20%;">Remarks</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <?php
                                                                $users = getUsers();
                                                                $user = $result->getUser();
                                                                $maxsteps = $result->getDataset()->getApprovalSteps();
                                                                for($k = 1; $k <= $maxsteps; $k++){
                                                                    $approvalid = '';
                                                                    $keylabel = 'step'.$k.'approver'; $status = '0'; $dateapproved = ''; $remarks = '';
                                                                    if($k == '1'){
                                                                        $approvalid = $result->getDataset()->getstep1approver();
                                                                        $status = isEmptyString($result->getStatus1()) ? '2' : $result->getStatus1();
                                                                        $dateapproved = $result->getDateApproved1(); $remarks = $result->getReason1();
                                                                    }
                                                                    if($k == '2'){
                                                                        $approvalid = $result->getDataset()->getstep2approver();
                                                                        $status = isEmptyString($result->getStatus2()) ? '2' : $result->getStatus2();
                                                                        $dateapproved = $result->getDateApproved2(); $remarks = $result->getReason2();
                                                                    }
                                                                    if($k == '3'){
                                                                        $approvalid = $result->getDataset()->getstep3approver();
                                                                        $status = isEmptyString($result->getStatus3()) ? '2' : $result->getStatus3();
                                                                        $dateapproved = $result->getDateApproved3(); $remarks = $result->getReason3();
                                                                    }
                                                            ?>
                                                                <tr id="steprow_<?php echo $k; ?>">
                                                                    <td><?php echo $k.'.';?></td>
                                                                    <td class="nowrapping"><?php echo isEmptyString($approvalid) ? '-' : $users[$approvalid]; ?></td>
                                                                    <td><?php echo isArrayKeyAnEmptyString($status, $resultstatuses) ? '' : str_replace('Requested', 'Pending', $resultstatuses[$status])?></td>
                                                                    <td style="font-size:12px;"><?php echo isEmptyString($dateapproved) ? '--' : formatDateAndTime($dateapproved, false); ?></td>
                                                                    <td><?php echo isEmptyString($remarks) ? '--' : snippet($remarks, '70', '..'); ?></td>
                                                                </tr>
                                                            <?php } ?>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        <?php } ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                <?php } ?>
            </div>
        </div>
    </div>
</div>