<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$sector = $entity = new DatasetSection(); 
	$id = is_numeric($request->id) ? $request->id : decode($request->id);	
	$sector->populate($id); // debugMessage($sector->toArray()); exit;
	
	$title = "Set Disabled Fields";
	$resourcename = 'Dataset'; $resourcename = 'Users';
	
	$attributes = explode(',', str_replace(' ', '', trim($sector->getelementids()))); // debugMessage($attributes);
	
	$successmessage = "Successfully updated";
?>
<?php require_once APPLICATION_PATH.'/views/scripts/index/pgcjs.phtml'; ?>
<script>

$(document).ready(function() {		
	$("#view").css({'display':'none'}).addClass('hide');
	$("#new").css({'display':'block'}).removeClass('hide');
	
}); 
</script>
<style>
.modal-dialog {
	width: 65%;
}
</style>
<div class="popupdiv">
	<form id="indexform" class="form-horizontal" method="post">
    <div class="card-box m-t-10 m-b-10 p-t-10 p-b-0" style="padding:0 !important;">
        <div class="panel-body well-sm" style="min-height:150px; padding:0 !important;">
            <div class="row-fluid marginleft5">
                <div class="col-sm-12 paddingleft10">
                    <input type="hidden" name="entityname" value="DatasetSection" />
                    <input type="hidden" id="id" name="id" value="<?php echo $sector->getID(); ?>" />
                    <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" />
                   
                    <div class="form-group">
                    	<div class="divider15"></div>
                        <h3 class="col-sm-12 section panel-title">Section: <?php echo $sector->getName(); ?></h3>
                        <div class="divider10"></div>
                        <div class="col-sm-12">
                            <div style="">
                                <?php include APPLICATION_PATH.'/views/scripts/dataset/attributes.phtml'; ?>
                            </div>
                        </div>
                    </div> 
              	</div>
			</div>
		</div>
	</div>

    <?php if(!isEmptyString($id)){ ?>
    	<?php require_once APPLICATION_PATH.'/views/scripts/index/footeraudit.phtml'; ?>
    <?php } ?>
    </form>
</div>                                        
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>