<!--results view-->
<?php if($isview || $isprint){ ?>
	<?php 
		foreach (array_keys($attr_class, 'chosen-select', true) as $key) {
			unset($attr_class[$key]);
		}
	?>
	<span class="<?php echo implode(' ', $display_class); ?>" <?php echo $attr_custom; ?> style="min-width:100px; min-height:25px; <?php echo $request->pdf == '1' ? 'text-align:center;' : ''; ?>"><?php echo $attr_value_html; ?>&nbsp;</span>
    <?php if(!$isprint){ ?>
    	<input type="text" id="<?php echo $attr_id; ?>" name="<?php echo $attr_name; ?>" class="hidden <?php echo $attribute->getValueType() == C_N || $attribute->getValueType() == C_P ? 'numberfield' : ''; ?> <?php echo implode(' ', $attr_class); ?>" value="<?php echo $attr_value; ?>" />
    <?php } ?>
<?php } ?>

<!--data entry form-->
<?php if($tabv == 'dataentry' && !$isprint){ ?>
	<input type="hidden" id="<?php echo $attr_id_old; ?>" name="<?php echo $attr_name_old; ?>" value="<?php echo $attr_value; ?>" />
	
    <!-- Numeric Input -->
    <?php if($attribute->getValueType() == C_N){ ?>
        <input type="text" id="<?php echo $attr_id; ?>" name="<?php echo $attr_name; ?>" class="form-control input-sm width150 centeralign isdecimal numberfield <?php echo implode(' ', $attr_class); ?>" value="<?php echo $attr_value; ?>" <?php echo $attr_custom; ?> <?php echo $tooltip_html; ?> />
        <div id="<?php echo $attr_id; ?>_error"></div>
    <?php } ?>
    
    <!-- Percentage -->
	<?php if($attribute->getValueType() == C_P){ ?>
        <input type="text" id="<?php echo $attr_id; ?>" name="<?php echo $attr_name; ?>" class="form-control input-sm width100 centeralign isdecimal numberfield <?php echo implode(' ', $attr_class); ?>" value="<?php echo $attr_value; ?>" placeholder="%" <?php echo $attr_custom; ?> <?php echo $tooltip_html; ?> />
        <div id="<?php echo $attr_id; ?>_error"></div>
        <script>
            $(document).ready(function() {
				$("#<?php echo $attr_id; ?>").TouchSpin();
            });
        </script>
	<?php } ?>        
    
    <!--Longitude & latitude -->
    <?php if($attribute->getValueType() == C_C){ ?>
        <input type="text" id="<?php echo $attr_id; ?>_lat" name="<?php echo $attr_name_lat; ?>" class="form-control input-sm width150 blocked <?php echo implode(' ', $attr_class); ?>"  placeholder="Latitude" value="<?php echo $attr_value_lat; ?>" <?php //echo $attr_custom_lat; ?> <?php echo $tooltip_html; ?> />
        <input type="text" id="<?php echo $attr_id; ?>_lng" name="<?php echo $attr_name_lng; ?>" class="form-control input-sm width150 blocked <?php echo implode(' ', $attr_class); ?>" placeholder="Longitude" value="<?php echo $attr_value_lng; ?>" <?php //echo $attr_custom_lng; ?> <?php echo $tooltip_html; ?> />
        <div id="<?php echo $attr_id; ?>_lat_error"></div>
        <div id="<?php echo $attr_id; ?>_lng_error"></div>
    <?php } ?>
    
    <!--Text Input -->
    <?php if($attribute->getValueType() == C_TX && (isEmptyString($attribute->getFormControl()) || $attribute->getFormControl() == 1)){ ?>
        <input type="text" id="<?php echo $attr_id; ?>" name="<?php echo $attr_name; ?>" class="form-control input-sm <?php echo implode(' ', $attr_class); ?>" style="min-width:300px !important; max-width:500px !important; width:auto !important;" value="<?php echo $attr_value; ?>" <?php echo $attr_custom; ?> <?php echo $tooltip_html; ?> /><div id="<?php echo $attr_id; ?>_error"></div>
    <?php } ?>
    
    <!--Long Text or Textarea -->
    <?php if($attribute->getValueType() == C_TX && $attribute->getFormControl() == 2){ ?>
        <textarea id="<?php echo $attr_id; ?>" name="<?php echo $attr_name; ?>" class="form-control expanding elastic <?php echo implode(' ', $attr_class); ?>" style="min-width:400px !important; max-width:none !important; width:100% !important;" <?php echo $attr_custom; ?> <?php echo $tooltip_html; ?>><?php echo $attr_value; ?></textarea><div id="<?php echo $attr_id; ?>_error"></div>
    <?php } ?>
    
    <!--File Upload -->
    <?php if($attribute->getValueType() == C_F){ ?>
        <div class="blocked clearfix">
            <a id="<?php echo $attr_id; ?>_upload" class="noreloadpopup btn btn-default btn-xs file-upload-btn addfiles" href="<?php echo $this->baseUrl('library/upload/pgc/true/inputid/'.$attr_id.'_hidden/attrid/'.$attribute->getID()); ?>" title="Upload File" rel="Upload Files" formtitle="indexform" successurl="<?php echo stripUrl($this->viewurl); ?>" action="<?php echo $this->baseUrl("library/processuploads"); ?>" submittext="Save Files" inputid="<?php echo $attr_id; ?>"><i class="fa fa-upload"></i> Upload</a>
            <div id="<?php echo $attr_id; ?>_display"></div>
            <input type="text" class="maxwidth hidden" id="<?php echo $attr_id; ?>" name="<?php echo $attr_name; ?>" value="<?php echo $attr_value; ?>" />
            <div class="divider2"></div>
            <div id="<?php echo $attr_id; ?>_error"></div>
    <?php } ?>
    
    <!--Date Only -->
    <?php if($attribute->getValueType() == C_D){ ?>
        <input type="text" id="<?php echo $attr_id; ?>" name="<?php echo $attr_name; ?>" class="form-control input-sm inline width100 ordinary normalwidth <?php echo implode(' ', $attr_class); ?>" value="<?php echo $attr_value; ?>" <?php echo $attr_custom; ?> <?php echo $tooltip_html; ?> /><div id="<?php echo $attr_id; ?>_error"></div>
    <?php } ?>
    
    <!--Time Only -->
    <?php if($attribute->getValueType() == C_TM){ ?>
        <script>
            $(document).ready(function() {
                $('#<?php echo $attr_id; ?>').timepicker({
                    minuteStep: 5
                });
            });
        </script>
        <div class="input-group" style="width:125px;">
            <input type="text" id="<?php echo $attr_id; ?>" name="<?php echo $attr_name; ?>" value="<?php echo $attr_value; ?>" class="form-control input-sm <?php echo implode(' ', $attr_class); ?>" <?php echo $attr_custom; ?> <?php echo $tooltip_html; ?> />
            <span class="input-group-addon"><i class="mdi mdi-clock"></i></span>
        </div><div id="<?php echo $attr_id; ?>_error"></div>
    <?php } ?>
    
    <!--Date & Time -->
    <?php if($attribute->getValueType() == C_DT){ ?>
        <script>
            $(document).ready(function() {
                $('#<?php echo $attr_id; ?>_time').timepicker({
                    minuteStep: 5
                });
            });
        </script>
        <div style="min-width:125px; display:inline-block; vertical-align:top;">
            <input type="text" id="<?php echo $attr_id; ?>_date" name="<?php echo $attr_name_date; ?>" value="<?php echo $attr_value_date; ?>" class="form-control input-sm inline width100 ordinary normalwidth <?php echo implode(' ', $attr_class); ?>" <?php echo $attr_custom; ?> <?php echo $tooltip_html; ?> />
        </div>
        <div style="min-width:125px; display:inline-block; vertical-align:top;">
            <div class="input-group" style="width:125px;">
                <input type="text" id="<?php echo $attr_id; ?>_time" name="<?php echo $attr_name_time; ?>" value="<?php echo $attr_value_time; ?>" class="form-control input-sm <?php echo implode(' ', $attr_class); ?>" <?php echo $attr_custom; ?> />
                <span class="input-group-addon"><i class="mdi mdi-clock"></i></span>
            </div>
        </div>
        <div id="<?php echo $attr_id; ?>_date_error"></div>
        <div id="<?php echo $attr_id; ?>_time_error"></div>
    <?php } ?>
    
    <!--Single Choice List-->
    <?php if($attribute->getValueType() == C_LS){ ?>
    	<div style="display:inline-block; min-width:250px;">
		<?php						  
			$dropdown = new Zend_Form_Element_Select($attr_id,
				array(
					'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $optionlist),
					'view' => new Zend_View(), 
					'decorators' => array('ViewHelper'),
					'class' =>  array('form-control', 'input-sm', implode(' ', $attr_class))
				)
			);
			$dropdown->setValue($attr_value); 
			echo $dropdown->render(); 
		?>
        </div>
        <div id="<?php echo $attr_id; ?>_error"></div>
    <?php } ?>
    
    <!--Multiple Choice List-->
    <?php if($attribute->getValueType() == C_LM){ ?>
    	<div style="display:inline-block; min-width:250px;">
			<?php	
                $listdropdown = new Zend_Form_Element_Multiselect($attr_id,
                    array(
                        'multiOptions' => $optionlist,
                        'view' => new Zend_View(),
                        'decorators' => array(array('ViewHelper')),
                        'class' => array('form-control','input-sm', 'chosen-select', implode(' ', $attr_class))
                    )
                );
                
                $listdropdown->setValue(explode(',', $attr_value));
                $listdropdown->setAttrib("data-placeholder", "Select all that apply");
                echo $listdropdown->render();					  
            ?>
            <div id="<?php echo $attr_id; ?>_error"></div>
        </div>
    <?php } ?>
    
    <!--Yes/No Options-->
    <?php if($attribute->getValueType() == C_YN){ ?>
        <div class="radio radio-inline lineblocked" style="margin-left:0;">
            <input type="radio" id="<?php echo $attr_id; ?>_0" name="<?php echo $attr_name; ?>" value="0" <?php echo $attr_value == 0 ? 'checked' : ''; ?>> &nbsp;
            <label for="<?php echo $attr_id; ?>_0">No</label>
        </div>
        <div class="radio radio-inline lineblocked" style="margin-left:0;">
            <input type="radio" id="<?php echo $attr_id; ?>_1" name="<?php echo $attr_name; ?>" value="1" <?php echo $attr_value == 1 ? 'checked' : ''; ?>> &nbsp;
            <label for="<?php echo $attr_id; ?>_1">Yes</label>
        </div>
        <div id="<?php echo $attr_id; ?>_0_error"></div>
    <?php } ?>
    
    <!--Yes only-->
    <?php if($attribute->getValueType() == C_Y){ ?>
    	<div class="checkbox">
            <input type="checkbox" id="<?php echo $attr_id; ?>" name="<?php echo $attr_name; ?>" value="1" <?php echo $attr_value == 1 ? 'checked' : ''; ?>>
            <label for="<?php echo $attr_id; ?>"> <?php echo $attribute->getName(); ?></label>
        </div>
    <?php } ?>
<?php } ?>	