<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$group = new UserCategory(); 
	
	if(!isEmptyString($request->type)){
		$group->setType($request->type);
	}
	
	$title = "Manage Group";
	$resourcename = 'User Category Group'; $resourcename = 'Profile';
	
	$alloptions = getUsers();
	$selectedoptions = array();
	
	$addoptionurl = $this->baseUrl('profile/index');;
	$dataoptionurl = '';
	$alloptions = array(); 
	$selectedoptions = array(); // debugMessage($selectedoptions);

?>
<?php require_once APPLICATION_PATH.'/views/scripts/index/pgcjs.phtml'; ?>
<script>

$(document).ready(function() {		
	$("#view").css({'display':'none'}).addClass('hide');
	$("#new").css({'display':'none'}).removeClass('hide');
	
	$("#popupform").validate({		
		rules: {
			name: "required"
		}, 
		// the messages for each of the fields being validated
		messages: {		
			name: "Specify group name"
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					if(element.hasClass("useid_error")){
						error.appendTo("#popupform #"+element.attr("id")+"_error");
					} else {
						error.appendTo("#popupform #"+element.attr("name")+"_error");
					}
					break;
			}			
		},
		ignore: ":hidden:not(select)"
	});
	
	$('#popupform #poptionlist').multiselect({
        search: {
            left: '<input type="text" name="q" class="form-control input-sm" placeholder="Search available users..." />',
            right: '<input type="text" name="q" class="form-control input-sm" placeholder="Search selected users..." />',
        },
        fireSearch: function(value) {
            return value.length > 1;
        },
		startUp: false,
		keepRenderingSort: false,
		sort: false
    });
	
	$("#popupform #ploaderimg").addClass('hidden').hide();
	$("#popupform #prefreshoptions").on("click", function(e) {// .on('click', function(e){
		$("#popupform #poptionlist").css({'background-color':'#eee'});
		$("#popupform #ploaderimg").removeClass('hidden').show();
		$('#popupform #poptionlist').find('option').remove().end().append('<option id="first" value="">Please wait...</option>').val('');
		
		var posturl = $("#popupform #prefreshoptions").attr('dataurl');
		$.getJSON(posturl, function (data) {
			selectValues = data;
			$.each(selectValues, function(key, value) { // alert(value);
				$("#popupform #poptionlist").append($("<option></option>").attr("value",key).text(value).attr("title", value));
			});
			sortSelectOptions("#poptionlist");
			$("#popupform #poptionlist").css({'background':'none'}).trigger('change');
			$("#popupform #ploaderimg").addClass('hidden').hide();
			$("#popupform #poptionlist option[value='']").remove();
		});
	});	
	
	$("#groupid").on("change", function(e) {// .on('click', function(e){
		var groupid = $(this).val();
		if(!isEmptyString(groupid)){
			$('.group_content').removeClass('hidden');
			$("#popupform #poptionlist_to").css({'background-color':'#eee'});
			$("#popupform #prloaderimg").removeClass('hidden').show();
			$('#popupform #poptionlist_to').find('option').remove().end().append('<option id="first" value="">Please wait...</option>').val('');
			$("#popupform #deletegroup").attr('groupid', groupid).attr('action', '<?php echo $this->baseUrl("index/delete/src/ajax/entityname/UserCategory/id/"); ?>'+groupid);
			$("#popupform #id").val(groupid); 
			
			$.get("<?php echo $this->baseUrl('index/selectchaincustom/select_chain_type/category_group_users/groupid/'); ?>"+groupid, {                        
				cachebuster: new Date().getTime()},                            
				function(output){   
					result = jQuery.parseJSON(output);  
					$("#popupform #type").val(result.type);
					var ids = result.userids;
					$("#popupform #userids_old").val(ids);         
					if(!isEmptyString(ids)){      
						var posturl = '<?php echo $this->baseUrl('index/selectchaincustom/select_chain_type/data_users/inlist/'); ?>'+ids;
						$.getJSON(posturl, function (data) {
							selectValues = data;
							$.each(selectValues, function(key, value) { // alert(value);
								$("#popupform #poptionlist_to").append($("<option></option>").attr("value",key).text(value).attr("title", value));
							});
							sortSelectOptions("#poptionlist");
							$("#popupform #poptionlist_to").css({'background':'none'}).trigger('change');
							$("#popupform #prloaderimg").addClass('hidden').hide();
							$("#popupform #poptionlist_to option[value='']").remove();
							
							var url = '<?php echo $this->baseUrl('index/selectchaincustom/select_chain_type/data_users/idlist/'); ?>'+ids;
							// alert(url); return false;
							$("#prefreshoptions").attr('dataurl', url).click();
						});
					} else {
						$("#prefreshoptions").attr('dataurl', '<?php echo $this->baseUrl('index/selectchaincustom/select_chain_type/data_users'); ?>').click();
					}
				}
			);
		} else {
			$('.group_content').addClass('hidden');
		}
	});
	// $("#groupid").val('8').trigger("change").trigger("chosen:updated");
	$("#popupform #savechanges").click(function(e){
		// e.preventDefault();
		if($(this).valid()) {
			$("#poptionlist_to option").prop('selected', true);
			$("#poptionlist_to_hidden").val($("#poptionlist_to").val());
			
			$("#popupform .savebutton").addClass('disabledfield disabled').html('<img src="<?php echo $this->baseUrl('assets/images/loader.gif'); ?>" /> Please Wait...');
			$.post("<?php echo $this->baseUrl('dataset/processgroup'); ?>", $("#popupform").serialize(), 
				function(data){
					// alert(data); return false;
					data = jQuery.parseJSON(data); 
					if(data.result == 'success'){
						$("#popupform #errormessage").addClass('hidden').hide().html('');
						$("#popupform #successmessage").removeClass('hidden').show().html(data.message);	
					} else {
						$("#popupform #errormessage").removeClass('hidden').show().html(data.message);	
						$("#popupform #successmessage").addClass('hidden').hide().html('');								
					}
					$("#popupform .savebutton").removeClass('disabledfield disabled').html('Save Changes');
				}  
			);
		}
		return true;
	});
	
	$("#popupform #deletegroup").on("click", function(e) {
		var message = '<label class="blockcontainer notbolded">Are you sure you want to delete this entry? <br /><br /> Click <b>OK</b> to confirm, and <b>Cancel</b> to ignore</label>';
		var custom_msg = $(this).attr('message');
		if(!isEmptyString(custom_msg) && custom_msg != 'undefined'){
			var message = '<label class="blockcontainer notbolded">'+custom_msg+' <br /><br /> Click <b>OK</b> to confirm, and <b>Cancel</b> to ignore</label>';
		}
		var url = $(this).attr('action'); // alert(url);
		bootbox.confirm(message, function(confirmed) {
			if(confirmed){
				$("#popupform #poptionlist_to").css({'background-color':'#eee'});
				$("#popupform #prloaderimg").removeClass('hidden').show();
				$('#popupform #poptionlist_to').find('option').remove().end().append('<option id="first" value="">Please wait...</option>').val('');
				
				$("#popupform #poptionlist").css({'background-color':'#eee'});
				$("#popupform #ploaderimg").removeClass('hidden').show();
				$('#popupform #poptionlist').find('option').remove().end().append('<option id="first" value="">Please wait...</option>').val('');			
				
				$.get(url, {                        
					cachebuster: new Date().getTime()},                            
					function(data){   
						// alert(output);
						data = jQuery.parseJSON(data); 
						if(data.result == 'success'){
							$("#popupform #errormessage").addClass('hidden').hide().html('');
							$("#popupform #successmessage").removeClass('hidden').show().html(data.message);
							$("#reloadtrigger_groupid").click();
							$("#groupid").val('').trigger('change').trigger("chosen:updated");	
						} else {
							$("#popupform #errormessage").removeClass('hidden').show().html(data.message);	
							$("#popupform #successmessage").addClass('hidden').hide().html('');	
							$("#popupform #poptionlist_to").css({'background':'none'}).trigger('change');
							$("#popupform #prloaderimg").addClass('hidden').hide();
							$("#popupform #poptionlist").css({'background':'none'}).trigger('change');
							$("#popupform #ploaderimg").addClass('hidden').hide();							
						}
					}
				);
				
				return true;				
			} else {
				bootbox.hideAll();
				return false;
			}
		});
	}); 
}); 
</script>
<style>
.modal-dialog {
	width: 60%;
}
select.form-control:not(.normalwidth) {
	width:100%;
}
.chosen-container .chosen-drop {
	min-height:250px;
	position:absolute;
	z-index:100000;
}
</style>
<div class="popupdiv">
	<form id="popupform" class="form-horizontal" method="post" action="<?php echo $this->baseUrl('dataset/processgroup'); ?>">
    <div class="alert alert-danger hidden" id="errormessage"></div>
    <div class="alert alert-success hidden" id="successmessage"></div>
    <div class="card-box m-t-10 m-b-10 p-t-10 p-b-0" style="padding:0 !important;">
        <div class="panel-body well-sm" style="min-height:150px; padding:0 !important;">
            <div class="row-fluid">
                <div class="col-sm-5">
                    <div class="divider10"></div>
                    <div class="form-group">
                        <label class="control-label col-sm-12">Browse Group</label>
                        <div class="col-sm-12">
                        	<?php	
								$listdropdown = new Zend_Form_Element_Select('groupid',
								  array(
									  'multiOptions' => array_merge_maintain_keys(array('' => "<Select Group>"), getResultGroups()),
									  'view' => new Zend_View(),
									  'decorators' => array(array('ViewHelper')),
									  'class' => array('form-control','input-sm', 'chosen-select', 'xmultipleselect', 'useid_error', 'hastooltip', 'linetip'),
									  'style' => 'width:100%;'
								  )
								);
								
								$listdropdown->setValue('');
								echo $listdropdown->render();					  
							?>
                            <a class="btn btn-default btn-xs gonowhere reloadtrigger" id="reloadtrigger_groupid" dataurl="<?php echo $this->baseUrl('index/selectchaincustom/select_chain_type/result_groups'); ?>" title="Reload Options" selectid="groupid"><i class="fa fa-refresh"></i></a>
                            <div class="divider2"></div>
                            <i class="muted font-13">Select a Category to manage</i>
                            <div id="groupid_error"></div>
                        </div>
                    </div>
                    <div class="group_content hidden">
                        <div id="pselectarea" class="clearfix makerelative hasinputclear" style="width:100%; min-height:235px; height:auto; margin-bottom:0; padding-bottom:0;">
                            <select name="poptionlist[]" class="multi-select form-control" size="9" multiple="" id="poptionlist" style="margin-top:5px; height:180px;">
                                
                            </select>
                            <img id="ploaderimg" class="hidden" src="/assets/images/loader.gif" style="position:absolute; left:50%; top:50%;" />
                        </div>
                        <div class="divider2"></div>
                        <a id="prefreshoptions" class="btn btn-default btn-xs gonowhere" dataurl="<?php echo $dataoptionurl; ?>"><i class="fa fa-refresh"> Reload</i></a>
                        
                        <button type="button" id="poptionlist_rightAll" class="btn btn-xs floatright"><i class="glyphicon glyphicon-forward"></i> Assign All</button>
                        <div class="divider10"></div>
                   	</div>
               	</div>
                <div class="col-sm-1 group_content hidden">
                    <div class="divider20"></div><div class="divider20"></div>
                    <div class="divider20"></div><div class="divider20"></div>
                    <div class="divider20"></div><div class="divider20"></div>
                    <button type="button" id="poptionlist_rightSelected" class="btn btn-block btn-sm"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    <button type="button" id="poptionlist_leftSelected" class="btn btn-block btn-sm"><i class="glyphicon glyphicon-chevron-left"></i></button>
                </div>
                <div id="pselectarea_selected" class="col-sm-5 group_content hidden">
                	<div class="divider30"></div>
                    <div class="form-group">
                        <div class="divider30"></div>
                    </div>
                    <div class="makerelative hasinputclear">
                        <select name="to[]" id="poptionlist_to" class="form-control" size="9" multiple="multiple" style="margin-top:5px; height:180px;">
                            
                        </select>
                        <img id="prloaderimg" class="hidden" src="/assets/images/loader.gif" style="position:absolute; left:50%; top:50%;" />
                    </div>
                    <input type="hidden" id="poptionlist_to_hidden" name="to_hidden" value="" />
                    <div class="divider20"></div>
                    <button type="button" id="poptionlist_leftAll" class="btn btn-xs floatright"><i class="glyphicon glyphicon-backward"></i> Remove All</button>
                    <div class="divider10"></div>
                </div>
          	</div>
		</div>
	</div>
    <div class="blocked centeralign group_content hidden">
        <button type="button" class="btn btn-default btn-sm" id="deletegroup" groupid=""><i class="fa fa-trash"></i></button> 
        <button type="button" class="btn btn-primary btn-sm savebutton waves-effect waves-light" id="savechanges">Save Changes</button>
        <input type="hidden" id="type" name="type" value="" />
        <input type="hidden" id="id" name="id" value="" />
        <input type="hidden" id="userids_old" name="userids_old" value="" />
    </div>
    <div class="divider5"></div>
    <a href="javascript:doNothing();" class="btn btn-default btn-sm floatright modelcancel" data-dismiss="modal" title="<?php echo $this->translate('global_button_close'); ?>"><?php echo $this->translate('global_button_close'); ?></a>
    </form>
</div>                                        
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>