<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$group = new UserCategory(); 
	$id = is_numeric($request->id) ? $request->id : decode($request->id);	
	$group->populate($id); // debugMessage($group->toArray()); // exit;
	
	if(!isEmptyString($request->type)){
		$group->setType($request->type);
	}
	
	$title = "Define Group";
	$resourcename = 'Dataset'; $resourcename = 'Profile';
	
	$alloptions = getUsers();
	$selectedoptions = array();
	
	$addoptionurl = $this->baseUrl('profile/index');;
	$dataoptionurl = $this->baseUrl('index/selectchaincustom/select_chain_type/data_users');
	$alloptions = getDataUsers(true, $group->getuserids()); 
	$selectedoptions = getDataUsers(false, $group->getuserids()); // debugMessage($selectedoptions);
	$selectedoptions = sortArrayByArray($selectedoptions, explode(',', $group->getuserids())); // debugMessage($selectedoptions);
		
	// $attributes = explode(',', str_replace(' ', '', trim($sector->getelementids()))); // debugMessage($attributes);
	
	$successmessage = "Successfully created";
?>
<?php require_once APPLICATION_PATH.'/views/scripts/index/pgcjs.phtml'; ?>
<script>

$(document).ready(function() {		
	$("#view").css({'display':'none'}).addClass('hide');
	$("#new").css({'display':'block'}).removeClass('hide');
	
	$("#popupform").validate({		
		rules: {
			name: "required"
		}, 
		// the messages for each of the fields being validated
		messages: {		
			name: "Specify group category name"
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					if(element.hasClass("useid_error")){
						error.appendTo("#popupform #"+element.attr("id")+"_error");
					} else {
						error.appendTo("#popupform #"+element.attr("name")+"_error");
					}
					break;
			}			
		},
		ignore: ":hidden:not(select)"
	});
	
	$('#popupform #poptionlist').multiselect({
        search: {
            left: '<input type="text" name="q" class="form-control input-sm" placeholder="Search available users..." />',
            right: '<input type="text" name="q" class="form-control input-sm" placeholder="Search selected users..." />',
        },
        fireSearch: function(value) {
            return value.length > 1;
        },
		startUp: false,
		keepRenderingSort: false,
		sort: false
    });
	
	$("#popupform #ploaderimg").addClass('hidden').hide();
	$("#popupform #prefreshoptions").on("click", function(e) {// .on('click', function(e){
		$("#popupform #poptionlist").css({'background-color':'#eee'});
		$("#popupform #ploaderimg").removeClass('hidden').show();
		$('#popupform #poptionlist').find('option').remove().end().append('<option id="first" value="">Please wait...</option>').val('');
		
		var posturl = $("#popupform #prefreshoptions").attr('dataurl');
		$.getJSON(posturl, function (data) {
			selectValues = data;
			$.each(selectValues, function(key, value) { // alert(value);
				$("#popupform #poptionlist").append($("<option></option>").attr("value",key).text(value).attr("title", value));
			});
			sortSelectOptions("#poptionlist");
			$("#popupform #poptionlist").css({'background':'none'}).trigger('change');
			$("#popupform #ploaderimg").addClass('hidden').hide();
			$("#popupform #poptionlist option[value='']").remove();
		});
	});	
	
	$("#popupform").submit(function(e){
		if($("#popupform").valid() == true) {
			$("#poptionlist_to option").prop('selected', true);
			$("#poptionlist_to_hidden").val($("#poptionlist_to").val());
			return true;
		}
	});
}); 
</script>
<style>
.modal-dialog {
	width: 60%;
}
select.form-control:not(.normalwidth) {
	width:100%;
	/*display:inline-block;*/
}
</style>
<div class="popupdiv">
	<form id="popupform" class="form-horizontal" method="post" action="<?php echo $this->baseUrl('dataset/processgroup'); ?>">
    <div class="alert alert-danger hidden" id="errormessage"></div>
    <div class="alert alert-success hidden" id="successmessage"></div>
    <div class="card-box m-t-10 m-b-10 p-t-10 p-b-0" style="padding:0 !important;">
        <div class="panel-body well-sm" style="min-height:150px; padding:0 !important;">
            <div class="row-fluid">
                <div class="col-sm-5">
                    <div class="divider10"></div>
                    <div class="form-group">
                        <label class="control-label col-sm-12">Group Name</label>
                        <div class="col-sm-12">
                        	<?php
								$tiphtml = '<span>Group Name</span>Enter a descriptive name for the Group';
							?>
                            <input type="text" class="form-control max255content input-sm hastooltip tipmargin" name="name" id="name" value="<?php echo $group->getName(); ?>" tipbody="<?php echo $tiphtml; ?>" tipmargin="1" placeholder="Enter name" />
                            <div id="name_error"></div>
                        </div>
                    </div>
                    <div id="pselectarea" class="clearfix makerelative hasinputclear" style="width:100%; min-height:235px; height:auto; margin-bottom:0; padding-bottom:0;">
                        <select name="poptionlist[]" class="multi-select form-control" size="9" multiple="" id="poptionlist" style="margin-top:5px; height:180px;">
                            <?php foreach($alloptions as $key => $value){ ?>
                                <?php if(!array_key_exists($key, $selectedoptions)){ ?>
                                    <option value="<?php echo $key; ?>" datavalue="<?php echo $key; ?>" title="<?php echo $value; ?>"><?php echo snippet($value, 60, '...'); ?></option>
                                <?php } ?>
                            <?php } ?>
                        </select>
                        <img id="ploaderimg" class="hidden" src="/assets/images/loader.gif" style="position:absolute; left:50%; top:50%;" />
                    </div>
                    <div class="divider2"></div>
                    <?php if ($acl->checkPermission('User', "index")) { ?>
                        <a id="paddnew" class="btn btn-primary btn-xs" href="<?php echo $addoptionurl; ?>" target="_blank"><i class="fa fa-plus"> Add</i></a>
                        <a id="prefreshoptions" class="btn btn-default btn-xs gonowhere" dataurl="<?php echo $dataoptionurl; ?>"><i class="fa fa-refresh"> Reload</i></a>
                    <?php } ?>
                    <button type="button" id="poptionlist_rightAll" class="btn btn-xs floatright"><i class="glyphicon glyphicon-forward"></i> Assign All</button>
                    <div class="divider10"></div>
               	</div>
                <div class="col-sm-1">
                    <div class="divider20"></div><div class="divider20"></div>
                    <div class="divider20"></div><div class="divider20"></div>
                    <div class="divider20"></div><div class="divider20"></div>
                    <button type="button" id="poptionlist_rightSelected" class="btn btn-block btn-sm"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    <button type="button" id="poptionlist_leftSelected" class="btn btn-block btn-sm"><i class="glyphicon glyphicon-chevron-left"></i></button>
                </div>
                <div id="pselectarea_selected" class="col-sm-5">
                	<div class="divider30"></div>
                    <div class="form-group">
                        <div class="divider30"></div>
                    </div>
                    <div class="makerelative hasinputclear">
                        <select name="to[]" id="poptionlist_to" class="form-control" size="9" multiple="multiple" style="margin-top:5px; height:180px;">
                            <?php foreach($selectedoptions as $key => $value){ ?>
                                <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
                            <?php } ?>
                        </select>
                    </div>
                    <input type="hidden" id="poptionlist_to_hidden" name="to_hidden" value="" />
                    <input type="hidden" id="userids_old" name="userids_old" value="<?php echo $group->getUserIDs(); ?>" />
                    <div class="divider20"></div>
                    <button type="button" id="poptionlist_leftAll" class="btn btn-xs floatright"><i class="glyphicon glyphicon-backward"></i> Remove All</button>
                    <div class="divider10"></div>
                </div>
          	</div>
		</div>
	</div>
        <!--<button type="button" class="btn btn-primary btn-sm savebutton waves-effect waves-light" id="savechanges" successurl="">Save</button> -->
        <input type="hidden" id="type" name="type" value="<?php echo $group->getType(); ?>" />
    </form>
</div>                                        
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>