<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$isexternal = false;
	if($controller == 'project' && $action == 'view'){
		$isexternal = true;
	}
	
	$entityname = "Dataset";
	$entity = new $entityname();
	$theid = is_numeric($request->id) ? $request->id : decode($request->id);
	if($isexternal){
		$theid = is_numeric($request->did) ? $request->did : decode($request->did);	
	}
	$entity->populate($theid); // debugMessage($entity->toArray()); // exit;
	
	$posturl = '';
	$formid = 'viewform';
	$formmethod = 'get';
	
	
	$tabv = trim($request->tab); $sectionv = trim($request->section);
	if($isexternal){ 
		$tabv = trim($request->tabv); $sectionv = trim($request->sectionv);
	}
	if(isEmptyString($tabv)){
		$tabv = 'overview';
	}
	if(isEmptyString($sectionv)){
		$sectionv = 'view';
	}
	if($tabv == 'attributes'){
		$posturl = $this->baseUrl("dataset/edit");;
		$formid = 'indexform';
		$formmethod = 'post';
	}
	
	$title = $entity->getName();
	$pagetitle = 'Dataset Configration';
	$description = "";
	$listurl = $this->baseUrl("dataset/list");
	$listitems  = "Datasets";
	
	$conn = Doctrine_Manager::connection(); 
	
	$optionids = $entity->getelementids();
	$optionids2 = $entity->getIndicatorIDs();
	$optionorderarray = array_remove_empty(explode(',', $optionids)); // debugMessage($optionorderarray);
	$optionorderarray2 = array_remove_empty(explode(',', $optionids2));
	
	$formtypes = getFormTypes();
	$periodtypes = getPeriodTypes();
	$users = getUsers();
	$audiencetypes = getAudienceTypes();
	
	$addurl = $this->baseUrl('dataset/index'); 
	$indexurl = $this->baseUrl('dataset/index/id/'.encode($entity->getID()));
	if($isexternal){
		$addurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$request->tab.'/widget/dataset/section/adddataset');
		$indexurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$request->tab.'/widget/dataset/section/adddataset/did/'.$entity->getID().'/successurl/'.encode($this->viewurl));
		$listurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$request->tab.'/widget/dataset/section/view');
	}
	
	$allowadd = false; $allowedit = false; $allowdelete = false;
	$indexacl = 'index'; $updateacl = 'index'; $viewacl = 'list'; $deleteacl = 'delete';
	$resource = "Dataset";
	if($acl->checkPermission($resource, $indexacl)){
		$allowadd = true;
	}
	if($acl->checkPermission($resource, $updateacl)){
		$allowedit = true;
		if($acl->checkPermission($resource, 'viewown') && $entity->getCreatedBy() != getUserID()){
			$allowedit = false;
		}
		if($acl->checkPermission($resource, 'manageown') && $entity->getCreatedBy() != getUserID()){
			$allowedit = false;
		}
	}
	if($acl->checkPermission($resource, $deleteacl)){
		$allowdelete = true;
		if($acl->checkPermission($resource, 'viewown') && $entity->getCreatedBy() != getUserID()){
			$allowdelete = false;
		}
		if($acl->checkPermission($resource, 'manageown') && $entity->getCreatedBy() != getUserID()){
			$allowdelete = false;
		}
	}
	
	if(!$isexternal){
		$this->headTitle($title.$browserappend);
    }
?>
<script>
$(document).ready(function() {
	<?php if(!$isexternal){ ?>
		$('.page-title').html('<?php echo $title; ?>');
		$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	<?php } ?>
	
});
</script>
<style>
ul.customlist_attributes {
    font-size: 13px;
    font-weight: normal;
    height: 500px;
    margin-left: 15px;
    overflow-y: scroll;
}
</style>
<?php if(!$isexternal){ ?>
	<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<?php } ?>
<div class="rowx" id="contentarea">
    <div class="col-md-12">
        <form id="<?php echo $formid; ?>" class="form-horizontal" action="<?php echo $posturl; ?>" method="post" enctype="multipart/form-data">
            <div class="panel <?php echo !$isexternal ? 'panel-color panel-primary' : ''; ?>">
                <?php if(!$isprint){ ?> 
                    <div class="panel-heading">
                        <h3 class="panel-title lineblocked <?php echo !$isexternal ? '' : 'section'; ?>"><?php echo $pagetitle; ?></h3>
                        <div class="portlet-widgets lineblocked floatright">
                            <?php if($allowedit){ ?>	
                                <a class="btn btn-default btn-xs" href="<?php echo $indexurl; ?>" title="Update"><i class="fa fa-edit"></i> Edit</a>
                            <?php } ?>
                            <?php if($allowdelete){ ?>	    
                                <a class="btn btn-default btn-xs gonowhere <?php echo $entity->isPreBuilt() ? 'alert-dialog' : 'deleteline'; ?>" action="<?php echo $this->baseUrl('index/delete/id/'.encode($entity->getID())."/entityname/Dataset/successurl/".encode($listurl)); ?>" message="<?php echo $entity->isPreBuilt() ? 'Dataset is pre-configured and delete is disabled.' : $this->translate('global_delete_confirm_message'); ?>" type="button" title="Delete"><i class="fa fa-trash"></i></a>
                            <?php } ?>
                            <a href="<?php echo $listurl; ?>" class="btn btn-default btn-xs" title="Datasets"> Datasets <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                <?php } ?> 
                <div class="panel-body" <?php echo !$isexternal ? '' : 'style="padding-top:5px;"'; ?>>
                	<div class="row">
                    	<?php if(!$isprint){ ?> 
                            <ul class="nav nav-tabs">
                                <li class="overview <?php echo $tabv == 'overview' ? 'active' : ''; ?>">
                                    <a href="#overview" data-toggle="tab" aria-expanded="<?php echo $tabv == 'overview' ? 'true' : 'false'; ?>" theid="overview" goto="<?php echo $isexternal ? $viewurl.'/tabv/overview/widget/dataset/did/'.$entity->getID() : $this->baseUrl($controller.'/'.$action.'/id/'.encode($entity->getID()).'/tab/overview'); ?>"><span class="xvisible-xs"><i class="fa fa-list-ul"></i></span><span class="hidden-xs"> Design View</span></a>
                                </li>
                                <li class="attributes <?php echo $entity->isPreBuilt() ? 'hide' : ''; ?> <?php echo $tabv == 'attributes' ? 'active' : ''; ?>">
                                    <a href="#attributes" data-toggle="tab" theid="attributes" goto="<?php echo $isexternal ? $viewurl.'/tabv/attributes/widget/dataset/did/'.$entity->getID() : $this->baseUrl($controller.'/'.$action.'/id/'.encode($entity->getID()).'/tab/attributes'); ?>"><span class="xvisible-xs"><i class="fa fa-filter"></i></span><span class="hidden-xs"> Attributes & Indicators</span>
                                    </a>
                                </li>
                                <li class="dataentry <?php echo $tabv == 'dataentry' ? 'active' : ''; ?>">
                                    <a href="#dataentry" data-toggle="tab" theid="dataentry" goto="<?php echo $isexternal ? $viewurl.'/tabv/dataentry/widget/dataset/did/'.$entity->getID() : $this->baseUrl($controller.'/'.$action.'/id/'.encode($entity->getID()).'/tab/dataentry'); ?>"><span class="xvisible-xs"><i class="fa fa-pencil"></i></span><span class="hidden-xs"> Data Entry Preview</span>
                                    </a>
                                </li>
                                <li class="settings <?php echo $tabv == 'settings' ? 'active' : ''; ?>">
                                    <a href="#settings" data-toggle="tab" theid="settings" goto="<?php echo $isexternal ? $viewurl.'/tabv/settings/widget/dataset/did/'.$entity->getID() : $this->baseUrl($controller.'/'.$action.'/id/'.encode($entity->getID()).'/tab/settings'); ?>"><span class="xvisible-xs"><i class="fa fa-cogs"></i></span><span class="hidden-xs"> Settings</span>
                                    </a>
                                </li>
                            </ul>
                        <?php } ?>
                        <div class="tab-content minheight300">
                    		<div class="tab-pane <?php echo $tabv == 'overview' ? 'active' : ''; ?>" id="overview">
                    			<?php if($tabv == 'overview'){ ?>
                                	<div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">Name:</label>
                                            <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo $entity->getName(); ?></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label inlinelabel">Code:</label><span class="inlinelabel"><?php echo $entity->getRefNo(); ?></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">Description:</label>
                                            <div class="col-sm-12 nullifempty"><p class="form-control-static nullifempty padding0"><?php echo nl2br($entity->getDescription()); ?></p></div>
                                        </div>
                                    </div>
                                    <?php if($entity->isPreBuilt()){ ?>
                                    	<div class="divider5"></div>
                                        <div class="alert alert-icon alert-info" role="alert">
                                            <i class="mdi mdi-information" style="margin-top:-6px;"></i>
                                            This dataset is pre configured by administrator
                                        </div>
                                    <?php } ?>
									<?php if($entity->getFormType() == 2){ ?>
                                        <div class="row  <?php echo $entity->isPreBuilt() ? 'hide' : ''; ?>">
                                            <div class="col-sm-12">
                                                <div class="panel panel-default panel-border">
                                                    <!-- Default panel contents -->
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title section">Form Sections</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <p>Configure sections in this dataset by grouping similar data attributes into sections. <!--Add column or row totals, disabled fields and where applicable to sum up numeric data in tables.-->
                                                        </p>
                                                        <?php if($allowedit){ ?>
                                                        	<a href="<?php echo $this->baseUrl('dataset/section/pgc/true/datasetid/'.$entity->getID()); ?>" class="addpopup btn btn-primary btn-sm" title="Add Section" rel="Add Section" formtitle="indexform" submittext="Save Section" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl('dataset/processsection'); ?>">Add Section</a>
                                                        <?php } ?>
                                                    </div>
                        
                                                    <!-- List group -->
                                                    <ul class="list-group">
                                                        <?php 
                                                            $sections = $entity->getSectionDetails();
                                                            $noofsections = $sections->count();
                                                        ?>
                                                        <?php if($noofsections == 0){ ?>
                                                            <li class="list-group-item"><i class="pagedescription">No sections currently available</i></li>
                                                        <?php } else { ?>
                                                            <?php 
																$sectionumber = 1;	
																foreach($sections as $sector){ 
                                                                $editurl = '';
                                                                $maxposition = $conn->fetchOne("select max(position) from data_set_section where datasetid = '".$entity->getID()."'"); 
                                                                $minposition = $conn->fetchOne("select min(position) from data_set_section where datasetid = '".$entity->getID()."'"); // debugMessage($maxposition.' ~ '.$minposition);
																// debugMessage($sector->getindicatorids());
                                                            ?>
                                                                <li class="list-group-item clearfix">
                                                                    <div class="col-sm-8">
																		<b><?php echo $sectionumber; ?>. <?php echo $sector->getName(); ?> </b>
                                                                    	<p class="form-control-static padding0" style="padding-left:15px;"><?php echo nl2br($sector->getDescription()); ?></p>
                                                                    </div>
                                                                    <div class="col-sm-4">    
                                                                        <div class="floatright">
                                                                        	<?php if($allowedit){ ?>
                                                                            	<a href="<?php echo $this->baseUrl('dataset/section/id/'.$sector->getID().'/pgc/true'); ?>" class="addpopup btn btn-primary btn-sm" title="Edit Section" rel="Edit Section" formtitle="indexform" submittext="Save Changes" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl('dataset/processsection'); ?>">Edit</a> 
                                                                            <?php } ?>
                                                                        	<?php if($allowedit || $allowdelete){ ?>
                                                                                <div class="btn-group gridactions" style="z-index:1000;">
                                                                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle xnoround" data-toggle="dropdown">More Actions <i class="fa fa-caret-down"></i></button>
                                                                                    <ul class="dropdown-menu listtype" role="menu" style="left: -155px;">
                                                                                        <?php if($allowedit){ ?>
                                                                                            <li><a href="<?php echo $this->baseUrl('dataset/section/id/'.$sector->getID().'/pgc/true'); ?>" class="addpopup" title="Edit Section" rel="Edit Section" formtitle="indexform" submittext="Save Changes" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl('dataset/processsection'); ?>"><i class="fa fa-pencil"></i> Edit Section</a></li>
                                                                                        
                                                                                            <?php if($sector->getPosition() > $minposition){ ?>
                                                                                                <li><a href="<?php echo $this->baseUrl('dataset/movesection/id/'.$sector->getID().'/direction/up/successurl/'.encode($this->viewurl)); ?>"><i class="fa fa-arrow-up"></i> Move Up</a></li>
                                                                                            <?php } ?>
                                                                                            <?php if($sector->getPosition() < $maxposition){ ?>
                                                                                                <li><a href="<?php echo $this->baseUrl('dataset/movesection/id/'.$sector->getID().'/direction/down/successurl/'.encode($this->viewurl)); ?>"><i class="fa fa-arrow-down"></i> Move Down</a></li>
                                                                                            <?php } ?>
                                                                                            <li class="hide"><a href="<?php echo $this->baseUrl('dataset/greyfields/id/'.$sector->getID().'/pgc/true'); ?>" class="addpopup" title="Set Disabled Attributes" rel="Manage Disabled Attributes" formtitle="indexform" submittext="Save Changes" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl('dataset/processgreyfields'); ?>"><i class="fa fa-ban"></i> Disabled Attributes</a></li>
                                                                                        <?php } ?>    
                                                                                        <?php if($allowdelete){ ?>
                                                                                            <li><a class="deleteline gonowhere" action="<?php echo $this->baseUrl('index/delete/id/'.encode($sector->getID())."/entityname/DatasetSection/successurl/".encode($this->viewurl)); ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>"><i class="fa fa-trash"></i> Delete</a>
                                                                                            </li>
                                                                                        <?php } ?>
                                                                                    </ul>
                                                                                </div>
                                                                            <?php } ?>
                                                                        </div>
                                                                        <div class="divider5"></div>
                                                                 	</div>
                                                                    <div class="divider5"></div>
                                                                    
                                                                    <div class="col-sm-12">
                                                                    	<div class="panel-group" id="accordion_<?php echo $sector->getID(); ?>" role="tablist" style="margin-bottom:0;">
                                                                            <div class="panel panel-default">
                                                                                <div class="panel-heading" role="tab" id="attr_<?php echo $sector->getID(); ?>" style="background-color:#eee; padding:7px 20px 8px;">
                                                                                    <h4 class="panel-title section">
                                                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_<?php echo $sector->getID(); ?>" href="#collapseOne_<?php echo $sector->getID(); ?>" aria-expanded="true" aria-controls="collapseOne_<?php echo $sector->getID(); ?>" style="font-size: 13px; display:block;">Preview Attributes</a>
                                                                                    </h4>
                                                                                </div>
                                                                                <div id="collapseOne_<?php echo $sector->getID(); ?>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="attr_<?php echo $sector->getID(); ?>">
                                                                                	<div class="panel-body"><?php include APPLICATION_PATH.'/views/scripts/dataset/attributes.phtml'; ?>
                                                                                    	
                     
                                                                                    </div>
                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                 	</div>
                                                                </li>
                                                            <?php $sectionumber++; } ?>
                                                        <?php } ?>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                 	<?php } ?>
                                <?php } ?>
                            </div>
                            <div class="tab-pane <?php echo $tabv == 'attributes' ? 'active' : ''; ?>" id="attributes">
                                <?php if($sectionv == 'view'){ ?>
                                	<?php if($allowedit){ ?>
                                        <a href="<?php echo $this->baseUrl('dataset/view/id/'.$entity->getID().'/tab/attributes/section/edit'); ?>" class="btn btn-primary btn-xs" title="Add/Remove Attributes & Indicators"> Assign/De-assign Attributes & Indicators</a> 
                                    <?php } ?>
                                    <div class="divider5"></div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">All Attibutes</label>
                                            <div class="col-sm-12">
                                                <?php if(count($optionorderarray) > 0){ ?>
                                                    <span class="text-muted font-13">Viewing <?php echo count($optionorderarray); ?> attributes</span>
                                                <?php } else { ?>
                                                	<span class="text-muted font-13">No attributes have been assigned to this dataset.</span>
                                                <?php } ?>
                                                <div class="divider10"></div>
                                                <ul class="blog-categories-list list-unstyled customlist_attributes">
													<?php foreach($optionorderarray as $item){ 
                                                            $query = "select q.* from data_attribute q where q.id = '".$item."' "; 
                                                            $optiondata = $conn->fetchRow($query); // debugMessage($optiondata);
															if(!is_array($optiondata)){
																$optiondata = array();
															}
                                                    ?>
                                                       <li class="clearfix" style="xwidth:95%; <?php echo isArrayKeyAnEmptyString('id' , $optiondata) ? 'color:red;' : ''; ?>">
                                                        	<div class="col-sm-10 padding0">
																<?php echo isArrayKeyAnEmptyString('id' , $optiondata) ? '-UNKNOWN OR DELETED ATTRIBUTE' : $optiondata['refno'].': '.$optiondata['name']; ?>
                                                            </div>
                                                        	<div class="col-sm-2 rightalign">
                                                            	<?php if(!isArrayKeyAnEmptyString('id' , $optiondata) ){ ?>
                                                                    <a class="addpopup btn btn-xs inline" href="<?php echo $this->baseUrl("attribute/view/id/".encode($item).'/pgc/true/returnurl/'.encode($this->viewurl)); ?>" title="Edit Attribute" rel="Preview Attribute" formtitle="popupform" style="display:inline-block;"><i class="fa fa-list"></i></a>
                                                                    <?php if($allowedit && $acl->checkPermission('Attribute', 'index')){ ?>
                                                                        <a class="addpopup btn btn-xs inline" href="<?php echo $this->baseUrl('attribute/index/pgc/true/id/'.encode($item)); ?>" action="<?php echo $this->baseUrl("attribute/create"); ?>" successurl=<?php echo $this->viewurl; ?>  style="display:inline-block;" title="Edit Attribute" rel="Edit Attribute" formtitle="popupform"><i class="fa fa-pencil"></i></a>
                                                                    <?php } ?>
                                                                <?php } ?>
                                                            </div>
                                                     	</li>
                                                    <?php } ?>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group hide">
                                            <label class="col-sm-12 control-label">All Indicators</label>
                                            <div class="col-sm-12">
                                                <?php if(count($optionorderarray2) > 0){ ?>
                                                    <span class="text-muted font-13">Viewing <?php echo count($optionorderarray2); ?> indicators</span>
                                                <?php } else { ?>
                                                	<span class="text-muted font-13">No indicators have been assigned to this dataset.</span>
                                                <?php } ?>
                                                <ul class="blog-categories-list list-unstyled customlist_attributes">
													<?php foreach($optionorderarray2 as $item){ 
                                                            $query2 = "select q.* from indicator q where q.id = '".$item."' "; // debugMessage($query);
                                                            $optiondata2 = $conn->fetchRow($query2);
                                                    ?>
                                                        <li><?php echo isArrayKeyAnEmptyString('title' , $optiondata2) ? '' : $optiondata2['refno'].': '.$optiondata2['title']; ?></li>
                                                    <?php } ?>
                                                </ul>
                                            </div>
                                        </div>  
                                    </div>
                            	<?php } ?>
                                <?php if($sectionv == 'edit'){ ?>
                                	<?php require_once APPLICATION_PATH.'/views/scripts/dataset/assign.phtml'; ?>
                                <?php } ?>
                            </div>
                            <div class="tab-pane <?php echo $tabv == 'dataentry' ? 'active' : ''; ?>" id="dataentry">
                    			<?php if($tabv == 'dataentry'){ 
									$result = new DatasetResult();
								?>
                                	<div class="col-sm-12"><?php include APPLICATION_PATH.'/views/scripts/dataset/dataentry.phtml'; ?></div>
                                <?php } ?>
                            </div>
                            <div class="tab-pane <?php echo $tabv == 'settings' ? 'active' : ''; ?>" id="settings">
                    			<?php if($tabv == 'settings'){ ?>
                                	<div class="col-sm-12">
                                    	<div class="col-sm-6 paddingleft0">	
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">Form Type:</label>
                                                <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo isArrayKeyAnEmptyString($entity->getformtype(), $formtypes) ? '' : $formtypes[$entity->getformtype()]; ?></p></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 control-label">Period Type:</label>
                                                <div class="col-sm-12"><p class="form-control-static nullifempty padding0 m-b-0"><?php echo isArrayKeyAnEmptyString($entity->getperiodtype() , $periodtypes) ? '' : $periodtypes[$entity->getperiodtype()]; ?></p>
													<?php if(!isEmptyString($entity->getGroupAttr())){ ?>
                                                    	<p>[Uniquely identified by <b><?php echo getCurrentValueFromArray($entity->getGroupAttr(), getDataAttributes(false, $entity->getElementIDs())); ?></b>]</p>
                                                    <?php } ?>
                                                </div>
                                            </div>
                                        </div>
                                       	<div class="col-sm-6">	
                                       		<?php if($entity->getperiodtype() != 13 && $entity->getperiodtype() != 14){ ?>
                                                <div class="col-sm-12 paddingleft0">	
                                                    <div class="form-group">
                                                        <label class="control-label inlinelabel">Expiry Days:</label><span class="inlinelabel"><?php echo $entity->getexpirydays(); ?></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label inlinelabel">Open future periods for data entry:</label> <span class="inlinelabel"><?php echo $entity->getopenperiods(); ?></span>
                                                    </div>
                                                </div>
                                        	<?php } ?> 
                                            <div class="divider5"></div>
                                            <div class="col-sm-6 paddingleft0">	
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">Start Date:</label>
                                                    <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo changeMySQLDateToPageFormat($entity->getStartDate());; ?></p></div>
                                                </div>
                                             </div>
                                             <div class="col-sm-6">	
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">Expiry Date:</label>
                                                    <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo changeMySQLDateToPageFormat($entity->getEndDate()); ?></p></div>
                                                </div>
                                            </div>
                                            <div class="divider5"></div>   
                                        </div>
                                        <div class="divider5"></div>
                                        <div class="col-sm-6 paddingleft0">
											<?php if(!isEmptyString($entity->getProjectID())){ ?>
                                                <div class="col-sm-12 paddingleft0">	
                                                    <div class="form-group">
                                                        <label class="col-sm-12 control-label">Project:</label>
                                                        <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo $entity->getProject()->getRefNo().' - '.$entity->getProject()->getName(); ?></p></div>
                                                    </div>
                                                 </div>
                                            <?php } ?>
                                       	</div>
                                        <div class="col-sm-6 paddingleft0">
                                            <?php if(!isEmptyString($entity->getActivityID())){ ?>
                                                 <div class="col-sm-12">	
                                                    <div class="form-group">
                                                        <label class="col-sm-12 control-label">Activity:</label>
                                                        <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo $entity->getActivity()->getRefNo().' - '.$entity->getActivity()->getName(); ?></p></div>
                                                    </div>
                                                 </div>
                                            <?php } ?>
                                       	</div>
                                        <div class="divider5"></div>
                                        <div class="col-sm-6 paddingleft0">
                                        	<div class="form-group">
                                           		<label class="control-label inlinelabel">Drafts:</label><span class="inlinelabel"><?php echo $entity->getallowdrafts() == 1 ? 'Enabled' : 'Disabled'; ?></span>
                                            </div>
                                            <div class="form-group">
                                            	<label class="control-label inlinelabel">Workflow approval:</label><span class="inlinelabel"><?php echo $entity->gethasworkflow() == 1 ? 'Enabled' : 'Disabled'; ?></span>
                                            </div>
                                            <?php if($entity->gethasworkflow() == 1){ ?>
                                                <?php if($entity->getmaxsteps() > 1){ ?>
                                                    <div class="form-group">
                                                        <label class="control-label inlinelabel">Step in Approval:</label><span class="inlinelabel"><?php echo $entity->getmaxsteps(); ?></span>
                                                    </div>
                                                <?php } ?>
                                                <?php if($entity->getmaxsteps() == 1){ ?>
                                                	<div class="form-group">
                                                        <label class="control-label inlinelabel">Approvals By:</label><span class="inlinelabel"><?php echo isArrayKeyAnEmptyString($entity->getstep1approver(), $users) ? '-' : $users[$entity->getstep1approver()]; ?></span>
                                                    </div>
                                                <?php } ?>    
                                                <?php if($entity->getmaxsteps() > 1){ ?>
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">Approval Users:</label>
                                                    <div class="col-sm-12">
                                                        <div id="steps">
                                                            <table class="table table-bordered table-condensed hasrightborder" style="width:auto;">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width:25%">Step No#</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <?php
                                                                        $maxsteps = $entity->getmaxsteps();
                                                                        for($k = 1; $k <= $maxsteps; $k++){
                                                                            $approvalid = '';
                                                                            $keylabel = 'step'.$k.'approver';
                                                                            if($k == '1'){
                                                                                $approvalid = $entity->getstep1approver();
                                                                            }
                                                                            if($k == '2'){
                                                                                $approvalid = $entity->getstep2approver();
                                                                            }
                                                                            if($k == '3'){
                                                                                $approvalid = $entity->getstep3approver();
                                                                            }
                                                                    ?>
                                                                        <tr id="steprow_<?php echo $k; ?>">
                                                                            <td><?php echo 'Step '.$k.'.';?></td>
                                                                            <td><?php echo isArrayKeyAnEmptyString($approvalid, $users) ? '-' : $users[$approvalid]; ?></td>
                                                                        </tr>
                                                                    <?php } ?>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <?php } ?>
                                            <?php } ?>
                                        </div>
                                        <div class="col-sm-6">
                                        	<div class="form-group">
                                           		<label class="control-label inlinelabel">Audience Type:</label> <span class="inlinelabel"><?php echo isArrayKeyAnEmptyString($entity->getaudienceType(), $audiencetypes) ? '-' : $audiencetypes[$entity->getaudienceType()]; ?></span>
                                            </div>
                                            <?php if($entity->getAudienceType() == 1){ ?>
                                            	<div class="form-group">
                                                    <label class="control-label inlinelabel">User List:</label> <span class="inlinelabel"><?php echo $entity->getUserList(); ?></span>
                                                </div>
                                            <?php } ?>
                                            <?php if($entity->getAudienceType() == 2){ ?>
                                                <div class="form-group">
                                                    <label class="control-label inlinelabel">Groups:</label> <span class="inlinelabel"><?php echo $entity->getGroupList(); ?></span>
                                                </div>
                                            <?php } ?>
                                            <?php if($entity->getAudienceType() == 3){ ?>
                                                <div class="form-group">
                                                    <label class="control-label inlinelabel">Public URL:</label> <span class="inlinelabel"><?php echo $entity->getPublicUrl(); ?></span>
                                                </div>
                                            <?php } ?>
                                        </div>
                                        <div class="divider2"></div>
                                    </div>
                                <?php } ?>
                            </div>
                       	</div>
              		</div>
                </div>
            </div>   
            <?php if(!isEmptyString($entity->getID()) && !$isprint){ ?>
				<?php require_once APPLICATION_PATH.'/views/scripts/index/footeraudit.phtml'; ?>
            <?php } ?>
		</form>
	</div>
</div>                                              
<?php if(!$istexternal){ ?>      
	<?php
        require_once APPLICATION_PATH.'/includes/footer.php';
    ?>
<?php } ?>