<?php
	$attr_value_html = $attr_value;
	if(isEmptyString($attr_value)){
		$attr_value_html = '-';
		if($attribute->getValueType() == C_YN){ // Yes no 
			$attr_value_html = '<i class="fa fa-remove"></i> No';
		}
		if($attribute->getValueType() == C_Y){ // Yes only
			$attr_value_html = '<i class="fa fa-remove"></i> '.$attribute->getName();
		}
	} else { 
		if($attribute->getValueType() == C_N){ // number field
			$attr_value_html = formatNum($attr_value);
		}
		if($attribute->getValueType() == C_P){ // percent field
			$attr_value_html = formatNum($attr_value);
		}
		if($attribute->getValueType() == C_C){ //  gps coordinates
			$attr_value_html = ''; $attr_value_lat = ''; $attr_value_lng = '';
			$listarray = explode(',', $attr_value);
			if(!isArrayKeyAnEmptyString('0', $listarray)){
				$attr_value_html .= 'Lat='.$listarray[0]; 
				$attr_value_lat = $listarray[0]; 
			}
			if(!isArrayKeyAnEmptyString('1', $listarray)){
				$attr_value_html .= ', Lng='.$listarray[1];
				$attr_value_lng = $listarray[1]; 
			}
			if(!isEmptyString($attr_value)){
				$attr_value_html .= ' <div class="divider5"></div><a class="gonowhere loadmap btn btn-default btn-xs" url="'.$this->baseUrl('location/view/cords/'.$attr_value).'"><i class="fa fa-globe"></i> Location map</a>';
			}
		}
		if($attribute->getValueType() == C_YN){ // Yes no 
			if($attr_value == 1){
				$attr_value_html = '<i class="fa fa-check"></i> Yes';
			} else {
				$attr_value_html = '<i class="fa fa-remove"></i> No';
			}
		}
		if($attribute->getValueType() == C_Y){ // Yes only
			if($attr_value == 1){
				$attr_value_html = '<i class="fa fa-check"></i> '.$attribute->getName();
			} else {
				$attr_value_html = '<i class="fa fa-remove"></i> '.$attribute->getName();
			}
		}
		if($attribute->getValueType() == C_D){ //  date only
			$attr_value_html = $attr_value = changeMySQLDateToPageFormat($attr_value);
		}
		if($attribute->getValueType() == C_TM){ //  time only
			$attr_value_html = $attr_value = formatTimeCustom($attr_value);
		}
		if($attribute->getValueType() == C_DT){ // date time 
			$attr_value_html = formatDateAndTime($attr_value, false);
			$attr_value_date = changeMySQLDateToPageFormat($attr_value); 
			$attr_value_time = formatTimeCustom($attr_value);
		}
		if($attribute->getValueType() == C_LS){ // single choice select
			$attr_value_html = isArrayKeyAnEmptyString($attr_value, $selectedoptions) ? '-' : $selectedoptions[$attr_value];
		}
		if($attribute->getValueType() == C_LM){ // multiple choice select
			$listarray = explode(',', $attr_value);
			$list_options = getDataCategoryOptions(false, $attr_value);
			$attr_value_html = createHTMLCommaListFromArray($list_options, ', ');
		}
	}
?>