<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$title = 'User Manual';
	$description = '';
	$pageid = "help_index";
	$this->headTitle($title.$browserappend);
	
?>

<script>
$(document).ready(function() {
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	$('.titlelabel').html('<?php echo $title; ?>');
	$('.desclabel').html('<?php echo $description; ?>');
	$('.pageicon').html('<span class="glyphicon glyphicon-list"></span>');
	
	
});
</script>
<script type="text/javascript" src="<?php echo $this->serverUrl($this->baseUrl('javascript/plugins/custom/pdfobject.js')); ?>"></script>
<script type="text/javascript">
window.onload = function (){
	var success = new PDFObject({ url: "<?php echo $this->serverUrl($this->baseUrl('uploads/QuickStartGuide.pdf')); ?>" }).embed("pdf");
};
</script>
<style type="text/css">
#pdf {
	width: 100%;
	height: 1300px;
	margin: 0;
	border: 1px solid green;
}
#pdf p {
   padding: 1em;
}
#pdf object {
   display: block;
   border: solid 1px #666;
}
</style>
<div id="<?php echo $pageid; ?>">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-color">
                <div class="box-title">
                    <h3><i class="fa fa-calendar"></i>Quick Start Guide</h3>
                </div>
                <div class="box-content nopadding">
                    <div class="widget-content" style="background-color:#fdfdfd; height:auto; width:100%; border:1px solid green; padding:10px;">
    					<div id="pdf">
                        	<div class="alert alert-info margin10">It appears you don't have Adobe Reader or PDF support in this web browser. <a href="<?php echo $this->serverUrl($this->baseUrl('uploads/QuickStartGuide.pdf')); ?>">Click here to download the PDF</a>
                            </div>
                     	</div>
					</div>
                </div>
            </div>
        </div>
    </div>          
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
