<script>
$(document).ready(function() {	
	$('#indexform #optionlist').multiselect({
        search: {
            left: '<input type="text" name="q" class="form-control input-sm normalwidth" placeholder="Search available options..." />',
            right: '<input type="text" name="q" class="form-control input-sm normalwidth" placeholder="Search selected options..." />',
        },
        fireSearch: function(value) {
            return value.length > 1;
        },
		startUp: false,
		keepRenderingSort: false,
		sort: false
    });
	
	$("#indexform #loaderimg").addClass('hidden').hide();
	$("#indexform #refreshoptions").on("click", function(e) {// .on('click', function(e){
		$("#indexform #optionlist").css({'background-color':'#eee'});
		$("#indexform #loaderimg").removeClass('hidden').show();
		$('#indexform #optionlist').find('option').remove().end().append('<option id="first" value="">Please wait...</option>').val('');
		
		var posturl = $("#indexform #refreshoptions").attr('dataurl');
		var selecttype = $("#indexform #refreshoptions").attr('select-type');
		var current = $(this).attr('current');
			
		var optionlist = [];
		// alert($("#optionlist_to option").val());
		$('#indexform #optionlist_to option').each(function(){
			optionlist.push($(this).val());
		});
		// alert(optionlist.toString());
		if(!isEmptyString(optionlist.toString())){
			posturl = '<?php echo $this->baseUrl('index/selectchaincustom/select_chain_type/'); ?>'+selecttype+'/idlist/'+optionlist.toString()+'/checkone/1';
		}
		<?php if($action == 'section'){ ?>
			posturl = '<?php echo $this->baseUrl('index/selectchaincustom/select_chain_type/'); ?>'+selecttype+'/inlist/<?php echo $unassigned_attr; ?>/idlist/'+optionlist.toString()+'/checkone/1';
			
		<?php } ?>
		
		
		var datasetid = $("#datasetid").val();
		if(!isEmptyString(datasetid)){
			posturl = posturl+'/datasetid/'+datasetid;
		}
		// alert(posturl);
		
		$.getJSON(posturl, function (data) {
			$('#indexform #optionlist').find('option').remove();
			selectValues = data;
			$.each(selectValues, function(key, value) { // alert(value);
				$("#indexform #optionlist").append($("<option></option>").attr("value",key).attr("datavalue",key).text(value).attr("id", "option_"+key).attr("title", value));
			});
			// sortSelect($("#indexform #optionlist"));
			$("#indexform #optionlist").sort_select_box();

			$("#indexform #optionlist").css({'background':'none'}).trigger('change');
			$("#indexform #loaderimg").addClass('hidden').hide();
			$("#indexform #optionlist option[value='']").remove();
			if(!isEmptyString(current) && current != 'current'){
				
				$("#indexform #optionlist option[value="+current+"]").attr('selected', 'selected').focus();
			}
		});
	});	
	
	$("#popupform #loaderimg").addClass('hidden').hide();
	$("#popupform #refreshoptions").on("click", function(e) {// .on('click', function(e){
		$("#popupform #optionlist").css({'background-color':'#eee'});
		$("#popupform #loaderimg").removeClass('hidden').show();
		$('#popupform #optionlist').find('option').remove().end().append('<option id="first" value="">Please wait...</option>').val('');
		
		var posturl = $("#popupform #refreshoptions").attr('dataurl'); 
		var selecttype = $("#popupform #refreshoptions").attr('select-type');
		var current = $(this).attr('current');
			
		var optionlist = [];
		// alert($("#optionlist_to option").val());
		$('#popupform #optionlist_to option').each(function(){
			optionlist.push($(this).val());
		});
		
		if(!isEmptyString(optionlist.toString())){
			posturl = '<?php echo $this->baseUrl('index/selectchaincustom/select_chain_type/'); ?>'+selecttype+'/idlist/'+optionlist.toString();
		}
		
		$.getJSON(posturl, function (data) {
			$('#popupform #optionlist').find('option').remove();
			selectValues = data;
			$.each(selectValues, function(key, value) { // alert(value);
				$("#popupform #optionlist").append($("<option></option>").attr("value",key).text(value).attr("id", "option_"+key).attr("title", value));
			});
			
			$("#popupform #optionlist").sort_select_box();
			$("#popupform #optionlist").css({'background':'none'}).trigger('change');
			$("#popupform #loaderimg").addClass('hidden').hide();
			$("#popupform #optionlist option[value='']").remove();
			if(!isEmptyString(current) && current != 'current'){
				
				$("#popupform #optionlist option[value="+current+"]").attr('selected', 'selected').focus();
			}
		});
	});
	$("#refreshoptions").trigger("click");
	// $(".selectarea select option").wrap( "<span class='nowrapping'></span>" );
	// if(myStr.length > 15){$(this).text(myStr.substring(15));}
	
	$('#indexform, #popupform').submit(function(){
		$("#optionlist_to_hidden").val($("#optionlist_to").val());
		$("#optionlist2_to_hidden").val($("#optionlist2_to").val());
		
		return true;
	});
	
	$("#datasetid").on("change", function(e) {// .on('click', function(e){
		$("#refreshoptions").trigger("click");
	});	
	
});
</script>
	
<div class="panel panel-default panel-border makerelative">
    <div class="panel-heading fieldsetwrapper">
        <h3 class="panel-title section"><?php echo $listitemsection; ?></h3>
    </div>
    <div class="panel-body" style="padding:12px;">
        <?php if($controller == 'dataset' && $action == 'section'){ ?>
        	<?php if(isEmptyString($entity->getDataset()->getElementIDs())){ ?>
                <div class="col-sm-12">
                    <p class="text-danger font-13">No attributes have been configured yet for this dataset.</p>
                </div>
                <div class="divider2"></div>
           	<?php } ?>
        <?php } ?>
        <div class="col-sm-5 paddingleft0">
        	<?php if($action != 'section'){ ?>
                <div class="blocked">
                    <?php
                        $datasets = getDatasets('', true);
                        $dropdown = new Zend_Form_Element_Select('datasetid',
                            array(
                                'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Dataset]'), $datasets),
                                'view' => new Zend_View(),
                                'decorators' => array('ViewHelper'),
                                'class' => array("form-control", 'input-sm', 'chosen-select'),
                                'style' => array('width:100%')
                            )
                        );  
                        $dropdown->setValue($request->getParam('datasetid')); 
                        echo $dropdown->render();
                    ?>
                </div>
            <?php } ?>
            <div class="divider10"></div>
            <div id="selectarea" class="clearfix selectarea makerelative hasinputclear" style="width:100%; min-height:235px; height:auto;">
                <select name="optionlist[]" class="multi-select form-control normalwidth" size="9" multiple="" id="optionlist" style="margin-top:5px; height:250px;">
                    
                </select>
                <img id="loaderimg" class="hidden" src="/assets/images/loader.gif" style="position:absolute; left:50%; top:50%;" />
            </div>
            <div class="divider5"></div>
            <!--<a id="test" class="btn btn-primary btn-xs gonowhere"><i class="fa fa-plus"> Test</i></a>-->
            <?php if($action != 'section' && $acl->checkPermission($addresource, $addacl)){ ?>
                <a class="btn btn-default btn-xs" href="<?php echo $listitemsurl; ?>" target="_blank" title="Manage <?php echo $listitems; ?>"><i class="fa fa-pencil"> </i></a>
                <?php if(!$ispopup){ ?>
                	<a id="addnew" class="btn btn-primary btn-xs noreloadpopup" href="<?php echo $addoptionurl; ?>" title="Add <?php echo $additem; ?>" rel="Add <?php echo $additem; ?>" selectid="optionlist" formtitle="popupform" trigger-click="refreshoptions"><i class="fa fa-plus"> Add</i></a>
                <?php } else { ?>
                	<a id="addnew" class="btn btn-primary btn-xs" href="<?php echo str_replace('/pgc/true', '', $addoptionurl); ?>" title="Add <?php echo $additem; ?>" target="_blank"><i class="fa fa-plus"> Add</i></a>
                <?php } ?>
            <?php } ?>
            <a id="refreshoptions" class="btn btn-default btn-xs gonowhere optionlist" dataurl="<?php echo $dataoptionurl; ?>" select-type="<?php echo $selecttype; ?>"><i class="fa fa-refresh"> Reload</i></a>
            <button type="button" id="optionlist_rightAll" class="btn btn-xs floatright"><i class="glyphicon glyphicon-forward"></i> Assign All</button>
        </div>
        <div class="col-sm-1 padding0">
            <div class="divider20"></div><div class="divider20"></div>
            <div class="divider20"></div><div class="divider20"></div>
            <div class="divider20"></div><div class="divider20"></div>
            <button type="button" id="optionlist_rightSelected" class="btn btn-block btn-xs leftalign"><i class="glyphicon glyphicon-chevron-right"></i> Assign</button>
            <div class="divider10"></div>
            <div class="divider10"></div>
            <button type="button" id="optionlist_leftSelected" class="btn btn-block btn-xs leftalign"><i class="glyphicon glyphicon-chevron-left"></i> De-assign</button>
        </div>
        <div id="selectarea_selected" class="col-sm-5 selectarea makerelative hasinputclear">
            <select name="to[]" id="optionlist_to" class="form-control normalwidth" size="9" multiple="multiple">
                <?php foreach($selectedoptions as $key => $value){ ?>
                    <option value="<?php echo $key; ?>" id="option_<?php echo $key; ?>" datavalue="<?php echo $key; ?>" title="<?php echo $value; ?>" class=""><?php echo $value; ?></option>
                <?php } ?>
            </select>
            <input type="hidden" id="optionlist_to_hidden" name="to_hidden" value="" />
            <?php if($entityname == 'Dataset'){ ?>
            	<input type="hidden" id="elementids_old" name="elementids_old" value="<?php echo $entity->getElementIDs(); ?>" />
            <?php } ?>
            <?php if($entityname == 'CategoryGroup'){ ?>
	            <input type="hidden" id="categoryids_old" name="categoryids_old" value="<?php echo $entity->getcategoryIDs(); ?>" />
            <?php } ?>
        </div>
        <div class="col-sm-1 padding0">
            <div class="divider20"></div><div class="divider20"></div>
            <div class="divider20"></div><div class="divider20"></div>
            <div class="divider20"></div><div class="divider20"></div>
            <button type="button" id="optionlist_move_up" class="btn btn-block btn-xs leftalign"><i class="glyphicon glyphicon-arrow-up"></i> Move up</button>
            <div class="divider10"></div>
            <button type="button" id="optionlist_move_down" class="btn btn-block btn-xs leftalign"><i class="glyphicon glyphicon-arrow-down"></i>Move down</button>
            <div class="divider10"></div>
            <button type="button" id="optionlist_leftAll" class="btn btn-block btn-xs leftalign"><i class="glyphicon glyphicon-backward"></i> Remove All</button>
        </div>
        <?php if($action == 'section'){ ?>
            <div class="col-sm-12">
                <div class="divider2"></div>
                <p class="text-muted xtext-danger font-13">Note: Only unallocated attributes configured for this dataset are listed for assignment.</p>
            </div>
        <?php } ?>
    </div>
</div>