<?php if($acl->checkPermission($resource, $indexacl)) { ?>
	<li><a title="Add <?php echo $moduleitem; ?>" class="btn btn-primary btn-sm blockanchor <?php echo $addclass; ?>" href="<?php echo $addurl; ?>" rel="Add <?php echo $moduleitem; ?>" formtitle="indexform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $saveaction; ?>" acl="<?php echo $resource.' - '.$indexacl; ?>"><?php echo $indexlabel; ?> <?php echo $moduleitem; ?></a></li>
<?php } ?>

<?php if($hasfilters){ ?>
	<li class="pul-right">
		<button type="submit" class="btn btn-default btn-sm blockanchor" id="filter" title="Filter" style="xpadding: 5px 10px !important;"><i class="fa fa-filter"></i> Filter</button>
		<a href="<?php echo $listurl; ?>" class="btn btn-default btn-sm" title="Reset Filters" style="vertical-align:top;"><i class="fa fa-refresh"></i></a>
	</li>
<?php } ?>