<div class="col-sm-12 padding0">
<div class="divider10"></div>
<?php if($has_no_data){ ?>
    <div class="alert alert-warning clearfix"><?php echo $this->translate("global_list_noentries"); ?></div>
<?php } else { ?>
    <?php if($controller == 'directory'){ ?>
    	<?php
            $counter = 1;			  		
            foreach($result as $line){
                $id = $line['id']; 
				$refno = isArrayKeyAnEmptyString('refno', $line) ? '' : $line['refno'];
				
				$allowview = false; $allowedit = false; $allowdelete = false;
				$allowapprove = false;
				$allowreject = false;
				$allowsubmit =false;
				$allowunsubmit = false;
				$makeforhide = false; $rowclass = '1';
				
				if($acl->checkPermission($resource, $viewacl)){
					$allowview = true;
				}
				if($acl->checkPermission($resource, $updateacl)){
					$allowedit = true;
				}
				if($acl->checkPermission($resource, $deleteacl)){
					$allowdelete = true;
				}
				$previewurl =  $this->baseUrl($controller."/view/id/".encode($id));
				$indexurl = $this->baseUrl($controller."/index/id/".encode($id));
				$deleteurl = $this->baseUrl("index/delete/id/".encode($id)."/entityname/".$entityname."/successurl/".encode($this->viewurl));
				$refno = '<a href="'.$previewurl.'">'.(isEmptyString($refno) ? ($refno+1000) : $refno).'</a>';
	
				$isperson = $line['contacttype'] == '1' ? true : false;
				$isorg = $line['contacttype'] == '2' ? true : false;	
				
				$name = $line['name'];
				$firstname = $line['firstname'];
				$lastname = $line['lastname'];
				if($line['contacttype'] == 2){
					$name = $line['orgname'];
				}
				
				$contacttype = $isorg ? 'Organization' : 'Person';
				$categorylist = array(); $categoryarray = array_remove_empty(explode(',', $line['category']));
				foreach($categoryarray as $catid){
					if(!isArrayKeyAnEmptyString($catid, $directorytypes)){
						$categorylist[] = $directorytypes[$catid];
					}
				}
				$categories = implode(', ', $categorylist); 
				
				$phones = $line['phone'];
				if(!isEmptyString($line['phone2'])){
					$phones .= ', '.$line['phone2'];
				}
				$emails = $line['email'];
				if(!isEmptyString($line['email2'])){
					$emails .= ', '.$line['email2'];
				}
					
				$gender = $line['gender'] == 1 ? 'Male' : 'Female';
				if($line['gender'] == ''){
					$gender = 'Unknown';
					if($isorg){
						$gender = 'Organisation';
					}
				}
				
				$photo_path = getDirectoryPicture($id, $gender, $line['profilephoto']);
				$iconimg = '<img src="'.$photo_path.'" class="img-circle img-thumbnail" style="width:60px; height:auto;">';
			?>
            	<div class="col-md-4">
                    <div class="text-center card-box p-t-0 makerelative">
                        <div class="dropdown pull-right">
                            <a href="<?php echo $viewurl; ?>" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <h3 class="m-0 text-muted" title="Actions"><i class="mdi mdi-dots-horizontal"></i></h3>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <?php if($allowview) { ?>   
                                    <li><a href="<?php echo $previewurl; ?>">View</a></li>
                                <?php } ?>
                                <?php if($allowedit) { ?>   
                                    <li><a href="<?php echo $indexurl; ?>">Update</a></li>
                                <?php } ?>
                                <?php if($allowdelete){ ?>
                                    <li><a class="deleteline gonowhere" action="<?php echo $deleteurl; ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a>
                                    </li>
                                <?php } ?>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="member-card clearfix " style="height: 190px;">
                            <div class="thumb-xl member-thumb m-b-10 center-block" style="margin-top:-15px;">
                                <img src="<?php echo $photo_path; ?>" class="img-circle img-thumbnail" style="width:60px; height:auto;">
                                
                            </div>
                            <div class="biosummary">
                            	<h4 class="m-b-5"><?php echo $name; ?></h4>
                                <p class="text-muted m-t-0 p-t-0"><?php echo $categories; ?></p>
                            </div>
                            <p class="text-muted font-13 m-t-0 p-t-0"><?php echo snippet($phones, 28, '..'); ?></p>
                            <p class="text-muted font-13 m-t-0 p-t-0"><?php echo snippet($emails, 50, '...'); ?></p>
                            <a class="btn btn-default btn-xs btn-rounded waves-effect makeabsolute waves-light minwidth100" href="<?php echo $previewurl; ?>" style="bottom:20px; left:35%;">View Profile</a>
                        </div>
                        
                    </div>
                </div>
            <?php } ?>	
    <?php } ?>
	<?php if($controller == 'profile'){ ?>
		<?php
            $counter = 1;			  		
            foreach($result as $line){
                
                $allowview = false; $allowedit = false; $allowdelete = false;
                if($acl->checkPermission($resource, 'view')){
                    $allowview = true;
                }
                if($acl->checkPermission($resource, 'update')){
                    $allowedit = true;
                }
                if($acl->checkPermission($resource, 'delete')){
                    $allowdelete = true;
                }
                
                $previewurl =  $this->baseUrl($controller."/view/id/".encode($id).'/returnurl/'.encode($this->viewurl));
                $indexurl = $this->baseUrl($controller."/update/id/".encode($id));
                
                $viewurl =  $this->baseUrl($controller."/view/id/".encode($line['id']));
                $deleteurl =  $this->baseUrl($controller."/delete/id/".encode($line['id'])."/entityname/".$entityname."/successurl/".encode($this->viewurl));
                
                
                $allowview = false; $allowedit = false; $allowdelete = false;  $allowemail= false; $allowsms = false;
                if($acl->checkPermission($resource, 'view')){
                    $allowview = true;
                }
                if($acl->checkPermission($resource, 'update')){
                    $allowedit = true;
                }
                if($acl->checkPermission($resource, 'delete')){
                    $allowdelete = true;
                }
                if($acl->checkPermission('Messaging', 'index') && !isEmptyString($line['email'])){
                    $allowemail = true;
                }
                if($acl->checkPermission('SMS', 'index') && !isEmptyString($line['phone'])){
                    $allowsms = true;
                }
                
                $name = ucwords(strtolower($line['firstname'].' '.$line['lastname']));
                $refno = '<a href="'.$previewurl.'">'.(isEmptyString($line['refno']) ? ($line['id']+1000) : $line['refno']).'</a>	';
                
                $firstname = $line['firstname'];
                $lastname = $line['lastname'];
                $username = $line['username'];
                $email = $line['email'];
                $phone = $line['phone'];
                $addedby = isArrayKeyAnEmptyString($line['createdby'], $users) ? '' : $users[$line['createdby']];
                $gender = $line['gender'] == 1 ? 'Male' : 'Female';
                
                // $groups = $line['groups'];
                $grouparray = array();
                if(!isEmptyString($line['typeids'])){
                    $grps = explode(',', $line['typeids']);
                    if(count($grps) > 0){
                        foreach ($grps as $groupid){
                            $grouparray[] = isArrayKeyAnEmptyString($groupid, $allroles) ? '' : $allroles[$groupid];
                        }
                    }
                }
                $groups =  implode(', ', $grouparray);
                
                $statuslabel = isArrayKeyAnEmptyString($line['status'], $userstatuses) ? '' : $userstatuses[$line['status']];
                
                $activationdate = changeMySQLDateToPageFormat($line['activationdate']);
                $dateadded = changeMySQLDateToPageFormat($line['datecreated']);
                
                $idrow = $refid;
                if($acl->checkPermission('User', 'view')) { 
                    $idrow = '<a href="'.$viewurl.'">'.$refid.'</a>';
                }
                
                $statuslabel = isArrayKeyAnEmptyString($line['status'], $userstatuses) ? '' : $userstatuses[$line['status']];
                $statusclass = '';
                switch($line['status']){
                    case 0:
                        $statusclass = 'label-default';	
                        break;
                    case 1:
                        $statusclass = 'label-success';	
                        break;
                    case 2:
                        $statusclass = 'label-warning';	
                        break;
                    case 3:
                        $statusclass = 'label-danger';	
                        break;
                    default:
                        break;
                }
                
                $photo_path = getUserPicture($id, $gender, $line['profilephoto']);
               
                
        ?>
            <div class="col-md-4">
                <div class="text-center card-box p-t-0">
                    <div class="dropdown pull-right">
                        <a href="<?php echo $viewurl; ?>" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                            <h3 class="m-0 text-muted" title="Actions"><i class="mdi mdi-dots-horizontal"></i></h3>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <?php if($allowview) { ?>   
                                <li><a href="<?php echo $previewurl; ?>">View</a></li>
                            <?php } ?>
                            <?php if($allowedit) { ?>   
                                <li><a href="<?php echo $indexurl; ?>">Update</a></li>
                            <?php } ?>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="member-card clearfix" style="min-height: 260px;">
                        <div class="thumb-xl member-thumb m-b-10 center-block">
                            <img src="<?php echo $photo_path; ?>" class="img-circle img-thumbnail" style="width:100px; height:auto;">
                            <i class="gonowhere <?php echo $line['status'] == 1 ? 'mdi mdi-account-check' : 'mdi mdi-account-multiple-minus'; ?> member-star <?php echo $line['Status'] == 1 ? 'text-success' : ''; ?>" data-toggle="tooltip" data-placement="bottom" data-original-title="<?php echo $statuslabel; ?> User" title="<?php echo $statuslabel; ?> User"></i>
                        </div>
                        <div class="biosummary">
                            <h4 class="m-b-5"><?php echo $name; ?></h4>
                            <p class="text-muted">@<?php echo $line['username']; ?> <span>|</span> <span <?php echo strlen($email) < 18 ? '' : 'data-toggle="tooltip" data-placement="top" data-original-title="'.$email.'"'; ?>><?php echo snippet($email, 18, '<a class="gonowhere">..</a>'); ?></span></p>
                        </div>
                        <p class="text-muted font-13"><?php echo snippet($groups, 50, '..'); ?></p>
                        <a class="btn btn-default btn-xs btn-rounded waves-effect m-t-5 waves-light minwidth100" href="<?php echo $previewurl; ?>">View Profile</a>
                    </div>
                </div>
            </div>
        <?php } ?>
	<?php } ?>        
<?php } ?>
</div>