<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$title = "Coming Soon";
	$resourcename = 'Default';
	$entityname = "UserAccount";
	$listitems = "Items";
	$listitems = "Item";
	$listurl = $this->baseUrl($controller.'/list');
	
	$addoptionurl = '';
	$dataoptionurl = '';
	
	if($controller == 'dataentry'){
		$title = "Data Entry";
	}
	
	$entity = new $entityname(); 
	$theid = is_numeric($request->id) ? $request->id : decode($request->id);
	// debugMessage('>> '.$theid );
	
	if (isEmptyString($theid)) {
		$pagetitle = "New ".$listitem; $pagetitle = "";
		$posturl = $this->baseUrl($controller."/create");
		$button_title = $this->translate('global_button_save').' & Exit'; 
		$successmessage = $this->translate('global_save_success');
		// default class values
		if($controller == 'dataentry'){
			$button_title = $this->translate('global_button_save').' & Submit'; 
		}
	} else {
		// $title = "Edit ".$listitem;
		$pagetitle = "Edit Dataset"; 
		$entity->populate($theid);	//debugMessage($entity->toArray());	
		$posturl = $this->baseUrl($controller."/edit"); 
		$button_title = $this->translate('global_button_save_changes'); 
		$successmessage = $this->translate('global_update_success');
	}
	
	$failureurl =  $this->viewurl;
	$addnewsuccessurl = $this->baseUrl($controller.'/index');
	$successurl = $this->baseUrl($controller.'/list');
	if($isextdataset){
		$addnewsuccessurl = $this->viewurl;
	}
	$gotosuccess = false; 
	if(!isEmptyString($request->successurl)){
		$successurl = decode($request->successurl);
		$gotosuccess = true; 
	}
	
	// debugMessage(decode($successurl));
	if($controller == 'dataentry'){
		
	}
	
	#in case of errors in session, populate the fields from session
	if(!isEmptyString($session->getVar(ERROR_MESSAGE))){ 
		$entity->processPost($session->getVar(FORM_VALUES));
	}
	
	$allowedit = false;
	if($acl->checkPermission($resourcename, ACTION_EDIT)){
		$allowedit = true;
	}
	
	if(!$istexternal){
		$this->headTitle($title.$browserappend);
    }
?>
<?php if($controller == 'dataentry'){ ?>

<?php } ?>
<script>
var select_ids = [];
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	
	$("#indexform").validate({		
		// define the validation rules one field at a time
		rules: {
			name: "required"
		}, 
		// the messages for each of the fields being validated
		messages: {		
			name: "Please enter Title"
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					if(element.hasClass("useid_error")){
						error.appendTo("#"+element.attr("id")+"_error");
					} else {
						error.appendTo("#"+element.attr("name")+"_error");
					}
					break;
			}			
		},
		ignore: ":hidden:not(select)"
	});
	
});
</script>
<style>
.ms-container {
	width:100% !important;
	display:inline;
}
/*.ms-container .ms-selectable {
	width:48% !important;
}
.ms-container .ms-selection {
	width:48% !important;
}*/
</style>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div class="rowx" id="contentarea">
    <div class="col-md-12">
		<form id="indexform" class="form-horizontal" action="<?php echo $posturl; ?>" method="post" enctype="multipart/form-data">
            <input name="entityname" id="entityname" type="hidden" value="<?php echo $entityname; ?>" />
            <input type="hidden" id="id" name="id" value="<?php echo encode($entity->getID()); ?>" />
            <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" /> 
            <input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($successurl); ?>" /> 
            <input type="hidden" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" value="<?php echo encode($failureurl); ?>" />
            <input type="hidden" id="nosuccessid" name="nosuccessid" value="1" /> 
            <input type="hidden" id="formcontroller" name="formcontroller" value="<?php echo $controller; ?>" /> 
			<?php if($controller == 'dataentry'){ ?>
                <ul class="resetlist listactions">
                    <li style="width:20px;"></li>
                    <li><label class="control-label inline">Dataset: </label></li>
                    <li style="width:600px;">
                        <?php
                            $datasets = getDatasets();
                            $dropdown = new Zend_Form_Element_Select('datasetid',
                                                array(
                                                    'multiOptions' => array_merge_maintain_keys(array('' => '-Browse available datasets --'), $datasets),
                                                    'view' => new Zend_View(),
                                                    'decorators' => array('ViewHelper'),
                                                    'class' => array('form-control','xinput-sm', 'chosen-select', 'inline'),
                                                    'viewurl' => $viewurl
                                                )
                            );  
                            $dropdown->setValue($request->datasetid); 
                            echo $dropdown->render();
                        ?>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-primary btn-sm blockanchor" id="filter" title="Filter" style=""><i class="fa fa-arrow-right"></i> Go</button>
                    </li>
                </ul>
            <?php } ?>
            <div class="divider2"></div>
			<?php ob_start(); ?>
                <?php if (/*$acl->checkPermission($resource, 'delete') && */ false && !isEmptyString($entity->getID())) { ?>	    
                	<a class="btn btn-default btn-sm gonowhere deleteline" action="<?php echo $this->baseUrl($controller.'/delete/id/'.encode($entity->getID()).'/entityname/'.$entityname.'/successurl/'.encode($listurl)); ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>" type="button" data-toggle="tooltip" data-placement="top" data-original-title="Delete" title="Delete"><i class="fa fa-trash"></i></a>
                <?php } ?>
                <a class="btn btn-default btn-sm cancel gonowhere" type="button"><?php echo $this->translate('global_button_cancel'); ?></a>
                <?php if(isEmptyString($entity->getID()) && $controller != 'dataentry'){ ?>
                    <button class="btn btn-primary btn-sm btn-green savebutton changesuccessurl" id="saveadd" successurl="<?php echo encode($addnewsuccessurl); ?>" type="subm it">Save & Add New</button>
                <?php } ?>
                <?php if($controller == 'dataentry'){ ?>
                	<button class="btn btn-primary btn-sm btn-green savebutton changesuccessurl" id="saveadd" successurl="<?php // echo encode($addnewsuccessurl); ?>" type="subm it">Save as Draft</button>
                <?php } ?>
                <button type="submit" class="btn btn-primary btn-sm savebutton nosuccess waves-effect waves-light" id="saveclose" successurl="<?php echo encode($successurl); ?>"><?php echo $button_title; ?></button> 
                
			<?php $actionshtml = ob_get_clean(); ?>
            
            <div class="panel panel-border panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked text-dark"><?php echo $pagetitle; ?></h3>
                    <div class="portlet-widgets lineblocked floatright"><?php //echo $actionshtml; ?></div>
                </div>
                <div class="divider2"></div>
                <div class="panel-body">
					<div class="panel panel-default panel-border makerelative">
                        <div class="panel-heading fieldsetwrapper">
                            <!--<h3 class="panel-title section">Summary</h3>-->
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="divider10"></div>
                                <div class="alert alert-warning clearfix">Work in progress. Coming Soon</div>
                           	</div>
                     	</div>
                  	</div>
                    
               	</div>
           	</div>  
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box p-t-10 p-b-10">
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 rightalign"><?php //echo $actionshtml; ?></div>
                        </div>
                    </div>
                </div>
            </div>   
        </form>
    </div>
</div>      
<?php if(!$istexternal){ ?>      
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
<?php } ?>
