<script>
$(document).ready(function() {	
	
	$('#optionlist2').multiselect({
        search: {
            left: '<input type="text" name="q" class="form-control input-sm normalwidth" placeholder="Search available options..." />',
            right: '<input type="text" name="q" class="form-control input-sm normalwidth" placeholder="Search selected options..." />',
        },
        fireSearch: function(value) {
            return value.length > 1;
        },
		startUp: false
    });
	
	$("#indexform #loaderimg2").addClass('hidden').hide();
	$("#indexform #refreshoptions2").on("click", function(e) {// .on('click', function(e){
		$("#indexform #optionlist2").css({'background-color':'#eee'});
		$("#indexform #loaderimg2").removeClass('hidden').show();
		$('#indexform #optionlist2').find('option').remove().end().append('<option id="first" value="">Please wait...</option>').val('');
		
		var posturl = $("#indexform #refreshoptions2").attr('dataurl');
		var selecttype = $("#indexform #refreshoptions2").attr('select-type');
		var current = $(this).attr('current');
			
		var optionlist2 = [];
		// alert($("#optionlist2_to option").val());
		$('#optionlist2_to option').each(function(){
			optionlist2.push($(this).val());
		});
		// alert(optionlist2.toString());
		if(!isEmptyString(optionlist2.toString())){
			posturl = '<?php echo $this->baseUrl('index/selectchaincustom/select_chain_type/'); ?>'+selecttype+'/idlist/'+optionlist2.toString();
		}
		// alert(posturl);
		$.getJSON(posturl, function (data) {
			$('#indexform #optionlist2').find('option').remove();
			selectValues = data;
			$.each(selectValues, function(key, value) { // alert(value);
				$("#indexform #optionlist2").append($("<option></option>").attr("value",key).text(value).attr("id", "option_"+key).attr("title", value));
			});
			
			$("#indexform #optionlist2").sort_select_box();
			$("#indexform #optionlist2").css({'background':'none'}).trigger('change');
			$("#indexform #loaderimg2").addClass('hidden').hide();
			$("#indexform #optionlist2 option[value='']").remove();
			if(!isEmptyString(current) && current != 'current'){
				
				$("#indexform #optionlist2 option[value="+current+"]").attr('selected', 'selected').focus();
			}
		});
	});	
	$("#refreshoptions2").trigger("click");
});
</script>    
<div class="panel panel-default panel-border makerelative">
    <div class="panel-heading fieldsetwrapper">
        <h3 class="panel-title section"><?php echo $listitemsection2; ?></h3>
    </div>
    <div class="panel-body" style="padding:12px;">
        <?php if($controller == 'dataset' && $action == 'section'){ ?>
        	<?php if(isEmptyString($entity->getDataset()->getIndicatorIDs())){ ?>
                <div class="col-sm-12">
                    <p class="text-danger font-13">No indicators have been configured yet for this dataset.</p>
                </div>
                <div class="divider2"></div>
           	<?php } ?>
        <?php } ?>
        <div class="col-sm-5 paddingleft0">
            <div id="selectarea2" class="clearfix selectarea makerelative hasinputclear" style="width:100%; min-height:235px; height:auto;">
                <select name="optionlist2[]" class="multi-select form-control normalwidth" size="9" multiple="" id="optionlist2">
                </select>
                <img id="loaderimg2" class="hidden" src="/assets/images/loader.gif" style="position:absolute; left:50%; top:50%;" />
            </div>
            <div class="divider5"></div>
            <?php if($action != 'section' && $acl->checkPermission($addresource2, $addacl2)){ ?>
                <a id="addnew2" class="btn btn-default btn-xs" href="<?php echo $listitemsurl2; ?>" target="_blank" title="Manage <?php echo $listitems2; ?>"><i class="fa fa-pencil"> </i></a>
                <?php if(!$ispopup){ ?>
                	<a id="addnew" class="btn btn-primary btn-xs noreloadpopup" href="<?php echo $addoptionurl2; ?>" title="Add <?php echo $listitem2; ?>" rel="Add <?php echo $additem2; ?>" selectid="optionlist2" formtitle="popupform" trigger-click="refreshoptions2"><i class="fa fa-plus"> Add</i></a>
                <?php } ?>
                <a id="refreshoptions2" class="btn btn-default btn-xs gonowhere optionlist2" dataurl="<?php echo $dataoptionurl2; ?>" select-type="<?php echo $selecttype2; ?>"><i class="fa fa-refresh"> Reload</i></a>
                
            <?php } ?>
            <button type="button" id="optionlist2_rightAll" class="btn btn-xs floatright"><i class="glyphicon glyphicon-forward"></i> Assign All</button>
        </div>
        <div class="col-sm-1 padding0">
            <div class="divider20"></div><div class="divider20"></div>
            <div class="divider20"></div><div class="divider20"></div>
            <div class="divider20"></div><div class="divider20"></div>
            <button type="button" id="optionlist2_rightSelected" class="btn btn-block btn-xs leftalign"><i class="glyphicon glyphicon-chevron-right"></i> Assign</button>
            <div class="divider10"></div>
            <div class="divider10"></div>
            <button type="button" id="optionlist2_leftSelected" class="btn btn-block btn-xs leftalign"><i class="glyphicon glyphicon-chevron-left"></i> De-assign</button>
        </div>
        <div id="selectarea2_selected" class="col-sm-5 selectarea makerelative hasinputclear">
            <select name="to2[]" id="optionlist2_to" class="form-control normalwidth" size="9" multiple="multiple" style="margin-top:5px; height:250px;">
                <?php foreach($selectedoptions2 as $key => $value){ ?>
                    <option value="<?php echo $key; ?>" id="option_<?php echo $key; ?>" datavalue="<?php echo $key; ?>" title="<?php echo $value; ?>" class=""><?php echo $value; ?></option>
                <?php } ?>
            </select>
            <input type="hidden" id="optionlist2_to_hidden" name="to2_hidden" value="" />
            <input type="hidden" id="indicatorids_old" name="indicatorids_old" value="<?php echo $entity->getIndicatorIDs(); ?>" />
            <div class="divider10"></div>
        </div>
        <div class="col-sm-1 padding0">
            <div class="divider20"></div><div class="divider20"></div>
            <div class="divider20"></div><div class="divider20"></div>
            <div class="divider20"></div><div class="divider20"></div>
            <button type="button" id="optionlist2_move_up" class="btn btn-block btn-xs leftalign"><i class="glyphicon glyphicon-arrow-up"></i> Move up</button>
            <div class="divider10"></div>
            <button type="button" id="optionlist2_move_down" class="btn btn-block btn-xs leftalign"><i class="glyphicon glyphicon-arrow-down"></i>Move down</button>
            <div class="divider10"></div>
            <button type="button" id="optionlist2_leftAll" class="btn btn-block btn-xs leftalign"><i class="glyphicon glyphicon-backward"></i> Remove All</button>
        </div>
        <?php if($action == 'section'){ ?>
            <div class="col-sm-12">
                <div class="divider2"></div>
                <p class="text-muted xtext-danger font-13">Note: Only indicators configured for this dataset are listed for assignment.</a></p>
            </div>
        <?php } ?>
    </div>
</div>