<div style="width:80px;">
    <div class="btn-group gridactions" style="z-index:995;">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle xnoround" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
        <ul class="dropdown-menu listtype" role="menu" style="z-index:1001;">
            <?php if ($allowview) { ?>
                <li><a class="<?php echo $viewclass; ?>" href="<?php echo $previewurl; ?>" title="Preview Details" rel="Preview <?php echo $listitem; ?>">Preview</a></li>
            <?php } ?>
            <?php if ($allowedit) { ?>
                <?php if($moduleitem == 'Risk'){ ?>
                    <li><a class="addpopup" href="<?php echo $newreviewurl; ?>" title="Review Risk" rel="Review Risk" formtitle="popupform" submittext="Save Changes" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl('risk/processreview/successmessage/'.$successmessage); ?>">Review Risk</a>
                    </li>
                <?php } ?>
                <li><a href="<?php echo $indexurl; ?>" class="<?php echo $addclass; ?>" title="Edit <?php echo $moduleitem; ?>" rel="Edit <?php echo $moduleitem; ?>" formtitle="indexform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $saveaction; ?>"><?php echo $editbutton; ?></a></li>
				<?php if(!in_array($controller, array('dataentry','project','profile')) || $moduleitem == 'Issue' || $moduleitem == 'Risk') { ?>
                	<li><a title="Add <?php echo $moduleitem; ?>" class="blockanchor <?php echo $addclass; ?>" href="<?php echo $addurl.'/clone/'.$id; ?>" rel="Add <?php echo $moduleitem; ?>" formtitle="indexform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $saveaction; ?>">Clone</a></li>
                <?php } ?>
            <?php } ?>
            
            <?php if($allowsubmit) { ?>
                <li><a class=" confirm-dialog gonowhere" title="Submit" action="<?php echo $this->baseUrl('dataentry/togglestatus/id/'.$line['id'].'/status/2/successurl/'.encode($this->viewurl).'/successmessage/'.$dataentry_submit_success); ?>" message="Are you sure you want to <?php echo $line['hasworkflow'] == '1' ? 'Submit this Entry for Approval?' : 'mark this Entry as Completed?'; ?>"><?php echo $line['hasworkflow'] == '1' ? 'Submit for Approval?' : 'Mark as Completed?'; ?></a></li>
            <?php } ?>
            <?php if($allowunsubmit) { ?>
                <li><a class="confirm-dialog gonowhere" title="Un-submit to Edit" action="<?php echo $this->baseUrl('dataentry/togglestatus/id/'.$line['id'].'/status/1/successurl/'.encode($this->viewurl).'/successmessage/'.$dataentry_unsubmit_success); ?>" message="Are you sure you want to Un-Submit this Entry?">Un-submit</a></li>
            <?php } ?>
            <?php if($allowapprove) { ?>
                <li><a class="confirm-dialog gonowhere" title="Approve" action="<?php echo $this->baseUrl('dataentry/updatestatus/id/'.$line['id'].'/status/3/successurl/'.encode($this->viewurl).'/successmessage/'.$dataentry_approve_success); ?>" message="Are you sure you want to Approve this Entry?">Approve</a></li>
            <?php } ?>
            <?php if($allowreject) { ?>
                <li><a class="confirm-prompt gonowhere" title="Reject Request" action="<?php echo $this->baseUrl('dataentry/updatestatus/id/'.$line['id'].'/status/4/successurl/'.encode($this->viewurl).'/successmessage/'.$dataentry_rejected_success); ?>" message="Reject entry by <?php echo isArrayKeyAnEmptyString($line['submittedbyid'], $users) ? '' : $users['submittedbyid']; ?>. <br>Please specify Reason/Comment to continue">Reject</a></li>
            <?php } ?>
            <?php if($allowdelete){ ?>
                <li><a class="deleteline gonowhere" action="<?php echo $deleteurl; ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a>
                </li>
            <?php } ?>
        </ul>
    </div>
    <?php if($showbatch){ ?>
        <div style="position:absolute; right:10px; top:5px;">
            <input type="checkbox" id="line_<?php echo $line['id']; ?>" optionid="<?php echo $line['id']; ?>" optionname="<?php echo $name; ?>" value="1" class="linechecker" />
        </div>
    <?php } ?>
</div>