<th class="nowrapping" <?php echo $isprint ? 'style="width:120px;"' : ''; ?>><?php echo $reflable; ?></th>
<th class="nowrapping"><?php echo $namelabel; ?></th>
<?php if($controller == 'activity' || $request->tab == 'activity'){ ?>
    <th class="nowrapping">Activty Type</th>
    <th class="nowrapping">Output Code</th>
    <th class="nowrapping">Start Date</th>
    <th class="nowrapping">End Date</th>
    <th class="nowrapping">F/Year</th>
    <th class="nowrapping">P.Unit</th>
    <th class="nowrapping">Location</th>
    <th class="nowrapping">Status</th>
    <th class="nowrapping">Focal Person</th>
<?php } ?>
<?php if($controller == 'attribute'){ ?>
    <th class="nowrapping">Value Type</th>
    <th class="nowrapping">Domain Type</th>
    <th class="nowrapping">Aggregated By</th>
    <th class="nowrapping">Dataset(s) Using Attribute</th>
<?php } ?>
<?php if($controller == 'attributegroup'){ ?>
    <th class="nowrapping" <?php echo $isprint ? 'style="width:250px;"' : ''; ?>>Attributes</th>
<?php } ?>
<?php if($controller == 'categorygroup'){ ?>
    <th class="nowrapping" <?php echo $isprint ? 'style="width:250px;"' : ''; ?>>Categories</th>
<?php } ?>
<?php if($controller == 'category'){ ?>
    <th class="nowrapping" <?php echo $isprint ? 'style="width:250px;"' : ''; ?>>Category Options</th>
<?php } ?>
<?php if($controller == 'categoryoption'){ ?>
    <th class="nowrapping" <?php echo $isprint ? 'style="width:200px;"' : ''; ?>>Category</th>
<?php } ?>
<?php if($controller == 'dataentry' || ($request->tab == 'data' && $request->widget == 'submissions')){ ?>
    <th class="nowrapping">Period</th>
    <th class="nowrapping">Date Submitted</th>
    <th class="nowrapping">Submitted By</th>
    <th class="nowrapping">Status</th>
<?php } ?>
<?php if($controller == 'dataset' || ($request->tab == 'data' && $request->widget == 'dataset')){ ?>
    <th class="nowrapping">Form Type</th>
    <th class="nowrapping">Period Type</th>
<?php } ?>
<?php if($controller == 'directory'){ ?>
    <th class="nowrapping">Type</th>
    <th class="nowrapping">Category</th>
    <th class="nowrapping">Phone(s)</th>
    <th class="nowrapping">Email(s)</th>
<?php } ?>
<?php if($controller == 'indicatorgroup'){ ?>
    <th class="nowrapping" <?php echo $isprint ? 'style="width:250px;"' : ''; ?>>Indicators</th>
<?php } ?>
<?php if($controller == 'indicator' || $request->tab == 'indicators'){ ?>
    <th class="nowrapping">Category</th>
    <th class="nowrapping">Indicator Type</th>
    <th class="nowrapping">Program Objective</th>
    <th class="nowrapping">Statistical Unit</th>
    <th class="nowrapping">Means of Verification</th>
    <th class="nowrapping">Frequency</th>
    <th class="nowrapping">Assumptions</th>
<?php } ?>
<?php if($controller == 'issuetracking' || ($controller == 'project' && $request->tab == 'raid' && ($request->widget == 'issues' || isEmptyString($request->widget)))){ ?>
    <th class="nowrapping">FAD No#</th>
    <th class="nowrapping">Category</th>
    <th class="nowrapping">Date Opened</th>
    <th class="nowrapping">Due Date</th>
    <th class="nowrapping">Status</th>
    <th class="nowrapping">Owner</th>
<?php } ?>
<?php if($controller == 'risk' || ($controller == 'project' && $request->tab == 'raid' && $request->widget == 'risks' )){ ?>
    <th class="nowrapping hide">Description</th>
    <th class="nowrapping">Probability</th>
    <th class="nowrapping">Impact (Schedule)</th>
    <th class="nowrapping">Impact (Cost)</th>
    <th class="nowrapping">Risk Exposure (%)</th>
    <th class="nowrapping">Response Type</th>
    <th class="nowrapping">Action Plan</th>    
    <th class="nowrapping">Risk Owner</th>
    <th class="nowrapping">Risk Status</th>
    <th class="nowrapping">Date Reported</th>
    <th class="nowrapping">Review Frequency</th>
    <th class="nowrapping">Next Review Date</th>
<?php } ?>
<?php if($controller == 'project' && $action == 'list'){ ?>
    <th class="nowrapping">Programme(s)</th>
    <th class="nowrapping">Program Unit(s)</th>
    <th class="nowrapping">Project Type</th>
    <th class="nowrapping">Start Date</th>
    <th class="nowrapping">Due Date</th>
    <th class="nowrapping">Status</th>
    <th class="nowrapping">Owner</th>
<?php } ?>
<?php if($controller == 'milestoneperiod'){ ?>
    <th class="nowrapping">Category</th>
    <th class="nowrapping">Start Date</th>
    <th class="nowrapping">End Date</th>
    <th class="nowrapping">Status</th>
<?php } ?>
<?php if($controller == 'milestone'){ ?>
    <th class="nowrapping">Objective</th>
    <th class="nowrapping">Period</th>
    <th class="nowrapping">Level</th>
    <th class="nowrapping">Status</th>
<?php } ?>
<?php if($controller == 'profile'){ ?>
    <th class="nowrapping">Gender</th>
    <th class="nowrapping">Phone</th>
    <th class="nowrapping">Email</th>
    <th class="nowrapping">Username</th>
    <th class="nowrapping">Role(s)</th>
    <th class="nowrapping">Status</th>
    <th class="nowrapping">Profiled By</th>
    <th class="nowrapping">Date Added</th>
<?php } ?>
<?php if($controller == 'validation'){ ?>
    <th class="nowrapping">Attribute</th>
    <th class="nowrapping">Validation Expression</th>
<?php } ?>
<?php if($showlastupdated){ ?>
    <th class="nowrapping" <?php echo $isprint ? 'style="width:160px;"' : ''; ?>>Last Updated</th>
<?php } ?>
<?php if($showactions && !$isprint){ ?>
    <th class="nowrapping makerelative ignoreexport" ignoreid="3">
        
        Action
        <?php if($showbatch){ ?>
            <input type="checkbox" name="all" class="checker" id="all" value="1" itle="Select Line" style=" position: absolute; right: 10px; top: 5px;" />
        <?php } ?>
    </th>
<?php } ?>