<td class="nowrapping nullifempty"><?php echo $refno; ?></td>
<td class="nullifempty"><span title="<?php echo $name; ?>"><?php echo $name; ?></span></td>
<?php if($controller == 'activity' || $request->tab == 'activity'){ ?>
    <td class="nowrapping"><?php echo isArrayKeyAnEmptyString($line['type'], $activitytypes) ? '' : $activitytypes[$line['type']]; ?></td>
    <td class="nowrapping"><?php echo $line['outputcode']; ?></td>
    <td class="nowrapping nullifempty"><?php echo changeMySQLDateToPageFormat($line['startdate']); ?></td>
    <td class="nowrapping nullifempty"><?php echo changeMySQLDateToPageFormat($line['enddate']); ?></td>
    <td class="nowrapping centeralign nullifempty"><?php echo isArrayKeyAnEmptyString($line['fyear'], $fyears) ? '' : $fyears[$line['fyear']]; ?></td>

    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['puid'], $program_units) ? '' : $program_units[$line['puid']]; ?></td>
    <td class="nowrapping nullifempty"><?php echo $line['location']; ?></td>
    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['actionstatus'], $activitystatus) ? '' : $activitystatus[$line['actionstatus']]; ?></td>
    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['userid'], $users) ? '' : $users[$line['userid']]; ?></td>
<?php } ?>
<?php if($controller == 'attribute'){ ?>
    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['valuetype'], $datatypes) ? '' : $datatypes[$line['valuetype']]; ?></td>
    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['domaintype'], $aggtypes) ? '' : $aggtypes[$line['domaintype']]; ?></td>
    <td class="nowrapping nullifempty"><?php echo $line['cattype']; ?></td>
    <td><?php echo $dataset_list; ?></td>
<?php } ?>
<?php if($controller == 'attributegroup'){ ?>
    <td class="xnowrapping nullifempty"><?php echo $catlist; ?></td>
<?php } ?>
<?php if($controller == 'categorygroup'){ ?>
    <td class="nowrapping nullifempty"><?php echo $catlist; ?></td>
<?php } ?>
<?php if($controller == 'category'){ ?>
    <td class="nowrapping nullifempty"><?php echo $optionlist; ?></td>
<?php } ?>
<?php if($controller == 'categoryoption'){ ?>
    <td class="nowrapping nullifempty"><?php echo $categorylist; ?></td>
<?php } ?>
<?php if($controller == 'dataentry' || ($request->tab == 'data' && $request->widget == 'submissions')){ ?>
    <td class="nowrapping nullifempty"><?php echo $periodlabel; ?></td>
    <td class="nowrapping nullifempty"><?php echo changeMySQLDateToPageFormat($line['datesubmitted']); ?></td>
    
    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['submittedbyid'], $users) ? '' : $users[$line['submittedbyid']]; ?></td>
    <td class="nowrapping nullifempty"><?php echo $statuslabel; ?></td>
<?php } ?>

<?php if($controller == 'dataset' || ($request->tab == 'data' && $request->widget == 'dataset')){ ?>
    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['formtype'], $formtypes) ? '' : $formtypes[$line['formtype']]; ?></td>
    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['periodtype'], $periodtypes) ? '' : $periodtypes[$line['periodtype']]; ?></td>
<?php } ?>
<?php if($controller == 'directory'){ ?>
    <td class="nowrapping nullifempty"><?php echo $contacttype; ?></td>
    <td class="nowrapping nullifempty"><?php echo $categories; ?></td>
    <td class="nowrapping nullifempty"><?php echo $phones; ?></td>
    <td class="nowrapping nullifempty"><?php echo $emails; ?></td>
<?php } ?>
<?php if($controller == 'indicator' || $request->tab == 'indicators'){ ?>
    <td class="nowrapping"><?php echo $level; ?></td>
    <td class="nowrapping"><?php echo isArrayKeyAnEmptyString($line['indicatortype'], $indicatortypes) ? '' : $indicatortypes[$line['indicatortype']]; ?></td>
    <td class="nowrapping"><?php echo isArrayKeyAnEmptyString($line['programid'], $programs) ? '' : $programs[$line['programid']]; ?></td>
    <td class="nowrapping"><?php echo isArrayKeyAnEmptyString($line['uom'], $indicatorgroups) ? '' : $indicatorgroups[$line['uom']]; ?></td>
    <td class="xnowrapping"><?php echo isArrayKeyAnEmptyString($line['mov'], $movtypes) ? '' : $movtypes[$line['mov']]; ?></td>
    <td class="nowrapping"><?php echo isArrayKeyAnEmptyString($line['frequency'], $frequencies) ? '' : $frequencies[$line['frequency']]; ?></td>
    <td class="xnowrapping"><?php echo $line['assumptions']; ?></td>
<?php } ?>
<?php if($controller == 'indicatorgroup'){ ?>
    <td class="xnowrapping nullifempty"><?php echo $catlist; ?></td>
<?php } ?>
<?php if($controller == 'issuetracking' || $moduleitem == 'Issue'){ ?>
    <td class="nowrapping nullifempty"><?php echo $line['prefno']; ?></td>
    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['category'], $issuecategories) ? '' : $issuecategories[$line['category']]; ?></td>
    <td class="nowrapping nullifempty"><?php echo changeMySQLDateToPageFormat($line['startdate']); ?></td>
    <td class="nowrapping nullifempty"><?php echo changeMySQLDateToPageFormat($line['enddate']); ?></td>
    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['status'], $issuestatuses) ? '' : $issuestatuses[$line['status']]; ?></td>
    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['userid'], $users) ? '' : $users[$line['userid']]; ?></td>
<?php } ?>
<?php if($controller == 'milestoneperiod'){ ?>
    <td class="nowrapping nullifempty"><?php echo $line['category'] == '1' ? 'Level 1' : 'Level 2'; ?></td>
    <td class="nowrapping nullifempty"><?php echo changeMySQLDateToPageFormat($line['startdate']); ?></td>
    <td class="nowrapping nullifempty"><?php echo changeMySQLDateToPageFormat($line['enddate']); ?></td>
    <td class="nowrapping nullifempty"><?php echo $line['status'] == '2' ? 'Complete' : ($line['status'] == '1' ? 'Inactive' : 'Not Started'); ?></td>
<?php } ?>
<?php if($controller == 'milestone'){ ?>
    <td class="nowrapping nullifempty"><?php //echo $line['category'] == '1' ? 'Level 1' : 'Level 2'; ?></td>
    <td class="nowrapping nullifempty"><?php //echo changeMySQLDateToPageFormat($line['startdate']); ?></td>
    <td class="nowrapping nullifempty"><?php //echo changeMySQLDateToPageFormat($line['enddate']); ?></td>
    <td class="nowrapping nullifempty"><?php //echo $line['status'] == '2' ? 'Complete' : ($line['status'] == '1' ? 'Inactive' : 'Not Started'); ?></td>
<?php } ?>
<?php if($controller == 'risk' || $moduleitem == 'Risk'){ ?>
    <td class="nullifempty hide"><?php echo nl2br($line['description']); ?></td>
    <td class="nowrapping nullifempty centeralign" style="color:#000; background:#<?php echo $def_probab_color; ?>"><?php echo isArrayKeyAnEmptyString($line['probability'], $probability_ranks) ? '' : $probability_ranks[$line['probability']]; ?></td>
    <td class="nowrapping nullifempty centeralign" style="color:#000; background:#<?php echo $def_simpact_color; ?>"><?php echo isArrayKeyAnEmptyString($line['impact_schedule'], $impact_ranks) ? '' : $impact_ranks[$line['impact_schedule']]; ?></td>
    <td class="nowrapping nullifempty centeralign" style="color:#000; background:#<?php echo $def_cimpact_color; ?>"><?php echo isArrayKeyAnEmptyString($line['impact_cost'], $impact_ranks) ? '' : $impact_ranks[$line['impact_cost']]; ?></td>
    <td class="nowrapping nullifempty centeralign" style="color:#000; background:#<?php echo $exposure_color; ?>"><?php echo $exposure; ?></td>
    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['responsetype'], $response_types) ? '' : $response_types[$line['responsetype']]; ?></td>
    <td class="nullifempty"><?php echo nl2br($line['responsedetails']); ?></td>
    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['userid'], $users) ? '' : $users[$line['userid']]; ?></td>
    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['status'], $riskstatuses) ? '' : $riskstatuses[$line['status']]; ?></td>
    <td class="nowrapping nullifempty"><?php echo isEmptyString($line['startdate']) ? '' :  formatDateAndTime($line['startdate']); ?></td>
    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['frequency'], $reviewtypes) ? '' : $reviewtypes[$line['frequency']]; ?></td>
    <td class="nowrapping nullifempty"><?php echo isEmptyString($line['enddate']) ? '' :  formatDateAndTime($line['enddate']); ?></td>
<?php } ?>
<?php if($controller == 'profile'){ ?>
    <td class="nullifempty"><?php echo $gender; ?></td>
    <td class="nullifempty"><?php echo $phone; ?></td>
    <td class="nullifempty"><?php echo $email; ?></td>
    <td class="nowrapping"><?php echo $username; ?></td>
    <td class="nowrapping"><?php echo $groups; ?></td>
    <td class="nowrapping"><?php echo $statuslabel; ?></td>
    <td class="nowrapping"><?php echo $addedby; ?></td>
    <td class="nowrapping"><?php echo changeMySQLDateToPageFormat($line['datecreated'], true); ?></td>
<?php } ?>
<?php if($controller == 'project' && $action == 'list'){ ?>
    <td class="nowrapping nullifempty"><?php echo $programlist; ?></td>
    <td class="nowrapping nullifempty"><span title="<?php echo $progunits; ?>"><?php echo $progunits; ?></span></td>
    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['type'], $projecttypes) ? '' : $projecttypes[$line['type']]; ?></td>
    <td class="nowrapping nullifempty"><?php echo changeMySQLDateToPageFormat($line['startdate']); ?></td>
    <td class="nowrapping nullifempty"><?php echo changeMySQLDateToPageFormat($line['enddate']); ?></td>
    <td class="nowrapping nullifempty"><?php echo $statuslabel; ?></td>
    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($line['ownerid'], $users) ? '' : $users[$line['ownerid']]; ?></td>
<?php } ?>
<?php if($controller == 'validation'){ ?>
    <td class="nowrapping nullifempty"></td>
    <td class="nowrapping nullifempty"></td>
<?php } ?>
<?php if($showlastupdated){ ?>
    <td class="nowrapping nullifempty"><?php echo $lastupdatedate; ?></td>
<?php } ?>
