<ul class="resetlist listactions">
	<?php if($controller == 'activity'){ ?>
        <li>
            <?php
                $hasfilters = true;
                $dropdown = new Zend_Form_Element_Select('fyear',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[F/Year]'), $fyears),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->fyear); 
                echo $dropdown->render();
            ?>
        </li>
        <li>
            <?php
                $dropdown = new Zend_Form_Element_Select('type',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Activity Type]'), $activitytypes),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->type); 
                echo $dropdown->render();
            ?>
        </li>
        <li>
            <?php
                $dropdown = new Zend_Form_Element_Select('status',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Status]'), $activitystatus),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->status); 
                echo $dropdown->render();
            ?>
        </li>
    <?php } ?>
    
    <?php if($controller == 'attribute'){ ?>
        <li>
            <?php
                $hasfilters = true;
                $dropdown = new Zend_Form_Element_Select('valuetype',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Value Types]'), $datatypes),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('valuetype')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li>
            <?php
                $dropdown = new Zend_Form_Element_Select('domaintype',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Domain Types]'), $aggtypes),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('domaintype')); 
                echo $dropdown->render();
            ?>                    
        </li>
    <?php } ?>
    <?php if($controller == 'categoryoption'){ ?>
        <li style="width:200px;">
            <?php
                $hasfilters = true;
                $categories = getDataCategories();
                $dropdown = new Zend_Form_Element_Select('categoryid',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Category]'), $categories),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
    
                                        'class' => array("form-control", 'input-sm', 'chosen-select'),
                                        'style' => array('width:100%')
                                    )
                );  
                $dropdown->setValue($request->getParam('categoryid')); 
                echo $dropdown->render();
            ?>                    
        </li>
    <?php } ?>
    <?php if($controller == 'dataset'){ ?>
        <li>
            <?php
                $hasfilters = true;
                $dropdown = new Zend_Form_Element_Select('formtype',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Form Types]'), $formtypes),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('formtype')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li>
            <?php
                $dropdown = new Zend_Form_Element_Select('periodtype',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Period Types]'), $periodtypes),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('periodtype')); 
                echo $dropdown->render();
            ?>                    
        </li>
    <?php } ?>
    <?php if($controller == 'indicator'){ ?>
        <li>
            <?php
                $hasfilters = true;
                $dropdown = new Zend_Form_Element_Select('indicatortype',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Type]'), $indicatortypes),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('indicatortype')); 
                echo $dropdown->render();
            ?>
        </li>
        <li>
            <?php
                $dropdown = new Zend_Form_Element_Select('level',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Category]'), $indicatorlevels),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('level')); 
                echo $dropdown->render();
            ?>
        </li>
        <li>
            <?php
                $dropdown = new Zend_Form_Element_Select('uom',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Unit]'), $indicatorgroups),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('uom')); 
                echo $dropdown->render();
            ?>
        </li>
    <?php } ?>
    <?php if($controller == 'profile' && $action == 'list'){ ?>
        <li>
            <?php
                $hasfilters = true;
                $dropdown = new Zend_Form_Element_Select('type',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter By Type'), $allroles),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                       'class' => array("xautofilter", "form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('type')); 
                echo $dropdown->render();
            ?>                   
        </li>
        <li>
            <?php
                $hasfilters = true;
                $dropdown = new Zend_Form_Element_Select('status',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter By Status'), $userstatuses),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                       'class' => array("xautofilter", "form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('status')); 
                echo $dropdown->render();
            ?>                   
        </li>
    <?php } ?>
	<?php if(($listcontroller == 'activity' || $listcontroller == 'dataset')){ 
		$hasfilters = true;
	?>
        <li style="width:100%;">
        	<span id="dates">
                <input type="text" name="startdate" id="startdate" class="form-control input-sm ordinary inline width90 dates xreadonly input-sm" value="<?php echo $request->startdate; ?>" placeholder="From" /> &nbsp;
                <input name="enddate" id="enddate" type="text" class="form-control input-sm ordinary inline width90 dates xreadonly input-sm " value="<?php echo $request->enddate; ?>" placeholder="To" />
            </span>
        </li>
	<?php } ?>        
    
	<?php if($listcontroller == 'attribute' || $controller == 'dataentry'/* || ($request->tab == 'data' && $request->widget == 'submissions')*/){ ?>
    	<li style="width:350px;">
            <?php
               $hasfilters = true;
			    $dropdown = new Zend_Form_Element_Select('datasetid',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Dataset]'), $datasets),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'input-sm', 'chosen-select'),
										'style' => array('width:100%')
                                    )
                );  
                $dropdown->setValue($request->getParam('datasetid')); 
                echo $dropdown->render();
            ?>                    
        </li>
    <?php } ?>
    <?php if($listcontroller == 'indicator'){ ?>              
        <li>
            <?php
				$hasfilters = true;
                $dropdown = new Zend_Form_Element_Select('programid',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter with Objective]'), $programs),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('programid')); 
                echo $dropdown->render();
            ?>                    
        </li>
  	<?php } ?>
	<?php if($listcontroller == 'activity' || $listcontroller == 'dataset' || $listcontroller == 'indicator'){ ?>
        <li style="width:350px;">
            <?php
                $hasfilters = true;
				$dropdown = new Zend_Form_Element_Select('projectid',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Project]'), $projects),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'input-sm', 'chosen-select'),
										'style' => array('width:100%')
                                    )
                );  
                $dropdown->setValue($request->getParam('projectid')); 
                echo $dropdown->render();
            ?>                    
        </li>
	<?php } ?>        
	<?php if(($listcontroller == 'activity' || $listcontroller == 'dataset')){ ?>        
        <li style="width:200px;">
            <?php
                $hasfilters = true;
				$dropdown = new Zend_Form_Element_Select('userid',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by User]'), $users),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'input-sm', 'chosen-select'),
										'style' => array('width:100%')
                                    )
                );  
                $dropdown->setValue($request->getParam('userid')); 
                echo $dropdown->render();
            ?>                    
        </li>
    <?php } ?>
	<?php if($listcontroller == 'dataset'){ ?>        
        <li style="width:350px;">
            <?php
				$hasfilters = true;
				$attributes = getDataAttributes();
                $dropdown = new Zend_Form_Element_Select('attributeid',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter with Attribute]'), $attributes),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'input-sm', 'chosen-select'),
										'style' => array('width:100%')
                                    )
                );  
                $dropdown->setValue($request->getParam('attributeid')); 
                echo $dropdown->render();
            ?>                    
        </li>
	<?php } ?>
    <?php if($controller == 'issuetracking'){ ?>
    	<li>
            <?php
				$hasfilters = true;
                $dropdown = new Zend_Form_Element_Select('status',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Status]'), $issuestatuses),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('status')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li>
            <?php
                $dropdown = new Zend_Form_Element_Select('category',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Category]'), $issuecategories),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('category')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li>
            <?php
                $dropdown = new Zend_Form_Element_Select('priority',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Priority]'), $issuepriority),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('priority')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li style="width:350px;">
            <?php
                $hasfilters = true; $projects = getProjects();
				$dropdown = new Zend_Form_Element_Select('projectid',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Project]'), $projects),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'input-sm', 'chosen-select'),
										'style' => array('width:100%')
                                    )
                );  
                $dropdown->setValue($request->getParam('projectid')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li style="width:200px;">
            <?php
                $hasfilters = true;
				$dropdown = new Zend_Form_Element_Select('userid',
					array(
						'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Owner]'), $users),
						'view' => new Zend_View(),
						'decorators' => array('ViewHelper'),
						'class' => array("form-control", 'input-sm', 'chosen-select'),
						'style' => array('width:100%')
					)
                );  
                $dropdown->setValue($request->getParam('userid')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li>
        	<span id="dates">
                <input type="text" name="startdate" id="startdate" class="form-control input-sm ordinary inline width90 dates xreadonly input-sm" value="<?php echo $request->startdate; ?>" placeholder="From" /> &nbsp;
                <input name="enddate" id="enddate" type="text" class="form-control input-sm ordinary inline width90 dates xreadonly input-sm " value="<?php echo $request->enddate; ?>" placeholder="To" />
            </span>
        </li>
    <?php } ?>
    <?php if($controller == 'risk'){ ?>
    	<li>
            <?php
				$hasfilters = true;
                $dropdown = new Zend_Form_Element_Select('status',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Status]'), $riskstatuses),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('status')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li>
            <?php
				$hasfilters = true;
                $dropdown = new Zend_Form_Element_Select('probability',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Probability]'), $probability_ranks),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('probability')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li>
            <?php
				$hasfilters = true;
                $dropdown = new Zend_Form_Element_Select('impact_schedule',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Cost Impact]'), $impact_ranks),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('impact_schedule')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li>
            <?php
				$hasfilters = true;
                $dropdown = new Zend_Form_Element_Select('impact_cost',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Schedule Impact]'), $impact_ranks),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('impact_cost')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li>
            <?php
				$hasfilters = true;
                $dropdown = new Zend_Form_Element_Select('exposure',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Exposure]'), $probability_ranks),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('exposure')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li style="width:200px;">
            <?php
                $hasfilters = true;
				$dropdown = new Zend_Form_Element_Select('userid',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Owner]'), $users),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'input-sm', 'chosen-select'),
										'style' => array('width:100%')
                                    )
                );  
                $dropdown->setValue($request->getParam('userid')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li>
        	<span id="dates">
                <input type="text" name="startdate" id="startdate" class="form-control input-sm ordinary inline width90 dates xreadonly input-sm" value="<?php echo $request->startdate; ?>" placeholder="From" /> &nbsp;
                <input name="enddate" id="enddate" type="text" class="form-control input-sm ordinary inline width90 dates xreadonly input-sm " value="<?php echo $request->enddate; ?>" placeholder="To" />
            </span>
        </li>
    <?php } ?>
    <?php if($listcontroller == 'project' && $action == 'list'){ ?>      
    	<li>
			<?php
                $hasfilters = true;
                $dropdown = new Zend_Form_Element_Select('type',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Type]'), $projecttypes),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('type')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li>
            <?php
                $dropdown = new Zend_Form_Element_Select('program',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Programme]'), $programs),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('program')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li>
        	<?php
                $dropdown = new Zend_Form_Element_Select('program_unit',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by PU]'), $program_units),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('program_unit')); 
                echo $dropdown->render();
            ?>
        </li>
        <li>
            <?php
                $dropdown = new Zend_Form_Element_Select('status',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by Status]'), $projectstatus),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'width150', 'input-sm')
                                    )
                );  
                $dropdown->setValue($request->getParam('status')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li style="width:150px;">
            <?php
                $hasfilters = true;
				$dropdown = new Zend_Form_Element_Select('userid',
                                    array(
                                        'multiOptions' => array_merge_maintain_keys(array('' => '[Filter by User]'), $users),
                                        'view' => new Zend_View(),
                                        'decorators' => array('ViewHelper'),
                                        'class' => array("form-control", 'input-sm', 'chosen-select'),
										'style' => array('width:100%')
                                    )
                );  
                $dropdown->setValue($request->getParam('userid')); 
                echo $dropdown->render();
            ?>                    
        </li>
        <li style="width:100%;">
        	<span id="dates">
                <input type="text" name="startdate" id="startdate" class="form-control input-sm ordinary inline width125 dates xreadonly input-sm" value="<?php echo $request->startdate; ?>" placeholder="Startdate From" /> &nbsp;
                <input name="enddate" id="enddate" type="text" class="form-control input-sm ordinary inline width125 dates xreadonly input-sm " value="<?php echo $request->enddate; ?>" placeholder="Startdate To" />
            </span>
            <span id="dates2">
                <input type="text" name="startdate_to" id="startdate_to" class="form-control input-sm ordinary inline width125 dates xreadonly input-sm" value="<?php echo $request->startdate_to; ?>" placeholder="Enddate From" /> &nbsp;
                <input type="text" name="enddate_to" id="enddate_to" class="form-control input-sm ordinary inline width125 dates xreadonly input-sm " value="<?php echo $request->enddate_to; ?>" placeholder="Enddate To" />
            </span>
        </li>
    <?php } ?>
	<?php if($hasfilters){ ?>
        <li class="pul-right">
            <button type="submit" class="btn btn-default btn-sm blockanchor" id="filter" title="Filter" style="xpadding: 5px 10px !important;"><i class="fa fa-filter"></i> Filter</button>
            <a href="<?php echo $listurl; ?>" title="Clear Filters">Clear</a> 
        </li>
    <?php } ?>
</ul>    