<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$listurl = $this->baseUrl($controller.'/'.$action);
	$listitems = "Variables";
	$description = 'Application settings';
	$title = $columnheading = "Settings";
	
	$showsearch = true;
	$section = $request->getParam('section'); // debugMessage('>> '.$section);
	
	$conn = Doctrine_Manager::connection();
	$query = "SELECT a.* FROM aclaction AS a where a.resourceid = 8 AND a.slug = '".$action."' order by a.name asc ";  // debugMessage($query);
	$actiondetails = $conn->fetchRow($query); //debugMessage($actiondetails);
	$section = $actiondetails['slug'];
	
	$columnheading = "Settings";
	if(!isEmptyString($section)){
		$currentlookup = new AppConfig();
		$current = $currentlookup->getCurrentSection($section);
		// debugMessage($current->toArray());
		
		$appconfig = new AppConfig();
		$variables = $appconfig->getLookupOptions($current->getSection());
		// debugMessage($variables->toArray());
		$columnheading = $current->getSectionDisplay();
	}
	
	$this->headTitle($title.$browserappend);
?>
<script>
$(document).ready(function(){
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.'System Settings / '.$title; ?>');
	
});
</script>

<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div class="row" id="contentarea">
    <div class="col-md-12">
        <form id="indexform" name="indexform" class="form-horizontal" action="<?php echo $this->baseUrl($controller.'/processconfig'); ?>" method="post">
            <div class="panel panel-color panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked"><?php echo $columnheading; ?></h3>
                    <div class="portlet-widgets lineblocked floatright">
                    	
                    </div>
                </div>
                <div class="panel-body p-t-10">
                    <div class="row">
                    	<div class="divider5"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <?php if(in_array($current->getSection(), array('api','system','sms'))){ ?>
                                    <div class="alert alert-warning">These are very sensitive settings. Be sure you know the implication of commiting any updates.</div>
                                 <?php } ?>
                            </div>
                        </div>
                        <div class="divider5"></div>
                        <table class="table margin0 table-bordered table-condensed table-striped table-colored-header" style="width:800px;">
                            <thead>
                                <td style="width:25px;" class="centeralign">#</td>
                                <td>Description</td>
                                <td style="width:50%;">Actual Value</td>
                            </thead>
                            <tbody>
                                <?php
                                    $t = 1;
                                    foreach($variables as $option){
                                        $id = $option->getID();
                                        
                                ?>
                                    <tr id="lookup_<?php echo $t; ?>" class="editable">
                                        <td class="centeralign"><?php echo $t; ?>
                                            <input type="hidden" name="t_<?php echo $t; ?>" id="t_<?php echo $t; ?>" value="<?php echo $t; ?>" />
                                        </td>
                                        <td>
                                            <?php if($option->isEditable()){ ?>		
                                                <input type="text" name="displayname_<?php echo $t; ?>" id="displayname_<?php echo $t; ?>" class="form-control input-sm readonlyfield readonly" style="width:95%; padding:4px;" value="<?php echo $option->getDisplayName(); ?>" />
                                            <?php } else { ?>    
                                                <?php echo $option->getDisplayName(); ?>
                                                <div class="alert alert-info" style="margin:10px;">Updates to this option are currently disabled.</div>
                                            <?php } ?>
                                            <input type="hidden" name="id_<?php echo $t; ?>" id="id_<?php echo $t; ?>" value="<?php echo $option->getID(); ?>" />
                                            <div id="displayname_<?php echo $t; ?>_error"></div>
                                        </td>
                                        <td>
                                            <?php if($option->isEditable()){ ?>		
                                                <input type="text" name="optionvalue_<?php echo $t; ?>" id="optionvalue_<?php echo $t; ?>" class="form-control input-sm <?php // echo in_array($id, array(61,62)) ? 'readonly' : ''; ?>"  style="width:95%; padding:4px;" value="<?php echo $option->getOptionValue(); ?>" <?php echo in_array($id, array(61,62)) ? 'title="Change these from the Default Company Profile under Manage Companies" rel="tooltip"' : ''; ?> />
                                            <?php } else { ?>    
                                                <?php echo $option->getOptionValue(); ?>
                                                <div class="alert alert-info" style="margin:10px;">Updates to this option are currently disabled.</div>
                                            <?php } ?>
                                            <div id="optionvalue_<?php echo $t; ?>_error"></div>
                                        </td>
                                        <td class="hidden"><?php echo $option->getOptionName(); ?></td>
                                    </tr>
                                <?php $t++; } ?>
                                <input type="hidden" name="t" value="<?php echo $variables->count(); ?>" />
                                <input type="hidden" name="entityname" value="AppConfig" />
                                <input type="hidden" id="section" name="section" value="<?php echo $current->getSection(); ?>" />
                                <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="Successfully updated" /> 
                                <input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($this->viewurl); ?>" /> 
                            </tbody>
                        </table>
                        <div class="divider10"></div>
                        <div class="form-actions testborder clearfix padding10">
                            <button type="submit" class="btn btn-primary btn-large savebutton">Save Changes</button>
                        </div>
                    </div>
              	</div>
          	</div>
   		</form>
	</div>
</div>           
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>