<?php
	// require_once APPLICATION_PATH.'/views/scripts/user/login.phtml';
	require_once APPLICATION_PATH.'/includes/header.php';
		
	$isfuild = false;
	if($layout == 1){
		$isfuild = true;
	}
	
	$title = "Share";
	$this->headTitle($title);
	
	$share = new Share();
	$currentfolder = new Folder();
	$home = new Folder();
	$file = new File();
	
	$currentfolderid = $currentfileid = '';
	$shareid = decode($request->url);
	if(is_numeric($request->url)){
		$shareid = $request->url;
	}
	if(!isEmptyString($shareid)){
		$share->populate($shareid); // debugMessage($share->toArray()); 
		if(!isEmptyString($share->getID())){
			$currentfolderid = $share->getFolderID();
		}
	}
	
	if(!isEmptyString($request->parentid)){
		$currentfolderid = decode($request->parentid);
	}
	
	$ishome = true;
	$currentfolder->populate($currentfolderid);  //debugMessage($currentfolder->toArray()); // exit;
	if(!$currentfolder->isHome()){
		$ishome = false;
	}
	if(!isEmptyString($share->getID())){
		$session->setVar('companyid', $share->getCompanyID());
		$homedir = $home->getHomeFolder($session->getVar('companyid')); // debugMessage($homedir->toArray());
	}
	
	$files = array(); $folders = array();
	$base_path = BASE_PATH.DIRECTORY_SEPARATOR."uploads".DIRECTORY_SEPARATOR;
	if(!$ishome){
		$pathstr = stripUrl($currentfolder->getPath()); 
		$pathidsarr = array_remove_empty(explode('/', $pathstr)); 
		$pathtoroot = ''; $rellink = $homedir->getName().'/';
		foreach($pathidsarr as $i => $fid){
			$fold = new Folder();
			$fold->populate($fid);
			$pathtoroot .= $fold->getName().DIRECTORY_SEPARATOR;
			if(!$fold->isHome()){
				$rellink .= $fold->getName().'/';
			}
		}
		$base_path .= $pathtoroot; // debugMessage($base_path);
	}
	
	$customefolder_query = ""; $customfile_query = "";
	if(!isEmptyString($share->getDirList()) && isEmptyString($request->parentid)){
		$customefolder_query .= " AND d.id IN(".$share->getDirList().") ";
	}
	if($share->getbrowsesubfoler() != '1' || $share->getaccesstype() == 3){
		$customefolder_query .= " AND d.parentid = 'XXX' ";
	}
	
	if(!isEmptyString($share->getFileList())){
		if(isEmptyString($request->parentid)){
			$customfile_query = " AND f.id IN(".$share->getFileList().") ";
		}
	} else {
		if(!isEmptyString($share->getFileID())){
			$customfile_query = " AND f.id = '".$share->getFileID()."' ";
		}
		if(!isEmptyString($share->getDirList()) && isEmptyString($request->parentid)){
			$customfile_query = " AND f.id = 'XXX' ";
		}
		if($share->getaccesstype() == 3){
			//$customfile_query .= " AND f.id = 'XXX' ";
		}
	}
	$folder_custom_query = " AND d.parentid = ".$currentfolderid.$customefolder_query;
	$file_custom_query = " AND f.folderid = ".$currentfolderid.$customfile_query;
		
	$all_results_query = "
	(SELECT d.id as id, d.name as `Name`, d.description as `title`, 'dir' as `Type`, d.parentid as parentid, '' as `ext`, '' as filesize, d.datecreated as `datecreated`, d.createdby as `uploaderid`, concat(ud.firstname, ' ', ud.lastname) as `uploadedby`, ud.username as uploaduser, d.name as `Folder` FROM folder AS d left join useraccount as ud on (d.createdby = ud.id) WHERE d.companyid = '".getCompanyID()."' ".$folder_custom_query.") 
	UNION (SELECT f.id as id, f.filename as `Name`, f.title as `title`, 'file' as `Type`, f.folderid as parentid, f.extension as `ext`, f.filesize as filesize,  f.datecreated as `datecreated`, f.createdby as `uploaderid`, concat(uf.firstname, ' ', uf.lastname) as `uploadedby`, uf.username as uploaduser, fd.name as `Folder` FROM `file` AS f 
	left join useraccount as uf on (f.createdby = uf.id) 
	inner join folder fd on f.folderid = fd.id
	WHERE f.companyid = '".getCompanyID()."' ".$file_custom_query.") ORDER BY `Type`, Name ASC"; // debugMessage($all_results_query); //exit;
	$conn = Doctrine_Manager::connection(); 
	$result = $conn->fetchAll($all_results_query); // debugMessage($result); exit;
	$has_no_data = (count($result) == 0) ? true : false; 
	
	// $base_path = BASE_PATH.DIRECTORY_SEPARATOR."uploads".DIRECTORY_SEPARATOR;
	// debugMessage($file->toArray());
	
	$pageid = 'links';
?>
<link rel="stylesheet" href="<?php echo $this->serverUrl($this->baseUrl('stylesheets/plugins/icheck/all.css')); ?>">
<link rel="stylesheet" href="<?php echo $this->serverUrl($this->baseUrl('stylesheets/plugins/custom/fancybox/jquery.fancybox.css')); ?>">
<script type="text/javascript" src="<?php echo $this->serverUrl($this->baseUrl('javascript/plugins/icheck/jquery.icheck.min.js')); ?>"></script>
<script type="text/javascript" src="<?php echo $this->serverUrl($this->baseUrl('javascript/plugins/custom/fancybox/jquery.fancybox.js')); ?>"></script>
<script>
$(document).ready(function() {
	$('.fancybox').fancybox({
		padding : 5,
		openEffect : 'fade',
		openSpeed  : 150,
		closeEffect : 'fade',
		closeSpeed  : 150
	});
	
	$(".fancybox_pdf").click(function(e) {
		e.preventDefault();
		var url = $(this).attr('rel');
		$.fancybox.open({
			href : '<?php echo $this->baseUrl('f/pdfview/file/'); ?>'+url,
			type : 'iframe',
			padding : 5,
			width: 980
		});
	});
	
	$("a.disableopen").removeAttr('href').removeClass('addpopup').removeClass('fancybox').removeClass('fancybox_pdf');
});
</script>	
<style>
.section.hashover:hover {
	background-color:#f4f4f4;
}
.filez img.linkpreviewimg {
	max-width:90px;
	height:auto !important;
}
.filez img.linkpreviewimg.icoimgstyle {
	margin-top:0;
}
</style>
<div id="<?php echo $pageid; ?>">
	<main id="main" class="tiled filez" style="padding-bottom:5px;">
        <header id="header" class="section" style="padding-bottom:0; padding-top:10px; padding-left:0; padding-right:0;">
        	<div id="navigation" class="">
    			<div class="container-fluid" style="height:70px; background-color:#fff; padding-left: 10px; padding-right: 10px;">
                    <a href="<?php echo $this->baseUrl('index'); ?>" id="brand" class="xcenteralign" style="background:none; padding-left:0; padding-right:0; height:50px; color:#8cbf26; min-width: 0; width:100%; max-width:none; float:none; display:inline-block;">	
                        <img src="<?php echo $logourl; ?>" style="height:100%; margin-left:10px;" /> 
                        <?php echo $appname; ?>
                    </a>
              	</div>
           	</div>
            <div class="col-sm-5 padding0">
            	<div class="divider20"></div>
            	<?php if(!isEmptyString($share->getID()) && !isEmptyString($request->parentid)){ ?>
            		<a class="btn btn-default btn-sm" href="<?php echo $this->baseUrl('f/id/url/'.encode($share->getID())); ?>" title="Back"><i class="glyphicon glyphicon-home"></i><span></span></a>&nbsp;
                <?php } ?>
                <?php if(!isEmptyString($share->getID()) && $share->getCanAddFolder() == '1'){ ?>
                	<a class="addpopup btn btn-default btn-sm file-upload-btn addfolder" href="<?php echo $this->baseUrl('f/info/parentid/'.$currentfolderid.'/companyid/'.$share->getCompanyID().'/type/folder/pgc/true'); ?>" title="New Folder" rel="New Folder" formtitle="indexform" successurl="<?php echo stripUrl($this->viewurl); ?>" action="<?php echo $this->baseUrl("library/processinfo"); ?>" submittext="Save Folder"><i class="fa fa-folder"></i><span class="hidden-phone"> Add Folder</span></a>&nbsp;
                <?php } ?>
                <?php if(!isEmptyString($share->getID()) && $share->getCanUpload() == '1'){ ?>
                	<a class="addpopup btn btn-success btn-sm file-upload-btn addfiles" href="<?php echo $this->baseUrl('f/upload/parentid/'.$currentfolderid.'/companyid/'.$share->getCompanyID().'/pgc/true'); ?>" title="Upload Files" rel="Upload Files" formtitle="indexform" successurl="<?php echo stripUrl($this->viewurl); ?>" action="<?php echo $this->baseUrl("library/processuploads"); ?>" submittext="Save Files"><i class="fa fa-upload"></i> Upload Files</a>&nbsp; 
                <?php } ?>    
            </div>
            <div class="col-sm-2 centeralign">
            	<h2 class="section__header centeralign" style="display:block; font-size:18px;">Shared Files</h2>
            </div>
            <div class="col-sm-5">
            
            </div>
            <div class="divider15"></div>
        </header>
        <?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
        <?php if($has_no_data){ ?>
        	<section class="section section--text" style="min-height:75px;">
 				<div class="alert alert-warning">There are no files in this location
                	<?php if($share->getaccesstype() == 3){ ?>
                     Browsing contents of this location is disabled
                    <?php } ?>
                </div>
           	</section>
        <?php } else { ?>
			<?php
                $relpath = $this->baseUrl('uploads/');
                $imagesarray = array('gif', 'png', 'jpg', 'jpeg');
                $icoimgarray = array('zip','pdf','doc','docx','xls','xlsx','ppt','pptx','mp3');
                foreach($result as $line) {
                    $type = $line['Type']; $filesize = ''; $name ="";
                    $isfolder = false; $isfile = false;
                    $typelabel = "";
                    if($type == 'dir'){
                        $isfolder = true; $isfile = false;
                        $typelabel = "Directory";
                    }
                    if($type == 'file'){
                        $isfile = true; $isfolder = false;
                        $typelabel = "File";
                    }
                    
                    if($isfolder){
                        $foldername = $name = $line['Name'];
                        $ext = '';
                        $abspath = stripURL($base_path).DIRECTORY_SEPARATOR.$currentfolder->getName().DIRECTORY_SEPARATOR.$foldername; // debugMessage($abspath);
                        $filesize = '';
                        if(is_dir($abspath)){
                            $filesize = human_filesize(getFolderSize($abspath));
                        }
                        $relpath = '';
                        $viewurl = $this->baseUrl('f/id/url/'.encode($share->getID()).'/parentid/'.encode($line['id']));
                        $viewhtml = ' href="'.$viewurl.'"';
                        $downloadurl = $this->baseUrl('download/zip/filename/'.encode($foldername.'_zip_'.time()).'/path/'.encode($abspath));
                        $indexurl = $this->baseUrl('f/info/id/'.encode($line['id']).'/type/folder/pgc/true/successurl/'.encode($this->viewurl));
                        $liststr = '/dirlist/'.encode($line['id']);
                    }
                    if($isfile){
                        $foldername = $line['Folder'];
                        $filename = $name = $line['Name'];
                        $ext = str_replace('.', '', $line['ext']); 
                        $abspath = stripURL($base_path).DIRECTORY_SEPARATOR.$foldername.DIRECTORY_SEPARATOR.$filename; // debugMessage($abspath);
                        
                        $filesize = '';
                        if(file_exists($abspath)){
                            $filesize = human_filesize(filesize($abspath));
                        }
                        
                        $icoimgstyle = ''; 
                        $relpath = $imgurl = $this->serverUrl($this->baseUrl('uploads/'.$foldername.'/'.$filename));
                        if(!$ishome){
                            $relpath = $this->serverUrl($this->baseUrl('uploads/'.stripUrl($rellink).'/'.$foldername.'/'.$filename));
                        }
                        
                       //  debugMessage();
                        $showimageicon = false; $isimage = false; $imageclass = ''; $fancyboxopts ='';
                        $ispdf = false;
                        $deleteurl = $this->baseUrl('library/delete/id/'.encode($line['id'])."/entityname/File/successurl/".encode($this->viewurl));
                        $downloadurl = $this->baseUrl('download/index/filename/'.encode($filename).'/path/'.encode($abspath));
                        $indexurl = $this->baseUrl('library/info/id/'.encode($line['id']).'/type/file/pgc/true/successurl/'.encode($this->viewurl));
                        $linkhref = ' href="javascript: void(0)"';
                        $archiveurl = $this->baseUrl('library/archive/id/'.encode($line['id'])."/isfile/1/successurl/".encode($this->viewurl));
                        $liststr = '/filelist/'.encode($line['id']);
                        
                        if(in_array($ext, $icoimgarray)){
                            $showimageicon = true;							
                            $icoimgstyle = 'icoimgstyle';
                            $imgurl = $this->baseUrl('images/icon_'.$ext.'.png');
                        }
                        if(in_array($ext, $imagesarray)){
                            $showimageicon = true; $isimage = true; 
                            $imageclass = ' fancybox';
                            $fancyboxopts =' data-fancybox-group="gallery" ';
                            $imgurl = stripUrl($relpath);
                            $linkhref = ' href="'.$imgurl.'"';
                        } elseif($ext == 'pdf') {
                            $ispdf = true;
                            $imageclass = ' fancybox_pdf gonowhere ';
                            $linkhref = ' rel="'.encode($relpath).'" ';
                        } else {
                            $linkhref = ' href="'.$downloadurl.'"';
                        }
                        $viewhtml = ''.$linkhref.' class="'.$imageclass.'" '.$fancyboxopts.'';
                    }
            ?>
                <section class="section section--text hashover" style="min-height:75px;">
                    <div class="col-sm-2 padding0 xcenteralign" style="padding-left:15px;">
                        <?php if($isfolder){ ?>
                            <span class="xcenteralign xwell makerelative" style="height:auto; width:70px; display:inline; margin:0; padding:0;">
                                <a href="<?php echo $viewurl; ?>" style="width:100%; background:none; border:none; box-shadow:none;" class="blocked xcenteralign well iconcontainer openfolder <?php echo $share->getCanRead() == 1 ? '' : 'disableopen'; ?>">
                                    <i class="fa fa-folder-open foldericon" style="margin:0;"></i>
                                </a>
                            </span>
                        <?php } ?>
                        <?php if($isfile){ ?>
                            <a class="xcenteralign xwell iconcontainer isfile openfile <?php echo $share->getCanRead() == 1 ? '' : 'disableopen'; ?> <?php echo $imageclass; ?>" <?php echo $fancyboxopts; ?> <?php echo $linkhref; ?> style="width:70px; display:inline; margin:0; padding:0;">
                                <?php if($showimageicon){ ?>
                                    <img src="<?php echo $imgurl; ?>" class="linkpreviewimg <?php echo $icoimgstyle; ?>" />
                                <?php } else { ?>
                                    <i class="fa fa-file-o fileicon makerelative" style="margin-top:0;"><span class="exttext">.<?php echo $ext; ?></span></i>
                                <?php } ?>
                            </a>
                        <?php } ?>
                    </div>
                    <div class="col-sm-8 padding0">
                        <h2 class="section__header" style="margin-top:2px;">
                            <?php if($isfolder){ ?>
                                <a href="<?php echo $viewurl; ?>" class="filename openfolder <?php echo $share->getCanRead() == 1 ? '' : 'disableopen'; ?>" title="<?php echo $foldername; ?>" style="text-decoration:none; color:#368ee0;"><?php echo snippet($foldername, 35, '..'); ?></a>
                            <?php } ?>
                            <?php if($isfile){ ?>
                                <a class="filename filename-list openfile <?php echo $share->getCanRead() == 1 ? '' : 'disableopen'; ?> <?php echo $imageclass; ?>" <?php echo $fancyboxopts; ?> <?php echo $linkhref; ?> style="text-decoration:none; color:#368ee0;"><?php echo snippet($filename, 30, '..'); ?></a>
                            <?php } ?>
                        </h2>
                        <ul class="listitemproperties">
                            <li><?php echo date('d/m/Y h:i A', strtotime($line['datecreated'])); ?></li>
                            <li><?php echo $filesize; ?></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 padding0 rightalign">
                        <?php if($isfolder){ ?>
                            <a class="btn btn-default btn-xs <?php echo $share->getCanRead() == 1 ? '' : 'disableopen'; ?>" <?php echo $viewhtml; ?>>Open</a>
                        <?php } ?>
                        <?php if($isfile && $share->getcanread() == 1){ ?>
                            <a class="btn btn-default btn-xs <?php echo $share->getCanRead() == 1 ? '' : 'disableopen'; ?>" href="<?php echo $downloadurl; ?>" target="_blank">Download</a>
                        <?php } ?>    
                    </div>
                </section>
            <?php } ?>
		<?php } ?>            
   	</main>
</div>
<footer id="footer">
    <?php echo isEmptyString($company->getWebsite()) ? '<label class="floatleft">'.$company->getName().'</label>' : '<a href="'.$company->getWebsite().'" class="floatleft">'.$company->getName().'</a>'; ?>
    <span class="floatright">Powered by <a href="<?php echo $this->serverUrl(); ?>"><?php echo $config->system->appname; ?></a></span>
</footer>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>