<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$role = new AclGroup();
	$id = is_numeric($request->id) ? $request->id : decode($request->id);
	
	$resourcearray = getResources();
	$title = 'User Roles';
	
	if(isEmptyString($request->id)){
		$pagetitle = 'New User Role';
		$description = "New Access Control Configuration";
		$button_title = $this->translate('global_button_save'); 
		$pagetitle = 'New Role';
		$successmessage = "Successfully saved"; 
		$posturl = $this->baseUrl("role/processroles");
		$noofusers = 0;
		if(!isEmptyString($request->parentid)){
			$parentid = decode($request->parentid);
			$parent = new AclGroup();
			$parent->populate($parentid); 
			$id = $parent->getID();
			$role = $parent;
			$role->setID(NULL);
			$role->setName(NULL);
			$role->setDescription(NULL);
		}
		$role->setCompanyID(getCompanyID());
	} else {
		$role->populate($id);
		$pagetitle = 'Update';
		$description = "Update Access Control List";
		$button_title = $this->translate('global_button_save_changes'); 
		$pagetitle = 'Update Permissions';
		$successmessage = "Successfully updated"; 
		$posturl = $this->baseUrl("role/processroles");
		$noofusers = countActiveUsersInGroup($role->getID()); // debugMessage($noofusers);
		if(isEmptyString($role->getCompanyID())){
			$role->setCompanyID(getCompanyID());
		}
		$id = $role->getID();
	}
	
	$successurl = $this->baseUrl('role/view');
	$failureurl = $this->viewurl;
	$listurl = $this->baseUrl("role/list");
	
	if(!isEmptyString($session->getVar(ERROR_MESSAGE))){ 
		$role->processPost($session->getVar(FORM_VALUES));	
	}
	
	$pageid = "role_index";
	$session->setVar('title', $title);
	$this->headTitle($title.$browserappend);
?>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
		
	$("#indexform").validate({		
		// define the validation rules one field at a time
		rules: {
			name: "required",
			description: "required"
		}, 
		// the messages for each of the fields being validated
		messages: {		
			name: "<?php echo $this->translate("role_name_error"); ?>",
			description: "<?php echo $this->translate("role_description_error"); ?>"
		}
	});
	
	$('#bottomactions').html($('.actions').html());
	
	// handling of checkbox selections for the permissions
	// bind the function for updating hidden fields when the respective checkboxes are selected
	// $("#permissions :checkbox").change(updatePermissionHiddenField()); 
													 
	// function to update the value of hidden field when a permission checkbox is selected or unselected
	function updatePermissionHiddenField() {
		if (this.checked) {
			$("#" + this.value).val("1");
		} else {
			$("#" + this.value).val("0");
		}
	} 
	
	// functionality for the all permissions checkboxes
	// change the odd rows to odd
	$(".allpermissionscheckbox").click(function() {
		 var rid = $(this).attr('resourceid');
		 $(".resource_"+rid).prop('checked', $(this).prop("checked"));
	});
});
</script>
<style>
ul.managelist > li {
	width:300px;
}
</style>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div class="row" id="contentarea">
    <div class="col-md-12">
		<form class="form-horizontal" role="form" action="<?php echo $posturl; ?>" method="post" id="indexform">
            <input name="entityname" id="entityname" type="hidden" value="Role" />
            <input type="hidden" id="id" name="id" value="<?php echo encode($role->getID()); ?>" />
            <input name="successmessage" id="successmessage" type="hidden" value="<?php echo $successmessage; ?>" />  
            <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" /> 
            <input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($successurl); ?>" /> 
            <input type="hidden" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" value="<?php echo encode($failureurl); ?>" /> 
            <?php ob_start(); ?>
            	<?php if(!isEmptyString($role->getID()) && $role->getID() != '1' && $noofusers == 0){ ?>
                	<a class="btn btn-default btn-sm gonowhere deleteline" action="<?php echo $this->baseUrl('role/delete/id/'.encode($role->getID())."/entityname/AclGroup/successurl/".encode($listurl)); ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>" type="button" data-toggle="tooltip" data-placement="top" data-original-title="Delete" title="Delete"><i class="fa fa-trash"></i></a>
                <?php } else { ?>
                	<a class="btn btn-default btn-sm gonowhere alert-dialog" message="Delete currently disabled! Deactivate any active users in this Group!" type="button" data-toggle="tooltip" data-placement="top" data-original-title="Delete" title="Delete"><i class="fa fa-trash"></i></a>
                <?php } ?>
                <a class="btn btn-default btn-sm cancel gonowhere" type="button"><?php echo $this->translate('global_button_cancel'); ?></a>
                <button type="submit" class="btn btn-primary btn-sm savebutton waves-effect waves-light"><?php echo $button_title; ?></button> 
			<?php $actionshtml = ob_get_clean(); ?>
            <div class="panel panel-border panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked text-dark"><?php echo $pagetitle; ?></h3>
                    <div class="portlet-widgets lineblocked floatright"><?php echo $actionshtml; ?></div>
                </div>
                <div class="panel-body">
                	<div class="row clearfix">
    					<div class="col-md-12">
                        	<div class="form-group">
                                <label class="control-label col-sm-2 leftalign">Name</label>
                                <div class="col-sm-4">
                                	<input type="text" class="form-control" name="name" id="name" placeholder="Enter name of role" value="<?php echo $role->getName(); ?>" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2 leftalign">Description</label>
                                <div class="col-sm-8">
                                	<textarea class="form-control expanding elastic" name="description" id="description"  placeholder="Enter description"><?php echo $role->getDescription(); ?></textarea>
                               	</div>
                            </div>
                            <div class="form-group">
                            	<label class="control-label col-sm-12 leftalign">Permissions</label>
                            	<div class="col-sm-12 m-b-0">
                              		<div class="card-box clearfix p-t-10 p-b-10 m-b-0">
                                    	<?php 
											$resources = getAllResources();
											$permissions = getPermissionsForGroup($role->getID()); 
											$allpermissions = array();
											foreach($permissions as $k => $perm){
												$allpermissions[$perm['resourceid']][$perm['actionid']] = $perm;
											}
											// debugMessage($allpermissions); // exit;
										?>
										<?php if(count($resources) == 0){ ?>
											<div class="alert alert-warning">No Resources available</div>
										<?php } else { ?>
											<?php foreach($resources as $rid => $resource){ 
												$actions = getActionsResources($resource['id']); // exit;
												$rid = $resource['id'];
											?>
												<label class="control-label blocked leftalignlabel" style="border-bottom:1px solid #ddd; color:#0072ce;"><?php echo $resource['description']; ?></label>
												<div class="col-sm-12 padding0">
													<div class="divider10"></div>
													<ul class="managelist">
														<?php if(count($actions) == 0){ ?>
															<div class="alert alert-warning">No actions available</div>
														<?php } ?>
														<?php foreach($actions as $aid => $actiondetails){ 
															$cid = $actiondetails['id']; // debugMessage($actiondetails);
														?>
															<li>
																<?php 
																	$currentperm = '0';
																	$lineid  = '';
																	if(!isArrayKeyAnEmptyString($rid, $allpermissions)){
																		if(!isArrayKeyAnEmptyString($cid, $allpermissions[$rid])){
																			$lineid  = $allpermissions[$rid][$cid]['id'];
																			if(!isArrayKeyAnEmptyString('actionid', $allpermissions[$rid][$cid])){
																				if($allpermissions[$rid][$cid]['value'] == 1){
																					$currentperm = '1';
																				}
																			}
																		}
																	}
																	
																	$resourceid = $rid;
																	$actionid = $cid;
																?>
                                                                <div class="checkbox checkbox-default">
                                                                    <input type="checkbox" name="permissions[<?php echo $resourceid; ?>][<?php echo $actionid; ?>]" id="chk_<?php echo $resourceid; ?>_<?php echo $actionid; ?>" value="1" class="resource_<?php echo $resourceid; ?> resourcetrigger" <?php echo $currentperm == '0' ? '' : 'checked'; ?>  />
                                                                    <label for="chk_<?php echo $resourceid; ?>_<?php echo $actionid; ?>">
                                                                        <span><?php echo $actiondetails['name']; ?></span>
                                                                    </label>
                                                                </div>
															</li>
														<?php } ?>
														<?php if(count($actions) > 0){ ?>
															<li>
                                                            	<div class="checkbox checkbox-default">
                                                                    <input type="checkbox" name="allpermissionscheckbox_<?php echo $resourceid; ?>" id="checkall_<?php echo $resourceid; ?>" class="allpermissionscheckbox" value="1" resourceid="<?php echo $resourceid; ?>" />
                                                                    <label for="checkall_<?php echo $resourceid; ?>">
                                                                        <span>Grant All</span>
                                                                    </label>
                                                                </div>
                                                          	</li>
														<?php } ?>
													</ul>
													<div class="divider10"></div>
												</div>
											<?php } ?>
										<?php } ?>
                                    </div>
                                </div>
                        	</div>
                   		</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box p-t-10 p-b-10">
                        <div class="form-group m-b-0">
                            <div class="col-sm-offset-2 col-sm-12"><?php echo $actionshtml; ?></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
	</div>
</div>    
                
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
