<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	# Page variables 
	$title = "User Roles"; 
	$resource = "Role";
	$moduleitem = "Role";
	$entityname = "Role";
	$listitems = "Roles";
	$addurl = $this->baseUrl('role');
	$listurl = $this->baseUrl('role/list');
	
	# list style
	$style = 'gd'; $istable = false; $isgrid = false;
	if(!isEmptyString($request->style)){
		$style = $request->style;
		$session->setVar('style', $request->style);
	}
	if(isEmptyString($request->style) && !isEmptyString($session->getVar('style')) && in_array($session->getVar('style'), array('gd','tb'))){
		$style = $session->getVar('style');
	}
	if($style == 'tb'){
		$istable = true;
	}
	if($style == 'gd'){
		$isgrid = true;
	}
	
	$search = $request->issearch; $issearch = false; 
	if(!isEmptyString($request->issearch) && !isEmptyString($request->attr_1)){
		$search = 1;
	}
	if(!isEmptyString($search)){
		$issearch = true; 
	}
	
	# Pagination and quering
	$paginate = new Pagination();	
	$paginate->setView($this);
	$paginate->setSearchColumns(array("name")); # set the search columns to be used on this list
	$paginate->setFilterColumns(array());
	$paginate->setItemCountPerPage("ALL");
	
	# query conditions and filters
	$where_query = " WHERE r.id <> '' ";
	
	# order query
	$order = trim($request->order);
	$order_query = " ORDER BY r.name DESC";
	
	$sortcolumn = $request->sortby;
	$sortorder = $request->sortorder;
	if(!isEmptyString($sortcolumn) && !isEmptyString($sortorder)){
		$order_query = " ORDER BY " . $sortcolumn. " " .$sortorder. " ";
	}
	
	$paginate->processPost($request->getParams());
	$all_results_query = "select r.id, r.name AS name, r.description AS description, concat(u.firstname, ' ', u.lastname) as addedby, u.datecreated as datecreated, u.datecreated as dateadded
	from aclgroup r
	left join useraccount u on r.createdby = u.id
	".$where_query." ".$paginate->getSearchAndFilterSQL()." GROUP BY r.id ".$order_query;
	
	# debugMessage($all_results_query);
	$paginate->setItemCountFromSQLQuery($all_results_query);
	$current_results_query = $all_results_query." ".$paginate->getSQLLimit();
	$conn = Doctrine_Manager::connection(); 
	$result = $conn->fetchAll($current_results_query);
	$total = count($result);
	$has_no_data = (count($result) == 0) ? true : false; 
	
	$pagetitle = "Roles";
	$session->setVar('title', $title);
	$this->headTitle($title.$browserappend);
	
?>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
		
});
</script>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div class="row" id="contentarea">
    <div class="col-md-12">
        <form class="form form-horizontal margin0" action="<?php echo $this->baseUrl($controller."/".$action."search"); ?>" method="get" id="listform" orginalaction="<?php echo $this->baseUrl($controller."/".$action."search"); ?>">
        	<div class="panel panel-default panel-border m-b-5">
                <div class="panel-body p-b-10">
                    <div class="row">
                        <div class="col-sm-2">
                       		<?php if($acl->checkPermission('Role', 'index')) { ?>
                            	<a href="<?php echo $addurl; ?>" class="btn btn-info btn-sm btn-bordered waves-effect waves-light"><i class="md md-add"></i> Add <?php echo $moduleitem; ?></a>
                          	<?php } ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-color panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked"><?php echo $pagetitle; ?></h3>
                    <div class="portlet-widgets lineblocked floatright">
                        <a class="btn btn-default btn-xs <?php echo $isgrid ? 'active' : ''; ?>" id="gridtrigger" href="<?php echo $this->baseUrl($controller.'/'.$action.'/style/gd')?>" data-toggle="tooltip" data-placement="top" data-original-title="Grid view" title="Grid view"><i class="fa fa-th-large"></i> Grid</a>
                        <a class="btn btn-default btn-xs <?php echo $istable ? 'active' : ''; ?>" id="tabletrigger" href="<?php echo $this->baseUrl($controller.'/'.$action.'/style/tb')?>" data-toggle="tooltip" data-placement="top" data-original-title="Table view" title="Table view"><i class="fa fa-table"></i> Table</a>
                        <a href="<?php echo $listurl; ?>" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Table view" title="Reset Filters"><i class="ion-refresh"></i></a>
                    </div>
                </div>
                <div class="panel-body p-t-10">
                    <div class="row">
                    	<?php if($style == 'gd'){ ?>
							<?php if($has_no_data){ ?>
                                <div class="alert alert-warning clearfix"><?php echo $this->translate("global_list_noentries"); ?></div>
                            <?php } else { ?>
                                <?php
                                    foreach($result as $line){
                                        $viewurl =  $this->baseUrl($controller."/view/id/".encode($line['id']));
                                        $indexurl =  $this->baseUrl($controller."/index/id/".encode($line['id']));
                                        $deleteurl =  $this->baseUrl($controller."/delete/id/".encode($line['id'])."/entityname/".$entityname."/successurl/".encode($this->viewurl));
                                        
                                        $allowview = false; $allowedit = false; $allowdelete = false;
                                        if($acl->checkPermission($resource, 'view')){
                                            $allowview = true;
                                        }
                                        if($acl->checkPermission($resource, 'update')){
                                            $allowedit = true;
                                        }
                                        if($acl->checkPermission($resource, 'delete')){
                                            $allowdelete = true;
                                        }
                                        
                                        $id = $line['id'];
                                        $name = ucwords(strtolower(trim($line['name'])));
                                        
                                ?>
                                    <div class="col-md-4">
                                        <div class="text-center card-box p-t-0">
                                            <div class="dropdown pull-right">
                                                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                                    <h3 class="m-0 text-muted" data-toggle="tooltip" data-placement="top" data-original-title="Actions"><i class="mdi mdi-dots-horizontal"></i></h3>
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="<?php echo $viewurl; ?>">View</a></li>
                                                    <li><a href="<?php echo $indexurl; ?>">Update</a></li>
                                                    <li><a class="deleteline gonowhere" action="<?php echo $deleteurl; ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="member-card clearfix">
                                                <div class="thumb-xl member-thumb m-b-10 center-block">
                                                    <i class="mdi mdi-account-multiple" style="font-size:32px;"></i>
                                                    
                                                </div>
                                                <div class="biosummary">
                                                    <h4 class="m-b-5"><?php echo $name; ?></h4>
                                                    <p class="text-muted"><?php echo $line['description']; ?></span></p>
                                                </div>
                                                <p class="text-muted font-13"><?php //echo $groups; ?></p>
                                                <a class="btn btn-default btn-xs btn-rounded waves-effect m-t-5 waves-light minwidth150" href="<?php echo $viewurl; ?>">View Permissions</a>
                                            </div>
                                        </div>
                                    </div>
                       			<?php } ?>
                            <?php } ?>
                        <?php } ?>
                    	<?php if($style == 'tb'){ ?>
                            <table id="listtable" class="table table-striped table-bordered table-condensed">
                                <thead>
                           			<th class="nowrapping">Role ID#</th>
                                    <th class="nowrapping">Name</th>
                                    <th class="nowrapping">Description</th>
                                    <th class="nowrapping">Added By</th>
                                    <th class="nowrapping">Date Added</th>
                                </thead>
                                <tbody>
                                	<?php
										foreach($result as $line){
											$viewurl =  $this->baseUrl($controller."/view/id/".encode($line['id']));
											$indexurl =  $this->baseUrl($controller."/index/id/".encode($line['id']));
											$deleteurl =  $this->baseUrl($controller."/delete/id/".encode($line['id'])."/entityname/".$entityname."/successurl/".encode($this->viewurl));
											
											$allowview = false; $allowedit = false; $allowdelete = false;
											if($acl->checkPermission($resource, 'view')){
												$allowview = true;
											}
											if($acl->checkPermission($resource, 'update')){
												$allowedit = true;
											}
											if($acl->checkPermission($resource, 'delete')){
												$allowdelete = true;
											}
											
											$id = $line['id']; $refid = 'R'.($id + 1000);
									?>
                                    	<tr>
                                    		<td class="hiddenbydefault nowrapping"><a href="<?php echo $viewurl; ?>"><?php echo $refid; ?></a></td>
                                            <td class="hiddenbydefault nowrapping"><?php echo $line['name']; ?></td>
                                            <td class="hiddenbydefault"><?php echo $line['description']; ?></td>
                                            <td class="nowrapping"><?php echo $line['addedby']; ?></td>
                                            <td class="nowrapping"><?php echo changeMySQLDateToPageFormat($line['datecreated'], true); ?></td>
                                       	</tr>
                                    <?php } ?>
                                </tbody>
                         	</table>
                      	<?php } ?>
                    </div>
                </div>
         	</div>
            <?php if($total > 0){ ?>
                <div class="row">
                    <div class="table-footer">
                        <div class="col-md-6 col-xs-12">
                            <div class="table-actions">
                                <div class="col-md-12 margin0 padding0 clearfix">
                                    <div class="col-md-6 col-xs-12 paddingleft5 floatleft" style="margin-bottom:5px;"><?php echo sprintf($this->translate("global_list_counter"), $paginate->getItemCounterText()); ?></div>
                                    <div class="col-md-6 col-xs-12 paddingright5 rightalign"><?php echo $paginate->getListCountDropDown(); ?></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <?php echo $paginate->getPaginationLinks(); ?>
                        </div>
                    </div>
                </div>
            <?php } ?>
      	</form>
  	</div>
</div>    
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
