<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$role = new AclGroup();
	$id = decode($request->id);
	if(is_numeric($request->id)){
		$id = $request->id;
	}
	$role->populate($id);

	$title = 'User Roles';
	$description = $role->getName()." - Access Control List";
	$listurl = $this->baseUrl("role/list");
	$listitems  = "User Roles";
	
	$session->setVar('title', $title);
	$this->headTitle($role->getName().$browserappend);
?>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
		
});
</script>
<style>
.managelist > li {
	width:300px;
}
</style>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div class="row" id="contentarea">
    <div class="col-md-12">
        <div class="panel panel-color panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title lineblocked"><?php echo $role->getName(); ?></h3>
                <p class="panel-sub-title lineblocked font-13 text-muted"><?php echo $role->getDescription(); ?></p>
                <div class="portlet-widgets lineblocked floatright">
                	<?php if ($acl->checkPermission('Role', 'index')) { ?>	
                    	<a class="btn btn-default btn-xs" href="<?php echo $this->baseUrl('role/index/id/'.encode($role->getID())); ?>"  data-toggle="tooltip" data-placement="top" data-original-title="Update" title="Update"><i class="fa fa-edit"></i> Update</a>
                    <?php } ?>
             		<?php if ($acl->checkPermission('Role', 'delete')) { ?>	    
                    
                    <?php } ?>
                   	<?php if ($acl->checkPermission('Role', 'list')) { ?>	
                        <a href="<?php echo $listurl; ?>" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="All Roles" title="All Roles"> All Roles <i class="fa fa-arrow-right"></i></a>
                    <?php } ?>    
                </div>
            </div>
            <div class="panel-body">
                <?php 
					$resources = getAllResources();
					$permissions = getPermissionsForGroup($role->getID()); 
					$allpermissions = array();
					foreach($permissions as $k => $perm){
						$allpermissions[$perm['resourceid']][$perm['actionid']] = $perm;
					}
					// debugMessage($allpermissions); // exit;
				?>
				<?php if(count($resources) == 0){ ?>
					<div class="alert alert-warning">No Resources available</div>
				<?php } else { ?>
					<?php foreach($resources as $rid => $resource){ 
						$actions = getActionsResources($resource['id']); // exit;
						$rid = $resource['id'];
					?>
						<label class="control-label blocked" style="border-bottom:1px solid #ddd; color:#0072ce;"><?php echo $resource['description']; ?></label>
						<div class="col-sm-12 padding0">
							<ul class="managelist">
								<?php if(count($actions) == 0){ ?>
									<div class="alert alert-warning">No actions available</div>
								<?php } ?>
								<?php foreach($actions as $aid => $actiondetails){ 
									$cid = $actiondetails['id']; // debugMessage($actiondetails);
								?>
									<li class="makerelative"><?php 
											$imgstr = '<i class="fa fa-remove removecursor makeabsolute" title="Denied"></i>';
											if(!isArrayKeyAnEmptyString($rid, $allpermissions)){
												if(!isArrayKeyAnEmptyString($cid, $allpermissions[$rid])){
													if(!isArrayKeyAnEmptyString('actionid', $allpermissions[$rid][$cid])){
														if($allpermissions[$rid][$cid]['value'] == 1){
															$imgstr = '<i class="fa fa-check removecursor makeabsolute" title="Granted"></i>';
														}
													}
												}
											}
										?>
										<?php echo $imgstr.' <span style="margin-left:20px; display:inline-block;">'.$actiondetails['name'].'</span>'; ?>
                                   	</li>
								<?php } ?>
							</ul>
                            <div class="divider15"></div>
						</div>
					<?php } ?>
				<?php } ?>
            </div>
        </div>   
        
	</div>
</div>                                                          
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>