<script>
$(document).ready(function(){
	
	// $(".alltrigger, .accesstrigger, .select_all, .perm").attr('checked', true);
	var DELAY = 200, clicks = 0, timer = null;
	$(".dircontainer").click(function(){
		var dirid = $(this).attr('dirid'); // alert(dirid);
		var dirname = $(this).attr('dirname');
		var dirtype = $(this).attr('dirtype');
		var parentid = $(this).attr('parentid');
		if (timer == null) {
			timer = setTimeout(function() {
				clicks = 0;
				timer = null; 
				
				if(!isEmptyString(dirid)){
					$(".dircontainer").removeClass('dirselect');
					$("#dircontainer_"+dirid).addClass('dirselect');
					
					$('.selectors').hide();
					$('#select_'+dirid).show();
				} else {
					$(".dircontainer.homecontainer").click();	
				}
			}, DELAY);
    	}
		<?php if($controller == 'access'){ ?>
			if(clicks === 1) {
				clearTimeout(timer);
				timer = null;
				clicks = -1;
				// double click code
				// alert('double clic');
				var selected = dirname;
				var message = '<label class="blockcontainer notbolded">Switch to Directory <b>'+selected+'</b>? <br /><br /> Click <b>OK</b> to continue, and <b>Cancel</b> to ignore</label>';
				
				if(dirtype == '1'){
					bootbox.confirm(message, function(confirmed) {
						if(confirmed){
							var id = '<?php echo $user->getID(); ?>';
							if(dirid == '<?php echo $folder->getID(); ?>'){
								dirid = parentid;
							}
							var url = '<?php echo $this->baseUrl('access/index/id/'); ?>'+dirid+'/userid/'+id; // alert(url);
							window.location.href = url;
						} else {
							bootbox.hideAll();
							return false;
						}
					});
				}
			}
			clicks++;
		<?php } ?>
	});
	
	$("#alltrigger").click(function(){		
		if(this.checked == true) {
			$(".accesstrigger:not(:checked)").click();
		} else {			
			$(".accesstrigger:not(#homedir)").attr('checked', false);
		} 
	});
	
	$(".select_all").click(function(){		
		var sid = $(this).attr('actionid');
		if($(".all_"+sid).is(':checked')) {
			$(".perm_"+sid).attr('checked', false);
			$(".perm_"+sid).click();
		} else {			
			$(".perm_"+sid).attr('checked', false);
		} 
	});
	$(".dircontainer.homecontainer").click();
	
	$(".accesstrigger").click(function(){
		var dirid = $(this).attr('dirid');
		if(this.checked) {
			$(".perm_"+dirid+", #folder_"+dirid+"_all").attr('disabled', false);
			$(".perm_"+dirid).each(function(){
				if(this.checked) {
					
				} else {
					$(this).click();
				}
			});
			// $(".all_"+dirid+":not(:checked)").click().attr('checked', true);
		} else {
			$(".perm_"+dirid+", #folder_"+dirid+"_all").attr('disabled', true); 
		}
	});
	
	$(".accesstrigger").each(function(){
		var dirid = $(this).attr('dirid'); // alert(dirid);
		if(this.checked) {
			$(".perm_"+dirid+", #folder_"+dirid+"_all").attr('disabled', false);
		} else {
			$(".perm_"+dirid+", #folder_"+dirid+"_all").attr('disabled', true); 
		}
	});
});
</script>
<style>
.dircontainer, .accesscontainer {
	padding:10px 10px 10px 30px;
	margin-bottom:1px;
	background-color:#e9e9e9;
	display:block;
	vertical-align:top;
	font-weight:bold;
	position:relative;
}
.accesscontainer {
	padding-left:20px;
}
.dircontainer.homecontainer, .dircontainer#dircontainer {
	padding-left:15px;
}
.form-horizontal label.accesscontainer {
	margin-bottom: 1px;
    padding-left: 45px;
    position: relative;
}
.dirselect {
	background-color:#666;
	color:#fff;
}
.dircontainer:hover {
	background-color:#e2e2e2;
	cursor:pointer;
}
.dircontainer.dirselect:hover {
	background-color:#666;
	cursor:default;
}
.dircontainer input.hascheckbox {
	right: 15px; 
	position: absolute; 
	top: 5px;
}
.form-horizontal .accesscontainer input.hascheckbox {
	left: 16px;
    margin: 0;
    position: absolute;
    top: 5px;
}
.selectors {
	display:none;
}
</style>
<div class="col-sm-12">
	<?php if($controller == 'profile'){ ?>
        <div class="form-group">
            <label class="col-sm-2 control-label"><?php echo $this->translate("profile_type_label"); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-10">
                <?php
                    $allvalues = getUserType();
                    $dropdown = new Zend_Form_Element_Select('type',
                                        array(
                                            'multiOptions' => $allvalues,
                                            'view' => new Zend_View(),
                                            'decorators' => array('ViewHelper'),
                                            'class' => array('form-control','input-sm','width300')
                                        )
                    );  
                    $dropdown->setValue($user->getType()); 
                    echo $dropdown->render();
                ?><div id="type_error"></div>
                <input type="hidden" name="type_old" id="type_old" value="<?php echo $user->getType(); ?>" />
            </div>
        </div>
    <?php } ?>
    <?php if($controller == 'access'){ ?>
        <div class="form-group">
            <label class="col-sm-2 control-label">User:</label>
            <div class="col-sm-10">
                <?php
                    $allvalues = getUsers();
                    $dropdown = new Zend_Form_Element_Select('userid',
                                        array(
                                            'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $allvalues),
                                            'view' => new Zend_View(),
                                            'decorators' => array('ViewHelper'),
                                            'class' => array('form-control','input-sm','width200', 'chosen-select')
                                        )
                    );  
                    $dropdown->setValue($user->getID()); 
                    echo $dropdown->render();
                ?><div id="userid_error"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Path:</label>
            <div class="col-sm-10"><?php echo $folder->getRelativePathWithLinks('access', $user->getID()); ?></div>
        </div>
    <?php } ?>
    <div class="form-group">
        <label class="col-sm-12 control-label">Permissions: <?php echo $this->translate("global_required_field_marker"); ?></label>
        <div class="col-sm-12">
            <div class="col-sm-7 paddingleft0">
                <span class="pagedescription">Grant/Deny Directories to be accessed </span>
                <div class="divider2"></div>
                <div id="data_left" class="demo">
                    <?php 
                        $f = new Folder();
                        if($controller == 'profile'){
                            $directories = $f->getImmediateChildren();  // debugMessage($directories->toArray()); exit;
                        } 
                        if($controller == 'access'){
                            $directories = $folder->getImmediateChildren(); // debugMessage($directories->toArray()); exit;
                        }
                        $grantallcheck = ''; $homecheck = '';
                        if(isEmptyString($user->getID())){
                            $grantallcheck = '';
                        }
                        $homename = getLibDir().' (Root)';
                        if($controller == 'access'){
                            $homename = $folder->getFolderName();
                        }
                        
                        $permissions = $user->getPermissions();
                        $permissions_array = array();
                        foreach($permissions as $aperm){
                            $permissions_array[$aperm->getFolderID()] = $aperm->toArray();
                        } // debugMessage($permissions_array); exit;
                        $permset = array();
                        
                        if(!isArrayKeyAnEmptyString($folder->getID(), $permissions_array)){
                            $homecheck = 'checked';
                        } else {
                            if(!isEmptyString($user->getID())){
                                $homesettings = getAccessSettings($user->getID(), $folder->getID(), $folder->getPath());
                                // debugMessage($homesettings); //exit;
                                if(count($homesettings) > 0 && !$folder->isInHome()){
                                    end($homesettings); 
                                    $key = key($homesettings);
                                    $currentsettingsarray_home = $homesettings[$key];
                                    // debugMessage($currentsettingsarray); //exit;
                                    if(!isArrayKeyAnEmptyString('list', $currentsettingsarray_home)){
                                        $homecheck = 'checked';
                                    }
                                }	
                            }
                        }
                        // exit;
                    ?>
                    <label class="dircontainer checkbox" id="dircontainer" dirid="" style="margin-top:1px;"><i>Select/Grant All</i>
                        <input type="checkbox" name="alltrigger" id="alltrigger" class="hascheckbox alltrigger" value="1" <?php echo $grantallcheck; ?> />
                    </label>
                    <div class="dircontainer homecontainer" id="dircontainer_<?php echo $homeid; ?>" style="margin-top:1px; margin-bottom:1px; font-size:16px;" dirid="<?php echo $homeid; ?>" dirname="<?php echo $folder->getParent()->getFolderName(); ?>" dirtype="0<?php //echo isEmptyString($folder->getParentID()) ? '0' : '1'; ?>" parentid="<?php echo $folder->getParentID(); ?>">
                        <input type="checkbox" name="homedir" id="homedir" class="hascheckbox accesstrigger" <?php echo $homecheck; ?> <?php echo $folder->isHome() ? 'disabled="disabled"' : ''; ?> value="<?php echo $homeid; ?>"><i class="fa fa-home"></i>  <?php echo $homename; ?>
                        <input type="hidden" name="folders[]" id="folder_<?php echo $homeid; ?>" value="<?php echo $homeid; ?>">
                    </div>
                    <?php if($directories->count() == 0){ ?>
                        <div class="alert alert-warning" style="margin:10px;">No entries currently available</div>
                    <?php } else { ?>
                        <?php 
                            foreach($directories as $folder){  
                                $folder_checked = ''; $currentsettingsarray = array();
                                if(isEmptyString($user->getID())){
                                    $folder_checked = 'checked';
                                } else {
                                    if(!isArrayKeyAnEmptyString($folder->getID(), $permissions_array)){
                                        $folder_checked = 'checked';
                                        $permset[] = $folder->getID();
                                    } else {
                                        if(count($permset) > 0){
                                            
                                        } else {
                                            if(!isEmptyString($user->getID())){
                                                $dirsettings = getAccessSettings($user->getID(), $folder->getID(), $folder->getPath());
                                                // debugMessage($parentsettings); //exit;
                                                if(count($dirsettings) > 0 && !$folder->isInHome()){
                                                    end($dirsettings); 
                                                    $key = key($dirsettings);
                                                    $currentsettingsarray = $dirsettings[$key];
                                                    // debugMessage($currentsettingsarray); //exit;
                                                    if(!isArrayKeyAnEmptyString('list', $currentsettingsarray)){
                                                        $folder_checked = 'checked';
                                                    }
                                                }	
                                            }
                                        }
                                    }
                                }
                        ?>
                            <div class="dircontainer" id="dircontainer_<?php echo $folder->getID(); ?>" dirid="<?php echo $folder->getID(); ?>" dirname="<?php echo $folder->getName(); ?>" dirtype="1"><?php echo !isEmptyString($folder->getRefNo()) ? ($folder->getRefNo().'. '.$folder->getName()) : $folder->getName(); ?>
                                <input type="checkbox" name="folders[]" id="folder_<?php echo $folder->getID(); ?>" class="hascheckbox accesstrigger" value="<?php echo $folder->getID(); ?>" <?php echo $folder_checked; ?> dirid="<?php echo $folder->getID(); ?>" />
                            </div>
                        <?php } ?>
                    <?php } ?>
                </div>
            </div>
            <div class="col-sm-5 paddingright0">
                <span class="pagedescription">Modify Access Permissions for selected Folder</span>
                <div class="divider2"></div>
                <div id="data_right" class="demo">
                    <?php 
                        $hid = ''; 
                        if(!isArrayKeyAnEmptyString($homeid, $permissions_array)){
                            $hid = $permissions_array[$homeid]['id'];
                        }
                        $select_checked_hom = ''; $list_checked_hom = ''; $create_checked_hom = '';
                        $edit_checked_hom = ''; $view_checked_hom = ''; $delete_checked_hom = '';
                        $move_checked_hom = ''; $email_checked_hom = ''; $share_checked_hom = ''; 
                        $archive_checked_hom = ''; $addfolder_checked_hom = '';
                        
                        if(isEmptyString($user->getID())){
                            $select_checked_hom = 'checked'; $list_checked_hom = 'checked'; $create_checked_hom = 'checked';
                            $edit_checked_hom = 'checked'; $view_checked_hom = 'checked'; $delete_checked_hom = 'checked';
                            $move_checked_hom = 'checked'; $email_checked_hom = 'checked'; $share_checked_hom = 'checked'; 
                            $archive_checked_hom = 'checked'; $addfolder_checked_hom = 'checked';
                        }
                        
                        if(count($permissions_array) > 0){
                            $select_checked = ''; $list_checked = '';
                            if(!isArrayKeyAnEmptyString($homeid, $permissions_array)){
                                if($permissions_array[$homeid]['addfolder'] == '1'){
                                    $addfolder_checked_hom = 'checked';
                                }
                                if($permissions_array[$homeid]['create'] == '1'){
                                    $create_checked_hom = 'checked';
                                }
                                if($permissions_array[$homeid]['view'] == '1'){
                                    $view_checked_hom = 'checked';
                                }
                                if($permissions_array[$homeid]['list'] == '1'){
                                    $list_checked_hom = 'checked';
                                }
                                if($permissions_array[$homeid]['delete'] == '1'){
                                    $delete_checked_hom = 'checked';
                                }
                                if($permissions_array[$homeid]['move'] == '1'){
                                    $move_checked_hom = 'checked';
                                }
                                if($permissions_array[$homeid]['edit'] == '1'){
                                    $edit_checked_hom = 'checked';
                                }
                                if($permissions_array[$homeid]['share'] == '1'){
                                    $share_checked_hom = 'checked';
                                }
                                if($permissions_array[$homeid]['email'] == '1'){
                                    $email_checked_hom = 'checked';
                                }
                                if($permissions_array[$homeid]['archive'] == '1'){
                                    $archive_checked_hom = 'checked';
                                }
                            } else {
                                if(!isArrayKeyAnEmptyString('id', $currentsettingsarray_home)){
                                    if($currentsettingsarray_home['addfolder'] == '1'){
                                        $addfolder_checked_hom = 'checked';
                                    }
                                    if($currentsettingsarray_home['create'] == '1'){
                                        $create_checked_hom = 'checked';
                                    }
                                    if($currentsettingsarray_home['view'] == '1'){
                                        $view_checked_hom = 'checked';
                                    }
                                    if($currentsettingsarray_home['list'] == '1'){
                                        $list_checked_hom = 'checked';
                                    }
                                    if($currentsettingsarray_home['delete'] == '1'){
                                        $delete_checked_hom = 'checked';
                                    }
                                    if($currentsettingsarray_home['move'] == '1'){
                                        $move_checked_hom = 'checked';
                                    }
                                    if($currentsettingsarray_home['edit'] == '1'){
                                        $edit_checked_hom = 'checked';
                                    }
                                    if($currentsettingsarray_home['share'] == '1'){
                                        $share_checked_hom = 'checked';
                                    }
                                    if($currentsettingsarray_home['email'] == '1'){
                                        $email_checked_hom = 'checked';
                                    }
                                    if($currentsettingsarray_home['archive'] == '1'){
                                        $archive_checked_hom = 'checked';
                                    }
                                }
                                // debugMessage($currentsettingsarray_home); //exit;
                            }
                        }
                    ?>
                    <div class="selectors" id="select_<?php echo $homeid; ?>">
                        <div class="accesscontainer dirselect" style="font-size:13px;"><?php echo $homename; ?></div>
                        <input type="hidden" name="permissions[<?php echo $homeid; ?>][id]" id="folder_<?php echo $homeid; ?>_id" value="<?php echo $hid; ?>" />
                        <input type="hidden" name="permissions[<?php echo $homeid; ?>][folderid]" id="folder_<?php echo $homeid; ?>_folderid" value="<?php echo $homeid; ?>" />
                        <input type="hidden" name="permissions[<?php echo $homeid; ?>][userid]" id="folder_<?php echo $homeid; ?>_userid" value="<?php echo $user->getID(); ?>" />
                        <label class="hascheckbox accesscontainer"><input type="checkbox" name="permissions[<?php echo $homeid; ?>][all]" id="folder_<?php echo $homeid; ?>_all" class="all_<?php echo $homeid; ?> select_all" actionid="<?php echo $homeid; ?>" value="1" /> <i style="font-weight:normal; color:#666; font-size:11px;">Select All</i></label>
                        
                        <label class="hascheckbox accesscontainer"><input type="checkbox" name="permissions[<?php echo $homeid; ?>][list]" id="folder_<?php echo $homeid; ?>_list" class="perm perm_<?php echo $homeid; ?>" <?php echo $list_checked_hom; ?> actionid="<?php echo $homeid; ?>" value="1" />  Show Contents</label>
                        <label class="hascheckbox accesscontainer"><input type="checkbox" name="permissions[<?php echo $homeid; ?>][view]" id="folder_<?php echo $homeid; ?>_view" class="perm perm_<?php echo $homeid; ?>" <?php echo $view_checked_hom; ?> actionid="<?php echo $homeid; ?>" value="1" />  Open Files (Download)</label>
                        <label class="hascheckbox accesscontainer"><input type="checkbox" name="permissions[<?php echo $homeid; ?>][addfolder]" id="folder_<?php echo $homeid; ?>_addfolder" class="perm perm_<?php echo $homeid; ?>" <?php echo $addfolder_checked_hom; ?> actionid="<?php echo $homeid; ?>" value="1" />  Add Sub Directories</label>
                        <label class="hascheckbox accesscontainer"><input type="checkbox" name="permissions[<?php echo $homeid; ?>][create]" id="folder_<?php echo $homeid; ?>_create" class="perm perm_<?php echo $homeid; ?>" <?php echo $create_checked_hom; ?> actionid="<?php echo $homeid; ?>" value="1" />  Upload Files</label>
                        <label class="hascheckbox accesscontainer"><input type="checkbox" name="permissions[<?php echo $homeid; ?>][edit]" id="folder_<?php echo $homeid; ?>_edit" class="perm perm_<?php echo $homeid; ?>" <?php echo $edit_checked_hom; ?> actionid="<?php echo $homeid; ?>" value="1" />  Rename</label>
                        <label class="hascheckbox accesscontainer hide"><input type="checkbox" name="permissions[<?php echo $homeid; ?>][move]" id="folder_<?php echo $homeid; ?>_move" class="perm perm_<?php echo $homeid; ?>" <?php echo $move_checked_hom; ?> actionid="<?php echo $homeid; ?>" value="1" />  Copy / Move</label>
                        <label class="hascheckbox accesscontainer"><input type="checkbox" name="permissions[<?php echo $homeid; ?>][delete]" id="folder_<?php echo $homeid; ?>_delete" class="perm perm_<?php echo $homeid; ?>" <?php echo $delete_checked_hom; ?> actionid="<?php echo $homeid; ?>" value="1" />  Delete</label>
                        <label class="hascheckbox accesscontainer hide"><input type="checkbox" name="permissions[<?php echo $homeid; ?>][archive]" id="folder_<?php echo $homeid; ?>_archive" class="perm perm_<?php echo $homeid; ?>" <?php echo $archive_checked_hom; ?> actionid="<?php echo $homeid; ?>" value="1" />  Archive</label>
                        <label class="hascheckbox accesscontainer hide"><input type="checkbox" name="permissions[<?php echo $homeid; ?>][share]" id="folder_<?php echo $homeid; ?>_share" class="perm perm_<?php echo $homeid; ?>" <?php echo $share_checked_hom; ?> actionid="<?php echo $homeid; ?>" value="1" />  Share</label>
                        <label class="hascheckbox accesscontainer hide"><input type="checkbox" name="permissions[<?php echo $homeid; ?>][email]" id="folder_<?php echo $homeid; ?>_email" class="perm perm_<?php echo $homeid; ?>" <?php echo $email_checked_hom; ?> actionid="<?php echo $homeid; ?>" value="1" /> Email
                        </label>
                    </div>
                    <?php if($directories->count() == 0){ ?>
                        <div class="alert alert-warning" style="margin:10px;">No entries currently available</div>
                    <?php } else { ?>
                        <?php 
                            $permset = array();
                            foreach($directories as $folder){ 
                                $pid = ''; 
                                if(!isArrayKeyAnEmptyString($folder->getID(), $permissions_array)){
                                    $pid = $permissions_array[$folder->getID()]['id'];
                                }
                                $select_checked = ''; $list_checked = ''; $create_checked = '';
                                $edit_checked = ''; $view_checked = ''; $delete_checked = '';
                                $move_checked = ''; $email_checked = ''; $share_checked = ''; 
                                $archive_checked = ''; $addfolder_checked = '';
                                
                                if(isEmptyString($user->getID())){
                                    $select_checked = 'checked'; $list_checked = 'checked'; $create_checked = 'checked';
                                    $edit_checked = 'checked'; $view_checked = 'checked'; $delete_checked = 'checked';
                                    $move_checked = 'checked'; $email_checked = 'checked'; $share_checked = 'checked'; 
                                    $archive_checked = 'checked'; $addfolder_checked = 'checked';
                                }
                                
                                if(count($permissions_array) > 0){
                                    $select_checked = ''; $list_checked = '';
                                    if(!isArrayKeyAnEmptyString($folder->getID(), $permissions_array)){
                                        if($permissions_array[$folder->getID()]['addfolder'] == '1'){
                                            $addfolder_checked = 'checked';
                                        }
                                        if($permissions_array[$folder->getID()]['create'] == '1'){
                                            $create_checked = 'checked';
                                        }
                                        if($permissions_array[$folder->getID()]['view'] == '1'){
                                            $view_checked = 'checked';
                                        }
                                        if($permissions_array[$folder->getID()]['list'] == '1'){
                                            $list_checked = 'checked';
                                        }
                                        if($permissions_array[$folder->getID()]['delete'] == '1'){
                                            $delete_checked = 'checked';
                                        }
                                        if($permissions_array[$folder->getID()]['move'] == '1'){
                                            $move_checked = 'checked';
                                        }
                                        if($permissions_array[$folder->getID()]['edit'] == '1'){
                                            $edit_checked = 'checked';
                                        }
                                        if($permissions_array[$folder->getID()]['share'] == '1'){
                                            $share_checked = 'checked';
                                        }
                                        if($permissions_array[$folder->getID()]['email'] == '1'){
                                            $email_checked = 'checked';
                                        }
                                        if($permissions_array[$folder->getID()]['archive'] == '1'){
                                            $archive_checked = 'checked';
                                        }
                                    } else {
                                        if(!isArrayKeyAnEmptyString($folder->getID(), $permissions_array)){
                                            $folder_checked = 'checked';
                                            $permset[] = $folder->getID();
                                        } else {
                                            if(count($permset) > 0){
                                            
                                            } else {
                                                if(!isEmptyString($user->getID())){
                                                    $parentsettings = getAccessSettings($user->getID(), $folder->getID(), $folder->getPath());
                                                    // debugMessage($parentsettings); //exit;
                                                    if(count($parentsettings) > 0 && !$folder->isInHome()){
                                                        end($parentsettings); 
                                                        $key = key($parentsettings);
                                                        $currentsettingsarray = $parentsettings[$key];
                                                        // debugMessage($currentsettingsarray); //exit;
                                                        
                                                        if(is_array($currentsettingsarray)){
                                                            if($currentsettingsarray['addfolder'] == '1'){
                                                                $addfolder_checked = 'checked';
                                                            }
                                                            if($currentsettingsarray['create'] == '1'){
                                                                $create_checked = 'checked';
                                                            }
                                                            if($currentsettingsarray['view'] == '1'){
                                                                $view_checked = 'checked';
                                                            }
                                                            if($currentsettingsarray['list'] == '1'){
                                                                $list_checked = 'checked';
                                                            }
                                                            if($currentsettingsarray['delete'] == '1'){
                                                                $delete_checked = 'checked';
                                                            }
                                                            if($currentsettingsarray['move'] == '1'){
                                                                $move_checked = 'checked';
                                                            }
                                                            if($currentsettingsarray['edit'] == '1'){
                                                                $edit_checked = 'checked';
                                                            }
                                                            if($currentsettingsarray['share'] == '1'){
                                                                $share_checked = 'checked';
                                                            }
                                                            if($currentsettingsarray['email'] == '1'){
                                                                $email_checked = 'checked';
                                                            }
                                                            if($currentsettingsarray['archive'] == '1'){
                                                                $archive_checked = 'checked';
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                        ?>
                            <div class="selectors" id="select_<?php echo $folder->getID(); ?>">
                                <div class="accesscontainer dirselect"><?php echo $folder->getName(); ?></div>
                                <input type="hidden" name="permissions[<?php echo $folder->getID(); ?>][id]" id="folder_<?php echo $folder->getID(); ?>_id" value="<?php echo $pid; ?>" />
                                <input type="hidden" name="permissions[<?php echo $folder->getID(); ?>][folderid]" id="folder_<?php echo $folder->getID(); ?>_folderid" value="<?php echo $folder->getID(); ?>" />
                                <input type="hidden" name="permissions[<?php echo $folder->getID(); ?>][userid]" id="folder_<?php echo $folder->getID(); ?>_userid" value="<?php echo $user->getID(); ?>" />
                                <label class="hascheckbox accesscontainer"><input type="checkbox" name="permissions[<?php echo $folder->getID(); ?>][all]" id="folder_<?php echo $folder->getID(); ?>_all" class="all_<?php echo $folder->getID(); ?> select_all" actionid="<?php echo $folder->getID(); ?>" value="1" /> <i style="font-weight:normal; color:#666; font-size:11px;">Select All</i></label>
                                
                                <label class="hascheckbox accesscontainer"><input type="checkbox" name="permissions[<?php echo $folder->getID(); ?>][list]" id="folder_<?php echo $folder->getID(); ?>_list" class="perm perm_<?php echo $folder->getID(); ?>" <?php echo $list_checked; ?> actionid="<?php echo $folder->getID(); ?>" value="1" />  Show Contents</label>
                                <label class="hascheckbox accesscontainer"><input type="checkbox" name="permissions[<?php echo $folder->getID(); ?>][view]" id="folder_<?php echo $folder->getID(); ?>_view" class="perm perm_<?php echo $folder->getID(); ?>" <?php echo $view_checked; ?> actionid="<?php echo $folder->getID(); ?>" value="1" />  Open Files (Download)</label>
                                <label class="hascheckbox accesscontainer"><input type="checkbox" name="permissions[<?php echo $folder->getID(); ?>][addfolder]" id="folder_<?php echo $folder->getID(); ?>_addfolder" class="perm perm_<?php echo $folder->getID(); ?>" <?php echo $addfolder_checked; ?> actionid="<?php echo $folder->getID(); ?>" value="1" />  Add Sub Directories</label>
                                <label class="hascheckbox accesscontainer"><input type="checkbox" name="permissions[<?php echo $folder->getID(); ?>][create]" id="folder_<?php echo $folder->getID(); ?>_create" class="perm perm_<?php echo $folder->getID(); ?>" <?php echo $create_checked; ?> actionid="<?php echo $folder->getID(); ?>" value="1" />  Upload Files</label>
                                <label class="hascheckbox accesscontainer"><input type="checkbox" name="permissions[<?php echo $folder->getID(); ?>][edit]" id="folder_<?php echo $folder->getID(); ?>_edit" class="perm perm_<?php echo $folder->getID(); ?>" <?php echo $edit_checked; ?> actionid="<?php echo $folder->getID(); ?>" value="1" />  Rename</label>
                                <label class="hascheckbox accesscontainer hide"><input type="checkbox" name="permissions[<?php echo $folder->getID(); ?>][move]" id="folder_<?php echo $folder->getID(); ?>_move" class="perm perm_<?php echo $folder->getID(); ?>" <?php echo $move_checked; ?> actionid="<?php echo $folder->getID(); ?>" value="1" />  Copy / Move</label>
                                <label class="hascheckbox accesscontainer"><input type="checkbox" name="permissions[<?php echo $folder->getID(); ?>][delete]" id="folder_<?php echo $folder->getID(); ?>_delete" class="perm perm_<?php echo $folder->getID(); ?>" <?php echo $delete_checked; ?> actionid="<?php echo $folder->getID(); ?>" value="1" />  Delete</label>
                                <label class="hascheckbox accesscontainer hide"><input type="checkbox" name="permissions[<?php echo $folder->getID(); ?>][archive]" id="folder_<?php echo $folder->getID(); ?>_archive" class="perm perm_<?php echo $folder->getID(); ?>" <?php echo $archive_checked; ?> actionid="<?php echo $folder->getID(); ?>" value="1" />  Archive</label>
                                <label class="hascheckbox accesscontainer hide"><input type="checkbox" name="permissions[<?php echo $folder->getID(); ?>][share]" id="folder_<?php echo $folder->getID(); ?>_share" class="perm perm_<?php echo $folder->getID(); ?>" <?php echo $share_checked; ?> actionid="<?php echo $folder->getID(); ?>" value="1" />  Share</label>
                                <label class="hascheckbox accesscontainer hide"><input type="checkbox" name="permissions[<?php echo $folder->getID(); ?>][email]" id="folder_<?php echo $folder->getID(); ?>_email" class="perm perm_<?php echo $folder->getID(); ?>" <?php echo $email_checked; ?> actionid="<?php echo $folder->getID(); ?>" value="1" /> Email
                                </label>
                            </div>
                        <?php } ?>
                    <?php } ?>
                </div>
                <span class="pagedescription">Note that the permissions assigned to each Directory will cascade down to all sub directories and files.</span>
                <div class="divider2"></div>
            </div>
            <?php if($controller == 'profile'){ ?>
                <input type="hidden" id="defaultfolderid" name="defaultfolderid" value="<?php echo $user->getDefaultFolderID(); ?>" style="height:2px; border:none; background:none;" />
            <?php } ?>
        </div>
    </div>
</div>

