<?php
	$isexternal = false;
	if($controller == 'project'){
		$isexternal = true;
	}
	
	if(!$isexternal){
		include APPLICATION_PATH.'/includes/header.php';
	}
	
	$conn = Doctrine_Manager::connection();
	$user = new UserAccount();
	$folder = new Folder();
	$homedirectory = $folder->getHomeFolder(getCompanyID());

	if(!isEmptyString($request->userid)){
		$user->populate($request->userid);
	} else {
		$user->populate(getUserID());
	}
	
	$id = decode($request->id);
	if(is_numeric($request->id)){
		$id = $request->id;
	}
	if(isEmptyString($id)){
		$id = $homedirectory->getID();
	}
	$folder->populate($id);
	$homeid = $folder->getID(); 
	
	$posturl = $this->baseUrl('access/processaccess');
	$successurl = $this->viewurl; 
	$failureurl = $this->viewurl;
	$successmessage = "Successfully updated";
	$button_title = "Save Changes";
	
	$title = "Library Permissions"; // $folder->getRelativePathFromHome()
	$pagetitle = "Viewing Permissions for ".$user->getName();
	$description = '';
	$pageid = "browse_access";
	
	$this->headTitle($title.$browserappend);
?>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	
	$("#userid").change(function(e){
		var id = $(this).val();
		var selected = $(this).children("option:selected").text(); // alert(selected);
		var folderid = '<?php echo $folder->getID(); ?>';
		var valuebefore = '<?php echo $user->getID(); ?>';
		var message = '<label class="blockcontainer notbolded">Switch User <b>'+selected+'</b>? <br /><br /> Click <b>OK</b> to continue, and <b>Cancel</b> to ignore</label>';
		// confirm popup
		bootbox.confirm(message, function(confirmed) {
			if(confirmed){
				var url = '<?php echo $this->baseUrl('access/index/id/'); ?>'+folderid+'/userid/'+id; // alert(url);
				window.location.href = url;
			} else {
				$("#userid").val(valuebefore);
				bootbox.hideAll();
				return false;
			}
		});
	});
});
</script>
<style>

</style>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div id="<?php echo $pageid; ?>" class="filez">
    <div class="row" id="contentarea">
        <div class="col-md-12">
            <form id="indexform" class="form-horizontal" action="<?php echo $posturl; ?>" method="post" enctype="multipart/form-data" style="margin:10px;">
                <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" /> 
                <input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($successurl); ?>" /> 
                <input type="hidden" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" value="<?php echo encode($failureurl); ?>" /> 
                <?php ob_start(); ?>
                	<a class="btn cancel gonowhere" type="button"><?php echo $this->translate('global_button_cancel'); ?></a>
          			<button class="btn btn-primary btn-large btn-green changesuccessurl savebutton" type="submit" successurl="<?php echo encode($successurl); ?>"><?php echo $button_title; ?></button>
                <?php $actionshtml = ob_get_clean(); ?>
                <div class="panel panel-border panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title lineblocked text-dark"><?php echo $pagetitle; ?></h3>
                        <div class="portlet-widgets lineblocked floatright"><?php echo $actionshtml; ?></div>
                    </div>
                    <div class="divider2"></div>
                    <div class="panel-body" style="padding-bottom:5px;">
						<?php require_once APPLICATION_PATH.'/views/scripts/access/access.phtml'; ?>
                   	</div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box p-t-10 p-b-10">
                            <div class="form-group m-b-0">
                                <div class="col-sm-12 rightalign"><?php echo $actionshtml; ?></div>
                            </div>
                        </div>
                    </div>
                </div>
        	</form>
       	</div>
  	</div>
</div>    
<?php
	$session->setVar('gotofolder', '');
	require_once APPLICATION_PATH.'/includes/footer.php';
?>