<?php
	require_once APPLICATION_PATH.'/includes/header.php';

	$title = "Shares"; 
	$listitems = "Shares";
	$subtitle = "Shared Files & Folders";
	$description = "";
	$moduleitem = "Share";
	$resource = "Shares";
	
	$startdate = $request->startdate;
	$enddate = $request->enddate;
	if(!isEmptyString($startdate)){
		$startdate = date('Y-m-d', strtotime($startdate));
		$allowclear = true;
	}
	$enddate = $request->getParam('enddate');
	if(!isEmptyString($enddate)){
		$enddate = date('Y-m-d', strtotime($enddate));
		$allowclear = true;
	}
	
	$paginate = new Pagination();	
	$paginate->setView($this);
	# set the search columns to be used on this list
	$paginate->setSearchColumns(array());
	$paginate->setFilterColumns(array());
	$paginate->setItemCountPerPage("25");
	
	# define the letter to be clicked to ease navigation 
	$where_query = " WHERE s.id <> '' ";
	$allowclear = false;
	
	if(!isEmptyString($startdate)){
		$where_query .= " AND (TO_DAYS(s.startdate) >= TO_DAYS('".$startdate."')) ";
	}
	if(!isEmptyString($enddate)){
		$where_query .= " AND (TO_DAYS(s.startdate) <= TO_DAYS('".$enddate."')) ";
	}
	
	$userid = $request->userid;
	if(!isEmptyString($userid)){
		$where_query .= " AND s.`createdby` = '".$userid."' ";
	}
	$status = trim($request->status);
	if(!isEmptyString($status)){
		// $where_query .= " AND s.`status` = '".$status."' ";
	}
	
	$order = trim($request->order);
	$order_query = " ORDER BY s.datecreated DESC, s.id desc ";
	
	$sortcolumn = $request->sortby;
	$sortorder = $request->sortorder;
	if(!isEmptyString($sortcolumn) && !isEmptyString($sortorder)){
		$order_query = " ORDER BY " . $sortcolumn. " " .$sortorder. " ";
	}
	// f.orgname as fundername, concat(t.firstname,' ',t.lastname) as supervisorname
	$paginate->processPost($request->getParams());
	$all_results_query = "SELECT 
	s.*, s.id as sid
	FROM share s 
	inner join useraccount u on s.createdby = u.id 
	left join company c on s.companyid = c.id 
	 ".$where_query." ".$paginate->getSearchAndFilterSQL()." GROUP BY s.id ".$order_query;
	// debugMessage($all_results_query); exit;
	
	// determine total number of records found
	$conn = Doctrine_Manager::connection(); 
	$count_query = "SELECT count(s.id) as total FROM share s inner join useraccount u on s.createdby = u.id left join company c on s.companyid = c.id 
	".$where_query." ".$paginate->getSearchAndFilterSQL(); // debugMessage($count_query); exit;
	$total = $conn->fetchOne($count_query);
	$paginate->setItemCount($total); //debugMessage('>> '.$total);	
	$current_results_query = $all_results_query." ".$paginate->getSQLLimit();
	
	$conn = Doctrine_Manager::connection(); 
	$result = $conn->fetchAll($current_results_query);
	$has_no_data = (count($result) == 0) ? true : false;/**/
	
	$listurl = $this->baseUrl('shares/list');
	$addurl = $this->baseUrl('shares/index');
	$description = '';
	$icon = 'glyphicon glyphicon-file';
		
	$this->headTitle($title.$browserappend);
?>
<script>
$(document).ready(function() {
	// breadcrumb config
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	$('.titlelabel').html('<?php echo $title; ?>');
	$('.desclabel').html('<?php echo $description; ?>');
	$('.pageicon').html('<span class="<?php echo $icon; ?>"></span>');
	
	
}); 
</script>
<style>

</style>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
    
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
