<?php
	require_once APPLICATION_PATH.'/includes/commonfunctions.php';
	if($request->pdf == '1'){
		ob_start();
	}
?>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A web based monitoring tool for Plan Uganda for monitoring Projects and Programmes.">
    <meta name="author" content="<?php echo getAppName().', '.getCompanyName(); ?>">
    <!-- Favicon -->
    <link href="<?php echo $this->baseUrl('favicon.png'); ?>" rel="shortcut icon" />
	<?php echo $this->headTitle(); ?>
	<?php echo $this->headMeta(); ?>
    
    <?php
		$request = Zend_Controller_Front::getInstance()->getRequest();
		$controller = $request->getControllerName();
		$action = $request->getActionName();

		$session = SessionWrapper::getInstance();
		$config = Zend_Registry::get('config');
		
		$loggedinuser = $this->profile;
		$layout = !isEmptyString($session->getVar('layout')) ? $session->getVar('layout') : $config->system->layout;
		$sidebar = !isEmptyString($session->getVar('sidebar')) ? $session->getVar('sidebar') : $config->system->sidebar;
		
		if($this->layoutx == '1'){
			$cssfiles = getStyleIncludesHor();
		}
		if($this->layoutx == '2'){
			$cssfiles = getStyleIncludesVer();
		}
		$othercssfiles = getOtherStyleIncludes();
		
		$jsfiles = getJsIncludes();
		$pluginsarray= getJsIncludes2();
		$minifyjs = false;
		
		$bodyclasses = array();
		$fulltemplate = true;
		if(($controller == 'user') || ($controller == 'signup') || ($controller == 'index' && $action == 'index')){
			$fulltemplate = false;
		}
		$isprint = false;
		if($request->print == '1' || $request->fullscreen == '1'){
			$fulltemplate = false; $isprint = true;
			$bodyclasses[] = "print";
		}
		$ispgc = false;
		if(!isEmptyString($request->pgc)){
			$ispgc = true;
		}
		$ispdf = false;
		if(!isEmptyString($request->pdf)){
			$fulltemplate = false; $isprint = true;
			$ispdf = true;
		}
		
		$isloggedin = false;
		if(!isEmptyString($session->getVar('userid'))){
			$isloggedin = true;
		}
		if(isEmptyString($session->getVar('userid')) && ($controller == 'error' && $action == 'error')){
			$fulltemplate = false;
		}
	?>
	<?php if(!$ispdf){ ?>
		<?php foreach($cssfiles as $css){ ?>
            <link href="<?php echo '/'.$css; ?>" rel="stylesheet" type="text/css"/>
        <?php } ?>
		<?php foreach($othercssfiles as $css){ ?>
            <link href="<?php echo '/'.$css; ?>" rel="stylesheet" type="text/css"/>
        <?php } ?>        
        
        <?php if($minifyjs){ ?>
            <script src="<?php echo '/min/?f='.implode(',', $jsfiles); ?>" type="text/javascript"></script>
        <?php } else { ?>
            <?php foreach($jsfiles as $url){ ?>
                <script src="<?php echo '/'.$url; ?>" type="text/javascript"></script>
            <?php } ?> 
        <?php } ?>
        <?php if($action == 'list' || $action == 'view' || $controller == 'report' || $controller == 'programme' || $controller == 'dataentry' || ($controller == 'dashboard' && $request->tab == 'audit')){ ?>   
            <?php foreach($pluginsarray as $url){ ?>
                <script src="<?php echo '/'.$url; ?>" type="text/javascript"></script>
            <?php } ?>    
        <?php } ?>      
        <?php if($minifyjs){ ?>
            <script src="<?php echo '/min/?f='.implode(',', getOtherJsPlugins()); ?>" type="text/javascript"></script>
        <?php } else { ?>
            <?php foreach(getOtherJsPlugins() as $url){ ?>
                <script src="<?php echo '/'.$url; ?>" type="text/javascript"></script>
            <?php } ?> 
        <?php } ?>  
        
        <?php require_once APPLICATION_PATH.'/views/scripts/index/layoutjs.phtml'; ?>
	<?php } else { ?>  
    	<?php require_once APPLICATION_PATH.'/views/scripts/index/pgc_top.phtml'; ?>       
    <?php } ?>
</head>  

<body class="<?php echo $this->layoutx == '2' ? ($sidebar == '0' ? 'fixed-left-void' : 'fixed-left') : ''; ?>">
	<?php if($fulltemplate){ ?>
   		<?php if($this->layoutx == '1'){ ?>
    		<?php require_once APPLICATION_PATH.'/views/scripts/index/header.phtml'; ?> <!-- Include header -->
            <div class="wrapper">
                <div class="container">
                    <?php require_once APPLICATION_PATH.'/views/scripts/index/breadcrumb.phtml'; ?>
					<?php echo $this->layout()->content; ?>
                    <footer class="footer text-right">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 text-center">© <?php echo date('Y'); ?> <?php echo strtoupper(getCompanyName()); ?>.</div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        <?php } ?>
        <?php if($this->layoutx == '2'){ ?>
            <div id="wrapper" class="<?php //echo $loggedinuser->getSideBar() == '1' ? 'forced' : 'enlarged'; ?>">
				<?php require_once APPLICATION_PATH.'/views/scripts/index/header.phtml'; ?> <!-- Include header -->
                <?php require_once APPLICATION_PATH.'/views/scripts/index/leftcolumn.phtml'; ?> <!-- Include left navigation -->
                <div class="content-page">
                    <div class="content">
                        <div class="container">
                        	<?php require_once APPLICATION_PATH.'/views/scripts/index/breadcrumb.phtml'; ?>
                        	<?php echo $this->layout()->content; ?>
                        </div>
                   	</div>
                    <footer class="footer text-right"> © <?php echo date('Y'); ?> <?php echo strtoupper(getCompanyName()); ?>.</footer>
              	</div>
           	</div>  
        <?php } ?>
    <?php } else { ?>
    	<div class="<?php echo implode(',', $bodyclasses); ?>" style="margin-top:25px;">	
        	<?php if($isprint && !$ispdf){ ?> 
                <span style="margin-right:25px; margin-bottom:5px; float:right">
                	<a class="btn btn-default btn-xs" onClick="window.close()"><i class="fa fa-times"></i></a> 
                	<a class="btn btn-default btn-xs" onClick="window.print()"><i class="fa fa-print"></i></a>
                    <a class="btn btn-default btn-xs" href="<?php echo stripUrl($this->viewurl).'/pdf/1/browserview/1'; ?>">PDF</a>
                    <?php if($action == 'list' || $request->excel == 1){ ?>
                    	<a class="btn btn-default btn-xs noround submitexcel" title="Export to Excel">Excel</a>
                    <?php } ?>
                </span>
            <?php } ?>
            <?php if($isprint){ ?> 
            	<div style="position:relative;"><img src="<?php echo $this->serverUrl($this->baseUrl('assets/images/logo.png')); ?>" class="responsive" style="height:60px; width:auto; clear:both; float:left;"> </div>
            <?php } ?>
	    	<?php echo $this->layout()->content; ?>
       	</div>
    <?php } ?>
    <?php if(!$ispdf){ ?>
		<?php require_once APPLICATION_PATH.'/views/scripts/index/hiddenbydefault.phtml'; ?> <!-- hidden by default -->
        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    
		<script src="/assets/js/modernizr.min.js" type="text/javascript"></script>
        <script>
            var resizefunc = [];
        </script>
        <script src="/assets/js/jquery.core.js" type="text/javascript"></script>
        <?php if($this->layoutx == '1'){ ?>
            <script src="/assets/js/hor/jquery.app.js" type="text/javascript"></script>
        <?php } ?>
        <?php if($this->layoutx == '2'){ ?>
            <script src="/assets/js/ver/jquery.app.js" type="text/javascript"></script>
        <?php } ?>
	<?php } ?>        
</body>
</html>    
<?php require_once APPLICATION_PATH.'/views/scripts/index/pgc_bottom.phtml'; ?>
