<?php include(APPLICATION_PATH.'/views/scripts/email/emailheader.phtml'); ?>
<?php if(!isEmptyString($this->inlinesubject)){ ?>
	<p><b><?php echo $this->inlinesubject; ?></b></p>
<?php } ?>
<?php if(!isEmptyString($this->firstname)){ ?>
	<p>Dear <?php echo $this->firstname; ?>,</p>
<?php } ?>
<?php echo $this->contents; ?>

<?php include(APPLICATION_PATH.'/views/scripts/email/emailfooter.phtml'); ?>
