
/* ========================================================
* Custom CSS
*
* File: ents.css
* Description: General template styles, overriden bootstrap styles
* Version: 1.0 
* ======================================================== */

/* Bootstrap overrides */
.resetlist {
	list-style:none;
	padding:0;
	margin:0;
}
ul ul, ol ul, ul ol, ol ol, resetlist {
	list-style:none;
}
/* Global application custom init */
.greentxt {
	color: #96c552 !important;
}
.account-logo-box, .side-menu, .topbar .topbar-left, #topnav .topbar-main {
  background-color: #0072ce; /* blue button and background*/
}
.panel-border.panel-info > .panel-heading {
	border-color: #0072ce !important;
}
.panel-border.panel-info .panel-heading.fieldsetwrapper {
	border-color: #999 !important;
    color: #0072ce !important;
}
.panel-border.panel-info .panel-heading.fieldsetwrapper .panel-title {
	background-color: #fff;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: -8px;
}
.panel-heading .panel-title.whitelink, .panel-heading .panel-title:not(.section) {
	/*color: #fff;*/
}
.panel-title.section {
	text-transform:none;
	color: #0072ce !important;
	font-size: 15px !important;
}

label.section {
	color: #0072ce !important;
}


#sidebar-menu ul ul a {
	color:#e4e4e4 !important;
	padding-left:20px;
}
#sidebar-menu .subdrop {
    background-color: #58cae7;
}
#sidebar-menu > ul > li > a:hover, #topnav .navigation-menu > li.active, #topnav .navigation-menu > li:hover, #sidebar-menu > ul > li > a.active {
  background-color: #f1c400 !important; /* green button and background*/
}

#sidebar-menu > ul > li > a {
	 color: #fff !important;
}
#sidebar-menu ul ul li:hover, #sidebar-menu ul ul li.active {
	opacity:0.6;
	background-color:#666;
}
.panel-primary > .panel-heading {
	background-color: #0072ce !important; 
}
.panel-border.panel-info .panel-heading {
	border-color: #ccc !important;
}

.btn-primary {
    background-color: #f1c400 !important;
    border: 1px solid #f1c400 !important;
	color:#333 !important;
}
.btn-primary:hover {
    background-color: #c09d02 !important;
}
.btn-bordered.btn-primary {
    border-bottom: 2px solid #ab8c03 !important;
}
.btn-info {
    background-color: #2c3e50 !important;
    border: 1px solid #2c3e50 !important;
}
.btn-bordered.btn-info {
    border-bottom: 2px solid #2c3e50 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  background-color: #cda702 !important;
  border: 1px solid #725d02 !important;
}

#topnav .navigation-menu > li {
	margin-left:-4px;
}
#topnav .navigation-menu > li > a:hover {
  color: #fff;
}
#topnav .navigation-menu > li > a:hover i {
  color: #fff;
}
#topnav .navigation-menu > li > a:focus {
  color: #fff;
}
#topnav .navigation-menu > li > a:focus i {
  color: #fff;
}
#topnav .navigation-menu > li.active a {
  color: #fff;
}
#topnav .navigation-menu > li.active a i {
  color: #fff;
}
#topnav .navigation-menu > li > a:active {
  color: #fff;
}
#topnav .navigation-menu > li > a:active i {
  color: #fff;
}
#topnav .navigation-menu > li:first-of-type a {
	padding-left:25px !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c3e50;
}

label.error {
	background-color: #fde7e9;
	border-color: #fab8bd;
	color: #BD4247;
    background-repeat: no-repeat;
    padding: 5px 15px 8px 12px;
	margin: 5px 0 0 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 12px;
	width:100%;
	min-height:25px;
	font-family:inherit;
}
.removeabsonmobile {
	position:absolute;
}
.titlebread {
	display: block;
}
.logomobile {
	color: #fff !important; float: left; font-size: 18px; font-weight: bold; letter-spacing: 1px; line-height: 60px; text-transform: uppercase;
}
@media (min-width: 421px) {
	.logomobile, .hideonmobile {
		display: none !important;
	}
}
@media (max-width: 800px) {
	.hideonmobile {
		display: none !important;
	}
	.removeabsonmobile {
		position:relative;
	}
	
}
@media (max-width: 420px) {
	.titlebread {
		display: none !important;
	}
}
.user-list .user-list-item .icon {
	margin-top: -6px;
}
/* Global Search Styles */
#divResult {
	position:absolute;
	width:300px;
	display:none;
	margin-top:2px;
	margin-left:5px;
	border-top:0px;
	overflow:hidden;
	box-shadow: 0px 0px 5px #999;
	border: 1px solid #6DADBD;
	background-color: white;
	z-index:900;
	max-height:600px;
	overflow-y:scroll;
	list-style:none;
}
#divResult > ul {
	padding-left:0;
}
.display_box {
	padding:4px; 
	border-top:solid 1px #dedede; 
	font-size:12px; 
	min-height:0;
	height:auto;
	color:#666666;
	padding-bottom:5px;
}
li.display_box.selected {
	background:#EEEFEE;
	color:#565B4F;
	cursor:pointer;
}
.separator {
	padding:5px 10px 5px 10px; 
	/*border:solid 1px #666; */
	height:auto;
	background-color:#999;
	color:#fff;
}
.separator .allresults {
	display:inline;
	float:right;
	position:relative;
}
.separator .allresults a {
	color:#fff;
	text-decoration:none;
}
.separator span {
	width:100%; 
	display:inline;
	color:#fff; 
	text-align:left;
	font-weight:bold;
	font-size:14px;
}
#topnav .app-search .display_box a {
	position:relative;
	top:0;
	left:0
	bottom:0;
}
#topnav .app-search .form-control, #topnav .app-search .form-control:focus, .app-search .form-control, .app-search .form-control:focus {
	border-radius:0;
}
#sidebar-menu ul > ul a {
	padding-left:25px;
	font-weight:bold;
	font-size:11px;
	color:#f9f9f9 !important;
}
.nav-tabs li a {
	font-size:14px;
	padding: 10px 20px;
}
.tab-content .nav-tabs li a, .tab-content .nav-tabs.inner li a {
	font-size:12px;
	padding: 8px 18px;
}
.tab-content {
    padding: 12px 0 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: #0072ce;
}

.panel-heading {
	padding-top:10px;
	padding-bottom:10px;
}
.thumb-xl {
    height: auto;
    width: auto;
}
.biosummary h4 {
	font-size:16px;
}
.member-card .member-star {
	right: 0;
	top: 0;
}
.alert-warning {
	color:#999;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
	border-right:1px solid #ddd;
}
.managelist {
	margin:0;
	list-style:none;
	padding-left:0;	
}
.managelist > li {
	display:inline;
	padding:5px;
	padding-left:0;
	margin-bottom:2px;
	/*width:200px !important; */
	display:inline-block;
	vertical-align:top;
}
.leftalignlabel {
	text-align:left !important;
}
.widget-box-one .wigdet-one-content {
    min-height: 130px;
}
.listactions > li {
	padding-left:0;
	padding-right:6px;
	margin-bottom:2px;
	margin-top:2px;
	float:left;
}
.listactions > li:first-child {
	padding-left:0;
}
.listactions > li:last-child {
	padding-right:0;
}
.hidden, .hidden_row, .hidden_column, .hidden_container, .hidden_row_input, .hidden_row_med, .hidden_row_person, .hidden_row_family, .hidden_row_educ, .hidden_row_job, .hidden_row_ref, .hidden_row_file {
	display:none;
}
.modal .modal-dialog .modal-content {
	padding-top:10px;
	padding-bottom:10px;
}
.modal-body {
	padding-bottom:0px;
}
.alert.alert-success {
	color:green;
}
select.input-sm, input.input-sm {
	font-size:13px !important;
}
#wrap{
	border:solid #CCCCCC 1px !important;
	width:275px;
	padding:5px;
	margin-top:10px;
	margin-left:0;
	text-align:center;
	position:relative; 
	padding-left:10px; 
	padding-bottom:10px;
}
img#refresh{
	cursor: pointer;
    display: inline-block;
    float: left;
    /*left: 225px;
    margin-left: 4px;
    margin-top: 30px;*/
    position: absolute;
	position:absolute; 
	right:60px; 
	top:40px;
}
.form-horizontal .control-label {
	padding-top:0;
	vertical-align:top;
	font-size:13px !important;
	text-align:left !important;
}
.chosen-container.chosen-container-single {
	width:100%;
}
.chosen-container.chosen-container-multi {
	width:100% !important;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	height: 30px;
}
.chosen-container-multi .chosen-choices li.search-choice {
	line-height: 18px;
}
.form-control.ordinary, .form-control.datepicker, .form-control.timepicker  {
	background-color: #eee;
    cursor: not-allowed;
    opacity: 1;
	font-size:11px !important;
}
select.form-control option {
	padding:3px 10px;
}
.datefield.form-control {
	background-color:#eee;
	cursor:not-allowed;
}
#ui-datepicker-div {
	background-color:#f4f4f4;
	z-index:10001 !important;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	margin-top:0;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
	color:#666;
}
.ui-datepicker .ui-widget-header {
  background: none;
  background-color:#0072ce !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #ccc;
  padding: 0;
}
.ui-autocomplete {
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	width:250px;
}
.table > thead > tr > th {
	vertical-align:top;
}
#disabledoption, .disabledoption {
	background-color: #e1e1e1;
	color: #d4d4d4;
}
.nav > li > a {
	padding: 10px 15px;
}
.nav-tabs > li > a {
	text-transform:inherit;
}
.tabs-vertical-env .nav.tabs-vertical li > a {
	text-transform:inherit;
}

/* Jquery stepy styles */
.button-back { float: left; }
.button-next, .finish { float: right; }
.button-back, .button-next, .finish {
	/*border: 1px solid #C9C4BA; color: #7F0055; cursor: pointer; font: 10px verdana; padding: 3px 10px; text-decoration: none;
	-khtml-border-radius: 3px; -moz-border-radius: 3px; -opera-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;*/
	margin-bottom: 20px; margin-right: 10px;
}
.button-back {
	margin-left: 10px;
}

.step {
	/*border: 1px solid #DDD; 
	-khtml-border-radius: 3px; -moz-border-radius: 3px; -opera-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;*/
	clear: left; 
	width: 100%; 
	padding:5px;
}

.stepy-titles { list-style: none; margin: 0 0 0 15px; padding: 0; width: 100%; }
.stepy-titles li { color: #ccc; cursor: pointer; font-weight: bold; font-size: 16px; float: left; padding: 10px 50px 10px 10px; }
.stepy-titles li span { font-size: 12px; display: block; font-weight:500; }
.stepy-titles .current-step { color: #369; cursor: auto; }

.tabs.tabs-inline.tabs-left {
	width:90%;
}
.tabs.tabs-inline.tabs-left > li > a {
	font-size:16px;
}
.whitelink a, .whitelink {
	color: #fff;
}
.noresults {
    font-size: 18px;
    margin: 60px auto 0;
	margin-bottom:200px;
    text-align: center;
    width: 100%;
	font-weight:normal;
	display:block;
}
.row-bg {
  /*background-color: #f9f9f9;*/
  background-color: #EFF9EB;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin: 0 -20px !important;
  margin-bottom: 15px !important;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) inset;
}
table.table thead.monitor tr th.monitorhead {
	font-size:11px;
	text-align:center;
	vertical-align:top;
}
table.table tbody.monitorbody tr td {
	font-size:12px;
	padding:5px;
	text-align:center;
}
table.table tbody.monitorbody tr td.variabletd {
	text-align:left;
	font-weight:normal;
	font-size:12px;
	color:#4D759E;
}
table.table tbody.monitorbody tr td.last label {
	text-align:right; 
	padding-right:15px;
	font-weight:bold;
} 
.widget.box .widget-header .btn.noround, .noround, .table.noround {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;	
}
.table td.maptablecell {
	padding-right:15px;
	text-align:right;
}
span.edit, .buttons {
	display:none;
}
.table tbody tr.editable:hover .buttons {
	display:block;
}
#sidebar-menu ul ul ul a {
	padding-left:40px;
}

#ul-data {
  position: relative;
 /* display: block;
  width: 35%;*/
  float:left;
  margin-top:15px;
}
#chart-container {
	display: block;
	width: 100%;
	float:left;
	border: 2px dashed #aaa;
	border-radius: 5px;
	display: inline-block;
	height: 420px;
	overflow: auto;
	position: relative;
	text-align: center;
	ma
}
#ul-data li {
  font-size: 16px;
}
/*Now the CSS*/
* {margin: 0; padding: 0;}
.yellow{background:#FFEC94;}
.orange{background:#FFF7EF;}
.green{background:#B0E57C;}
.royal-blue{background:#56BAEC;}
.brown{background:#FFAEAE;}
.green-one{background:#D6E3B5;}
.blue {background:#0072ce;}

.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	margin-bottom:10px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}
.tree *{margin:0;padding:0}.tree>ul{margin-left:auto;margin-right:auto}.tree ul{padding-top:20px;position:relative;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s}.tree li{float:left;text-align:center;list-style-type:none;position:relative;padding:20px 5px 0 5px;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s}.tree li::before,.tree li::after{content:'';position:absolute;top:0;right:50%;border-top:1px solid #ccc;width:50%;height:20px}.tree li::after{right:auto;left:50%;border-left:1px solid #ccc}.tree li:only-child::after,.tree li:only-child::before{display:none}.tree li:only-child{padding-top:0}.tree li:first-child::before,.tree li:last-child::after{border:0 none}.tree li:last-child::before{border-right:1px solid #ccc;border-radius:0 5px 0 0;-webkit-border-radius:0 5px 0 0;-moz-border-radius:0 5px 0 0}.tree li:first-child::after{border-radius:5px 0 0 0;-webkit-border-radius:5px 0 0 0;-moz-border-radius:5px 0 0 0}.tree ul ul::before{content:'';position:absolute;top:0;left:50%;border-left:1px solid #ccc;width:0;height:20px}.tree li>a{border:1px solid #ccc;padding:5px 10px;width:300px;background:#c8e4f8;text-decoration:none;color:#666;font-family:arial,verdana,tahoma;font-size:11px;display:inline-block;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s}.tree li>a.strat{width:250px}.tree li>a.outcome{width:200px}.tree li>a.output{width:200px}.tree li>a:hover,.tree li ul li a:hover{background:#0072ce;color:#fff;border:1px solid #94a0b4}.tree-parent{width:600px!important}.tree-title{font-weight:bold;display:inline-block;margin-bottom:5px}.tree-subtitle{font-weight:bold;color:#5e738b;display:inline-block;margin-bottom:5px}.tree-text{display:inline-block}.tree li>a.output{width:225px}.tree-parent{width:800px!important}
	
.tree ul li a:hover .tree-subtitle {
	color: #fff;
}	
.tree li > a {
	width:auto;
	min-width:300px;
}
.tree li > a.strat {
	min-height:60px;
}
.btn.grey:not(.btn-outline) {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    color: #333;
}
.btn.grey-salt:not(.btn-outline) {
    background-color: #bfcad1;
    border-color: #bfcad1;
    color: #fafcfb;
}
.btn.lightgrey-salt:not(.btn-outline) {
    background-color: #eee;
   /* border-color: #bfcad1;*/
    color: #666;
}
.portlet.light.bordered {
    box-shadow: 1px 2px 4px -1px #222533;
}
.portlet.light.bordered {
    border: 1px solid #e7ecf1;
}
.portlet.light {
    background-color: #fff;
    /*padding: 12px 20px 15px;*/
}
.portlet .portlet-body {
	min-height:500px;
}
textarea.expanding {
	height:60px;
	min-height:30px;
}
.table tbody tr.rowheader {
	/*background-color:#666; */
	color:#666;
	font-weight:bold;
}
.table tbody tr.rowheader_obj {
	/*background-color:#666; */
	color:#000;
	font-weight:bold;
}
.table tbody tr.rowheader_outcomes {
	background-color:#cccccc; 
	/*color:#fff;*/
}
.table tbody tr.rowheader_outputs {
	background-color:#eee; 
	/*color:#333;*/
}
.framedescription {
	font-style:normal;
	display:block;
	font-size:13px;
}
.introtext {
	color: #444; font-size: 13px; font-style: normal; font-family: arial, verdana, tahoma; line-height:20px;
}
.table-colored.table-primary thead th {
	background-color: #0072ce;
}
.dataTables_filter {
	display: none;
	position: relative;
	top:0;
	right:0;
	text-align:left;
}
#newSearchPlace .dataTables_filter {
	position:relative;
	right: 0;
	top: 0;
	display:block;
}
.dataTables_filter label {
	display:block;
	width:100% !important;
}
.dataTables_filter input {
	width:85%;
}
div.dataTables_filter {
	text-align:left;
}
#listtable_length {
	display:none;
}
.dropdown-menu > li {
    padding: 0;
}
.dropdown-menu.listtype > li > a {
	padding: 6px 6px;
    text-align: left;
	font-size:12px;
}
.dropdown-menu.listtype {
	min-width:100px !important;
	width:auto !important;
	left: -105px; top: -3px;
}
h3.panel-title {
	text-transform:none;
}
label.control-label.inlinelabel {
	padding-left:10px;
	margin-top:2px;
	display:inline-block;
}
span.inlinelabel {
	font-weight:normal !important; 
	text-align:left; 
	font-size:12px;
	padding-left:10px;
	display:inline-block;
}
.pre_readonly {
	background-color: #eee;
    cursor: not-allowed;
}
.dropdown-menu {
	border-radius:0;
}
p.form-control-static {
	font-size:12px;
	min-height:0;
}
.panel .panel-body p {
	font-size:12px !important;
}
.summaryinfo .form-group {
	margin-bottom:9px;	
}
#calendar_index .fc-day-grid-event {
    background-color: #368ee0;
    padding: 3px 2px;
}
#calendar_index .fc-day-grid-event.holiday {
    background-color: red;
}
/* YearView
--------------------------------------------------------------------------------------------------*/
.fc-year-main-table {
	border-spacing: 5px;
}
.fc td.fc-year-monthly-td,
.fc td.fc-year-month-separator,
.fc td.fc-year-month-border {
	border-color: transparent;
}
.fc-year-monthly-td {
	text-align: center;
}
.fc-year-month-border.fc-first {
	width: 0;
	max-width: 8px;
}
.fc-year-month-border.fc-last {
	width: 0;
	max-width: 8px;
}
.fc-year-month-separator {
	width: 8px;
}
.fc-year-view .fc-row table.fc-year-month-header {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
.fc-year-monthly-name {
	margin-top: 16px;
	line-height: 24px;
	border-bottom:1px solid #ddd;
}
.fc-year-monthly-name.fc-first {
	margin-top: 0;
}
.fc-year-monthly-name a {
	color: black;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}
.fc-year-monthly-footer {
}
.fc-year-view .fc-row .fc-bg table {
	/* missing borders */
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}
.fc-year-view .fc-row.fc-last .fc-bg table {
	/* missing borders */
	border-bottom: 1px solid #dddddd;
}
.fc-year-view .fc-week-number-head.ui-widget-header,
.fc-year-view .fc-day-header.ui-widget-header {
	/* non visible with 1px due to .fc-row:first-child table style */
	border-bottom-width: 2px;
}
.fc-year-view .fc-rigid.fc-row {
	/* fix: right and bottom borders hidden with overflow hidden */
	overflow: inherit;
}
.fc-year-view .fc-day-grid .fc-row {
	min-height: 42px; /* ensure that all rows are at least this tall */
}
.fc-year-view table {
	font-size: .9em;
}
.fc-ltr .fc-year-view .fc-day-number {
	text-align: right;
}
.fc-year-view td.fc-day-number {
	padding: 0 2px;
}
/* week numbers */

.fc-year-view th.fc-week-number-head {
	font-size: 0.85em;
	font-weight: normal;
}

.fc-year-view .fc-week-number-head {
	max-width: 22px; overflow-x : hidden;
	vertical-align: middle;
}

.fc-year-view td.fc-week-number {
	text-align: center;
	border-left-width: 1px;
	border-left-style: solid;
	/* border-left-color: #dddddd; */
	font-size: 0.92em;
	font-weight: normal;
	padding-left: 2px;
}

/* events */

.fc-year-view .fc-event {
	font-size: 9px;
	line-height: 1.15;
	text-align: left;
	border-radius: 2px;
}

.fc-year-view .fc-event-inner {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.fc-year-view .fc-event-title {
}

.fc-year-view .fc-time {
	/* hide time in year view */
	display: none;
}
.tooltipster-content span {
	font-weight:bold;
	display:block;
	font-size:13px;
}
.blog-categories-list li {
	margin-bottom: 7px;
    padding-bottom: 7px;
}
input.form-control:not(.normalwidth), .search-field input {
	width:96%;
	display:inline-block;
}
textarea.form-control {
	width:96%;
	display:inline-block;
}
select.form-control:not(.normalwidth) {
	width:94%;
	display:inline-block;
}
.chosen-container.chosen-container-multi {
	float:left;
	/*width: 95% !important;*/
}
.chosen-container.chosen-container-single {
	float:left;
	/*width: 95% !important;*/
}
img.ui-datepicker-trigger {
    vertical-align: top;
}
.bootstrap-filestyle.input-group .form-control {
	height:34px;
}
.bootstrap-filestyle .input-group-btn .btn {
    padding: 6px 12px;
}
.print {
	margin:15px;
	margin-left:0;
	max-width:1000px;
}
.print .hideonprint {
	display:none;
}
.panel.hideborderonprint {
	border:none !important;
	padding:0;
	padding-right:0;
}
.noleftprintpadding {
    padding-left: 0 !important;
	padding-right:0;
}
ul.customlist {
	margin-left:15px; font-size:11px; overflow-y:scroll; height:150px;
	font-weight: normal !important;
}
ul.customlist.noboldlist li {
	font-weight: normal !important;
}
.chosen-container .chosen-drop {
	min-height:250px;
	position:absolute;
	z-index:100000;
}
.alert > ul {
	margin-left:15px;
}
.app-search a {
	top:24px;
}
ul.bulletlist li {
	margin-left:20px;
}
#listtable_wrapper.dataTables_wrapper .ColVis {
	display:none;
}
div.ColVis {
    float: left;
    margin: 0;
    padding: 0;
}
button.ColVis_Button {
    height: auto;
    margin-right: 0;
    padding: 6px 8px;
	border:solid 1px #ddd;
}
button.ColVis_Button, ul.ColVis_collection li {
    color: #333;
    cursor: pointer;
    font-size: 10px;
}
ul.ColVis_collection {
	background-color: #fff;
	opacity:1;
}
.bootstrap-timepicker-widget table td input {
	border: 1px solid #999;
	padding: 8px;
	width: 50px;
}
.bootstrap-filestyle.input-group {
	width:300px;
}
.ms-drop input[type="checkbox"] {
	margin-right:5px;
	vertical-align: top;
}
.ms-drop ul li:hover {
	background-color:#eee;
}
.ms-choice {
	line-height:28px;
	height:28px;
	border-radius:0;
}
.ms-drop ul > li {
	padding:2px;
}
.ms-drop ul > li label {
	font-size:13px;
	color:#666;
}
.selectarea select option {
    border-bottom: 1px dashed #828384;
	font-size: 12px;
	color: #000;
}
.selectarea select option.nested {
	color: #555;
    font-size: 11px;
    font-style: normal;
    padding-left: 25px;
}
.selectarea select {
	margin-top:5px; 
	height:250px;
	width:100%;"
}
.blog-categories-list li > a {
	display:inline !important;
}
/* styles for responsive pivot UI + bootstrap-like styles default */			
.pivotHolder table.pvtUi {
	table-layout:fixed;
	width:100%;
}
.pivotHolder select {
	visibility:hidden;
}
.pivotHolder select.form-control {
	visibility:visible;
}

.pivotHolder > table.pvtUi, .pivotHolder table.pvtTable {
	width:100%;
	margin-bottom:0px;
}
.pivotHolder > table.pvtUi>tbody>tr>td, .pivotHolder > table.pvtUi>tbody>tr>th {
	border: 1px solid #ddd;
}
.pivotHolder .pvtAxisContainer li span.pvtAttr {
	height:auto;
	white-space:nowrap;
}
.pivotHolder .pvtAxisContainer.pvtUnused, .pivotHolder .pvtAxisContainer.pvtCols {
	vertical-align:middle;
}

.pivotHolder > table.pvtUi>tbody>tr:first-child > td:first-child {
	width:250px;
}

.pivotHolder td.pvtRendererArea {
	padding-bottom:0px;
	padding-right:0px;
	border-bottom-width:0px !important;
	border-right-width:0px !important;
}
.pivotHolder td.pvtVals br { display:none; }			

.pvtRendererArea>div {
	overflow:auto;
}

.pvtTableRendererHolder {
	max-height:600px;  /* limit table height if needed */
}
.pvtUi select.pvtRenderer, .pvtUi select.pvtAggregator, .pvtUi select.pvtAttrDropdown {
	float:left;
	max-width:150px;
}

/* custom */
table.pvtUi td:first-child {
	min-width:250px;
	max-width:300px;
	white-space:normal;
}
.pvtFixedHeader {
	cursor:pointer;
}
td.pvtAxisContainer.pvtRows {
	max-width:300px;
}
th.pvtAxisLabel {
	min-width:auto !important;
}
.pvtColLabel {
	min-width:100px;
	max-width:200px;
	white-space:normal;
}
.pvtRowLabel {
	min-width:150px;
	max-width: 250px;
	white-space:normal;
}
.pvtAxisContainer li span.pvtAttr {
	padding: 6px;
	margin-bottom:5px;
    white-space: nowrap;
    background: #fff;
    white-space: normal;
    display: inline-block;
}
.pvtFilterBox {
	max-width: 600px;
	width: auto;
	text-align:left;
}
.pvtFilterBox p {
	padding:8px;
}
.pvtFilterBox p button {
	margin-right:8px;
}
table.pvtTable tbody tr th, table.pvtTable thead tr th {
	background-color: #eeeeee;
}
.c3-line, .c3-focused {stroke-width: 3px !important;}
.c3-bar {stroke: white !important; stroke-width: 1;}
.c3 text { font-size: 12px; color: grey;}
.tick line {stroke: white;}
.c3-axis path {stroke: grey;}
.c3-circle { opacity: 1 !important; }
.c3-xgrid-focus {visibility: hidden !important;}

.grid-stack-item-content {
-webkit-box-shadow: 1px 0px 12px 8px rgba(173,177,179,1);
-moz-box-shadow: 1px 0px 12px 8px rgba(173,177,179,1);
box-shadow: 1px 0px 12px 8px rgba(173,177,179,1);
}
.grid-stack .grid-stack-item .grid-stack-item-content {
    overflow: hidden;
}

#fm-pivot-view #fm-branding-bar #fm-link {
	display:none;
}
#fm-pivot-view #fm-branding-bar #fm-version-label {
	display:none;
}
#fm-toolbar-wrapper #fm-toolbar #fm-tab-save .fm-dropdown-content span {
	left:10px;
}
#fm-pivot-view #fm-branding-bar {
	display:none;
}
.media.comments {
	border-bottom: 1px dashed #ccc;
	padding:10px;
	margin-top:0;
}
.media.comments:hover {
	background-color: #f9f9f9;
}
.media.comments .media-body {
	padding-right:60px;
}
.six_four_size {
	width: 64px; height: 64px;
}
.media-heading {
	font-size:12px !important;
}
.media.comments .actions {
	right:10px; top:10px;
}
.media.comments .actions button {
	opacity:0.5;
}
.media.comments .media-body .text-muted {
	font-size:11px !important;
}
.unread {
	background-color:#f4f4f4;
}