<div class="col-sm-12 padding0">
    <div class="col-sm-6 paddingleft0">
    	<?php 
			$levels = array(1 => '1', '2' => '2', '3' => '3', 4=> '4');
			
			$conn = Doctrine_Manager::connection();
			$milestones_query = "SELECT m.id, m.name, m.level, m.type, m.fyear from milestone m WHERE m.programid = '".$request->objective."' AND m.fyear = '".$request->period."' order by m.fyear asc "; // debugMessage($milestones_query);
			$milestones = $conn->fetchAll($milestones_query);
			$content = array();
			foreach($milestones as $mile){
				$content[$mile['level']] = $mile;
			}
			//debugMessage($content);/**/
		?>
        <div class="form-group">
            <label class="col-sm-12 control-label">CS Objective: <?php echo $this->translate("global_required_field_marker"); ?></label>
            
            <div class="col-sm-12">
                <?php echo isArrayKeyAnEmptyString($request->objective, $programs) ? '' : $programs[$request->objective]; ?>
                <input type="hidden" id="programid" name="programid" value="<?php echo $request->objective; ?>" />
                <div id="programid_error"></div>
            </div>
        </div>
 		<div class="form-group">
            <label class="col-sm-12 control-label">Period: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <?php echo isArrayKeyAnEmptyString($request->period, $milestoneperiods) ? '' : $milestoneperiods[$request->period]; ?>
                <input type="hidden" id="fyear" name="fyear" value="<?php echo $request->period; ?>" />
                <div id="fyear_error"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-12 control-label">Milestone Summary:</label>
            <div class="col-sm-12">
                <textarea class="form-control expanding hastooltip xfloattip inline" id="level0_name" name="level0_name" placeholder="Enter milestone summary" style="height:40px;"><?php echo isArrayKeyAnEmptyString(0, $content) ? '' : $content[0]['name']; ?></textarea>
                <input type="hidden" id="level0_id" name="level0_id" value="<?php echo isArrayKeyAnEmptyString(0, $content) ? '' : $content[0]['id']; ?>" />
                <input type="hidden" id="level0_type" name="level0_type" value="<?php echo isArrayKeyAnEmptyString(0, $content) ? '' : $content[0]['type']; ?>" />
                <input type="hidden" id="level0" name="level0" value="<?php echo isArrayKeyAnEmptyString(0, $content) ? '' : $content[0]['level']; ?>" />
                
                <div id="name_error"></div>
        	</div>
        </div>
        
       	<div class="form-group">
            <label class="col-sm-12 control-label">Milestone Levels:</label>
            <div class="col-sm-12 table-responsive">
            	<table class="table table-condensed m-0 table-colored table-inverse">
                	<thead>
                    	<th style="width:25%;">Level</th>
                        <th>Description</th>
                    </thead>
                    <tbody>
                    	<?php for($x = 4; $x >= 1; $x--){ ?>
                            <tr>
                                <td> 
                                     <?php						  
                                        $dropdown = new Zend_Form_Element_Select('level'.$x,
                                        array(
                                            'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $levels),
                                            'view' => new Zend_View(), 
                                            'decorators' => array('ViewHelper'),
                                            'class' => array('form-control','input-sm', 'width100', 'inline')                                            	)
                                        );
                                        $dropdown->setValue($x); 
                                        echo $dropdown->render(); 
                                    ?>
                                    <input type="hidden" id="level<?php echo $x; ?>_type" name="level<?php echo $x; ?>_type" value="<?php echo isArrayKeyAnEmptyString($x, $content) ? '' : $content[$x]['type']; ?>" />
                					<input type="hidden" id="level<?php echo $x; ?>" name="level<?php echo $x; ?>" value="<?php echo isArrayKeyAnEmptyString($x, $content) ? '' : $content[$x]['level']; ?>" />
                                </td>
                                <td>
                                    <textarea class="form-control expanding inline" id="level<?php echo $x; ?>_name" name="level<?php echo $x; ?>_name" placeholder="Enter Level Target" style="height:40px;"><?php echo isArrayKeyAnEmptyString($x, $content) ? '' : $content[$x]['name']; ?></textarea>
                                    <input type="hidden" id="level<?php echo $x; ?>_id" name="level<?php echo $x; ?>_id" value="<?php echo isArrayKeyAnEmptyString($x, $content) ? '' : $content[$x]['id']; ?>" />
                                    <div id="level<?php echo $x; ?>_name_error"></div>
                                </td>
                            </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
       	</div>
	</div>
</div>    
        