<div class="divider2"></div>
<?php
	$milestoneperiods_query = "SELECT m.id, m.name, m.category, m.fyear, m.status  from content_milestone m WHERE m.category = 1 AND m.fyear <> 2016 order by m.enddate asc ";
	$milestoneperiods = $conn->fetchAll($milestoneperiods_query);
	
	$programs_query = "SELECT p.id, p.name, p.code from program p WHERE p.type = 1 order by p.code asc ";
	$programs = $conn->fetchAll($programs_query);
?>
<table id="listtable" class="table table-colored table-primary table-bordered table-striped table-condensed">
    <thead style="font-weight:bold; font-size:13px;">
        <tr>
        	<td style="background-color:#daeef3; color:#000;"></td>
            <td colspan="<?php echo count($milestoneperiods); ?>" style="background-color:#0072ce; color:#fff; text-align:center;">Country Strategy Milestones (FY 16/17 - 20/21)</td>
        </tr>
        <tr>
            <th class="nowrapping">CS Strategic Objective</th>
            <?php foreach($milestoneperiods as $period){ ?>
                <th class="nowrapping" style="background-color:#daeef3; color:#000;"><?php echo $period['name']; ?></th>
            <?php } ?>
       	</tr>
    </thead>
    <tbody>
        <?php foreach($programs as $aprogram){ 
				$milestones_query = "SELECT m.id, m.name, m.level, m.type, m.fyear from milestone m WHERE m.programid = '".$aprogram['id']."' order by m.fyear asc ";
				$milestones = $conn->fetchAll($milestones_query);
				foreach($milestones as $mile){
					$aprogram['milestones'][$mile['fyear']][$mile['level']] = $mile;
				}
				// debugMessage($aprogram);
		?>
        	<tr>
            	<td style="background-color:#0072ce; color:#fff;" class="nowrapping"><b>Objective <?php echo $aprogram['code']; ?></b><br /> <?php echo $aprogram['name']; ?></td>
                <?php foreach($milestoneperiods as $period){ 
					$period_label = "";
					if(!isArrayKeyAnEmptyString($period['id'], $aprogram['milestones'])){
						if(!isArrayKeyAnEmptyString(0, $aprogram['milestones'][$period['id']])){
							$period_label = $aprogram['milestones'][$period['id']][0]['name'];
						}
					}
				?>
                    <td style="position:relative; <?php echo $period['status'] == 1 ? 'background-color:#ddd; color:#000;' : ''; ?>;"><?php echo $period_label; ?></td>
                <?php } ?>
            </tr>
            <tr>
            	<td>Level 4</td>
                <?php foreach($milestoneperiods as $period){ 
					$period_label = "";
					if(!isArrayKeyAnEmptyString($period['id'], $aprogram['milestones'])){
						if(!isArrayKeyAnEmptyString(4, $aprogram['milestones'][$period['id']])){
							$period_label = $aprogram['milestones'][$period['id']][4]['name'];
						}
					}
				?>
                    <td style="position:relative; <?php echo $period['status'] == 1 ? 'color:#000;' : ''; ?>;"><?php echo $period_label; ?></td>
                <?php } ?>
            </tr>
            <tr>
            	<td>Level 3</td>
                <?php foreach($milestoneperiods as $period){ 
					$period_label = "";
					if(!isArrayKeyAnEmptyString($period['id'], $aprogram['milestones'])){
						if(!isArrayKeyAnEmptyString(3, $aprogram['milestones'][$period['id']])){
							$period_label = $aprogram['milestones'][$period['id']][3]['name'];
						}
					}
				?>
                    <td style="position:relative; <?php echo $period['status'] == 1 ? 'color:#000;' : ''; ?>;"><?php echo $period_label; ?></td>
                <?php } ?>
            </tr>
            <tr>
            	<td>Level 2</td>
                <?php foreach($milestoneperiods as $period){ 
					$period_label = "";
					if(!isArrayKeyAnEmptyString($period['id'], $aprogram['milestones'])){
						if(!isArrayKeyAnEmptyString(2, $aprogram['milestones'][$period['id']])){
							$period_label = $aprogram['milestones'][$period['id']][2]['name'];
						}
					}
				?>
                    <td style="position:relative; <?php echo $period['status'] == 1 ? 'color:#000;' : ''; ?>;"><?php echo $period_label; ?></td>
                <?php } ?>
            </tr>
            <tr>
            	<td>Level 1</td>
                <?php foreach($milestoneperiods as $period){ 
					$period_label = "";
					if(!isArrayKeyAnEmptyString($period['id'], $aprogram['milestones'])){
						if(!isArrayKeyAnEmptyString(1, $aprogram['milestones'][$period['id']])){
							$period_label = $aprogram['milestones'][$period['id']][1]['name'];
						}
					}
				?>
                    <td style="position:relative; <?php echo $period['status'] == 1 ?'color:#000;' : ''; ?>;"><?php echo $period_label; ?></td>
                <?php } ?>
            </tr>
            <tr>
            	<td></td>
                <?php foreach($milestoneperiods as $period){ ?>
                    <td>
                    	<a class="btn btn-xs" href="<?php echo $this->baseUrl('milestone/index/section/edit/objective/'.$aprogram['id'].'/period/'.$period['id']); ?>"><i class="fa fa-pencil"></i> Edit</a> 
                    	<a class="btn btn-xs gonowhere" href="<?php echo $this->baseUrl('milestone/progress/objective/'.$aprogram['id'].'/period/'.$period['id']); ?>"><i class="fa fa-plus"></i> Log Progress</a></td>
                <?php } ?>
            </tr>
        <?php } ?>
    </tbody>
</table>
<div class="divider10"></div>