<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$title = "System Error";
	$description = "System Runtime Error. Contact Admin";
 
 	//print_r('Error is : ');
	//debugMessage($this->message);
	$error = $this->message; $notfound = false;
	if(stringContains('Page not found', $error)) {
		$error = "Page requested does not exist";
		$notfound = true;
	}
	if(stringContains('not found in path', $error)) {
		$error = "Page script does not exist";
		$notfound = true;
	}
	
	$session->setVar('title', $title);
	$this->headTitle($title.$browserappend); 
?>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
		
});
</script>
<?php if(!isLoggedIn() || in_array($controller, array('signup'))){ ?>
<section>
    <div class="container-alt">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="wrapper-page" style="max-width:inherit !important;">
                    <div class="m-t-40 account-pages clearfix">
                        <div class="text-center account-logo-box">
                            <h2 class="text-uppercase m-t-0 p-t-0 m-b-0 makerelative">
                            	<span class="floatleft"><img src="/assets/images/uglogo.png" style="width:auto; height:40px;"></span>
                                <span class="floatright"><img src="/assets/images/logo.png" style="width:auto; height:45px;"></span>
                                <span class="blocked m-t-10 clearfix" style="color:#fff; font-size:13px;"><?php echo $config->system->companyfullname; ?></span>
                            </h2>
                        </div>
                        <div class="account-content clearfix">
                        	<?php } ?>
                        	<div class="divider15"></div>
                            <div class="row-fluid">
                                <div class="col-sm-12">
                                    <div class="alert alert-danger">Something went wrong</div>
                                    <p class="alert alert-warning padding10 xerror"><?php echo snippet($error, '600', '..'); ?></p>
                                    
                                    <?php if($notfound){?>
                                        <!--=== Error Title ===-->
                                        <div class="title">
                                            <h1>404</h1> <!-- You can use something like <h1 class="red">500</h1> for other error codes -->
                                        </div>
                                        <!-- /Error Title -->
                                        <div class="actions">
                                            <div class="list-group">
                                                <li class="list-group-item list-group-header">
                                                    Ooops! It looks like you have taken a wrong turn.
                                                </li>
                                                <a href="<?php echo $this->baseUrl('dashboard'); ?>" class="list-group-item"><i class="icon-home"></i> Go to Dashboard <i class="icon-angle-right align-right"></i></a>
                                                <a href="<?php echo $this->baseUrl('messaging/index/userid/1/type/1'); ?>" class="list-group-item"><i class="icon-question"></i> Contact Support <i class="icon-angle-right align-right"></i></a>
                                                <a href="javascript:void(0);" class="list-group-item"><i class="icon-phone"></i> Call us <i class="icon-angle-right align-right"></i> <span class="badge"></span></a>
                                            </div>
                                        </div>
                                    <?php } ?>
                                </div>
                            </div>
                            
                           <?php if(isLoggedIn){ ?>
                        </div>
                 	</div>
             	</div>
          	</div>
   		</div>
	</div>
</section>            
<?php } ?>
    
<?php 
	echo $session->getVar(APPLICATION_ERROR_PAGE_MESSAGE); 
	require_once APPLICATION_PATH.'/includes/footer.php';
?>