<?php if(isEmptyString($entity->getID())){ ?>
    <div class="divider10"></div>
    <div class="panel panel-default panel-border makerelative" style="margin-bottom: 5px;">
        <div class="panel-heading fieldsetwrapper">
            <h3 class="panel-title section">Current / Initial Risk Assessment</h3>
        </div>
        <div class="panel-body" style="padding-top:5px; padding-bottom:5px; padding-left:30px;">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-12 control-label">Probability: <?php echo $this->translate("global_required_field_marker"); ?></label>
                        <div class="col-sm-12">
                            <?php
                                $probability_ranks = getDatavariables('RISK_PROBABILITY');
                                $dropdown = new Zend_Form_Element_Select('probability',
                                array(
                                    'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $probability_ranks),
                                    'view' => new Zend_View(), 
                                    'decorators' => array('ViewHelper'),
                                    'class' => array('form-control','input-sm', 'width150', 'hastooltip', 'inline')                                            	)
                                );
                                $dropdown->setValue($entity->getlatestreview()->getprobability()); 
                                echo $dropdown->render(); 
                            ?>
                            <div id="probability_error"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-12 control-label">Impact on Schedule: <?php echo $this->translate("global_required_field_marker"); ?></label>
                        <div class="col-sm-12">
                            <?php
                                $impact_ranks = getDatavariables('RISK_IMPACT');
                                $dropdown = new Zend_Form_Element_Select('impact_schedule',
                                array(
                                    'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $impact_ranks),
                                    'view' => new Zend_View(), 
                                    'decorators' => array('ViewHelper'),
                                    'class' => array('form-control','input-sm', 'width150', 'hastooltip', 'inline')                                            	)
                                );
                                $dropdown->setValue($entity->getlatestreview()->getimpact_schedule()); 
                                echo $dropdown->render(); 
                            ?>
                            <div id="impact_schedule_error"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-12 control-label">Impact on Cost: <?php echo $this->translate("global_required_field_marker"); ?></label>
                        <div class="col-sm-12">
                            <?php
                                $dropdown = new Zend_Form_Element_Select('impact_cost',
                                array(
                                    'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $impact_ranks),
                                    'view' => new Zend_View(), 
                                    'decorators' => array('ViewHelper'),
                                    'class' => array('form-control','input-sm', 'width150', 'hastooltip', 'inline')                                            	)
                                );
                                $dropdown->setValue($entity->getlatestreview()->getimpact_cost()); 
                                echo $dropdown->render(); 
                            ?>
                            <div id="impact_cost_error"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-12 control-label">Response Type: <?php echo $this->translate("global_required_field_marker"); ?></label>
                        <div class="col-sm-12">
                            <?php
                                $response_types = getDatavariables('RISK_RESPONSE');
                                $dropdown = new Zend_Form_Element_Select('responsetype',
                                array(
                                    'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $response_types),
                                    'view' => new Zend_View(), 
                                    'decorators' => array('ViewHelper'),
                                    'class' => array('form-control','input-sm', 'width150', 'hastooltip', 'inline')                                            	)
                                );
                                $dropdown->setValue($entity->getlatestreview()->getresponsetype()); 
                                echo $dropdown->render(); 
                            ?>
                            <div id="responsetype_error"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-12 control-label">Description of Impact:</label>
                        <div class="col-sm-12">
                            <textarea class="form-control expanding hastooltip linetip" id="impactdetails" name="impactdetails" placeholder="<?php //echo $descrp_attr; ?>" style="height:40px;"><?php echo $entity->getlatestreview()->getimpactdetails(); ?></textarea>
                            <div id="impactdetails_error"></div>
                            <span class="pagedescription blocked">Enter details of what is likely to happen</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-12 control-label">Response Action Plan: <?php // echo $this->translate("global_required_field_marker"); ?></label>
                        <div class="col-sm-12">
                            <textarea class="form-control expanding hastooltip linetip" id="responsedetails" name="responsedetails" placeholder="<?php //echo $descrp_attr; ?>" style="height:40px;"><?php echo $entity->getlatestreview()->getresponsedetails(); ?></textarea>
                            <div id="responsedetails_error"></div>
                            <span class="pagedescription blocked">Enter Mitigation/Contigency Plan</span>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>    
<?php } ?>