<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$entity = new ContentComment();
	$risk = new ContentRisk();
	$id = is_numeric($request->id) ? $request->id : decode($request->id);	
	$entity->populate($id); // debugMessage($entity->toArray()); // exit;
	
	$successmessage = "Successfully saved";
	$successurl = encode($this->baseUrl("risk/viewsuccess/".SUCCESS_MESSAGE."/global_save_success"));
	$riskid = is_numeric($request->riskid) ? $request->riskid : decode($request->riskid);
	if(!isEmptyString($riskid)){
		$risk->populate($riskid);			
		$entity->setUserID(getUserID());
		$entity->setRiskID($riskid);
		$entity->setRisk($risk);
	}
	
	$title = "Review Comment";
	$resourcename = 'Risk Mgt';
	$entityname = "ContentComment";
?>
<?php require_once APPLICATION_PATH.'/views/scripts/index/pgcjs.phtml'; ?>
<script>

$(document).ready(function() {		
	$("#view").css({'display':'none'}).addClass('hide');
	$("#new").css({'display':'block'}).removeClass('hide');
	
	$("#popupform").validate({		
		rules: {
			contents: "required"
		}, 
		// the messages for each of the fields being validated
		messages: {		
			contents: "Please enter comment",
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					if(element.hasClass("useid_error")){
						error.appendTo("#popupform #"+element.attr("id")+"_error");
					} else {
						error.appendTo("#popupform #"+element.attr("name")+"_error");
					}
					break;
			}			
		},
		ignore: ":hidden:not(select)"
	});
	
}); 
</script>
<style>
.modal-dialog {
	width: 60%;
	margin-top:130px;
}
select.form-control:not(.normalwidth) {
	width:100%;
}
</style>
<div class="popupdiv">
	<form id="popupform" class="form-horizontal" method="post" action="<?php echo $this->baseUrl('dataset/processgroup'); ?>">
    	<input name="entityname" id="entityname" type="hidden" value="<?php echo $entityname; ?>" />
        <input type="hidden" id="id" name="id" value="<?php echo encode($entity->getID()); ?>" />
        <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" />
        <input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($successurl); ?>" /> 
        <input type="hidden" id="type" name="type" value="<?php echo $entity->getType(); ?>" />
        <input type="hidden" id="riskid" name="riskid" value="<?php echo $entity->getRiskID(); ?>" />
        <input type="hidden" id="userid" name="userid" value="<?php echo $entity->getUserID(); ?>" />
        <input type="hidden" id="inputdate" name="inputdate" value="<?php echo $entity->getinputdate(); ?>" />
        
        <div class="alert alert-danger hidden" id="errormessage"></div>
        <div class="alert alert-success hidden" id="successmessage"></div>
        <div class="card-box m-t-10 m-b-10 p-t-10 p-b-0" style="padding:0 !important;">
            <div class="panel-body well-sm" style="min-height:150px;">
                <div class="row-fluid">
                    <div class="row">
                        <div class="col-sm-2">
                        	<?php 
								$photo_path = getUserPicture(getUserID(), $loggedinuser->getGender(), $loggedinuser->getprofilephoto());
							?>
                            <div class="divider20"></div>
                            <div class="thumb-xl member-thumb m-b-10 center-block">
                                <img src="<?php echo $photo_path; ?>" class="img-circle img-thumbnail" style="width:80px; height:auto; margin-left:15px;">
                            </div>
                        </div>
                        <div class="col-sm-10">
                        	<div class="form-group">
                                <label class="col-sm-12 control-label">Enter comments <?php echo $this->translate("global_required_field_marker"); ?></label>
                                <div class="col-sm-11">
                                    <textarea class="form-control expanding hastooltip linetip" id="contents" name="contents" placeholder="<?php //echo $comment_attr; ?>" style="min-height:100px;"><?php echo $entity->getcontents(); ?></textarea>
                                    <div id="contents_error"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label">Attachment(s) </label>
                                <div class="col-sm-11">
                                    <p class="text-muted font-12">(Optional)</p>
                                </div>
                            </div>
                        </div>
                 	</div>
                </div>
            </div>
        </div>
    </form>
</div>                                        
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>