<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-sm-12 control-label">Risk Type: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <?php
					$risktypes = getDatavariables('RISK_TYPES');
                    $dropdown = new Zend_Form_Element_Select('type',
                    array(
                        'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $risktypes),
                        'view' => new Zend_View(), 
                        'decorators' => array('ViewHelper'),
                        'class' => array('form-control','input-sm', 'width200', 'hastooltip', 'inline'))
                    );
                    $dropdown->setValue($entity->getType()); 
                    echo $dropdown->render(); 
                ?>
                <div id="type_error"></div>
            </div>
        </div>
  	</div>
    <div class="col-sm-4">
        <div class="form-group type_project">
            <label class="col-sm-12 control-label">Project: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
            	<?php	
                    $projects = getProjects('');	
                    $dropdown = new Zend_Form_Element_Select('projectid',
                    array(
                        'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $projects),
                        'view' => new Zend_View(), 
                        'decorators' => array('ViewHelper'),
                        'class' => array('form-control','input-sm', 'chosen-select', 'linetip', 'xhastooltip')                                            	)
                    );
                    $dropdown->setValue($entity->getProjectID()); 
                    echo $dropdown->render();
                ?>
                <div id="projectid_error"></div>
            </div>
       	</div>
        <div class="form-group type_program">
            <label class="col-sm-12 control-label">Program: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
				<?php	
                    $programs = getPrograms();	
                    $dropdown = new Zend_Form_Element_Select('programid',
                    array(
                        'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $programs),
                        'view' => new Zend_View(), 
                        'decorators' => array('ViewHelper'),
                        'class' => array('form-control','input-sm', 'width200', 'hastooltip')                                            	)
                    );
                    $dropdown->setValue($entity->getProgramID()); 
                    echo $dropdown->render();
                ?>
                <div id="programid_error"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-sm-12 control-label">Risk Category: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <?php
					$riskcategories = getDatavariables('RISK_CATEGORIES');
                    $dropdown = new Zend_Form_Element_Select('category',
                    array(
                        'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $riskcategories),
                        'view' => new Zend_View(), 
                        'decorators' => array('ViewHelper'),
                        'class' => array('form-control','input-sm', 'chosen-select', 'width200', 'hastooltip', 'linetip')                                            	)
                    );
                    $dropdown->setValue($entity->getcategory()); 
                    echo $dropdown->render(); 
                ?>
                <div id="category_error"></div>
            </div>
        </div>
  	</div>
</div>  
<div class="row">
    <div class="col-sm-4">  
        <div class="form-group">
            <label class="col-sm-12 control-label">Date Reported: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <input type="text" class="form-control input-sm inline width100 ordinary hastooltip datetip" name="startdate" id="startdate" value="<?php echo changeMySQLDateToPageFormat($entity->getstartdate()); ?>" tipbody="<?php //echo $tip_startdate; ?>" />
                <div id="startdate_error"></div>
            </div>
        </div>
   	</div>
    <div class="col-sm-4">
    	<div class="form-group">
            <label class="col-sm-12 control-label">Review Frequency: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <?php
					$reviewtypes = getReviewTypes();
                    $dropdown = new Zend_Form_Element_Select('frequency',
                    array(
                        'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $reviewtypes),
                        'view' => new Zend_View(), 
                        'decorators' => array('ViewHelper'),
                        'class' => array('form-control','input-sm', 'width200', 'hastooltip', 'linetip')                                            	)
                    );
                    $dropdown->setValue($entity->getfrequency()); 
                    echo $dropdown->render(); 
                ?>
                <div id="frequency_error"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4"> 
        <div class="form-group">
            <label class="col-sm-12 control-label">Next Review Date: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <input type="text" class="form-control input-sm inline width100 ordinary hastooltip datetip" name="enddate" id="enddate" value="<?php echo changeMySQLDateToPageFormat($entity->getenddate()); ?>" tipbody="<?php //echo $tip_enddate; ?>" />
                <div id="enddate_error"></div>
            </div>
        </div>
	</div>
</div>	    
<div class="row">
    <div class="col-sm-4"> 
    	<div class="form-group">
            <label class="col-sm-12 control-label">Reported By: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <?php
					$users = getUsers();
                    $dropdown = new Zend_Form_Element_Select('reportedbyid',
                    array(
                        'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $users),
                        'view' => new Zend_View(), 
                        'decorators' => array('ViewHelper'),
                        'class' => array('form-control','input-sm', 'chosen-select', 'width200', 'hastooltip', 'linetip')                                            	)
                    );
                    $dropdown->setValue($entity->getReportedByID()); 
                    echo $dropdown->render(); 
                ?>
                <div id="reportedbyid_error"></div>
            </div>
        </div>
    </div> 
	<div class="col-sm-4"> 
    	<div class="form-group">
            <label class="col-sm-12 control-label">Assign Owner: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <?php
                    $dropdown = new Zend_Form_Element_Select('userid',
                    array(
                        'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $users),
                        'view' => new Zend_View(), 
                        'decorators' => array('ViewHelper'),
                        'class' => array('form-control','input-sm', 'chosen-select', 'width200', 'hastooltip', 'linetip')                                            	)
                    );
                    $dropdown->setValue($entity->getuserid()); 
                    echo $dropdown->render(); 
                ?>
                <div id="userid_error"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4"> 
    	<div class="form-group">
            <label class="col-sm-12 control-label">Risk Status: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <?php
					$readclass = '';
					if(isEmptyString($entity->getID())){
						$readclass = 'disabledfield disabled readonly';
					}
					$riskstatuses = getDatavariables('RISK_STATUS');
                    $dropdown = new Zend_Form_Element_Select('status',
                    array(
                        'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $riskstatuses),
                        'view' => new Zend_View(), 
                        'decorators' => array('ViewHelper'),
                        'class' => array('form-control','input-sm', 'width200', 'hastooltip', 'linetip', $readclass)                                            	)
                    );
                    $dropdown->setValue($entity->getstatus()); 
                    echo $dropdown->render();
                ?>
                <?php if(isEmptyString($entity->getID())){ ?>
                	<input type="hidden" id="status" name="status" value="<?php echo $entity->getStatus(); ?>" />
                <?php } ?>
                <div id="status_error"></div>
            </div>
        </div>
    </div>
</div>

