<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$entity = new ContentRiskDetail();
	$parent = new ContentRiskDetail();
	$risk = new ContentRisk();
	 
	$id = is_numeric($request->id) ? $request->id : decode($request->id);	
	$entity->populate($id); // debugMessage($entity->toArray()); // exit;
	$risk = $entity->getRisk();
	
	$successmessage = "Successfully saved";
	$successurl = encode($this->baseUrl("risk/viewsuccess/".SUCCESS_MESSAGE."/global_save_success"));
	$parentupdateid = is_numeric($request->parentid) ? $request->parentid : decode($request->parentid);
	if(!isEmptyString($parentupdateid)){
		$parent->populate($parentupdateid);	
		$entity->setRisk($parent->getRisk()); $risk = $parent->getRisk();
		$entity->setRiskID($parent->getRiskID());
		$entity->setUserID(getUserID());
		$entity->setIsBaseline("0");
		// debugMessage($entity->toArray());
	}
	
	// continuing
	if(isEmptyString($entity->getID()) && !isEmptyString($parent->getNextReviewDate())){
		$entity->setEndDate($parent->getNextReviewDate());
	}
	if(isEmptyString($entity->getID()) && !isEmptyString($parent->getEndDate())){
		$entity->setStartDate($parent->getEndDate());
	}
	
	// baseline
	if(isEmptyString($entity->getID()) && !isEmptyString($entity->getRisk()->getEnddate())){
		$entity->setEndDate($entity->getRisk()->getEnddate());
	}
	if(isEmptyString($entity->getID()) && !isEmptyString($entity->getRisk()->getStartdate()) && $parent->getIsBaseline() == 1){
		$entity->setStartDate($entity->getRisk()->getStartdate());
	}
	
	
	$title = "Review Risk";
	$resourcename = 'Risk Mgt';
	$entityname = "ContentRiskDetail";
	
	$probability_ranks = getDatavariables('RISK_PROBABILITY');
	$impact_ranks = getDatavariables('RISK_IMPACT');
	$response_types = getDatavariables('RISK_RESPONSE');
	
?>
<?php require_once APPLICATION_PATH.'/views/scripts/index/pgcjs.phtml'; ?>
<script>

$(document).ready(function() {		
	$("#view").css({'display':'none'}).addClass('hide');
	$("#new").css({'display':'block'}).removeClass('hide');
	
	$("#popupform").validate({		
		rules: {
			probability: "required",
			impact_cost: "required",
			impact_schedule: "required",
			responsetype: "required",
			responsedetails: "required",
			startdate: "required",
			enddate: "required"
		}, 
		// the messages for each of the fields being validated
		messages: {		
			probability: "Please select a status",
			impact_cost: "Please select a status",
			impact_schedule: "Please select a status",
			responsetype: "Please select a type",
			responsedetails: "Please enter action plan",
			startdate: "Please select Start Date",
			enddate: "Please select End Date"
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					if(element.hasClass("useid_error")){
						error.appendTo("#popupform #"+element.attr("id")+"_error");
					} else {
						error.appendTo("#popupform #"+element.attr("name")+"_error");
					}
					break;
			}			
		},
		ignore: ":hidden:not(select)"
	});
	
}); 
</script>
<style>
.modal-dialog {
	width: 70%;
}
select.form-control:not(.normalwidth) {
	width:100%;
}
</style>
<div class="popupdiv">
	<form id="popupform" class="form-horizontal" method="post" action="<?php echo $this->baseUrl('dataset/processgroup'); ?>">
    	<input name="entityname" id="entityname" type="hidden" value="<?php echo $entityname; ?>" />
        <input type="hidden" id="id" name="id" value="<?php echo encode($entity->getID()); ?>" />
        <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" />
        <input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($successurl); ?>" /> 
        <input type="hidden" id="type" name="type" value="<?php echo $entity->getType(); ?>" />
        <input type="hidden" id="status" name="status" value="<?php echo $entity->getStatus(); ?>" />
        <input type="hidden" id="riskid" name="riskid" value="<?php echo $entity->getRiskID(); ?>" />
        <input type="hidden" id="userid" name="userid" value="<?php echo $entity->getUserID(); ?>" />
        <input type="hidden" id="inputdate" name="inputdate" value="<?php echo $entity->getinputdate(); ?>" />
        
        <div class="alert alert-danger hidden" id="errormessage"></div>
        <div class="alert alert-success hidden" id="successmessage"></div>
        <div class="card-box m-t-10 m-b-10 p-t-10 p-b-0" style="padding:0 !important;">
            <div class="panel-body well-sm" style="min-height:150px;">
                <div class="row-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                        	<div class="form-group" style="margin-bottom:0;">
                                <label class="control-label inlinelabel">Risk:</label>
                                <span class="inlinelabel nullifempty"><?php echo $entity->getRisk()->getName(); ?></span>
                            </div>
                            <div class="form-group" style="margin-bottom:3px'">
                            	<span class="inlinelabel nullifempty"><?php echo nl2br($entity->getRisk()->getDescription()); ?></span>
                            </div>
                       	</div>
                   	</div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Review Period: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                <div class="col-sm-8">
                                	<?php if($entity->getisbaseline() == 1){ ?>
                                    	<div class="col-sm-6 padding0">
                                            <span class="inlinelabel nullifempty">Initial Review as at <?php echo changeMySQLDateToPageFormat($entity->getRisk()->getstartdate()); ?></span>
                                            <input type="hidden" name="startdate" id="startdate" value="<?php echo $entity->getstartdate(); ?>" />
                                            <input type="hidden" name="enddate" id="enddate" value="<?php echo $entity->getenddate(); ?>" />
                                        </div>
                                    <?php } else { ?>
                                        <div class="col-sm-6 padding0">
                                            <label class="col-sm-12 control-label">From:</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control input-sm inline width100 ordinary hastooltip datetip" name="startdate" id="startdate" value="<?php echo changeMySQLDateToPageFormat($entity->getstartdate()); ?>" tipbody="<?php //echo $tip_startdate; ?>" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 padding0">
                                            <label class="col-sm-12 control-label">To:</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control input-sm inline width100 ordinary hastooltip datetip" name="enddate" id="enddate" value="<?php echo changeMySQLDateToPageFormat($entity->getenddate()); ?>" tipbody="<?php //echo $tip_startdate; ?>" />
                                            </div>
                                        </div>
                                        <div class="divider5"></div>
                                        <div id="startdate_error"></div>
                                        <div id="enddate_error"></div>
                                     <?php } ?>   
                                </div>
                            </div>
                        </div>
                   	</div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-12 control-label"><?php echo isEmptyString($entity->getID()) ? 'New' : ''; ?> Probability: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                <div class="col-sm-12">
                                    <?php
                                        $dropdown = new Zend_Form_Element_Select('probability',
                                        array(
                                            'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $probability_ranks),
                                            'view' => new Zend_View(), 
                                            'decorators' => array('ViewHelper'),
                                            'class' => array('form-control','input-sm', 'width150', 'hastooltip', 'inline')                                            	)
                                        );
                                        $dropdown->setValue($entity->getprobability()); 
                                        echo $dropdown->render(); 
                                    ?>
                                    <div id="probability_error"></div>
                                    <?php if(!isEmptyString($risk->getID()) && isEmptyString($entity->getID())){ ?>
                                        <div class="divider2"></div>
                                        <p class="text-muted font-12">Currently at <b><?php echo isArrayKeyAnEmptyString($risk->getlatestreview()->getprobability(), $probability_ranks) ? '' : $probability_ranks[$risk->getlatestreview()->getprobability()]; ?></b></p>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-12 control-label"><?php echo isEmptyString($entity->getID()) ? 'New' : ''; ?> Impact on Schedule: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                <div class="col-sm-12">
                                    <?php
                                        $dropdown = new Zend_Form_Element_Select('impact_schedule',
                                        array(
                                            'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $impact_ranks),
                                            'view' => new Zend_View(), 
                                            'decorators' => array('ViewHelper'),
                                            'class' => array('form-control','input-sm', 'width150', 'hastooltip', 'inline')                                            	)
                                        );
                                        $dropdown->setValue($entity->getimpact_schedule()); 
                                        echo $dropdown->render(); 
                                    ?>
                                    <?php if(!isEmptyString($risk->getID()) && isEmptyString($entity->getID())){ ?>
                                        <div class="divider2"></div>
                                        <p class="text-muted font-12">Currently at <b><?php echo isArrayKeyAnEmptyString($risk->getlatestreview()->getimpact_schedule(), $impact_ranks) ? '' : $impact_ranks[$risk->getlatestreview()->getimpact_schedule()]; ?></b></p>
                                    <?php } ?>
                                    <div id="impact_schedule_error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-12 control-label"><?php echo isEmptyString($entity->getID()) ? 'New' : ''; ?> Response Type: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                <div class="col-sm-12">
                                    <?php
                                        $dropdown = new Zend_Form_Element_Select('responsetype',
                                        array(
                                            'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $response_types),
                                            'view' => new Zend_View(), 
                                            'decorators' => array('ViewHelper'),
                                            'class' => array('form-control','input-sm', 'width150', 'hastooltip', 'inline')                                            	)
                                        );
                                        $dropdown->setValue($entity->getresponsetype()); 
                                        echo $dropdown->render(); 
                                    ?>
                                    <div id="responsetype_error"></div>
                                    <?php if(!isEmptyString($risk->getID()) && isEmptyString($entity->getID())){ ?>
                                        <div class="divider2"></div>
                                        <p class="text-muted font-12">Currently at <b><?php echo isArrayKeyAnEmptyString($risk->getlatestreview()->getresponsetype(), $response_types) ? '' : $response_types[$risk->getlatestreview()->getresponsetype()]; ?></b></p>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-12 control-label"><?php echo isEmptyString($entity->getID()) ? 'New' : ''; ?> Impact on Cost: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                <div class="col-sm-12">
                                    <?php
                                        $dropdown = new Zend_Form_Element_Select('impact_cost',
                                        array(
                                            'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $impact_ranks),
                                            'view' => new Zend_View(), 
                                            'decorators' => array('ViewHelper'),
                                            'class' => array('form-control','input-sm', 'width150', 'hastooltip', 'inline')                                            	)
                                        );
                                        $dropdown->setValue($entity->getimpact_cost()); 
                                        echo $dropdown->render(); 
                                    ?>
                                    <div id="impact_cost_error"></div>
                                    <?php if(!isEmptyString($risk->getID()) && isEmptyString($entity->getID())){ ?>
                                        <div class="divider2"></div>
                                        <p class="text-muted font-12">Currently at <b><?php echo isArrayKeyAnEmptyString($risk->getlatestreview()->getimpact_cost(), $impact_ranks) ? '' : $impact_ranks[$risk->getlatestreview()->getimpact_cost()]; ?></b></p>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                        	<div class="form-group">
                                <label class="col-sm-12 control-label"><?php echo isEmptyString($entity->getID()) ? 'New' : ''; ?> Response Action Plan: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                <div class="col-sm-11">
                                    <textarea class="form-control expanding hastooltip linetip" id="responsedetails" name="responsedetails" placeholder="<?php //echo $descrp_attr; ?>" style="min-height:100px;"><?php echo $entity->getresponsedetails(); ?></textarea>
                                    <div id="responsedetails_error"></div>
                                    <span class="pagedescription blocked">Enter Mitigation/Contigency Plan</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                        	<?php if(isEmptyString($entity->getID()) || $entity->getStatus() == 1){ ?>
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">Next Review Date: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                    <div class="col-sm-11">
                                        <input type="text" class="form-control input-sm inline width100 ordinary hastooltip datetip" name="nextreviewdate" id="nextreviewdate" value="<?php echo changeMySQLDateToPageFormat($entity->getnextreviewdate()); ?>" tipbody="<?php //echo $tip_nextreviewdate; ?>" />
                                        <div id="responsedetails_error"></div>
                                        <span class="pagedescription blocked">Select a date when next review will be done</span>
                                    </div>
                                </div>
                        	<?php } ?>
                        </div>
                 	</div>
                </div>
            </div>
        </div>
    </form>
</div>                                        
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>