<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$isexternal = false;
	if($controller == 'project' && $action == 'view'){
		$isexternal = true;
	}
 
 	$entity = new ContentRisk();
	$theid = is_numeric($request->id) ? $request->id : decode($request->id);
	if($isexternal){
		$theid = is_numeric($request->vid) ? $request->vid : decode($request->vid);	
	}
	$entity->populate($theid); // debugMessage($entity->toArray()); // exit;
	
	$posturl = '';
	$formid = 'viewform';
	$formmethod = 'post';
	
	$tabt = trim($request->tabt); $sectionv = trim($request->sectionv);  $milestoneid = trim($request->milestoneid);
	if(isEmptyString($tabt)){
		$tabt = 'overview';
	}
	if(isEmptyString($sectionv)){
		$sectionv = 'view';
	}
	
	$title = 'Risk Register';
	$pagetitle = 'Risk No# '.$entity->getRefNo();
	
	$description = "";
	$listurl = $this->baseUrl($controller."/list");
	$listitems  = "Risk";
	
	$reviewtypes = getReviewTypes();
	$risktypes = getDatavariables('RISK_TYPES');
	$riskstatuses = getDatavariables('RISK_STATUS');
	$response_types = getDatavariables('RISK_RESPONSE');
	$probability_ranks = getDatavariables('RISK_PROBABILITY');
	$impact_ranks = getDatavariables('RISK_IMPACT');
	$users = getUsers();
	
	$allowadd = false; $allowedit = false; $allowdelete = false;
	$indexacl = 'index'; $updateacl = 'update'; $viewacl = 'list'; $deleteacl = 'delete';
	$resource = "Risk Mgt";
	if($acl->checkPermission($resource, $indexacl)){
		$allowadd = true;
	}
	if($acl->checkPermission($resource, $updateacl) && $entity->isNotClosed()){
		$allowedit = true;
		if($acl->checkPermission($resource, 'viewown') && $entity->getCreatedBy() != getUserID()){
			$allowedit = false;
		}
		if($acl->checkPermission($resource, 'manageown') && $entity->getCreatedBy() != getUserID()){
			$allowedit = false;
		}
	}
	if($acl->checkPermission($resource, $deleteacl) && $entity->isNotClosed()){
		$allowdelete = true;
		if($acl->checkPermission($resource, 'viewown') && $entity->getCreatedBy() != getUserID()){
			$allowdelete = false;
		}
		if($acl->checkPermission($resource, 'manageown') && $entity->getCreatedBy() != getUserID()){
			$allowdelete = false;
		}
	}
	
	$successmessage = "Successfully saved";
	$addurl = $this->baseUrl($controller.'/index'); 
	$indexurl = $this->baseUrl($controller.'/index/id/'.encode($entity->getID()));
	$newreviewurl = $this->baseUrl('risk/review/parentid/'.$entity->getReviewID().'/pgc/true');
	$editreviewurl = $this->baseUrl('risk/review/id/'.$entity->getReviewID().'/pgc/true');
	if($isexternal){ 
		$addurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$request->tab.'/widget/risks/section/addrisk');
		$indexurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$request->tab.'/widget/risks/section/addrisk/vid/'.$entity->getID().'/successurl/'.encode($this->viewurl));
		$listurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$request->tab.'/widget/risks/section/view');
	}
	
	if(!$isexternal){
		$this->headTitle($title.$browserappend);
    }
?>
<script>
$(document).ready(function() {
	<?php if(!$isexternal){ ?>
		$('.page-title').html('<?php echo $title; ?>');
		$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	<?php } ?>
	
	// equalHeight($("#expleft, #expright"));
});
</script>
<style>

</style>
<?php if(!$isexternal){ ?>
	<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<?php } ?>
<?php if($entity->isClosed()) { ?>
    <div class="alert alert-info alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button>Entry has been Closed & locked</div>
<?php } ?>
<div class="rowx" id="contentarea">
    <div class="col-md-12">
        <form id="viewform" role="form" class="form-horizontal" method="get">
            <div class="panel <?php echo !$isexternal ? 'panel-color panel-primary' : ''; ?>">
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked <?php echo !$isexternal ? '' : 'section'; ?>"><?php echo $pagetitle; ?></h3>
                    <div class="portlet-widgets lineblocked floatright">
						<?php if ($allowedit) { ?>                            
                           	<a class="btn btn-primary btn-xs addpopup" href="<?php echo $newreviewurl; ?>" title="Review Risk" rel="Review Risk" formtitle="popupform" submittext="Save Review" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl('risk/processreview'); ?>"><i class="fa fa-plus"></i> Review Risk</a></li>
                            <a class="btn btn-default btn-xs" href="<?php echo $indexurl; ?>" title="Update"><i class="fa fa-edit"></i> Edit Info</a>
                        <?php } ?>
                        <?php if($acl->checkPermission($resource, $updateacl) && $entity->isClosed()){ 
							$global_reopen_success = "Status successfully updated.";
							$global_reopen_confirmation = "Are you sure you want to reopen this entry?";
						?>
                            <a class="btn btn-default btn-xs confirm-dialog" action="<?php echo $this->baseUrl("risk/updatestatus/id/".encode($entity->getID())."/status/1/successmessage/".$global_reopen_success."/successurl/".encode($this->viewurl)); ?>" message="<?php echo $global_reopen_confirmation; ?>"> Re-Open</a>
                        <?php } ?>     
                        <?php if($allowdelete) { ?>	    
                        	<a class="btn btn-default btn-xs gonowhere deleteline" action="<?php echo $this->baseUrl($controller.'/delete/id/'.encode($entity->getID())."/entityname/ContentRisk/successurl/".encode($listurl)); ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>" type="button" title="Delete"><i class="fa fa-trash"></i></a>
                        <?php } ?>
                        <a href="<?php echo $listurl; ?>" class="btn btn-default btn-xs" title="Risk Register"> Risk Register <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="panel-body" <?php echo !$isexternal ? '' : 'style="padding-top:5px;"'; ?>>
                	<div class="row-fluid" style="margin-top:-10px; margin-left:-15px;">
                        <div class="col-sm-8 paddingleft0">
                                <label class="control-label inline inlinelabel">Risk Statement:</label>
                                <span class="blocked nullifempty inlinelabel"><?php echo $entity->getName(); ?></span>
                        </div>
                        <div class="col-sm-4 rightalign pullright">
                            <label class="control-label inlinelabel rightalign">Currrent Status: </label>
                            <span class="blocked nullifempty inlinelabel rightalign"><?php echo isArrayKeyAnEmptyString($entity->getStatus(), $riskstatuses) ? '' : $riskstatuses[$entity->getStatus()]; ?></span>
                        </div>
                    </div>
                    <div class="divider10"></div>
                    <div class="row">
                    	<ul class="nav nav-tabs">
                            <li class="overview <?php echo $tabt == 'overview' ? 'active' : ''; ?>">
                                <a href="<?php echo $isexternal ? $viewurl.'/tabt/overview/widget/risks/vid/'.$entity->getID() : $this->baseUrl($controller.'/'.$action.'/id/'.encode($entity->getID())); ?>">Overview</a>
                            </li>
                            <li class="updates <?php echo $tabt == 'updates' ? 'active' : ''; ?>">
                                <a href="<?php echo $isexternal ? $viewurl.'/tabt/updates/widget/risks/vid/'.$entity->getID() : $this->baseUrl($controller.'/'.$action.'/id/'.encode($entity->getID()).'/tabt/updates'); ?>"> Review History</a>
                            </li>
                            <li class="attachments hide <?php echo $tabt == 'attachments' ? 'active' : ''; ?>">
                                <a href="<?php echo $isexternal ? $viewurl.'/tabt/attachments/widget/risks/vid/'.$entity->getID() : $this->baseUrl($controller.'/'.$action.'/id/'.encode($entity->getID()).'/tabt/attachments'); ?>"> Uploads</a>
                            </li>
                        </ul>
                        <div class="tab-content minheight300">
                    		<div class="tab-pane <?php echo $tabt == 'overview' ? 'active' : ''; ?>" id="overview">
                            	<?php if($tabt == 'overview'){ ?>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel">
                                                <div class="panel-body" style="padding-bottom: 10px;">
                                                    <div class="form-group margin0">
                                                        <label class="col-sm-12 control-label">Summary</label>
                                                        <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo nl2br($entity->getDescription()); ?></p></div>
                                                    </div>
                                                    <div class="divider10"></div>
                                                    <div class="form-group" style="margin-bottom:5px;">
                                                        <div class="col-sm-4 paddingleft0">
                                                            <label class="control-label inlinelabel">Risk Type:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo isArrayKeyAnEmptyString($entity->getType(), $risktypes) ? '' :  $risktypes[$entity->getType()]; ?></span>
                                                        </div>
                                                        <div class="col-sm-6 paddingleft0">
                                                        	<?php if($entity->getType() == 3){ ?>
                                                                <label class="control-label inlinelabel">Project:</label>
                                                                <span class="inlinelabel nullifempty"><?php echo $entity->getProject()->getName(); ?></span>
                                                            <?php } ?>
                                                            <?php if($entity->getType() == 2){ ?>
                                                                <label class="control-label inlinelabel">Program:</label>
                                                                <span class="inlinelabel nullifempty"><?php echo $entity->getProgram()->getName(); ?></span>
                                                            <?php } ?>
                                                            
                                                        </div>
                                                   	</div>
                                                   	<div class="form-group" style="margin-bottom:5px;">
                                                        <div class="col-sm-4 paddingleft0">
                                                            <label class="control-label inlinelabel">Date Reported:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo changeMySQLDateToPageFormat($entity->getstartdate()); ?></span>
                                                        </div>
                                                        <div class="col-sm-6 paddingleft0">
                                                            <label class="control-label inlinelabel">Review Frequency:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo isArrayKeyAnEmptyString($entity->getFrequency(), $reviewtypes) ? '' : $reviewtypes[$entity->getFrequency()]; ?> (Next Review on <?php echo changeMySQLDateToPageFormat($entity->getenddate()); ?>)</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:5px;">
                                                        <div class="col-sm-4 paddingleft0">
                                                            <label class="control-label inlinelabel">Risk Reported By:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo isArrayKeyAnEmptyString($entity->getUserID(), $users) ? '' : $users[$entity->getUserID()]; ?></span>
                                                        </div>
                                                        <div class="col-sm-6 paddingleft0">
                                                            <label class="control-label inlinelabel">Risk Owner:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo isArrayKeyAnEmptyString($entity->getReportedByID(), $users) ? '' : $users[$entity->getReportedByID()]; ?></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel">
                                            	<div class="panel-heading fieldsetwrapper">
                                                    <h3 class="panel-title section" style="font-size:13px !important;">Latest Review</h3>
                                                </div>
                                                <div class="panel-body" style="padding-top: 5px; padding-bottom: 0px;">
                                                	<div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group" style="margin-bottom:5px;">
                                                                <label class="col-sm-12 control-label">Probability:</label>
                                                                <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo isArrayKeyAnEmptyString($entity->getlatestreview()->getprobability(), $probability_ranks) ? '' : $probability_ranks[$entity->getlatestreview()->getprobability()]; ?></p></div>
                                                            </div>
                                                            <div class="form-group" style="margin-bottom:5px;">
                                                                <label class="col-sm-12 control-label">Response Type:</label>
                                                                <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo isArrayKeyAnEmptyString($entity->getlatestreview()->getimpact_schedule(), $impact_ranks) ? '' : $impact_ranks[$entity->getlatestreview()->getimpact_schedule()]; ?></p></div>
                                                            </div>
                                                            <div class="form-group" style="margin-bottom:5px;">
                                                                <label class="col-sm-12 control-label">Date Reviewed:</label>
                                                                <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo formatDateAndTime($entity->getlatestreview()->getInputDate()); ?></p></div>
                                                            </div>
                                                            <div class="form-group" style="margin-bottom:5px;">
                                                                <label class="col-sm-12 control-label">Reviewed By:</label>
                                                                <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo $entity->getlatestreview()->getUser()->getName(); ?></p></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group" style="margin-bottom:5px;">
                                                                <label class="col-sm-12 control-label">Impact on Schedule:</label>
                                                                <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo isArrayKeyAnEmptyString($entity->getlatestreview()->getimpact_schedule(), $impact_ranks) ? '' : $impact_ranks[$entity->getlatestreview()->getimpact_schedule()]; ?></p></div>
                                                            </div>
                                                            <div class="form-group" style="margin-bottom:5px;">
                                                                <label class="col-sm-12 control-label">Risk Exposure:</label>
                                                                <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo $entity->getlatestreview()->getExposure(); ?>%</p></div>
                                                            </div>
                                                            <div class="form-group" style="margin-bottom:5px;">
                                                                <label class="col-sm-12 control-label">Description of Impact:</label>
                                                                <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo nl2br($entity->getlatestreview()->getimpactdetails()); ?></p></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group" style="margin-bottom:5px;">
                                                                <label class="col-sm-12 control-label">Impact on Cost:</label>
                                                                <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo isArrayKeyAnEmptyString($entity->getlatestreview()->getimpact_cost(), $impact_ranks) ? '' : $impact_ranks[$entity->getlatestreview()->getimpact_cost()]; ?></p></div>
                                                            </div>
                                                            <div class="form-group" style="margin-bottom:5px;">
                                                                <label class="col-sm-12 control-label">Response Action Plan:</label>
                                                                <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo nl2br($entity->getlatestreview()->getresponsedetails()); ?></p></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    	</div>
                                	</div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                        	<?php 
												$comments =  $entity->getComments(); // debugMessage($updates->toArray());
												$noofcomments = $comments->count(); 
											?>
                                            <div class="card-box">
                                                <h4 class="m-t-0 panel-title header-title section" style="font-size:13px !important;">Review Comments</h4>
                                                <div class="divider20"></div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="portlet-widgets lineblocked">
                                                            <?php if($allowedit){ ?>
                                                                <a class="btn btn-primary btn-xs addpopup" href="<?php echo $this->baseUrl('risk/comment/riskid/'.$entity->getID().'/pgc/true'); ?>" title="Add Comment & Notes" rel="Add Review Comments"  formtitle="popupform" submittext="Save Comment" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl('risk/processreview/successmessage/'.$successmessage); ?>"><i class="fa fa-plus"></i> Add Comment</a>
                                                            <?php } ?>
                                                        </div>
                                                        <div class="divider10"></div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="text-left floatright">
                                                            <?php if($noofcomments > 0){ ?>
                                                                <p class="text-muted font-12 rightalign">Viewing <?php echo $noofcomments; ?> comments</p>
                                                            <?php } ?>
                                                        </div>
                                                    </div>
                                       			</div>
                                                <div class="details">
													<?php if($noofcomments == 0){ ?>
                                                        <div class="divider5"></div>
                                                        <div class="alert alert-warning" style="padding:5px; padding-left:10px;">No comments available</div>
                                                    <?php } else { ?>
                                                        <?php 
                                                            foreach($comments as $line){
                                                                
                                                        ?>
                                                            <div class="media comments makerelative">
                                                                <div class="media-left">
                                                                    <?php 
                                                                        $photo_path = getUserPicture($line->getUserID(), $line->getUser()->getGender(), $line->getUser()->getprofilephoto());
                                                                    ?>
                                                                    <a href="#" class="gonowhere"> <img class="media-object img-circle img-thumbnail six_four_size" alt="64x64" src="<?php echo $photo_path; ?>"> </a>
                                                                </div>
                                                                <div class="media-body">
                                                                    <h4 class="media-heading"><?php echo $line->getUser()->getName(); ?></h4>
                                                                    <p><?php echo nl2br($line->getContents()); ?></p>
                                                                    <div class="divider10"></div>
                                                                    <p class="text-muted font-12"><?php echo formatDateAndTime($line->getInputDate(), false); ?></p>
                                                                    
                                                                </div>
                                                                <div class="makeabsolute actions">
                                                                    <div class="btn-group gridactions" style="z-index:995;">
                                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle xnoround" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                                                                        <ul class="dropdown-menu listtype" role="menu" style="z-index:1001; left: -118px; top: -2px;">
																			<?php if($allowedit && $line->getUserID() == getUserID()){ ?>
                                                                                <li><a class="deleteline gonowhere" action="<?php echo $this->baseUrl($controller.'/delete/id/'.encode($line->getID())."/entityname/ContentComment/successurl/".encode($this->viewurl)); ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a></li>
                                                                            <?php } ?>
                                                                     	</ul>
                                                                  	</div>
                                                                </div>
                                                            </div>
                                                        <?php } ?>
                                                    <?php } ?>
                                                </div>
    										</div>
                                        </div>
                                  	</div>
                                    <div class="divider10"></div>
								<?php } ?>
                            </div>
                            <div class="tab-pane <?php echo $tabt == 'updates' ? 'active' : ''; ?>" id="updates">
                            	<?php 
									$updates =  $entity->getStatusUpdates(); // debugMessage($updates->toArray());
									$noofupdates = $updates->count(); 
								?>
                                <div class="row">
                                    <div class="col-md-12">
                                    	<div class="panel panel-color xpanel-primary">
                                        	<div class="panel-heading fieldsetwrapper">
                                                <h3 class="panel-title section" style="font-size:13px !important;">Review Updates</h3>
                                            </div>
                                            <div class="panel-body p-t-0" style="min-height:300px;">
                                                 <div class="row">
                                                 	<div class="col-sm-6">
                                                    	<div class="portlet-widgets lineblocked">
															<?php if($allowedit){ ?>
                                                                <a class="btn btn-primary btn-xs addpopup" href="<?php echo $newreviewurl; ?>" title="Review Risk" rel="Review Risk" formtitle="popupform" submittext="Save Changes" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl('risk/processreview/successmessage/'.$successmessage); ?>"><i class="fa fa-edit"></i> Review Risk</a>
                                                            <?php } ?>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                    	<div class="text-left floatright">
                                                            <p class="text-muted font-12 rightalign">Viewing <?php echo $noofupdates; ?> updates</p>
                                                        </div>
                                                    </div>
                                                 </div>
                                                 <div class="divider5"></div>
                                                 <div class="row">
                                                 	<div class="col-sm-12">
                                                    	<table class="table table-colored table-primary table-condensed table-nomargin table-striped table-bordered" style="margin-bottom:0;" id="listtable">
                                                        <thead style="font-size:12px !important;">
                                                            <tr>
                                                                <th class="nowrapping">Review Date</th>
                                                                <th class="nowrapping">Review Period</th>
                                                                <th class="nowrapping">Probability</th>
                                                                <th class="nowrapping">Impact (Schedule)</th>
                                                                <th class="nowrapping">Impact (Cost)</th>
                                                                <th class="nowrapping">Risk Exposure (%)</th>
                                                                <th class="nowrapping">Response Type</th>
                                                                <th class="nowrapping">Action Plan</th> 
                                                                <th class="nowrapping">Status</th>
                                                                <th class="nowrapping">Reviewed By</th>    
                                                                <th class="nowrapping"></th>    
                                                            </tr>
                                                        </thead>
                                                        <tbody style="font-size:12px !important;">
                                                        	<?php
                                                                foreach($updates as $riskupdate){  // debugMessage($line);
																	$period = '';
																	if($riskupdate->getIsBaseline() == 1){
																		$period = 'Initial Review';
																	}
																	if($riskupdate->getIsBaseline() == 0 && !isEmptyString($riskupdate->getStartdate()) && !isEmptyString($riskupdate->getEnddate())){
																		$period = 'From: '.formatDateAndTime($riskupdate->getStartdate()).'<br><br> To: '.formatDateAndTime($riskupdate->getEnddate());
																	}
																	$def_probab_color = 'FFFFFF;';
																	if($riskupdate->getProbability() == 5){
																		$def_probab_color = 'FF0000;';
																	}
																	if($riskupdate->getProbability() == 4){
																		$def_probab_color = 'FF7F00;';
																	}
																	if($riskupdate->getProbability() == 3){
																		$def_probab_color = 'FFFF00;';
																	}
																	if($riskupdate->getProbability() == 2){
																		$def_probab_color = '7FFF00;';
																	}
																	if($riskupdate->getProbability() == 1){
																		$def_probab_color = '00FF00;';
																	}
																	
																	$def_cimpact_color = 'FFFFFF;';
																	if($riskupdate->getImpact_Cost() == 5){
																		$def_cimpact_color = 'FF0000;';
																	}
																	if($riskupdate->getImpact_Cost() == 4){
																		$def_cimpact_color = 'FF7F00;';
																	}
																	if($riskupdate->getImpact_Cost() == 3){
																		$def_cimpact_color = 'FFFF00;';
																	}
																	if($riskupdate->getImpact_Cost() == 2){
																		$def_cimpact_color = '7FFF00;';
																	}
																	if($riskupdate->getImpact_Cost() == 1){
																		$def_cimpact_color = '00FF00;';
																	}
																	
																	$def_simpact_color = 'FFFFFF;';
																	if($riskupdate->getImpact_Schedule() == 5){
																		$def_simpact_color = 'FF0000;';
																	}
																	if($riskupdate->getImpact_Schedule() == 4){
																		$def_simpact_color = 'FF7F00;';
																	}
																	if($riskupdate->getImpact_Schedule() == 3){
																		$def_simpact_color = 'FFFF00;';
																	}
																	if($riskupdate->getImpact_Schedule() == 2){
																		$def_simpact_color = '7FFF00;';
																	}
																	if($riskupdate->getImpact_Schedule() == 1){
																		$def_simpact_color = '00FF00;';
																	}
																	
																	$exposure_color = 'FFFFFF;';
																	$exposure = $riskupdate->getExposure();
																	if($exposure >= 80){
																		$exposure_color = 'FF0000;';
																	} else if($exposure >= 60 && $exposure < 80){
																		$exposure_color = 'FF7F00;';
																	} else if($exposure >= 40 && $exposure < 60){
																		$exposure_color = 'FFFF00;';
																	} else if($exposure >= 20 && $exposure < 40){
																		$exposure_color = '7FFF00;';
																	} else {
																		$exposure_color = '00FF00;';
																	} 
                                                            ?>
                                                                <tr>
                                                                    <td class="nowrapping nullifempty"><?php echo isEmptyString($riskupdate->getinputdate()) ? '' :  formatDateAndTime($riskupdate->getinputdate(), false); ?></td>
                                                                    <td class="nowrapping nullifempty"><?php echo $period; ?></td>
                                                                    
                                                                    <td class="nowrapping nullifempty centeralign" style="color:#000; background:#<?php echo $def_probab_color; ?>"><?php echo isArrayKeyAnEmptyString($riskupdate->getProbability(), $probability_ranks) ? '' : $probability_ranks[$riskupdate->getProbability()]; ?></td>
                                                                    <td class="nowrapping nullifempty centeralign" style="color:#000; background:#<?php echo $def_simpact_color; ?>"><?php echo isArrayKeyAnEmptyString($riskupdate->getimpact_schedule(), $impact_ranks) ? '' : $impact_ranks[$riskupdate->getimpact_schedule()]; ?></td>
                                                                    <td class="nowrapping nullifempty centeralign" style="color:#000; background:#<?php echo $def_cimpact_color; ?>"><?php echo isArrayKeyAnEmptyString($riskupdate->getimpact_cost(), $impact_ranks) ? '' : $impact_ranks[$riskupdate->getimpact_cost()]; ?></td>
                                                                    <td class="nowrapping nullifempty centeralign" style="color:#000; background:#<?php echo $exposure_color; ?>"><?php echo $exposure; ?></td>
                                                                    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($riskupdate->getresponsetype(), $response_types) ? '' : $response_types[$riskupdate->getresponsetype()]; ?></td>
                                                                    <td class="nullifempty"><?php echo nl2br($riskupdate->getresponsedetails()); ?></td>
                                                                    <td class="nullifempty"><?php echo $riskupdate->getStatus() == 1 ? 'Current' : 'Previous'; ?></td>
                                                                    <td class="nowrapping nullifempty"><?php echo isArrayKeyAnEmptyString($riskupdate->getuserid(), $users) ? '' : $users[$riskupdate->getuserid()]; ?></td>
                                                                    <td>
                                                                    	<div style="width:80px;">
                                                                            <div class="btn-group gridactions" style="z-index:995;">
                                                                                <button type="button" class="btn btn-default btn-sm dropdown-toggle xnoround" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                                                                                <ul class="dropdown-menu listtype" role="menu" style="z-index:1001;">
                                                                                    <?php if ($allowedit) { ?>
                                                                                        
                                                                                  		<li><a class="addpopup" href="<?php echo $this->baseUrl('risk/review/id/'.$riskupdate->getID().'/pgc/true'); ?>" title="Edit Review" rel="Edit Review Details" formtitle="popupform" submittext="Save Changes" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl('risk/processreview'); ?>">Edit</a>
                                                                                        </li>
                                                                                    <?php } ?>
                                                                                    <?php if($allowdelete && $riskupdate->getStatus() != 1){ ?>
                                                                                        <li><a class="deleteline gonowhere" action="<?php echo $this->baseUrl($controller.'/delete/id/'.encode($riskupdate->getID())."/entityname/ContentRiskDetail/successurl/".encode($this->viewurl)); ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a>
                                                                                        </li>
                                                                                    <?php } ?>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            <?php } ?>
                                                        </tbody>
                                                    </table>
                                                    <?php if($noofupdates == 0){ ?>
                                                    	<div class="divider5"></div>
                                                        <div class="alert alert-warning" style="padding:5px; padding-left:10px;">No records available</div>
                                                    <?php } ?>
                                            		</div>
                                                </div>
                                            </div>
                                       	</div>
                                	</div>
                               	</div>
                            </div>
                            <div class="tab-pane <?php echo $tabt == 'attachments' ? 'active' : ''; ?>" id="attachments">
                            	
                            </div>
                     	</div>
            		</div>
                </div>
           	</div>
            <div class="row hide">
                <div class="col-md-12" style="font-size:12px !important;">
                    <div class="card-box p-t-10 p-b-10 clearfix">
                        <div class="form-group m-b-0 clearfix">
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-bottom:4px;">
                                    <label class="col-sm-3 control-label" style="font-size:12px !important;">Date Created:</label>
                                    <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo isEmptyString($entity->getDateCreated()) ? '' : formatDateAndTime($entity->getDateCreated(), false); ?></div>
                                </div>
                                <div class="form-group" style="margin-bottom:4px;">
                                    <label class="col-sm-3 control-label" style="font-size:12px !important;">Created By:</label>
                                    <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo $entity->getCreator()->getName(); ?></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-bottom:4px;">
                                    <label class="col-sm-3 control-label" style="font-size:12px !important;">Last Modified:</label>
                                    <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo isEmptyString($entity->getLastUpdateDate()) ? '' : formatDateAndTime($entity->getLastUpdateDate(), false); ?></div>
                                </div>
                                <div class="form-group" style="margin-bottom:4px;">
                                    <label class="col-sm-3 control-label" style="font-size:12px !important;">Modified By:</label>
                                    <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo $entity->getupdator()->getName(); ?></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider30"></div>
       	</form>
	</div>
</div>                                                              
<?php if(!$isexternal){ ?>      
	<?php
        require_once APPLICATION_PATH.'/includes/footer.php';
    ?>
<?php } ?>