<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$title = "Help Center";
	$this->headTitle($title.$browserappend);

?>
<script>
	$(document).ready(function(){
		/*$('#helpcategories a').click(function(){
			$("table.list").hide();
			var id = $(this).attr('id');
			$("table.list."+id).show();
			if(id == 'all'){
				$("table.list").show();
			}
		});*/
		
	}); 
</script>
<style>
.content h4 {
	margin-top:5px;
	margin-bottom:15px;
	font-size:16px;	
}
td.qn {
	font-weight:bold;
}
.table td.ansline1 {
	color:#333333;
	font-weight:bold;
}
#helpcategories {
	width:100%;
}
#helpcategories li {
	width:28%;
	margin-right:0;
	font-size:18px;
	display:inline-block;
}
#helpcategories li a {
	
}
.regulardescription {
	font-size:12px; 
	font-weight:normal; 
	display:block;
	margin-top:5px;
}
.table {
	margin-bottom:2px;
}
td.qn {
	width:15px;
}

</style>
<div class="row marginleft0">
    <div class="span8 pull-left marginleft0 public_leftcolumn">
        <div class="content" id="help">
            <h1><?php echo $title; ?></h1> 
            <h2>Frequently Asked Questions (FAQs)</h2>
            <table class="table noborder margin0" style="margin-left:5px;">
            </table>
            <table class="table table-bordered table-condesed list cat1">
                <tbody>
                    <tr>
                        <td style="width:15px;" class="qn">Q:</td>
                        <td class="ansline1">What is <?php echo getAppName(); ?>? 
                        <label class="regulardescription"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="qn">A:</td>
                        <td class="ans"><p><?php echo getAppName(); ?> is a comprehensive, cost-effective HR solution for small-to-medium-sized businesses.</p></td>
                    </tr>                  
                </tbody>
            </table>
            <table class="table table-bordered table-condesed list cat1">
                <tbody>
                    <tr>
                        <td class="qn">Q:</td>
                        <td class="ansline1">What does <?php echo getAppName(); ?> do?
                        <label class="regulardescription"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="qn">A:</td>
                        <td class="ans"><p>A number of Human resource functions/features are lined up. These include;</p>
                            <p></p>
                            • &nbsp;Centralised Employee Management<br />
                            • &nbsp;Company Administration<br />
                            • &nbsp;Benefits Management.<br />
                            • &nbsp;Document Library<br />
                            • &nbsp;Timesheets and Attendance History<br />
                            • &nbsp;Leave Tracking, Accruals and Calendar<br />
                            • &nbsp;Work shifts and Employee Scheduling<br />
                            • &nbsp;Payroll Administration<br />
                            • &nbsp;Company Loans and Advances<br />
                            • &nbsp;Insurance and Tax Reporting<br />
                            • &nbsp;Online Recruitment<br />
                            • &nbsp;Performance Metrics and Appraisals<br />
</td>
                    </tr>                  
                </tbody>
            </table>
            <table class="table table-bordered table-condesed list cat3">
                <tbody>
                    <tr>
                        <td class="qn">Q:</td>
                        <td class="ansline1">How much does it cost to join <?php echo getAppName(); ?>?
                        <label class="regulardescription"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="qn">A:</td>
                        <td class="ans">
                        <p>Creating an account is absolutely free. You can use that account with upto 5employees and check out the platform can do. Look at our subscription bundles and select what's appropriate for you and your company.</p> 
                    </tr>                  
                </tbody>
            </table>
            <table class="table table-bordered table-condesed list cat3">
                <tbody>
                    <tr>
                        <td class="qn">Q:</td>
                        <td class="ansline1">How do I make payments for subscription?
                        <label class="regulardescription"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="qn">A:</td>
                        <td class="ans">
                        <p>You can pay by cheque/bank transfer/eft/visa/paypal to QED Solutions Ltd. Please email support@hrmagic.ug and request for a payment details. </p>
                        </td>
                    </tr>                  
                </tbody>
            </table>
            <table class="table table-bordered table-condesed list cat5">
                <tbody>
                    <tr>
                        <td class="qn">Q:</td>
                        <td class="ansline1">If am not in Uganda can I still use <?php echo getAppName(); ?>?
                        <label class="regulardescription"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="qn">A:</td>
                        <td class="ans"><p><?php echo getAppName(); ?> is available to users outside Uganda. Please <a href="<?php echo $this->baseUrl('contactus'); ?>">Contact Us</a> and we will advise on steps to take.</p></td>
                    </tr>                  
                </tbody>
            </table>
            <table class="table table-bordered table-condesed list cat2">
                <tbody>
                    <tr>
                        <td class="qn">Q:</td>
                        <td class="ansline1">Does HRMagic share my records?
                        <label class="regulardescription"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="qn">A:</td>
                        <td class="ans"><p>We don't share any records or piece of data that belongs to the client. HRMagic has a strict privacy policy that is followed to the letter. Read our Terms and Conditions for more information.</p></td>
                    </tr>                  
                </tbody>
            </table>
            <table class="table table-bordered table-condesed list cat2">
                <tbody>
                    <tr>
                        <td class="qn">Q:</td>
                        <td class="ansline1">Where can I access HRMagic
                        <label class="regulardescription"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="qn">A:</td>
                        <td class="ans"><p>Visit https://hrmagic.ug/ and register for an account.</p></td>
                    </tr>                  
                </tbody>
            </table>
            <table class="table table-bordered table-condesed list cat5">
                <tbody>
                    <tr>
                        <td class="qn">Q:</td>
                        <td class="ansline1">Do I need to carry out any installations?
                        <label class="regulardescription"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="qn">A:</td>
                        <td class="ans"><p>Our system is online i.e. cloud-based. You don't need to install anything on your computer or mobile devices</p>
                    </tr>                  
                </tbody>
            </table>
            <table class="table table-bordered table-condesed list cat5">
                <tbody>
                    <tr>
                        <td class="qn">Q:</td>
                        <td class="ansline1">What are prerequisites for setting up my instance after creating my account?
                        <label class="regulardescription"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="qn">A:</td>
                        <td class="ans"><p>Have your employee and payroll records available. You can decide to enter records one by one or do a batch upload using our scripts or screens. Our support team will assist you wherever and whenever you need help</p>
                    </tr>                  
                </tbody>
            </table>
        </div>
    </div>
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
