<div class="row">
	<div class="xmakeabsolute">
        <?php if($acl->checkPermission($resourcename, ACTION_DELETE) && $user->isDeactivated() && !$isme){ ?>
            <a class="btn btn-success confirm-dialog" action="<?php echo $this->baseUrl("profile/updatestatus/id/".encode($user->getID())."/status/1/successmessage/profile_reactivate_success/successurl/".encode($this->viewurl)); ?>" message="<?php echo $this->translate('profile_reactivate_confirmation'); ?>"> Re-Activate Account</a>
        <?php } ?>
        <?php if($acl->checkPermission($resourcename, ACTION_DELETE) && $user->isUserActive() && !$user->isDeactivated() && !$isme){ ?>
           <a class="btn btn-orange confirm-dialog" action="<?php echo $this->baseUrl("profile/updatestatus/id/".encode($user->getID())."/status/2/successmessage/profile_deactivate_success/successurl/".encode($this->viewurl)); ?>" message="<?php echo $this->translate('profile_deactivate_confirmation'); ?>">De-Activate Account</a>
        <?php } ?>
        <?php if($acl->checkPermission($resourcename, ACTION_DELETE) && !$user->isUserActive()){ ?>
            <a class="btn btn-danger confirm-dialog" message="<?php echo $this->translate('global_delete_confirm_message'); ?>" action="<?php echo $this->baseUrl($controller.'/delete/id/'.encode($user->getID())."/entityname/UserAccount/successurl/".encode($listurl)); ?>">Delete Account</a>
        <?php } ?>
    </div>
    <div class="col-sm-12 paddingleft0">
        <fieldset class="fieldsetcontainer">
            <legend>Account Settings</legend>
            <div class="panel-body well-sm">
                <div class="row-fluid">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><?php echo $this->translate('profile_type_label'); ?>:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static nullifempty view"><?php echo getUserType($user->getType()); ?></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Account Status:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static nullifempty view"><?php echo isArrayKeyAnEmptyString($user->getStatus(), $allstatus) ? '' : $allstatus[$user->getStatus()]; ?></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><?php echo $this->translate('profile_emailonly_label'); ?>:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static nullifempty view"><?php echo $user->getEmail(); ?>
                                <?php if($user->isUserActive() && $isme){ ?>
                                    <a href="<?php echo $this->baseUrl('profile/changeemail/id/'.encode($user->getID()).'/pgc/true'); ?>" class="addpopup changeemail btn btn-xs btn-default pull-right floatright" title="Change Email" rel="Change Email" id="changeemail" formtitle="indexform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl($controller."/processchangeemail"); ?>">Change Email</a>
                                <?php } ?>
                                </p>
                            </div>
                        </div>
                        <?php if($user->isUserActive()){ ?>
                        	<div class="form-group">
                            	<label class="col-sm-2 control-label"><?php echo $this->translate('profile_username_label'); ?>:</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static nullifempty view"><?php echo $user->getUsername(); ?></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><?php echo $this->translate('profile_password_label'); ?>:</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static nullifempty view">
                                        <b style="font-size:16px;">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</b> &nbsp;
                                        
                                        <?php if($isme){ ?>
                                            <a class="addpopup btn btn-xs btn-default pull-right floatright" rel="Change Password" href="<?php echo $this->baseUrl('profile/changepassword/pgc/true/id/'.encode($user->getID())); ?>" formtitle="indexform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("profile/processchangepassword"); ?>" submittext="Change Password">Change Password</a>
                                        <?php } ?>
                                        <?php if($acl->checkPermission('User Account', ACTION_EDIT) && $user->isUserActive() && !$isme){ ?>
                                            <a class="btn btn-default btn-xs confirm-dialog pull-right floatright" action="<?php echo $this->baseUrl('profile/resetpassword/id/'.encode($user->getID()).'/successurl/'.encode($this->viewurl)); ?>" message="Are you sure you want to reset <?php echo $user->getName(); ?>'s Password?">Reset Password</a>
                                        <?php } ?>
                                    </p>
                                </div>
                            </div>
                        <?php } ?> 
                    </div>
                </div>
            </div>
        </fieldset>
	</div>
</div>            