<div class="row">
    <div class="col-sm-12">
        <fieldset class="fieldsetcontainer">
            <legend>Settings</legend>
            <div class="panel-body well-sm">
                <div class="row-fluid">
                    <div class="col-sm-8">
                        <input type="hidden" name="type" id="type" value="<?php echo $user->getType(); ?>" />
                        <?php //if($user->isUserActive()){ ?>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Login Username: <?php echo isEmptyString($user->getID()) ? '' : $this->translate("global_required_field_marker"); ?>
                                <?php if(!$user->isUserActive()){ ?>
                                    <span class="pagedescription blocked nobolded">To be used as Login</span>
                               	<?php } ?>
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-sm width225 inline clearnew" id="username" name="username" value="<?php echo $user->getUserName(); ?>" /> <a class="btn btn-sm btn-default gonowhere" id='check_username_availability' style="margin-top:2px;" title="Check Availability">Check</a>
                                    
                                    <div id="username_availability_result" style="margin-top:4px"></div>
                                    <div id="username_error"></div>
                                </div>
                            </div>
                        <?php //} ?>
                    </div>   
                </div>
                
            </div>
        </fieldset>
        <div class="divider10"></div>
    </div>
</div>