<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$title = "Edit Role";
	
	$user = new UserAccount(); 	
	$user->populate(decode($request->id)); // debugMessage($user->toArray());
	$types = getUserType();
	// debugMessage($types);
	$ids = explode(',', $user->getTypeIDs());
								
	#in case of errors in session, populate the fields from session
	if(!isEmptyString($session->getVar(ERROR_MESSAGE))){ 
		$user->processPost($session->getVar(FORM_VALUES));	
	}

	$this->headTitle($title);
?>
<script>
$(document).ready(function() {		
	$("#indexform").validate({		
		rules: {
			"type": { 
				required: true
            }
		}, 
		// the messages for each of the fields being validated
		messages: {		
			"type": "Please select a Role",
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					if(element.hasClass("useid_error")){
						error.appendTo("#"+element.attr("id")+"_error");
					} else {
						if(element.hasClass("typerror")){
							error.appendTo("#type_error");
						} else { 
							error.appendTo("#"+element.attr("name")+"_error");
						}
					}
					break;
			}			
		},
		ignore: ":hidden:not(select)"
	});
}); 
</script>
<div class="popupdiv">
    <div class="card-box m-t-10 m-b-10 p-t-10 p-b-10">
        <div class="panel-body well-sm" style="min-height:150px;">
            <div class="row-fluid marginleft5">
                <div class="col-sm-12 paddingleft10">
                    <form id="indexform" class="form-horizontal" method="post">
                    	<input type="hidden" name="entityname" value="UserAccount" />
               			<input type="hidden" id="id" name="id" value="<?php echo $user->getID(); ?>" />
                        <div class="form-group">
                            <label class="col-sm-12 control-label leftalignlabel">Select Role: <?php echo $this->translate("global_required_field_marker"); ?></label>
                            <div class="col-sm-12">
                                <?php
									$dropdown = new Zend_Form_Element_Select('type',
										array(
											'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $types),
											'view' => new Zend_View(),
											'decorators' => array('ViewHelper'),
											'class' => array('form-control','input-sm','width200')
										)
									);  
									$dropdown->setValue($user->getType()); 
									echo $dropdown->render();
								?>
								<div id="type_error"></div>
                            </div>
                        </div>
                    </form>
              	</div>
			</div>
		</div>
	</div>
</div>                                        
<?php
	$clearsessionformvalues = true; 
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
