<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$user = new UserAccount(); 	
	$user->populate(decode($request->id)); // debugMessage($user->toArray());
	
	$title = 'User Permissions';
	$this->headTitle($title);
?>
<script>
$(document).ready(function() {		
	$("#indexform").validate({		
		rules: {
			
		}, 
		// the messages for each of the fields being validated
		messages: {		
			
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					if(element.hasClass("useid_error")){
						error.appendTo("#"+element.attr("id")+"_error");
					} else {
						error.appendTo("#"+element.attr("name")+"_error");
					}
					break;
			}			
		},
		ignore: ":hidden:not(select)"
	});
	
	
	
}); 
</script>
<style>

</style>
<div class="popupdiv">
    <div class="card-box m-t-10 m-b-10 p-t-10 p-b-10">
        <div class="panel-body well-sm" style="min-height:150px;">
            <div class="row-fluid marginleft5">
                <div class="col-sm-12 paddingleft10">
                    <form id="indexform" class="form-horizontal" method="post">
                    	
                    </form>
              	</div>
			</div>
		</div>
	</div>
</div>                                        
<?php
	$clearsessionformvalues = true; 
	require_once APPLICATION_PATH.'/includes/footer.php';
?>