 <?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$user = new UserAccount();
	$theid = is_numeric($request->id) ? $request->id : decode($request->id);
	if(isEmptyString($theid)){
		$theid = $userid;
	}
    $user->populate($theid);
	$id = $user->getID(); // debugMessage($user->toArray()); exit;
	
	$posturl = '';
	$formid = 'viewform';
	$formmethod = 'get';
	
	$tab = trim($request->tab);
	if(isEmptyString($tab)){
		$tab = 'overview';
	}
	$section = trim($request->section);
	if(isEmptyString($section)){
		$section = 'view';
	}
	if($tab == 'settings'){
		$tab = "account";
	}
	if($tab == 'editpermissions'){
		$posturl = $this->baseUrl('profile/processpermissions');
		// $formid = 'indexform';
		$formmethod = 'post';
		$successmessage = "Successfully Updated";
		$failureurl = encode($this->viewurl);
		$successurl = encode($this->baseUrl('profile/view/id/'.encode($user->getID()).'/tab/permissions'));		
	}
	
	$resource = 'Profile';
	$entityname = "UserAccount";
	$listitems = "Users";
	$listurl = $this->baseUrl('profile/list');
	$viewurl = $viewbase = $this->baseUrl('profile/view/id/'.encode($user->getID()));
	$indexurl = $this->baseUrl('profile/update/id/'.encode($user->getID()));
	$title = "Profile";
	$pagetitle = $user->getName();
	$description = 'Profile Details';	
	$icon = 'glyphicon glyphicon-user';
	$isme = true;
	if($user->getID() != $userid){
		$isme = false;
		$description = 'My Profile';
		$resource = 'User';	
	} // debugMessage('asa '.$resource);
	$multipart = "";
	
	if($tab == 'account'){
		$indexurl = $this->baseUrl('profile/update/id/'.encode($user->getID()).'/tab/account');
	}
	
	
	$allstatus = getUserStatus();
	
	$allowedit = false;
	if ($acl->checkPermission($resource, 'update')) { 
		$allowedit = true;
	}
	$allowdelete = false;
	if ($acl->checkPermission($resource, 'delete')) { 
		$allowdelete = true;
	}
	
	$session->setVar('custombreadcrumb', $title.' / '.$pagetitle);
	$session->setVar('title', $title);
	$this->headTitle($pagetitle.$browserappend);
?>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title.' / '.$pagetitle; ?>');
	
	$('#bottomactions').html($('.actions').html());
	
	// function to update the value of hidden field when a permission checkbox is selected or unselected
	function updatePermissionHiddenField() {
		if (this.checked) {
			$("#" + this.value).val("1");
		} else {
			$("#" + this.value).val("0");
		}
	} 
	
	// functionality for the all permissions checkboxes
	// change the odd rows to odd
	$(".allpermissionscheckbox").click(function() {
		 var rid = $(this).attr('resourceid');
		 $(".resource_"+rid).prop('checked', $(this).prop("checked"));
	});		
});
</script>
<style>
.panel .panel-body p.text-muted {
	line-height:30px;
}
ul.managelist > li {
	width:300px;
}
</style>	
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div class="row" id="contentarea">
    <div class="col-md-12">
        <form id="<?php echo $formid; ?>" role="form" class="form-horizontal" method="<?php echo $formmethod; ?>" action="<?php echo $posturl; ?>" <?php echo $multipart; ?>>
            <div class="panel panel-color panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked"><?php echo $user->getName(); ?></h3>
                    <div class="portlet-widgets lineblocked floatright">
                        <?php if($allowedit) { ?>	
                            <a class="btn btn-default btn-xs" href="<?php echo $this->baseUrl($controller.'/update/id/'.encode($user->getID())); ?>"  data-toggle="tooltip" data-placement="top" data-original-title="Update" title="Update"><i class="fa fa-edit"></i> Update</a>
                        <?php } ?>
                        <?php if($allowdelete) { ?>	    
                        
                        <?php } ?>
                        <?php if($acl->checkPermission($resource, 'list') && !$isme) { ?>	
                            <a href="<?php echo $listurl; ?>" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="All Users" title=""> All Users <i class="fa fa-arrow-right"></i></a>
                        <?php } ?>    
                    </div>
                </div>
                <div class="panel-body">
    				<div class="row">
                    	<div class="col-sm-12">
                            <div class="col-lg-3 col-md-4">
                                <div class="text-center card-box">
                                    <div class="member-card">
                                        <div class="thumb-xl member-thumb m-b-10 center-block">
                                            <img src="<?php echo $user->getMediumPicturePath(); ?>" class="img-circle img-thumbnail" style="width:125px;">
                                            <i class="mdi mdi-star-circle member-star <?php echo $user->isUserActive() ? 'text-success' : ''; ?>" title="<?php echo $user->getStatusLabel(); ?> User" data-toggle="tooltip" data-placement="bottom" data-original-title="<?php echo $user->getStatusLabel(); ?> User" ></i>
                                        </div>
                                        <div class="">
                                            <h4 class="m-b-5"><?php echo $user->getName(); ?></h4><p class="text-muted">@<?php echo $user->getUsername(); ?></p>
                                        </div>
                                        <?php if ($acl->checkPermission($resource, 'update')) { ?>	
                                            <a href="<?php echo $indexurl; ?>" class="btn btn-default btn-sm btn-rounded w-sm waves-effect m-t-10 waves-light">Update</a>
                                        <?php } ?>
                                        <p class="text-muted font-13 m-t-20"></p>
                                        <div class="tabs-vertical-env" style="width: auto; margin-left:-20px; margin-right:-20px;">
                                            <ul class="nav tabs-vertical" style="width:auto !important; min-width:0; display:block;">
                                                <li class="<?php echo $tab == 'overview' ? 'active' : ''; ?>" style="border-top: 1px solid #eee; display: block;">
                                                    <a href="#v-home" data-toggle="tab" aria-expanded="true">Overview</a>
                                                </li>
                                                <li class="<?php echo $tab == 'account' ? 'active' : ''; ?>" style="border-top: 1px solid #eee; display: block;">
                                                    <a href="#v-settings" data-toggle="tab" aria-expanded="false">Account</a>
                                                </li>
                                                <?php if($tab == 'permissions' || $tab == 'editpermissions'){  ?>
                                                    <li class="active" style="border-top: 1px solid #eee; display: block;">
                                                        <a href="#v-permissions" data-toggle="tab" aria-expanded="false">Permissions</a>
                                                    </li>
                                              	<?php } ?>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-9">
                                <div class="tab-content p-t-0">
                                    <div class="tab-pane <?php echo $tab == 'overview' ? 'active' : ''; ?>" id="v-home">
                                        <h4>Overview</h4>
                                        <div class="row m-t-10">
                                            <div class="col-md-8 col-sm-6">
                                                <div class="text-left">
                                                    <p class="text-muted font-13"><strong class="col-sm-3">User ID:</strong> <span class="m-l-15"><?php echo $user->getRefNo(); ?></span></p>
                                                    <p class="text-muted font-13"><strong class="col-sm-3">First Name:</strong> <span class="m-l-15"><?php echo $user->getFirstName(); ?></span></p>
                                                    <p class="text-muted font-13"><strong class="col-sm-3">Last Name:</strong> <span class="m-l-15"><?php echo $user->getLastName(); ?></span></p>
                                                    <p class="text-muted font-13"><strong class="col-sm-3">User Name:</strong> <span class="m-l-15"><?php echo $user->getUserName(); ?></span></p>
        
                                                    <p class="text-muted font-13"><strong class="col-sm-3">Gender:</strong> <span class="m-l-15"><?php echo $user->getGenderlabel(); ?></span></p>
                                                    <p class="text-muted font-13"><strong class="col-sm-3">Phone:</strong><span class="m-l-15"><?php echo $user->getPhone(); ?></span></p>
        
                                                    <p class="text-muted font-13"><strong class="col-sm-3">Email:</strong> <span class="m-l-15"><?php echo $user->getEmail(); ?></span></p>
                                                    <?php if($user->belongsToGroup(2)){ ?>
                                                    	<p class="text-muted font-13"><strong class="col-sm-3">District:</strong> <span class="m-l-15 nullifempty"><?php echo $user->getDistrict()->getName(); ?></span></p>
                                                    <?php } ?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane <?php echo $tab == 'account' ? 'active' : ''; ?>" id="v-settings">
                                        <h4>Account</h4>
                                        <div class="row m-t-10">
                                            <div class="col-md-6">
                                                <div class="text-left">
                                                    <p class="text-muted font-13"><strong class="col-sm-3">Username:</strong> <span class="m-l-15"><?php echo $user->getUsername(); ?></span></p>
                                                    <p class="text-muted font-13"><strong class="col-sm-3">Email:</strong> <span class="m-l-15"><?php echo $user->getEmail(); ?></span></p>
                                                    <p class="text-muted font-13"><strong class="col-sm-3">Password:</strong> <span class="m-l-15 bolded">*********</span></p>
                                                    <p class="text-muted font-13"><strong class="col-sm-3">Status:</strong> <span class="m-l-15"><?php echo $allstatus[$user->getStatus()]; ?></span></p>
                                                    <p class="text-muted font-13"><strong class="col-sm-3">Role:</strong> <span class="m-l-15"><?php echo $user->getUserTypeText(); ?></span></p>
                                                    <p class="text-muted font-13"><strong class="col-sm-3">Date Added:</strong> <span class="m-l-15"><?php echo changeMySQLDateToPageFormat($user->getDateCreated()); ?></span></p>
                                                    <p class="text-muted font-13"><strong class="col-sm-3">Added By:</strong> <span class="m-l-15"><?php echo getUserNameFromID($user->getCreatedBy()); ?></span></p>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="divider30"></div>
                                        <div class="row m-t-10">
                                            <div class="col-md-12">
                                                <?php if($acl->checkPermission($resource, ACTION_DELETE) && !$user->isUserActive()){ ?>
                                                    <a class="btn btn-sm btn-danger confirm-dialog inline" message="<?php echo $this->translate('global_delete_confirm_message'); ?>" action="<?php echo $this->baseUrl($controller.'/delete/id/'.encode($user->getID())."/entityname/UserAccount/successurl/".encode($listurl)); ?>">Delete Account</a> &nbsp;
                                                <?php } ?>
												<?php if($acl->checkPermission($resource, 'changepassword') && $isme){ 
                                                    $confirmpasschange = "Are you sure you want to change your Password? <br>Please note you will no longer be able to login using your old password.";
                                                ?>
                                                    <a class="addpopup btn btn-sm btn-default inline" addconfirm="1" rel="Change Password" href="<?php echo $this->baseUrl('profile/changepassword/pgc/true/id/'.encode($user->getID())); ?>" formtitle="indexform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("profile/processchangepassword"); ?>" submittext="Change Password" confirmmessage="<?php echo $confirmpasschange; ?>">Change Password</a> &nbsp;
                                                <?php } ?>
                                                <?php if($acl->checkPermission($resource, 'resetpassword') && $user->isUserActive() && !$isme){ ?>
                                                    <a class="btn btn-default btn-sm confirm-dialog inline" action="<?php echo $this->baseUrl('profile/resetpassword/id/'.encode($user->getID()).'/successurl/'.encode($this->viewurl)); ?>" message="Are you sure you want to reset <?php echo $user->getName(); ?>'s Password?">Reset Password</a> &nbsp;
                                                <?php } ?>
                                                <?php if($acl->checkPermission($resource, ACTION_DELETE) && $user->isDeactivated() && !$isme){ ?>
                                                    <a class="btn btn-sm btn-success confirm-dialog inline" action="<?php echo $this->baseUrl("profile/updatestatus/id/".encode($user->getID())."/status/1/successmessage/profile_reactivate_success/successurl/".encode($this->viewurl)); ?>" message="<?php echo $this->translate('profile_reactivate_confirmation'); ?>"> Re-Activate</a> &nbsp;
                                                <?php } ?>
                                                <?php if($acl->checkPermission($resource, ACTION_DELETE) && $user->isUserActive() && !$user->isDeactivated() && !$isme){ ?>
                                                   <a class="btn btn-sm btn-default confirm-dialog inline" action="<?php echo $this->baseUrl("profile/updatestatus/id/".encode($user->getID())."/status/2/successmessage/profile_deactivate_success/successurl/".encode($this->viewurl)); ?>" message="<?php echo $this->translate('profile_deactivate_confirmation'); ?>">Deactivate</a> &nbsp;
                                                <?php } ?>
                                                <?php if(($acl->checkPermission('User', 'invite')) && $user->getStatus() == 0 && !$isme){ ?>
                                                    <a class="addpopup btn btn-sm btn-primary inline" rel="Activate Account" href="<?php echo $this->baseUrl('profile/activateacc/pgc/true/id/'.encode($user->getID())); ?>" formtitle="indexform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("profile/processinvite"); ?>" submittext="Save Changes">Activate</a> &nbsp;
                    								<a class="btn btn-sm btn-default alert-dialog gonowhere hide" message="<?php echo $user->getActivationLink(); ?>">&nbsp; View Activation Link</a>
                                                <?php } ?>
                                                
                                                <?php if(($acl->checkPermission('User', 'permissions'))){ 
													$confirmrolechange = 'Confirm Change of Role? <br ><br >Please note if user is currently logged in, they will be required to Logout so as to apply new permissions. <br >Any previously overridden permissions will also be reset to the defaults.';
												?>
                                                    <a class="addpopup btn btn-sm btn-default inline" addconfirm="1" rel="Change User Role" href="<?php echo $this->baseUrl('profile/editrole/pgc/true/id/'.encode($user->getID())); ?>" formtitle="indexform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("profile/processeditrole"); ?>" submittext="Save Changes" confirmmessage="<?php echo $confirmrolechange; ?>">Edit Role</a> &nbsp;
                                                <?php } ?>
												<?php if(($acl->checkPermission('User', 'permissions'))){ ?>
                                                    <a class="btn btn-default btn-sm inline" href="<?php echo $this->baseUrl('profile/view/id/'.encode($user->getID()).'/tab/permissions'); ?>">View Permissions</a> &nbsp;
                                                <?php } ?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane <?php echo $tab == 'editpermissions' ? 'active' : ''; ?>" id="v-permissions">
                                    	<?php ob_start(); ?>
                                            <a class="btn btn-default btn-sm cancel gonowhere" type="button"><?php echo $this->translate('global_button_cancel'); ?></a>
                                            <button type="submit" class="btn btn-primary btn-sm savebutton waves-effect waves-light">Save Changes</button> 
                                        <?php $actionshtml = ob_get_clean(); ?>
                                        <div class="panel panel-default panel-border">
                                            <div class="panel-heading">
                                                <h3 class="panel-title" style="color:#0072ce; border-bottom:1px dashed #ddd; padding-bottom:6px;">Override Permissions for <?php echo $user->getName(); ?></h3>
                                                <div class="divider10"></div>
                                                <div class="portlet-widgets lineblocked"><?php echo $actionshtml; ?></div>
                                                <input type="hidden" id="userid" name="userid" value="<?php echo $user->getID(); ?>" />
                                                <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" /> 
                                                <input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo $successurl; ?>" /> 
                                                <input type="hidden" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" value="<?php echo $failureurl; ?>" /> 
                                            </div>
                                            <div class="panel-body">
                                            	<?php 
													$resources = getAllResources();
													$conn = Doctrine_Manager::connection();
													
													// get the permissions for all user's groups
													
													$perm_query = "SELECT 
														p.resourceid,
														re.controller AS controller,
														LOWER(`re`.`name`) AS `resource`,
														p.groupid AS groupid,
														p.actionid,
														a.slug as action,
														p.`value`,
														CONCAT(p.resourceid,'-',p.actionid) as res_act,
														GROUP_CONCAT(p.`value` separator ',') as valuelist,
														IF(FIND_IN_SET('1', GROUP_CONCAT(p.`value` separator ',')) > 0, 1, 0) as perm
														
														FROM aclpermission as p 
														INNER JOIN `aclresource` `re` ON (`p`.`resourceid` = `re`.`id`)
														INNER JOIN `aclaction` `a` ON (`p`.`actionid` = `a`.`id`)
														WHERE FIND_IN_SET('".$user->getType()."', p.groupid) GROUP BY p.resourceid, p.actionid
													";
													$permissions = $conn->fetchAll($perm_query); /*debugMessage($perm_query); */ // debugMessage($permissions); // exit;
													$proc_permissions = array();
													foreach($permissions as $k => $perms){
														$proc_permissions[$perms['resourceid'].'~'.$perms['actionid']] = $perms;
														$proc_permissions[$perms['resourceid'].'~'.$perms['actionid']]['isdefault'] = '1';
													}
													// debugMessage($proc_permissions); 
													
													// get the custom permissions for the user
													$perm_user_query = "SELECT
														p.resourceid,
														re.controller AS controller,
														LOWER(`re`.`name`) AS `resource`,
														p.groupid AS groupid,
														p.actionid,
														a.slug as action,
														p.value
														FROM aclpermission as p
														INNER JOIN `aclresource` `re` ON (`p`.`resourceid` = `re`.`id`)
														INNER JOIN `aclaction` `a` ON (`p`.`actionid` = `a`.`id`)
														WHERE p.userid = '".$user->getID()."' GROUP BY p.resourceid, p.actionid
													"; //  AND p.`resourceid` IN (4,20)
													$permissions_user = $conn->fetchAll($perm_user_query); // debugMessage($permissions_user); 
													$proc_custom_permissions = array();
													foreach($permissions_user as $k => $perm){
														$proc_custom_permissions[$perm['resourceid'].'~'.$perm['actionid']] = $perm;
														if(!isArrayKeyAnEmptyString($perm['resourceid'].'~'.$perm['actionid'], $proc_permissions)){
															$proc_permissions[$perm['resourceid'].'~'.$perm['actionid']]['valuelist'] = $perm['value'];
															$proc_permissions[$perm['resourceid'].'~'.$perm['actionid']]['perm'] = $perm['value'];
															$proc_permissions[$perm['resourceid'].'~'.$perm['actionid']]['isdefault'] = '0';
														}
													}
													
												?>
												<?php if(count($resources) == 0){ ?>
													<div class="alert alert-warning">No Resources available</div>
												<?php } else { ?>
													<?php foreach($resources as $rid => $resource){ 
														$actions = getActionsResources($resource['id']); // exit;
														$rid = $resource['id'];
													?>
														<label class="control-label blocked section leftalignlabel" style="border-bottom:1px solid #ddd;"><?php echo $resource['description']; ?></label>
														<div class="col-sm-12 padding0">
															<div class="divider10"></div>
															<ul class="resetlist">
																<?php if(count($actions) == 0){ ?>
																	<div class="alert alert-warning">No actions available</div>
																<?php } ?>
																<?php foreach($actions as $aid => $actiondetails){ 
																	$cid = $actiondetails['id']; // debugMessage($actiondetails);
																?>
																	<li style="" class="col-sm-3 paddingleft0">
																		<?php 
																			$currentperm = '0';
																			$lineid  = '';
																			if(!isArrayKeyAnEmptyString($rid.'~'.$cid, $proc_permissions)){
																				if($proc_permissions[$rid.'~'.$cid]['perm'] == 1){
																					$currentperm = '1';
																				}
																			}
																			if(count($permissions_user) > 0){
																				$currentperm = '0';
																				if(!isArrayKeyAnEmptyString($rid.'~'.$cid, $proc_custom_permissions)){
																					$currentperm = '1';
																				}
																			}
																			
																			$resourceid = $rid;
																			$actionid = $cid;
																		?>
																		<div class="checkbox checkbox-default">
																			<input type="checkbox" name="permissions[<?php echo $resourceid; ?>][<?php echo $actionid; ?>]" id="chk_<?php echo $resourceid; ?>_<?php echo $actionid; ?>" value="1" class="resource_<?php echo $resourceid; ?> resourcetrigger" <?php echo $currentperm == '0' ? '' : 'checked'; ?>  />
																			<label for="chk_<?php echo $resourceid; ?>_<?php echo $actionid; ?>">
																				<span><?php echo $actiondetails['name']; ?></span>
																			</label>
																		</div>
																	</li>
																<?php } ?>
																<?php if(count($actions) > 0){ ?>
																	<li class="col-sm-3 paddingleft0">
																		<div class="checkbox checkbox-default">
																			<input type="checkbox" name="allpermissionscheckbox_<?php echo $resourceid; ?>" id="checkall_<?php echo $resourceid; ?>" class="allpermissionscheckbox" value="1" resourceid="<?php echo $resourceid; ?>" />
																			<label for="checkall_<?php echo $resourceid; ?>">
																				<span>Grant All</span>
																			</label>
																		</div>
																	</li>
																<?php } ?>
															</ul>
															<div class="divider10"></div>
														</div>
													<?php } ?>
												<?php } ?>
                                            </div>
                                     	</div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card-box p-t-10 p-b-10">
                                                    <div class="form-group m-b-0">
                                                        <div class="xcol-sm-offset-2 col-sm-12"><?php echo $actionshtml; ?></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane <?php echo $tab == 'permissions' ? 'active' : ''; ?>" id="v-permissions">
                                        <div class="panel panel-default panel-border">
                                            <div class="panel-heading">
                                                <h3 class="panel-title section" style="color:#0072ce; border-bottom:1px dashed #ddd; padding-bottom:6px;">Permissions - <?php echo $user->getName(); ?></h3>
                                                <?php 
													$resources = getAllResources();
													$conn = Doctrine_Manager::connection();
												
													// get the permissions for all user's groups
													$perm_query = "SELECT 
															p.resourceid,
															re.controller AS controller,
															LOWER(`re`.`name`) AS `resource`,
															p.groupid AS groupid,
															p.actionid,
															a.slug as action,
															p.`value`,
															CONCAT(p.resourceid,'-',p.actionid) as res_act,
															GROUP_CONCAT(p.`value` separator ',') as valuelist,
															IF(FIND_IN_SET('1', GROUP_CONCAT(p.`value` separator ',')) > 0, 1, 0) as perm
															
															FROM aclpermission as p 
															INNER JOIN `aclresource` `re` ON (`p`.`resourceid` = `re`.`id`)
															INNER JOIN `aclaction` `a` ON (`p`.`actionid` = `a`.`id`)
															WHERE FIND_IN_SET('".$user->getType()."', p.groupid) GROUP BY p.resourceid, p.actionid
													";
													$permissions = $conn->fetchAll($perm_query); /*debugMessage($perm_query); */ // debugMessage($permissions); // exit;
													$proc_permissions = array();
													foreach($permissions as $k => $perms){
														$proc_permissions[$perms['resourceid'].'~'.$perms['actionid']] = $perms;
														$proc_permissions[$perms['resourceid'].'~'.$perms['actionid']]['isdefault'] = '1';
													}
													// debugMessage($proc_permissions); 
													
													// get the custom permissions for the user
													$perm_user_query = "SELECT
															p.resourceid,
															re.controller AS controller,
															LOWER(`re`.`name`) AS `resource`,
															p.groupid AS groupid,
															p.actionid,
															a.slug as action,
															p.value
															FROM aclpermission as p
															INNER JOIN `aclresource` `re` ON (`p`.`resourceid` = `re`.`id`)
															INNER JOIN `aclaction` `a` ON (`p`.`actionid` = `a`.`id`)
															WHERE p.userid = '".$user->getID()."' GROUP BY p.resourceid, p.actionid
													"; //  AND p.`resourceid` IN (4,20)
													$permissions_user = $conn->fetchAll($perm_user_query); // debugMessage($permissions_user); 
													$proc_custom_permissions = array();
													foreach($permissions_user as $k => $perm){
														$proc_custom_permissions[$perm['resourceid'].'~'.$perm['actionid']] = $perm;
														if(!isArrayKeyAnEmptyString($perm['resourceid'].'~'.$perm['actionid'], $proc_permissions)){
															$proc_permissions[$perm['resourceid'].'~'.$perm['actionid']]['valuelist'] = $perm['value'];
															$proc_permissions[$perm['resourceid'].'~'.$perm['actionid']]['perm'] = $perm['value'];
															$proc_permissions[$perm['resourceid'].'~'.$perm['actionid']]['isdefault'] = '0';
														}
													}
												?>
                                            </div>
                                            <div class="panel-body">
                                            	<div class="portlet-widgets lineblocked">
													<?php if($acl->checkPermission('User', 'permissions')) { ?>	
                                                        <a class="btn btn-default btn-xs" href="<?php echo $this->baseUrl($controller.'/view/tab/editpermissions/id/'.encode($user->getID())); ?>"  data-toggle="tooltip" data-placement="top" data-original-title="Update" title=""><i class="fa fa-edit"></i> Override Permissions</a>
                                                    <?php } ?>
                                                    <?php if($acl->checkPermission('User', 'permissions') && count($permissions_user) > 0) {
														$confirmrolechange = 'Confirm Reset of User Permissions to Default? <br ><br >Please note if user is currently logged in, they will be required to Logout so as to apply new permissions.';
														$confirmsuccess = "Successfully reset";
													 ?>	
                                                        <a class="btn btn-default btn-xs confirm-dialog inline gonowhere" action="<?php echo $this->baseUrl("profile/resetpermissions/id/".$user->getID()."/successmessage/".$confirmsuccess."/successurl/".encode($this->viewurl)); ?>" message="<?php echo $confirmrolechange; ?>" data-toggle="tooltip" data-placement="top" data-original-title="Reset Permissions" title=""><i class="fa fa-refresh"></i> Reset to Default</a>
                                                    <?php } ?>
                                                </div>	
                                                <div class="divider15"></div>
                                                <div class="col-sm-12">
                                                    <?php if(count($resources) == 0){ ?>
                                                        <div class="alert alert-warning">No Resources available</div>
                                                    <?php } else { ?>
                                                        <?php foreach($resources as $rid => $resource){ 
                                                            $actions = getActionsResources($resource['id']); // exit;
                                                            $rid = $resource['id'];
															
															
                                                        ?>
                                                            <label class="control-label blocked section" style="border-bottom:1px solid #ddd; font-size:12px !important;"><?php echo $resource['description']; ?></label>
                                                        	<div class="col-sm-12 padding0">
                                                                <ul class="managelist">
                                                                    <?php if(count($actions) == 0){ ?>
                                                                        <div class="alert alert-warning">No actions available</div>
                                                                    <?php } ?>
                                                                    <?php foreach($actions as $aid => $actiondetails){ 
                                                                        $cid = $actiondetails['id']; // debugMessage($actiondetails);
                                                                    ?>
                                                                        <li class="makerelative"><?php 
                                                                                $imgstr = '<i class="fa fa-remove removecursor makeabsolute" title="Denied" style="margin-top:3px;"></i>';
                                                                                $currentperm = '0';
																				$lineid  = '';
																				if(!isArrayKeyAnEmptyString($rid.'~'.$cid, $proc_permissions)){
																					if($proc_permissions[$rid.'~'.$cid]['perm'] == 1){
																						$imgstr = '<i class="fa fa-check removecursor makeabsolute" title="Granted"></i>';
																					}
																				}
																				if(count($permissions_user) > 0){
																					$imgstr = '<i class="fa fa-remove removecursor makeabsolute" title="Denied" style="margin-top:3px;"></i>';
																					if(!isArrayKeyAnEmptyString($rid.'~'.$cid, $proc_custom_permissions)){
																						$imgstr = '<i class="fa fa-check removecursor makeabsolute" title="Granted"></i>';
																					}
																				}
                                                                            ?>
                                                                            <?php echo $imgstr.' <span style="margin-left:20px; display:inline-block; font-size:13px;">'.$actiondetails['name'].'</span>'; ?>
                                                                        </li>
                                                                    <?php } ?>
                                                                </ul>
                                                                <div class="divider15"></div>
                                                            </div>
                                                        <div class="divider15"></div>
                                                        <?php } ?>
                                                        
                                                    <?php } ?>
                                              	</div>
                                            </div>
                                       	</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End row -->
			</div>
        </form>
    </div>    
</div>
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
<?php if(!isEmptyString($request->pgc)){ ?>
	<?php require APPLICATION_PATH."/views/scripts/index/pgc_bottom.phtml"; ?>
<?php } ?>
