<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-sm-12 control-label">Issue Category: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <?php
                    $dropdown = new Zend_Form_Element_Select('category',
                    array(
                        'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $issuecategories),
                        'view' => new Zend_View(), 
                        'decorators' => array('ViewHelper'),
                        'class' => array('form-control','input-sm', 'chosen-select', 'width200', 'hastooltip', 'linetip')                                            	)
                    );
                    $dropdown->setValue($entity->getcategory()); 
                    echo $dropdown->render(); 
                ?>
                <div id="category_error"></div>
            </div>
        </div>
  	</div>
    <div class="col-sm-5">
        <div class="form-group">
            <label class="col-sm-12 control-label">Project: <?php // echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <?php		
                    $dropdown = new Zend_Form_Element_Select('projectid',
                    array(
                        'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $projects),
                        'view' => new Zend_View(), 
                        'decorators' => array('ViewHelper'),
                        'class' => array('form-control','input-sm', 'chosen-select', 'linetip', 'hastooltip')                                            	)
                    );
                    $dropdown->setValue($entity->getProjectID()); 
                    echo $dropdown->render(); 
                ?>
                <div id="projectid_error"></div>
            </div>
        </div>
    </div>
</div>  
<div class="row">
    <div class="col-sm-4">  
        <div class="form-group hide" id="parentinfo">
            <label class="col-sm-12 control-label">Parent Issue: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <?php	
                    $parents = array();				  
                    $dropdown = new Zend_Form_Element_Select('parentid',
                    array(
                        'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $parents),
                        'view' => new Zend_View(), 
                        'decorators' => array('ViewHelper'),
                        'class' => array('form-control','input-sm', 'width200', 'hastooltip', 'linetip')                                            	)
                    );
                    $dropdown->setValue($entity->getparentid()); 
                    echo $dropdown->render(); 
                ?>
                <div id="parentid_error"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-12 control-label">Start Date: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <input type="text" class="form-control input-sm inline width100 ordinary hastooltip datetip" name="startdate" id="startdate" value="<?php echo changeMySQLDateToPageFormat($entity->getstartdate()); ?>" tipbody="<?php //echo $tip_startdate; ?>" />
                <div id="startdate_error"></div>
            </div>
        </div>
   	</div>
    <div class="col-sm-5">
    	<div class="form-group">
            <label class="col-sm-12 control-label">Priority: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <?php
                    $dropdown = new Zend_Form_Element_Select('priority',
                    array(
                        'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $issuepriority),
                        'view' => new Zend_View(), 
                        'decorators' => array('ViewHelper'),
                        'class' => array('form-control','input-sm', 'width200', 'hastooltip', 'linetip')                                            	)
                    );
                    $dropdown->setValue($entity->getpriority()); 
                    echo $dropdown->render(); 
                ?>
                <div id="priority_error"></div>
            </div>
        </div>
    </div>
</div>	    
<div class="row">
    <div class="col-sm-4"> 
        <div class="form-group">
            <label class="col-sm-12 control-label">Due Date: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <input type="text" class="form-control input-sm inline width100 ordinary hastooltip datetip" name="enddate" id="enddate" value="<?php echo changeMySQLDateToPageFormat($entity->getenddate()); ?>" tipbody="<?php //echo $tip_enddate; ?>" />
                <div id="enddate_error"></div>
            </div>
        </div>
	</div>
    <div class="col-sm-4"> 
    	<div class="form-group">
            <label class="col-sm-12 control-label">Status: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <?php
                    $dropdown = new Zend_Form_Element_Select('status',
                    array(
                        'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $issuestatuses),
                        'view' => new Zend_View(), 
                        'decorators' => array('ViewHelper'),
                        'class' => array('form-control','input-sm', 'width200', 'hastooltip', 'linetip')                                            	)
                    );
                    $dropdown->setValue($entity->getstatus()); 
                    echo $dropdown->render(); 
                ?>
                <div id="status_error"></div>
            </div>
        </div>
    </div>
</div>   
<div class="row">
    <div class="col-sm-4"> 
    	<div class="form-group">
            <label class="col-sm-12 control-label">Assign Owner: <?php echo $this->translate("global_required_field_marker"); ?></label>
            <div class="col-sm-12">
                <?php
                    $dropdown = new Zend_Form_Element_Select('userid',
                    array(
                        'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $users),
                        'view' => new Zend_View(), 
                        'decorators' => array('ViewHelper'),
                        'class' => array('form-control','input-sm', 'chosen-select', 'width200', 'hastooltip', 'linetip')                                            	)
                    );
                    $dropdown->setValue($entity->getuserid()); 
                    echo $dropdown->render(); 
                ?>
                <div id="userid_error"></div>
            </div>
        </div>
    </div> 
	<div class="col-sm-6"> 
    	<div class="form-group hide">
            <label class="col-sm-12 control-label">Other Participants:</label>
            <div class="col-sm-12">
                <?php
                    $dropdown = new Zend_Form_Element_Multiselect('participants_ids',
                    array(
                        'multiOptions' => $users,
                        'view' => new Zend_View(), 
                        'decorators' => array('ViewHelper'),
                        'class' => array('form-control','input-sm', 'chosen-select', 'width200', 'hastooltip', 'linetip')                                            	)
                    );
                    $dropdown->setAttrib("data-placeholder", "Select User(s) that apply");
                    $dropdown->setValue(commaStringToArray($entity->getParticipants())); 
                    echo $dropdown->render(); 
                ?>
                <input type="hidden" name="participants_old" id="participants_old" value="<?php echo $entity->getParticipants(); ?>" />
                <div id="participants_error"></div>
            </div>
        </div>
    </div>
</div>            


