<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$isexternal = false;
	if($controller == 'project' && $action == 'view'){
		$isexternal = true;
	}
 
 	$entity = new ContentIssue();
	$theid = is_numeric($request->id) ? $request->id : decode($request->id);
	if($isexternal){
		$theid = is_numeric($request->vid) ? $request->vid : decode($request->vid);	
	}
	$entity->populate($theid); // debugMessage($entity->toArray()); // exit;
	
	$posturl = '';
	$formid = 'viewform';
	$formmethod = 'post';
	
	$tabt = trim($request->tabt); $sectionv = trim($request->sectionv);
	if(isEmptyString($tabt)){
		$tabt = 'overview';
	}
	if(isEmptyString($sectionv)){
		$sectionv = 'view';
	}
	
	$title = 'Issue Tracker';
	$pagetitle = 'Issue No# '.$entity->getRefNo();
	
	$description = "";
	$listurl = $this->baseUrl($controller."/list");
	$listitems  = "Issues";
	$successmessage = "Successfully saved";
	
	$issuestatuses = getDatavariables('ISSUE_STATUSES');
	$issuecategories = getDatavariables('ISSUE_CATEGORY');
	$issuepriority = getDatavariables('ISSUE_PRIORITIES');
	$users = getUsers();
	
	$allowadd = false; $allowedit = false; $allowdelete = false;
	$indexacl = 'index'; $updateacl = 'update'; $viewacl = 'list'; $deleteacl = 'delete';
	$resource = "Issue Tracking";
	if($acl->checkPermission($resource, $indexacl) && $entity->isNotClosed()){
		$allowadd = true;
	}
	if($acl->checkPermission($resource, $updateacl) && $entity->isNotClosed()){
		$allowedit = true;
		if($acl->checkPermission($resource, 'viewown') && $entity->getCreatedBy() != getUserID()){
			$allowedit = false;
		}
		if($acl->checkPermission($resource, 'manageown') && $entity->getCreatedBy() != getUserID()){
			$allowedit = false;
		}
	}
	if($acl->checkPermission($resource, $deleteacl) && $entity->isNotClosed()){
		$allowdelete = true;
		if($acl->checkPermission($resource, 'viewown') && $entity->getCreatedBy() != getUserID()){
			$allowdelete = false;
		}
		if($acl->checkPermission($resource, 'manageown') && $entity->getCreatedBy() != getUserID()){
			$allowdelete = false;
		}
	}
	
	$addurl = $this->baseUrl($controller.'/index'); 
	$indexurl = $this->baseUrl($controller.'/index/id/'.encode($entity->getID()));
	if($isexternal){ 
		$addurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$request->tab.'/widget/issues/section/addissue');
		$indexurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$request->tab.'/widget/issues/section/addissue/vid/'.$entity->getID().'/successurl/'.encode($this->viewurl));
		$listurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$request->tab.'/widget/issues/section/view');
	}
	
	if(!$isexternal){
		$this->headTitle($title.$browserappend);
    }
?>
<script>
$(document).ready(function() {
	<?php if(!$isexternal){ ?>
		$('.page-title').html('<?php echo $title; ?>');
		$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	<?php } ?>
	
	// equalHeight($("#expleft, #expright"));
});
</script>
<style>

</style>
<?php if(!$isexternal){ ?>
	<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<?php } ?>
<?php if($entity->isClosed()) { ?>
    <div class="alert alert-info alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button>Issue has been resolved & Closed</div>
<?php } ?>
<div class="rowx" id="contentarea">
    <div class="col-md-12">
        <form id="viewform" role="form" class="form-horizontal" method="get">
            <div class="panel <?php echo !$isexternal ? 'panel-color panel-primary' : ''; ?>">
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked <?php echo !$isexternal ? '' : 'section'; ?>"><?php echo $pagetitle; ?></h3>
                    <div class="portlet-widgets lineblocked floatright">
						<?php if ($allowedit) { ?>	
                            <a class="btn btn-default btn-xs" href="<?php echo $indexurl; ?>" title="Update"><i class="fa fa-edit"></i> Edit Issue</a>
                        <?php } ?>
                        <?php if($acl->checkPermission($resource, $updateacl) && $entity->isClosed()){ 
							$global_reopen_success = "Status successfully updated.";
							$global_reopen_confirmation = "Are you sure you want to reopen this entry?";
						?>
                            <a class="btn btn-default btn-xs confirm-dialog" action="<?php echo $this->baseUrl("issuetracking/updatestatus/id/".encode($entity->getID())."/status/1/successmessage/".$global_reopen_success."/successurl/".encode($this->viewurl)); ?>" message="<?php echo $global_reopen_confirmation; ?>"> Re-Open</a>
                        <?php } ?>
                        <a href="<?php echo $listurl; ?>" class="btn btn-default btn-xs" title="View History"> Issues List <i class="fa fa-arrow-right"></i></a>
                        <?php if($allowdelete) { ?>	    
                        	<a class="btn btn-default btn-xs gonowhere deleteline" action="<?php echo $this->baseUrl($controller.'/delete/id/'.encode($entity->getID())."/entityname/ContentIssue/successurl/".encode($listurl)); ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>" type="button" title="Delete"><i class="fa fa-trash"></i></a>
                        <?php } ?>
                    </div>
                </div>
                <div class="panel-body" <?php echo !$isexternal ? '' : 'style="padding-top:5px;"'; ?>>
                	<div class="row-fluid" style="margin-top:-10px; margin-left:-15px;">
                        <div class="col-sm-8 paddingleft0">
                                <label class="control-label inline inlinelabel">Title:</label>
                                <span class="blocked nullifempty inlinelabel"><?php echo $entity->getName(); ?></span>
                        </div>
                        <div class="col-sm-4 rightalign pullright">
                            <label class="control-label inlinelabel rightalign">Currrent Status: </label>
                            <span class="blocked nullifempty inlinelabel rightalign"><?php echo isArrayKeyAnEmptyString($entity->getStatus(), $issuestatuses) ? '' : $issuestatuses[$entity->getStatus()]; ?></span>
                        </div>
                    </div>
                    <div class="divider10"></div>
                    <div class="row">
                    	<ul class="nav nav-tabs">
                            <li class="overview <?php echo $tabt == 'overview' ? 'active' : ''; ?>">
                                <a href="<?php echo $isexternal ? $viewurl.'/tabt/overview/widget/issues/vid/'.$entity->getID() : $this->baseUrl($controller.'/'.$action.'/id/'.encode($entity->getID())); ?>">Overview</a>
                            </li>
                            <li class="updates <?php echo $tabt == 'updates' ? 'active' : ''; ?>">
                                <a href="<?php echo $isexternal ? $viewurl.'/tabt/updates/widget/issues/vid/'.$entity->getID() : $this->baseUrl($controller.'/'.$action.'/id/'.encode($entity->getID()).'/tabt/updates'); ?>"> Status Updates</a>
                            </li>
                            <li class="attachments hide <?php echo $tabt == 'attachments' ? 'active' : ''; ?>">
                                <a href="<?php echo $isexternal ? $viewurl.'/tabt/attachments/widget/issues/vid/'.$entity->getID() : $this->baseUrl($controller.'/'.$action.'/id/'.encode($entity->getID()).'/tabt/attachments'); ?>"> Uploads</a>
                            </li>
                        </ul>
                        <div class="tab-content minheight300">
                    		<div class="tab-pane <?php echo $tabt == 'overview' ? 'active' : ''; ?>" id="overview">
                            	<?php if($tabt == 'overview'){ ?>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel">
                                                <div class="panel-body" style="padding-bottom: 0px;">
                                                    <div class="form-group margin0">
                                                        <label class="col-sm-12 control-label">Summary</label>
                                                        <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo nl2br($entity->getDescription()); ?></p></div>
                                                    </div>
                                                    <div class="divider10"></div>
                                                    <div class="form-group">
                                                        <div class="col-sm-6 paddingleft0">
                                                            <label class="control-label inlinelabel">Category:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo isArrayKeyAnEmptyString($entity->getCategory(), $issuecategories) ? '' :  $issuecategories[$entity->getCategory()]; ?></span>
                                                        </div>
                                                        <div class="col-sm-6 paddingleft0">
                                                            <label class="control-label inlinelabel">Start Date:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo changeMySQLDateToPageFormat($entity->getstartdate()); ?></span>
                                                        </div>
                                                   	</div>
                                                   	<div class="form-group">
                                                        <div class="col-sm-6 paddingleft0">
                                                            <label class="control-label inlinelabel">Project:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo $entity->getProject()->getName(); ?></span>
                                                        </div>
                                                        <div class="col-sm-6 paddingleft0">
                                                            <label class="control-label inlinelabel">Due Date:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo changeMySQLDateToPageFormat($entity->getenddate()); ?></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-6 paddingleft0">
                                                            <label class="control-label inlinelabel">Issue Owner:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo isArrayKeyAnEmptyString($entity->getUserID(), $users) ? '' : $users[$entity->getUserID()]; ?></span>
                                                        </div>
                                                        <div class="col-sm-6 paddingleft0">
                                                            <label class="control-label inlinelabel">Priority:</label>
                                                            <span class="inlinelabel nullifempty"><?php echo isArrayKeyAnEmptyString($entity->getPriority(), $issuepriority) ? '' : $issuepriority[$entity->getPriority()]; ?></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                        	<?php 
												$updates =  $entity->getStatusUpdates('', 1); // debugMessage($updates->toArray());
                                                $noofupdates = $updates->count(); 
											?>
                                            <div class="card-box">
                                                <h4 class="m-t-0 panel-title header-title section" style="font-size:13px !important;">Latest Status Update</h4>
                                                <div class="divider20"></div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="portlet-widgets lineblocked">
                                                            <?php if($allowedit){ ?>
                                                                <a class="btn btn-primary btn-xs addpopup" href="<?php echo $this->baseUrl('issuetracking/updates/issueid/'.$entity->getID().'/pgc/true'); ?>" title="New Update" rel="New Status Update"  formtitle="popupform" submittext="Save" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl('issuetracking/processupdates/successmessage/'.$successmessage); ?>"><i class="fa fa-plus"></i> Add Status Update</a>
                                                            <?php } ?>
                                                        </div>
                                                        <div class="divider10"></div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="text-left floatright">
                                                            <?php if($noofupdates > 0){ ?>
                                                                <p class="hide text-muted font-12 rightalign">Viewing latest update</p>
                                                            <?php } ?>
                                                        </div>
                                                    </div>
                                       			</div>
                                                <div class="details">
													<?php if($noofupdates == 0){ ?>
                                                        <div class="divider5"></div>
                                                        <div class="alert alert-warning" style="padding:5px; padding-left:10px;">No update(s) available</div>
                                                    <?php } else { ?>
                                                        <?php 
                                                            foreach($updates as $line){
                                                                
                                                        ?>
                                                            <div class="media comments makerelative">
                                                                <div class="media-left">
                                                                    <?php 
                                                                        $photo_path = getUserPicture($line->getUserID(), $line->getUser()->getGender(), $line->getUser()->getprofilephoto());
                                                                    ?>
                                                                    <a href="#" class="gonowhere"> <img class="media-object img-circle img-thumbnail six_four_size" alt="64x64" src="<?php echo $photo_path; ?>"> </a>
                                                                </div>
                                                                <div class="media-body">
                                                                    <h4 class="media-heading"><?php echo $line->getUser()->getName(); ?></h4>
                                                                    <span class="blocked" style="font-size:12px !important;"><b>Status:</b> <?php echo isArrayKeyAnEmptyString($line->getstatus(), $issuestatuses) ? '' : $issuestatuses[$line->getstatus()]; ?></span>
                                                                    <p><?php echo nl2br($line->getContents()); ?></p>
															 		<?php if(!isEmptyString($line->getFiles())){ ?>
                                                                        <i class="hide fa fa-paperclip"></i>
                                                                    <?php } ?> 
                                                                    <div class="divider10"></div>
                                                                    <p class="text-muted font-12"><?php echo formatDateAndTime($line->getInputDate(), false); ?></p>
                                                                    
                                                                </div>
                                                                <div class="makeabsolute actions">
                                                                    <div class="btn-group gridactions" style="z-index:995;">
                                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle xnoround" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                                                                        <ul class="dropdown-menu listtype" role="menu" style="z-index:1001; left: -118px; top: -2px;">
																			<?php if($allowedit && $line->getUserID() == getUserID()){ ?>
                                                                                <li><a class="deleteline gonowhere" action="<?php echo $this->baseUrl($controller.'/delete/id/'.encode($line->getID())."/entityname/ContentIssueDetail/successurl/".encode($this->viewurl)); ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a></li>
                                                                            <?php } ?>
                                                                     	</ul>
                                                                  	</div>
                                                                </div>
                                                            </div>
                                                        <?php } ?>
                                                    <?php } ?>
                                                </div>
    										</div>
                                        </div>
                                  	</div>
                                    <div class="divider10"></div>
								<?php } ?>
                            </div>
                            <div class="tab-pane <?php echo $tabt == 'updates' ? 'active' : ''; ?>" id="updates">
                            	<div class="row">
                                    <div class="col-sm-12">
                                        <?php 
                                            $updates =  $entity->getStatusUpdates(); // debugMessage($updates->toArray());
                                            $noofupdates = $updates->count(); 
                                        ?>
                                        <div class="card-box">
                                            <h4 class="m-t-0 panel-title header-title section" style="font-size:13px !important;">Latest Status Update</h4>
                                            <div class="divider20"></div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="portlet-widgets lineblocked">
                                                        <?php if($allowedit){ ?>
                                                            <a class="btn btn-primary btn-xs addpopup" href="<?php echo $this->baseUrl('issuetracking/updates/issueid/'.$entity->getID().'/pgc/true'); ?>" title="New Update" rel="New Status Update"  formtitle="popupform" submittext="Save" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl('issuetracking/processupdates/successmessage/'.$successmessage); ?>"><i class="fa fa-plus"></i> Add Status Update</a>
                                                        <?php } ?>
                                                    </div>
                                                    <div class="divider10"></div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="text-left floatright">
                                                        <?php if($noofupdates > 0){ ?>
                                                            <p class="text-muted font-12 rightalign">Viewing <?php echo $noofupdates; ?> update(s)</p>
                                                        <?php } ?>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="details">
                                                <?php if($noofupdates == 0){ ?>
                                                    <div class="divider5"></div>
                                                    <div class="alert alert-warning" style="padding:5px; padding-left:10px;">No update(s) available</div>
                                                <?php } else { ?>
                                                    <?php 
                                                        foreach($updates as $line){
                                                            
                                                    ?>
                                                        <div class="media comments makerelative">
                                                            <div class="media-left">
                                                                <?php 
                                                                    $photo_path = getUserPicture($line->getUserID(), $line->getUser()->getGender(), $line->getUser()->getprofilephoto());
                                                                ?>
                                                                <a href="#" class="gonowhere"> <img class="media-object img-circle img-thumbnail six_four_size" alt="64x64" src="<?php echo $photo_path; ?>"> </a>
                                                            </div>
                                                            <div class="media-body">
                                                                <h4 class="media-heading"><?php echo $line->getUser()->getName(); ?></h4>
                                                                <span class="blocked" style="font-size:12px !important;"><b>Status:</b> <?php echo isArrayKeyAnEmptyString($line->getstatus(), $issuestatuses) ? '' : $issuestatuses[$line->getstatus()]; ?></span>
                                                                <p><?php echo nl2br($line->getContents()); ?></p>
                                                                <?php if(!isEmptyString($line->getFiles())){ ?>
                                                                    <i class="hide fa fa-paperclip"></i>
                                                                <?php } ?> 
                                                                <div class="divider10"></div>
                                                                <p class="text-muted font-12"><?php echo formatDateAndTime($line->getInputDate(), false); ?></p>
                                                                
                                                            </div>
                                                            <div class="makeabsolute actions">
                                                                <div class="btn-group gridactions" style="z-index:995;">
                                                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle xnoround" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                                                                    <ul class="dropdown-menu listtype" role="menu" style="z-index:1001; left: -118px; top: -2px;">
                                                                        <?php if($allowedit && $line->getUserID() == getUserID()){ ?>
                                                                            <li><a class="deleteline gonowhere" action="<?php echo $this->baseUrl($controller.'/delete/id/'.encode($line->getID())."/entityname/ContentIssueDetail/successurl/".encode($this->viewurl)); ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a></li>
                                                                        <?php } ?>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <?php } ?>
                                                <?php } ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane <?php echo $tabt == 'attachments' ? 'active' : ''; ?>" id="attachments">
                            	
                            </div>
                     	</div>
            		</div>
                </div>
           	</div>
            <div class="row hide">
                <div class="col-md-12" style="font-size:12px !important;">
                    <div class="card-box p-t-10 p-b-10 clearfix">
                        <div class="form-group m-b-0 clearfix">
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-bottom:4px;">
                                    <label class="col-sm-3 control-label" style="font-size:12px !important;">Date Created:</label>
                                    <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo isEmptyString($entity->getDateCreated()) ? '' : formatDateAndTime($entity->getDateCreated(), false); ?></div>
                                </div>
                                <div class="form-group" style="margin-bottom:4px;">
                                    <label class="col-sm-3 control-label" style="font-size:12px !important;">Created By:</label>
                                    <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo $entity->getCreator()->getName(); ?></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-bottom:4px;">
                                    <label class="col-sm-3 control-label" style="font-size:12px !important;">Last Modified:</label>
                                    <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo isEmptyString($entity->getLastUpdateDate()) ? '' : formatDateAndTime($entity->getLastUpdateDate(), false); ?></div>
                                </div>
                                <div class="form-group" style="margin-bottom:4px;">
                                    <label class="col-sm-3 control-label" style="font-size:12px !important;">Modified By:</label>
                                    <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo $entity->getupdator()->getName(); ?></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider30"></div>
       	</form>
	</div>
</div>                                                              
<?php if(!$isexternal){ ?>      
	<?php
        require_once APPLICATION_PATH.'/includes/footer.php';
    ?>
<?php } ?>