<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	// $useraccount = new UserAccount(); 
	$title = "System Locked";
	$this->headTitle($title.$browserappend);
?>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	
	$("#password").focus();
	$("#indexform").validate({		
		// define the validation rules one field at a time
		rules: {
			password: "required"
		}, 
		messages: {
			password: "<?php echo $this->translate("profile_password_error"); ?>"
		}
	}); 
});
</script>

<!-- HOME -->
<section>
    <div class="container-alt">
        <div class="row">
            <div class="col-sm-12">
                <div class="wrapper-page">
                    <div class="m-t-40 account-pages">
                        <div class="text-center account-logo-box">
                            <h2 class="text-uppercase centeralign m-t-0 p-t-0 m-b-0 makerelative">
                                <span class="centeralign blocked"><img src="/assets/images/logo.png" style="width:auto; height:50px;"></span>
                            </h2>
                        </div>
                        <div class="account-content">
                            
                            <form class="form-horizontal" action="<?php echo $this->baseUrl('user/checklogin'); ?>" method="post" id="indexform">
                                <div class="form-group m-b-0">
                                	<div class="col-xs-12 centeralign bolded"><?php echo getAppFullName(); ?>
                                    	<h3 style="font-size:16px;">System Locked</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <?php if (!isEmptyString($session->getVar(SUCCESS_MESSAGE))) { ?>
                                            <div class="alert alert-success alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar(SUCCESS_MESSAGE); ?>
                                            </div>
                                        <?php } ?>
                                        <?php if($sessionhaserror) { ?>
                                            <div class="alert alert-danger alert-dismissable"><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
                                        <?php } ?>
                                        <?php if(!isEmptyString($request->redirecturl)){ ?>
                                            <div class="alert alert-info centeralign">Session locked. <br />Enter password to continue</div>
                                        <?php } ?>
                                        <?php if (!isEmptyString($session->getVar("warningmessage"))) { ?>
                                            <div class="alert alert-warning alert-dismissable"><?php echo $session->getVar("warningmessage"); ?></div>
                                        <?php } ?>
                                        <?php if (!isEmptyString($session->getVar("errormessage"))) { ?>
                                            <div class="alert alert-danger"><?php echo $session->getVar("errormessage"); ?></div>
                                        <?php } ?>
                                        <?php
											// debugMessage('lock is ~ '.$session->getVar('locks'));
										?>
                                    </div>
                                </div>
                                <div class="text-center m-b-20">
                                    <div class="m-b-10">
                                        <img src="<?php echo $loggedinuser->getMediumPicturePath(); ?>" alt="user-img" class="img-circle user-img" style="width:80px; height:auto;">
                                    </div>
                                    <p class="text-muted m-b-0 font-13">Enter your password.</p>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12"><input class="form-control" name="password" id="password"  type="password" placeholder="Password" value="" />
                                    <input name="email" id="email"  type="hidden" value="<?php echo $loggedinuser->getEmail(); ?>" />
                                    </div>
                                </div>
                                <div class="form-group xaccount-btn text-center m-t-10">
                                    <div class="col-xs-12">
                                        <button class="btn w-md btn-bordered btn-primary waves-effect waves-light" type="submit">SIGN IN</button>
                                        <input type="hidden" name="returnurl" id="returnurl" value="<?php echo $request->getParam('returnurl');  ?>" />
                                        <input type="hidden" name="src" id="src" value="lock" />
                                        <input type="hidden" name="spamcheck" id="spamcheck" value="" />
                                    </div>
                                </div>
                            </form>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end wrapper -->
            </div>
        </div>
    </div>
</section>
<!-- END HOME -->
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>