<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	// $useraccount = new UserAccount(); 
	$title = "Login";
	$this->headTitle($title.$browserappend);
	
	$formid = 'indexform';
	// debugMessage('retrys are ~ '.$session->getVar('invalids').', login ~ '.$session->getVar('login'));
?>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	
	$("#email").focus();
	$("#indexform").validate({		
		// define the validation rules one field at a time
		rules: {
			email: {
				"required": true
			},
			password: "required"
		}, 
		messages: {
			email: {
				"required": "<?php echo $this->translate("profile_credential_error"); ?>"
			},
			password: "<?php echo $this->translate("profile_password_error"); ?>"
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					if(element.hasClass("useid_error")){
						error.appendTo("#<?php echo $formid; ?> #"+element.attr("id")+"_error");
					} else {
						if(element.hasClass("typerror")){
							error.appendTo("#<?php echo $formid; ?> #type_error");
						} else { 
							error.appendTo("#<?php echo $formid; ?> #"+element.attr("name")+"_error");
						}
					}
					break;
			}			
		},
		ignore: ":hidden:not(select)"
	}); 
});
</script>
<style>
body {
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #0062b3 100%); /* ff3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #0062b3)); /* safari4+,chrome */
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #0062b3 100%); /* safari5.1+,chrome10+ */
	background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #0062b3 100%); /* opera 11.10+ */
	background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #0062b3 100%); /* ie10+ */
	background: radial-gradient(ellipse at center, #ffffff 0%, #0062b3 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0062b3',GradientType=1 );
}
.account-pages {
	background-color: #fff;
	box-shadow: 0px 0px 25px 6px rgba(0, 114, 206, 0.75);
	-moz-box-shadow: 0px 0px 25px 6px rgba(0, 114, 206, 0.75);
	-webkit-box-shadow: 0px 0px 25px 6px rgba(0, 114, 206, 0.75);
}
</style>
<!-- HOME -->
<section>
    <div class="container-alt">
        <div class="row">
            <div class="col-sm-12">
                <div class="wrapper-page">
                    <div class="m-t-40 account-pages">
                        <div class="text-center account-logo-box" style="background-color:#eee; border-bottom:2px solid #999;">
                            <span style="font-size:16px; color:#005499; font-weight:bold;"><?php echo getAppFullName(); ?></span>
                            <div class="divider10"></div>
                            <h2 class="text-uppercase centeralign m-t-0 p-t-0 m-b-0 makerelative" style="font-size:14px;">
                                 USER LOGIN
                            </h2>
                        </div>
                        <div class="account-content" style="padding-top:15px; padding-bottom:15px;">
                            <form class="form-horizontal" action="<?php echo $this->baseUrl('user/checklogin'); ?>" method="post" id="indexform">
                                <div class="form-group ">
                                    <span class="centeralign blocked"><img src="/assets/images/logo.png" style="width:auto; height:60px;"></span>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <?php if (!isEmptyString($session->getVar(SUCCESS_MESSAGE))) { ?>
                                            <div class="alert alert-success alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar(SUCCESS_MESSAGE); ?>
                                            </div>
                                        <?php } ?>
                                        <?php if($sessionhaserror) { ?>
                                            <div class="alert alert-danger alert-dismissable"><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
                                        <?php } ?>
                                        <?php if(!isEmptyString($request->redirecturl)){ ?>
                                            <div class="alert alert-info">Session timed out. Please login to continue</div>
                                        <?php } ?>
                                        <?php if (!isEmptyString($session->getVar("warningmessage"))) { ?>
                                            <div class="alert alert-warning alert-dismissable"><?php echo $session->getVar("warningmessage"); ?></div>
                                        <?php } ?>
                                        <?php if (!isEmptyString($session->getVar("errormessage"))) { ?>
                                            <div class="alert alert-danger"><?php echo $session->getVar("errormessage"); ?></div>
                                        <?php } ?>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="text" name="email" id="email" class="form-control" placeholder="Username or Email address" value="" />
                                        </div>
                                        <div id="email_error"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                    	<div class="input-group">
                                            <span class="input-group-addon" style="padding:5px 11px;"><i class="fa fa-key"></i></span>
                                            <input type="password" name="password" id="password" class="form-control" placeholder="Password" value="" />
                                        </div>
                                        <div id="password_error"></div>
                                  	</div>
                                </div>
                                <div class="form-group hide">
                                    <div class="col-xs-12">
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox-signup" type="checkbox"><label for="checkbox-signup">Remember me</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center m-t-30">
                                    <div class="col-sm-12">
                                        <a href="<?php echo $this->baseUrl("user/recoverpassword")?>" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                                    </div>
                                </div>
                                <div class="form-group xaccount-btn text-center m-t-10">
                                    <div class="col-xs-12">
                                        <button class="btn w-md btn-bordered btn-primary waves-effect waves-light" type="submit">SIGN IN</button>
                                        <input type="hidden" name="<?php echo URL_FAILURE; ?>" value="<?php echo encode($this->viewurl);  ?>" />
                                        <input type="hidden" name="redirecturl" id="redirecturl" value="<?php echo $request->getParam('redirecturl');  ?>" />
                                        <input type="hidden" name="spamcheck" id="spamcheck" value="" />
                                    </div>
                                </div>
                            </form>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end wrapper -->
            </div>
        </div>
    </div>
</section>
<!-- END HOME -->
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>