<?php
	require_once APPLICATION_PATH.'/includes/header.php';
	
	$title = $this->translate("profile_pagetitle_recoverpassword"); 
	$this->headTitle($title);

	$button_title = $this->translate("profile_button_recoverpassword");
	$posturl = $this->baseUrl("user/processrecoverpassword");
	
	$user = new UserAccount(); 
	$user->populate(decode($request->id));
	
	if ($sessionhaserror) {
		$formvalues = $session->getVar(FORM_VALUES); 
		$user->setEmail($formvalues['email']); 
	}
?>
<script>
$(document).ready(function() {			
	$(".navonlogin, #sidebar, .breadcrumbs li").remove();
	$("#indexform").validate({
		rules: {
			email: {
				required: true
			}
		}, 
		messages: {
			email: {
				required: "<?php echo $this->translate("profile_email_error"); ?>"
			}
		}
	}); 
	
	<?php if(!isEmptyString($request->id)){ ?>
		// if admin user is resetting a user's password, automatically submit form.	 	
		$("#indexform").submit();
	<?php } ?>
}); 
</script>

<!-- HOME -->
<section>
    <div class="container-alt">
        <div class="row">
            <div class="col-sm-12">
                <div class="wrapper-page">
                    <div class="m-t-40 account-pages">
                        <div class="text-center account-logo-box">
                            <h2 class="text-uppercase centeralign m-t-0 p-t-0 m-b-0 makerelative">
                                <span class="centeralign blocked"><img src="/assets/images/logo.png" style="width:auto; height:50px;"></span>
                            </h2>
                        </div>
                        <div class="account-content">
                            <form class="form-horizontal" action="<?php echo $posturl; ?>" method="post" id="indexform">
                                <div class="form-group ">
                                	<div class="col-xs-12 centeralign bolded"><?php echo getAppFullName(); ?>
                                    	<h3 style="font-size:16px;"><?php echo $title; ?></h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <?php if (!isEmptyString($session->getVar(SUCCESS_MESSAGE))) { ?>
                                            <div class="alert alert-success alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar(SUCCESS_MESSAGE); ?>
                                            </div>
                                        <?php } ?>
                                        <?php if($sessionhaserror) { ?>
                                            <div class="alert alert-danger alert-dismissable"><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
                                        <?php } ?>
                                        <?php if (!isEmptyString($session->getVar("warningmessage"))) { ?>
                                            <div class="alert alert-warning alert-dismissable"><?php echo $session->getVar("warningmessage"); ?></div>
                                        <?php } ?>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12 control-label leftalignlabel">Account Identity: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                    <p class="text-muted m-t-10 col-sm-12 notbolded" style="font-size:10px; font-weight:normal !important;">Enter your Identity (Email or Username or Phone) and we will send you instructions on how to recover your Password</p>
                                    <div class="col-sm-12">
                                        <input name="email" id="email" placeholder="Enter Email or Username or Phone" type="text" class="form-control input-sm width250" value="" /><div id="email_error"></div>
                                    </div>
                                </div>
                                <div class="divider20"></div>
                                <div class="form-group xaccount-btn text-center m-t-10">
                                    <div class="col-xs-12">
                                        <button class="btn w-md btn-primary btn-bordered waves-effect waves-light" type="submit">Recover Password</button>
                                        <input name="id" id="id" type="hidden" value="<?php echo encode($user->getID()); ?>" />
                                    </div>
                                </div>
                          	</form>
                		</div>
                 	</div>
                    
				</div>
         	</div>
   		</div>
	</div>
</div>                                
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
