<ul class="nav nav-tabs inner">
    <li class="<?php echo $widget == 'list' ? 'active' : ''; ?>">
        <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/id/'.encode($project->getID()).'/tab/'.$tab.'/section/'.$section); ?>"><span class="xvisible-xs"><i class="fa fa-tasks"></i></span><span class="hidden-xs"> &nbsp; Activities</span>
        </a>
    </li>
    <li class="<?php echo $widget == 'calendar' ? 'active' : ''; ?>">
        <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/id/'.encode($project->getID()).'/tab/'.$tab.'/section/'.$section.'/widget/calendar'); ?>"><span class="xvisible-xs"><i class="fa fa-clock"></i></span><span class="hidden-xs"> &nbsp; Project Calendar</span>
        </a>
    </li>
    <!--<li class="<?php //echo $widget == 'costplan' ? 'active' : ''; ?>">
        <a href="<?php //echo $this->baseUrl($controller.'/'.$action.'/id/'.encode($project->getID()).'/tab/'.$tab.'/section/'.$section.'/widget/costplan'); ?>"><span class="xvisible-xs"><i class="fa fa-money"></i></span><span class="hidden-xs"> &nbsp; Actitivy Cost Plan</span>
        </a>
    </li>-->
    <input type="hidden" name="source" id="source" value="<?php echo $section; ?>" />
</ul>
<div class="divider10"></div>
<div class="row makerelative">
	<?php if($widget == 'list'){ ?>
    	<div class="col-sm-12"><?php require_once APPLICATION_PATH.'/views/scripts/template/list.phtml'; ?></div>
    <?php } ?>
    <?php if($widget == 'calendar'){ ?>
    	<div class="col-sm-12"><?php require_once APPLICATION_PATH.'/views/scripts/calendar/index.phtml'; ?></div>
    <?php } ?>
    <?php if($widget == 'costplan'){ ?>
    	<div class="col-sm-12"><?php // require_once APPLICATION_PATH.'/views/scripts/template/list.phtml'; ?></div>
    <?php } ?>
</div>    