<ul class="nav nav-tabs">    
    <li class="submissions <?php echo $widget == 'submissions' ? 'active' : ''; ?>">
        <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/id/'.encode($project->getID()).'/tab/'.$tab.'/section/view/widget/submissions'); ?>" goto="<?php echo $this->baseUrl($controller.'/'.$action.'/id/'.encode($project->getID()).'/tab/'.$tab.'/section/view/widget/submissions'); ?>" theid="submissions"><span class="xvisible-xs"><i class="fa fa-tasks"></i></span><span class="hidden-xs"> Results</span>
        </a>
    </li>
    <li class="dataset <?php echo $widget == 'dataset' ? 'active' : ''; ?>">
        <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/id/'.encode($project->getID()).'/tab/'.$tab.'/section/view/widget/dataset'); ?>" goto="<?php echo $this->baseUrl($controller.'/'.$action.'/id/'.encode($project->getID()).'/tab/'.$tab.'/section/view/widget/dataset'); ?>" theid="dataset"><span class="xvisible-xs"><i class="fa fa-list-alt"></i></span><span class="hidden-xs"> &nbsp; Datasets</span>
        </a>
    </li>
    <input type="hidden" name="source" id="source" value="<?php echo $section; ?>" />
</ul>
<div class="divider10"></div>
<div class="row makerelative">
    <?php if($request->widget == 'submissions' || isEmptyString($request->widget)){ ?>
    	<?php if($section == 'view'){ ?>
    		<div class="col-sm-12"><?php require_once APPLICATION_PATH.'/views/scripts/dataentry/list.phtml'; ?></div>
        <?php } ?>
        <?php if($section == 'viewresult'){ ?>
    		<div class="col-sm-12"><?php require_once APPLICATION_PATH.'/views/scripts/dataentry/view.phtml'; ?></div>
        <?php } ?>    
    <?php } ?>
	<?php if($request->widget == 'dataset'){ ?>
    	<?php if($section == 'view'){ ?>
        	<div class="col-sm-12"><?php require_once APPLICATION_PATH.'/views/scripts/dataset/list.phtml'; ?></div>
        <?php } ?>
        <?php if($section == 'viewdataset'){ ?>
            <div class="col-sm-12"><?php require_once APPLICATION_PATH.'/views/scripts/dataset/view.phtml'; ?></div>
        <?php } ?>
        <?php if($section == 'adddataset'){ ?>
			<div class="col-sm-12"><?php require_once APPLICATION_PATH.'/views/scripts/dataset/index.phtml'; ?></div>
		<?php } ?>
    <?php } ?>
</div>    