<script>
$(document).ready(function() {
	<?php if($controller == 'activity'){ ?>
		$('.page-title').html('<?php echo $title; ?>');
		$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	<?php } ?>
	
	$("#<?php echo $controller == 'activity' ? 'indexform' : $formid; ?>").validate({		
		// define the validation rules one field at a time
		rules: {
			title: "required",
			refno: "required",
			contentid: "required",
			baseline: {
				required: true
			},
			target: {
				required: true
			},
			aggregatedby: "required", 
			method: "required", 
			startdate: "required",
			enddate: "required",
			unitid: "required",
			mov: "required",
			frequency: "required"
		}, 
		// the messages for each of the fields being validated
		messages: {		
			title: "Please enter Indicator Summary",
			refno: "Please enter Indicator Number",
			contentid: "Please select Result Area",
			baseline: "Please enter Baseline",
			target: "Please enter Target",
			aggregatedby: "Please select Aggregation", 
			method: "Please select Method", 
			startdate: "Please select a Start Date",
			enddate: "Please select a End Date",
			unitid: "Please select a Type",
			mov: "Please select a Type",
			frequency: "Please select a Frequency"
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					if(element.hasClass("useid_error")){
						error.appendTo("#"+element.attr("id")+"_error");
					} else {
						error.appendTo("#"+element.attr("name")+"_error");
					}
					break;
			}			
		},
		ignore: ":hidden:not(select)"
	});
	
	$(".targetinfo #type").change(function(){
		var type = $(this).val();
		if(type == '1'){
			enableContainerByClass('quartery');
			disableContainerByClass('monthly');
		}
		if(type == '2'){
			enableContainerByClass('monthly');
			disableContainerByClass('quartery');
		}
	});
	$(".targetinfo #type").trigger('change');
});
</script>
<div class="col-sm-7 targetinfo paddingleft0 paddingright0">
<input name="entityname" id="entityname" type="hidden" value="ContentTarget" />
<input type="hidden" id="id" name="id" value="<?php echo encode($target->getID()); ?>" />
<input type="hidden" id="level" name="level" value="<?php echo $target->getLevel(); ?>" />
<input type="hidden" id="type" name="type" value="<?php echo $target->getType(); ?>" />
<input name="successmessage" id="successmessage" type="hidden" value="<?php echo $successmessage; ?>" />  
<input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" /> 
<input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($successurl); ?>" /> 
<input type="hidden" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" value="<?php echo encode($failureurl); ?>" />
<input type="hidden" id="nosuccessid" name="nosuccessid" value="" /> 
<?php ob_start(); ?>
    <?php if(!isEmptyString($target->getID())){ ?>
        <a class="btn btn-default btn-sm gonowhere deleteline" action="<?php echo $this->baseUrl('index/delete/id/'.encode($target->getID())."/entityname/ContentTarget/successurl/".encode($listurl)); ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>" type="button" data-toggle="tooltip" data-placement="top" data-original-title="Delete" title="Delete"><i class="fa fa-trash"></i></a>
    <?php } ?>
    <a class="btn btn-default btn-sm cancel gonowhere" type="button"><?php echo $this->translate('global_button_cancel'); ?></a>
    <?php if(isEmptyString($target->getID())){ ?>
        <button class="btn btn-primary btn-sm btn-green savebutton changesuccessurl" id="saveadd" successurl="<?php echo encode($addnewsuccessurl); ?>" type="subm it">Save & Add New</button>
    <?php } ?>
    <button type="submit" class="btn btn-primary btn-sm savebutton waves-effect waves-light" id="saveclose" successurl="<?php echo encode($successurl); ?>"><?php echo $button_title; ?></button> 
<?php $actionshtml = ob_get_clean(); ?>
<div class="panel panel-border panel-info">
    <div class="panel-heading">
        <h3 class="panel-title lineblocked text-dark"><?php echo $pagetitle; ?></h3>
        <div class="portlet-widgets lineblocked floatright"><?php echo $actionshtml; ?></div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default panel-border">
                    <div class="panel-heading">
                        <h3 class="panel-title section">Parameters</h3>
                    </div>
                    <div class="panel-body p-b-0">
                		<div class="form-group">
                            <label class="control-label col-sm-12">Output</label>
                            <div class="col-sm-12">
                                <?php
									$dropdown = new Zend_Form_Element_Select('contentid',
														array(
															'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $outputlist),
															'view' => new Zend_View(),
															'decorators' => array('ViewHelper'),
															'class' => array('form-control','input-sm', 'chosen-select'),
														)
									);  
									$dropdown->setValue($target->getContentID()); 
									echo $dropdown->render();
								?>
								<div id="contentid_error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-12">Statistical Unit</label>
                            <div class="col-sm-12">
                                <?php
									$dropdown = new Zend_Form_Element_Select('uom',
														array(
															'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $indicatorgroups),
															'view' => new Zend_View(),
															'decorators' => array('ViewHelper'),
															'class' => array('form-control','input-sm','width200','chosen-select')
														)
									);  
									$dropdown->setValue($target->getContent()->getUom()); 
									echo $dropdown->render();
								?>
								<div id="uom_error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-12">Location</label>
                            <div class="col-sm-12">
                                <?php
									$dropdown = new Zend_Form_Element_Select('locationid',
														array(
															'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $currentpulocations),
															'view' => new Zend_View(),
															'decorators' => array('ViewHelper'),
															'class' => array('form-control','input-sm','width200','chosen-select')
														)
									);  
									$dropdown->setValue($target->getLocationID()); 
									echo $dropdown->render();
								?>
								<div id="locationid_error"></div>
                            </div>
                        </div>
                    </div>
               	</div>
                <div class="divider2"></div>
                <div class="panel panel-default panel-border">
                    <div class="panel-heading">
                        <h3 class="panel-title section">Target Details</h3>
                    </div>
                    <div class="panel-body p-b-0">
                    	<div class="form-group">
                            <label class="control-label col-sm-3">Frequency: <?php echo $this->translate("global_required_field_marker"); ?></label>
                            <div class="col-sm-9">
                                <?php
									$frequencies = array(1 => 'Quartely', 2 => 'Monthly'); 
									$dropdown = new Zend_Form_Element_Select('type',
														array(
															'multiOptions' => $frequencies,
															'view' => new Zend_View(),
															'decorators' => array('ViewHelper'),
															'class' => array('form-control','input-sm','width150')
														)
									);  
									$dropdown->setValue($target->getType()); 
									echo $dropdown->render();
								?><div id="type_error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">F/Year: <?php echo $this->translate("global_required_field_marker"); ?></label>
                            <div class="col-sm-9">
                                <?php
									$dropdown = new Zend_Form_Element_Select('fyear',
														array(
															'multiOptions' => $fyears,
															'view' => new Zend_View(),
															'decorators' => array('ViewHelper'),
															'class' => array('form-control','input-sm','width150')
														)
									);  
									$dropdown->setValue($target->getFyear()); 
									echo $dropdown->render();
								?><div id="fyear_error"></div>
                            </div>
                        </div>
                        <div class="quartery">
                        <table id="" class="table table-bordered table-hover table-striped table-condensed">
                            <thead class="bolded">
                                <th class="nowrapping centeralign" style="width:15%;">#</th>
                                <th class="nowrapping centeralign" style="width:30%;">Period</th>
                                <th class="nowrapping centeralign" style="width:65%;">Quantity</th>
                            </thead>
                            <tbody>
                            	<?php
									$linetotal = $target->get('target3', true) + $target->get('target6', true) + $target->get('target9', true) + $target->get('target12', true);
									$linetotal = 0;
									for($p=1; $p<=4; $p++){ 
										$number = $target->get('target'.($p*3), true);
										$linetotal += ($number > 0 && is_numeric($number)) ? $number : 0;
								?>
                                    <tr>
                                        <td class="centeralign"><?php echo $p; ?></td>
                                        <td class="centeralign">Q<?php echo $p; ?></td>
                                        <td class="centeralign"><input type="text" name="target<?php echo $p*3; ?>" id="target<?php echo $p*3; ?>" class="form-control input-sm xwidth150 max10content isdecimal centeralign" value="<?php echo formatNum($number); ?>" /><div id="target<?php echo $p*3; ?>_error"></div></td>
                                    </tr>
                                <?php } ?>
                            </tbody>
                            <tfoot class="bolded">
                                <th class="nowrapping centeralign"></th>
                                <th class="nowrapping centeralign">Total</th>
                                <th class="nowrapping centeralign"><?php echo ($linetotal); ?></th>
                            </tfoot>
                        </table>
                        </div>
                        <div class="monthly">
                    	<table id="" class="table table-bordered table-hover table-striped table-condensed">
                            <thead class="bolded">
                                <th class="nowrapping centeralign" style="width:15%;">#</th>
                                <th class="nowrapping centeralign" style="width:30%;">Period</th>
                                <th class="nowrapping centeralign" style="width:65%;">Quantity</th>
                            </thead>
                            <tbody>
                            	<?php
									$linetotal = 0;
									for($p=1; $p<=12; $p++){ 
										$monthlabel = '';
										if($p <= 6){
											$monthlabel = $months[$p+6];
										} else {
											$monthlabel = $months[$p-6];
										}
										$number = $target->get('target'.$p, true);
										$linetotal += ($number > 0 && is_numeric($number)) ? $number : 0;
								?>
                                    <tr>
                                        <td class="centeralign"><?php echo $p; ?></td>
                                        <td class="centeralign"><?php echo $monthlabel; ?></td>
                                        <td class="centeralign"><input type="text" name="target<?php echo $p; ?>" id="target<?php echo $p; ?>" class="form-control input-sm xwidth150 max10content isdecimal centeralign" value="<?php echo formatNum($number); ?>" /><div id="target<?php echo $p; ?>_error"></div></td>
                                    </tr>
                                <?php } ?>
                            </tbody>
                            <tfoot class="bolded">
                                <th class="nowrapping centeralign"></th>
                                <th class="nowrapping centeralign">Total</th>
                                <th class="nowrapping centeralign"><?php echo formatNum($linetotal); ?></th>
                            </tfoot>
                        </table>
                        </div>
                        <div class="divider10"></div>
                        <div class="form-group">
                            <label class="control-label col-sm-12">Notes</label>
                            <div class="col-sm-12">
                                <textarea class="form-control expanding elastic maxwords500" name="notes" id="notes"><?php echo $target->getNotes(); ?></textarea>
                                <div id="notes_error"></div>
                            </div>
                        </div>
                    </div>
              	</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-box p-t-10 p-b-10 clearfix">
            <div class="form-group m-b-0 clearfix">
                <div class="col-sm-12 clearfix rightalign"><?php echo $actionshtml; ?></div>
            </div>
        </div>
    </div>
</div>
</div>