<form id="viewform" orginalaction="<?php echo $this->viewurl; ?>">
    <ul class="nav nav-tabs inner" style="xmargin-left: -10px;">
        <li class="<?php echo $section == 'logframe' ? 'active' : ''; ?>">
            <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/id/'.encode($project->getID()).'/tab/'.$tab.'/section/logframe'); ?>" aria-expanded="<?php echo $section == 'logframe' ? 'true' : 'false'; ?>"><span class="xvisible-xs"><i class="fa fa-tasks"></i></span><span class="hidden-xs"> &nbsp; Results Planning</span>
            </a>
        </li>
        <li class="<?php echo $section == 'framework' ? 'active' : ''; ?>">
            <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/id/'.encode($project->getID()).'/tab/'.$tab.'/section/framework'); ?>" aria-expanded="<?php echo $section == 'framework' ? 'true' : 'false'; ?>"><span class="xvisible-xs"><i class="fa fa-sitemap"></i></span><span class="hidden-xs"> &nbsp; Results Framework</span>
            </a>
        </li>
        <input type="hidden" name="section" id="section" value="<?php echo $section; ?>" />
        <input type="hidden" name="csv_text" id="csv_text" value="" />
        <input type="hidden" name="source" id="source" value="<?php echo $section; ?>" />
    </ul>
    <div class="divider10"></div>
    <div class="row">
        <div class="col-sm-12">
            <?php if($section == 'logframe'){ ?>
                <?php if($acl->checkPermission($resource, 'addresult')) { ?>
                    <div class="btn-group gridactions" style="z-index:1000;">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle xnoround" data-toggle="dropdown">Add Result Area <i class="fa fa-caret-down"></i></button>
                        <ul class="dropdown-menu listtype" role="menu" style="left:0; top:28px;">
                            <li><a class="noreloadpopup" href="<?php echo $this->baseUrl('programme/addcontent/type/4/level/0/projectid/'.$project->getID().'/pgc/true'); ?>" rel="Add a Project Goal" formtitle="popupform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("programme/processcontent/title/Goal"); ?>"><i class="fa fa-plus"></i> Add a Goal</a></li>
                            <li><a class="noreloadpopup" href="<?php echo $this->baseUrl('programme/addcontent/type/4/level/1/projectid/'.$project->getID().'/pgc/true/title/'.encode("Description of Objective")); ?>" rel="Add a Project Objective" formtitle="popupform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("programme/processcontent"); ?>"><i class="fa fa-plus"></i> Add a Objective</a></li>
                            <li><a class="noreloadpopup" href="<?php echo $this->baseUrl('programme/addcontent/type/4/level/2/projectid/'.$project->getID().'/pgc/true/title/'.encode("Description of Outcome")); ?>" rel="Add a Project Outcome" formtitle="popupform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("programme/processcontent"); ?>"><i class="fa fa-plus"></i> Add an Outcome</a></li>
                            <li><a class="noreloadpopup" href="<?php echo $this->baseUrl('programme/addcontent/type/4/level/3/projectid/'.$project->getID().'/pgc/true/title/'.encode("Description of Output")); ?>" rel="Add a Project Output" formtitle="popupform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("programme/processcontent"); ?>"><i class="fa fa-plus"></i> Add an Output</a></li>
                            <li><a class="noreloadpopup" href="<?php echo $this->baseUrl('indicator/index/type/4/projectid/'.$project->getID().'/pgc/true'); ?>" rel="Add Project Indicator" formtitle="popupform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("indicator/create"); ?>"><i class="fa fa-plus"></i> Add Indicator</a></li>
                            <li><a class="noreloadpopup" href="<?php echo $this->baseUrl('programme/addcontent/type/4/level/4/projectid/'.$project->getID().'/pgc/true'); ?>" rel="Add a Project Activity" formtitle="popupform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("programme/processcontent"); ?>"><i class="fa fa-plus"></i> Add an Activity</a></li>
                            <li><a class="gonowhere reload" id="fetch_loginfo"><i class="fa fa-refresh"></i> Reload Results</a></li>
                            <li><a class="submitexcel gonowhere" id="exporttrigger" data-toggle="tooltip" data-placement="top" data-original-title="Export" title="" target="_blank"><i class="fa fa-arrow-down"></i> Export Results</a></li>
                        </ul>
                    </div>
                    <div class="divider5"></div>
                <?php } ?>
            <?php } ?>
            
        </div>    
        <?php if($section == 'framework'){ ?>
            <div class="col-sm-2">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12"> <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/id/'.encode($project->getID()).'/tab/'.$tab.'/section/framework'); ?>" style="margin-top:10px; color:#fff;" class="btn btn-block btn-primary">Summary</a> </div>
                        </div>
                        <?php 
                            $type = 4;
                            $prog_query = "SELECT p.id, p.name as objective, p.code as refno, p.cspid from program p WHERE p.type = '".$type."' AND p.projectid = '".$project->getID()."' AND p.cspid = 1 order by p.code";
                            $prog_result = $conn->fetchAll($prog_query);
                        ?>
                        <?php foreach($prog_result as $pline){ ?>
                            <div class="row">
                                <div class="col-md-11 col-md-offset-1 paddingleft0"> <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/id/'.encode($project->getID()).'/tab/'.$tab.'/section/framework/view/obj/lid/'.encode($pline['id'])); ?>" rel="tab" style="margin-top:10px; text-align:left; padding-left:5px;" class="font-dark btn btn-block <?php echo $pline['id'] == decode($request->lid) ? 'blue whitelink' : 'grey'; ?>" title="Objective <?php echo $pline['refno'].'. '.$pline['objective']; ?>"><?php echo $pline['refno']; ?>. <?php echo snippet($pline['objective'], 12, '...'); ?></a> </div>
                            </div>
                            <?php 
                                $outcome_query = "SELECT o.id, o.title, o.refno, o.cspid, o.mov, o.assumptions from content_logframe o WHERE o.type = '".$type."' AND o.level = 2 AND o.programid = '".$pline['id']."' AND o.projectid = '".$project->getID()."' AND o.cspid = 1 order by o.refno"; // debugMessage($outcome_query);
                                $outcome_result = $conn->fetchAll($outcome_query);
                            ?>
                            <?php if(count($outcome_result) > 0){ ?>
                                <?php foreach($outcome_result as $oline){ ?>
                                    <div class="row">
                                      <div class="col-md-10 col-md-offset-2 paddingleft0"> <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/id/'.encode($project->getID()).'/tab/'.$tab.'/section/framework/view/outcome/lid/'.encode($oline['id'])); ?>" rel="tab" style="font-size: 12px; <?php echo $oline['id'] == $request->lid ? 'color: #fff;' : 'color: #333;'; ?> margin-top: 5px; padding-left: 10px; padding-right: 0; text-align: left;" class="font-dark btn btn-block <?php echo $oline['id'] == $request->lid ? 'blue whitelink' : 'grey-salt'; ?>" title="Outcome <?php echo $oline['refno']; ?>. <?php echo $oline['title']; ?>">Outcome <?php echo $oline['refno']; ?>.</a> </div>
                                    </div>
                                <?php } ?>
                            <?php } ?>    
                        <?php } ?>
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="box-content nopadding clearfix" id="chartarea" style="min-height:500px; height:auto; overflow-x:scroll;">
                    <div class="tree" style="width:2000px;">
                        <ul>
                            <li style="margin-left:auto; margin-right:auto">
                                <?php if($request->view == 'outcome'){ 
                                    $outcome = new ContentFrame();
                                    $outcome->populate(decode($request->lid));
                                ?>
                                    <a class="gonowhere">Outcome <?php echo $outcome->getRefno(); ?></b><br><?php echo $outcome->getTitle(); ?></a>
                                    <ul>
                                        <?php 
                                            $output_query = "SELECT o.id, o.title, o.refno, o.cspid, o.mov, o.assumptions from content_logframe o WHERE o.type = '".$type."' AND o.level = 3 AND o.parentid = '".$outcome->getid()."' AND o.projectid = '".$project->getID()."' AND o.cspid = 1 order by o.refno"; // debugMessage($output_query);
                                            $output_result = $conn->fetchAll($output_query);
                                        ?>
                                        <?php if(count($output_result) > 0){ ?>
                                            <?php foreach($output_result as $oline_output){ ?>
                                                <li>
                                                    <a class="strat font-white"><b>Output <?php echo $oline_output['refno']; ?>.</b><br><?php echo preg_replace( '/[^[:print:]]/', '',$oline_output['title']); ?></a>
                                                    
                                                </li>
                                            <?php } ?>
                                        <?php } ?>
                                    </ul>
                                <?php } ?>
                                <?php if($request->view == 'obj'){ 
                                    $program = new Program();
                                    $program->populate(decode($request->lid));
                                ?>
                                    <a class="gonowhere">Objective <?php echo $program->getCode(); ?></b><br><span style="font-size:14px; font-weight:bold;"><?php echo $program->getName(); ?></span></a>
                                    <ul>
                                        <?php 
                                            $outcome_query = "SELECT o.id, o.title, o.refno, o.cspid, o.mov, o.assumptions from content_logframe o WHERE o.type = '".$type."' AND o.level = 2 AND o.programid = '".$program->getID()."' AND o.projectid = '".$project->getID()."' AND o.cspid = 1 order by o.refno"; // debugMessage($outcome_query);
                                            $outcome_result = $conn->fetchAll($outcome_query);
                                        ?>
                                        <?php foreach($outcome_result as $oline){ ?>
                                            <li>
                                                <a class="strat font-white"><b>Outcome <?php echo $oline['refno']; ?>.</b><br><?php echo preg_replace( '/[^[:print:]]/', '',$oline['title']); ?></a>
                                                <ul>
                                                    <?php 
                                                        $output_query = "SELECT o.id, o.title, o.refno, o.cspid, o.mov, o.assumptions from content_logframe o WHERE o.type = '".$type."' AND o.level = 3 AND o.parentid = '".$oline['id']."' AND o.projectid = '".$project->getID()."' AND o.cspid = 1 order by o.refno"; // debugMessage($output_query);
                                                        $output_result = $conn->fetchAll($output_query);
                                                    ?>
                                                    <?php if(count($output_result) > 0){ ?>
                                                        <li>
                                                            <?php 
                                                                $count = 0;
                                                                foreach($output_result as $oline_output){
                                                            ?>
                                                                <a href="#" class="outcome  font-white"><b>Output <?php echo $oline_output['refno']; ?>.</b><br><?php echo preg_replace( '/[^[:print:]]/', '',$oline_output['title']); ?></a>
                                                                <?php if($count < count($output_result)){ ?>
                                                                    <ul><li>
                                                                <?php } ?>
                                                            <?php $count++; } ?>
                                                            <?php for($i = 0; $i < count($output_result); $i++){ ?>
                                                                </li></ul>
                                                            <?php } ?>
                                                        </li>
                                                    <?php } ?>
                                                </ul>
                                            </li>
                                        <?php } ?>
                                    </ul>
                                <?php } ?>
                                <?php if(isEmptyString($request->view)){ ?>
                                    <a class="gonowhere">
                                        <?php
                                            $goal_query = "SELECT o.id, o.title, o.refno, o.cspid, o.mov, o.assumptions from content_logframe o WHERE o.type = '".$type."' AND o.level = 0 AND o.projectid = '".$project->getID()."' AND o.cspid = 1 order by o.refno";
                                            $goal_result = $conn->fetchAll($goal_query);
                                        ?>
                                        <span style="font-size:14px; font-weight:bold;"><?php echo $project->getTitle(); ?><?php echo count($goal_result) == 0 ? '' : '<br />Goal(s)'; ?></span>
                                        
                                        <?php foreach($goal_result as $gline){ 
                                            $title = preg_replace( '/[^[:print:]]/', '',$gline['title']);
                                        ?>
                                            <i class="blocked" style="font-size:12px; font-weight:normal;"><?php echo $gline['refno']?>. <?php echo $title?></i> 
                                        <?php } ?>
                                    </a>
                                    <ul>
                                        <?php 
                                            $prog_query = "SELECT p.id, p.name as objective, p.code as refno, p.cspid from program p WHERE p.type = '".$type."' AND p.projectid = '".$project->getID()."' AND p.cspid = 1 order by p.code";
                                            $prog_result = $conn->fetchAll($prog_query);
                                        ?>
                                        <?php foreach($prog_result as $pline){ ?>
                                            <li>
                                                <a class="strat font-white"><b>Objective <?php echo $pline['refno']; ?></b><br><span style="font-size:14px; font-weight:bold;"><?php echo $pline['objective']?></span></a>
                                                <ul>
                                                    <?php 
                                                        $outcome_query = "SELECT o.id, o.title, o.refno, o.cspid, o.mov, o.assumptions from content_logframe o WHERE o.type = '".$type."' AND o.level = 2 AND o.programid = '".$pline['id']."' AND o.projectid = '".$project->getID()."' AND o.cspid = 1 order by o.refno"; // debugMessage($outcome_query);
                                                        $outcome_result = $conn->fetchAll($outcome_query);
                                                    ?>
                                                    <?php if(count($outcome_result) > 0){ ?>
                                                        <li>
                                                            <?php 
                                                                $count = 0;
                                                                foreach($outcome_result as $oline){
                                                            ?>
                                                                <a href="#" class="gonowhere outcome  font-white"><b>Outcome <?php echo $oline['refno']; ?>.</b><br><?php echo preg_replace( '/[^[:print:]]/', '',$oline['title']); ?></a>
                                                                <?php if($count < count($outcome_result)){ ?>
                                                                    <ul><li>
                                                                <?php } ?>
                                                            <?php $count++; } ?>
                                                            <?php for($i = 0; $i < count($outcome_result); $i++){ ?>
                                                                </li></ul>
                                                            <?php } ?>
                                                        </li>
                                                    <?php } ?>
                                                </ul>
                                            </li>
                                        <?php } ?>
                                    </ul>
                                <?php } ?>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
        <?php } ?>
        <?php if($section == 'logframe'){ ?>
            <div class="col-sm-12">
                <?php 
                    $addresult = 'false';
                    if($acl->checkPermission($resource, 'addresult')){
                        $addresult = 'true';
                    }
					$type = 4;
                ?>
                <script>
                    $(document).ready(function() {
                        getLogInfo();
                        
                        $("#fetch_loginfo").on('click', function(){
                            getLogInfo();
                        });
                        
                        function getLogInfo(){
                            var loginfourl = '<?php echo $this->baseUrl('project/loginfo/projectid/'.$project->getID().'/type/'.$type.'/viewurl/'.encode($this->viewurl).'/addresult/'.$addresult); ?>';
							// alert(loginfourl);
                            $("#loginfo").html("<span style='text-align:left;'><img src='/assets/images/loader.gif' /></span>").css({'display':'block'});
                            // alert(loginfourl);
                            $.get(loginfourl, {                        
                                cachebuster: new Date().getTime()},                            
                                function(data){                        
                                    // alert();
                                    $("#loginfo").html(data);
                                    var table = $('#listtable').DataTable({
                                        aaSorting: [],
                                        scrollX: true,
                                        scrollY: 800,
                                        scrollCollapse: false,
                                        paging: false,
                                        ordering: true,
                                        info: false,
                                        filter: true,
                                        fixedColumns: {
                                            leftColumns: 1
                                        },
                                        columnDefs: [
                                            { width: 120, targets: 0 },
                                            { width: 450, targets: 1 },
                                            { width: 350, targets: 2 },
                                            { width: 60, targets: 3 },
                                            { width: 10, targets: 4}
                                        ],
                                        fixedHeader: {
                                            header: true,
                                            footer: true
                                        },
                                        dom: 'C<"clear">lfrtip',
                                        colVis: {
                                            text: "Toggle",
                                            showNone: "Show None",
                                            showAll: "Show All"
                                        }
                                    });                        
                                }
                            );
                            
                            return false;
                        }
                    });
                </script>
                <div class="table-responsive" data-pattern="priority-columns" id="loginfo"></div>
            </div>
        <?php } ?>
    </div>
</form>