<div class="panel panel-default panel-border makerelative">
    <div class="panel-heading fieldsetwrapper">
        <h3 class="panel-title">Summary</h3>
    </div>
    <div class="panel-body" style="padding-bottom:5px">
    	<div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-12 control-label">Title: <?php echo $this->translate("global_required_field_marker"); ?></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control input-sm max255content hastooltip" id="title" name="title" value="<?php echo $project->getTitle(); ?>" placeholder="Enter summary title" /><div id="title_error"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label">Project Description:</label>
                <div class="col-sm-12">
                    <textarea class="form-control expanding max255content hastooltip" id="description" name="description" placeholder="Write a brief or synopsis in less than 250 words"><?php echo $project->getDescription(); ?></textarea><div id="description_error"></div>
                </div>
            </div>
     	</div>
        <div class="divider10"></div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-12 control-label">Type: <?php echo $this->translate("global_required_field_marker"); ?></label>
                <div class="col-sm-12">
                    <?php						  
                        $dropdown = new Zend_Form_Element_Select('type',
                        array(
                            'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $projecttypes),
                            'view' => new Zend_View(), 
                            'decorators' => array('ViewHelper'),
                            'class' => array('form-control','input-sm', 'width200', 'inline', 'hastooltip')                                            	)
                        );
                        $dropdown->setValue($project->getType()); 
                        echo $dropdown->render(); 
                    ?>
                    <div id="type_error"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label">Bundle No#: <?php echo $this->translate("global_required_field_marker"); ?></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control input-sm width200 max15content hastooltip" id="refno" name="refno" value="<?php echo $project->getRefNo(); ?>" /><div id="refno_error"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label">Programme Objective: <?php echo $this->translate("global_required_field_marker"); ?></label>
                <div class="col-sm-12">
					<?php						  
                        $dropdown = new Zend_Form_Element_Multiselect('programid',
                        array(
                            'multiOptions' => $programs,
                            'view' => new Zend_View(), 
                            'decorators' => array('ViewHelper'),
                            'class' => array('maxwidth', 'linetip', 'hastooltip', 'useid_error')                                            	)
                        );
                        $dropdown->setValue(commaStringToArray($project->getProgramID())); 
                        echo $dropdown->render(); 
                    ?>
                    <input type="hidden" name="programid_old" id="programid_old" value="<?php echo $project->getProgramID(); ?>" />
                    <div id="programid_error"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label">Category: <?php echo $this->translate("global_required_field_marker"); ?></label>
                <div class="col-sm-12">
                    <?php						  
                        $dropdown = new Zend_Form_Element_Select('category',
                        array(
                            'multiOptions' => array_merge_maintain_keys(array('' => "<Select>"), $categories),
                            'view' => new Zend_View(), 
                            'decorators' => array('ViewHelper'),
                            'class' => array('form-control','input-sm', 'width200', 'inline', 'hastooltip')                                            	)
                        );
                        $dropdown->setValue($project->getCategory()); 
                        echo $dropdown->render(); 
                    ?>
                    <div id="category_error"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-12">Project Owner:</label>
                <div class="col-sm-6">
                    <?php
                        $customclass = '';
                        $dropdown = new Zend_Form_Element_Select('ownerid',
                                            array(
                                                'multiOptions' => array_merge_maintain_keys(array('' => '<Select One>'), $users),
                                                'view' => new Zend_View(),
                                                'decorators' => array('ViewHelper'),
                                                'class' => array('form-control','input-sm','width200', 'chosen-select', 'hastooltip', 'linetip', $customclass)
                                            )
                        );  
                        $dropdown->setValue($project->getownerid()); 
                        echo $dropdown->render();
                    ?>
                    <div id="ownerid_error"></div>
                </div>
            </div>
        </div>
    	<div class="col-sm-6">
			<div class="form-group">
                <label class="col-sm-12 control-label">Project Start Date: <?php echo $this->translate("global_required_field_marker"); ?></label>
                <div class="col-sm-12 hasdatetip">
                    <input type="text" class="form-control input-sm inline width100 ordinary startdate hastooltip datetip" name="startdate" id="startdate" value="<?php echo changeMySQLDateToPageFormat($project->getstartdate()); ?>" />
                    <div id="startdate_error"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label">Due/End Date: <?php echo $this->translate("global_required_field_marker"); ?></label>
                <div class="col-sm-12 hasdatetip">
                    <input type="text" class="form-control input-sm inline width100 ordinary endafterstart hastooltip datetip" name="enddate" id="enddate" value="<?php echo changeMySQLDateToPageFormat($project->getenddate()); ?>" />
                    <div id="enddate_error"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label">Current Status: <?php echo $this->translate("global_required_field_marker"); ?></label>
                <div class="col-sm-12">
                    <?php
                        $dropdown = new Zend_Form_Element_Select('status',
                                            array(
                                                'multiOptions' => array_merge_maintain_keys(array('' => "<Select One>"), $projectstatus),
                                                'view' => new Zend_View(), 
                                                'decorators' => array('ViewHelper'),
                                                'class' => array('form-control','input-sm','width200', 'hastooltip')                                            	)
                                        );
                        $dropdown->setValue($project->getstatus()); 
                        echo $dropdown->render(); 
                    ?>
                    <div id="status_error"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label">Current Phase: <?php echo $this->translate("global_required_field_marker"); ?></label>
                <div class="col-sm-12">
                    <?php
                        $dropdown = new Zend_Form_Element_Select('phasestatus',
                                            array(
                                                'multiOptions' => array_merge_maintain_keys(array('' => "<Select One>"), $projectphases),
                                                'view' => new Zend_View(), 
                                                'decorators' => array('ViewHelper'),
                                                'class' => array('form-control','input-sm','width200', 'hastooltip', 'linetip')                                            	)
                                        );
                        $dropdown->setValue($project->getphasestatus()); 
                        echo $dropdown->render(); 
                    ?>
                    <div id="phasestatus_error"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label">Bundle Budget: <?php // echo $this->translate("global_required_field_marker"); ?></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control input-sm width100 isnumber xhastooltip" id="cost" name="cost" value="<?php echo $project->getCost(); ?>" />
                    <?php
						$currencies = getDatavariablesWithOdering("CURRENCIES");
						if(isEmptyString($project->getID())){
							$project->setcurrency('EUR');
						}
						$dropdown = new Zend_Form_Element_Select('currency',
							array(
								'multiOptions' => array_merge_maintain_keys(array('' => "<Currency>"), $currencies),
								'view' => new Zend_View(), 
								'decorators' => array('ViewHelper'),
								'class' => array('form-control','input-sm','width100')
							)
						);
						$dropdown->setValue($project->getcurrency()); 
						echo $dropdown->render(); 
					?>
                    <div id="cost_error"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default panel-border makerelative">
    <div class="panel-heading fieldsetwrapper">
        <h3 class="panel-title">Project Outline Details</h3>
    </div>
    <div class="panel-body" style="padding-bottom:5px;">
    	<div class="row-fluid">
			<div class="col-sm-12">
				<table class="table table-hover table-nomargin table-striped table-hover table-bordered margin0">
                    <thead style="font-size:12px !important;">
                        <tr>
                            <th style="width:20px !important;"> </th>
                            <th style="width:120px;">Project No#</th>
                            <th style="width:15%;">Programme Unit</th>
                            <th>Project Locations</th>
                            <th style="width:15%;">PU Focal Person</th>
                            <th style="width:14%;">Start Date</th>
                            <th style="width:14%;">End Date</th>
                            <th style="width:10%;">PO Budget</th>
                        </tr>
                    </thead>
                    <tbody>
                    	<?php 
							$projectdetails =  $project->getProjectDetails();
							$nooflines = $projectdetails->count();
							$e = 0; $x = 0;
							foreach($projectdetails as $projectline){
								$class = "visible_row_input";
						?>
                        	<tr class="<?php echo $class; ?> row_input_<?php echo $e; ?>" id="row_input_<?php echo $e; ?>">
                            	<td><a href="javascript: doNothing();" title="Delete Line" id="row_input_<?php echo $e; ?>" class="removeline btn btn-xs danger" rel="input"><i class="fa fa-remove"></i></a></td>	
                                <td><input type="text" class="form-control input-sm useid_error max15content" id="refno_<?php echo $e; ?>" name="details[<?php echo $e; ?>][refno]" value="<?php echo $projectline->getRefNo(); ?>" />
                                	<input type="hidden" name="details[<?php echo $e; ?>][id]" value="<?php echo $projectline->getID(); ?>" />
                                    <div id="variety_<?php echo $e; ?>_error"></div>
                                
                                </td>
                                <td><?php
										$listdropdown = new Zend_Form_Element_Select('program_unit_'.$e,
										  array(
												  'multiOptions' => array_merge_maintain_keys(array('' => "<Select One>"), $program_units),
												  'view' => new Zend_View(),
												  'decorators' => array(array('ViewHelper')),
												  'class' => array('form-control','input-sm', 'chosen-select', 'useid_error', 'maxwidth'),
												  'style' => 'width:100%;'
										  )
										);
										
										$listdropdown->setValue($projectline->getProgram_Unit());
										echo $listdropdown->render();
									?>
                                    <input type="hidden" name="details[<?php echo $e; ?>][program_unit_old]" value="<?php echo $projectline->getProgram_Unit(); ?>" />
                                    <div id="program_unit_<?php echo $e; ?>_error"></div>
                                </td>
                                <td><?php
										$listdropdown = new Zend_Form_Element_Multiselect('program_locations_ids_'.$e,
										  array(
											  'multiOptions' => $locations,
											  'view' => new Zend_View(),
											  'decorators' => array(array('ViewHelper')),
											  'class' => array('form-control','input-sm', 'chosen-select', 'multipleselect', 'useid_error'),
											  'style' => 'width:100%;'
										  )
										);
										
										$listdropdown->setValue(commaStringToArray($projectline->getprogram_locations()));
										$listdropdown->setAttrib("data-placeholder", "Select district(s)");
										echo $listdropdown->render();
									?>
                                    <input type="hidden" name="details[<?php echo $e; ?>][program_locations_old]" value="<?php echo $projectline->getprogram_locations(); ?>" />
                                    <div id="program_locations_ids_<?php echo $e; ?>_error"></div>
                                </td>
                                <td>
                                	<?php
										$listdropdown = new Zend_Form_Element_Select('ownerid_'.$e,
										  array(
												  'multiOptions' => array_merge_maintain_keys(array('' => "<Select One>"), $users),
												  'view' => new Zend_View(),
												  'decorators' => array(array('ViewHelper')),
												  'class' => array('form-control','input-sm', 'chosen-select', 'useid_error', 'maxwidth')
										  )
										);
										
										$listdropdown->setValue($projectline->getOwnerID());
										echo $listdropdown->render();
									?>
                                    <input type="hidden" name="details[<?php echo $e; ?>][ownerid_old]" value="<?php echo $projectline->getOwnerID(); ?>" />
                                    <div id="ownerid_<?php echo $e; ?>_error"></div>
                                </td>
                                <td><input type="text" class="form-control input-sm inline width100 ordinary" name="details[<?php echo $e; ?>][startdate]" id="startdate_<?php echo $e; ?>" value="<?php echo changeMySQLDateToPageFormat($projectline->getstartdate()); ?>" />
                                	<input type="hidden" name="details[<?php echo $e; ?>][startdate_old]" value="<?php echo $projectline->getstartdate(); ?>" />
                    				<div id="startdate_<?php echo $e; ?>_error"></div>
                                </td>
                                <td><input type="text" class="form-control input-sm inline width100 ordinary" name="details[<?php echo $e; ?>][enddate]" id="enddate_<?php echo $e; ?>" value="<?php echo changeMySQLDateToPageFormat($projectline->getenddate()); ?>" />
                                	<input type="hidden" name="details[<?php echo $e; ?>][enddate_old]" value="<?php echo $projectline->getenddate(); ?>" />
                                	<div id="enddate_<?php echo $e; ?>_error"></div>
                                </td>
                                <td><input type="text" class="form-control input-sm inline isdecimal width100" name="details[<?php echo $e; ?>][cost]" id="cost_<?php echo $e; ?>" value="<?php echo $projectline->getcost(); ?>" />
                                	<div id="cost_<?php echo $e; ?>_error"></div>
                                </td>
                            </tr>
                        <?php $e++; $x++; } ?>
                        	
                    	<?php 
							// $subcounties = getSubcounties();
							$defaultlines = 1;
							if($nooflines > 1){
								$defaultlines = $nooflines;
							}
							
							for($i = $e; $i < 10; $i++){
								$class = "visible_row_input";
								if($i >= $defaultlines){
									$class = "hidden_row_input";
								}
						?>
                        	<tr class="<?php echo $class; ?> row_input_<?php echo $i; ?>" id="row_input_<?php echo $i; ?>">
                                <td><a href="javascript: doNothing();" title="Delete Line" id="row_input_<?php echo $i; ?>" class="removeline btn btn-xs danger" rel="input"><i class="fa fa-remove"></i></a></td>
                                <td><input type="text" class="form-control input-sm useid_error max15content" id="refno_<?php echo $i; ?>" name="details[<?php echo $i; ?>][refno]" value="" />
                                	<input type="hidden" name="details[<?php echo $i; ?>][id]" value="" />
                                    <div id="refno_<?php echo $i; ?>_error"></div>
                                </td>
                                <td><?php
										$listdropdown = new Zend_Form_Element_Select('program_unit_'.$i,
										  array(
												  'multiOptions' => array_merge_maintain_keys(array('' => "<Select One>"), $program_units),
												  'view' => new Zend_View(),
												  'decorators' => array(array('ViewHelper')),
												  'class' => array('form-control','input-sm', 'chosen-select', 'useid_error', 'maxwidth')
										  )
										);
										
										$listdropdown->setValue('');
										echo $listdropdown->render();
									?>
                                    <div id="program_unit_<?php echo $i; ?>_error"></div>
                                </td>
                                <td><?php
										$listdropdown = new Zend_Form_Element_Multiselect('program_locations_ids_'.$i,
										  array(
											  'multiOptions' => $locations,
											  'view' => new Zend_View(),
											  'decorators' => array(array('ViewHelper')),
											  'class' => array('form-control','input-sm', 'chosen-select', 'multipleselect', 'useid_error'),
											  'style' => 'width:100%;'
										  )
										);
										
										$listdropdown->setValue(array());
										$listdropdown->setAttrib("data-placeholder", "Select district(s)");
										echo $listdropdown->render();
									?><div id="program_locations_ids_<?php echo $i; ?>_error"></div>
                                </td>
                                <td>
                                	<?php
										$listdropdown = new Zend_Form_Element_Select('ownerid_'.$i,
										  array(
												  'multiOptions' => array_merge_maintain_keys(array('' => "<Select One>"), $users),
												  'view' => new Zend_View(),
												  'decorators' => array(array('ViewHelper')),
												  'class' => array('form-control','input-sm', 'chosen-select', 'useid_error', 'maxwidth')
										  )
										);
										
										$listdropdown->setValue('');
										echo $listdropdown->render();
									?><div id="ownerid_<?php echo $i; ?>_error"></div>
                                </td>
                                <td><input type="text" class="form-control input-sm inline width100 ordinary" name="details[<?php echo $i; ?>][startdate]" id="startdate_<?php echo $i; ?>" value="" />
                    				<div id="startdate_<?php echo $i; ?>_error"></div>
                                </td>
                                <td><input type="text" class="form-control input-sm inline width100 ordinary" name="details[<?php echo $i; ?>][enddate]" id="enddate_<?php echo $i; ?>" value="" />
                                	<div id="enddate_<?php echo $i; ?>_error"></div>
                                </td>
                                <td><input type="text" class="form-control input-sm inline isdecimal width100" name="details[<?php echo $e; ?>][cost]" id="cost_<?php echo $i; ?>" value="" />
                                	<div id="cost_<?php echo $i; ?>_error"></div>
                                </td>
                            </tr>
                        <?php $x++; } ?>
                    </tbody>
                </table>     
                <div class="divider5"></div>
				<a class="addline gonowhere btn btn-primary btn-xs" id="input" data-toggle="tooltip" data-placement="top" data-original-title="Add More" title="Add More"><i class="fa fa-plus"></i> Add PO</a>          
            </div>
       	</div>
   	</div>
</div>          