<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$project = new Project();
	
	$resourcename = 'Project'; $resourcename = 'Users';
	$entityname = "Project";
	$listitems = "Projects";
	$listurl = $this->baseUrl('project/list');
	$icon = 'fa fa-bars';
	$description = "";
	$title = "New Project";
	$breadcrumb = "Projects / ".$pagetitle;
	
	if (isEmptyString($request->id)) {
		$pagetitle = "Setup a Project";
		$posturl = $this->baseUrl("project/create");
		$button_title = $this->translate("global_button_save")." Project";
		$successmessage = $this->translate('global_save_success');
		
	} else {
		$title = "Edit Project";
		$pagetitle = ""; 
		$theid = is_numeric($request->id) ? $request->id : decode($request->id);
		$project->populate($theid);		
		$posturl = $this->baseUrl("project/edit"); 
		$button_title = $this->translate('global_button_save_changes'); 
		$successmessage = $this->translate('global_update_success');
	}
	
	$failureurl =  $this->viewurl;
	$addnewsuccessurl = $this->baseUrl('project/index');
	$successurl = $this->baseUrl('project/view');
	
	$tab = $request->tab;
	if(isEmptyString($tab)){
		$tab = 'overview';
	}
	
	$gotosuccess = false; 
	if(!isEmptyString($request->successurl)){
		$successurl = $request->successurl;
		$gotosuccess = true; 
	}
	
	if($tab == 'documents'){
		$successurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/documents');
		$gotosuccess = true; 
	}
	
	#in case of errors in session, populate the fields from session
	if(!isEmptyString($session->getVar(ERROR_MESSAGE))){ 
		$project->processPost($session->getVar(FORM_VALUES));
	}
	
	$users = getUsers(); 
	$projecttypes = getDatavariables('PROJECT_TYPES');
	$categories = getDatavariables('PROJECT_CATEGORIES');
	$projectstatus = getDatavariables('PROJECT_STATUS');
	$projectphases = getDatavariables('PROJECT_PHASES');
	$locations = getDistricts();
	$program_units = getProgramUnits(); 
	$programs = getPrograms();
	// $fyears = getFPYears();
	// $currencies = getDatavariables('CURRENCIES');
	
	$allowedit = false;
	if($acl->checkPermission($resourcename, ACTION_EDIT)){
		$allowedit = true;
	}
	
	$this->headTitle($title.$browserappend); 
?>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.'Projects / '.$title; ?>');
	
	$("#indexform").validate({		
		// define the validation rules one field at a time
		rules: {
			title:  { 
				required: true,
            },
			refno:  { 
				required: true,
            },
			type: "required",
			category: "required",
			"programid[]": { 
				required: true, 
				minlength: 1 
            },
			startdate:   { 
				required: true,
            },
			enddate:  { 
				required: true,
            },
			status: "required",
			phasestatus: "required"
		}, 
		// the messages for each of the fields being validated
		messages: {		
			title: { 
				required: "Please enter Title"
            }, 
			refno: { 
				required: "Please enter Reference Number"
            },
			type: "Please select a Type",
			category: "Please select a Category",
			"programid[]": { 
				required: "Please select at least one"
            }, 
			startdate:  { 
				required: "Please select a Date"
            },
			enddate:  { 
				required: "Please select a Date"
            },
			status: "Please select a Status",
			phasestatus: "Please select a Status"
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					if(element.hasClass("useid_error")){
						error.appendTo("#"+element.attr("id")+"_error");
					} else {
						error.appendTo("#"+element.attr("name")+"_error");
					}
					break;
			}			
		},
		ignore: ":hidden:not(select)"
	});
	
	$('#programid').multipleSelect({
		placeholder: "[select]",
    });
});
</script>
<style>
.chosen-container#services_chosen {
	width:100%;
}
</style>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div class="row" id="contentarea">
    <div class="col-md-12">
		<form id="indexform" class="form-horizontal" action="<?php echo $posturl; ?>" method="post" enctype="multipart/form-data">
            <input name="entityname" id="entityname" type="hidden" value="<?php echo $entityname; ?>" />
            <input type="hidden" id="id" name="id" value="<?php echo encode($project->getID()); ?>" />
            <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" /> 
            <input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($successurl); ?>" /> 
            <input type="hidden" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" value="<?php echo encode($failureurl); ?>" />
            <input type="hidden" id="nosuccessid" name="nosuccessid" value="" /> 
			<?php ob_start(); ?>
                <a class="btn btn-default btn-sm cancel gonowhere" type="button"><?php echo $this->translate('global_button_cancel'); ?></a>
                <button type="submit" class="btn btn-primary btn-sm savebutton waves-effect waves-light" id="saveclose" successurl="<?php echo encode($successurl); ?>"><?php echo $button_title; ?></button> 
                
			<?php $actionshtml = ob_get_clean(); ?>
            <div class="panel panel-border panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked text-dark"><?php echo $pagetitle; ?></h3>
                    <div class="portlet-widgets lineblocked floatright"><?php echo $actionshtml; ?></div>
                </div>
                <div class="divider2"></div>
                <div class="panel-body">
					<?php require APPLICATION_PATH."/views/scripts/project/index_overview.phtml"; ?>
                    <div class="divider2"></div>
               	</div>
           	</div>  
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box p-t-10 p-b-10">
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 rightalign"><?php echo $actionshtml; ?></div>
                        </div>
                    </div>
                </div>
            </div>   
        </form>
    </div>
</div>            
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
