                	
<div class="row-fluid">
    <div class="col-sm-12"><h3 class="panel-title section">Project Indicators</h3></div>
</div>
<div class="divider10"></div>                                  
<div class="row">
	<div class="col-sm-12">
		<?php if($widget == 'list'){ ?>
            <?php require_once APPLICATION_PATH.'/views/scripts/indicator/list.phtml'; ?>
        <?php } ?>
        <?php if($widget == 'add'){ ?>
            <?php require_once APPLICATION_PATH.'/views/scripts/indicator/index.phtml'; ?>
        <?php } ?>
        <?php if($widget == 'details'){ ?>
            <?php require_once APPLICATION_PATH.'/views/scripts/indicator/view.phtml'; ?>
        <?php } ?>
    </div>
</div>    