                	
<div class="row-fluid">
    <div class="col-sm-12"><h3 class="panel-title section">Project Library</h3></div>
</div>
<div class="divider10"></div>                                  
<div class="xrow">
	<div class="col-sm-12">
		<?php if($widget == 'list'){ ?>
            <?php require_once APPLICATION_PATH.'/views/scripts/library/index.phtml'; ?>
        <?php } ?>
    </div>
</div>    