<?php
	include APPLICATION_PATH.'/includes/header.php';
?>
<?php if (!isEmptyString($session->getVar(SUCCESS_MESSAGE))) { ?>
    <div class="alert alert-success alert-dismissable" style="color:green;"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar(SUCCESS_MESSAGE); ?>
    </div>
<?php } ?>
<?php if (!isEmptyString($session->getVar(ERROR_MESSAGE))) { ?>
    <div class="alert alert-danger alert-dismissable"><button data-dismiss="alert" class="close" type="button">×</button><?php echo $session->getVar(ERROR_MESSAGE); ?></div>
<?php } ?>
<table id="listtable" class="table table-bordered xtable-hover xtable-striped table-condensed">
    <thead style="font-weight:bold;">
        <th class="nowrapping">Type / Code</th>
        <th class="nowrapping">Result Area</th>
        <th class="nowrapping">Indicators</th>
        <th class="nowrapping hide">Entry Date</th>
        <th class="nowrapping ignoreexport" ignoreid="5">Action</th>
    </thead>
    <tbody style="font-size:13px !important;">
        <?php
            // type, projectid
            $conn = Doctrine_Manager::connection(); 
            $type = 4; 
            $projectid = $request->projectid;
            $viewurl = $request->viewurl;
            $allowedit = true;
            $allowdelete = true;
            
            $goal_query = "SELECT o.id, o.title, o.refno, o.cspid, o.mov, o.assumptions, o.createdby, o.lastupdatedby, o.datecreated, o.lastupdatedby from content_logframe o WHERE o.type = '".$type."' AND o.level = 0 AND o.projectid = '".$projectid."' order by o.refno"; // debugMessage($goal_query);
            $goal_result = $conn->fetchAll($goal_query);
        ?>
        <?php foreach($goal_result as $gline){ 
            $title = preg_replace( '/[^[:print:]]/', '',$gline['title']);
            $lastupdatedate = !isEmptyString($gline['lastupdatedate']) ? formatDateAndTime($gline['lastupdatedate'], true) : formatDateAndTime($gline['datecreated'], true) ;
            $class = 'ContentFrame';
            $indexurl = $this->baseUrl('programme/addcontent/id/'.encode($gline['id']).'/pgc/true/type/4/level/0/projectid/'.$projectid.'/successurl/'.encode($this->viewurl));
            $deleteurl = $this->baseUrl('index/delete/id/'.encode($gline['id'])."/entityname/".$class."/successurl/".$viewurl."/src/1");
            
        ?>
            <tr class="" style="font-weight:bold;">
                <td class="nowrapping" style="background-color:#0072ce; color:#fff;">Goal <?php echo $gline['refno']?></td>
                <td><?php echo $title?></td>
                <td></td>
                <td class="nowrapping nullifempty hide"><?php echo $lastupdatedate; ?></td>
                <td>
                    <?php if($request->addresult == 'true') { ?>
                        <div class="btn-group gridactions" style="z-index:1000;">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle xnoround" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                            <ul class="dropdown-menu listtype" role="menu">
                                <?php if($allowedit) { ?>
                                    <li><a class="btn noreloadpopup" href="<?php echo $indexurl; ?>" rel="Edit Goal" title="Edit Goal" formtitle="indexform" successurl="<?php echo decode($viewurl); ?>" action="<?php echo $this->baseUrl("programme/processcontent"); ?>">Edit</a></li>
                                <?php } ?>
                                <?php if($allowdelete){ ?>
                                    <li><a class="deleteline gonowhere" action="<?php echo $deleteurl; ?>" src="1" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a>
                                    </li>
                                <?php } ?>
                            </ul>
                        </div>    
                    <?php } ?>
                </td>
            </tr>
        <?php } ?>
        <?php
            $prog_query = "SELECT p.id, p.name as objective, p.code as refno, p.createdby, p.lastupdatedby, p.datecreated, p.lastupdatedby from program p WHERE p.type = '".$type."' AND p.projectid = '".$projectid."' order by p.code";
            $prog_result = $conn->fetchAll($prog_query); //debugMessage($prog_query);
        ?>
        <?php foreach($prog_result as $pline){ 
                $lastupdatedate = !isEmptyString($pline['lastupdatedate']) ? formatDateAndTime($pline['lastupdatedate'], true) : formatDateAndTime($pline['datecreated'], true) ;
                $class = 'Program';
                $indexurl = $this->baseUrl('programme/addcontent/id/'.encode($pline['id']).'/pgc/true/type/4/level/1/projectid/'.$projectid.'/successurl/'.$viewurl);
                $deleteurl = $this->baseUrl('index/delete/id/'.encode($pline['id'])."/entityname/".$class."/successurl/".$viewurl."/src/1");
				
				$indicator_str = ''; $indicator_array = array(); 
				$ind_query = "SELECT i.id, i.title, i.refno from indicator i inner join content_logframe c on i.contentid = c.id WHERE i.contentid = '".$pline['id']."' AND i.projectid = '".$projectid."' AND i.level = 1 order by i.refno";
				$ind_result = $conn->fetchAll($ind_query); // debugMessage($ind_result);
				
				foreach($ind_result as $indicator){
					$indicator_array[] = $indicator['refno'].' &nbsp; '.$indicator['title'];
				}
        ?>
            <tr class="xrowheader_obj" style="font-weight:bold;">
                <td class="nowrapping" style="background-color:#1a98ff; color:#fff;">Objective <?php echo $pline['refno']?></td>
                <td><?php echo $pline['objective']?></td>
                <td style="font-weight:normal;"><?php echo implode('<br>', $indicator_array); ?></td>
                <td class="nowrapping nullifempty hide"><?php echo $lastupdatedate; ?></td>
                <td>
                    <?php if($request->addresult == 'true') { ?>
                        <div class="btn-group gridactions" style="z-index:1000;">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle xnoround" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                            <ul class="dropdown-menu listtype" role="menu">
                                <?php if($allowedit) { ?>
                                    <li><a class="btn gonowhere noreloadpopup" href="<?php echo $indexurl; ?>" rel="Edit Objective" title="Edit Objective" formtitle="indexform" successurl="<?php echo decode($viewurl); ?>" action="<?php echo $this->baseUrl("programme/processcontent"); ?>">Edit</a></li>
                                <?php } ?>
                                <?php if($allowdelete){ ?>
                                    <li><a class="deleteline gonowhere" action="<?php echo $deleteurl; ?>" src="1" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a>
                                    </li>
                                <?php } ?>
                            </ul>
                        </div>
                    <?php } ?>
                </td>
            </tr>
            <?php 
                $outcome_query = "SELECT o.id, o.title, o.refno, o.cspid, o.mov, o.assumptions, o.progoutcomeids, o.createdby, o.lastupdatedby, o.datecreated, o.lastupdatedby from content_logframe o WHERE o.type = '".$type."' AND o.level = 2 AND o.programid = '".$pline['id']."' AND o.projectid = '".$projectid."' AND o.cspid = 1 order by o.refno"; //debugMessage($outcome_query);
                $outcome_result = $conn->fetchAll($outcome_query);
                
            ?>
            <?php if(count($outcome_result) > 0){ ?>
                <?php foreach($outcome_result as $oline){ 
                    $title = preg_replace( '/[^[:print:]]/', '',$oline['title']);
                    
                    $indicator_str = ''; $indicator_array = array(); 
                    $ind_query = "SELECT i.id, i.title, i.refno from indicator i inner join content_logframe c on i.contentid = c.id WHERE i.contentid = '".$oline['id']."' AND i.projectid = '".$projectid."' order by i.refno";
                    $ind_result = $conn->fetchAll($ind_query); // debugMessage($ind_result);
                    
                    foreach($ind_result as $indicator){
                        $indicator_array[] = $indicator['refno'].' &nbsp; '.$indicator['title'];
                    }
                    
                    $linkages = '';
                    if(!isEmptyString($oline['progoutcomeids'])){
                        $resoutcomes = ''; $resarray = array();
                        $parent_query = "SELECT group_concat(p.refno separator ', ') as refnos, p.createdby, p.lastupdatedby, p.datecreated, p.lastupdatedby from content_logframe p WHERE p.id IN(".$oline['progoutcomeids'].") order by p.refno"; // debugMessage($parent_query);
                        $parent_result = $conn->fetchOne($parent_query);
                        $linkages = ' <i style="font-weight:normal; display:block; font-size:11px;"><a class="">Derived from CS Outcomes '.$parent_result.'</a></i>';
                    }
                    $lastupdatedate = !isEmptyString($oline['lastupdatedate']) ? formatDateAndTime($oline['lastupdatedate'], true) : formatDateAndTime($oline['datecreated'], true) ;
                    
                    $class = 'ContentFrame';
                    $indexurl = $this->baseUrl('programme/addcontent/id/'.encode($oline['id']).'/pgc/true/type/4/level/2/projectid/'.$projectid.'/successurl/'.$viewurl);
                    $deleteurl = $this->baseUrl('index/delete/id/'.encode($oline['id'])."/entityname/".$class."/successurl/".$viewurl."/src/1");
                ?>
                    <tr style="xfont-size:13px;">
                        <td class="nowrapping" style="font-weight:normal; background-color:#80c6ff;">Outcome <?php echo $oline['refno']?></td>
                        <td><?php echo nl2br($title).$linkages; ?></td>
                        <td class="nullifempty"><?php echo implode('<br>', $indicator_array); ?></td>
                        <td class="nowrapping nullifempty hide"><?php echo $lastupdatedate; ?></td>
                        <td>
                            <?php if($request->addresult == 'true') { ?>
                                <div class="btn-group gridactions" style="z-index:1000;">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle xnoround" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                                    <ul class="dropdown-menu listtype" role="menu">
                                        <?php if($allowedit) { ?>
                                            <li><a class="btn noreloadpopup" href="<?php echo $indexurl; ?>" rel="Edit Outcome" title="Edit Outcome" formtitle="indexform" successurl="<?php echo decode($viewurl); ?>" action="<?php echo $this->baseUrl("programme/processcontent"); ?>">Edit</a></li>
                                        <?php } ?>
                                        <?php if($allowdelete){ ?>
                                            <li><a class="deleteline gonowhere" action="<?php echo $deleteurl; ?>" src="1" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a>
                                            </li>
                                        <?php } ?>
                                    </ul>
                                </div>
                            <?php } ?>
                        </td>
                    </tr>
                    <!--Output lines-->
                    <?php 
                        $output_query = "SELECT o.id, o.title, o.refno, o.cspid, o.mov, o.assumptions, o.projectid, o.createdby, o.lastupdatedby, o.datecreated, o.lastupdatedby from content_logframe o WHERE o.type = '".$type."' AND o.level = 3 AND o.parentid = '".$oline['id']."' AND o.projectid = '".$projectid."' AND o.cspid = 1 order by CAST(o.refno as unsigned)"; // debugMessage($output_query);
                        $output_result = $conn->fetchAll($output_query);
                        
                    ?>
                    <?php if(count($output_result) > 0){ ?>
                        <?php foreach($output_result as $oline_output){ 
                            $title = preg_replace( '/[^[:print:]]/', '',$oline_output['title']);
                            
                            $indicator_output_str = ''; $indicator_output_array = array(); 
                            $ind_output_query = "SELECT i.id, i.title, i.refno from indicator i inner join content_logframe c on i.contentid = c.id WHERE i.contentid = '".$oline_output['id']."' AND i.projectid = '".$projectid."' order by i.refno";
                            $ind_output_result = $conn->fetchAll($ind_output_query); // debugMessage($ind_result);
                            
                            foreach($ind_output_result as $indicator_output){
                                $indicator_output_array[] = $indicator_output['refno'].' &nbsp; '.$indicator_output['title'];
                            }
                            $lastupdatedate = !isEmptyString($oline_output['lastupdatedate']) ? formatDateAndTime($oline_output['lastupdatedate'], true) : formatDateAndTime($oline_output['datecreated'], true) ;
                            
                            $class = 'ContentFrame';
                            $indexurl = $this->baseUrl('programme/addcontent/id/'.encode($oline_output['id']).'/pgc/true/type/4/level/3/projectid/'.$projectid.'/successurl/'.$viewurl);
                            $deleteurl = $this->baseUrl('index/delete/id/'.encode($oline_output['id'])."/entityname/".$class."/successurl/".$viewurl."/src/1");
                        ?>
                            <tr style="xfont-size:13px;">
                                <td class="nowrapping nullifempty notbolded" style="font-weight:normal; background-color:#cce8ff;">Output <?php echo $oline_output['refno']; ?></td>
                                <td class="nullifempty"><?php echo nl2br($title); ?></td>
                                <td class="nullifempty"><?php echo implode('<br>', $indicator_output_array); ?></td>
                                <td class="nowrapping nullifempty hide"><?php echo $lastupdatedate; ?></td>
                                <td>
                                    <?php if($request->addresult == 'true') { ?>
                                        <div class="btn-group gridactions" style="z-index:1000;">
                                            <button type="button" class="btn btn-default btn-sm dropdown-toggle xnoround" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                                            <ul class="dropdown-menu listtype" role="menu">
                                                <?php if($allowedit) { ?>
                                                    <li><a class="btn noreloadpopup" href="<?php echo $indexurl; ?>" rel="Edit Output" title="Edit Output" formtitle="indexform" successurl="<?php echo decode($viewurl); ?>" action="<?php echo $this->baseUrl("programme/processcontent"); ?>">Edit</a></li>
                                                <?php } ?>
                                                <?php if($allowdelete){ ?>
                                                    <li><a class="deleteline gonowhere" action="<?php echo $deleteurl; ?>" src="1" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a>
                                                    </li>
                                                <?php } ?>
                                            </ul>
                                        </div>
                                    <?php } ?>
                                </td>
                            </tr>
                        <?php } ?>
                    <?php } ?>
                 <?php } ?>   
            <?php } ?>
        <?php } ?>
        <!--Activities planned-->
        <?php
            $activitytypes = getDatavariablesWithOdering("PROJECT_ACTIVITY_TYPES"); 
            $activity_query = "SELECT o.id, o.title, o.refno, p.refno as prefno, o.type, o.projectid, o.outputid, o.createdby, o.lastupdatedby, o.datecreated, o.lastupdatedby from activity o inner join project p on o.projectid = p.id WHERE  o.projectid = '".$projectid."' order by o.refno"; // debugMessage($output_query);
            $activity_result = $conn->fetchAll($activity_query);
        ?>
        <?php if(count($activity_result) > 0){ ?>
            <tr style="font-size:13px; color:#fff; background-color:#666; font-weight:bold;">
                <td class="nowrapping nullifempty notbolded"></td>
                <td class="nullifempty">Activities</td>
                <td class="nullifempty">Output(s)</td>
                <td class="nowrapping hide"></td>
                <td></td>
            </tr>
            <?php foreach($activity_result as $activity_output){ 
                $title = preg_replace( '/[^[:print:]]/', '',$activity_output['title']);
                $outputlist = '';
                if(!isEmptyString($activity_output['outputid'])){
                    $query = "select concat(c.refno, ' ', c.title) as outputnos from content_logframe c where c.projectid = '".$projectid."' AND c.level = 3 AND c.id in(".$activity_output['outputid'].") order by CAST(c.refno as unsigned) ";
                    $outresult = $conn->fetchAll($query);
                    if(count($outresult) > 0){
                        foreach ($outresult as $key => $dat){
                            $outputlist .= $dat['outputnos'].'<br>';
                        }
                    }
                    
                }
                $lastupdatedate = !isEmptyString($activity_output['lastupdatedate']) ? formatDateAndTime($activity_output['lastupdatedate'], true) : formatDateAndTime($activity_output['datecreated'], true) ;
                
                $class = 'Activity';
                $indexurl = $this->baseUrl('programme/addcontent/id/'.encode($activity_output['id']).'/pgc/true/type/4/level/4/projectid/'.$projectid);
                $deleteurl = $this->baseUrl('index/delete/id/'.encode($activity_output['id'])."/entityname/".$class."/successurl/".$viewurl."/src/1");
            ?>
                <tr style="xfont-size:13px;">
                    <td class="nowrapping nullifempty notbolded" style="background-color:#cce8ff;"><?php echo $activity_output['prefno'].'-'.$activity_output['refno']; ?></td>
                    <td class="nullifempty"><?php echo nl2br($title); ?></td>
                    <td class="nullifempty"><?php echo $outputlist; ?></td>
                    <td class="nowrapping hide nullifempty"><?php echo $lastupdatedate; ?></td>
                    <td>
                        <?php if($request->addresult == 'true') { ?>
                            <div class="btn-group gridactions" style="z-index:1000;">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle xnoround" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                                <ul class="dropdown-menu listtype" role="menu">
                                    <?php if($allowedit) { ?>
                                        <li><a class="btn noreloadpopup" href="<?php echo $indexurl; ?>" rel="Edit Activity" title="Edit Activity" formtitle="indexform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("programme/processcontent"); ?>">Edit</a></li>
                                    <?php } ?>
                                    <?php if($allowdelete){ ?>
                                        <li><a class="deleteline gonowhere" action="<?php echo $deleteurl; ?>" src="1" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a>
                                        </li>
                                    <?php } ?>
                                </ul>
                            </div>
                        <?php } ?>
                    </td>
                </tr>
            <?php } ?>
        <?php } ?>
    </tbody>
</table>
<?php 
	$session->setVar(ERROR_MESSAGE, ""); 
	$session->setVar(SUCCESS_MESSAGE, ""); 
?>