<ul class="nav nav-tabs">    
    <li class="issues <?php echo $widget == 'issues' ? 'active' : ''; ?>">
        <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/id/'.encode($project->getID()).'/tab/'.$tab.'/section/view/widget/issues'); ?>" goto="<?php echo $this->baseUrl($controller.'/'.$action.'/id/'.encode($project->getID()).'/tab/'.$tab.'/section/view/widget/issues'); ?>" theid="issues"><span class="xvisible-xs"><i class="fa fa-tasks"></i></span><span class="hidden-xs"> Issues Log</span>
        </a>
    </li>
    <li class="risks <?php echo $widget == 'risks' ? 'active' : ''; ?>">
        <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/id/'.encode($project->getID()).'/tab/'.$tab.'/section/view/widget/risks'); ?>" goto="<?php echo $this->baseUrl($controller.'/'.$action.'/id/'.encode($project->getID()).'/tab/'.$tab.'/section/view/widget/risks'); ?>" theid="risks"><span class="xvisible-xs"><i class="fa fa-list-alt"></i></span><span class="hidden-xs"> Risk Register</span>
        </a>
    </li>
    <input type="hidden" name="source" id="source" value="<?php echo $section; ?>" />
</ul>
<div class="divider10"></div>
<div class="row makerelative">
    <?php if($request->widget == 'issues' || isEmptyString($request->widget)){ ?>
    	<?php if($section == 'view'){ ?>
    		<div class="col-sm-12"><?php require_once APPLICATION_PATH.'/views/scripts/issuetracking/list.phtml'; ?></div>
        <?php } ?>
        <?php if($section == 'viewissue'){ ?>
    		<div class="col-sm-12"><?php require_once APPLICATION_PATH.'/views/scripts/issuetracking/view.phtml'; ?></div>
        <?php } ?>   
        <?php if($section == 'addissue'){ ?>
			<div class="col-sm-12"><?php require_once APPLICATION_PATH.'/views/scripts/issuetracking/index.phtml'; ?></div>
		<?php } ?>
    <?php } ?>
	<?php if($request->widget == 'risks'){ ?>
    	<?php if($section == 'view'){ ?>
        	<div class="col-sm-12"><?php require_once APPLICATION_PATH.'/views/scripts/risk/list.phtml'; ?></div>
        <?php } ?>
        <?php if($section == 'viewrisk'){ ?>
            <div class="col-sm-12"><?php require_once APPLICATION_PATH.'/views/scripts/risk/view.phtml'; ?></div>
        <?php } ?>
        <?php if($section == 'addrisk'){ ?>
			<div class="col-sm-12"><?php require_once APPLICATION_PATH.'/views/scripts/risk/index.phtml'; ?></div>
		<?php } ?>
    <?php } ?>
</div>    