<div class="row">
    <div class="col-sm-9 paddingleft0">   
        <ul class="resetlist listactions">
            <li style="width:170px;"><label style="margin-bottom:0; margin-top:0; font-size:12px !important;">Search By</label></li>
            <li style="width:170px;"><label style="margin-bottom:0; margin-top:0; font-size:12px !important;">Condition</label></li>
            <li style="width:200px;"><label style="margin-bottom:0; margin-top:0; font-size:12px !important;">Values / Range</label></li>
        </ul>
        <div class="divider2"></div>
        <?php for($i = 1; $i <=$maxfilters; $i++){ ?>
            <ul class="resetlist listactions <?php echo $i < ($rowcount) || $i == 1 ? 'visible_row_ref' : 'hidden_row_ref'; ?>" style="margin-bottom:0;">
                <li style="width:170px;">
                    <?php
                        $dropdown = new Zend_Form_Element_Select('attr_'.$i,
                                            array(
                                                'multiOptions' => array_merge_maintain_keys(array('' => 'Select'), $attributes),
                                                'view' => new Zend_View(),
                                                'decorators' => array('ViewHelper'),
                                                'class' => array("form-control","input-sm")
                                            )
                        );  
                        $dropdown->setValue($request->{'attr_'.$i}); 
                        echo $dropdown->render();
                    ?>
                </li>
                <li style="width:170px;">
                    <?php
                        $dropdown = new Zend_Form_Element_Select('condition_'.$i,
                                            array(
                                                'multiOptions' => array_merge_maintain_keys(array('' => 'Select'), $conditions),
                                                'view' => new Zend_View(),
                                                'decorators' => array('ViewHelper'),
                                                'class' => array("form-control","input-sm")
                                            )
                        );  
                        $dropdown->setValue($request->{'condition_'.$i}); 
                        echo $dropdown->render();
                    ?>
                </li>
                <li style="width:200px;">
                    <input type="text" name="value_<?php echo $i; ?>" id="value_<?php echo $i; ?>" value="<?php echo $request->{'value_'.$i}; ?>" class="form-control values values_<?php echo $i; ?> input-sm" />
                    <span id="selects_<?php echo $i; ?>">
                        <?php
                            $dropdown = new Zend_Form_Element_Select('supplierid_'.$i,
                                                array(
                                                    'multiOptions' => array_merge_maintain_keys(array('' => 'Filter by Supplier'), $suppliers),
                                                    'view' => new Zend_View(),
                                                    'decorators' => array('ViewHelper'),
                                                    'class' => array("form-control","input-sm","xchosen-select","selects","selects_".$i)
                                                )
                            );  
                            $dropdown->setValue($request->{'supplierid_'.$i}); 
                            echo $dropdown->render();
                        ?>
                        <?php
                            $dropdown = new Zend_Form_Element_Select('enterpriseid_'.$i,
                                                array(
                                                    'multiOptions' => array_merge_maintain_keys(array('' => 'Filter by Enterprise'), $enterprises),
                                                    'view' => new Zend_View(),
                                                    'decorators' => array('ViewHelper'),
                                                    'class' => array("form-control","input-sm","selects","selects_".$i)
                                                )
                            );  
                            $dropdown->setValue($request->{'enterpriseid_'.$i}); 
                            echo $dropdown->render();
                        ?>
                        <?php
                            $dropdown = new Zend_Form_Element_Select('status_'.$i,
                                                array(
                                                    'multiOptions' => array_merge_maintain_keys(array('' => 'Filter by Status'), $contractstatuses),
                                                    'view' => new Zend_View(),
                                                    'decorators' => array('ViewHelper'),
                                                    'class' => array("form-control","input-sm","selects","selects_".$i)
                                                )
                            );  
                            $dropdown->setValue($request->{'status_'.$i}); 
                            echo $dropdown->render();
                        ?>
                        <?php
                            $dropdown = new Zend_Form_Element_Select('method_'.$i,
                                                array(
                                                    'multiOptions' => array_merge_maintain_keys(array('' => 'Filter by Method'), $methods),
                                                    'view' => new Zend_View(),
                                                    'decorators' => array('ViewHelper'),
                                                    'class' => array("form-control","input-sm","selects","selects_".$i)
                                                )
                            );  
                            $dropdown->setValue($request->{'method_'.$i}); 
                            echo $dropdown->render();
                        ?>
                        <?php
                            $dropdown = new Zend_Form_Element_Select('createdby_'.$i,
                                                array(
                                                    'multiOptions' => array_merge_maintain_keys(array('' => 'Filter by User'), $users),
                                                    'view' => new Zend_View(),
                                                    'decorators' => array('ViewHelper'),
                                                    'class' => array("form-control","input-sm","selects","selects_".$i)
                                                )
                            );  
                            $dropdown->setValue($request->{'createdby_'.$i}); 
                            echo $dropdown->render();
                        ?>
                        <?php
                            $dropdown = new Zend_Form_Element_Select('managerid_'.$i,
                                                array(
                                                    'multiOptions' => array_merge_maintain_keys(array('' => 'Filter by User'), $users),
                                                    'view' => new Zend_View(),
                                                    'decorators' => array('ViewHelper'),
                                                    'class' => array("form-control","input-sm","selects","selects_".$i)
                                                )
                            );  
                            $dropdown->setValue($request->{'managerid_'.$i}); 
                            echo $dropdown->render();
                        ?>
                        
                    </span>
                    <span id="dates_<?php echo $i; ?>">
                        <input type="text" name="startdate_<?php echo $i; ?>" id="startdate_<?php echo $i; ?>" class="form-control input-sm ordinary inline width90 dates dates_<?php echo $i; ?> xreadonly input-sm" value="<?php echo $request->{'startdate_'.$i}; ?>" placeholder="From" /> &nbsp;
                        <input name="enddate_<?php echo $i; ?>" id="enddate_<?php echo $i; ?>" type="text" class="form-control input-sm  ordinary inline width90 dates dates_<?php echo $i; ?> xreadonly input-sm " value="<?php echo $request->{'enddate_'.$i}; ?>" placeholder="To" />
                    </span>
                </li>
               <li style="width:40px; font-size:12px;">and</li>
            </ul>
            <div class="divider2"></div>
        <?php } ?>
        <div class="divider1"></div>
        <a id="ref" class="addline gonowhere btn btn-default btn-xs" style="font-size:11px;">Add condition</a>&nbsp
        <div id="listpagerrors" class="lineblocked nowrapping"></div>
        <div class="divider10"></div>
        <div style="right:70px; bottom:-3px;" class="makeabsolute">
	        <button type="submit" class="btn btn-primary btn-sm" id="filter"><i class="fa fa-filter"></i> Search</button> &nbsp;
	        <a class="btn btn-default btn-sm" title="Reset List" href="<?php echo $listurl; ?>"><i class="ion-refresh"></i></a>&nbsp
       	</div>
    </div>
    <div class="col-sm-3 makerelative">    
        
    </div>
</div>