<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$project = new Project();
	$theid = is_numeric($request->id) ? $request->id : decode($request->id);
    $project->populate($theid); $entity = $project;
	$id = $project->getID();
	
	$posturl = '';
	$formid = 'viewform';
	$formmethod = 'post';
	$type = '';
	$resource = 'Project';
	$allowedit = false; $allowdelete = false;
	$indexacl = 'index'; $updateacl = 'update'; $viewacl = 'list'; $deleteacl = 'delete';
	
	$tab = trim($request->tab); $section = trim($request->section); $widget = trim($request->widget);
	if(isEmptyString($tab)){
		$tab = 'overview';
	}
	if(isEmptyString($section)){
		$section = 'view';
		if($tab == 'results'){
			$section = 'logframe';
			$type = 4;
		}
		if($tab == 'activity'){
			$section = 'list';
		}		
	}
	$year = $request->fyear;
	if(isEmptyString($request->fyear)){
		$year = getActiveMilestone();
	}
	if($section == 'outputplan'){
		
	}
	if(isEmptyString($widget)){
		$widget = 'list';
		if($tab == 'data'){
			$widget = "submissions";
		}
		if($tab == 'raid'){
			$widget = "issues";
		}
	}
	if($widget == 'add'){
		$posturl = $this->baseUrl("indicator/create");
		if(!isEmptyString($request->vid)){
			$posturl = $this->baseUrl("indicator/edit");
		}
	}
	
	$entityname = "Project";
	$listitems = "Projects";
	$listurl = $this->baseUrl('project/list');
	$viewurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$tab.'/section/'.$section);
	
	$indexurl = $this->baseUrl('project/index/id/'.encode($project->getID()));
	$title = $pagetitle = "Project No# ".$project->getRefNo();

	// check for permissions
	if($acl->checkPermission($resource, $updateacl)){
		$allowedit = true;
	}
	if($acl->checkPermission($resource, $deleteacl)){
		$allowdelete = true;
	}
	
	$conn = Doctrine_Manager::connection(); 
	
	$projectdetails =  $project->getProjectDetails();
	$nooflines = $projectdetails->count();
	
	$users = getUsers(); 
	$projecttypes = getDatavariables('PROJECT_TYPES');
	$categories = getDatavariables('PROJECT_CATEGORIES');
	$projectstatus = getDatavariables('PROJECT_STATUS');
	$projectphases = getDatavariables('PROJECT_PHASES');
	$indicatorgroups = getDatavariablesWithOdering("INDICATOR_UNITS");
	$fyears = getMilestonePeriods(1);
	$currencies = getDatavariables('CURRENCIES');
	$locations = getDistricts();
	$program_units = getProgramUnits();
	
	
	$pageid = "project_view";
	$this->headTitle($title.$browserappend);
?>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $pagetitle; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$listitems.' / Details'; ?>');
	
});
</script>
<style>

</style>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div class="row" id="contentarea">
    <div class="col-md-12 form-horizontal">
        <!--<form id="<?php //echo $formid; ?>" role="form" class="form-horizontal" method="<?php //echo $formmethod; ?>" action="<?php //echo $posturl; ?>" <?php //echo $multipart; ?>>-->
        	
            <input type="hidden" name="tab" id="tab" value="<?php echo $tab; ?>" />
            <input type="hidden" name="section" id="section" value="<?php echo $section; ?>" />
            <input type="hidden" name="widget" id="widget" value="<?php echo $widget; ?>" />
            <input type="hidden" name="view" id="view" value="<?php echo $request->view; ?>" />
            <div class="panel panel-color panel-primary">
                <?php if(!$isprint){ ?>
                    <div class="panel-heading">
                        <h3 class="panel-title lineblocked whitelink" style="text-transform:none;"><?php echo snippet($project->getName(), '120', '..'); ?></h3>
                        <div class="portlet-widgets lineblocked floatright">
                            <a href="<?php echo $listurl; ?>" class="btn btn-default btn-xs" title="<?php echo $listitems; ?>"> <i class="fa fa-arrow-right"></i> List Projects</a>
                        </div>
                    </div>
                <?php } ?>
                <div class="panel-body">
    				<div class="row">
                    	<?php if(!$isprint){ ?>
                        <ul class="nav nav-tabs">
                            <li class="overview <?php echo $tab == 'overview' ? 'active' : ''; ?>">
                                <a href="#overview" data-toggle="tab" aria-expanded="<?php echo $tab == 'overview' ? 'true' : 'false'; ?>" theid="overview" goto="<?php echo $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/overview'); ?>"><span class="xvisible-xs"><i class="fa fa-home"></i></span> &nbsp;<span class="hidden-xs">About</span></a>
                            </li>
                            <li class="results <?php echo $tab == 'results' ? 'active' : ''; ?>">
                                <a href="#results" data-toggle="tab" aria-expanded="<?php echo $tab == 'results' ? 'true' : 'false'; ?>" theid="results" goto="<?php echo $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/results'); ?>"><span class="xvisible-xs"><i class="fa fa-table"></i></span> &nbsp;<span class="hidden-xs">Results Planning</span>
                                </a>
                            </li>
                           	<li class="indicators <?php echo $tab == 'indicators' ? 'active' : ''; ?>">
                                <a href="#indicators" data-toggle="tab" aria-expanded="<?php echo $tab == 'indicators' ? 'true' : 'false'; ?>" theid="indicators" goto="<?php echo $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/indicators'); ?>"><span class="xvisible-xs"><i class="fa fa-list-ul"></i></span> &nbsp;<span class="hidden-xs">Indicators</span>
                                </a>
                            </li>
                            <li class="activity hide <?php echo $tab == 'activity' ? 'active' : ''; ?>">
                                <a href="#activity" data-toggle="tab" aria-expanded="<?php echo $tab == 'activity' ? 'true' : 'false'; ?>" theid="activity" goto="<?php echo $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/activity'); ?>"><span class="xvisible-xs"><i class="fa fa-pencil"></i></span> &nbsp;<span class="hidden-xs">Activities</span>
                                </a>
                            </li>
                            <li class="data <?php echo $tab == 'data' ? 'active' : ''; ?>">
                                <a href="#data" data-toggle="tab" aria-expanded="<?php echo $tab == 'data' ? 'true' : 'false'; ?>" theid="data" goto="<?php echo $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/data'); ?>"><span class="xvisible-xs"><i class="fa fa-signal"></i></span> &nbsp;<span class="hidden-xs">Progress & Results</span>
                                </a>
                            </li>
                            <li class="raid <?php echo $tab == 'raid' ? 'active' : ''; ?>">
                                <a href="#raid" data-toggle="tab" aria-expanded="<?php echo $tab == 'raid' ? 'true' : 'false'; ?>" theid="raid" goto="<?php echo $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/raid'); ?>"><span class="xvisible-xs"><i class="fa fa-filter"></i></span> &nbsp;<span class="hidden-xs">Risk & Issue Tracking</span>
                                </a>
                            </li>
                            <li class="documents <?php echo $tab == 'library' ? 'active' : ''; ?>">
                                <a href="#library" data-toggle="tab" aria-expanded="<?php echo $tab == 'library' ? 'true' : 'false'; ?>" theid="library" goto="<?php echo $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/library'); ?>"><span class="xvisible-xs"><i class="fa fa-folder-open"></i></span> &nbsp;<span class="hidden-xs">Library</span></a>
                            </li>
                            <li class="account <?php echo $tab == 'account' ? 'active' : ''; ?>">
                                <a href="#account" data-toggle="tab" aria-expanded="<?php echo $tab == 'account' ? 'true' : 'false'; ?>" theid="account" goto="<?php echo $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/account'); ?>"><span class="xvisible-xs"><i class="fa fa-cogs"></i></span> &nbsp;<span class="hidden-xs">Account</span></a>
                            </li>
                        </ul>
                        <?php } ?>
                        <div class="tab-content minheight300">
                    		<div class="tab-pane <?php echo $tab == 'overview' ? 'active' : ''; ?>" id="overview">
                                <div class="row-fluid">
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">Title:</label>
                                            <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo $project->getTitle(); ?></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">Description: </label>
                                            <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo nl2br($project->getDescription()); ?></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">Program:</label>
                                            <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo getCommaListFromValues($project->getProgramID(), getPrograms()); ?></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">Program Units:</label>
                                            <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo $project->getUnitsLabel(); ?></p></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">Category:</label>
                                            <div class="col-sm-12"><p class="form-control-static nullifempty padding0"><?php echo isArrayKeyAnEmptyString($project->getcategory(), $categories) ? '' : $categories[$project->getcategory()]; ?></p></div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-5">
                                        <?php if($allowedit) { ?>	
                                            <a class="btn btn-primary btn-xs floatright" href="<?php echo $this->baseUrl($controller.'/index/id/'.encode($project->getID())); ?>"><i class="fa fa-edit"></i> Edit Project Info</a>
                                            <div class="divider2"></div>
                                        <?php } ?>
                                        <div class="panel panel-default panel-border">
                                            <div class="panel-heading">
                                                <h3 class="panel-title section">Summary</h3>
                                            </div>
                                            <div class="panel-body summaryinfo">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Project Type:</label>
                                                    <div class="col-sm-8"><p class="form-control-static nullifempty padding0"><?php echo isArrayKeyAnEmptyString($project->gettype(), $projecttypes) ? '' : $projecttypes[$project->gettype()]; ?></p></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Bundle No#:</label>
                                                    <div class="col-sm-8"><p class="form-control-static nullifempty padding0"><?php echo $project->getRefNo(); ?></p></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Start Date:</label>
                                                    <div class="col-sm-8"><p class="form-control-static nullifempty padding0"><?php echo changeMySQLDateToPageFormat($project->getstartdate()); ?></p></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">End Date:</label>
                                                    <div class="col-sm-8"><p class="form-control-static nullifempty padding0"><?php echo changeMySQLDateToPageFormat($project->getEnddate()); ?></p></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Status:</label>
                                                    <div class="col-sm-8"><p class="form-control-static nullifempty padding0"><?php echo isArrayKeyAnEmptyString($project->getstatus(), $projectstatus) ? '' : $projectstatus[$project->getstatus()]; ?></p></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Current Phase:</label>
                                                    <div class="col-sm-8"><p class="form-control-static nullifempty padding0"><?php echo isArrayKeyAnEmptyString($project->getphasestatus(), $projectphases) ? '' : $projectphases[$project->getphasestatus()]; ?></p></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Budget Cost <?php echo isArrayKeyAnEmptyString($project->getcurrency(), $currencies) ? '' : '('.$currencies[$project->getcurrency()].')'; ?>:</label>
                                                    <div class="col-sm-8"><p class="form-control-static nullifempty padding0"><?php echo formatNum($project->getcost()); ?></p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider5"></div>
                                <div class="panel panel-default panel-border">
                                    <div class="panel-heading">
                                        <h3 class="panel-title section">Project Outline Details</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row-fluid">
                                            <table class="table table-hover table-nomargin table-striped table-hover table-bordered" style="font-size:12px !important;">
                                                <thead>
                                                    <tr>
                                                        <th style="width:130px;">Project No#</th>
                                                        <th style="width:15%;">Programme Unit</th>
                                                        <th>Project Locations</th>
                                                        <th style="width:18%;">PU Focal Person</th>
                                                        <th style="width:14%;">Start Date</th>
                                                        <th style="width:14%;">End Date</th>
                                                        <th style="width:10%;">PO Budget <?php echo isArrayKeyAnEmptyString($project->getcurrency(), $currencies) ? '' : '('.$currencies[$project->getcurrency()].')'; ?></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                	<?php 
														foreach($projectdetails as $projectline){
															$proglocations = ''; $proglocations_array = array();
															if(!isEmptyString($projectline->getprogram_locations())){
																$district_array = array_remove_empty(explode(',', str_replace(' ', '', $projectline->getprogram_locations()))); // debugMessage($units_array);
																foreach($district_array as $did){
																	if(!isArrayKeyAnEmptyString($did, $locations)){
																		$proglocations_array[] = $locations[$did];
																	}
																}
																$proglocations = createHTMLCommaListFromArray($proglocations_array, ', ');
															}
													?>
														<tr>
															<td><?php echo $projectline->getRefNo(); ?></td>
															<td><?php echo isArrayKeyAnEmptyString($projectline->getProgram_Unit(), $program_units) ? '' : $program_units[$projectline->getProgram_Unit()]; ?></td>
															<td><?php echo $proglocations; ?></td>
                                                            <td><?php echo isArrayKeyAnEmptyString($projectline->getOwnerID(), $users) ? '' : $users[$projectline->getOwnerID()]; ?></td>
															<td><?php echo changeMySQLDateToPageFormat($projectline->getstartdate()); ?></td>
															<td><?php echo changeMySQLDateToPageFormat($projectline->getenddate()); ?></td>
                                                            <td><?php echo formatNum($projectline->getCost()); ?></td>
														</tr>
													<?php } ?>
                                                </tbody>
                                            </table>
                                            <?php if(count($projectdetails) == 0){ ?>
                                            	<div class="alert alert-warning">None available</div>
                                            <?php } ?>
                                        </div>
                                    </div>
                              	</div>
                                <?php if(false){ ?>
                                <div class="row hidden">
                                    <div class="col-md-12" style="font-size:12px !important;">
                                        <div class="card-box p-t-10 p-b-10 clearfix">
                                            <div class="form-group m-b-0 clearfix">
                                                <div class="col-sm-6">
                                                    <div class="form-group" style="margin-bottom:4px;">
                                                        <label class="col-sm-3 control-label" style="font-size:12px !important;">Date Created:</label>
                                                        <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo isEmptyString($entity->getDateCreated()) ? '' : formatDateAndTime($entity->getDateCreated(), false); ?></div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:4px;">
                                                        <label class="col-sm-3 control-label" style="font-size:12px !important;">Created By:</label>
                                                        <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo $entity->getCreator()->getName(); ?></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group" style="margin-bottom:4px;">
                                                        <label class="col-sm-3 control-label" style="font-size:12px !important;">Last Modified:</label>
                                                        <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo isEmptyString($entity->getLastUpdateDate()) ? '' : formatDateAndTime($entity->getLastUpdateDate(), false); ?></div>
                                                    </div>
                                                    <div class="form-group" style="margin-bottom:4px;">
                                                        <label class="col-sm-3 control-label" style="font-size:12px !important;">Modified By:</label>
                                                        <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo $entity->getupdator()->getName(); ?></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                         		<?php } ?>
                            </div>
                            <div class="tab-pane <?php echo $tab == 'results' ? 'active' : ''; ?>" id="results">
                                <?php if($tab == 'results'){ ?>
                                    <?php require APPLICATION_PATH."/views/scripts/project/framework.phtml"; ?>
                                <?php } ?>
                           	</div>
                            <div class="tab-pane <?php echo $tab == 'indicators' ? 'active' : ''; ?>" id="indicators">
                                <?php if($tab == 'indicators'){ ?>
									<?php require APPLICATION_PATH."/views/scripts/project/indicator.phtml"; ?>
                                <?php } ?>
                          	</div>
                            <div class="tab-pane <?php echo $tab == 'activity' ? 'active' : ''; ?>" id="activity">
								<?php if($tab == 'activity'){ ?>
                                	<?php require APPLICATION_PATH."/views/scripts/project/activity.phtml"; ?>
                                <?php } ?>
                          	</div>
                            <div class="tab-pane <?php echo $tab == 'data' ? 'active' : ''; ?>" id="data">
                                <?php if($tab == 'data'){ ?>
                            		<?php require APPLICATION_PATH."/views/scripts/project/data.phtml"; ?>
                                <?php } ?>
                          	</div>
                            <div class="tab-pane <?php echo $tab == 'raid' ? 'active' : ''; ?>" id="risk">
                                <?php if($tab == 'raid'){ ?>
                                    <?php require APPLICATION_PATH."/views/scripts/project/raid.phtml"; ?>
                                <?php } ?>
                          	</div>
                            <div class="tab-pane <?php echo $tab == 'library' ? 'active' : ''; ?>" id="library">
                                <?php if($tab == 'library'){ ?>
                                	<?php require APPLICATION_PATH."/views/scripts/project/library.phtml"; ?>
                                <?php } ?>
                          	</div>
                            <div class="tab-pane <?php echo $tab == 'account' ? 'active' : ''; ?>" id="account">
                                <?php if($tab == 'account'){ ?>
                                	<div class="row m-t-10">
                                        <div class="col-md-6">
                                            <div class="text-left">
                                                <p class="text-muted font-13"><strong class="col-sm-3">Current Status:</strong> <span class="m-l-15"><?php echo isArrayKeyAnEmptyString($project->getstatus(), $projectstatus) ? '' : $projectstatus[$project->getstatus()]; ?></span></p>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-md-12" style="font-size:12px !important;">
                                            <div class="card-box p-t-10 p-b-10 clearfix">
                                                <div class="form-group m-b-0 clearfix">
                                                    <div class="col-sm-6">
                                                        <div class="form-group" style="margin-bottom:4px;">
                                                            <label class="col-sm-3 control-label" style="font-size:12px !important;">Date Created:</label>
                                                            <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo isEmptyString($entity->getDateCreated()) ? '' : formatDateAndTime($entity->getDateCreated(), false); ?></div>
                                                        </div>
                                                        <div class="form-group" style="margin-bottom:4px;">
                                                            <label class="col-sm-3 control-label" style="font-size:12px !important;">Created By:</label>
                                                            <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo $entity->getCreator()->getName(); ?></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group" style="margin-bottom:4px;">
                                                            <label class="col-sm-3 control-label" style="font-size:12px !important;">Last Modified:</label>
                                                            <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo isEmptyString($entity->getLastUpdateDate()) ? '' : formatDateAndTime($entity->getLastUpdateDate(), false); ?></div>
                                                        </div>
                                                        <div class="form-group" style="margin-bottom:4px;">
                                                            <label class="col-sm-3 control-label" style="font-size:12px !important;">Modified By:</label>
                                                            <div class="col-sm-9 nullifempty" style="font-size:11px !important;"><?php echo $entity->getupdator()->getName(); ?></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider20"></div>
                                    <div class="row m-t-10">
                                        <div class="col-md-12">
                                            <?php if($acl->checkPermission($resource, 'delete')){ ?>
                                                <a class="btn btn-sm btn-danger confirm-dialog inline" message="<?php echo $this->translate('global_delete_confirm_message'); ?>" action="<?php echo $this->baseUrl($controller.'/delete/id/'.encode($project->getID())."/entityname/Project/successurl/".encode($listurl)); ?>">Delete Project</a> &nbsp;
                                            <?php } ?>
                                            
                                        </div>
                                    </div>
                                <?php } ?>
                          	</div>
                        </div>
                    </div>
               	</div>
         	</div>
      	<!--</form>-->
   	</div>
</div>    
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
