<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$contact = new Contact(); 
	$id = is_numeric($request->id) ? $request->id : decode($request->id);
	
	if(isEmptyString($request->id)){
		$pagetitle = 'New Contact';
		$button_title = "Save"; 
		$successmessage = "Successfully saved";
		$posturl = $this->baseUrl("contact/create");
		$contact->setStatus('1');
		$contact->setType('1');
		$contact->setContactType('1');
	} else {
		$contact->populate(decode($request->id));
		$pagetitle = 'Edit Contact';
		$button_title = "Save Changes";
		$successmessage = "Successfully updated";
		$posturl = $this->baseUrl("contact/create");
	}
	
	$successurl = $this->baseUrl('contact/view');
	$addnewsuccessurl = $this->baseUrl('contact/index');
	$failureurl = $this->viewurl;
	
	#in case of errors in session, populate the fields from session
	if(!isEmptyString($session->getVar(ERROR_MESSAGE))){ 
		$contact->processPost($session->getVar(FORM_VALUES));	
	}
	
	$users = getUsers();
	$districts = getDistricts();	
	$contactcategories = getDatavariables('CONTACT_CATEGORIES'); 
	$countries = getCountries();
	
	$resource = "Contact";
	$description = 'Add new Contact to Directory';
	$icon = "fa fa-user";
	$pageid = "contact_index";
	$title = 'Contacts';
	$breadcrumb = $homedir.$title.' / '.$pagetitle;
	
	$this->headTitle($title.$browserappend);
?>
<script>
$(document).ready(function() {
	$('.titlebreadcrumb').html('<?php echo $breadcrumb; ?>');
	$('.titlelabel').html('<?php echo $title; ?>');
	$('.desclabel').html('<?php echo $description; ?>');
	$('.pageicon').html('<span class="<?php echo $icon; ?>"></span>');
	
	$("#indexform").validate({		
		// define the validation rules one field at a time
		rules: {
			firstname: "required",
			lastname: "required",
			orgname: "required",
			contactperson: "required",
			phone: {
				required: false
			},			
			gender: "required",
			salutation: "required",								
			email: {
				required:false
			},
			categoryid: "required",
			districtid: "required"
		}, 
		// the messages for each of the fields being validated
		messages: {		
			firstname: "Please enter First Name",
			lastname: "Please enter Last Name",
			orgname: "Please enter Name",
			contactperson: "Please enter Name",
			gender: "Please select Gender",
			title: "Please enter Title",		
			categoryid: "Please select a Category",
			districtid: "Please select Location"
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					if(element.hasClass("useid_error")){
						error.appendTo("#"+element.attr("id")+"_error");
					} else {
						error.appendTo("#"+element.attr("name")+"_error");
					}
					break;
			}			
		},
		ignore: ":hidden:not(select)"
	});
	
	// enable company fields
	$("#contacttype_1").click(function() {
		// show the person only fields
		enableContainerByClass("person");	
		disableContainerByClass("company");
	});
	// enable person fields
	$("#contacttype_2").click(function() {
		disableContainerByClass("person");	
		enableContainerByClass("company");			
	});

	//trigger a click action on the selected radio button to enable and disable the approprate fields
	<?php if($contact->getContactType() == 1){ ?>
		// show the person only fields
		$("#contacttype_1").click();
		enableContainerByClass("person");	
		disableContainerByClass("company");
	<?php } else { ?>
		// show the company only fields
		$("#contacttype_2").click();	
		disableContainerByClass("person");	
		enableContainerByClass("company");
	<?php } ?>
});
</script>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div id="<?php echo $pageid; ?>">
	<div class="row">
		<div class="col-sm-12">
        	<form class="form-horizontal" action="<?php echo $posturl; ?>" method="post" id="indexform">
                <div class="box">
                    <div class="box-title makerelative">
                        <h3><i class="<?php echo $icon; ?>"></i> <?php echo $pagetitle; ?></h3>
                        <div class="formactions makeabsolute">
                            <a class="btn cancel gonowhere" type="button"><?php echo $this->translate('global_button_cancel'); ?></a>
                            <button class="btn btn-primary btn-green changesuccessurl savebutton" type="submit" successurl="<?php echo encode($successurl); ?>"><?php echo $button_title; ?></button>
                        </div>
                    </div>
                    <div class="box-content">
                        <input name="entityname" id="entityname" type="hidden" value="Contact" />
                        <input type="hidden" id="id" name="id" value="<?php echo encode($contact->getID()); ?>" />
                        <input type="hidden" id="status" name="status" value="<?php echo $contact->getStatus(); ?>" />
                        <input name="successmessage" id="successmessage" type="hidden" value="<?php echo $successmessage; ?>" />  
                        <input type="hidden" id="<?php echo SUCCESS_MESSAGE; ?>" name="<?php echo SUCCESS_MESSAGE; ?>" value="<?php echo $successmessage; ?>" /> 
                        <input type="hidden" id="<?php echo URL_SUCCESS; ?>" name="<?php echo URL_SUCCESS; ?>" value="<?php echo encode($successurl); ?>" /> 
                        <input type="hidden" id="<?php echo URL_FAILURE; ?>" name="<?php echo URL_FAILURE; ?>" value="<?php echo encode($failureurl); ?>" /> 
                        <div class="row-fluid">
                    		<div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Type: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                    <div class="col-sm-8">
                                        <?php if(isEmptyString($contact->getID())){ ?>
                                            <label class="radio radio-inline"><input type="radio" name="contacttype" id="contacttype_1" value="1" <?php echo $contact->getContactType() == '1' ? 'checked="checked"' : ''; ?> /> Person</label>
                                            <label class="radio radio-inline"><input type="radio" name="contacttype" id="contacttype_2" value="2" <?php echo $contact->getContactType() == '2' ? 'checked="checked"' : ''; ?> /> Organization</label>
                                        <?php } else { ?>
                                            <?php echo $contact->getContactType() == '2' ? 'Organisation' : 'Person'; ?>
                                            <input type="hidden" id="contacttype" name="contacttype" value="<?php echo $contact->getContactType(); ?>" />
                                        <?php } ?>
                                        <div id="contacttype_error"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Category: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                    <div class="col-sm-8">
										<?php						  
                                            $dropdown = new Zend_Form_Element_Select('categoryid',
                                            array(
                                                'multiOptions' => array_merge_maintain_keys(array('' => "<Select One>"), $contactcategories),
                                                'view' => new Zend_View(), 
                                                'decorators' => array('ViewHelper'),
                                                'class' => array('form-control','input-sm')                                            	)
                                            );
                                            $dropdown->setValue($contact->getCategoryID()); 
                                            echo $dropdown->render(); 
                                        ?>
                                        <div id="categoryid_error"></div>
                                    </div>
                                </div>
                                <div class="form-group person">
                                    <label class="col-sm-4 control-label">First Name: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" name="firstname" id="firstname" value="<?php echo $contact->getFirstName(); ?>" />
                                        <div id="firstname_error"></div>
                                    </div>
                                </div>
                                <div class="form-group person">
                                    <label class="col-sm-4 control-label">Last Name: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" name="lastname" id="lastname" value="<?php echo $contact->getLastName(); ?>" />
                                        <div id="lastname_error"></div>
                                    </div>
                                </div>
                                <div class="form-group person">
                                    <label class="col-sm-4 control-label"><?php echo $this->translate('profile_gender_label'); ?>: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                    <div class="col-sm-8">
                                        <label class="radio radio-inline"><input type="radio" name="gender" id="gender_male" class="<?php echo $contact->isMale() ? 1 : 0; ?>" value="1" /> Male &nbsp;</label>
                                        <label class="radio radio-inline"><input type="radio" name="gender" id="gender_female" class="<?php echo $contact->isFemale() ? 1 : 0; ?>" value="2" /> Female</label>
                                        <div id="gender_error"></div>
                                    </div>
                                </div>
                                <div class="form-group company">
                                    <label class="col-sm-4 control-label">Name: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" name="orgname" id="orgname" value="<?php echo $contact->getOrgName(); ?>" />
                                        <div id="orgname_error"></div>
                                    </div>
                                </div>
                                <div class="form-group company">
                                    <label class="col-sm-4 control-label">Contact Person: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" name="contactperson" id="contactperson" value="<?php echo $contact->getcontactperson(); ?>" />
                                        <div id="contactperson_error"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Job Title: <?php echo $this->translate("global_required_field_marker"); ?></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" name="title" id="title" value="<?php echo $contact->getTitle(); ?>" />
                                        <div id="title_error"></div>
                                    </div>
                                </div>
                                <div class="form-group company">
                                    <label class="col-sm-4 control-label">Website:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" name="website" id="website" value="<?php echo $contact->getWebsite(); ?>" />
                                        <div id="website_error"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Notes:</label>
                                    <div class="col-sm-8">
                                         <textarea name="notes" id="notes" class="form-control input-sm expanding"><?php echo $contact->getNotes(); ?></textarea>
                                        <div id="notes_error"></div>
                                    </div>
                                </div>
                         	</div>
                            <div class="col-sm-6">
                            	<div class="form-group">
                                    <label class="col-sm-4 control-label">Phone No#:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control isnumber inline input-sm" name="phone" id="phone" value="<?php echo $contact->getPhone(); ?>" />
                                        <div id="phone_error"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Alt Phone No#:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control isnumber inline input-sm" name="phone2" id="phone2" value="<?php echo $contact->getPhone2(); ?>" />
                                        <div id="phone2_error"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Email:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control isvalidemail input-sm" name="email" id="email" value="<?php echo $contact->getEmail(); ?>" />
                                        <div id="email_error"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Alt Email:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control isvalidemail input-sm" name="email2" id="email2" value="<?php echo $contact->getEmail2(); ?>" />
                                        <div id="email2_error"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label"><?php echo $this->translate('profile_country_label'); ?>:</label>
                                    <div class="col-sm-8">
                                        <?php
                                            $dropdown = new Zend_Form_Element_Select('country',
                                                                array(
                                                                    'multiOptions' => array_merge_maintain_keys(array('' => "<Select One>"), $countries),
                                                                    'view' => new Zend_View(), 
                                                                    'decorators' => array('ViewHelper'),
                                                                    'class' => array('form-control','input-sm','chosen-select','width250')                                   	)
                                                            );
                                            $dropdown->setValue($contact->getCountry()); 
                                            echo $dropdown->render(); 
                                        ?><div id="country_error"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">District: </label>
                                    <div class="col-sm-8">
                                        <?php
                                            $dropdown = new Zend_Form_Element_Select('districtid',
                                                                array(
                                                                    'multiOptions' => array_merge_maintain_keys(array('' => "<Select One>"), $districts),
                                                                    'view' => new Zend_View(), 
                                                                    'decorators' => array('ViewHelper'),
                                                                    'class' => array('form-control','input-sm','chosen-select','width250')                                            	)
                                                            );
                                            $dropdown->setValue($contact->getDistrictID()); 
                                            echo $dropdown->render(); 
                                        ?><div id="districtid_error"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label"><?php echo $this->translate('profile_address_label'); ?>:</label>
                                    <div class="col-sm-8">
                                        <textarea name="address" id="address" class="form-control input-sm expanding"><?php echo $contact->getAddress(); ?></textarea>
                                    </div>
                                </div>
                            </div>
                      	</div>
                        <div class="col-sm-12 padding0">
                        	<div class="form-actions testborder rightalign">
                                <a class="btn cancel gonowhere" type="button"><?php echo $this->translate('global_button_cancel'); ?></a>
                                <button class="btn btn-primary btn-green changesuccessurl savebutton" type="submit" successurl="<?php echo encode($successurl); ?>"><?php echo $button_title; ?></button>
                            </div>
                        </div>
                    </div>
                </div>
        	</form>
      	</div>
 	</div>
</div>    
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
