<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	# pagination
	$paginate = new Pagination();	
	$paginate->setView($this);
	$paginate->setSearchColumns(array()); # search columns
	$paginate->setItemCountPerPage($session->getVar('itemcountperpage')); # items per page
	
	# initialize query condition
	$where_query = " WHERE q.id <> '' ";
	
	# custom filters
	$name = trim($request->name);
	if(!isEmptyString($name)){
		$where_query .= " AND (q.`firstname` LIKE '%".$name."%' OR q.`lastname` LIKE '%".$name."%' OR q.`orgname` LIKE '%".$name."%') ";
	}
	$refno = trim($request->refno);
	if(!isEmptyString($refno)){
		$where_query .= " AND q.`refno` LIKE '%".$refno."' ";
	}
	$districtid = trim($request->districtid);
	if(!isEmptyString($districtid)){
		$where_query .= " AND q.`districtid` = '".$districtid."' ";
	}
	$type = trim($request->type);
	if(!isEmptyString($type)){
		$where_query .= " AND q.`contacttype` = '".$type."' ";
	}
	
	# sorting & ordering
	$sortcolumn = $request->sortby;
	$sortorder = $request->sortorder;
	$order_query = " ORDER BY q.datecreated DESC, q.id desc ";
	if(!isEmptyString($sortcolumn) && !isEmptyString($sortorder)){
		$order_query = " ORDER BY " . $sortcolumn. " " .$sortorder. " ";
	}
	
	# define list query
	$paginate->processPost($request->getParams());
	$all_results_query = "SELECT q.*, q.id as id, IF(q.contacttype = 2, q.orgname, concat(q.firstname,' ',q.lastname)) as `name` 		 
	FROM contact q
	 ".$where_query." ".$paginate->getSearchAndFilterSQL()." GROUP BY q.id ".$order_query;
	// debugMessage($all_results_query); //exit;
	// determine total number of records found
	$conn = Doctrine_Manager::connection(); 
	$count_query = "SELECT count(q.id) as total FROM contact q 
	".$where_query." ".$paginate->getSearchAndFilterSQL(); // debugMessage($count_query); exit;
	$total = $conn->fetchOne($count_query);
	$paginate->setItemCount($total); //debugMessage('>> '.$total);	
	$current_results_query = $all_results_query." ".$paginate->getSQLLimit();
	
	$conn = Doctrine_Manager::connection(); 
	$result = $conn->fetchAll($current_results_query);
	$has_no_data = (count($result) == 0) ? true : false;
	
	$listurl = $this->baseUrl('contact/list');
	$addurl = $this->baseUrl($controller);
	$title = "Contacts Directory";
	$listitems = "Contacts";
	$moduleitem = "Contact";
	$description = '';
	$icon = 'fa fa-user';
	$resource = 'Contact';
	
	# data lookup
	$users = getUsers();
	$districts = getDistricts();	
	$contactcategories = getDatavariables('CONTACT_CATEGORIES'); // debugMessage($contactcategories);
	
	$this->headTitle($title.$browserappend);
?>
<script>
$(document).ready(function() {
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	$('.titlelabel').html('<?php echo $title; ?>');
	$('.desclabel').html('<?php echo $description; ?>');
	$('.pageicon').html('<span class="<?php echo $icon; ?>"></span>');
	
});
</script>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div class="row">
	<div class="col-sm-12">
    	<form class="form-horizontal" action="<?php echo $this->baseUrl($controller."/listsearch"); ?>" method="get" id="listform" orginalaction="<?php echo $this->baseUrl($controller."/listsearch"); ?>">
            <div class="box-content" style="padding: 5px 0px;">
                <div class="row">
                    <div class="col-sm-7">
                        <ul class="resetlist listactions">
                            <?php if ($acl->checkPermission($resource, 'index')) { ?>
                                <li><a class="btn btn-primary btn-sm" href="<?php echo $addurl; ?>">New <?php echo $moduleitem; ?></a></li>
                            <?php } ?>
                        </ul>
                    </div>
                    <div class="col-sm-1">
                    	<a class="gonowhere btn btn-xs" id="advanced">Advanced Search</a>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" id="searchterm" name="searchterm" class="form-control input-sm" value="<?php echo $request->searchterm; ?>" placeholder="Search <?php echo $listitems; ?> here" style="padding:5px;" />
                            <button type="submit" class="btn btn-default btn-sm hidden" id="filter"><i class="fa fa-filter"></i></button>
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>	
                        <input type="hidden" name="style" id="style" value="<?php echo $style; ?>" />
                    </div>
                </div>
                <div class="row">
					<div class="col-sm-12">
						<div class="box box-bordered">
							<div class="box-title">
								<h3><i class="<?php echo $icon; ?>"></i> Contacts</h3>
                                <div class="actions">
                                    <?php if ($acl->checkPermission($resource, ACTION_EXPORT)) { ?>
                                        <a class="submitexcel gonowhere" title="Export to CSV" exporttitle="<?php echo $listitems; ?>"><i class='fa fa-arrow-down'></i> Export</a>
                                        <input type="hidden" name="csv_text" id="csv_text" value="" />
                                    <?php } ?>
                                </div>
							</div>
							<div class="box-content nopadding" style="padding:2px !important;">
								<div class="row-fluid">
                                    <table class="table table-hover table-nomargin table-striped table-hover table-bordered dataTable-fixedcolumn dataTable-scroll-x" id="datatable">
                                        <thead>
                                            <tr style="font-size:12px !important;">
                                            	<th class="ignoreexport" style="width:80px !important; xbackground-color:#999 !important; xcolor:#fff;">Actions</th>
                                                <th>Name</th> 
                                                <th>Type</th>
                                                <th>Category</th>
                                                <th>Title</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>Location</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php if($has_no_data){ ?>
                                                <tr><td colspan="15"><div class="alert alert-warning"><?php echo $this->translate("global_list_noentries"); ?></div></td></tr>
                                            <?php } else { ?>
                                                <?php
															  		
													foreach($result as $line){ 
														$viewurl = stripUrl($this->baseUrl('contact/view/id/'.encode($line['id'])));
                                                        $indexurl = stripUrl($this->baseUrl('contact/index/id/'.encode($line['id'])));
                                                       
                                                        $allowedit = false;
                                                        if($acl->checkPermission($resource, 'update')){
                                                            $allowedit = true;
                                                        }
														$allowdelete = false;
                                                        if($acl->checkPermission($resource, 'delete')){
                                                            $allowdelete = true;
                                                        }
														
														$gender = '';
														if($line['gender'] == '1'){
															$gender = '(Male)';
														}
														if($line['gender'] == '2'){
															$gender = '(Female)';
														}
														
														$type = 'Person '.$gender;
														if($line['contacttype'] == '2'){
															$type = 'Organization';
														}
												?>
													<tr>
														<td class="ignoreexport" ignoreid='0'>
                                                            <div class="makerelative">
                                                                <div class="btn-group gridactions makerelative" style="z-index:10; position:relative;">
                                                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle noround" data-toggle="dropdown">Action <span class="caret"></span></button>
                                                                    <ul class="dropdown-menu" role="menu" style="left:62px; top:0;">
                                                                        <?php if ($allowedit) { ?>
                                                                            <li><a class="blockanchor" href="<?php echo $indexurl; ?>">Update</a></li>
                                                                        <?php } ?>
                                                                        <?php if ($allowdelete) { ?>
                                                                            <li><a class="deleteline gonowhere" action="<?php echo $this->baseUrl('contact/delete/id/'.encode($line['id'])."/entityname/Contact/successurl/".encode($listurl)); ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a></li>
                                                                        <?php } ?>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="nullifempty"><a href="<?php echo $viewurl; ?>"><?php echo $line['name']; ?></a></td>
                                                        <td class="nullifempty"><?php echo $type; ?></td>
                                                        <td class="nullifempty"><?php echo isArrayKeyAnEmptyString($line['categoryid'], $contactcategories) ? '' : trim($contactcategories[$line['categoryid']]); ?></td>
                                                        <td class="nullifempty"><?php echo $line['title']; ?></td>
                                                        <td class="nullifempty"><?php echo $line['phone']; ?></td>
                                                        <td class="nullifempty"><?php echo $line['email']; ?></td>
                                                        <td class="nullifempty"><?php echo isArrayKeyAnEmptyString($line['districtid'], $districts) ? '' : trim($districts[$line['districtid']]); ?></td>
                                                    </tr>
                                            	<?php } ?> 
											<?php } ?>         
                                        </tbody>
                                    </table>
                                    <?php if(!$has_no_data){ ?>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-actions">
                                                    <div class="col-sm-3 paddingleft5 floatleft"><?php echo sprintf($this->translate("global_list_counter"), $paginate->getItemCounterText()); ?></div>
                                                    <div class="col-sm-6 padding0"><?php echo $paginate->getPaginationLinks(); ?></div>
                                                    <div class="col-sm-3 padding0 rightalign"><?php echo $paginate->getListCountDropDown(); ?></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divider10"></div>
                                    <?php } ?>
								</div>
							</div>
						</div>
					</div>
          		</div>
			</div>
        </form>          
	</div>            
</div>        
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
