<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$contact = new Contact(); 
	$id = is_numeric($request->id) ? $request->id : decode($request->id);
	$contact->populate($id);
	
	$resource = "Contact";
	$controllername = $controller;
	$entityname = "Contact";
	$listitems = "Directory";
	$posturl = "";
	$formid = 'indexform';
	$formmethod = 'post';
	$description = 'View Contact Details';
	$icon = "fa fa-user";
	$pageid = "contact_view";
	$title = 'Contacts';
	$pagetitle = $contact->getName();
	$breadcrumb = $homedir.$listitems.' / '.$title;
	
	$viewurl = $viewbase = $this->baseUrl($controller.'/view/id/'.encode($contact->getID()));
	$indexurl = $this->baseUrl($controller.'/update/id/'.encode($contact->getID()));
	$listurl = $this->baseUrl($controller.'/list');
	$deleteurl = $this->baseUrl($controller.'/delete/id/'.encode($id).'/entityname/'.$entityname.'/successurl/'.encode($listurl));
	
	$allowedit = false;
	if($acl->checkPermission($resource, 'update')){
		$allowedit = true;
	}
	$allowdelete = false;
	if($acl->checkPermission($resource, 'delete')){
		$allowdelete = true;
	}
	$allowlist = false;
	if($acl->checkPermission($resource, 'view')){
		$allowlist = true;
	}
	
	$users = getUsers();
	$districts = getDistricts();	
	$contactcategories = getDatavariables('CONTACT_CATEGORIES'); 
	$countries = getCountries();
	
	$this->headTitle($title.$browserappend);
?>
<script>
$(document).ready(function() {
	$('.titlebreadcrumb').html('<?php echo $homedir.$title.' / '.$pagetitle; ?>');
	$('.titlelabel').html('<?php echo $title; ?>');
	$('.desclabel').html('<?php echo $description; ?>');
	$('.pageicon').html('<span class="<?php echo $icon; ?>"></span>');
	
	// show hide contact labels based on type
	<?php if($contact->getContactType() == 1){ ?>
		enableContainerByClass("person");	
		disableContainerByClass("company");
	<?php } else { ?>
		disableContainerByClass("person");	
		enableContainerByClass("company");
	<?php } ?>
});
</script>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div id="<?php echo $pageid; ?>">
	<div class="row">
		<div class="col-sm-12">
        	<form class="form-horizontal" action="<?php echo $posturl; ?>" method="post" id="viewform">
                <div class="box">
                    <div class="box-title makerelative">
                        <h3><i class="<?php echo $icon; ?>"></i> <?php echo $pagetitle; ?></h3>
                        <div class="formactions makeabsolute">
                            <div class="btn-group">
                                <a class="btn btn-sm dropdown-toggle" data-toggle="dropdown" href="#">Actions
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" style="position:absolute; left:-160px; top:0;">
                                    <?php if($allowedit) { ?>
                                        <li><a class="" style="z-index:1000;" href="<?php echo $indexurl; ?>">Update</a></li>
                                    <?php } ?>
                                    <?php if($allowdelete) { ?>
                                        <li><a class="deleteline gonowhere" action="<?php echo $deleteurl; ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a></li>
                                    <?php } ?>
                                    <?php if($allowlist) { ?>
                                        <li><a href="<?php echo $listurl; ?>"><?php echo $listitems; ?></a></li>
                                    <?php } ?>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="row-fluid">
                    		<div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Type:</label>
                                    <div class="col-sm-8"><p class="form-control-static nullifempty"><?php echo $contact->getContactType() == '2' ? 'Organisation' : 'Person'; ?></p></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Category:</label>
                                    <div class="col-sm-8"><p class="form-control-static nullifempty"><?php echo isArrayKeyAnEmptyString($contact->getCategoryID(), $contactcategories) ? '' : trim($contactcategories[$contact->getCategoryID()]); ?></p></div>
                                </div>
                                <div class="form-group person">
                                    <label class="col-sm-4 control-label">First Name:</label>
                                    <div class="col-sm-8"><p class="form-control-static nullifempty"><?php echo $contact->getFirstName(); ?></p></div>
                                </div>
                                <div class="form-group person">
                                    <label class="col-sm-4 control-label">Last Name:</label>
                                    <div class="col-sm-8"><p class="form-control-static nullifempty"><?php echo $contact->getLastName(); ?></p></div>
                                </div>
                                <div class="form-group person">
                                    <label class="col-sm-4 control-label">Gender:</label>
                                    <div class="col-sm-8"><p class="form-control-static nullifempty"><?php echo $contact->getGenderLabel(); ?></p></div>
                                </div>
                                <div class="form-group company">
                                    <label class="col-sm-4 control-label">Name:</label>
                                    <div class="col-sm-8"><p class="form-control-static nullifempty"><?php echo $contact->getOrgName(); ?></p></div>
                                </div>
                                <div class="form-group company">
                                    <label class="col-sm-4 control-label">Contact Person:</label>
                                    <div class="col-sm-8"><p class="form-control-static nullifempty"><?php echo $contact->getcontactperson(); ?></p></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Job Title:</label>
                                    <div class="col-sm-8"><p class="form-control-static nullifempty"><?php echo $contact->getTitle(); ?></p></div>
                                </div>
                                <div class="form-group company">
                                    <label class="col-sm-4 control-label">Website:</label>
                                    <div class="col-sm-8"><p class="form-control-static nullifempty"><?php echo $contact->getWebsite(); ?></p></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Notes:</label>
                                    <div class="col-sm-8"><p class="form-control-static nullifempty"><?php echo nl2br($contact->getNotes()); ?></p></div>
                                </div>
                         	</div>
                            <div class="col-sm-6">
                            	<div class="form-group">
                                    <label class="col-sm-4 control-label">Phone No#:</label>
                                    <div class="col-sm-8"><p class="form-control-static nullifempty"><?php echo $contact->getPhone(); ?></p></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Alt Phone No#:</label>
                                    <div class="col-sm-8"><p class="form-control-static nullifempty"><?php echo $contact->getPhone2(); ?></p></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Email:</label>
                                    <div class="col-sm-8"><?php echo $contact->getEmail(); ?></p></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Alt Email:</label>
                                    <div class="col-sm-8"><?php echo $contact->getEmail2(); ?></p></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Country:</label>
                                    <div class="col-sm-8"><p class="form-control-static nullifempty"><?php echo isArrayKeyAnEmptyString($contact->getcountry(), $countries) ? '' : $countries[$contact->getcountry()]; ?></p></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">District: </label>
                                    <div class="col-sm-8"><?php echo isArrayKeyAnEmptyString($contact->getDistrictID(), $districts) ? '' : $districts[$contact->getDistrictID()]; ?></p></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Address:</label>
                                    <div class="col-sm-8"><p class="form-control-static nullifempty"><?php echo $contact->getAddress(); ?></p></div>
                                </div>
                            </div>
                      	</div>
                        <div class="col-sm-12 padding0">
                        	<div class="form-actions testborder clearfix">
                            	<div class="col-sm-3 padding0">
                                	<div class="lineblocked" style="margin-right:10px;">
                                    	<label>Input Date:</label>
                                   		<p class="form-control-static nullifempty"><?php echo formatDateAndTime($contact->getDateCreated()); ?></p>
                                    </div>
                                    <div class="lineblocked">
                                        <label>Input By:</label>
                                        <p class="form-control-static nullifempty"><?php echo $contact->getCreator()->getName(); ?></p>
                                   	</div>
                                </div>
                                <div class="col-sm-3 padding0">
                                	<div class="lineblocked" style="margin-right:10px;">
                                        <label>Last update Date:</label>
                                        <p class="form-control-static nullifempty"><?php echo formatDateAndTime($contact->getLastUpdateDate()); ?></p>
                                    </div>
                                    <div class="lineblocked" style="margin-right:10px;">
                                        <label>Modified By:</label>
                                        <p class="form-control-static nullifempty"><?php echo $contact->getUpdator()->getName(); ?></p>
                                    </div>
                                </div>
                                <div class="rightalign col-sm-6 padding0">
									<?php if($allowedit) { ?>
                                        <a class="btn btn-primary btn-sm" style="z-index:1000;" href="<?php echo $indexurl; ?>">Update</a>
                                    <?php } ?>
                                    <?php if($allowdelete) { ?>
                                        <a class="deleteline gonowhere btn btn-sm" action="<?php echo $deleteurl; ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a>
                                    <?php } ?>
                                    <?php if($allowlist) { ?>
                                        <a class="btn btn-sm" href="<?php echo $listurl; ?>"><?php echo $listitems; ?></a>
                                    <?php } ?>
                              	</div>
                            </div>
                        </div>
                    </div>
                </div>
        	</form>
      	</div>
 	</div>
</div>    
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
