<?php
	$isexternal = false;
	if($controller == 'project' || ($controller == 'dataentry' && $request->tab == 'addresult')){
		$isexternal = true;
	}
	
	if(!$isexternal){
		include APPLICATION_PATH.'/includes/header.php';
	}
	
	$addoptionurl = '';
	$dataoptionurl = '';
	$successclass = '';
	$allowsaveadd = true;
	$tabv = 'dataentry';
	
	$title = "Data Entry";
	$resourcename = 'Data Category Groups'; $resourcename = 'Profile';
	$entityname = "DatasetResult"; 
	$listitems = "Results";
	$listitem = "Results";
	$conn = Doctrine_Manager::connection();
	
	$result = new $entityname();  $entity = new Dataset();
	$theid = is_numeric($request->id) ? $request->id : decode($request->id);
	if($isexternal){
		$theid = is_numeric($request->did) ? $request->did : decode($request->did);	
	}
	
	$currentdate = DEFAULT_DATETIME; // $currentdate = '2017-08-03 09:40:00';
	$currenttime = strtotime($currentdate);
	
	$resultid = ''; $exists = false; $expired = false;  $hasdatasets = true;
	// debugMessage('>> '.$theid );
	
	if (isEmptyString($theid)) {
		$pagetitle = "New ".$listitem;
		$posturl = $this->baseUrl($controller."/create");
		$button_title = $this->translate('global_button_save').' & Exit'; 
		$successmessage = $this->translate('global_save_success');
		
		$result->setSubmittedbyID($userid);
		$result->setDateSubmitted($currentdate);
		$result->setStatus(1);
		if($result->getDataset()->isAutoApprove() && $result->getDataset()->getAllowDrafts() != 1){
			$result->setStatus('3');
		}
		
		$entity->populate($request->datasetid);
		if(!isEmptyString($entity->getID())){
			$result->setProjectID($entity->getProjectID());
			$result->setActivityID($entity->getActivityID());
			$result->setDatasetID($entity->getID());
			$result->setPeriod($request->period);
			if(!isEmptyString($request->groupattr_val)){
				$result->setgroupattr_val($request->groupattr_val);
			}
		}
	} else {
		$result->populate($theid);	//debugMessage($result->toArray());	
		$button_title = $this->translate('global_button_save_changes'); 
		$successmessage = $this->translate('global_update_success');
		
		$entity = $result->getDataset();
		$request->setParam('datasetid', $result->getDatasetID());
	}
	
	$posturl = $this->baseUrl("dataentry/processresults");
	if($entity->getID() == 40){
		$posturl = $this->baseUrl("dataentry/processcost");
	}
	$listurl = $this->baseUrl('dataentry/list');
	$failureurl =  $this->viewurl;
	$draftsuccessurl = $this->baseUrl('dataentry/index/id/');
	$successurl = $this->baseUrl('dataentry/view/id/');
	if($isexternal){
		if($controller == 'dataentry' && $request->tab == 'addresult'){
			$successurl = $this->baseUrl('dataentry/list/tab/overview/section/details/did/');
			$draftsuccessurl = $this->baseUrl('dataentry/list/tab/addresult/did/');
		}
		if($controller == 'project' && $request->tab == 'data'){
			$successurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/data/widget/submissions/section/viewresult/did');
			$draftsuccessurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/data/did/');
		}
	}
	
	if($entity->isSingleEntry() && isEmptyString($theid)){
		if(!isEmptyString($entity->getGroupAttr())){
			if(!isEmptyString($request->groupattr_val)){
				$query = "select id from data_set_result_summary where period = '".$request->period."' AND datasetid = '".$request->datasetid."' AND groupattr_val = '".$request->groupattr_val."'"; // debugMessage($query);
				$resultid = $conn->fetchOne($query); // debugMessage('>> '.$resultid);
			}
		} else {
			$query = "select id from data_set_result_summary where period = '".$request->period."' AND datasetid = '".$request->datasetid."' "; //debugMessage($query); 
			$resultid = $conn->fetchOne($query); //debugMessage('>> '.$resultid);
		}
		if(!isEmptyString($resultid)){
			$exists = true;
			$viewlink = stripUrl($successurl).'/'.$resultid;
			if($entity->isUserAllowed('', getUserID())){
				$linktext = '<a href="'.$viewlink.'" target="_blank">Click here to view details</a>';
			}
		}
	}
	
	$showfilter = true; $ispublic = false;
	if($request->src == 'pub'){
		$showfilter = false;
		$ispublic = true;
	}
	if($isprint){
		//$showfilter = false;
	}
	
	$dates = array();
	$resultstatuses = getResultStatuses();
	$datasets = getDatasets('', true);
	
	#in case of errors in session, populate the fields from session
	if(!isEmptyString($session->getVar(ERROR_MESSAGE))){ 
		$result->processPost($session->getVar(FORM_VALUES));
	}
	
	$allowedit = false;
	if($acl->checkPermission($resourcename, ACTION_EDIT)){
		$allowedit = true;
	}
	
	if(!$isexternal){
		$this->headTitle($title.$browserappend);
    }
?>
<script>
$(document).ready(function() {
	<?php if(!$isexternal){ ?>
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	<?php } ?>
	
	$("#indexform").validate({		
		// define the validation rules one field at a time
		rules: {
			datasetid: "required",
			period: "required"
		}, 
		// the messages for each of the fields being validated
		messages: {		
			datasetid: "Select dataset",
			period: "Select period"
		},
		// custom error positions
		errorPlacement: function(error, element) {
			switch(element.attr("name")){					
				default:
					if(element.hasClass("useid_error")){
						error.appendTo("#"+element.attr("id")+"_error");
					} else {
						error.appendTo("#"+element.attr("name")+"_error");
					}
					break;
			}			
		},
		ignore: ":hidden:not(select)"
	});
	
	<?php if(!isEmptyString($resultid)){ ?>
		<?php if($controller == 'dataentry' && $action == 'list'){ ?>
			var url = '<?php echo stripUrl($this->baseUrl('dataentry/list/tab/overview/section/details/exists/1/did/'.encode($resultid))); ?>';
		<?php } ?>
		//window.location.href = url;
		//$.blockUI({ message: '<?php echo $blockcontent; ?>'}); 
	<?php } ?>
		
	$("#datasetid, #period, #groupattr_val").on('change', function(){
		var dataset = $("#datasetid").val();
		var period = $("#period").val();
		var groupattr_val = $("#groupattr_val").val();
		var groupattr = '<?php echo $entity->getGroupAttr(); ?>';
		<?php if($controller == 'dataentry' && $action == 'list' && $request->tab == 'addresult'){ ?>
			var url = '<?php echo stripUrl($this->baseUrl('dataentry/list/tab/addresult')); ?>';
			<?php if(!isEmptyString($request->id)){ ?>
				var url = '<?php echo stripUrl($this->baseUrl('dataentry/list/tab/addresult/id/'.$request->id)); ?>';
			<?php } ?>
		<?php } ?>
		<?php if($controller == 'dataentry' && $action == 'index'){ ?>
			var url = '<?php echo stripUrl($this->baseUrl('dataentry/index')); ?>';
			<?php if(!isEmptyString($request->id)){ ?>
				var url = '<?php echo stripUrl($this->baseUrl('dataentry/index/id/'.$request->id)); ?>'; 
			<?php } ?>
		<?php } ?>
		<?php if($controller == 'project' && $action == 'view'){ ?>
			var url = '<?php echo stripUrl($this->baseUrl('project/view/id/'.$request->id.'/tab/data')); ?>'; 
			<?php if(!isEmptyString($request->did)){ ?>
				var url = '<?php echo stripUrl($this->baseUrl('project/view/id/'.$request->id.'/tab/data/did/'.$request->did)); ?>';
			<?php } ?>
		<?php } ?>
		
		var newurl = url+'/datasetid/'+dataset; // alert(newurl);
		if(!isEmptyString(dataset) && !isEmptyString(period)){
			var newurl = url+'/datasetid/'+dataset+'/period/'+period; 
			if(!isEmptyString(groupattr_val) && !isEmptyString(groupattr)){
				var newurl = url+'/datasetid/'+dataset+'/period/'+period+'/groupattr_val/'+groupattr_val; 	
			}
		}
		
		window.location.href = newurl;
		$.blockUI({ message: '<?php echo $blockcontent; ?>'}); 
		
	});
	
	$(".draftbutton").click(function(){
		$("#status").val(1);
		return true;
	});
	
	$(".submitbutton").click(function(){
		$("#status").val($(this).attr('status'));
		return true;
	});
	
	$("#indexform").submit(function(){
		$.blockUI({ message: '<?php echo $blockcontent; ?>'}); 
		return true;
	});
	
	<?php if($request->src == 'pub'){ ?>
		$('.left, ul.nav.navbar-nav.navbar-left, ul.nav.navbar-nav.navbar-right').remove();
		$('.page-title-box').html('');
		$('.content-page').css({'margin-left':'0'});
	<?php } ?>
	
});
</script>
<?php if(!$isexternal){ ?>
	<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<?php } ?>
<div class="rowx" id="contentarea">
    <div class="col-md-12 padding0">
		<form id="indexform" class="form-horizontal" action="<?php echo $posturl; ?>" method="post" enctype="multipart/form-data">
			<?php if(isEmptyString($result->getID()) && $showfilter){ ?>
                <div class="card-box p-t-10 p-b-10 clearfix hideonprint" style="margin-bottom:2px;">
                    <div class="col-sm-12 paddingleft">
                        <div class="blocked" id="field_dataset">
                            <div class="col-sm-1 bolded paddingleft0">Dataset:</div>
                            <div class="col-sm-8">
                                <?php
									foreach($datasets as $key => $value){
										$allowed = $entity->isUserAllowed($key, $loggedinuser->getID()); 
										if(!$allowed){
											unset($datasets[$key]); // debugMessage('removed '.$key.' for '. $loggedinuser->getID());
										}
									}
                                    $dropdown = new Zend_Form_Element_Select('datasetid',
                                                        array(
                                                            'multiOptions' => array_merge_maintain_keys(array('' => '[ Browse datasets ]'), $datasets),
                                                            'view' => new Zend_View(),
                                                            'decorators' => array('ViewHelper'),
                                                            'class' => array('form-control','xinput-sm', 'chosen-select', 'inline', 'hastooltip', 'linetip'),
                                                            'viewurl' => $viewurl
                                                        )
                                    );  
                                    $dropdown->setValue($request->datasetid); 
                                    echo $dropdown->render();
                                ?>
                                <div id="datasetid_error"></div>
                            </div>
                        </div>
                        <?php if(!isEmptyString($result->getDatasetID())){ ?>
                            <div class="divider10"></div>
                            <div class="blocked" id="period_dataset">
                            	 <div class="col-sm-1 bolded paddingleft0">
									 <?php 
                                        $periodlabel = 'Period'; $singleperiod = false;
                                        if(in_array($entity->getPeriodType(), array(1,13,14))){
                                            $periodlabel = 'Result Date';
                                            $singleperiod = true;
                                        }
                                     ?>
                                     <?php echo $periodlabel; ?>:
                                 </div>
                                 <div class="col-sm-10">
									 <?php if($singleperiod){ ?>
                                     	<?php
											$start = new DateTime($entity->getStartDate());
											$end   = new DateTime($entity->getEndDate());
											$daycount = 1;
											
											$firstdate = $entity->getStartDate();
											$lastdate = date('Y-m-d', strtotime("today +".($entity->getopenperiods() * $daycount)." day"));
											
										?>
										<script>
											$(document).ready(function() {
												
												$("#period").datepicker('option', {minDate: new Date('<?php echo $firstdate; ?>')});
												$("#period").datepicker('option', {maxDate: new Date('<?php echo $lastdate; ?>')});
											});
										</script>	
                                     	<input type="text" id="period" name="period" value="<?php echo $result->getPeriod(); ?>" class="form-control input-sm inline width100 ordinary normalwidth" />
                                        <input type="hidden" id="startdate" name="startdate" value="<?php echo $firstdate; ?>" />
                                     <?php } else { ?>
										<?php
											$start = new DateTime($entity->getStartDate());
											$end   = new DateTime($entity->getEndDate());
                                            if(in_array($entity->getPeriodType(), array(4,5,6,7,8,9))){
												$monthcount = 1;
												if($entity->getPeriodType() == 5){
													$monthcount = 2;
												}
												if($entity->getPeriodType() == 6){
													$monthcount = 3;
												}
												if($entity->getPeriodType() == 7){
													$monthcount = 4;
												}
												if($entity->getPeriodType() == 8){
													$monthcount = 6;
												}
												if($entity->getPeriodType() == 9){
													$monthcount = 12;
												}
												
												$start->modify("first day of this month");
												$end->modify("first day of next month");
												$interval = DateInterval::createFromDateString($monthcount.' month');
												$period   = new DatePeriod($start, $interval, $end);
												$dates = array(); 
												$currentstart = getFirstDayOfCurrentMonth();
												$limitdate = date('Y-m-d', strtotime("last day of +".($entity->getopenperiods() * $monthcount)." month"));
												
												foreach ($period as $dt) {
													$firstdate = $dt->format("Y-m-d"); // debugMessage($firstdate);
													$lt = $dt->modify('+'.$monthcount.' month -1 day');
													$lastdate = $lt->format("Y-m-d"); // debugMessage($lastdate);
													if(strtotime($firstdate) <= strtotime($limitdate)){
														if($monthcount == 1){ // Monthly
															$dates[date("Y-m", strtotime($firstdate))] = date("F Y", strtotime($firstdate));
														} else {
															$dates[date("Y-m", strtotime($firstdate)).','.date("Y-m", strtotime($lastdate))] = date("M Y", strtotime($firstdate)).' - '.date("M Y", strtotime($lastdate));
														}
													}
												}
											}
											
											if(in_array($entity->getPeriodType(), array(2,3))){
												$start->modify("monday this week");
												$end->modify("sunday this week");
												$wkcount = 1;
												
												$interval = DateInterval::createFromDateString($wkcount.' week');
												$period   = new DatePeriod($start, $interval, $end);
												$dates = array(); 
												$limitdate = date('Y-m-d', strtotime("today +".($entity->getopenperiods() * $wkcount)." week"));
												foreach ($period as $dt) {
													$firstdate = $dt->format("Y-m-d"); // debugMessage($firstdate);
													$lt = $dt->modify('+'.$wkcount.' week -1 day');
													$lastdate = $lt->format("Y-m-d"); // debugMessage($lastdate);
													if(strtotime($firstdate) <= strtotime($limitdate)){
														$dates[date("Y-m-d", strtotime($firstdate)).','.date("Y-m-d", strtotime($lastdate))] = date("M d", strtotime($firstdate)).' - '.date("M d, Y", strtotime($lastdate));
													}
												}
											}

                                            $dates = array_reverse($dates);
                                        ?>
                                        <select id="period" name="period" class="form-control input-sm width200 xchosen-select">
                                            <option value="">[ Select period ]</option>
                                            <?php foreach ($dates as $key => $value) { ?>
                                                <option value="<?php echo $key; ?>" <?php echo $key == $result->getPeriod() ?'selected="selected"' : ''; ?>><?php echo $value; ?></option>
                                            <?php } ?>
                                        </select>
                                     <?php } ?>
                                     <?php 
									 	// determine if entry is expired to disable it
										$valid_firstdate = '';
										if(isEmptyString($result->getID()) && !isEmptyString($entity->getID()) && !isEmptyString($request->period)){
											if($entity->getExpiryDays() > 0 && $entity->isSingleEntry() && $entity->getPeriodType() != 1){
												$period_array = array_remove_empty(explode(',', trim($request->period)));
												if(count($period_array) > 0){
													$valid_firstdate = strlen($period_array[0]) == 7 ? $period_array[0].'-01' : $period_array[0]; 
													
													$starting = new DateTime($valid_firstdate);
													$starting->modify("+".$entity->getExpiryDays()." days");
													$expiry_date = $starting->format("Y-m-d H:i:s");
													
													// debugMessage('btn '.$currenttime.' ~ '.$currentdate.' and '.strtotime($expiry_date).'~ '.$expiry_date);
													if($currenttime > strtotime($expiry_date)){
														$expired = true;
													}
												}
											}
											if($entity->getminsubmitdays() > 0 && $entity->isSingleEntry() && $entity->getPeriodType() != 1){
												$period_array = array_remove_empty(explode(',', trim($request->period)));
												if(count($period_array) > 0){
													$valid_firstdate = strlen($period_array[0]) == 7 ? $period_array[0].'-01' : $period_array[0]; 
													$starting = new DateTime($valid_firstdate);
													$starting->modify("+".$entity->getminsubmitdays()." days");
													$expiry_date = $starting->format("Y-m-d H:i:s");
													
													// debugMessage('btn '.$currenttime.' ~ '.$currentdate.' and '.strtotime($expiry_date).'~ '.$expiry_date);
													if($currenttime < strtotime($expiry_date)){
														$expired = true;
													}
												}
											}
										}
										
									 ?>
                                </div>
                                <div id="period_error"></div>
                                <div class="divider2"></div>
                            </div>
                            <?php if(!isEmptyString($entity->getGroupAttr())){ ?>
                                <div class="divider10"></div>
                                <div class="blocked" id="field_custom">
                                    <div class="col-sm-1 bolded paddingleft0"><?php echo $entity->getGroupAttribute()->getName(); ?>:</div>
                                    <div class="col-sm-8">
                                        <?php
                                            $attr_options = $entity->getGroupAttribute()->getConfigOptionList();
                                            $dropdown = new Zend_Form_Element_Select('groupattr_val',
                                                array(
                                                    'multiOptions' => array_merge_maintain_keys(array('' => '[ Select one]'), $attr_options),
                                                    'view' => new Zend_View(),
                                                    'decorators' => array('ViewHelper'),
                                                    'class' => array('form-control','xinput-sm', 'chosen-select', 'inline'),
                                                    'viewurl' => $viewurl
                                                )
                                            );  
                                            $dropdown->setValue($request->getParam('groupattr_val')); 
                                            echo $dropdown->render();
                                        ?>
                                        <div id="groupattr_val_error"></div>
                                    </div>
                                </div>
                            <?php } ?>
                        <?php } ?>
                    </div>
              	</div>
            <?php } ?>
            <div class="divider10"></div>
            <div class="col-sm-12 padding0">
            	<?php 
					$showentryentry = false;
					if(!isEmptyString($request->datasetid) && !isEmptyString($request->period) && !isArrayKeyAnEmptyString($request->period, $dates) && !$singleperiod){
						$period_array = trim($request->period); 
						$starting = substr($period_array, 0, 7);
						if(!isEmptyString($starting)){
							if(strlen($starting) == 7){
								$starting .= '-01';
								$result->setMilestoneID(getMilestoneFromPeriod($starting));
							} else { 
								$starting = substr($period_array, 0, 4).'-07-01';
								$result->setMilestoneID(getMilestoneFromPeriod($starting));
							}
							if(isEmptyString($result->getQuarter())){
								$quarterid = getMilestoneFromPeriod($starting, 2);
								$quart = new MilestonePeriod();
								$quart->populate($quarterid);
								if(!isEmptyString($quart->getID())){
									$result->setQuarter($quart->getType());
								}
							}
						}
						// debugMessage($starting);
						$showentryentry = true;
					}
					if(!isEmptyString($entity->getGroupAttr()) && isEmptyString($request->getParam('groupattr_val'))){
						$showentryentry = false;
					}
					if(!isEmptyString($result->getID())){
						$showentryentry = true;
					} else {
						if(count($datasets) == 0 && !$ispublic && !$singleperiod){
							$hasdatasets = false;
							$showentryentry = false;
						}
						if($ispublic){
							$showentryentry = true;
						}
						if($singleperiod && !isEmptyString($entity->getGroupAttr()) && !isEmptyString($result->getGroupAttr_Val())){
							$showentryentry = true;
						}
					}
					if($exists){
						$showentryentry = false;
					}
					if($expired){
						$showentryentry = false;
					}
				?>
				<?php if($showentryentry){ ?>
                    <div class="col-sm-12"><?php require_once APPLICATION_PATH.'/views/scripts/dataset/dataentry.phtml'; ?></div>
                <?php } else { ?>
                    <div class="table-responsive" data-pattern="priority-columns">
                    	<?php if(isEmptyString($result->getDatasetID()) || !$hasdatasets){ ?>
                        	<span class="labeldescription noresults alert alert-warning" style="text-align:left; margin-top:25px; font-style:normal;"><?php echo count($datasets) == 0 ? 'There are no datasets assigned to you currently' : 'Please select a Dataset'; ?></span>
                        <?php } else if(isEmptyString($result->getPeriod())){ ?>
                        	<span class="labeldescription noresults alert alert-warning" style="text-align:left; margin-top:25px; font-style:normal;">Please select a <?php echo $periodlabel; ?> to proceed</span>
                        <?php } else if(!isEmptyString($entity->getGroupAttr()) && isEmptyString($result->getGroupAttr_Val())){ ?>
                        	<span class="labeldescription noresults alert alert-warning" style="text-align:left; margin-top:25px; font-style:normal;">Please select <?php echo $entity->getGroupAttribute()->getName(); ?> to proceed</span>
                        <?php } else if($exists){ 
							$grp_uniq_str = '';
							if(!isEmptyString($request->groupattr_val)){
								$grp_uniq_str = getCurrentValueFromArray($request->groupattr_val, $entity->getGroupAttribute()->getConfigOptionList());
							}
						?>
                        	<span class="labeldescription noresults alert alert-warning" style="text-align:left; margin-top:25px; font-style:normal;">Dataset for <b><?php echo $grp_uniq_str.' '.$dates[$request->period]; ?></b> already exists. <?php echo $linktext; ?></span>
                        <?php } else if($expired){ ?>
                        	<span class="labeldescription noresults alert alert-warning" style="text-align:left; margin-top:25px; font-style:normal;">Dataset <?php echo isArrayKeyAnEmptyString($request->period, $dates) ? '' :  'for '.$dates[$request->period]; ?> is currently disabled. Contact your Admin.</span>
						<?php } ?>
                    </div>
                <?php } ?>
            </div>
        </form>
    </div>
</div>    
<?php if(!$isexternal){ ?>      
	<?php
        require_once APPLICATION_PATH.'/includes/footer.php';
    ?>
<?php } ?>
