<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$isexternal = false;
	if($controller == 'project' && $action == 'view' || ($controller == 'dataentry' && $action == 'list')){
		$isexternal = true;
	}
	
	$entityname = "DatasetResult";
	$result = new $entityname(); $entity = new Dataset();
	$theid = is_numeric($request->id) ? $request->id : decode($request->id);
	if($isexternal){
		$theid = is_numeric($request->did) ? $request->did : decode($request->did);	
	}
	$result->populate($theid); // debugMessage($result->toArray()); // exit;
	$entity = $result->getDataset();
	
	$posturl = '';
	$formid = 'viewform';
	$formmethod = 'post';
	$showsave = false;
	
	$tabv = trim($request->tab); $sectionv = trim($request->section);
	if($isexternal){ 
		$tabv = trim($request->tabv); $sectionv = trim($request->sectionv);
	}
	if(isEmptyString($tabv)){
		$tabv = 'overview';
	}
	if(isEmptyString($sectionv)){
		$sectionv = 'view';
	}
	
	$title = 'Results';
	$pagetitle = $result->getDataset()->getName();
	$description = "";
	$listitems  = "Results";
	
	$conn = Doctrine_Manager::connection(); 
	
	$listurl = $this->baseUrl("dataentry/list");
	$addurl = $this->baseUrl('dataentry/index'); 
	$indexurl = $this->baseUrl('dataentry/index/id/'.encode($result->getID()));
	if($isexternal){
		if($controller == 'dataentry' && $action == 'list' && (isEmptyString($request->tab) || $request->tab == 'overview')){
			$listurl = $this->baseUrl("dataentry/list");
			$addurl = $this->baseUrl("dataentry/list/tab/addresult");
			$indexurl = $this->baseUrl("dataentry/list/tab/addresult/did/".encode($result->getID()));
		}
		if($controller == 'project' && $action == 'view'){
			$listurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$request->tab.'/widget/submissions');
			$addurl = $this->baseUrl('project/view/id/'.encode($project->getID()).'/tab/'.$request->tab);
			$indexurl = $this->baseUrl("dataentry/list/tab/addresult/did/".encode($result->getID()));
			// debugMessage($viewurl);
		}
	}
	
	$allowedit = $result->canEdit($loggedinuser->getID());
	$allowsubmit = $result->canSubmit($loggedinuser->getID());
	$allowunsubmit = $result->canUnsubmit($loggedinuser->getID());
	$allowdelete = $result->canDelete($loggedinuser->getID());
	$allowapprove = $result->canApprove($loggedinuser->getID());
	$allowreject = $result->canApprove($loggedinuser->getID());
	$allowlist = true;
	$allowprint = true;
	$allowpdf = true;
	
	$dataentry_approve_success = "Successfully Approved";
	$dataentry_rejected_success = 'Successfully Rejected';
	$dataentry_submit_success = "Successfully Submitted";
	$dataentry_unsubmit_success = 'Successfully Unsubmitted';
	
	if(!$isexternal){
		$this->headTitle($title.$browserappend);
    }
?>
<?php if(!$ispgc){ ?>
	<script>
    $(document).ready(function() {
        <?php if(!$isexternal){ ?>
            $('.page-title').html('<?php echo $title; ?>');
            $('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
        <?php } ?>
    });
    </script>
<?php } ?>

<?php if(!$isexternal){ ?>
	<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<?php } ?>
<div class="rowx" id="contentarea">
    <div class="col-md-12 padding0">
        <form id="viewform" role="form" class="form-horizontal" method="get">
            <div class="panel <?php echo !$isexternal ? 'panel-color panel-primary' : ''; ?>">
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked <?php echo !$isexternal ? '' : 'section'; ?>"><?php echo $pagetitle; ?></h3>
                    <?php if(!$isprint){ ?> 
                    <div class="portlet-widgets lineblocked floatright hideonprint">
						<?php if($allowsubmit) { ?>
                            <a class="btn btn-primary btn-sm confirm-dialog gonowhere" title="Submit" action="<?php echo $this->baseUrl('dataentry/togglestatus/id/'.$result->getID().'/status/2/successurl/'.encode($this->viewurl).'/successmessage/'.$dataentry_submit_success); ?>" message="Are you sure you want to <?php echo $result->hasappproval() ? 'Submit this Entry for Approval?' : 'mark this Entry as Completed?'; ?>"><i class="fa fa-check"></i> <?php echo $result->hasappproval() ? 'Submit for Approval?' : 'Mark as Completed?'; ?></a>
                        <?php } ?>
                        <?php if($allowunsubmit) { ?>
                            <a class="btn btn-default btn-sm confirm-dialog gonowhere" title="Un-submit to Edit" action="<?php echo $this->baseUrl('dataentry/togglestatus/id/'.$result->getID().'/status/1/successurl/'.encode($this->viewurl).'/successmessage/'.$dataentry_unsubmit_success); ?>" message="Are you sure you want to Un-Submit this Entry?"><i class="fa fa-refresh"></i> Un-submit</a>
                        <?php } ?>
						<?php if($allowapprove) { ?>
                            <a class="btn btn-primary btn-sm confirm-dialog gonowhere" title="Approve" action="<?php echo $this->baseUrl('dataentry/updatestatus/id/'.$result->getID().'/status/3/successurl/'.encode($this->viewurl).'/successmessage/'.$dataentry_approve_success); ?>" message="Are you sure you want to Approve this Entry?"><i class="fa fa-check"></i> Approve</a>
                        <?php } ?>
                        <?php if($allowreject) { ?>
                            <a class="btn btn-default btn-sm confirm-prompt gonowhere" title="Reject Request" action="<?php echo $this->baseUrl('dataentry/updatestatus/id/'.$result->getID().'/status/4/successurl/'.encode($this->viewurl).'/successmessage/'.$dataentry_rejected_success); ?>" message="Reject entry by <?php echo $result->getUser()->getName(); ?>. <br>Please specify Reason/Comment to continue"><i class="fa fa-remove"></i> Reject</a>
                        <?php } ?>
						<?php if($allowedit) { ?>	
                            <a class="btn btn-default btn-sm" href="<?php echo $indexurl; ?>" title="Update"><i class="fa fa-edit"></i> Edit</a>
                        <?php } ?>
                        <div class="btn-group gridactions" style="z-index:1000;">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle xnoround" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                            <ul class="dropdown-menu listtype" role="menu">
                                <?php if ($allowedit) { ?>
                                    <li><a href="<?php echo $indexurl; ?>" class="" title="Edit Entry">Edit</a></li>
                                <?php } ?>
                                <?php if ($allowprint) { ?>
                                	<li><a href="<?php echo stripUrl($this->viewurl).'/print/1'; ?>" target="_blank" class="" title="Print Preview">Print</a></li>
                                <?php } ?>
                                <?php if ($allowpdf) { ?>
                                	<li><a href="<?php echo stripUrl($this->viewurl).'/print/1/pdf/1/browserview/1'; ?>" target="_blank" class="" title="Print Preview">PDF</a></li>
                                <?php } ?>
                                <?php if ($allowpdf) { ?>
                                	<li><a href="<?php echo stripUrl($this->viewurl).'/print/1/pdf/1/download/1'; ?>" target="_blank" class="" title="Download PDF">Download</a></li>
                                <?php } ?>
                                <?php if($allowdelete){ ?>
                                    <li><a class="gonowhere deleteline" action="<?php echo $this->baseUrl('index/delete/id/'.encode($result->getID())."/entityname/DatasetResult/successurl/".encode($listurl)); ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>" type="button" title="Delete">Delete</a>
                                    </li>
                                <?php } ?>
                                <?php if($allowlist) { ?>	
                                	<li><a href="<?php echo $listurl; ?>" class="" title="Back to Results">All Results</a></li>
                                <?php } ?>
                            </ul>
                        </div>
                    </div>
                    <?php } ?>
                </div>
                <div class="panel-body" <?php echo !$isexternal ? '' : 'style="padding-top:5px;"'; ?>>
                	<?php require_once APPLICATION_PATH.'/views/scripts/dataset/dataentry.phtml'; ?>
                </div>
            </div>
    	</form>
	</div>
</div>                                              
<?php if(!$istexternal){ ?>      
	<?php
        require_once APPLICATION_PATH.'/includes/footer.php';
    ?>
<?php } ?>