<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$csp = new ContentCsp(); $csp->populate(1); 
	
	// $program = new Program(); $program->populate(1); debugMessage($program->toArray());
	
	$title = "Logical Framework";
	$resource = 'Framework';
	$pagetitle = "Logical Framework [16/17 - 20/21]";	
	$baseyear = "FY ".$csp->getStartYear()."/".($csp->getStartYear() + 1);
	$allowedit = $acl->checkPermission($resource, 'modifyresults');
	$allowdelete = $acl->checkPermission($resource, 'deleteresult');;
	
	$tab = $request->tab; $isglobal = false; $isprogram = false; $iscountry = false; $isndp = false; $issdg = false;
	$type = 1;
	if(isEmptyString($tab)){
		$tab = 'programme';
	}
	if($tab == 'programme'){
		$isprogram = true; 
		$type = 1;
	}
	if($tab == 'country'){
		$iscountry = true; 
		$type = 2;
	}
	if($tab == 'global'){
		$isglobal = true;
		$type = 3;
	}
	if($tab == 'ndp'){
		$isndp = true;
		$type = 5;
	}
	if($tab == 'sdg'){
		$issdg = true;
		$type = 6;
	}
	
	$conn = Doctrine_Manager::connection(); 
	$fyears = getFPYears(); // debugMessage($fyears);
	$listurl = $this->baseUrl($controller.'/'.$action.'/tab/'.$tab);
	
	$session->setVar('title', $title);
	$this->headTitle($title.$browserappend);
?>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');

});
</script>

<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div class="row" id="contentarea">
    <div class="col-md-12">
        <form class="form form-horizontal margin0" action="<?php echo $this->baseUrl($controller."/".$action); ?>" method="get" id="listform" orginalaction="<?php echo $this->baseUrl($controller."/".$action); ?>">
            <input type="hidden" name="csv_text" id="csv_text" value="" />
            <div class="panel panel-color panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title lineblocked whitelink"><?php echo $pagetitle; ?></h3>
                </div>
                <div class="panel-body p-t-10">
                	<?php require_once APPLICATION_PATH.'/views/scripts/programme/tabs.phtml'; ?>
                    <?php if($acl->checkPermission($resource, 'addresults')){ ?>
                        <div class="btn-group gridactions" style="z-index:1000;">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle xnoround" data-toggle="dropdown">Add Result Area <i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu listtype" role="menu" style="left:0; top:28px;">
                                
                                <li><a class="addpopup" href="<?php echo $this->baseUrl('programme/addcontent/type/'.$type.'/level/1/pgc/true/addnew/no/title/'.encode("Programme Name")); ?>" rel="Add Country Programme" formtitle="popupform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("programme/processcontent"); ?>"><i class="fa fa-plus"></i> Add CS Objective (Programme)</a></li>
                                <li><a class="addpopup" href="<?php echo $this->baseUrl('programme/addcontent/type/'.$type.'/level/2/pgc/true/addnew/no/title/'.encode("Outcome Description")); ?>" rel="Add Strategic Outcome" formtitle="popupform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("programme/processcontent"); ?>"><i class="fa fa-plus"></i> Add CS Outcome</a></li>
                                <li><a class="addpopup" href="<?php echo $this->baseUrl('programme/addcontent/type/'.$type.'/level/3/pgc/true/addnew/no/title/'.encode("Output Description")); ?>" rel="Add Strategic Output" formtitle="popupform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("programme/processcontent"); ?>"><i class="fa fa-plus"></i> Add CS Output</a></li>
                                <li><a class="addpopup" href="<?php echo $this->baseUrl('indicator/index/type/1/pgc/true/addnew/no/title/'.encode("Indicator")); ?>" rel="Add Strategic Indicator" formtitle="popupform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("indicator/create"); ?>"><i class="fa fa-plus"></i> Add CS Indicator</a></li>
                                <li><a class="submitexcel gonowhere" id="exporttrigger" data-toggle="tooltip" data-placement="top" data-original-title="Export" title="" target="_blank"><i class="fa fa-arrow-down"></i> Export Results</a></li>
                            </ul>
                        </div>
                        <div class="divider5"></div>
                    <?php } ?>
                    <div class="row">
                        <div class="table-responsive" data-pattern="priority-columns">
                            <table id="listtable" class="table table-bordered xtable-hover table-striped table-condensed">
                                <thead style="font-weight:bold;">
                                    <th class="nowrapping">#</th>
                                    <th class="nowrapping">Result Area</th>
                                    <th class="nowrapping centeralign">Indicators</th>
                                    <th class="nowrapping">Action</th>
                                </thead>
                                <tbody>
									<?php 
                                        $prog_query = "SELECT p.id, p.name as objective, p.description, p.code as refno, p.abbrv, p.type, p.cspid from program p WHERE p.type = '".$type."' AND p.cspid = 1 order by CAST(p.code AS SIGNED) ";
                                        $prog_result = $conn->fetchAll($prog_query);
                                    ?>
                                    <?php foreach($prog_result as $pline){ 
											$class = 'Program';
											$indexurl = $this->baseUrl('programme/addcontent/id/'.encode($pline['id']).'/pgc/true/type/'.$type.'/level/1/successurl/'.encode($this->viewurl));
											$deleteurl = $this->baseUrl('index/delete/id/'.encode($pline['id'])."/entityname/".$class."/successurl/".encode($this->viewurl));
									?>
                                        <tr class="rowheader_obj" style="background-color:<?php echo $pline['type'] == 6 ? $pline['abbrv'] : '#0072ce'; ?>; color:#fff;">
                                            <td><?php echo $pline['refno']; ?></td>
                                            <td><?php echo $pline['objective']; ?><?php echo isEmptyString($pline['description']) ? '' : '<span style="font-size:10px; font-weight:normal; display:block;">'.$pline['description'].'</span>'; ?></td>
                                            <td></td>
                                            
                                            <td>
                                            	<?php if($allowedit || $allowdelete){ ?>
                                                    <div class="btn-group gridactions" style="z-index:1000;">
                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle xnoround" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                                                        <ul class="dropdown-menu listtype" role="menu">
                                                            <?php if($allowedit) { ?>
                                                                <li><a class="btn addpopup" href="<?php echo $indexurl; ?>" rel="Edit Objective" title="Edit Objective" formtitle="popupform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("programme/processcontent"); ?>">Edit Program</a></li>
                                                            <?php } ?>
                                                            <?php if($allowdelete){ ?>
                                                                <li><a class="deleteline gonowhere" action="<?php echo $deleteurl; ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a>
                                                                </li>
                                                            <?php } ?>
                                                        </ul>
                                                    </div>
                                                <?php } ?>
                                            </td>
                                        </tr>
                                        
                                        <?php 
                                            $outcome_query = "SELECT o.id, o.title, o.refno, o.cspid, o.mov, o.assumptions from content_logframe o WHERE o.type = '".$type."' AND o.level = 2 AND o.programid = '".$pline['id']."' AND o.cspid = 1 order by CAST(o.refno AS SIGNED) "; // debugMessage($outcome_query);
                                            $outcome_result = $conn->fetchAll($outcome_query);
                                        ?>
                                        <?php if(count($outcome_result) > 0){ ?>
                                            <tr class="rowheader_outcomes">
                                                <td></td>
                                                <td class="bolded">Outcomes</td>
                                                <td></td>
                                                <td></td>
                                            </tr> 
                                            <?php foreach($outcome_result as $oline){ 
                                                $title = preg_replace( '/[^[:print:]]/', '',$oline['title']);
                                                
                                                $indicator_str = ''; $indicator_array = array(); 
                                                $ind_query = "SELECT i.id, i.title, i.refno from indicator i inner join content_logframe c on i.contentid = c.id WHERE i.contentid = '".$oline['id']."' order by CAST(i.refno AS SIGNED)";
                                                $ind_result = $conn->fetchAll($ind_query); // debugMessage($ind_result);
                                                
                                                foreach($ind_result as $indicator){
                                                    $indicator_array[] = $indicator['refno'].' &nbsp; '.$indicator['title'];
                                                }
												
												$class = 'ContentFrame';
												$indexurl = $this->baseUrl('programme/addcontent/id/'.encode($oline['id']).'/pgc/true/type/'.$type.'/level/2/successurl/'.encode($this->viewurl));
												$deleteurl = $this->baseUrl('index/delete/id/'.encode($oline['id'])."/entityname/".$class."/successurl/".encode($this->viewurl));
												
                                            ?>
                                                <tr style="xfont-size:13px;">
                                                    <td><?php echo $oline['refno']?></td>
                                                    <td><i style="font-weight:normal; font-style:normal;"><?php echo nl2br($title); ?></i></td>
                                                    <td><?php echo implode('<br>', $indicator_array); ?></td>
                                                    <td>
                                                    	<?php if($allowedit || $allowdelete){ ?>
                                                            <div class="btn-group gridactions" style="z-index:1000;">
                                                                <button type="button" class="btn btn-default btn-sm dropdown-toggle xnoround" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                                                                <ul class="dropdown-menu listtype" role="menu">
                                                                    <?php if($allowedit) { ?>
                                                                        <li><a class="btn addpopup" href="<?php echo $indexurl; ?>" rel="Edit Outcome" title="Edit Outcome" formtitle="popupform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("programme/processcontent"); ?>">Edit Outcome</a></li>
                                                                    <?php } ?>
                                                                    <?php if($allowdelete){ ?>
                                                                        <li><a class="deleteline gonowhere" action="<?php echo $deleteurl; ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a>
                                                                        </li>
                                                                    <?php } ?>
                                                                </ul>
                                                            </div>
                                                        <?php } ?>
                                                    </td>
                                                </tr>
                                                <?php 
                                                    $output_query = "SELECT o.id, o.title, o.refno, o.cspid, o.mov, o.assumptions from content_logframe o WHERE o.type = '".$type."' AND o.level = 3 AND o.parentid = '".$oline['id']."' AND o.cspid = 1 order by CAST(o.refno AS SIGNED) "; // debugMessage($output_query);
                                                    $output_result = $conn->fetchAll($output_query);
                                                ?>
                                                <?php if(count($output_result) > 0){ ?>
                                                    <tr class="rowheader_outputs">
                                                        <td></td>
                                                        <td class="bolded">Outputs</td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr> 
                                                    <?php foreach($output_result as $oline_output){ 
                                                        $title = preg_replace( '/[^[:print:]]/', '',$oline_output['title']);
                                                        
                                                        $indicator_output_str = ''; $indicator_output_array = array(); 
                                                        $ind_output_query = "SELECT i.id, i.title, i.refno from indicator i inner join content_logframe c on i.contentid = c.id WHERE i.contentid = '".$oline_output['id']."' order by CAST(i.refno AS SIGNED)";
                                                        $ind_output_result = $conn->fetchAll($ind_output_query); // debugMessage($ind_result);
                                                        
                                                        foreach($ind_output_result as $indicator_output){
                                                            $indicator_output_array[] = $indicator_output['refno'].' &nbsp; '.$indicator_output['title'];
                                                        }
														
														$class = 'ContentFrame';
														$indexurl = $this->baseUrl('programme/addcontent/id/'.encode($oline_output['id']).'/pgc/true/type/'.$type.'/level/3/successurl/'.encode($this->viewurl));
														$deleteurl = $this->baseUrl('index/delete/id/'.encode($oline_output['id'])."/entityname/".$class."/successurl/".encode($this->viewurl));
                                                    ?>
                                                        <tr style="xfont-size:13px;">
                                                            <td></td>
                                                            <td class="nullifempty"><i style="font-weight:normal; font-style:normal;"><?php echo $oline_output['refno']?>  <?php echo nl2br($title); ?></i></td>
                                                            <td class="nullifempty"><?php echo implode('<br>', $indicator_output_array); ?></td>
                                                            <td>
                                                            	<?php if($allowedit || $allowdelete){ ?>
                                                                    <div class="btn-group gridactions" style="z-index:1000;">
                                                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle xnoround" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                                                                        <ul class="dropdown-menu listtype" role="menu">
                                                                            <?php if($allowedit) { ?>
                                                                                <li><a class="btn addpopup" href="<?php echo $indexurl; ?>" rel="Edit Output" title="Edit Output" formtitle="popupform" successurl="<?php echo $this->viewurl; ?>" action="<?php echo $this->baseUrl("programme/processcontent"); ?>">Edit Output</a></li>
                                                                            <?php } ?>
                                                                            <?php if($allowdelete){ ?>
                                                                                <li><a class="deleteline gonowhere" action="<?php echo $deleteurl; ?>" message="<?php echo $this->translate('global_delete_confirm_message'); ?>">Delete</a>
                                                                                </li>
                                                                            <?php } ?>
                                                                        </ul>
                                                                    </div>
																<?php } ?>
                                                            </td>
                                                        </tr>
                                                    <?php } ?>
                                                <?php } ?>
                                            <?php } ?>
                                        <?php } ?>
                                    <?php } ?>
                                </tbody>
                            </table>
                        </div>
                 	</div>
                </div>
            </div>
     	</form>
	</div>
</div>                                
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
