<?php
	include APPLICATION_PATH.'/includes/header.php';
	
	$csp = new ContentCsp(); $csp->populate(1); 
	
	// $program = new Program(); $program->populate(1); debugMessage($program->toArray());
	
	$title = "Results Framework";
	$resource = 'Framework';
	$pagetitle = $csp->getTitle();	
	$baseyear = "FY 16/17 - 20/21";
	
	$tab = $request->tab; $isglobal = false; $isprogram = false; $iscountry = false; $isndp = false; $issdg = false;
	$type = 1;
	if(isEmptyString($tab)){
		$tab = 'programme';
	}
	if($tab == 'programme'){
		$isprogram = true; 
		$type = 1;
	}
	if($tab == 'country'){
		$iscountry = true; 
		$type = 2;
	}
	if($tab == 'global'){
		$isglobal = true;
		$type = 3;
	}
	if($tab == 'ndp'){
		$isndp = true;
		$type = 5;
	}
	if($tab == 'sdg'){
		$issdg = true;
		$type = 6;
	}
	
	$listurl = $this->baseUrl($controller.'/'.$action.'/tab/'.$tab);
	$conn = Doctrine_Manager::connection(); 
	$fyears = getFPYears(); // debugMessage($fyears);
	
	$session->setVar('title', $title);
	$this->headTitle($title.$browserappend);
?>
<script type="text/javascript" src="/assets/js/plugins/custom/orgchart/jquery.orgchart.js"></script>
<link href="/assets/js/plugins/custom/orgchart/jquery.orgchart.css" rel="stylesheet" type="text/css"/>
<script>
$(document).ready(function() {
	$('.page-title').html('<?php echo $title; ?>');
	$('.titlebreadcrumb').html('<?php echo $homedir.$title; ?>');
	
	$('#chartarea > ul:first-child').attr('id', 'ul-data');
	
});
</script>
<?php require_once APPLICATION_PATH.'/views/scripts/index/messages.phtml'; ?>
<div class="row" id="contentarea">
    <div class="col-md-12">
        <form class="form form-horizontal margin0" action="<?php echo $this->baseUrl($controller."/".$action); ?>" method="get" id="listform" orginalaction="<?php echo $this->baseUrl($controller."/".$action); ?>">
            <div class="panel panel-color panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title whitelink lineblocked"><?php echo $pagetitle; ?></h3>
                    <div class="portlet-widgets lineblocked floatright">
                        
                    </div>
                </div>
                <div class="panel-body p-t-10">
                	<?php require_once APPLICATION_PATH.'/views/scripts/programme/tabs.phtml'; ?>
                    <div class="row">
						<div class="divider10"></div>
                    	<div class="col-sm-2 paddingleft0">
                        	<div class="portlet light bordered">
								<div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-12"> <a href="<?php echo $listurl; ?>" style="margin-top:10px; color:#fff;" class="btn btn-block btn-primary">Summary</a> </div>
                                    </div>
                                    <?php 
										$prog_query = "SELECT p.id, p.name as objective, p.code as refno, p.cspid from program p WHERE p.type = '".$type."' AND p.cspid = 1 order by CAST(p.code as signed) ";
										$prog_result = $conn->fetchAll($prog_query);
									?>
                                    <?php foreach($prog_result as $pline){ ?>
                                        <div class="row">
                                            <div class="col-md-11 col-md-offset-1 paddingleft0"> <a href="<?php echo $listurl.'/view/obj/id/'.encode($pline['id']); ?>" rel="tab" style="margin-top:10px" class="font-dark btn btn-block <?php echo $pline['id'] == decode($request->id) ? 'blue whitelink' : 'grey'; ?>" title="Objective <?php echo $pline['refno'].'. '.$pline['objective']; ?>"><?php echo $pline['refno']; ?>. <?php echo snippet($pline['objective'], 12, '...'); ?></a> </div>
                                        </div>
                                        <?php 
											$outcome_query = "SELECT o.id, o.title, o.refno, o.cspid, o.mov, o.assumptions from content_logframe o WHERE o.type = '".$type."' AND o.level = 2 AND o.programid = '".$pline['id']."' AND o.cspid = 1 order by CAST(o.refno as signed)"; // debugMessage($outcome_query);
											$outcome_result = $conn->fetchAll($outcome_query);
										?>
										<?php if(count($outcome_result) > 0){ ?>
                                        	<?php foreach($outcome_result as $oline){ ?>
                                                <div class="row">
                                                  <div class="col-md-10 col-md-offset-2"> <a href="<?php echo $listurl.'/view/outcome/id/'.encode($oline['id']); ?>" rel="tab" style="margin-top:10px" class="font-dark btn btn-block <?php echo $oline['id'] == decode($request->id) ? 'blue whitelink' : 'grey-salt'; ?>" title="Outcome <?php echo $oline['refno']; ?>. <?php echo $oline['title']; ?>">Outcome <?php echo $oline['refno']; ?>.</a> </div>
                                                </div>
                                         	<?php } ?>
                                        <?php } ?>    
                                    <?php } ?>
                          		</div>
                         	</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="box-content nopadding clearfix" id="chartarea" style="height:500px; overflow:scroll;">
                                <div class="tree" style="width:<?php echo $issdg ? '6000px;' : '2000px;'; ?>">
                                     <ul>
                                        <li style="margin-left:auto; margin-right:auto">
                                        	<?php if($request->view == 'outcome'){ 
												$outcome = new ContentFrame();
												$outcome->populate(decode($request->id));
											?>
                                            	<a class="gonowhere">Outcome <?php echo $outcome->getRefno(); ?></b><br><?php echo $outcome->getTitle(); ?></a>
                                                <ul>
                                                	<?php 
														$output_query = "SELECT o.id, o.title, o.refno, o.cspid, o.mov, o.assumptions from content_logframe o WHERE o.type = '".$type."' AND o.level = 3 AND o.parentid = '".$outcome->getid()."' AND o.cspid = 1 order by CAST(o.refno as signed) "; // debugMessage($output_query);
														$output_result = $conn->fetchAll($output_query);
													?>
                                                	<?php if(count($output_result) > 0){ ?>
                                                    	<?php foreach($output_result as $oline_output){ ?>
                                                            <li>
                                                                <a class="strat font-white"><b>Output <?php echo $oline_output['refno']; ?>.</b><br><?php echo preg_replace( '/[^[:print:]]/', '',$oline_output['title']); ?></a>
                                                                
                                                            </li>
                                                        <?php } ?>
                                                    <?php } ?>
                                                </ul>
                                            <?php } ?>
											<?php if($request->view == 'obj'){ 
												$program = new Program();
												$program->populate(decode($request->id));
											?>
                                            	<a class="gonowhere">Objective <?php echo $program->getCode(); ?></b><br><span style="font-size:14px; font-weight:bold;"><?php echo $program->getName(); ?></span></a>
                                                <ul>
                                                	<?php 
														$outcome_query = "SELECT o.id, o.title, o.refno, o.cspid, o.mov, o.assumptions from content_logframe o WHERE o.type = '".$type."' AND o.level = 2 AND o.programid = '".$program->getID()."' AND o.cspid = 1 order by CAST(o.refno as signed) "; // debugMessage($outcome_query);
														$outcome_result = $conn->fetchAll($outcome_query);
													?>
                                                    <?php foreach($outcome_result as $oline){ ?>
                                                        <li>
                                                            <a class="strat font-white"><b>Outcome <?php echo $oline['refno']; ?>.</b><br><?php echo preg_replace( '/[^[:print:]]/', '',$oline['title']); ?></a>
                                                            <ul>
                                                            	<?php 
																	$output_query = "SELECT o.id, o.title, o.refno, o.cspid, o.mov, o.assumptions from content_logframe o WHERE o.type = '".$type."' AND o.level = 3 AND o.parentid = '".$oline['id']."' AND o.cspid = 1 order by CAST(o.refno as signed) "; // debugMessage($output_query);
																	$output_result = $conn->fetchAll($output_query);
																?>
                                                                <?php if(count($output_result) > 0){ ?>
                                                                    <li>
                                                                    	<?php 
                                                                            $count = 0;
                                                                            foreach($output_result as $oline_output){
                                                                        ?>
                                                                        	<a href="#" class="outcome  font-white"><b>Output <?php echo $oline_output['refno']; ?>.</b><br><?php echo preg_replace( '/[^[:print:]]/', '',$oline_output['title']); ?></a>
                                                                            <?php if($count < count($output_result)){ ?>
                                                                                <ul><li>
                                                                            <?php } ?>
                                                                        <?php $count++; } ?>
                                                                        <?php for($i = 0; $i < count($output_result); $i++){ ?>
                                                                            </li></ul>
                                                                        <?php } ?>
                                                                    </li>
                                                               	<?php } ?>
                                                            </ul>
                                                        </li>
                                                   	<?php } ?>
                                                </ul>
                                            <?php } ?>
                                        	<?php if(isEmptyString($request->view)){ ?>
                                                <a class="gonowhere"><span style="font-size:14px; font-weight:bold;"><?php echo getStrategyLevels($type); ?></span></a>
                                                <ul>
                                                    <?php 
                                                        $prog_query = "SELECT p.id, p.name as objective, p.code as refno, p.cspid from program p WHERE p.type = '".$type."' AND p.cspid = 1 order by CAST(p.code as signed) ";
                                                        $prog_result = $conn->fetchAll($prog_query);
                                                    ?>
                                                    <?php foreach($prog_result as $pline){ ?>
                                                        <li>
                                                            <a class="strat font-white"><b>Objective <?php echo $pline['refno']; ?></b><br><span style="font-size:14px; font-weight:bold;"><?php echo $pline['objective']?></span></a>
                                                            <ul>
                                                                <?php 
                                                                    $outcome_query = "SELECT o.id, o.title, o.refno, o.cspid, o.mov, o.assumptions from content_logframe o WHERE o.type = '".$type."' AND o.level = 2 AND o.programid = '".$pline['id']."' AND o.cspid = 1 order by CAST(o.refno as signed)"; // debugMessage($outcome_query);
                                                                    $outcome_result = $conn->fetchAll($outcome_query);
                                                                ?>
                                                                <?php if(count($outcome_result) > 0){ ?>
                                                                    <li>
                                                                        <?php 
                                                                            $count = 0;
                                                                            foreach($outcome_result as $oline){
                                                                        ?>
                                                                            <a href="#" class="gonowhere outcome  font-white"><b>Outcome <?php echo $oline['refno']; ?>.</b><br><?php echo preg_replace( '/[^[:print:]]/', '',$oline['title']); ?></a>
                                                                            <?php if($count < count($outcome_result)){ ?>
                                                                                <ul><li>
                                                                            <?php } ?>
                                                                        <?php $count++; } ?>
                                                                        <?php for($i = 0; $i < count($outcome_result); $i++){ ?>
                                                                            </li></ul>
                                                                        <?php } ?>
                                                                    </li>
                                                                <?php } ?>
                                                            </ul>
                                                        </li>
                                                    <?php } ?>
                                                </ul>
                                          	<?php } ?>
                                		</li>
                                 	</ul> 
                                </div>
                                <!--<div id="chart-container"></div>-->
                            </div>
                      	</div>
                 	</div>
                </div>
            </div>
     	</form>
	</div>
</div>                                
<?php
	require_once APPLICATION_PATH.'/includes/footer.php';
?>
