<style>
.nav.nav-tabs > li > a {
    padding: 10px 10px;
	font-size:13px;
}
</style>
<ul class="nav nav-tabs" style="margin-left: -10px;">
    <li class="<?php echo $isprogram ? 'active' : ''; ?>">
        <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/tab/programme'); ?>"><span class="xvisible-xs"><i class="fa fa-user-md"></i></span><span class="hidden-xs"> &nbsp; CS Results Framework</span>
        </a>
    </li>
    <?php if($acl->checkPermission($resource, 'vieworgframework')){ ?>
        <li class="<?php echo $iscountry ? 'active' : ''; ?>">
            <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/tab/country'); ?>"><span class="xvisible-xs"><i class="fa fa-briefcase"></i></span><span class="hidden-xs"> &nbsp; Organization Results Framework</span>
            </a>
        </li>
    <?php } ?>
    <?php if($acl->checkPermission($resource, 'viewglobal')){ ?>
        <li class="<?php echo $isglobal ? 'active' : ''; ?>">
            <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/tab/global'); ?>"><span class="xvisible-xs"><i class="fa fa-globe"></i></span><span class="hidden-xs"> &nbsp; Global Results Framework</span></a>
        </li>
    <?php } ?>
    <?php if($acl->checkPermission($resource, 'viewndp2')){ ?>
        <li class="<?php echo $isndp ? 'active' : ''; ?>">
            <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/tab/ndp'); ?>"><span class="xvisible-xs"><i class="fa fa-sitemap"></i></span><span class="hidden-xs"> &nbsp; NDP 2 Results Framework</span></a>
        </li>
    <?php } ?>
    <?php if($acl->checkPermission($resource, 'viewsdgs')){ ?>
        <li class="<?php echo $issdg ? 'active' : ''; ?>">
            <a href="<?php echo $this->baseUrl($controller.'/'.$action.'/tab/sdg'); ?>"><span class="xvisible-xs"><i class="fa fa-globe"></i></span><span class="hidden-xs"> &nbsp; SDGs Results Framework</span></a>
        </li>
    <?php } ?>
    <input type="hidden" name="tab" id="tab" value="<?php echo $tab; ?>" />
</ul>